
<div class="push4slideMenu pageMinHeight" id="scrollToTop">
  <div class="container-fluid pushFixedHeaderFooter">
    <div class="headerPush"></div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <app-sponsor-hierarchy-list></app-sponsor-hierarchy-list>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-12">
        <app-Sponsor-hierarchy-treeview></app-Sponsor-hierarchy-treeview>
      </div>
    </div>
    <div class="footerPush"></div>
  </div>
</div>