.pi-info-text {
    min-height: 111px;
    background-color: #F3F3F3;
    color: #41464B;
}

.pi-quick-links {
    background-color: #FFFFF1;
    min-height: 111px;
    color: #007DEC;
}

.message-high-severity {
    background-color: #FFD9D9;
    color: #680000;
}

.message-low-severity {
    background-color: #CFF4FC;
    color: #272735;
}

.navigation {
    min-height: 48px;

    .col {
        min-height: 48px;
    }
}

div .active {
    background-color: #ECD9FF !important;
    color: #6E2BB0 !important;
    border-bottom: 1px solid #6E2BB0;
}

.hoverable {
    &:hover {
        background-color: #ECD9FF !important;
        color: #6E2BB0 !important;
    }
}

.nav-tip-active {
    position: absolute;
    top: 44px;
}
