
.unit-tree-blocks {
	width: 100% !important;
	border-radius: 5px;
	margin-bottom: 5px;
	background: #f3f0f0;
	padding-right: 5px;
}

.u-down-arrow {
	font-size: 13px !important;
	cursor: pointer;
	color: #7a7a7a;
	padding-left: 5px;
	padding-right: 20px;
	margin-right: -13px;
}

.u-left-arrow {
	font-size: 13px !important;
	cursor: pointer;
	color: #7a7a7a;
	padding-left: 5px;
	padding-right: 20px;
	margin-right: -13px;
}

.u-icons .icon {
	border-radius: 50%;
	color: #7a7a7a;
	text-align: center;
	line-height: 10px;
	font-size: 14px;
	cursor: pointer;
	opacity: 1;
	margin-right: 3px;
}
.u-action-icon
{
	padding-left: 5px;
    padding-right: 5px;
}
.u-icons .icon:hover {
	color: #26a69a;
}

.unit-no {
	font-size: 13px;
	padding-left:5px;
	padding-right:5px;
}

#scrollUpBtn {
    display: none;
    position: sticky;
    bottom: 20px;
    left: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:  #555;
    color: white;
    cursor: pointer;
    padding: 19px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  #scrollUpBtn:hover {
    background-color: #555;
  }
 .top-arrow{
    position: relative;
    right: 7px;
    bottom: 12px;
    font-weight: bold;
    font-size: 23px;
  }

.uh-ml {
	margin-left: 3px;
}

.action-bar {
	padding-right: 0;
	display: inline-block;
	margin-left:10px;
}

.ui-tree {
	margin: 0;
	padding: 0;
	list-style: none;
  }

  .ui-tree ul:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: -1px;
	border-left: 1px dotted rgba(0, 0, 0, 0.3);
  }

  .ui-tree ul li:before {
	content: "";
	position: absolute;
	top: 1em;
	left: 0;
	width: 1em;
	height: 1px;
	border-top: 1px dotted rgba(0, 0, 0, 0.3);
  }

  .ui-tree ul li:last-child:before {
	background-color: white;
	height: auto;
	top: 1em;
	left: -1px;
	bottom: 0;
  }

  .u-action-icon.dropdown-toggle::after
  {
	  border:none!important;
  }

  .dropdown-icons i
  {
	margin-right: 5px;
	font-size: 14px;
  }

  .dropdown-icons a
  {
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
  }

  .dropdown-icons a:hover
  {
	color: #26a69a;
  }

  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #fff !important;
}

.highlight-node{
	background-color: #ccd8ed;
	color:#343333;
	cursor: pointer;
}

.resized-textbox {
	height: 20px;
	width: 55rem;
}

#drop-container {
    max-height: 260px;
    overflow: auto;
    height: auto;
}

input[type="checkbox"] {
    margin-top: 8px;
    margin-right: 10px;
}

.dropdown-menu {
    transform: translate3d(-72px, 19px, 0px) !important;
}

.highlight-error-node{
	background: #f5a1a180;
}
  