.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(74 74 74 / 32%);
    z-index: 50;
}

.info-card {
    background: #f3f3f3;
    padding: 9px;
    border-radius: 6px;
    border: 1px solid #e4e4e4;
}

.btn-outline-secondary {
    font-size: 1.4rem;
    min-width: 5em;
    padding: .5rem 1rem;
    height: 35px;
}

.select-default {
    width: 500px;
}

.outer-card {
    box-shadow: 0 0px 8px rgba(53, 49, 80, 0.2);
}

.comment-card {
    border: 1px solid #e4e4e4;
}

.main-title {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 15px;
}

.history-border {
    box-shadow: 0px 0px 3px #00000029;
}

.time-line::before {
    content: '';
    position: absolute;
    height: 100%;
    border-left: 1.25px dashed #748e9c;
    left: 72px;
}

.time-line {
    max-width: 98%;
}

.relative-position {
    position: relative;
    left: -123px;
}

.person-card {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 0px 0px 20px 20px;
}

.person-icon {
    font-size: 21px;
}

.bg-success {
    background-color: #6cc973;
}

.scrollable-table {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    overscroll-behavior: contain;
}

.scrollable-table thead {
    position: sticky !important;
    top: 0;
    z-index: 1;
}

::-webkit-scrollbar {
    width: .4em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

.disable-scroll {
    overflow-y: hidden !important;
}

.activity-icon {
    width: 1.5rem;
    margin-right: 7px;
}

.grey-text {
    color: #6A7980;
    font-size: 0.875rem;
}

.badge-width {
    width: 135px;
    padding: 5px;
}

.comment-box-height {
    padding-left: 50px;
}

.slider-base {
    position: fixed;
    z-index: 51;
    top: 0;
    right: -83%;
    width: 80%;
    height: 100%;
    padding-left: 0;
    background-color: #ffecec85;
    box-shadow: -1px 0px 6px 1px rgba(0, 0, 0, 0.12);
    transition: right 600ms cubic-bezier(.42, .8, .67, 1.06);
}

.slider-opened {
    right: 0 !important;
}

.slider-container {
    background-color: #fff;
    height: 100vh;
    padding: 0px 10px 10px 10px;
    overflow-y: scroll;
}

.info-icon {
    top: 17px;
    height: 22px;
    width: 22px;
    font-size: 1rem;
    position: absolute;
    margin-left: 0px;
    color: #6f7395;
    cursor: pointer;
}

.grey-info {
    background: #EEEEEE;
    color: #202c2e;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #caced2;
}

.custom-stickytop{
    top: -16px;
}

.left-spacing {
    padding-left: 2rem;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 30px;
        top: 56%;
        left: -8px;
        right: 89%;
        border-top: 1px solid #828485;
        transform: translate(30%, -50%);
    }

    &:after {
        content: "";
        position: absolute;
        width: 22px;
        top: 14%;
        left: -10px;
        right: 89%;
        border-top: 1px solid #828485;
        transform: translate(30%, -50%);
        transform: rotate(90deg);
    }
}
