.media .media-body h6 {
    font-size: 1.6rem
}

.media .media-body p {
    font-size: 1.3rem
}

.ger-blue {
    color: #0F6E92;
}

.gre-green {
    color: #00AA9A;
}

.green {
    color: #00B26B;
}

.lgt-green {
    color: #00C374;
}

.gre-yellow {
    color: #B2B85C;
}

.lgt-blue {
    color: #0098AA;
}

.lgt-yellow {
    color: #B5BC65;
}

.gr-grey {
    color: #7C7C7C;
    font-size: 1.3rem;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: center
}

.media-body {
    -ms-flex: 1;
    flex: 1
}

.pull-up {
    padding: 0 1rem !important;
    transition: all .25s ease;
}

.pull-up:hover {
    box-shadow: 0 14px 24px #3e396b33;
    transform: translateY(-4px);
}

.card-top-outer {
    padding: 1.5rem;
    margin-top: 2rem;
}

.card-top-body {
    padding: 1rem .7rem;
}

.line-space {
    margin-bottom: 0;
}

.cards-icon1 {
    height: 40px;
    text-align: center;
    font-size: 2.6rem;
}

.w-41 {
    width: 4.1rem;
}
