<div class="push4slideMenu pageMinHeight" id="scrollToTop">
  <div class="container-fluid pushFixedHeaderFooter">
    <div class="headerPush"></div>
    <div class=" px-4 mb-2 p-2" *ngIf="isAgreementNeeded">
      <app-view-questionnaire-list [configuration]="configuration" (QuestionnaireSaveEvent)="getSaveEvent($event)"
      [isShowSave]=true  [questionnaireHeader] = '"Screening Questionnaire"' [isShowBackButton] = true [isShowQuestionnaireDock]="false">
      </app-view-questionnaire-list>
    </div>
    <div class="no-data-container align flex-column justify-content-center align-items-center"
      *ngIf="!isAgreementNeeded">
      <span class="no-data-icon-outer">
        <div class="no-data-icon">
          <i class="fa fa-file-o" aria-hidden="true"></i>
          <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        </div>
      </span>
      <h4 class="ng-tns-c13-3 f-18">No agreement needed !</h4>
      <div class="display-inline-grid mt-3">
        <a class="anchor-link mr-3" title="Back to Screening Questionnire" (click)="isAgreementNeeded = true">
          Back to Questionnaire
        </a>
        <a class="anchor-link" title="Back to Agreement List" (click)="backToAgreementList()">
          Back to List
        </a>
      </div>
    </div>

    <div>
    </div>
    <div class="footerPush"></div>
  </div>
</div>