.noDataExists {
    color: #48647f;
    font-size: 1.28rem;
    font-weight: 500;
}

.dataExists {
    color: #48647f;
    font-size: 1.28rem;
    font-weight: 500;
}

.labelStyle {
    font-size: 0.875rem;
    margin-bottom: 0;
    color: #333;
    font-weight: 600;
}
