.disclosure-card-heading-blue {
    background-color: #e8fffd;
}

.disclosure-card-body-blue {
    background-color: #f0fffe !important;
}

.disclosure-card-heading-green {
    background-color: #e7f9e8;
}

.disclosure-card-body-green {
    background-color: #f0fff1;
}

.disclosure-active-pill {
    padding: 3px 12px;
    border-radius: 15px;
    font-weight: 500;
}

.span-data-color {
    color: #728b9e;
}

.navigation-icons {
    .active {
        border-bottom: 2px solid #007DEC;
        color: #007dec;
    }
}

.advance-search-area {
    min-height: 45px;
    display: flex;
    align-items: center;

    input {
        background-color: #f5f5f5;
    }

    label {
        position: absolute;
        color: #747474;
        display: flex;
        align-items: center;
    }

    span:not(:first-child) {
        padding: 6px 20px !important;
    }
}

.chin {
    min-height: 46px;
    margin-left: 20px;
}

.advance-search-input {
    width: 100%;
    height: 43px;
}

.user-dashboard-nav {
    min-height: 42px;

    &:before {
        height: 125% !important;
    }
}

.mb-4px {
    margin-bottom: 4px;
}

.light-dark-text-color {
    color: #6a7980;
}

.badge {
    font-family: "Roboto", sans-serif;
}

.bg-success {
    background-color: #4cb57d !important;
}

// h4 {
//   color: #151515;
//   font-size: 1.5rem;
//   font-weight: 700;
// }

.cursor {
    cursor: context-menu !important;
}

margin-top-3px {
    margin-top: 3px;
}

.label-text {
    font-weight: 600;
    color: #697a80;
    font-size: 14px;
}

.grey-text {
    font-size: 0.875rem;
    color: #48647f;
    font-weight: 400;
    margin-left: 5px;
}

.update-details {
    padding-left: 9px;
}

.mr-7 {
    margin-right: 7px;
}

.mr-21 {
    margin-right: 21px;
}

.col-custom-travel {
    width: max-content;
}

.searchButton {
    left: 10px;
    position: absolute;
    top: 10px;
    color: #9E9E9E;
    cursor: pointer;
}

.closeButton {
    position: absolute;
    right: 10px;
    color: #48647f;
    cursor: pointer;
}

.pl-28 {
    padding-left: 28px;
}

.search-area:hover {
    background-color: white !important;
}

.title-text {
    font-weight: 400;
    color: #48647f;
    font-size: 0.875rem;
}

.readMore {
    color: #41464B;
    text-decoration: underline;
    font-size: 0.875rem;
    cursor: pointer;
}

.award-icon {
    width: 18px;
    color: grey;
    height: 18px;
}

.p-013 {
    padding-left: 1.3rem;
    padding-right: 1rem;
}

.entity-icon {
    width: 21px;
    margin-right: -1px;
    color: grey;
    height: 24px;
}

.proposal-icon {
    width: 16px;
    color: grey;
    height: 17px;
}

.peron-icon {
    width: 14px;
    margin-right: 3px;
    color: grey;
    height: 14px;
}

.pi-info-text {
    background-color: #F3F3F3;
    color: #41464B;
}

.create-buttons {
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    height: 350px;
    font-weight: 500;
    font-size: 0.9375rem;
}

.info-icon {
    top: 7px;
    height: 22px;
    width: 22px;
    font-size: 1rem;
    position: absolute;
    margin-left: 2px;
    color: #6f7395;
    cursor: pointer;
}

.info-text {
    margin-bottom: 5px;
    margin-left: 27px;
}

.create-card {
    height: 350px;
}

.pos {

    display: flex;
    align-items: center;
    justify-content: center;

}

.alignment {
    display: flex;
    align-items: center;
    justify-content: end;
}

.p19 {
    padding-right: 19px;
}

.p17 {
    padding-right: 17px;

}

.p-4 {
    padding-right: 4px;
}

.disclosure-master-header-bg {
    background-color: #E7F9E8;
    border-bottom: 1px solid #c1d9c2;
    height: 49px;
}

.disclosure-master-body-bg {
    background-color: #F0FFF1;
}

.disclosure-master-footer-bg {
    background-color: #f7f7f7;
    border-top: 1px solid #c1d9c2;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-button {
    text-decoration: none;
    color: #8c97a9;
}

.p-26 {
    padding-right: 26px;
}

.pl {
    padding-left: 2px;
}

.card-footer-pending-fcoi {
    border-top: 1px solid #00000017;
    height: 55px;
}

.min-card-height {
    min-height: 94px;
}

.sort-div {
    background-color: #eeeeee;
    padding: 9px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 10px;
}

.filter-active {
    border: 2px solid #54BF5B !important;
    background: #F5FEF5 !important;
}

@media (max-width: 1201px) {
    .sort-div button {
        padding-top: 3px;
    }
}

@media (max-width: 1500px) {
    .min-card-height {
        min-height: 135px;
    }
}

@media (max-width: 1025px) {
    .min-card-height {
        min-height: 170px;
    }
}

.ml-25 {
    margin-left: 25px !important;
}

.grey-text {
    margin-left: 0px !important;
}

@media (max-width: 1025px) {
    .min-card-height {
        min-height: 170px;
    }
}

/* For showing the word disclosure as (discl). for page responsive time*/
.disclosure-text,
.disclosures-text {
    padding-left: 2px;
}

.disclosure-text:after {
    content: "Disclosure";
}

@media (max-width: 1201px) {
    .disclosure-text:after {
        content: "Discl.";
    }
}

.disclosures-text:after {
    content: "Disclosures";
}

@media (max-width: 1201px) {
    .disclosures-text:after {
        content: "Discl.";
    }
}

/* Adjust the height of view button (only for this dashboard)*/
.height-fit-content {
    height: fit-content !important;
}

/* Responsive page: For breaking labels and values at breakpoint(1560) in FCOI and OPA creation cards */
@media (max-width: 1560px) {
    .break-point-1560 {
        padding: 0 !important;
        margin: 0 !important;
        display: block !important;
    }
}

.searchButton:hover {
    color: #0a58ca !important;
}

.nav-filter-card-sticky {
    position: sticky;
    top: 50px;
    z-index: 2;
    background-color: #f1f1f1;
}

.overflow-hide-nav {
    position: relative;
    border: 0px;

    &:before {
        content: "";
        position: absolute;
        background: #f1f1f1;
        ;
        left: -10px;
        height: 101%;
        width: 10px;
        top: 0px;
    }
}

@media (min-width:1200px) {
    .overflow-hide-nav {
        &:before {
            height: 102%;
        }
    }
}

.coi-card-regular {
    .card-body {
        padding-bottom: 0 !important;
    }
}
