<table class="tableStyle" *ngIf="(awardBudgetRevenueData.length > 0); else noData">
  <caption class="sr-only">Revenue Details</caption>
  <thead>
    <tr class="th-seperation">
      <th scope="col" style="width: 14%">Budget Category</th>
      <th scope="col" style="width: 14%">Budget Line Item</th>
      <th scope="col" style="width: 5%"><ng-container i18n="@@AWARD_WBS_NUMBER_FOR_OFIN_USE">WBS Number (for OFIN use)</ng-container></th>
      <th scope="col" style="width: 4%">Revenue Amount</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let revenue of awardBudgetRevenueData; let i = index">
      <tr class="border-seperate-bottom-0 ng-tns-c39-9 ng-star-inserted">
        <td style="width: 14%" class="bt-ctset">{{revenue?.budgetCategory}}</td>
        <td style="width: 14%" class="bt-ctset">{{revenue?.costElement}}</td>
        <td style="width: 5%" class="bt-ctset">{{revenue?.internalOrderCode}}</td>
        <td style="width: 9%" class="bt-ctset text-right">
          <a *ngIf="revenue?.internalOrderCode || !revenue?.budgetCategoryCode" class="text-primary hand-cursor"
            title="click here to view actual revenue details of {{revenue?.budgetCategoryCode}}"
            (click)="activeIndex = i;setContent(i)" [routerLink]="['/fibi/award/budget-expense/revenue-amount']"
            queryParamsHandling='merge' class="subTabLink" tabindex="0">
            {{revenue?.totalRevenueAmount ? (revenue?.totalRevenueAmount | customCurrency) : 0 | customCurrency}}</a>
        </td>
      </tr>
    </ng-container>
  </tbody>
  <tfoot>
    <tr>
      <td style="width: 14%"></td>
      <td style="width: 5%"></td>
      <td style="width: 14%" class="text-right">TOTAL</td>
      <td class="text-right" style="width: 9%">
        <a>{{lastRevenueData?.totalAmount ? (lastRevenueData?.totalAmount | customCurrency) : 0 | customCurrency}}</a>
      </td>
    </tr>
  </tfoot>
</table>
<ng-template #noData>
  <div class="no-data-container">
    <span class="no-data-icon-outer">
      <div class="no-data-icon">
        <i class="fa fa-file-o" aria-hidden="true"></i>
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
      </div>
    </span>
    <h4>There is no information in this section.</h4>
  </div>
</ng-template>