.ck-editor__editable {
    min-height: 100px;
    max-height: 280px;
    overflow-y: auto;
}

::ng-deep .ck.ck-balloon-panel {
    z-index: 1060 !important;
}

::ng-deep .ck.ck-editor__editable_inline {
    border: 1px solid #d3d1d1 !important;
    background-color: #fff;
    min-height: 100px;
    max-height: 280px;
    overflow-y: auto
}

.recipient-file-chips span {
    display: inline-block;
    padding: 3px 8px 3px 3px;
    border-radius: 15px;
    margin-right: 5px;
    margin-top: 7px;
    font-size: 1.2rem;
}

.bg-recipient-user-filechips {
    color: #fff;
    background: #9D6589 !important;
    mat-icon {
        color: #fff;
    }
}

.main-navs {
    position: sticky;
    background: white;
    border-top-left-radius: 7px;
    z-index: 12;
    border-top-right-radius: 7px;
    top: -17px;
}
