.comment-text-box
{
    height: 66px;
}
.tooltip-right{
    position: absolute;
    right: 25px;
}
.tooltip .tooltiptext-right{
    top: 5px !important;
}
.subTabs li:nth-last-child(1)::before {
    border: none !important;
}
.form-row > div {
    margin-bottom: 1.4rem;
}
.comment-inner-body {
    background-color: #f1f1f1;
    padding: 8px 17px;
    margin-top: 4px;
    border-radius: 5px;
}
.comment-icon {
    opacity: .4;
    font-size: 11px;
}
  
.comment-message {
    display: flex;
    flex-flow: row nowrap;
}
.comment-message-body {
    flex: 1;
}

.comment-inner-head {
    display: flex;
    justify-content: space-between;
}
