.history-tl-container {
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
    /* box-shadow: 0px 0px 1px 0;
    border-radius: 5px; */
}

.history-tl-container ul.tl {
    margin: 20px 0;
    padding: 0;
}

.history-tl-container ul.tl li {
    list-style: none;
    margin: auto;
    min-height: 50px;
    border-left: 1px dashed #86D6FF;
    padding: 0 0 5px 30px;
    position: relative;
}

.history-tl-container ul.tl li:last-child {
    border-left: 0;
}

.history-tl-container ul.tl li::before {
    position: absolute;
    left: -10px;
    top: 0px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}


.history-tl-container ul.tl li.no-hover-effect:hover::before {
    border: 8px solid rgba(255, 255, 255, 0.74);
    background: #95a6af;
}

.history-tl-container ul.tl li.no-hover-effect::before {
    border: 8px solid rgba(255, 255, 255, 0.74);
    background: #95a6af;
}

.history-tl-container ul.tl li:hover::before {
    border-color: #258CC7;
    transition: all 500ms ease-in-out;
    opacity: 0.5;
}

.history-tl-container ul.tl li:hover {
    /* color: #3b80f4; */
    opacity: 0.63;
    font-size: 1.6rem;
}

.history-tl-container ul.tl .highlight::before {
    border-color: #258CC7;
    transition: all 1000ms ease-in-out;
}

.history-tl-container ul.tl .highlight {
    color: #3b80f4;
    font-size: 1.6rem;
}

.history-tl-container ul.tl .highlight:hover,
.history-tl-container ul.tl .highlight:hover::before {
    opacity: 1;
}

ul.tl li .item-detail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

ul.tl li .timestamp {
    color: #8D8D8D;
    position: absolute;
    width: 100px;
    left: -50%;
    text-align: right;
    font-size: 12px;
}

.inner-scroll {
    max-height: 53vh;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 49vh;
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

ul.tl li .timestamp {
    color: #8D8D8D;
    position: absolute;
    width: 100px;
    left: -50%;
    text-align: right;
    font-size: 12px;
}

.nav-style {
    background: #367af3;
    padding: 5px;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.26);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
}

.nav-style:hover {
    background: #1664eb;
}

.tool-kit {
    width: 145px;
    height: auto;
    position: fixed;
    right: 1px;
    z-index: 9;
    top: 46vh;
}

.close-btn {
    color: #a92034;
    font-size: 1.5rem;
    padding: 0;
    background: none;
    right: 5px !important;
    top: -10px !important;
}

.history-tl ul.tl li {
    list-style: none;
    margin: auto;
    min-height: 50px;
    padding: 0 0 5px 30px;
    position: relative;
}

.history-tl {
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
    /* box-shadow: 0px 0px 1px 0;
    border-radius: 5px; */
}
