textarea{
    height: 89px;
}
.external-link{
    color: #007bff;
    font-weight: 500;
}
.hover-effect:hover{
    background-color: #eef4f9;
    color: #8084bd !important;
    border-radius: 3px;
}
.preview-outer
{
    border: dotted .2rem #bebebe;
    background: #eef0f5;
    position: relative;
}
.no-preview-icon i
{
    font-size: 4rem;
    color: #f5f5ff;
    background: #cbcadc;
    padding: 15px;
    border-radius: 5px;
}
.no-preview-icon
{
    font-weight: 600;
    color: #514f69;
}
.preview-icon i
{
    font-size: 4rem;
    color: #f5f5ff;
    background: #cbcadc;
    padding: 15px;
    border-radius: 5px;
}
.preview-content .p-file-name
{
    color: #017dff;
}
.preview-content .p-template
{
    font-weight: 600;
}
.preview-content .p-creator
{
    font-size: 1.2rem;
    color:#716f8c;
}
.preview-actions
{
    position: absolute;
    top: 8px;
    right: 8px;
}

.preview-download i:hover, .preview-actions .p-delete:hover
{
    color: #087ef7 !important;
}
.preview-actions i
{
    color: #0460c2;
    width: 25px;
    height: 25px;
    background: #cfdeed;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}
.p-creator
{
    position: absolute;
    bottom: 4px;
    right: 8px;
}
.version{
    font-size: 1.4rem;
    font-weight: 600;
    color: #017dff;
    text-align: right;
    display: block;
}