.updown-arrow-clause {
    color: #48647f;
    position: absolute;
    right: 45px;
    top: 5px;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline: none !important;
    font-size: 1.36rem !important;
    height: 32px;
    width: 32px;
}
.updown-arrow-clause:hover{
    color: #23313e;
    background-color: rgba(44,119,244,.1);
    border-radius: 50%;
    outline: none;
}

.right-big {
    right: 80px !important;
}