.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0); /* Black background with opacity */
  z-index: 1003; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
  .highlight{
    background: #e0eaff;
}
.sb-results-dropdown-menu li
{
  display: flex;
  height: auto;
}
ul.sb-results-dropdown-menu > li {
  position: relative;
  border-bottom: 1px dotted #ccc;
  /* height: 47px; */
  padding: 10px;
  list-style: none;
}
ul.sb-results-dropdown-menu > li:hover, ul.sb-results-dropdown-menu > li:focus, ul.sb-results-dropdown-menu > li:focus-within {
  background: #e0eaff;
}

.sb-seachresults {
  z-index: 1004;
}
