.foreign-icon {
    margin-right: 5px;
    transform: rotate(-30deg);
    background-color: var(--theme-white);
    color: var(--theme-blue);
    width: 14px;
    height: 14px;
}

.flag-badge {
    display: inline-flex;
    align-items: center;
    background-color: var(--theme-blue);
    color: var(--theme-white);
    font-size: 12px;
    font-weight: 500;
    position: relative;
    border-radius: 6px 5px 5px 6px;
    margin-left: 12px;
    height: 22px;
}

.flag-badge::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 11px;
    transform: translateY(-50%);
    background: var(--theme-blue);
    width: 14px;
    height: 20px;
    clip-path: polygon(0% 50%, 55% 0%, 55% 100%);
    border-radius: 3px; 
}
