<div *ngIf="viewMode !== 'NONE'" class="w-100 h-100 overflow-hidden">
    <!-- lib-skeleton -->
    <ng-container *ngIf="viewMode === 'LOADER'">
        <div tabindex="-1" id="lib-skeleton-loader-{{uniqueId}}" class="lib-skeleton" aria-label="loading" [@heightAnimationOnLeave]>
            <div *ngIf="loaderType === 'card'" class="lib-skeleton-card card" aria-hidden="true">
                <div class="card-body">
                    <div class="lib-skeleton-title w-75 lib-skeleton-mb-3"></div>
                    <div class="lib-skeleton-text w-100 lib-skeleton-mb-2"></div>
                    <div class="lib-skeleton-text w-50"></div>
                </div>
            </div>

            <div *ngIf="loaderType === 'profile-card'" class="lib-skeleton-profile-card d-flex align-items-center" aria-hidden="true">
                <div class="lib-skeleton-circle lib-skeleton-animate-shimmer skeleton-me-3"></div>
                <div class="w-100">
                    <div class="lib-skeleton-line w-75 lib-skeleton-mb-2"></div>
                    <div class="lib-skeleton-line w-50"></div>
                </div>
            </div>

            <div *ngIf="loaderType === 'CIRCLE'" class="lib-skeleton-circle lib-skeleton-animate-shimmer" aria-hidden="true"></div>
            <div *ngIf="loaderType === 'RECTANGLE'" class="lib-skeleton-rectangle lib-skeleton-animate-shimmer" aria-hidden="true"></div>
            <div *ngIf="loaderType === 'SQUARE'" class="lib-skeleton-square lib-skeleton-animate-shimmer" aria-hidden="true"></div>

            <div *ngIf="loaderType.rows && loaderType.columns" class="lib-skeleton-table" aria-hidden="true">
                <table class="table border" id="coi-relationship-summary-table">
                    <thead>
                        <tr class="table-light border-bottom" id="coi-relationship-summary-table-thead">
                            <th *ngFor="let cell of columnArray; let i = index; let last = last"
                                class="lib-skeleton-px-3 border-0 border-end" [class.border-end-0]="last" scope="col" >
                                <div class="lib-skeleton-header-cell lib-skeleton-animate-shimmer w-100"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr *ngFor="let row of rowArray">
                            <td *ngFor="let cell of columnArray; let i = index; let last = last"
                                class="lib-skeleton-px-3 border-0 border-end" [class.border-end-0]="last">
                                <div class="lib-skeleton-cell lib-skeleton-animate-shimmer w-100"></div>
                                <div class="lib-skeleton-cell lib-skeleton-animate-shimmer w-75 lib-skeleton-mt-2"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>

    <!-- Retry btn -->
    <ng-container *ngIf="viewMode === 'RETRY'">
        <div class="d-flex align-items-center justify-content-center w-100 h-100 lib-retry-container rounded">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <span class="d-flex align-items-center justify-content-center lib-retry-icon-container rounded-circle">
                    <mat-icon aria-hidden="true" class="lib-retry-icon">folder_off</mat-icon>
                </span>
                <p class="fs-16 fw-500 lib-skeleton-mb-0 lib-skeleton-pt-3 lib-skeleton-pb-2">Something went wrong! Please try again.</p>
                <button class="btn btn-primary d-flex justify-content-center align-items-center lib-skeleton-px-4 rounded-3 fs-14"
                    (click)="retry()" id="coi-custom-retry-btn-{{uniqueId}}"
                    title="Click here to retry" aria-label="Click here to retry">
                    <mat-icon aria-hidden="true" class="fs-1">autorenew</mat-icon>
                    <span class="ms-1 fw-500">{{ retryBtnName }}</span>
                </button>
            </div>
        </div>
    </ng-container>
</div>
