.dropdown-menu {
    padding: 1rem;
    font-size: 1.4rem;
    width: 350px;
    box-shadow: 0 0 14px -1px #66666685;
 }
 .details-comment-patch {
    -ms-transform: none !important;
    transform: none !important;
    left: -355px !important;
    will-change: initial;
    max-height: 180px;
    overflow-y: auto;
 }
 
 .list-style-none {
   list-style: none;
   font-size: 1.4rem;
   font-weight: 400;
 }
 
 .chevron {
   color: #37857b;
   font-size: 1.1rem;
 }
 
 .warning-icon {
   color: #f5d903;
   font-size: 1.5rem;
 }
