/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.bg-container {
  height: 100%;
  background-image: linear-gradient(to right, #587ff5, #706be5);

  .login-container {
    display: flex;
    position: absolute;
    background-color: white;
    width: 450px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.2);		 */
    //  border-radius: 15px;
    overflow: hidden;

    .login-img-wrapper {
      flex: 1;
      padding: 160px 53px 34px 53px;
      background-image: url(assets/images/fibiLogo_white.png), url(assets/images/img.jpg);
      background-size: 27%, cover;
      background-repeat: no-repeat, no-repeat;
      background-position: center center, 10% center;

      .tagline {
        bottom: 26%;
        color: #9e9e9e;
      }
    }

    .login-content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      padding: 15px;

      .login-button {
        border: 0;
        color: white;
        background-color: #587ff4;
        line-height: 35px;
        transition: background-color 0.3s ease-in;
        outline: none;
      }

      .login-button:hover {
        background-color: #6f6de6;
      }
    }
  }
}

/* Mat select styles for lookup component start */

.mat-option.mat-selected:not(.mat-option-disabled) {
    color: unset;
}

.mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background-color: #005cc8;
}

.mat-select {
    padding-top: 0.6rem !important;
}

.mat-mdc-select-panel {
    padding: 0 !important;
}

    /* Mat select styles for lookup component end */

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
    margin-top: 7px !important;
    margin-left: -14px !important;
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-below) div.mat-mdc-select-panel {
    margin-bottom: 9px !important;
    margin-left: -14px !important;
}

.mat-mdc-select-trigger {
    font-size: 0.875rem;
}

.mat-mdc-option:hover {
	background: rgba(44,119,244,.1) !important;
	color: #333 !important;
}

.mat-mdc-option {
	white-space: normal !important;
	text-overflow: inherit !important;
	line-height: normal !important;
	height: auto !important;
	padding: 11px 16px !important;
	border-bottom: 1px dotted #ccc !important;
	font-size: 0.875rem !important;
}

.mdc-menu-surface.mat-mdc-autocomplete-panel {
  padding: 0 !important;
}

.form-builder-sticky-header {
    position: sticky;
    z-index: 11;
}

.form-builder-sticky-button {
    position: sticky;
    top: 234px;
    z-index: 9;
}

.form-builder-sticky-button-color {
    padding: 1rem 1rem;
    border-radius: 5px;
    color: #0c5e8d;
}

.form-builder-table-header {
    position: sticky;
    z-index: 10;
}

.form-builder-table-header th {
  border: solid 1px #dee2e6;
  background: #eaeef2;
}

.form-builder-table {
    border-collapse: separate !important;
    border-spacing: 0;
}

.form-builder-table td {
    border-style:solid;
    border-width:1px;
}

.info-mt-1 {
  margin-top: 1px;
}

.mat-mdc-select-arrow-wrapper {
    height: 21px !important;
}

.mat-mdc-select {
    line-height: 1 !important;
}

.mat-select-arrow-wrapper {
    height: 21px !important;
}

.mat-select {
    line-height: 1 !important;
}

.toggle-btn{
    color: #000;
    border: solid 1px #e1e3e1;
    display: inline-flex;
    position: absolute;
    top: 3px;
    right: 4px;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.12);
    .mat-icon{
        transition: ease-in-out 0.4s;
    }
    &:hover{
        cursor: pointer;
        background: #eceeef;
        color: #007dec;
        border: solid 1px #d5d5d5;
        box-shadow: none !important;
    }
    &:focus{
        cursor: pointer;
        background: #eceeef;
        color: #007dec;
        border: solid 1px #d5d5d5;
        box-shadow: none !important;
    }
}

.toggle-btn-position {
    top: -3px;
    right: -10px;
}

.coi-table-striped {

    .table-striped>thead>tr th,
    .table-striped>thead>tr td,
    .coi-table-striped-thead > .coi-table-striped-tr .coi-table-striped-th,
    .coi-table-striped-thead > .coi-table-striped-tr .coi-table-striped-td {
        --bs-table-bg-type: #f0f2f3;
        vertical-align: middle;
    }

    .coi-table-striped-tbody > .coi-table-striped-tr:nth-of-type(odd) > .coi-table-striped-th,
    .coi-table-striped-tbody > .coi-table-striped-tr:nth-of-type(odd) > .coi-table-striped-td,
    .table-striped>tbody>tr:nth-of-type(odd)>th,
    .table-striped>tbody>tr:nth-of-type(odd)>td {
        --bs-table-bg-type: #fff;
    }

    .coi-table-striped-tbody > .coi-table-striped-tr:nth-of-type(even) > .coi-table-striped-th,
    .coi-table-striped-tbody > .coi-table-striped-tr:nth-of-type(even) > .coi-table-striped-td,
    .table-striped>tbody>tr:nth-of-type(even)>th,
    .table-striped>tbody>tr:nth-of-type(even)>td {
        --bs-table-bg-type: #f9f9f9;
    }

    .table-striped tbody tr:hover {
        cursor: default !important;
        box-shadow: none !important;
    }

    .coi-table-striped-thead > .coi-table-striped-tr .coi-table-striped-th,
    .coi-table-striped-thead > .coi-table-striped-tr .coi-table-striped-td
    .coi-table-striped-tbody > .coi-table-striped-tr .coi-table-striped-th,
    .coi-table-striped-tbody > .coi-table-striped-tr .coi-table-striped-td {
        font-size: var(--theme-font-size);
        padding: .7rem 1rem;
        overflow: hidden !important;
        background-color: var(--bs-table-bg-type);
    }

    .coi-table-striped-thead > .coi-table-striped-tr .coi-table-striped-th {
        color: var(--theme-text-gray-900) !important;
        font-weight: 700;
    }

    .coi-table-striped-thead > .coi-table-striped-tr .coi-table-striped-td
    .coi-table-striped-tbody > .coi-table-striped-tr .coi-table-striped-th {
        color: var(--theme-text-gray-800) !important;
        font-weight: 600;
    }

    .coi-table-striped-tbody > .coi-table-striped-tr .coi-table-striped-td {
        color: var(--theme-text-gray-700) !important;
        font-weight: 400;
    }
}

.coi-table-last-border-0 tr:last-child,
.coi-table-last-border-0 tr:last-child td {
  border-bottom: 0;
}

.link-primary {
    text-decoration: none !important;
    cursor: pointer;
    &:hover,
    &:focus {
        text-decoration: underline !important;
    }
}

.text-conflict-badge {
    background-color: #ffe6e7;
    color: #ca4e4f;
}

.text-potential-conflict-badge {
    background-color: #fff5e6;
    color: #c59c59;
}

.text-no-conflict-badge {
    background-color: #e3ffe5;
    color: #6cc974;
}

.sfi-info-text {
    color: #c39200;
    border: 1px solid #c39200;
    line-height: 20px;
    display: inline-block;
}

.slideLeft {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideLeftFrame .3s ease-out forwards;
}

@keyframes slideLeftFrame {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.coi-size-20 {
    width: 20px;
    height: 20px;
}

.coi-min-w-0 {
    min-width: 0 !important;
}

.coi-rotate-minus-45 {
    transform: rotate(-45deg);
}

.coi-rotate-90 {
    transform: rotate(90deg);
}

.coi-rotate-180 {
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
}

.coi-rotate-0 {
    transform: rotate(0deg);
    transition: transform .3s ease-in-out;
}

.slide_down {
    opacity: 0;
    transform: translateY(-10px);
    animation: slideDown .3s ease-in-out forwards;
}

.transition-300ms {
    transition: all .3s ease-in-out;
}

.coi-ms-n15px {
    margin-left: -15px;
}

.coi-ms-n5px {
    margin-left: -5px;
}

.coi-ms-n3px {
    margin-left: -3px;
}

.coi-ms-n2px {
    margin-left: -2px;
}

.coi-me-n10px {
    margin-right: -10px;
}

.coi-px-8px {
    padding-left: 8px;
    padding-right: 8px;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.coi-label-help {
    display: inline-flex !important;
    align-items: center;
}

.tooltip-inner {
    max-width: 350px !important;
    text-align: left;
}

.coi-details-card-mat-icon-size {
    font-size: 1.4rem !important;
}

.relationship-pill {
    background-color: #F9F8FF !important;
    border-color: #5E4FB8 !important;
}

.coi-purple-text {
    color: #5E4FB8 !important;
}

.fs-24 {
    font-size: 1.5rem !important;
}

.top-5px {
    top: 5px;
}

.top-10px {
    top: 10px;
}

.coi-negative-top {
    top: -1rem;
}

.coi-negative-bottom {
    bottom: -1rem;
}

.coi-mat-icon-size {
    font-size: 1rem !important;
}

.coi-entity-icon-size {
    font-size: 1.5rem !important;
}

.w-1rem {
    width: 1rem;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-10 {
    z-index: 10;
}


/* Snap types for vertical scrolling */
.scroll-snap-y-mandatory {
    scroll-snap-type: y mandatory;
}

.scroll-snap-align-start {
    scroll-snap-align: start;
}

.coi-reviewer-header-sticky{
    position: sticky;
    z-index: 10;
    background-color: #f0f2f3;
}

.start-35 {
    left: 35%;
}

.bottom-20vh {
    bottom: 20vh;
}

/* rotate-animation class */
.coi-refresh-rotate-animation {
    animation: coi-refresh-rotate 1s linear infinite;
}

/* Keyframes for rotation */
@keyframes coi-refresh-rotate {
    from {
        transform: rotateX(180deg) scale(2.5) rotateZ(360deg);
    }

    to {
        transform: rotateX(180deg) scale(2.5) rotateZ(0deg);
    }
}

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

.coi-rotating {
    animation: rotate 2s linear infinite;
}

.min-height-200px {
    min-height: 200px;
}

.coi-anchor-link {
	text-decoration: underline !important;
	cursor: pointer;
	font-weight: 500;
	&:hover {
		transition: color .15s;
    }
}

.coi-entity-details-card {
    background-color: #f5f5f5 !important;
    border: 1px solid #ecebeb;
}

:disabled {
    pointer-events: auto !important;
    cursor: not-allowed !important;
}

.ck-placeholder {
    white-space: nowrap;
    font-size: 0.875rem !important;
}

.adv-search-count-top{
    right: -19px;
    top: 1px;
}

.ck-body-wrapper {
    position: absolute;
    z-index: 1500;
}

.comment-count-icon {
    width: 17px;
    height: 17px;
    color: white;
    margin-left: 42px;
    border-radius: 6px;
}

.comment-count-icon-large {
    color: white;
    margin-left: 49px;
    border-radius: 3px;
    padding: 2px;
}

.coi-comment-icon-size {
    font-size: 1.2rem !important;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
}

.preloader-text {
    text-align: center;
    color: var(--theme-blue) !important;
    font-size: 14px;
    margin-top: 10px;
}

.coi-custom-form-validator,
.coi-disclosure-section {
    .validation-list {
        bottom: 75px !important;
    }

    .qst-list-padding {
        .dock-box {
            z-index: 100;
        }
    }
}

.qst-list {
    .ck.ck-editor__editable_inline {
        border: 1px solid #d3d1d1 !important;
        min-height: 100px;
    }
}

.ck.ck-toolbar {
    background: #fafafa !important
}

.btn-link {
    font-size: 1rem;
    color: #007dc8!important;
    background: rgba(243,252,255,.4588235294);
    border: 1px solid #02a0ff;
    padding: 5px 8px;
    border-radius: 2.5px;
    cursor: pointer;
    line-height: 23px;
    width: -moz-max-content;
    width: max-content;
    text-decoration: none;
    font-weight: 400;
}

.btn-link:hover {
    border: 1px solid #80cfff;
    transition: .5s ease
}

//used to hide the answered question count in the form builder. COI specific, Reason : found issues on showing the count, so hide the count for now.
.fb-questionnaire-count-container{
    display: none;
}

// media screen styles should be at last
@media (min-width: 1200px) {
    .action-header-border {
        border-left: 1px solid #0000002d;
    }
}

@media (max-width: 1199px) {
    .action-header-border {
        border-top: 1px solid #0000002d;
        border-left: 0 !important;
    }
}

@media (min-width: 992px) {
    .table-responsive {
        overflow: initial !important;
    }
}

@media (max-width: 991px) {
    .form-builder-table-header {
        top:0 !important;
    }

    .coi-custom-form-validator,
    .coi-disclosure-section {

        // Only apply to .dock-box NOT inside .qst-list-padding
        .dock-box:not(.qst-list-padding .dock-box) {
            left: 30% !important;
            width: 250px !important;
        }

        .validation-list {
            width: 280px !important;
            height: 60vh !important;
        }

        .qst-list-padding {
            .dock-box {
                transform: translateX(-30%);
            }
        }
    }

}
// media screen styles should be at last
