@import 'https://fonts.googleapis.com/css?family=Roboto';

* {
	outline: 0;
	scroll-behavior: smooth;
	&:focus {
		outline: 0;
	}
}
:root {
	font-size: $font-size-root;
	body {
		margin: 0;
		// Body font size 16px
		font-size: $font-size-lg;
	}
}
html {
	@include box-sizing(border-box);
	font-family: $font_0;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	height: 100%;
}

body {
	margin: 0;
	font-family: $font_1, $font_2, $font_3, $font_4, $font_5, $font_6, $font_0;
	font-weight: 400;
	line-height: 1.5;
	color: $font-color;
	height: 100%;
	
	@include themifyself($themes) {
		background: themed('bodyBgColor');  
	}
}
