.switch {
    position: relative;
    display: inline-block;
    width: 63px;
    height: 32px;
    input { 
        opacity: 0;
        width: 0;
        height: 0;
      }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 6px;
    background-color: #949494!important;


    -webkit-transition: .4s;
    transition: .4s;
    width: 80%;
    &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 5px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      &.round {
        border-radius: 34px;        
      }
      &.round:before {
        border-radius: 50%;
        box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0,0,0,.3);
      }
  }
.deactivate-text{
    margin-left:27px!important;
    color: #fff;
}
small{
    margin-left: 8px;
    margin-top: 5px;
	display: inline-block;
	font-weight: 700;
    color:#fff;
    
}
}

input:checked + .slider {
    background-color: #0abb87 !important;
  }
  
//   input:focus + .slider {
//     box-shadow: 0 0 1px #2196F3;
//   }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }