.table td, .table th {
	border-top: 1px solid $bg-color-body;
}
.borderBox>.tableSkin {
	margin-top: -11px;
}
.borderBox>.tableSkin>tbody>tr:nth-child(1)>td {
	border-top: 0;
}

//deprecated styles - need to remove after UI revamp completion (end)
//deprecated - anish
.tableSkin {
	th {
		padding: 10px;
		//border-bottom: 1px $color_powder_blue_approx solid;
		border-top: 0;
		vertical-align: middle;
		line-height: normal;
		color: $black-medium;
		font-size: $font-size-md;
		font-weight: 600;
		background-color: #e9ecef;
	}
	// thead th {
	// 	color: $color_fuscous_gray_approx;
	// 	font-weight: 600;
	// 	padding: 10px;
	// 	border-bottom: 1px $color_powder_blue_approx solid;
	// 	border-top: 0;
	// 	vertical-align: middle;
	// 	line-height: normal;
	// }
	// tr th {
	// 	color: $color_fuscous_gray_approx;
	// 	font-size: $font-size-md;
	// 	font-weight: bold;
	// }
	> tbody > tr {
		> td {
			padding: 10px;
			font-size: $font-size-md;
			//border-color: $color_alto_approx;
			color: $black-medium;
			vertical-align: middle;
			> label {
				@extend %label-control;
			}
		}
		&.separation > td {
			border-color: $color_powder_blue_approx;
		}
	}
}

.setBody {
	margin-bottom: 1em;
	label {
		@extend %label-control;
	}
	> p {
		font-size: $font-size-md;
		color: $color_fuscous_gray_approx;
		line-height: 17px;
		margin-bottom: 1.5rem;
		> label {
			@extend %label-control;
		}
	}
	th {
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	td {
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	p {
		font-size: $font-size-md;
		label {
			@extend %label-control;
		}
	}
	.tableSkin thead th {
		color: $black;
		text-transform: uppercase;
		font-size: $font-size-md;
	}
}

#routeLogTable {
	margin-bottom: 0;
	> tbody > tr > td {
		vertical-align: initial !important;
		word-break: break-all;
	}
}

.tableStyle {
	width: 100%;
	> thead {
		@include themify($themes) {
			background-color: themed('primaryColor');
		}
		> tr > th {
			font-weight: normal;
			@include themify($themes) {
				background-color: themed('primaryColor');
			}
			text-align: center !important;
		}
	}
	> tbody > tr {
		> td {
			padding: 4px 8px;
			border: 1px $alabaster solid;
			font-size: $font-size-md;
		}
		&:nth-child(even) {
			background: #f7f6f6;
		}
		&:nth-child(odd) {
			background: #f7f6f6;
		}
	}
}

.borderBox > .tableSkin {
	margin-top: -11px;
}

#ratesTable.tableStyle {
	> thead > tr > th {
		text-align: left !important;
		padding-left: 5px;
		font-size: $font-size-md;
	}
	> tbody > tr > td {
		font-size: $font-size-md;
		font-weight: normal !important;
	}
}

table.tableSection {
	display: table;
	width: 100%;
	thead {
		float: left;
		width: 100%;
	}
	tbody {
		float: left;
		width: 100%;
		overflow: auto;
		height: 300px;
	}
	tr {
		width: 100%;
		display: table;
		text-align: left;
	}
	th {
		width: 20%;
	}
	td {
		width: 20%;
	}
}
#periodTable > tbody > tr > td {
	padding: 12px !important;
}

.card-table-box {
	margin-bottom: 15px;
	.card-header {
		background-color: #fff !important;
	}
	// .table-responsive{
	// 	padding: 0 15px;
	// }	
	thead {
		background: #f6f9fc;
		th{
			font-size: $font-size-md;
			font-weight: 600;
			padding: .75rem;
			line-height: normal;
			border-top: 1px solid #e9ecef !important;
			border-bottom: 1px solid #e9ecef !important;
			//letter-spacing: 1px;
    		vertical-align: middle;
    		//white-space: nowrap;
			@include themify($themes) {
				//color: themed('fontColorLight');
				color: $black;
			}
		}
	}
	tbody {
		tr {
			&:hover {
				background-color: $blue-grey-lightest;
			}
		}
		td {
			padding: 10px;
			font-size: $font-size-md;
			vertical-align: middle;
			//border-top: 1px solid $bg-color-body;
			border-top: 1px solid #e9ecef;
			color: $black-medium;
			// @include themify($themes) {
			// 	color: themed('fontColor');				
			// }
			label {
				@extend %label-control;
			}
		}
		&.separation > td {
			border-color: $color_powder_blue_approx;//verify 
		}
	}
}

.table tbody+tbody {
    border-top: 2px solid #fff !important;
}

.tableStyle{width: 100%;}
.tableStyle>thead {
    color: #fff;
}
.tableStyle>thead>tr>th{
	font-size: $font-size-md;
	color: #fff;
	text-align:center !important;
}
.tableStyle>tbody>tr>td{padding: 4px 8px;border: 1px #fafafa solid;}
.tableStyle>tbody>tr:nth-child(even){background: #dfdfdf;}
.tableStyle>tbody>tr:nth-child(odd){background: #efefef}
.tableStyle>tbody>tr>td {font-size:  $font-size-md;}

#ratesTable.tableStyle>thead>tr>th, #doc-version-table.tableStyle>thead>tr>th {
	text-align: left !important;
	padding-left: 5px;
	font-size:  $font-size-md;
}

#ratesTable.tableStyle>tbody>tr>td {
	font-size:  $font-size-md;
	font-weight: normal !important;
}

/**  budget page common styles **/
.th-seperation th{
    border-right: solid 1px;
}
.th-seperation th:nth-last-child(1){
    border-right: 0;
}
.table-inner {
	background: #f4f5f7;	
	td {
		border-bottom: 1px solid #ced4da;
	}
}
