<!-- Last updated by ARAVIND on 08-10-2020 -->
<div class="row" id=" mt-3">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card mb-3">
      <div class="card-content">
        <div class="card-body">
          <div class="form-row">
            <div class="col-lg-8 col-sm-6 col-12 mb-3">
              <label class="d-none d-sm-inline-block">Principal Investigator</label>
                <span class="float-right">
                    <input id="employee" type="radio" name='employee_nonemployee' [value]='false'
                        [(ngModel)]="cpReportProjectDetailExt.leadPiNonEmployeeFlag" checked="false" (change)="changeMemberType()">
                    <label for="employee">
                        Employee
                    </label>
                    <input id="non-employee" type="radio" name='employee_nonemployee' [value]='true'
                        [(ngModel)]="cpReportProjectDetailExt.leadPiNonEmployeeFlag" (change)="changeMemberType()">
                    <label for="non-employee">
                        Non-Employee
                    </label>
                </span>
                  <app-elastic [options]="personSearchOptions" [placeHolder]="'Search'"
                  (selectedResult)="selectPerson($event)">
                  </app-elastic>
            </div>
            <div class="col-lg-4 col-md col-sm-6 col-12 mb-3">
              <label class="block-display">
                Role Played
              </label>
              <select id="project-role" class="form-control" [(ngModel)]="cpReportProjectDetailExt.personRoleId"
              >
              <option [value]=null>--Select--</option>
              <option *ngFor="let role of personDetails.proposalPersonRoles" [value]="role.id" [hidden]="role.isActive != true"  >
                {{role?.description}}</option>
            </select>
            </div>
            <div class="col-lg-4 col-md col-sm-6 col-12 mb-3">
              <label class="block-display">
                % of Effort
              </label>
              <span>
                <input type="text"  [(ngModel)]="cpReportProjectDetailExt.percentageOfEffort"
                 placeholder="eg: 100, 99.99, 10.22, 25 etc"  [ngClass]="(mandatoryList.get('percentageOfEffort')) ? 'is-invalid d-block' : ''"
                (keyup)="limitKeypress(cpReportProjectDetailExt.percentageOfEffort)" class="form-control" />
                <div *ngIf="(mandatoryList?.has('percentageOfEffort'))"><span
                  class="mandatory">{{mandatoryList?.get('percentageOfEffort')}}</span></div>
              </span>
            </div>
            <div class="col-lg-4 col-md col-sm-6 col-12 mb-3">
              <label class="block-display">
                Total Project Value
              </label>
              <span>
                <input type="text"  [(ngModel)]="cpReportProjectDetailExt.totalAwardAmount"
                (ngModelChange)="inputDigitRestriction(cpReportProjectDetailExt.totalAwardAmount, 'projectValue');"
                appCurrencyFormat [initialValue]="cpReportProjectDetailExt.totalAwardAmount" placeholder=""
                 class="form-control"  [ngClass]="(mandatoryList.get('projectValue')) ? 'is-invalid d-block' : ''"/>
                 <div *ngIf="(mandatoryList.get('projectValue'))" class="mandatory"> {{mandatoryList.get('projectValue')}}</div>
              </span>
            </div>
            <div class="col-lg-4 col-md col-sm-6 col-12 mb-3">
              <label class="block-display">
                Total Direct Cost
              </label>
              <span>
                <input type="text" [(ngModel)]="cpReportProjectDetailExt.annualDirectCost"
                (ngModelChange)="inputDigitRestriction(cpReportProjectDetailExt.annualDirectCost, 'directCost');"
                appCurrencyFormat [initialValue]="cpReportProjectDetailExt.annualDirectCost" placeholder="" 
                class="form-control" [ngClass]="(mandatoryList.get('directCost')) ? 'is-invalid d-block' : ''"/>
                <div *ngIf="(mandatoryList.get('directCost'))" class="mandatory"> {{mandatoryList.get('directCost')}}</div>
              </span>
            </div>
            <!-- <div class="col-lg-4 col-md col-sm-6 col-12 mb-3">
              <label class="block-display">
                Prime Award
              </label>
              <span>
                <input type="text" placeholder="" class="form-control" />
              </span>
            </div> -->
            <!-- <div class="col-lg-4 col-md col-sm-6 col-12 mb-3">
              <label class="block-display">
                Academic Months
              </label>
              <input  type="text" maxlength="5" pattern="([0-9]|[0-9]|[0-9])" [(ngModel)]="cpReportProjectDetailExt.academicMonths" placeholder="" class="form-control" />
            </div>
            <div class="col-lg-4 col-md col-sm-6 col-12 mb-3">
              <label class="block-display">Summer Months</label>
              <input  type="text" maxlength="5" pattern="([0-9]|[0-9]|[0-9])" [(ngModel)]="cpReportProjectDetailExt.summerMonths" placeholder="" class="form-control" />
            </div>
            <div class="col-lg-4 col-md col-sm-6 col-12 mb-3">
              <label class="block-display">Calender Months</label>
              <input  type="text" maxlength="5" pattern="([0-9]|[0-9]|[0-9])" [(ngModel)]="cpReportProjectDetailExt.calenderMonths" placeholder="" class="form-control" />
            </div> -->
            <!-- <div class="col-lg-4 col-md col-sm-6 col-12 mb-3">
              <label class="block-display">
                Academic Contact
              </label>
              <span>
                <input type="text" placeholder="" class="form-control" />
              </span>
            </div>
            <div class="col-lg-4 col-md col-sm-6 col-12 mb-3">
              <label class="block-display">
                Technical Contact
              </label>
              <span>
                <input type="text" placeholder="" class="form-control" />
              </span>
            </div> -->
            <!-- <div class="col-lg-4 col-md col-sm-6 col-12 mb-3">
              <label class="block-display">
                Location
              </label>
              <span>
                <input type="text" placeholder="" class="form-control" />
              </span>
            </div> -->
            <div class="col-md-6 col-12 mb-3">
              <label class="block-display">
                Goals</label>
              <span>
                <textarea class="form-control " [(ngModel)]="cpReportProjectDetailExt.projectGoals"
                appLengthValidator [isShowLimiter]='true' [limit]=4000> </textarea>
              </span>
            </div>
            <div class="col-md-6 col-12  mb-3">
              <label class="block-display">Specific Aims</label>
              <span>
                <textarea class="form-control " [(ngModel)]="cpReportProjectDetailExt.specificAims"
                appLengthValidator [isShowLimiter]='true' [limit]=4000> </textarea>
              </span>
            </div>
            <div class="col-md-6 col-12  mb-3">
              <label class="block-display">Project Summary</label>
              <span>
                <textarea class="form-control " [(ngModel)]="cpReportProjectDetailExt.projectSummary"
                appLengthValidator [isShowLimiter]='true' [limit]=4000> </textarea>
              </span>
            </div>
            <!-- <div class="col-md-6 col-12">
              <label class="block-display">Project Relation to Effort</label>
              <span>
                <textarea class="form-control " [(ngModel)]="cpReportProjectDetailExt.annualDirectCost"> </textarea>
              </span>
            </div> -->
            <div class="col-md-6 col-12  mb-3">
              <label class="block-display">Comments</label>
              <span>
                <textarea class="form-control " [(ngModel)]="cpReportProjectDetailExt.comments"
                appLengthValidator [isShowLimiter]='true' [limit]=4000></textarea>
              </span>
            </div>
            <div class="col-12 mt-3">
              <div class="row flex-column flex-sm-row justify-content-md-end justify-content-center">
                <!-- <button class="btn btn-secondary mb-3 mb-sm-0 mr-sm-3 btn-sm">Cancel</button> -->
                <button class="btn btn-primary-sub mb-3 mb-sm-0 mr-sm-3 btn-sm" (click) = 'updateCurrentAndPendingDetails();'>Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
