<div class="card mb-3" *ngIf="(result?.grantCall?.proposals && result?.grantCall?.proposals?.length > 0  && isViewGrantCallApplications)">
  <div class="card-header">
      <h4 class="card-title" id="grant-call-applications">Applications</h4>
      <button id="proposal-expnd-btn" class="addBtn font hoverColor btnPositionFullWidget" (click)="isShowProposalDetails = !isShowProposalDetails">
          <i class="fa-large" aria-hidden="true"
              [ngClass]="isShowProposalDetails?'fa fa-angle-double-up':'fa fa-angle-double-down'"></i>
      </button>
  </div>
  <div class="card-content" *ngIf="isShowProposalDetails">
      <div class="card-body">
          <table class="table tableSkin grid2" aria-describedby="grant-call-applications">
              <tbody *ngIf="result?.grantCall?.proposals?.length > 0">
                  <tr>
                      <th scope="col">Proposal Id</th>
                      <th scope="col">Title</th>
                      <th scope="col">Principal Investigator</th>
                      <th scope="col">Category</th>
                      <th scope="col">Status</th>
                      <th scope="col">Sponsor</th>
                      <th scope="col">Sponsor Deadline</th>
                      <th scope="col">Created By</th>
                      <th scope="col">Action</th>
                  </tr>
                  <tr *ngFor="let proposaldetails of result?.grantCall?.proposals;let i = index;">
                      <td>{{proposaldetails?.proposalId}}</td>
                      <td>{{proposaldetails?.title}}</td>
                      <td>{{proposaldetails?.principalInvestigator}}</td>
                      <td>{{proposaldetails?.applicationActivityType}}</td>
                      <td>{{proposaldetails?.applicationStatus}}</td>
                      <td>{{proposaldetails?.sponsorName}}</td>
                      <td>{{proposaldetails?.sponsorDeadlineDate === 0 ? null : proposaldetails?.sponsorDeadlineDate | dateFormatter}}
                      </td>
                      <td>{{proposaldetails?.createUser}}</td>
                      <td>
                          <ul class="actionButtonGroup">
                                <li>
                                    <a id="open-proposal-btn" class="pointer" title="Open proposal {{proposaldetails?.proposalId}}"
                                    (click)="setProposalTab()" [routerLink]="['/fibi/proposal/summary']"
                                    [queryParams]="{'proposalId': proposaldetails?.proposalId }"
                                    target="_blank"><i class="fa fa-eye pointer" aria-hidden="true"></i></a>
                                </li>
                          </ul>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
