.budget-person-outer {
    padding-bottom: 5px;
}

.budget-person {
    border: solid 1px #ececec;
    text-align: left;
    background: #f8fbff;
}

.budget-person-head {
    background: #e7edf9;
    margin-bottom: 8px !important;
    padding: 3px;
}

.select-box option:nth-last-child(1) {
    color: #2c77f3;
    text-transform: uppercase;
    font-weight: 600;
}

.budget-date .budget-date input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #48647f;
    opacity: 1;
    font-size: 1.4rem;
    font-weight: 500;
}

.budget-date input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #48647f;
    opacity: 1;
    font-size: 1.4rem;
    font-weight: 500;
}

.budget-date input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #48647f;
    font-size: 1.4rem;
    font-weight: 500;
}

.budget-date input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #48647f;
    font-size: 1.4rem;
    font-weight: 500;
}

.budget-date input::placeholder {
    /* Most modern browsers support this now. */
    color: #48647f;
    font-size: 1.4rem;
    font-weight: 500;
}