.text-color {
    color: #6A7980;
}

.r-title {
    display: inline-block;
}

.r-title::first-letter {
    text-transform: uppercase;
}

.collapse-text {
    color: rgb(65, 70, 75);
    text-decoration: underline;
    cursor: pointer;
}

.inactive-pill {
    background-color: #949494;
    color: #fff;
}

.draft-pill {
    color: #000;
    background: #9fc5f8;
}

small {
    margin-left: 8px;
    margin-top: 5px;
    display: inline-block;
    font-weight: 700;
    color: #fff !important;
}

.deactivate-text {
    color: #fff !important;
}

.pencil-sfi {
    position: relative;
    font-size: 2rem;
}

.btn-sfi-position {
    position: relative;
    right: 0.6rem;
}

.btn-content-back {
    position: relative;
    left: 0.2rem;
}

.btn-inactivate-content {
    position: relative;
    right: 1.1rem;
}

.icon-schedule-position {
    position: relative;
    right: 1.5625rem;
}

.btn-activate-content {
    position: relative;
    right: 5px;
}

.icon-activate-position {
    position: relative;
    right: 18px;
}

.btn-activate-edit-content {
    position: relative;
    left: 14px;
}

.icon-add {
    position: relative;
    left: 1.01rem
}

.btn-add-content {
    position: relative;
    left: 1.1rem;
}

.icon-save {
    position: relative;
    left: 8px
}

.btn-save-content {
    position: relative;
    left: 12px;
}

.modal {
    z-index: 1501;
}

.entity-status-pill {
    position: relative;
    right: 20px;
    top: -1px;
}

.triple-card {
    height: 96px;
}

.table-negative-margin {
    margin-top: 9px;
}

.sticky-0 {
    top: -16px;
    z-index: 13;
    position: sticky;
}

.sticky-top-50 {
    top: 50px;
    z-index: 13;
    position: sticky;
}

.entity-box {
    height: max-content;
    max-width: 450px;
    position: absolute;
    z-index: 11;
    top: 35px;
    display: flex;
    background: #e2f1ff;
    border: 1px solid #cee4f8;
}

.anchor-link {
    font-weight: 400 !important;
}

.col-custom-width {
    width: 55px;
}

.hyper-link {
    text-decoration: underline !important;
}

.text-area-height {
    height: 75px !important;
}

.text-area-height::-webkit-scrollbar {
    width: .4em;
}

.text-area-height::-webkit-scrollbar-button {
    display: none;
}

.date-field-error {
    padding-right: 16px !important;
}


.help-text {
    font-size: 0.8125rem;
    padding: 7px;
    color: #606060;
    background-color: #EEF0FC;
    font-style: italic;
}

.label-text {
    color: #2a2a2a;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
}


.border-nav {
    width: max-content;
    position: relative;
    top: 0px;
    right: 15px;
}

.navigation-icons {
    .active {
        border-bottom: 3px solid #007DEC;
        color: #007DEC;
        padding: 10px 10px !important;
        background-color: #e6f3ff !important;
        box-shadow: 2px 3px 11px 1px rgba(0, 0, 0, .17);
    }
}

.nav-options:hover {
    background-color: #e6f3ff !important;
}

.user-dashboard-nav {
    min-height: 42px;
}

.border-nav {
    width: max-content;
    position: relative;
    top: 0px;
    right: 15px;
}

.fa-check {
    font-weight: 600;
    color: #28a745 !important;
    margin-left: 5px;
}

.fa-exclamation-circle {
    font-weight: 600;
    color: #ffc107 !important;
    margin-left: 5px;
}

.delete_outline {
    outline: none;
    width: 32px;
    height: 32px;
    display: flex;

    &:hover {
        background-color: white;
        border-radius: 50%;
    }
}

.relation-active {
    border-bottom: 3px solid #007DEC;
    color: #007DEC;
    background-color: #e6f3ff;

    .delete_outline {
        background-color: white;
        border-radius: 50%;
    }
}

.relation-border-left:hover {
    color: #007DEC;
}

.border-bottom {
    border-bottom: 2px solid #d7dbdf;
}

.create-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 218px;
    font-weight: 500;
    font-size: 0.9375rem;
}

.pi-info-text {
    background-color: #F3F3F3;
    color: #41464B;
}

.complete-ribbon {
    color: #fff;
    width: max-content;
    height: 27px;
    background: #54BF5B;
    position: relative;
    left: -23px;
    top: -12px;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0 50px 50px 0;
    padding: 10px 18px;

    &::before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-bottom: 6px solid #151515;
        border-left: 6px solid transparent;
        top: -6px;
        left: 0;
    }
}

.incomplete-ribbon {
    color: #fff;
    width: max-content;
    height: 27px;
    background: #ffc107;
    position: relative;
    left: -23px;
    ;
    top: -10px;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0 50px 50px 0;
    padding: 10px 18px;

    &::before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-bottom: 6px solid #151515;
        border-left: 6px solid transparent;
        top: -6px;
        left: 0;
    }
}

.inactive-ribbon {
    color: #fff;
    width: max-content;
    height: 27px;
    background: #949494;
    position: relative;
    left: -22px;
    top: -12px;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0 50px 50px 0;
    padding: 10px 18px;

    &::before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-bottom: 6px solid #151515;
        border-left: 6px solid transparent;
        top: -6px;
        left: 0;
    }
}

.user-dashboard-nav::-webkit-scrollbar:horizontal {
    height: 5px;
}

.nav-width {
    width: 87%;
}

.btn-color {
    color: #2C77f4;
}

.btn-color:hover {
    color: #043E9E;
}

.card-nav {
    .nav-options {
        padding: 0.8rem 1rem;

        &.relation-active {
            background-color: #fff;

            span {
                color: #000;
            }
        }
    }
}

.sub-nav-outer {
    background-color: #f5f4fb;
}

::ng-deep .custom-quest-relationship {
    .txt-medium {
        font-size: 1rem !important;
    }

    .success-banner {
        font-size: 1rem !important;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .questionnaire-card {
        border: var(--theme-card-border) !important;
        box-shadow: var(--theme-card-box-shadow) !important;

        &:hover {
            margin-left: 1px !important;
            border-left: solid 3px #007DEC !important;
        }
    }

    .questionnaire-position {
        right: 0 !important;
    }

    .custom-qustnr .nav-tabs {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .btn-delete-position {
        top: 20px !important;
        right: 14px !important;
    }
}

.nav-underline {
    .nav-link {
        color: var(--bs-secondary-rgb);
        border-bottom-width: 3px;
        cursor: pointer;
    }

    .nav-link.active,
    .nav-underline .show>.nav-link {
        color: var(--theme-primary-color) !important;
    }
}

.clickable-content:hover {
    font-weight: 600 !important;
}

.toggle-btn {
    position: relative;
    left: 0;
    top: 0;
}

.btn-position {
    position: relative;
    bottom: 5px;
}

.btn-close {
    color: #000000;
}

.questionnaire-position {
    position: relative;
    bottom: 2px;
    right: 2px;
    border-radius: 0 3.75px 3.75px 3.75px;
}

.btn-delete-position {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 18px;
}

.delete-content-position {
    position: relative;
    bottom: 5px;
}

.btn-tertiary {
    font-size: 0.875rem;
    min-width: 5em;
    font-weight: 600;
    margin-top: -8px;
    letter-spacing: normal;
    cursor: pointer;
    background-color: rgba(44, 119, 244, .1);
    color: #2c77f4 !important;

    &:hover {
        background-color: rgba(44, 119, 244, .27);
        color: #043e9e !important;
    }
}

.no-data-card {
    height: 150px;
}

.infoText {
    z-index: 20;
    position: sticky;
    &::before {
        content: "";
        position: absolute;
        top: -3px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgb(239 239 239);
        z-index: -1;
      }
}

.main-navs {
    position: sticky;
    border-top-left-radius: 7px;
    z-index: 12;
    border-top-right-radius: 7px;
    background-color: inherit;
    margin: 1px;
}

.sticky-nav-bar {
    position: sticky;
    z-index: 9;
}

.steps-outer {
    border: none!important;
    display: flex !important;
    align-items: stretch !important;
    background-color: none !important;
    border-radius: 0 !important;
    padding: 0!important;
}

.coi-is-invalid-group {
  border: 1px solid #dc3545;
  border-radius: 0.375rem;
}

@media (min-width: 992px) {
    .steps-outer .coi-step-tab-btn {
        border: none !important;
        padding: 0.3rem 0.5rem;
        border-radius: 30px;
    }
}
