.line-height{
    line-height: 30px;
    text-align: left !important;
}
.text-align-left{
    text-align: left !important;
}
.width-80{
    width: 69% !important;
}
tfoot{
    color: #48647f;
    font-weight: 500;
    border-top: 2px solid;
}
