.actionList-icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #D8DFF2;
    color: #3455A7;
}

.p-10px {
    padding: .75rem;
}

.coi-actionlist-wrapper {
    &:hover {
        cursor: pointer;
        background: #091E420F;
    }
}
