
.section {
    border: 1px solid #e1e1e1;
}

.section-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #d0d0d0;
    padding: 0.625rem 1rem;
    font-weight: 600;
    font-size: 14px;
}

.info {
    background: #F8F8F8;
    border: 1px solid #d0d0d0;
    color: #606060;
    margin: 1rem;
    padding: 0.5rem 0.75rem;
    font-size: 14px;
}

.side-info {
    background: #F8F8F8;
    border: 1px solid #d0d0d0;
    color: #606060;
    margin: 1rem 0;
    padding: 0.5rem 0.75rem;
    font-size: .875rem;
}

.content {
    margin: 1rem;
    font-size: 14px;
}

.line {
    min-height: 1px;
    background-color: #aeaeae;
    margin: 0.5rem 0.1rem;
}

.small-icon {
    transform: scale(0.7);
}

.float-right{
    float: right;
}

.p-40{
  padding:  0 40px 0 40px; 
}

.content{
    .info{
        margin: 1rem 0;
    }
}

.section-show-hide-btn {
    border: 0;
    background: #F2F3F8;
    padding: 0;
    cursor: pointer;
    outline: none !important;
    font-size: 1rem !important;
    height: 26px;
    width: 26px;
    border-radius: 50%;
}

.section-show-hide-btn:hover {
    background: #d4d4d4;
}

