<!-- Last updated by Arun Raj on 12-03-2020  -->
<div class="push4slideMenu pageMinHeight mt-15">
    <div class="container-fluid pushFixedHeaderFooter">
        <div class="headerPush"></div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Code Table Maintenance
                    <a class="tooltip-helptext"><i class="fa fa-info-circle ct-icon-right float-right hand-cursor" aria-hidden="true"
                        (click)="helpInfo = !helpInfo"></i></a>
                </h4>
            </div>
            <div *ngIf="helpInfo" class="mx-4 mt-3">
                <div class="col-12">
                    <div class="p-2 row success-banner">
                        <div class="col-auto pl-2 pr-3">
                            <i aria-hidden="true" class="fa fa-info-circle mr-1 info-icon"></i>
                        </div>
                        <div class="col px-0"><em >This module manages the lookup tables in Fibi.</em>
                        </div>
                        <div class="col-auto pr-2">
                            <button  aria-label="Close" class="close close-button " data-dismiss="modal"
                                id="modal-close" type="button" (click)="helpInfo = false">
                                <span  aria-hidden="true" class="d-block">×</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-sm-8 col-12 mx-auto">
                    <app-autocompleter [completerOptions]="completerSearchOptions"
                        [placeHolder]="'Search by table name'" (onSelect)="getSearchedTable($event);"
                        [clearField]="clearField">
                    </app-autocompleter>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <section class="row">
                        <div class="col-12">
                            <ul class="subTabs mb-5">
                                <li role="presentation" *ngFor="let groupName of groupNames;let index=index"
                                    [ngClass]="{'active': currentTab == groupName}" (click)="setCurrentTab(groupName)">
                                    <span class="subTabLink fs-14" id="my-codeTable-tab">{{groupName}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-2"
                                    *ngFor="let codeTable of codeTableList; let i=index;">
                                    <span (click)="getSelectedTable(codeTable.groupName, codeTable.tableName, i)"
                                        class="ct-pointer list-on-select px-3 py-2 d-block"
                                        title="{{codeTable.codeTableName}}"
                                        [ngClass]="(selectedTableIndex==i)?'active-list':''">
                                        <span class="m-0 fa fa-check ng-star-inserted" id="ct-select"
                                            *ngIf="selectedTableIndex==i">
                                        </span>
                                        {{codeTable.displayName}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3" *ngIf="selectedTableIndex>=0">
                            <app-code-table [codeTableProperty]="codeTableProperty">
                            </app-code-table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="footerPush"></div>
    </div>
</div>