.coi-comment-subsection-divider {
    position: relative;
    padding-left: 2rem;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        width: 26px;
        top: 70%;
        left: 3px;
        border-top: 2px solid #cbcbcb;
    }

    &:after {
        content: "";
        position: absolute;
        height: 80%;
        border-left: 2px solid #cbcbcb;
        left: 3px;
        bottom: 7px;
        z-index: -1;
    }
}

.coi-custom-slider-sticky-top {
    top: -1rem;
}

.coi-card-highlight-bg {
    padding-top: 5px;
    padding-bottom: 10px;
    border: 1px dashed #ffc700 !important;
    background-color: #fff8dd !important;
    transition: all 0.3s ease;
    .bg-body-secondary{
        background-color: #fff8dd !important;
    }
}

.coi-comment-card-header-sticky {
    position: sticky;
    top: calc(53px - 1rem);
    z-index: 9;
}

.coi-comment-card-header-shade {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -12px;
        width: 12px;
        height: 100%;
        background-color: inherit;

    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -12px;
        width: 12px;
        height: 100%;
        background-color: inherit;

    }
}

.coi-comment-card-sub-header-sticky {
    position: sticky;
    top: calc(25px + 55px - 1rem);
    z-index: 8;
}
