.left-div{
    width: 78%;
    display: inline-block;
    transition: width 1.2s ease-in-out;
}
.right-div{
    width: 22%;
    display: inline-block;
    margin-left: 5px;
    padding-right: 20px;
    height: 100vh;    
    position: fixed;
}
