::ng-deep .no-margin p {
    margin-bottom: 0;
}

.more-info-icon{
    background-color: #eeeeee;
    width: 28px;
    height: 28px;
}

.more-info-icon:hover{
    background-color: #cccccc;
}

.coi-person-icon-container-width {
    width: 30px;
}

.coi-comment-container-width {
    width: calc( 100% - 50px );
}
