.show-chat {
    position: fixed;
    bottom: 4rem;
    border-radius: 50%;
    z-index: 999;
    right: 3rem;
}

.show-chat-icon {
    background: #2c77f4;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    color: #fff;
    font-size: 3rem;
}

.chat-box {
    height: auto;
    width: 350px;
    position: fixed;
    border: solid #f1f1f2;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 50px 0 rgb(82 63 105 / 15%);
    overflow: auto;
    position: fixed;
    bottom: 4rem;
    z-index: 999;
    right: 3rem;
}

.text-area {
    border: none;
    width: 290px;
    resize: none;
    background-color: #f7f7f7;
}

.current-user {
    background: #f2f3f8;
    padding: 4px;
}

.received {
    background-color: #2c77f4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    max-width: 250px;
}

.sent {
    background: #dfdfdf;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 250px;
}

.chat-body {
    overflow-y: auto;
    height: 300px;
}

.send-btn {
    color: #2c77f4;
}

.form-control:focus {
    box-shadow: none !important;
}

textarea::placeholder {
    font-size: 15px;
}

.left-person {
    font-size: 12px;
    text-align: center;
}

.header {
    background-color: #2c77f4;
    color: #fff;
}

.name {
    font-size: 1rem;
    font-style: italic;
    color: #7f8378;
}