<div id="COI801" class="position-relative">
    <div *ngIf="!coiService.isExpandSummaryBySection['COI801'] || !activeQuestionnaire" class="border-bottom pt-3 pb-2 ps-2 pe-1">
        <h3 class="fs-16">
            <span class="d-flex align-items-center">
                <strong tabindex="-1" aria-label="Disclosure Screening Form">Disclosure Screening Form</strong>
                <span class="d-inline-block" tabindex="-1" data-bs-toggle="tooltip"
                    title="View Disclosure Screening Form." data-bs-placement="top">
                    <mat-icon class="ms-1 f-16 mt-1 text-secondary" data-bs-toggle="tooltip">info</mat-icon>
                </span>
            </span>
        </h3>
        <button class="d-flex justify-content-center align-items-center toggle-btn border btn p-0 rounded-5 shadow-sm mt-2"
            [attr.aria-label]="'Click here to ' + (coiService.isExpandSummaryBySection['COI801'] ? 'collapse' : 'expand') + ' disclosure screening form.'"
            (click)="coiService.isExpandSummaryBySection['COI801'] = !coiService.isExpandSummaryBySection['COI801']"
            [title]="'Click here to ' + (coiService.isExpandSummaryBySection['COI801'] ? 'collapse' : 'expand') + ' disclosure screening form.'">
            <mat-icon>{{!coiService.isExpandSummaryBySection['COI801'] ? 'expand_more' : 'expand_less'}}</mat-icon>
        </button>
    </div>
    <div [hidden]="!coiService.isExpandSummaryBySection['COI801']" class="position-relative">
        <!-- <button class="btn btn-primary-icon btn-sm add-activity-button mr-15 mt-2 pt-2 d-flex" tabindex="0"
            id="add-activity" aria-label="Click here to add comment" (click)="modifyReviewComment()"
            title="Click here to add new review comment" type="button">
            <mat-icon>rate_review</mat-icon>
        </button> -->
        <button *ngIf="activeQuestionnaire && isShowCommentButton" class="align-items-start btn btn-sm btn-tertiary d-inline-flex add-activity-button" tabindex="0"
            (click)="modifyReviewComment()"
            id="add-activity" title="Click here to add new review comment" aria-label="Click here to add comment" type="button">
            <mat-icon aria-hidden="true" class="hyper-link me-1">rate_review</mat-icon>
            <!-- <span class="me-2">{{projectData?.projectDetails?.commentCount && projectData.projectDetails.commentCount > 0 ?
            'Comments('+projectData?.projectDetails?.commentCount + ')' : 'Comments'}}
            </span> -->
            <span>Comments{{questionnaireCommentCount && questionnaireCommentCount > 0  ? '('+ questionnaireCommentCount + ')' : ''}}</span>
        </button>
        <button *ngIf="activeQuestionnaire"
            class="d-flex justify-content-center align-items-center toggle-btn border btn p-0 rounded-5 shadow-sm add-collapse-button"
            [attr.aria-label]="'Click here to ' + (coiService.isExpandSummaryBySection['COI801'] ? 'collapse' : 'expand') + ' disclosure screening form.'"
            (click)="coiService.isExpandSummaryBySection['COI801'] = !coiService.isExpandSummaryBySection['COI801']"
            [title]="'Click here to ' + (coiService.isExpandSummaryBySection['COI801'] ? 'collapse' : 'expand') + ' disclosure screening form.'">
            <mat-icon>{{!coiService.isExpandSummaryBySection['COI801'] ? 'expand_more' : 'expand_less'}}</mat-icon>
        </button>
        <app-view-questionnaire-list [configuration]="configuration"
            [questionnaireHeader]="'Screening Questions related to your Financial Interests'"
            (currentActiveQuestionnaire)="setActiveQuestionnaire($event)">
        </app-view-questionnaire-list>
    </div>
</div>
