.activity-icon {
    width: 20px !important;
    cursor: pointer;
}

// .add-activity-button {
//     position: absolute;
//     top: -4px;
//     z-index: 2;
//     right: 45px;
// }
.add-activity-button {
    position: absolute;
    top: 13px;
    z-index: 2;
    right: 45px;
}


.main-title {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 15px;
    margin-top: 10px;
}


.add-collapse-button {
    z-index: 2;
}

.adjust-margin-top {
    margin-top: -2.3rem;
}

.comment-button {
    padding: 5px 5px 5px 5px;
    height: 31px;
    width: 36px;
    border: 1px solid #505050;
    background-color: rgb(240, 242, 243);
}

.comment-button:hover {
    background-color: #3b83ff !important;
}

.toggle-header-btn {
    width: 30px;
    color: #A64040;
    height: 30px;

    mat-icon {
        transform: scale(1.2);
    }
}
