<router-outlet></router-outlet>

<div class="modal fade mySkinDialog modal-md" data-bs-backdrop="static" id="refreshModal" aria-labelledby="refreshModal" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button class="btn-close fs-12" hidden data-bs-dismiss="modal" id="refreshModal-dismiss-btn"
					aria-label="Click to close modal"></button>
			</div>
			<div class="modal-body">
				<p>{{modalMessage}}</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" (click)="refreshPage()" title="Click here to refresh."
					aria-label="Click here to refresh.">
					Refresh
				</button>
			</div>
		</div>
	</div>
</div>
