.font-style {
    font-weight: 700;
    font-size: 14px !important;
}

.btn-align {
    position: relative;
    display: flex;
}

.btn-position {
    position: absolute;
    right: 1.7rem;
    top: -0.3rem;
}