.preview-actions .p-delete:hover {
    color: #087ef7 !important;
}

.preview-actions i {
    color: #0460c2;
    width: 25px;
    height: 25px;
    background: #cfdeed;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}


.location-options {
    padding: 0;
    -webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    top: 0;
    right: 0;
    text-align: left;
    list-style: none;
    position: absolute;
    z-index: 1000;
}

.location-options li {
    background: #fff;
    padding: 10px 10px !important;
}

.location-options li:hover {
    background-color: #F5f5f5;
    ;
}

.location-options li a:hover {
    background-color: transparent !important;
}

.location-options li a {
    color: #212529 !important;
}

.nav-bar-count {
    position: absolute;
    top: -3px;
    right: -1px;
    border-radius: 50%;
    background-color: #f00;
    color: #fff;
    font-size: 0.6875rem;
    /* padding-left: 1px; */
    padding-bottom: 15px;
    display: inline-block;
    width: 15px;
    height: 4px;
}

.icons-toggle::after {
    display: none !important;
}

.action-dropdown-menu .dropdown-item {
    color: #005ea6 !important;
}

.add-activity-button {
    min-width: 4rem !important;
}

.activity-icon {
    width: 20px;
}

.top-7 {
    top: 7px;

}

.updown-arrow {
    width: 32px;
}

.updown-arrow:hover {
    color: #007DEC;
}

.ml-0 {
    margin-left: 0 !important;
}

a {
    color: inherit;
}

.button-right {
    width: 139px;
}

.toggle-header-btn {
    width: 30px;
    color: #A64040;
    height: 30px;

    mat-icon {
        transform: scale(1.2);
    }
}

.table-data {
    color: #48647f;
}

.table-actions-margin {
    padding-right: 80px;
}

.margin-person-card {
    margin-left: -11px;
    margin-right: -11px;
}

.desc-collapse {
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
}

.date-field-error {
    right: 28px;
    position: absolute;
    top: 8px;
}

.toggle-btn {
    transform: translate(-50%, -50%);
    top: 50%;
    right: 0px;
}

@media(max-width: 991px) {
    .table {
        width: max-content;
    }

    .desc-col {
        width: 200px !important;
    }

    .modal-lg {
        max-width: 80%;
    }
}

.desc-col {
    width: 30%;
}
