<div class="card mt-3">
  <div class="col-12" *ngIf="!isFlag">
    <ng-container *ngIf="grantCallKpiList!=null">
      <div class="card" *ngFor="let kpis of grantCallKpiList; let index = index;">
        <div class="card-content">
          <div class="card-body p-0">
            <div class="card">
              <div class="card-header px-3">
                <h4 class="card-title" id="kpi-title">{{kpis.description}}
                  <button title="Click to view criteria" class="updown-arrow"
                    (click)="isCollapsed[index] =!isCollapsed[index]">
                    <i aria-hidden="true"
                      [ngClass]="isCollapsed[index] ? 'fa fa-angle-double-up':'fa fa-angle-double-down'"
                      class="fa-large"></i>
                  </button>
                </h4>
              </div>
              <div class="card-content">
                <table class="table tableSkin grid2">
                  <caption class="sr-only">KPI Title</caption>
                  <thead class="d-none">
                    <tr>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="isCollapsed[index]">
                    <tr *ngFor="let criteriaList of kpis.grantCallKpiCriterias;let j = index;">
                      <td> {{criteriaList.description}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="no-data-container" *ngIf="grantCallKpiList?.length < 1">
        <span class="no-data-icon-outer">
            <div class="no-data-icon">
                <i class="fa fa-file-o" aria-hidden="true"></i>
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
            </div>
        </span>
        <h4>There is no information in this section.</h4>
    </div>
  </div>
</div>
