.mandatory-text {
    font-size: 12px;
    font-weight: 400 !important;
}

.coloumn-font {
    font-weight: 500;
}

.row > div {
    margin-bottom: 14px;
}

.cusele-textarea {
    background: transparent;
}

.collapse-text {
    color: #4b4bc4;
    text-decoration: underline;
    font-style: italic;
}

.text-color {
    color: #48647f;
    font-weight: 500;
    font-size: 14px;
}

.success-banner {
    font-size: 13px;
    padding: 7px;
    color: #606060;
    background-color: #eef0fc;
    font-style: italic;
}

.retry-toast {
    position: fixed;
    top: 23px;
    left: 50%;
    z-index: 9999;
    padding: 6px 0;
    border-radius: 3px;
    transform: translate(-50%, -50%);
}

.fileChips span {
    display: inline-block;
    background: #dedede;
    padding: 3px 8px 3px 3px;
    border-radius: 11px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 12px;
}
