.btn-none {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    transition: transform 0.1s ease;
}

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 5px;
        background-color: #e9545d;
        -webkit-transition: .4s;
        transition: .4s;
        width: 100%;
        height: 26px;

        &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 6px;
            bottom: 5px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        &.round {
            border-radius: 34px;
        }

        &.round:before {
            border-radius: 50%;
            box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .1);
        }
    }

    .activate-text {
        margin-left: -20px !important;
        margin-top: 4px;
        color: #fff;
        transition: all .5s ease;
    }

    small {
        margin-left: 16px;
        margin-top: 4px;
        display: inline-block;
        font-weight: 700;
        font-size: 0.75rem;
        color: #fff;
        transition: margin .5s ease;
    }
}

input:checked+.slider {
    background-color: #27b557;
}

input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.disabled-background {
    opacity: .4;
    cursor: not-allowed !important;
}
