.note-text {
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
}

.btn-outline-secondary {
    font-size: 1.4rem;
    min-width: 5em;
    padding: .5rem 1rem;
    height: 35px;
}

.single-menu {
    background: #000000c7;
    margin-top: 2px;
    color: white;
    width: fit-content;
    border-radius: 5px;
    font-size: 14px;
}

.comments-view {
    background-color: #e8e1e16e;
    padding: 5px;
    color: #48647f;
    font-weight: 400;
    margin: 13px;
}

.hovering-card {
    background-color: #d6efc1;
    position: relative;
    height: 135px;
    border-radius: 20% 20% 20% 20%;
}

.hovering-card::before {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-top: 30px solid #a3c399;
    border-right: 30px solid #f5f5f5;
}

.edit-round {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    background: #fff;
}


::ng-deep .ck.ck-editor__editable_inline {
    border: 1px solid #d3d1d1 !important;
    min-height: 100px;
}

.paper-fold {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2em 2em 0;
    border-color: transparent #f1f2f2 transparent transparent;
}

.single-menu:hover {
    background-color: #1c1919c7;
}

.menu-options {
    position: absolute;
    right: -8px;
    top: 25px;
    width: max-content;
    direction: rtl;
}

.notes-content {
    height: 90px;
}

.pi-info-text {
    background-color: #F3F3F3;
    color: #41464B;
}

.create-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 218px;
    font-weight: 500;
    font-size: 0.9375rem;
}
