.warning-icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ECD551;
    color: #816D00;
}

.custom-alert-warning {
    background-color: #FFFEE0;
    color: #000;
    border: 2px solid #ECD551;
    border-radius: 0.5rem;
}


.error-icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f34646;
}

.custom-alert-error {
    background-color: #e05e21;
    color: #000;
    border: 2px solid #180101;
}
