.rl-acrdn-i {
	float: right;
	margin-top: 2px;
	margin-right: 1px;
	font-size: 1.25rem!important;
}
.rl-modulelist{
    display: inline-block;
    margin: 5px 16px;
}
.rl-checkbox-ml{ margin-left: -17px !important;}
.advanced-list {padding: 0 !important;}
.rl-icn-algn{
    float: right !important;
    font-size: 1.2rem !important;
}
.btn-link{
    color: #26A69A;
    text-decoration: underline !important;
}
.ml-11 {margin-left: -11 px !important;}
.mandatory {font-size: 1.28rem !important;}
.rl-pd-10{ padding: 10px !important}
.topHeading{
    /* padding-left: 10px; */
    font-size: 1.36rem;
}
.bg-st {
background-color: #e0fcff;
margin-top: -4px;
}
.form-row > div {
    margin-bottom: 1.4rem;
}
