.switch-view {
    color: #2a71e8 !important;
    
}
.switch-view.active i {
    color:#1e847b;
    background-color:#e7f7f4ed;
}
.switch-view i:hover {
    background: #e7f7f4 !important;
    cursor: pointer;
    color: #0baf7e !important;

}
.fa-list, .fa-calendar {
    padding: 5px 5px 5px;
    border-radius: 3px;
}
.form-row > div {
    margin-bottom: 1.4rem;
}
