
/*Last updated by Arun Raj on 12-12-2019
 switch*/

.switch-field-radio {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.switch-field-radio input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
}

.switch-field-radio label {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  text-align: center;
  padding: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
  width: 50%;
  height: 35px;
  line-height: 19px;
}

.switch-field-radio label:hover {
  cursor: pointer;
}

.switch-field-radio input:checked+label {
  background-color: #f9f9f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #666666;
  font-weight: 600;
}

.switch-field-radio label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field-radio label:last-of-type {
  border-radius: 0 4px 4px 0;
}
.switch-field-radio input + label > i {    
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.switch-field-radio input:checked + label > i {
  color: #0abb87;
  margin-right: 5px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.message-body {
  border: solid 1px #f1f1f1;
}
::ng-deep .ck.ck-editor__editable_inline {
  border: 1px solid #d3d1d1 !important ;
  min-height: 100px;
}
