.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(74 74 74 / 32%);
    z-index: 50;
}

.info-card {
    background: #f3f3f3;
    padding: 9px;
    border-radius: 6px;
    border: 1px solid #e4e4e4;
}

.btn-outline-secondary {
    font-size: 1.4rem;
    min-width: 4em;
    padding: .5rem 1rem;
    height: 35px;
}

.comment-card {
    border: 1px solid #e4e4e4;
}

.info-icon {
    margin-top: -7px;
    height: 15px;
    width: 22px;
    font-size: 1.6rem;
    position: relative;
    margin-left: 2px;
    color: #6f7395;
    cursor: pointer;
}

.main-title {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 15px;
}

.time-line::before {
    content: '';
    position: absolute;
    height: 100%;
    border-left: 1.25px dashed #748e9c;
    left: 72px;
}

.time-line {
    max-width: 98%;
}

.person-card {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 0px 0px 20px 20px;
}

.rounded-pill {
    position: absolute;
}

.bg-success {
    background-color: #6cc973;
}

.scrollable-table {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    overscroll-behavior: contain;
}

.scrollable-table thead {
    position: sticky !important;
    top: 0;
    z-index: 1;
}

::-webkit-scrollbar {
    width: .4em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

.disable-scroll {
    overflow-y: hidden !important;
}

.activity-icon {
    width: 1.5rem;
    margin-right: 7px;
}

.badge-width {
    width: 135px;
    padding: 5px;
}

.comment-box-height {
    padding-left: 23px;
}

.slider-base {
    position: fixed;
    z-index: 51;
    top: 0;
    right: -83%;
    width: 80%;
    height: 100%;
    padding-left: 0;
    background-color: #ffecec85;
    box-shadow: -1px 0px 6px 1px rgba(0, 0, 0, 0.12);
    transition: right 600ms cubic-bezier(.42, .8, .67, 1.06);
}

.slider-opened {
    right: 0 !important;
}

.slider-container {
    background-color: #fff;
    height: 100vh;
    padding: 0px 10px 10px 10px;
    overflow: auto;
}

.info-icon {
    top: 17px;
    height: 22px;
    width: 22px;
    font-size: 1rem;
    position: absolute;
    margin-left: 0px;
    color: #6f7395;
    cursor: pointer;
}

.grey-info {
    background: #EEEEEE;
    color: #202c2e;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #caced2;
}

.risk-card {
    padding: 14px;
    border: none;
}

.history-card {
    padding: 14px;
    border: none;
    border: 1px solid #caced2;
}

.invalid-border {
    border-color: #dc3545 !important;
}

.history {
    margin: 14px;
    border: 1px #caced2;
}

.highlight-node {
    background-color: #EEEEEE;
    color: #202c2e;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #ded8d8;
}

.history-border {
    box-shadow: 0px 0px 3px #00000029;
}

.history-date {
    background-color: #cbe8f6;
}

.entity-card {
    padding-right: 13px;
    padding-left: 11px;
}

.history-card {
    padding: 14px;
    border: none;
    padding: 11px 11px 11px 13px;
    border: 1px solid #dbdbdb;
}

.border-left-line {
    border-left: solid #007DEC;
}

.noDataExists {
    color: #9e9e9e !important;
    font-size: 0.8125rem;
    margin-left: 8px;
}
