<div class="position-relative d-flex align-items-center justify-content-between border-bottom pt-3 pb-2 ps-2 pe-1" id="COI802">
    <h3 class="fs-16">
        <span class="d-flex align-items-center">
            <strong tabindex="-1" aria-label="engagements">Engagements</strong>
            <span class="d-inline-block" data-bs-toggle="tooltip" title="View engagement details." data-bs-placement="top">
                <mat-icon class="ms-1 f-16 position-relative mt-1 text-secondary"
                    data-bs-toggle="tooltip">info</mat-icon>
            </span>
        </span>
    </h3>
    <button class="position-static d-flex justify-content-center align-items-center btn toggle-btn border rounded-5 shadow-sm p-0"
        [attr.aria-label]="'Click here to ' + (coiService.isExpandSummaryBySection['COI802'] ? 'collapse' : 'expand') + ' Engagements'"
        [title]="coiService.isExpandSummaryBySection['COI802'] ? 'Click here to collapse engagements' : 'Click here to expand engagements'"
        (click)="coiService.isExpandSummaryBySection['COI802'] = !coiService.isExpandSummaryBySection['COI802']">
        <mat-icon aria-hidden="true" [ngClass]="coiService.isExpandSummaryBySection['COI802'] ? 'coi-rotate-180' : 'coi-rotate-0'">expand_more</mat-icon>
    </button>
</div>

<div *ngIf="coiService.isExpandSummaryBySection['COI802']">
    <ng-container *ngIf="isLoading">
        <ng-container *ngIf="coiFinancialEntityDetails?.length">
            <div *ngFor="let item of coiFinancialEntityDetails | SearchFilter : searchText:['coiEntity.coiEntityName']; let engagementIndex = index" class="pb-2">
                <app-shared-sfi-card [reqObject]='item' [referredFrom]="'SFI_SUMMARY'" (viewSlider)="openEngagementSlider($event)"
                    (reviewSlider)="openReviewerComment($event)" [commentDetails]="item?.commentDetails"
                    [isShowRiskLevel]="isShowEngagementRisk" [uniqueId]="'disclosure-summary-' + engagementIndex">
                </app-shared-sfi-card>
            </div>
        </ng-container>
        <app-no-information *ngIf="!coiFinancialEntityDetails?.length"><span>There are no engagements associated with this disclosure.</span></app-no-information>
    </ng-container>
</div>
