.m-10{
    margin: 10px;
    width: 97%;
  }
  .scroll-table {
    overflow-y:scroll;
    height: 300px;
    float: left;
    width: 100%;
  }
  .down-arrow{
    text-align: center;
    font-size: 16px;
  }
  .font-size{font-size: 13px;}
  table.tableSection tbody {
    overflow: auto;
    height: auto!important;
    border-top: none;
  }
  ::-webkit-scrollbar {
    width: .4em;
    height: 4em;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-track-piece {
    background: #eee
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc
  }
  .icons-toggle::after
  {
   display: none !important;
  }
  .form-row > div {
    margin-bottom: 1.4rem;
  }
  .list {
    list-style: none;
  }
  