<div *ngIf="isHelpTextEnable"
    class="success-banner px-3 mx-1 my-2 d-flex justify-content-between align-items-center ng-star-inserted">
    <div>
        <i aria-hidden="true" class="fa fa-info-circle mr-1 info-icon"></i>
        <em class="ng-star-inserted"> The addition/modification of permissions conflicts with another variation that is currently In Progress.
             Please use the 'In progress variation' for any modification.</em>
    </div>
    <button aria-label="Close" class="close close-button" type="button" (click)="isHelpTextEnable=false">
        <span aria-hidden="true" class="d-block">×</span>
    </button>
</div>
<div id="Award107" class="card my-3">
    <div class="card mb-3" [ngClass]="{'pb-0': isCollapseList[role.roleName]==false}"
        *ngFor="let role of roleList;let index=index">
        <div class="card-header" *ngIf="filterPersonPerRole(role.roleId)?.length > 0">
            <h4 class="card-title">{{role.roleName}}
                <button class="updown-arrow float-right" id="budgetExpandBtn">
                    <i aria-hidden="true" class="fa-large fa fa-angle-double-up"
                        [ngClass]="(isCollapseList[role.roleName]!=true)?'fa fa-angle-double-down':'fa fa-angle-double-up'"
                        (click)="collapseRoleTables(role.roleName)"></i>
                </button>
            </h4>
        </div>
        <div class="hiddenRow" *ngIf="isCollapseList[role.roleName]==true">
            <div class="card-content" *ngIf="filterPersonPerRole(role.roleId)?.length > 0">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tableSkin grid2">
                            <caption class="sr-only"> <ng-container i18n="@@AWARD_ROLES_DETAILS">Roles Details</ng-container></caption>
                            <thead>
                                <th scope="col" style="width:30%">User ID</th>
                                <th scope="col" style="width:30%">Full Name</th>
                                <th scope="col" style="width:30%">Home Unit</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let personRole of filterPersonPerRole(role.roleId)"
                                    id="{{personRole.awardPersonRoleId}}">
                                    <ng-container *ngIf="personRole?.person">
                                        <td>{{personRole?.person?.principalName}}</td>
                                        <td>{{personRole?.person?.fullName}}</td>
                                        <td>{{personRole?.person?.unit?.unitName}}</td>
                                    </ng-container>
                                </tr>
                                <tr *ngIf="filterPersonPerRole(role.roleId)?.length==0">
                                    <td colspan="4" class="text-center">
                                        No person is assigned under {{role.roleName}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>