$themes: (
  green: (    
    secondarybuttonColor: $blue-grey-light,
    secondarybuttonHoverColor:#5f5c5c,
    tertiarybuttonColor: rgb(230, 245, 243),    
    cardHeaderBgColor: theme-color('grey-light', 'base'),
    activeSubTabMenuColor: #d3d8ef,
    inActiveSubTabMenuColor: #f0f3ff,
    infoBoxBackgroundColor : #effafb,    
    primaryColor: theme-color('green', 'base'),
    secondaryColor: $white,
    tertiaryColor: $color_star_dust_approx,
    quaternaryColor: $color_alto_approx,
    fontColor: theme-color('blue-grey'),
    fontColorLight: $text-color-light,
    bodyBgColor: theme-color('white-grey', 'base'),
    stickyHoverColor: #31a69a,
    stickyBodyColor: #f3fffe,
    primaryButtonColor: #2c77f4
  ),
  green-light: (    
    secondarybuttonColor: $blue-grey-light,
    secondarybuttonHoverColor:#5f5c5c,
    tertiarybuttonColor: rgb(230, 245, 243),    
    cardHeaderBgColor: theme-color('grey-light', 'light'),
    activeSubTabMenuColor: #d3d8ef,
    inActiveSubTabMenuColor: #f0f3ff,
    infoBoxBackgroundColor : #effafb,    
    primaryColor: theme-color('green', 'light'),
    secondaryColor: $white,
    tertiaryColor: $color_star_dust_approx,
    quaternaryColor: $color_alto_approx,
    fontColor: theme-color('blue-grey', 'light'),
    fontColorLight: $text-color-light,
    bodyBgColor: theme-color('white-grey', 'light'),
    stickyHoverColor: #31a69a,
    stickyBodyColor: #f3fffe,
    primaryButtonColor: #2c77f4
  ),
  green-dark: (    
    secondarybuttonColor: $blue-grey-light,
    secondarybuttonHoverColor:#5f5c5c,
    tertiarybuttonColor: rgb(230, 245, 243),    
    cardHeaderBgColor: theme-color('grey-light', 'dark'),
    activeSubTabMenuColor: #d3d8ef,
    inActiveSubTabMenuColor: #f0f3ff,
    infoBoxBackgroundColor : #effafb,    
    primaryColor: theme-color('green', 'dark'),
    secondaryColor: $white,
    tertiaryColor: $color_star_dust_approx,
    quaternaryColor: $color_alto_approx,
    fontColor: theme-color('blue-grey', 'dark'),
    fontColorLight: $text-color-light,
    bodyBgColor: theme-color('white-grey', 'dark'),
    stickyHoverColor: #31a69a,
    stickyBodyColor: #f3fffe,
    primaryButtonColor: #2c77f4
  ),
  blue: (    
    secondarybuttonColor:$color_tapa_approx,
    secondarybuttonHoverColor:#5f5c5c,
    tertiarybuttonColor: rgb(231, 240, 251),    
    cardHeaderBgColor: theme-color('grey-blue', 'base'),
    activeSubTabMenuColor: #d3d8ef,
    inActiveSubTabMenuColor: #f0f3ff,
    infoBoxBackgroundColor : #efeffb,    
    primaryColor: theme-color('blue', 'base'),
    secondaryColor: $white,
    tertiaryColor: $color_star_dust_approx,
    quaternaryColor: $color_alto_approx,
    fontColor: theme-color('blue-grey'),
    fontColorLight: $text-color-light,
    bodyBgColor: theme-color('white-grey', 'base'),
    stickyHoverColor: #3146a6,
    stickyBodyColor: #f3f4ff,
    primaryButtonColor: #0abb87//#1dc9b7
  ),
  blue-light: (    
    secondarybuttonColor:$color_tapa_approx,
    secondarybuttonHoverColor:#5f5c5c,
    tertiarybuttonColor: rgb(231, 240, 251),    
    cardHeaderBgColor: theme-color('grey-blue', 'light'),
    activeSubTabMenuColor: #d3d8ef,
    inActiveSubTabMenuColor: #f0f3ff,
    infoBoxBackgroundColor : #efeffb,    
    primaryColor: theme-color('blue', 'light'),
    secondaryColor: $white,
    tertiaryColor: $color_star_dust_approx,
    quaternaryColor: $color_alto_approx,
    fontColor: theme-color('blue-grey'),
    fontColorLight: $text-color-light,
    bodyBgColor: theme-color('white-grey', 'light'),
    stickyHoverColor: #3146a6,
    stickyBodyColor: #f3f4ff,
    primaryButtonColor: #0abb87//#1dc9b7
  ),
  blue-dark: (    
    secondarybuttonColor:$color_tapa_approx,
    secondarybuttonHoverColor:#5f5c5c,
    tertiarybuttonColor: rgb(231, 240, 251),    
    cardHeaderBgColor: theme-color('grey-blue', 'dark'),
    activeSubTabMenuColor: #d3d8ef,
    inActiveSubTabMenuColor: #f0f3ff,
    infoBoxBackgroundColor : #efeffb,    
    primaryColor: theme-color('blue', 'dark'),
    secondaryColor: $white,
    tertiaryColor: $color_star_dust_approx,
    quaternaryColor: $color_alto_approx,
    fontColor: theme-color('blue-grey'),
    fontColorLight: $text-color-light,
    bodyBgColor: theme-color('white-grey', 'dark'),
    stickyHoverColor: #3146a6,
    stickyBodyColor: #f3f4ff,
    primaryButtonColor: #0abb87//#1dc9b7
  )
);


