.preview-actions .p-delete:hover {
    color: #087ef7 !important;
}

.preview-actions i {
    color: #0460c2;
    width: 25px;
    height: 25px;
    background: #cfdeed;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.button-right {
    margin-right: 40px;
}

.location-options {
    padding: 0;
    -webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    top: 0;
    right: 0;
    text-align: left;
    list-style: none;
    position: absolute;
    z-index: 1000;
}

.location-options li {
    background: #fff;
    padding: 10px 10px !important;
}

.location-options li:hover {
    background-color: #e2eaea;
    ;
}

.location-options li a:hover {
    background-color: transparent !important;
}

.location-options li a {
    color: #212529 !important;
}

.review-title {
    line-height: 35px;
}

.nav-bar-count {
    position: absolute;
    top: -3px;
    right: -1px;
    border-radius: 50%;
    background-color: #f00;
    color: #fff;
    font-size: 11px;
    /* padding-left: 1px; */
    padding-bottom: 15px;
    display: inline-block;
    width: 15px;
    height: 4px;
}

.icons-toggle::after {
    display: none !important;
}

.action-dropdown-menu .dropdown-item {
    color: #005ea6!important;
}

.add-activity-button {
    min-width: 4rem!important;
}

.activity-icon {
    width: 20px;
}