<div class="side-bar h-100" #sideBarMenu [ngClass]="isNavExpanded?'side-bar-open':'side-bar-closed'">
    <div class="d-flex flex-column position-relative top-0 width-max-content h-100">
        <!-- navigation-menu -->
        <ul id="eri-left-navigation-menu" aria-label="navigation menu"
            class="list-unstyled d-flex flex-column fs-16 text-secondary text-white bg-red pt-5 navigation-menu position-relative mb-0">
            <!-- expand collapse  -->
            <span class="left-menu-icon" (click)="!isNavExpanded && toggleNavBar(true)">
                <mat-icon role="img" class="mat-icon notranslate  material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">chevron_right</mat-icon>
            </span>

            <!-- Reporter Dashboard -->
            <button id="coi-reporter-dash-btn" aria-label="Go to Home"
                [attr.title]="_router.url.includes('/coi/user-dashboard') ? 'Home' : 'Go to Home'"
                class="btn d-flex align-items-center btn-none cursor-pointer fw-500 hover-inactive-list hover-left-movement my-2 mx-3 rounded p-2"
                routerLinkActive="active-list" [routerLink]="['/coi/user-dashboard']" (click)="scrollToTop()">
                <span class="icon-btn"><mat-icon>home</mat-icon> <span class="text-start text-nowrap width-170px text-indent-15px ps-3">Home</span></span>
            </button>

            <!--COI Reviewer Dashboard -->
            <button *ngIf="canViewReviewerDashboard" id="coi-reviewer-dash-btn" attr.aria-label="Go to reviewer dashboard"
                [attr.title]="_router.url.includes('/coi/reviewer-dashboard')
                    ? 'Reviewer Dashboard' : 'Go to Reviewer Dashboard'"
                class="btn d-flex align-items-center btn-none cursor-pointer fw-500 hover-inactive-list hover-left-movement mb-2 mx-3 rounded p-2"
                routerLinkActive="active-list" [routerLink]="['/coi/reviewer-dashboard']" (click)="scrollToTop()">
                <span class="icon-btn">
                    <img src="{{deployMap}}assets/images/reviewer-dashboard.svg" alt="Reviewer Dashboard" class="left-nav-svg-icon" aria-hidden="true">
                    <span class="text-start text-nowrap width-170px text-indent-15px ps-3">Reviewer Dashboard</span>
                </span>
            </button>

            <!--COI ADMIN Dashboard -->
            <button *ngIf="canViewFCOIDashboard" id="coi-admin-dash-btn" attr.aria-label="Go to {{COMMON_DISCL_LOCALIZE.TERM_COI}} Disclosures"
                [attr.title]="_router.url.includes('/coi/admin-dashboard')
                    ? COMMON_DISCL_LOCALIZE.TERM_COI + ' Disclosures' : 'Go to '+ COMMON_DISCL_LOCALIZE.TERM_COI +' Disclosures'"
                class="btn d-flex align-items-center btn-none cursor-pointer fw-500 hover-inactive-list hover-left-movement mb-2 mx-3 rounded p-2"
                routerLinkActive="active-list" [routerLink]="['/coi/admin-dashboard']" (click)="scrollToTop()">
                <span class="icon-btn">
                    <img src="{{deployMap}}assets/images/FCOI_Icon.svg" alt="{{COMMON_DISCL_LOCALIZE.TERM_COI}} Disclosure" class="left-nav-svg-icon" aria-hidden="true">
                    <span class="text-start text-nowrap width-170px text-indent-15px ps-3">{{ COMMON_DISCL_LOCALIZE.TERM_COI }} Disclosures</span>
                </span>
            </button>

            <!--Project Dashboard -->
            <button *ngIf="canViewProjectDashboard" id="coi-project-dash-btn" aria-label="Go to Project Dashboard"
                [attr.title]="_router.url.includes('/coi/project-dashboard') ? 'Project Dashboard' : 'Go to Project Dashboard'"
                class="btn d-flex align-items-center btn-none cursor-pointer fw-500 hover-inactive-list hover-left-movement mb-2 mx-3 rounded p-2"
                routerLinkActive="active-list" [routerLink]="['/coi/project-dashboard']" (click)="scrollToTop()">
                <span class="icon-btn"><mat-icon aria-hidden="true">ballot</mat-icon> <span
                        class="text-start text-nowrap width-170px text-indent-15px ps-3">Project Dashboard</span></span>
            </button>

            <!-- OPA Dashboard -->
            <button *ngIf="canViewOPADashboard" id="coi-opa-dash-btn" aria-label="Go to OPA Disclosures"
                [attr.title]="_router.url.includes('/coi/opa-dashboard') ? 'OPA Disclosures' : 'Go to OPA Disclosures'"
                class="btn d-flex align-items-center btn-none cursor-pointer fw-500 hover-inactive-list hover-left-movement mb-2 mx-3 rounded p-2"
                routerLinkActive="active-list" [routerLink]="['/coi/opa-dashboard']" (click)="scrollToTop()">
                <span class="icon-btn">
                    <mat-icon aria-hidden="true">pending_actions</mat-icon>
                    <span class="text-start text-nowrap width-170px text-indent-15px ps-3">OPA Disclosures</span></span>
            </button>

            <!-- Declarations Dashboard -->
            <button *ngIf="canViewDeclarationDashboard" attr.aria-label="Go to {{ declarationLocalize.PLURAL_TERM }}"
                [title]="(_router.url.includes('/coi/declaration-dashboard') ? '' : 'Go to ') + declarationLocalize.PLURAL_TERM"
                class="btn d-flex align-items-center btn-none cursor-pointer fw-500 hover-inactive-list hover-left-movement mb-2 mx-3 rounded p-2"
                routerLinkActive="active-list" [routerLink]="['/coi/declaration-dashboard']" (click)="scrollToTop()">
                <span class="icon-btn">
                    <img src="{{deployMap}}assets/images/coi-declaration.svg" alt="declaration icon" class="left-nav-svg-icon">
                    <span class="text-start text-nowrap width-170px text-indent-15px ps-3">{{ declarationLocalize.PLURAL_TERM }}</span></span>
            </button>

            <!-- Entity Dashboard -->
            <button *ngIf="canViewEntityDashboard" id="coi-entity-dash-btn" aria-label="Go to Manage Entities" title="Go to Manage Entities" id="coi-entity-dashbaord-btn"
                    [attr.title]="_router.url.includes('/coi/entity-dashboard') ? 'Manage Entities' : 'Go to Manage Entities'"
                    class="btn d-flex align-items-center btn-none cursor-pointer fw-500 hover-inactive-list hover-left-movement mb-2 mx-3 rounded p-2"
                    routerLinkActive="active-list" [routerLink]="['/coi/entity-dashboard']" (click)="scrollToTop()">
                <span class="icon-btn"><mat-icon>domain</mat-icon> <span class="text-start text-nowrap width-170px text-indent-15px ps-3">Manage Entities</span></span>
            </button>

            <!-- COI Configuration -->
            <button *ngIf="canViewAdminDashboard" id="coi-config-btn" aria-label="Go to COI Configuration" title="Go to COI Configuration"
                    [attr.title]="_router.url.includes('/coi/configuration') ? 'COI Configuration' : 'Go to COI Configuration'"
                    class="btn d-flex align-items-center btn-none cursor-pointer fw-500 hover-inactive-list hover-left-movement mb-2 mx-3 rounded p-2"
                    routerLinkActive="active-list" [routerLink]="['/coi/configuration']" (click)="scrollToTop()">
                <span class="icon-btn"><mat-icon>apps</mat-icon> <span class="text-start text-nowrap width-170px text-indent-15px ps-3">COI Configuration</span></span>
            </button>

        </ul>
    </div>
</div>
