$grey-text-color: #7c7c7c;

ul {
    padding-right: 20px;

    button {
        border: none;
        font-size: 1.4rem;
        width: 100%;
        overflow: hidden;

        &:hover {
            background-color: #efefef;
            color: #0948b2;
            
            .left-nav-svg-icon {
                filter: invert(20%) sepia(76%) saturate(2726%) hue-rotate(210deg) brightness(88%) contrast(96%);
            }
        }

        .icon-btn {
            display: flex;
            align-items: center;
            width: max-content;
            height: max-content;
        }

        .left-nav-svg-icon {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
        }

        &.active-list {
            background-color: #d4ebff !important;

            .left-nav-svg-icon {
                filter: invert(34%) sepia(75%) saturate(3491%) hue-rotate(193deg) brightness(97%) contrast(100%);
            }
        }
    }
}

.menu-icon {
    color: $grey-text-color;
    padding-bottom: 20px;
}

.img-container {
    width: 25px;
    height: 23px;
}

.left-menu-icon {
    color: #000;
    border: solid 1px #e1e3e1;
    display: inline-flex;
    position: absolute;
    top: 10px;
    right: -13px;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.12);

    .mat-icon {
        transition: ease-in-out 0.4s;
    }

    &:hover {
        cursor: pointer;
        background: #eceeef;
        color: #007dec;
        border: solid 1px #d5d5d5;
        box-shadow: none !important;
    }
}

.side-bar-open {
    .left-menu-icon .mat-icon {
        transform: rotate(180deg);
        transition: all .4 ease-in-out;
        transition-delay: .2s;
    }
}

.side-bar-closed {
    .left-menu-icon .mat-icon {
        transform: rotate(0deg);
        transition: all .4 ease-in-out;
        transition-delay: .2s;
    }
}
