.tab-sticky {
    position: sticky;
    width: 100%;
    z-index: 2;
    background: #eef7ff;
    box-shadow: 0px 3px 6px -5px #000000;
    padding-top: 5px;
    padding-bottom: 5px;}
/* The custom-checkbox */

.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.nav-style {
    background: #cce5ff;
    padding: 5px;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.26);
    border-radius: 3px;
    /* border-bottom-left-radius: 5px; */
    color: #2a6fe7;
  }
  .nav-style:hover {
    border-radius: 3px !important;
    outline: none;
    color: white;
    background: #2a6fe7;
  }
  .deleted-data{
    color: #ffb6b6 !important;
  }
  .added-data{
    color: #d8f8bc !important;
  }
  .right-arrow{
    color: #1e847b;
    font-size: 20px !important;
    font-weight: 600 !important;
  }
  .base-variant-text-color{
    color: #48647f;
    font-weight: 500;
  }

