@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

.nav-progress {
	overflow: hidden;
	margin: 0;
	width: 100%;
	height: 45px;
	background-color: #E4F1FF;

	>div {
		font-size: 1.4rem;
		position: relative;
		display: table-cell;
		padding: 14px 0;
		color: #666667;
		text-align: center;
		line-height: 1.250em;
		font-weight: 500;

		&.complete {
			background-color: #3F79CC;
			color: #FFF;

			.arrow {
				border: 8px solid rgb(219, 219, 219) !important;
				background: #3F79CC !important;
			}
		}

		&.active {
			background-color: #3F79CC;
			color: #FFF;

			.arrow {
				background: #3F79CC !important;
			}
		}
	}
}

.arrow-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;

	.arrow-cover {
		position: absolute;
		overflow: hidden;
		width: 35px;
		height: 50px;

		.arrow {
			position: absolute;
			left: -23px;
			z-index: 2;
			width: 47px;
			height: 47px;
			top: -1px;
			border: 8px solid rgb(219, 219, 219);
			background: transparent;
			@include border-radius(0px);
			@include rotate(45deg);
		}
	}
}


.navigation-tabs {
	height: 45px;
	background-color: #E4F1FF;
}

.collapse-right-tab {
	height: 89px;
	background-color: #E4F1FF;
	transition: height 0.5s ease-in-out;
}

.navigation-box {
	padding: 0 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: #606060;
}

.navigation-box-content {
	padding: 10px 0;
	border-bottom: 2px solid transparent;

	&.active {
		color: #007DEC;
		border-bottom: 2px solid #007DEC;
	}
}

.moreActionIcon {
	transform: scale(.9);
	width: 20px;
}

.returnIcon {
	transform: rotate(-0.25turn);
	transform: scaleX(-1);
}

.nav-border-right {
	border-right: 1px solid #afafaf !important;
}

.nav-btn-grey.active {
	color: #fff;
	background-color: #007dec;
}

.mat-menu-item mat-icon,
.mat-menu-item span {
	color: grey !important;
}

.entity-margin-left {
    margin-left: -6px;
}

@media (max-height: 500px) {
    .header-sticky {
        position: relative !important;
        top: 0 !important;
    }
}
