
.hover-class p:hover {
	color: #26A69A !important;
}
.color-set {
    color: brown;
}
/* *{
    overflow-x: hidden;
 } */
.head-style{
    color: #82909d;
    font-weight: 500;
    font-size: 1.4rem;
}
.tableSkin > tbody > tr:nth-of-type(1) td {
    border-top: none !important;
}

.font-style {
    font-weight: 500;
    font-size: 13px!important;
}
