<div class="card card-widget-box h-100" [@fadeDown]>
  <div class="card-header ">
    <h4 class="card-title">{{widgetDescription?.widgetName}}
      <span *ngIf="supportData?.length > 5" class="float-right demo-class font-style">
        <a class="anchor-link" routerLink='/fibi/expanded-widgets/fibi-support'>View more</a>
        <span *ngIf="widgetDescription?.description" class="d-inline-block icon-hover pl-2">
          <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-question-circle fa-med"
              aria-hidden="true"></i>
            <div class="tooltiptext-right card card-inner p-15 text-left">
              <span class="font-cv new-line-property">{{widgetDescription?.description}}</span>
            </div>
          </a>
        </span>
      </span>
    </h4>
  </div>
  <div class="card-content" [ngClass]="{'h-100 d-flex align-items-center': !supportData.length}">
    <div class="card-body pt-0 pb-0">
      <div class="py-0">
        <div *ngIf="isShowLoader" appCustomPreloader></div>
        <div class="row p-75 row-divider" *ngFor="let support of slicedList">
          <div class="col-md-8 col-sm-12 col-xs-12 hand-cursor" (click)="goToActionPath(support)" tabindex="0">
            <span class="head-style">
              <i class="fa fa-user" aria-hidden="true"></i> {{support?.requestorFullName}} about {{support?.moduleItemCode == '13' ? 'Agreement ID' : 'Proposal ID'}} 
              {{support.moduleItemKey}} | {{support.moduleItemLabel}}
            </span>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 order-md-0 order-1 hand-cursor" (click)="goToActionPath(support)" tabindex="0">
            <span class="float-md-right head-style f-12">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              {{support?.updateTimeStamp | dateFormatterWithTimeZone: 'long'}}
            </span>
          </div>
          <div class="col-12" tabindex="0">
            <p class="mb-0">
              <span class="color-set font-weight-normal f-14">{{support?.preReviewSectionType?.description}}</span>
              <span *ngIf="support?.requestorComment != null" class="font-style f-14 black-medium">
                <ng-container *ngIf="!support?.isSupportDescriptionOpen" class="mb-0">
                  {{(support?.requestorComment).length>100 ? (support?.requestorComment | slice:0:100)+'...' : support?.requestorComment}}
                  <span *ngIf="(support?.requestorComment?.length>100)" class="hand-cursor fibiDefaultColor italian"
                    (click)="support.isSupportDescriptionOpen = !support.isSupportDescriptionOpen">Read more
                    <i [ngClass]="support?.isSupportDescriptionOpen?'fa fa-angle-double-left':'fa fa-angle-double-right'"
                      aria-hidden="true"></i>
                  </span>
                </ng-container>
                <ng-container *ngIf="support?.isSupportDescriptionOpen" class="pb-0">
                  {{support?.requestorComment}}
                  <span *ngIf="(support?.requestorComment?.length>100)" class="hand-cursor fibiDefaultColor italian"
                    (click)="support.isSupportDescriptionOpen = !support.isSupportDescriptionOpen">Show less
                    <i [ngClass]="support.isSupportDescriptionOpen?'fa fa-angle-double-left':'fa fa-angle-double-right'"
                      aria-hidden="true"></i>
                  </span>
                </ng-container>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="no-data-container" *ngIf="supportData?.length === 0">
        <span class="no-data-icon-outer">
          <div class="no-data-icon">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </div>
        </span>
        <h4 class="text-content-color">There is no information in this section.</h4>
      </div>
    </div>
  </div>
</div>