.label {
    font-size: 0.875rem;
    margin: 0 !important;
    color: #333;
    font-weight: 600;
}

.mandatory {
    color: red !important;
    padding-right: 2px;
    font-size: .875rem
}

.block-display {
    display: block !important;
}

.subcategoryalign {
    padding: 6px;
    margin-top: -6px;
    margin-left: 7px;
}

.modal .modal-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
