.icon-container {
    z-index: 2;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}


.icon-approved {
    background-color: #22ae18;
    color: white;
}

.icon-bypass {
    background-color: #391265;
    color: white;
}

.icon-waiting {
    background-color: #dbb107;
    color: white;
}

.icon-to-be-submitted {
    background-color: #2c77f4;
    color: white;
}

.icon-rejected {
    background-color: #c40808;
    color: white;
}

.icon-withdraw {
    background-color: #5d7af8;
    color: white;
}

.map-status-pending-icon {
    background-image: url(../../../../assets/images/pending-map.svg);
    background-repeat:no-repeat;
    background-size: contain;
}

.map-status-deactivate-icon {
    background-image: url(../../../../assets/images/workflow-deactivate-icon.svg);
    background-repeat:no-repeat;
    background-size: contain;
}

.map-status-ignored-icon {
    background-color: #dbdbdb;
    color: #000;
}
