
.table-head-color th {
    color: #fff;
    /* background-color: #1e847b; */
}


.budget-person-outer {
    padding-bottom: 5px;
}

.budget-person {
    border: solid 1px #ececec;
    text-align: left;
    background: #f8fbff;
}

.budget-person-head {
    background: #e7edf9;
    margin-bottom: 8px !important;
    padding: 3px;
}

.invalid-feedback {
    font-size: 1.4rem;
}

.action-icons {
    margin-right: 3px;
    font-size: 1.2rem;
    background: #E8F0FB;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
}
.select-box option:nth-last-child(1) {
    color: #2c77f3;
    text-transform: uppercase;
    font-weight: 600;
}

.budget-person-outer .insidePicker {
    top: 5px !important;
}

.form-control {
    height: 26px; 
}

