.form-control { height: 35px !important; }
.slctbx-ht {height: 25px !important;}
.badge-clr {
    background: #c3ffcd;
    color: #0a4000 !important;
    border-radius: 4px;
}
.thead-light th {background-color: #e9ecef !important;}
.budget-input-width {
    width: 160px;
}
.form-row > div {
    margin-bottom: 14px;
}
.label-styler {
	font-size: 14px !important;
	margin-bottom: 0;
	color: #333 !important;
	font-weight: 600 !important;
}
.fixed-header-table {
    max-height: 300px;
    height: auto;
    overflow-x: hidden;
}
.fixed-header-table thead tr:nth-child(1) th {
    border-bottom: #26a69a;
    position: sticky;
    top: 0;
    z-index: 2;
}
.info-txt{
    font-size: 1.2rem;
    font-weight: 400;
    opacity: .8;
}
