<?xml version="1.0" encoding="UTF-8"?>
<Context path="fibi4">
<!-- <Resource driverClassName="com.mysql.jdbc.Driver" maxActive="8" 
maxIdle="10" maxWait="5000" name="jdbc/questionnaire" password="" 
type="javax.sql.DataSource" url="jdbc:mysql://192.168.1.46:3306/kuali" 
username="root" validationQuery="select 1"/> -->
       <!-- <Resource driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="8"
                maxIdle="10" maxWait="5000" name="jdbc/questionnaire" password="fibiv20"
                type="javax.sql.DataSource" url="jdbc:oracle:thin:@172.30.4.198:1521:kuali"
                username="fibiv20" validationQuery="select 1 from dual" />  -->  
                
               <!-- <Resource driverClassName="oracle.jdbc.driver.OracleDriver" maxActive="8" 
maxIdle="10" maxWait="5000" name="jdbc/questionnaire" password="kcso" 
type="javax.sql.DataSource" url="jdbc:oracle:thin:@192.168.1.60:1521:kuali" 
username="kcso" validationQuery="select 1 from dual"/> -->

  <!-- <Resource driverClassName="oracle.jdbc.driver.OracleDriver"
                maxActive="8" maxIdle="10" maxWait="5000" name="jdbc/questionnaire"
                password="fibiv20" type="javax.sql.DataSource" url="jdbc:oracle:thin:@52.20.184.15:1521:kuali"
                username="fibiv20" validationQuery="select 1 from dual" />   -->
                 
                  <Resource driverClassName="oracle.jdbc.driver.OracleDriver"
                maxActive="8" maxIdle="10" maxWait="5000" name="jdbc/fibi4"
                password="fibisuite" type="javax.sql.DataSource" url="jdbc:oracle:thin:@192.168.1.60:1521:kuali"
                username="fibisuite" validationQuery="select 1 from dual" />  
</Context>
