<div [@fadeInOutHeight]>
    <div class="card border-0" id="opa-history">
        <div class="card-content">
            <div class="card-body">
                <ul class="timeline">
                    <ng-container *ngFor="let disclosure of disclosureHistoryLogs | keyvalue: sortNull">
                        <li *ngFor="let historyEntry of disclosure.value;">
                            <span class="fs-14" [innerHTML]="historyEntry?.message" tabindex="0"></span>
                            <p class="coi-text-lighter fs-13" tabindex="0">{{disclosure?.key}} {{historyEntry?.updateTimestamp | dateFormatterWithTimeZone:'time'}}</p>
                            <p *ngIf="historyEntry?.comment" class="coi-text-light" tabindex="0">
                                <span class="fs-14">
                                    <mat-icon class="format_quote">format_quote</mat-icon>
                                    <span *ngIf="!isReadMore[historyEntry?.updateTimestamp] && historyEntry?.comment?.length > 460; else showFullInfo" 
                                        class="fst-italic mx-2" [attr.aria-label]="historyEntry?.comment">
                                        <span class="coi-text-light mt-2">{{(historyEntry?.comment | slice:0:460)}}</span>
                                        <span (click)="isReadMore[historyEntry?.updateTimestamp] = true" class="hand-cursor" title="Read More"><span class="fw-medium">... <u>Read More</u>
                                                <i aria-hidden="true"></i></span>
                                        </span>
                                    </span>
                                    <ng-template #showFullInfo>
                                        <span [attr.aria-label]="historyEntry?.comment" class="fst-italic mx-2 coi-text-light">{{historyEntry?.comment}}</span>
                                        <span *ngIf="historyEntry?.comment?.length > 460" class="hand-cursor mt-2 fw-medium" title="Read Less"
                                            (click)="isReadMore[historyEntry?.updateTimestamp] = false" aria-hidden="true">
                                            <span class="fw-medium"><u>Read Less</u>
                                                <i aria-hidden="true"></i></span>
                                        </span>
                                    </ng-template>
                                </span>
                            </p>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div *ngIf="isEmptyObject(disclosureHistoryLogs)">
                <app-no-information [isBorderNeeded]="false"> </app-no-information>
            </div>
        </div>
    </div>
</div>


<!-- <div [@fadeInOutHeight]>
    <div class="card mt-3" id="opa-history">
        <div class="card-content">
            <div class="card-body">
                <div class="form-row">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="sr-none"></thead>
                            <tbody>
                                <tr *ngFor="let disclosure of disclosureHistoryLogs | keyvalue: sortNull">
                                    <h4 class="border-left-line pl-3 fw-700 history-date py-2 px-3" tabindex='0' [attr.aria-label]="disclosure?.key">{{disclosure?.key}}
                                    </h4>
                                    <ul class="pl-4 pr-3 mb-0">
                                        <li *ngFor="let historyEntry of disclosure.value;" class="p-3">
                                            <div class="form-row">
                                                <div class="col">
                                                    <p class="fs-14 mb-0" role="tab"tabindex='0'>
                                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                        <label class="fw-700 mx-3"[attr.aria-label]="historyEntry?.updateTimestamp | dateFormatterWithTimeZone:'time'">{{historyEntry?.updateTimestamp|
                                                            dateFormatterWithTimeZone:'time'}}</label>
                                                        <span [innerHTML]="historyEntry?.message" aria-label></span>
                                                    </p>
                                                    <span *ngIf="historyEntry?.comment" class="px-4 fs-14">
                                                        <span class="fa fa-quote-left comment-icon grey-text ml-2 fs-13"tabindex='0'></span>
                                                        <span class="word-break-all new-line-property fst-italic mx-2" [attr.aria-label]="historyEntry?.comment"
                                                            *ngIf="!isReadMore && historyEntry?.comment?.length > 460; else showFullInfo">
                                                            <span class="grey-text mt-2">{{(historyEntry?.comment | slice:0:460)}}</span>
                                                            <span (click)="isReadMore = !isReadMore" class="hand-cursor"><span class="fw-medium">... <u>Read
                                                                        more</u>
                                                                    <i aria-hidden="true"></i></span>
                                                            </span>
                                                        </span>
                                                        <ng-template #showFullInfo>
                                                            <span tabindex='0' [attr.aria-label]="historyEntry?.comment" class="word-break-all new-line-property fst-italic mx-2 grey-text">{{historyEntry?.comment}}</span>
                                                            <span class="hand-cursor mt-2 fw-medium" *ngIf="historyEntry?.comment?.length > 460" 
                                                                (click)="isReadMore = !isReadMore" aria-hidden="true">
                                                                <span class="fw-medium"><u>Read Less</u>
                                                                    <i aria-hidden="true"></i></span>
                                                            </span>
                                                        </ng-template>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="isEmptyObject(disclosureHistoryLogs)">
                        <app-no-information [isBorderNeeded]="false"> </app-no-information>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->