$color: #278cbb;

.hovering-card {
    border: .1px solid #bcd4df;
}

.custom-margin-left {
    margin-left: 130px !important;
}

.col-custom {
    width: 140px;
}

.grey-text {
    color: #6A7980;
}

.start-date {
    width: 150px;
    left: 50px;
    top: calc(50% - 30px);
}

.end-date {
    width: 150px;
    left: 50px;
    top: calc(50% + 13px);
}

.remaining-timeline,
.first-timeline {
    background-color: $color;
    width: 15px;
    height: 15px;
    margin-left: 35px;
    border-radius: 100%;
}

.remaining-timeline:before,
.first-timeline:before {
    content: "";
    border-left: 2px solid $color;
    position: absolute;
    left: 42px;
    z-index: 1;
}

.remaining-timeline:before {
    height: 200%;
    top: -150%;
}

.first-timeline:before {
    height: 55%;
    top: -5%;
}

.remaining-timeline:after,
.first-timeline:after {
    content: "";
    border-bottom: 2px solid $color;
    width: 160px;
    height: 0%;
    font-size: 2.8rem;
    color: $color;
    position: absolute;
    top: 50%;
    left: 45px;
    z-index: 1;
}

.table-scrollable {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    // border: 1px solid #ddd;
}
.travel-related-card {
    z-index: 9;
    position: relative;
}
.sticky-destination-header {
    position: sticky;
    top: 0;
    z-index: 1;
}
