<div class="coi-box-red border border-secondary border-opacity-50 fw-medium px-3 py-2 rounded-1">
        <div class="row">
        <!-- person name -->
        <div class="col-md-6 mt-1 d-flex align-items-center">
            <mat-icon aria-hidden="true" class="coi-text-light coi-details-card-mat-icon-size flex-shrink-0 me-2">person</mat-icon>
            <app-no-data-label [valueToShow]="personProjectOrEntity?.personFullName">
                <span class="coi-text-light fs-14 word-break-all">{{personProjectOrEntity?.personFullName}}</span>
            </app-no-data-label>
        </div>

        <!-- Primary title -->
        <div class="col-md-6 mt-1 d-flex align-items-center">
            <mat-icon aria-hidden="true" class="coi-text-light coi-details-card-mat-icon-size flex-shrink-0 me-2">work</mat-icon>
            <app-no-data-label [valueToShow]="personProjectOrEntity?.personPrimaryTitle">
                <span class="coi-text-light fs-14 word-break-all">{{personProjectOrEntity?.personPrimaryTitle}}</span>
            </app-no-data-label>
        </div>

        <!-- department -->
        <div class="col-md-12 col-lg-6 mt-1 d-flex align-items-center">
            <mat-icon aria-hidden="true" class="coi-text-light coi-details-card-mat-icon-size flex-shrink-0 me-2">home</mat-icon>
            <app-no-data-label [valueToShow]="personUnitDetail">
                <span class="coi-text-light fs-14">{{personUnitDetail}}</span>
            </app-no-data-label>
        </div>

        <!-- Person email -->
        <div class="col-md-6 mt-1 d-flex align-items-center">
            <mat-icon aria-hidden="true" class="coi-text-light coi-details-card-mat-icon-size flex-shrink-0 me-2">mail</mat-icon>
            <app-no-data-label [valueToShow]="personProjectOrEntity?.personEmail">
                <span class="coi-text-light fs-14 word-break-all">{{personProjectOrEntity?.personEmail}}</span>
            </app-no-data-label>
        </div>

        <!-- project new -->
        <div *ngIf="personProjectOrEntity?.projectDetails" class="col-12 my-1 d-flex align-items-center">
            <mat-icon aria-hidden="true" class="coi-text-light coi-details-card-mat-icon-size flex-shrink-0 me-2">{{personProjectOrEntity?.projectDetails?.projectIcon}}</mat-icon>
            <app-no-data-label [valueToShow]="personProjectOrEntity?.projectDetails?.projectNumber">
                <span class="coi-text-light fs-14 text-slice"
                    title="#{{ personProjectOrEntity?.projectDetails?.projectNumber }} - {{ personProjectOrEntity?.projectDetails?.title }}"
                    attr.aria-label="#{{ personProjectOrEntity?.projectDetails?.projectNumber }} - {{ personProjectOrEntity?.projectDetails?.title }}">
                    #{{ personProjectOrEntity?.projectDetails?.projectNumber }} - {{ personProjectOrEntity?.projectDetails?.title }}
                </span>
            </app-no-data-label>
        </div>

        <!-- entity -->
        <div *ngIf="personProjectOrEntity?.entityName" class="col-12 my-1 d-flex align-items-center">
            <mat-icon aria-hidden="true" class="coi-text-light coi-details-card-mat-icon-size flex-shrink-0 me-2">apartment</mat-icon>
            <app-no-data-label [valueToShow]="personProjectOrEntity?.entityName">
                <span class="coi-text-light fs-14 text-slice" [title]="personProjectOrEntity?.entityName">{{personProjectOrEntity?.entityName }}</span>
            </app-no-data-label>
        </div>
    </div>
</div>
