.badge-box{
    font-weight: normal;
    font-size: 1.2rem;
    border-radius: 10px;
    font-weight: 600
}
.badge-primary{
    padding: 2px 8px;
    color: #068a38;
    background-color: #d5ffe5;
    border: 1px solid #029d3d
}
.badge-danger {
    padding: 2px 8px;
    background-color: #ffe0e0;
    color: #c40808;
    border: 1px solid #c40808
}
