.tree {
  width: 300px;
}

.node-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.node-content-wrapper {
  flex-grow: 1;
  position: relative;
}

.pull-right {
  position: absolute;
  right: 10px;
}

.owl-dt-calendar-control {
  margin-top: 10px !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 1051;
}

.cdk-global-scrollblock .modal-open {
  overflow: visible;
}

/* themes,contrast and font */

/* .card-title, .notificationBox {
  margin-bottom: .75rem;
  color: black;
}  */

.theme.green {
  background-color: #00786a;
}

.theme.blue {
  background-color: #1875d1;
}

.theme {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  align-content: flex-end;
}

.settings-dropdown {
  background-color: #fff;
  border-radius: 0.5rem;
  border-color: #fff;
  list-style: none;
  position: absolute;
  width: 250px;
  right: -1px;
  font-size: 1.28rem;
  border-width: 3px 1px 2px;
  border-style: solid;
  text-align: left;
  -webkit-box-shadow: 0 4px 14px -1px #000;
  box-shadow: 0 4px 7px -1px #9e9e9e;
  padding: 0;
  top: 40px;
  z-index: 1 !important;
}

.settings-dropdown:before {
  content: "";
  border-width: 10px 10px 10px 10px;
  border-color: transparent transparent #dedede transparent;
  border-style: solid;
  position: absolute;
  top: -23px;
  right: 5px;
}

.mt-22 {
  margin-top: 22px;
}

.delete-background {
  background: #ffb6b6 !important;
  text-decoration: line-through;
}

.add-background {
  background: #d8f8bc !important;
}

ins {
  background: #d8f8bc !important;
}

.scroll-margin-top5 {
  scroll-margin-top: 5rem;
}

/* START drag N drop library style */
.dragging {
    opacity: 0.5;
    border: dotted 2px rgb(85, 50, 50);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    animation: ease-in 1000ms linear;
  }

  .drag-over {
    border: dashed 2px rgb(128, 62, 62);
    opacity: 0.5;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  }

  .drop {
    animation: ease-in-opacity 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    z-index: 1;
  }

  @keyframes ease-in-opacity {
    20% {
      opacity: .2;
    }
    40% {
      opacity: .4;
    }
    60% {
      opacity: .6;
    }
    80% {
      opacity: .8;
    }
  }
/*  drag N drop library style END */
  .invalid-warning {
    color: #FF7F00;
    font-size: 1.4rem;
  }
  
  .is-warning {
    border: 1px solid #FF7F00 !important;
  }

