<div class="card coi-card-regular mt-0 {{customClass}}">
    <div class="card-header">
        <div class="row row-gap-2 col">
            <div class="col-12 d-inline-flex coi-card-header-notch-container">
                <!-- Coi card badge -->
                <span class="coi-card-notch-ribbon shadow-sm"
                    [style.backgroundColor]="projectDetails?.projectBadgeColour"
                    id="coi-{{uniqueId}}-heading">{{ projectDetails?.projectType }}</span>
                <!-- project type -->
                <div class="d-flex align-items-center mt-1 ms-1">
                    <mat-icon aria-hidden="true" class="coi-text-light flex-shrink-0">{{projectDetails?.projectIcon}}</mat-icon>
                    <a tabindex="0" class="d-flex align-items-center link-primary cursor-pointer fs-6 fw-600"
                        (click)="redirectToProjectDetails()" (keyup.enter)="redirectToProjectDetails()"
                        [title]="'Click here to view details of #' + projectDetails?.projectNumber + ' -' + projectDetails?.projectTitle"
                        [attr.aria-label]="'Click here to view details of #' + projectDetails?.projectNumber + ' -' + projectDetails?.projectTitle">
                        <span class="text-slice">#{{projectDetails?.projectNumber}} - {{projectDetails?.projectTitle}}</span>
                        <mat-icon *ngIf="isShowExternalLinkIcon" aria-hidden="true" class="flex-shrink-0 fs-16">open_in_new</mat-icon>
                    </a>
                </div>
            </div>
            <ng-container *ngFor="let FieldOrder of projectDetailsOrder[projectDetails?.projectTypeCode]">
                <!-- Principal Investigator -->
                <div *ngIf="FieldOrder === 'PI'" tabindex="-1" [ngClass]="columnClass ? columnClass : 'col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4'"
                    [attr.aria-label]="'Principal investigator is ' + (projectDetails?.piName ? projectDetails?.piName : 'empty')">
                    <label for="coi-{{uniqueId}}-pi" class="coi-text-dark d-block">Principal Investigator</label>
                    <div id="coi-{{uniqueId}}-pi" class="text-slice">
                        <app-no-data-label [valueToShow]="projectDetails?.piName">
                            <span class="coi-text-light"
                                [title]="projectDetails?.piName">{{projectDetails?.piName}}</span>
                        </app-no-data-label>
                    </div>
                </div>
                <!-- Reporter's Project Role -->
                <div *ngIf="FieldOrder === 'REPORTER_ROLE'" tabindex="-1" [ngClass]="columnClass ? columnClass : 'col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4'"
                    [attr.aria-label]="'Reporters project role is ' + (projectDetails?.reporterRole ? projectDetails?.reporterRole : 'empty')">
                    <label for="coi-{{uniqueId}}-role" class="coi-text-dark d-block">Reporter's Project Role</label>
                    <div id="coi-{{uniqueId}}-role" class="text-slice">
                        <app-no-data-label [valueToShow]="projectDetails?.reporterRole">
                            <span class="coi-text-light"
                                [title]="projectDetails?.reporterRole">{{projectDetails?.reporterRole}}</span>
                        </app-no-data-label>
                    </div>
                </div>
                <!-- Lead Unit -->
                <div *ngIf="FieldOrder === 'LEAD_UNIT'" tabindex="-1" [ngClass]="columnClass ? columnClass : 'col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4'"
                    [attr.aria-label]="'Lead unit is ' + (leadUnit ? leadUnit : 'empty')">
                    <label for="coi-{{uniqueId}}-unit" class="coi-text-dark d-block">Lead Unit</label>
                    <div id="coi-{{uniqueId}}-unit" class="text-slice">
                        <app-no-data-label [valueToShow]="leadUnit">
                            <span [title]="leadUnit" class="coi-text-light">{{leadUnit}}</span>
                        </app-no-data-label>
                    </div>
                </div>
                <!-- Project Status -->
                <div *ngIf="FieldOrder === 'PROJECT_STATUS'" tabindex="-1" [ngClass]="columnClass ? columnClass : 'col-12 col-md-6 col-lg-6 col-xl col-xxl'"
                    [attr.aria-label]="projectDetails?.projectType + ' status is ' + (projectDetails?.projectStatus ? projectDetails?.projectStatus : 'empty')">
                    <label for="coi-{{uniqueId}}-status" class="coi-text-dark d-block">{{projectDetails?.projectType}} Status</label>
                    <div id="coi-{{uniqueId}}-status" class="text-slice">
                        <app-no-data-label [valueToShow]="projectDetails?.projectStatus">
                            <span class="coi-text-light"
                                [title]="projectDetails?.projectStatus">{{projectDetails?.projectStatus}}</span>
                        </app-no-data-label>
                    </div>
                </div>
                <!-- Account Number -->
                <div *ngIf="FieldOrder === 'ACCOUNT_NUMBER'" tabindex="-1" [ngClass]="columnClass ? columnClass : 'col-12 col-md-6 col-lg-6 col-xl col-xxl'"
                    [attr.aria-label]="'Account number is ' + (projectDetails?.accountNumber ? projectDetails?.accountNumber : 'empty')">
                    <label for="coi-{{uniqueId}}-account-number" class="coi-text-dark d-block text-nowrap">Account Number</label>
                    <div id="coi-{{uniqueId}}-account-number" class="text-slice">
                        <app-no-data-label [valueToShow]="projectDetails?.accountNumber">
                            <span class="coi-text-light" [title]="projectDetails?.accountNumber">{{projectDetails?.accountNumber}}</span>
                        </app-no-data-label>
                    </div>
                </div>
                <!-- Period -->
                <div *ngIf="FieldOrder === 'PERIOD'" tabindex="-1" [ngClass]="columnClass ? columnClass : 'col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4'"
                    [attr.aria-label]="'Period is ' + ((projectDetails?.projectStartDate || projectDetails?.projectEndDate) ?
                    ((projectDetails?.projectStartDate | dateFormatter) + ' - ' + (projectDetails?.projectEndDate | dateFormatter))  : 'empty')">
                    <label for="coi-{{uniqueId}}-period" class="coi-text-dark d-block">Period</label>
                    <div id="coi-{{uniqueId}}-period" class="text-slice">
                        <app-no-data-label [valueToShow]="projectDetails?.projectStartDate || projectDetails?.projectEndDate">
                            <span [title]="((projectDetails?.projectStartDate | dateFormatter) + ' - ' + (projectDetails?.projectEndDate | dateFormatter))"
                                class="coi-text-light">{{projectDetails?.projectStartDate | dateFormatter}} - {{projectDetails?.projectEndDate | dateFormatter}}</span>
                        </app-no-data-label>
                    </div>
                </div>
                <!-- Sponsor -->
                <div *ngIf="FieldOrder === 'SPONSOR'" tabindex="-1" [ngClass]="columnClass ? columnClass : 'col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4'"
                    [attr.aria-label]="'Sponsor is ' + (sponsor ? sponsor : 'empty')">
                    <label for="coi-{{uniqueId}}-sponsor" class="coi-text-dark d-block">Sponsor</label>
                    <div id="coi-{{uniqueId}}-sponsor" class="text-slice">
                        <app-no-data-label [valueToShow]="sponsor">
                            <span [title]="sponsor" class="coi-text-light">{{ sponsor }}</span>
                        </app-no-data-label>
                    </div>
                </div>
                <!-- Prime Sponsor -->
                <div *ngIf="FieldOrder === 'PRIME_SPONSOR'" tabindex="-1" [ngClass]="columnClass ? columnClass : 'col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4'"
                    [attr.aria-label]="'Prime sponsor is ' + (primeSponsor ? primeSponsor : 'empty')">
                    <label for="coi-{{uniqueId}}-prime-sponsor" class="coi-text-dark d-block">Prime Sponsor</label>
                    <div id="coi-{{uniqueId}}-prime-sponsor" class="text-slice">
                        <app-no-data-label [valueToShow]="primeSponsor">
                            <span [title]="primeSponsor" class="coi-text-light">{{ primeSponsor }}</span>
                        </app-no-data-label>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
