@import 'custom/variables';
@import 'custom/mixins';
@import 'custom/typographies';
@import 'custom/buttons';
@import 'custom/badges';
@import 'custom/navbars';
@import 'custom/forms';
@import 'custom/cards';
@import 'custom/modals';

:root {
    @include spread-map($theme-map-blue)
}

:root.light {
  @include spread-map($theme-map-light)
}


:root.dark {
    @include spread-map($theme-map-dark)
}

:root.red {
    @include spread-map($theme-map-red)
}

:root.blue {
  @include spread-map($theme-map-blue)
}

* {
    outline: 0;
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0 !important;
    font-family: 'Roboto', sans-serif !important;
}


body {
    background: var(--theme-body-bg-color) !important;
    color: var(--theme-text-color);
    outline: 0;
    overflow-y: scroll;
}

.canvas {
    padding-top: var(--theme-topbar-height);
    padding-left: var(--theme-sidebar-width);
    outline: 0;

    .container-fluid {
      min-height: calc(100vh - (var(--theme-topbar-height) + 2.5rem));

    }
}

.coi-body {
    min-height: calc(100vh - 100px);
    // padding: 1.5rem;
    padding: 1rem;
    outline: 0;
}

.link {
    stroke: #000;
    stroke-width: 2px;
  }
  .active {
    stroke: #3d2cff;
    stroke-width: 1.5px;
  }

  // scroll design
  ::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    width: 12px;
    background-color: #e7e7e7;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
      background: #b8b7b6;
      border-radius: 12px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #979797;
  }
  // scroll design ends

  .cursor-pointer {
    cursor: pointer;
  }

  .cursor-not-allowed {
    cursor: not-allowed !important;
  }

  .cursor-drag {
    cursor: move !important;
  }

  .cursor-all-scroll {
    cursor: all-scroll !important;
  }

  .cdk-overlay-container {
    position: fixed;
    z-index: 10613 !important;
  }

  // .modal-footer {

  //   .btn-outline-secondary,
  //   .btn-outline-primary,
  //   .btn-danger {
  //     font-size: 1.4rem !important;
  //     min-width: 5em;
  //     padding: 0.5rem 1rem !important;
  //     height: 35px;
  //   }
  // }

  .mr-2 {
    margin-right: 0.5rem !important;
  }

  .ml-2 {
    margin-left: 0.5rem !important;
  }

  .font-weight-normal {
    font-weight: 100 !important;
  }

  // header ul li,
  // nav ul li {
  //   font-size: 1.5rem !important;
  //   color: #7c7c7c !important;
  //   font-weight: 600 !important;
  // }

  // header ul li.active,
  // nav ul li.active {
  //   color: #007DEC !important
  // }

  @media (min-width: 576px) {

    .container,
    .container-sm {
      max-width: 100%
    }
  }

  @media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
      max-width: 100%
    }
  }

  @media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
      max-width: 100%
    }
  }

  @media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: 100%
    }
  }

  @media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1600px
    }
  }

  .pl-5 {
    padding-left: 3rem !important;
  }

  .bg-success {
    background-color: #4CB57D !important;
    color: #fff;
  }

  .bg-info {
    background-color: #17a2b8 !important;
    color: #fff;
  }

  .modal-backdrop {
    height: 0 !important;
  }

  // .modal {
  //   background: #00000066 !important;
  // }

  .wrapping-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .hovering-card:hover {
    .btn-outline-secondary:not(.no-hover) {
      color: #fff;
      background-color: #007dec;
      border-color: #007dec;
    }

    .btn-outline-primary {
      color: #fff;
      background-color: #007dec;
      border-color: #007dec;
    }
  }

  .success-banner {
    color: #151313;
    background-color: #F3F3F3;
    // font-size: 1.4rem;
    @extend .fs-14;
  }

  .bg-fcoi-clip {
    background: #5897bc !important;
  }

  .bg-proposal-clip {
    background: #7d9e33 !important;
  }

  .bg-opa-clip {
    background: #1192d1 !important;
  }

  .bg-award-clip {
    background: #c9a742 !important;
  }

  .bg-opa-clip {
    background: #1192d1 !important;
  }

  .bg-consulting-clip {
    background: #F2508C !important;
  }

  .bg-travel-clip {
    background: #bf975a !important;
  }

  // for slicing text in single line
  .text-slice {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  .text-slice-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  // for help text card
  .help-text-card {
    background: #EEEEEE;
    color: #202c2e;
    border: 1px solid #caced2;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .invalid-border {
    border-color: #dc3545 !important;
    &:focus{
      box-shadow: 0 0 0 .25rem rgba(var(--bs-danger-rgb), .25);
    }
  }

  .info-card-border {
    margin: 0;
    padding: 5px;
    background: #f3f2fb !important;
    border: solid 1px #b8d1e5 !important;
}

  .mr-8 {
    margin-right: 8px;
  }

  .mt-65 {
    margin-top: 6.5px;
  }

  .ash-text {
    color: #48647f!important;
  }

  .grey-text {
    // color: #6A7980;
    color: var(--theme-text-gray-600);
  }

  .label-text {
    // color: #6A7980;
    color: var(--theme-text-gray-800) !important;
    font-size: var(--theme-font-size);
    font-weight: 600;
}

  .word-break-all {
    word-break: break-all;
  }

  .sb-seachresults label {
    font-weight: 400;
  }

  .cursor-default {
      cursor: default;
  }

  .clickable-content:hover {
    color: #007DEC !important;
    text-decoration: underline;
  }

  .clickable-content {
    letter-spacing: normal;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }

  .entity-down-arrow {
    color:#848484;
  }

  .error-highlight-card {
    border: 1px solid red !important;
    box-shadow:4px 4px 4px #efa6a6;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: 100;
  }
  @keyframes blinking {
    50% {
      box-shadow:4px 4px 4px #fff;
    }
  }

  .grid-back {
    background-size: 90px 90px;
    background-image: linear-gradient(to right, #dad3d3 1px, transparent 1px), linear-gradient(to bottom, #cdc4c4 1px, transparent 1px);
  }

  @media (max-width : 2000px) {
      .form-row label,
      .adjust-margin-top {
          margin-top: 1rem !important;
      }
  }

  @media (max-width : 991px) {
    .dashboard-card-margin {
      margin-left: 0!important;
    }
  }

  /* This class will remove the colon symbol from the label and value till the resolution = XL(1200px).
      i.e., we dont follow the structure of showing the colon symbol when the label is in top and its value is in bottom.
  */
  @media (max-width : 1200px) {
   .disclosure-card div label span  {
      display: none !important;
    }
  }

  /* This class will add the colon symbol to the label and value from resolution = XL(1200px) */
  @media (min-width : 1200px) {
    .disclosure-card div label span  {
      display: inline-block !important;
    }
  }

  /* Added this class as common for all the disclosure dashboard cards like Coi reporter dashboard card,
     travel disclosure card and OPA dashboard card
  */
  .disclosure-card {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity));
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    color: #6a7980;
    margin-top: 0.5rem!important;
    border-radius: 0.5rem!important;
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb),.075)!important;
  }

  /* This class is specifically for Entity Dashboard in the Manage Entity Page */
  .disclosure-entity-card {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    color: #6a7980;
    margin-top: 0.5rem!important;
    border-radius: var(--bs-border-radius-sm)!important;
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb),.075)!important;
    padding: 5px;
  }

  /* This class applies box shadow to all the dashboard cards while on hover */
  .disclosure-card:hover, .disclosure-entity-card:hover {
    box-shadow: 0px 2px 8px -4px black !important;
  }

  /** Responsive page: For breaking labels and values at (1200 and < 1200) breakpoint in dashboard cards during page responsiveness */
  @media (max-width: 1200px) {
    .break-point-1200 {
        padding: 0 !important;
        margin: 0 !important;
        display: block !important;
    }
  }

  /* color changes for the 'View' button within all dashboard cards */
  .btn-primary-outline {
    color: #007dec;
    border-color: #007dec;
  }

  .btn-primary-outline:hover {
    color: #fff;
    background-color: #007dec;
    border-color: #007dec;
  }

  /* color code for SFI and Project count within the dashboard cards */
  .project-sfi-count {
    color: #007dec;
  }

  /* color code for Active Filter By Type within the dashboard cards */
  .filter-type-active {
    border: 2px solid #54BF5B !important;
    background: #f5fef5 !important;
  }

  /* Alignment for the breakpoints(767px - 930px) in SFI & Project count in dashboard cards */
  .link-heading {
    display: inline-flex !important;
  }

  @media (min-width: 767px) and (max-width: 930px) {
    .link-heading {
      display: block !important;
    }
  }

  /* Applying form-row styles to row */
  .form-row label:not(.coi-text-light):not(.coi-text-lighter):not(.coi-text-dark):not(.coi-text-darker),
  .row label:not(.coi-text-light):not(.coi-text-lighter):not(.coi-text-dark):not(.coi-text-darker) {
    font-size: var(--theme-font-size);
    margin-bottom: 0;
    color: #333;
    font-weight: 600;
  }

  .form-builder-no-info-card-icon {
    margin-top: 12px;
  }



.pt-7 {
    padding-top: 1.75rem !important;
}

.w-35 {
    width: 35% !important;
}

.coi-ribbon {
  color: #fff;
  width: max-content;
  height: 27px;
  position: relative;
  left: -6px;
  top: 2px;
  font-size: var(--theme-font-size);
  font-weight: 500;
  border-radius: 0 50px 50px 0;
  padding: 10px 10px;
    &:before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-bottom: 6px solid #151515;
        border-left: 6px solid transparent;
        top: -6px;
        left: 0;
    }
}

.coi-project-icon {
    width: 18px;
    margin-right: 3px;
    color: gray;
    height: 18px;
}

.coi-filter-pills {
  display: inline-flex;
  border: solid 1px #cbcbcb;
  padding: 0.2rem 0.8rem;
  border-radius: 20px;
  color: var(--bs-black);
  font-size: var(--theme-font-size);
  background-color: #dfdfdf;
}

/*advance-search*/
.advance-search {
  background: #f8f7f9;
  border: solid 1px #dbdfe9;
  border-radius: var(--bs-border-radius-sm);

  .filter-pills {
    display: inline-flex;
    border: solid 1px #dbdfe9;
    padding: 0.2rem 0.8rem;
    border-radius: 20px;
    color: var(--bs-black);
    margin: 5px 5px;
    font-size: var(--theme-font-size);
    cursor: pointer;

    &:nth-last-child(1) {
      margin-right: 0;
    }

    &.active-filter-pills {
      font-weight: 600;
      border-color: #cbcbcb;
      background-color: #dfdfdf;
    }
    &:hover{
      background: #dfdfdf;
      border-color: #cbcbcb;
    }
  }

  .filter-search {
    position: relative;
    display: inline-block;
    width: 100%;

    input {
      padding-left: 1.8rem;
      border: 0;
      background: transparent;

      &:focus {
        box-shadow: none !important;
      }
    }

    mat-icon {
      position: absolute;
      left: 0;
      top: 5px;
      color: #9e9e9e;
    }
  }
  .search-area:hover{
    background: #fff;
  }
  .closeButton{
    position: absolute;
    right: 10px;
    color: #9E9E9E;
    cursor: pointer;
  }
}

@media (max-width:991px) {
  .filter-s-outer {
    border-left: 0 !important;
    border-top: solid 1px #dbdfe9;
  }
}
/*
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  // z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
    position: relative;
    z-index: 1;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #6b7280;
  left: -12px;
  width: 20px;
  height: 20px;
  // z-index: 400;
}
*/

ul.timeline {
  list-style-type: none;
  position: relative;

  >li {
    margin: 0px;
    padding-left: 20px;
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;

    &:before {
      content: ' ';
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid #6b7280;
      left: -12px;
      width: 20px;
      height: 20px;
    }

    &:after {
      content: '';
      position: absolute;
      left: -3px;
      top: 0;
      width: 2px;
      height: 100%;
      z-index: -1;
      display: inline-block;
      background: #d4d9df;
    }

    p.fs-13 {
      @extend .fs-12;
    }

    p {
      margin-bottom: 0 !important;
    }
  }
}

ul.timeline>li:nth-last-child(1)::after {
  display: none;
}

ul.timeline>li:nth-child(1) {
  margin-top: 20px;
}


.h-14 {
  height: var(--theme-font-size);
}

.coi-pale-green {
  background-color: var(--theme-card-body-bg-color) !important;
  box-shadow: -1px 3px 50px -17px rgb(0 0 0 / 22%);
}

.coi-nav-tab,
.coi-search-box,
.coi-admin-dash,
.sort-div {
  background-color: var(--theme-card-bg-color) !important;
  border: var(--theme-card-border) !important;
  box-shadow: var(--theme-card-box-shadow);
}

.no-data-container {
  background-color: var(--theme-card-bg-color) !important;
}

.coi-admin-dash {
  .form-control{
    background-color: var(--theme-card-bg-color) !important;
  border: var(--theme-card-border) !important;
  }
}

.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: auto !important;
  width: max-content !important;
  font-size: 1.25rem !important;
}

.coi-scale-7 {
  transform: scale(0.7);
}

.coi-scale-8 {
  transform: scale(0.8);
}

.coi-scale-9 {
  transform: scale(0.9);
}

.coi-flex-1 {
  flex: 1;
}

.format_quote,
.coi-flip-y {
  transform: rotateY(180deg);
}

.fs-25px {
  font-size: 25px !important;
}

/* for fixing fibi style issues across application */
.btn-outline-secondary, .section-header, .content, .side-info, .navigation-box, .status-pill {
  @extend .fs-14;
}

.media {
  .media-body {
    h6 {
      @extend .fs-16;
  }
  p {
    @extend .fs-14;
  }
  }
}

.action-button {
  @extend .fs-14;
  i {
    @extend .fs-14;
  }
}

.nav-underline {
  .nav-link {
    color: var(--bs-secondary-rgb);
    border-bottom-width: 3px;
    cursor: pointer;
  }
  .nav-link.active, .nav-underline .show>.nav-link {
    color: var(--theme-primary-color) !important;
  }
}

.zero-count-padding {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}
