.relation-header {
    position: absolute;
    top: -11px;
    background-color: white;
    left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.add-relation-header {
    border: 1px solid rgb(218, 213, 213);
    margin: 10px;
    background-color: #EEEEEE;
    padding: 5px;
    padding-top: 9px;
}

.ml-last {
    margin-right: 1.5rem;
}

/* Modal width (less than 992px) */
@media (max-width: 992px) {
    .max-width-break-992 {
        max-width: 700px;
    }
}

.flex-1 {
    flex: 1px;
}
