.warning-icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 17%;
    background-color: #dfffea;
    color: #17c653;
}

.pending-icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 17%;
    background-color: #FFF3E1;
    color: #FFA103;
}

.expiration-date {
    color: #F1416C !important;
    background-color: #FFF5F8;
}

.coi-carousel-item {
    height: 400px;
    overflow: hidden;
    border-radius: .5rem;

    img {
        border-radius: .5rem;
    }
}

.coi-carousel-indicators-btn {
    width: 15px;
    height: 15px;
    margin: .25rem;
    opacity: 1;
    border-radius: 50%;
    background-color: white;

    &.active {
        background-color: black;
    }
}
.add-icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 17%;
    background-color: #E9F1FE;
    color: #007DEC;
}

.coi-home-notification {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .6);
    padding: 10px;
    color: white;
    z-index: 3;
    width: 80%;
    border-bottom-right-radius: 30px;
}

@media (min-width: 1200px) and (max-width: 1340px) {
    .gap-3 {
      gap: 0 !important; /* Overrides the gap */
    }
  }
