<div class="ml-2">
  <div>
    <div class="success-banner pl-4 py-2 d-flex justify-content-between align-items-center ">
      <div><span class="font-bold">Manpower - Others</span> </div>
      <span class="d-block d-sm-block float-sm-right font-weight-normal fs-14 mr-3">
        <i aria-hidden="true" class="fa fa-user-o mr-2"></i><ng-container i18n="@@MANPOWER_ADD_EMPLOYEE">Employee</ng-container>
        | <i aria-hidden="true" class="fa fa-user-circle text-danger mr-2"></i><ng-container i18n="@@MANPOWER_ADD_NON_EMPLOYEE">Non-Employee</ng-container>
        <button *ngIf="isManpowerEdit" class="ml-2 btn btn-primary-sub btn-xs fs-14-nav"
          id="manpower-add-person-btn" title="Add Resource" type="button" (click)="addResource()">
          <span><i class="fa fa-plus pr-2" aria-hidden="true"></i></span>Add Resource</button>
      </span>
    </div>
  </div>
  <div class="m-3">
    <div *ngIf="awardManpowerResources.length" class="form-row m-0 p-0">
      <div class="w-100 p-0">
        <table class="table tableSkin table-bordered grid2">
          <caption class="sr-only">Manpower Category Details</caption>
          <thead class="text-center">
            <th scope="col" width="20%">Resource Name</th>
            <th scope="col" width="10%">Actual Start Date</th>
            <th scope="col" width="10%">Actual End Date</th>
            <th scope="col" width="20%">Home Department/ Organization</th>
            <th scope="col" width="10%">Resource Type</th>
            <th scope="col" width="10%">Candidate Type</th>
            <th scope="col" width="10%">Actions</th>
          </thead>
          <tbody>
            <ng-container *ngFor="let resource of awardManpowerResources; let resourceIndex = index">
              <tr>
                <td><span><i *ngIf="resource.personId" aria-hidden="true" class="fa fa-user-o mr-2"></i>
                    <i *ngIf="!resource.personId" aria-hidden="true" class="fa fa-user-circle text-danger mr-2"></i>
                    {{resource?.fullName}}</span>
                </td>
                <td>
                  <span>{{resource?.chargeStartDate | dateFormatter}}</span>
                </td>
                <td><span>{{resource?.chargeEndDate | dateFormatter}}</span>
                </td>
                <td scope="col">
                  <span>{{resource.personId ? resource?.department : resource.organization}}</span>
                </td>
                <td scope="col">
                  <span>{{resource?.manpowerResourceType?.description}}</span>
                </td>
                <td scope="col">
                  <span>{{resource?.candidateType}}</span>
                </td>
                <td>
                  <span class="justify-content-around d-flex mt-2">
                    <i class="fa fa-eye hand-cursor hoverColor action-icons" title="More Details" data-toggle="modal"
                      data-target="#manpower-person-more-details-modal" aria-hidden="true"
                      (click)="showDetailsModal(resource, true)"></i>
                    <i *ngIf="isManpowerEdit"
                      class="fa fa-trash hand-cursor hoverColor action-icons" title="Delete resouce" aria-hidden="true"
                      (click)="deleteResource(resource.manpowerResourceId, manpowerCategory, resourceIndex)"></i>
                    <i *ngIf="isManpowerEdit" class="fa fa-pencil hand-cursor hoverColor action-icons"
                      title="Edit resouce" aria-hidden="true" (click)="addResource(resourceIndex, resource)"></i>
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div class="no-data-container" *ngIf="!awardManpowerResources.length">
      <span class="no-data-icon-outer">
        <div class="no-data-icon">
          <i class="fa fa-file-o" aria-hidden="true"></i>
          <i class="fa fa-times-circle-o" aria-hidden="true"></i>
      </div>
      </span>
      <h4>There is no resource added.</h4>
    </div>
  </div>
</div>
