.t-ribbon {
  color: #fff;
  width: max-content;
  height: 22px;
  position: relative;
  left: -28px;
  top: 0;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0 50px 50px 0;
  padding: 10px 18px;
}

.t-inactive-ribbon {
  background: #949494;
}

.t-incomplete-ribbon {
  background: #ffc107;
}

.t-active-ribbon {
  background: #54BF5B;
}

.t-draft-ribbon {
  color: #000;
  background: #9fc5f8;
}

.text-width-edit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 211px;
}

.text-width-summary {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 175px;
}

.info-text {
  color: #c39200;
  border-radius: 30px;
  border: 1px solid #c39200;
}

.pt-1 {
  padding-top: 1rem;
}

.margin-left {
  margin-left: 5rem;
}

.text-middle {
  vertical-align: middle;
}

.action-button {
  font-weight: 400;
  font-size: 1.3rem;
  cursor: pointer;
}

.action-button i {
  margin-right: 3px;
  font-size: 1.2rem;
  background: #E8F0FB;
  width: 20px;
  height: 20px;
  padding: 0;
  text-align: center;
  line-height: 23px;
  border-radius: 3px;
}

.action-button:hover {
  color: #2c77f4;
}

.action-button:hover i {
  background: rgba(44, 119, 244, 0.1);
  color: #2c77f4;
}

.statuspillposition {
  border-radius: 12px;
  padding: 3px 9px 3px 9px;
}

.riskbadge {
  top: -5px;
  position: relative;
}

.invalid {
  @extend .riskbadge;
  color: #ff0000;
}

.medium-risk {
  @extend .riskbadge;
  color: #ff8c00;
}

.low-risk {
  @extend .riskbadge;
  color: rgb(26, 172, 62);
}

.small-icon {
  transform: scale(0.7);
  cursor: pointer;
}

.table-background {
  background: #E9ECEF;
}

.label-text {
  color: #2a2a2a;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
}

.help-text {
  font-size: 0.8125rem;
  padding: 7px;
  color: #606060;
  background-color: #EEF0FC;
  font-style: italic;
}

.navigation-icons {
  .active {
    border-bottom: 2px solid #007DEC;
    color: #007dec;
  }
}

.user-dashboard-nav span:focus {
  border-bottom: 3px solid #007DEC;
  color: #007DEC;
  padding: 8px 16px;

}

.user-dashboard-nav {
  min-height: 42px;
  background-color: white !important
}

.inactive-ribbon {
  color: #fff;
  width: max-content;
  height: 20px;
  background: #949494;
  position: relative;
  left: -11px;
  top: 0;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0 50px 50px 0;
  padding: 10px 18px;
}

.inactive-ribbon::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 6px solid #151515;
  border-left: 6px solid transparent;
  top: -6px;
  left: 0;
}

.incomplete-ribbon {
  color: #fff;
  width: max-content;
  height: 20px;
  background: #ffc107;
  position: relative;
  left: -10px;
  top: 0;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0 50px 50px 0;
  padding: 10px 18px;
}

.incomplete-ribbon::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 6px solid #151515;
  border-left: 6px solid transparent;
  top: -6px;
  left: 0;
}

.active-ribbon {
  color: #fff;
  width: max-content;
  height: 20px;
  background: #54BF5B;
  position: relative;
  left: -10px;
  top: 0;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0 50px 50px 0;
  padding: 10px 18px;
}

.active-ribbon::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 6px solid #151515;
  border-left: 6px solid transparent;
  top: -6px;
  left: 0;
}

.draft-ribbon {
  color: #000;
  width: max-content;
  height: 20px;
  background: #9fc5f8;
  position: relative;
  left: -10px;
  top: 0;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0 50px 50px 0;
  padding: 10px 18px;
}

.draft-ribbon::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 6px solid #151515;
  border-left: 6px solid transparent;
  top: -6px;
  left: 0;
}

.text-width-edit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 211px;
}

.text-width-summary {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 175px;
}

.info-text {
  color: #c39200;
  border-radius: 30px;
  border: 1px solid #c39200;
}

.pt-1 {
  padding-top: 1rem;
}

.modal-content {
  background: #f5f5f5;
}

.small-btn-height {
  height: 25px;
}

.entity-list-container {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.advance-search-area {
  min-height: 45px;
  display: flex;
  align-items: center;

  input {
    background-color: #f5f5f5;
  }

  label {
    position: absolute;
    color: #747474;
    display: flex;
    align-items: center;
  }

  span:not(:first-child) {
    padding: 6px 20px !important;
  }
}

.filter-active {
  border: 2px solid #54BF5B !important;
  background: #f5fef5 !important;
}

.statusPillPosition {
  border-radius: 12px;
  padding: 3px 9px 3px 9px;
}

.status-complete {
  background-color: #4CB57D !important;
  color: #fff;
  @extend .statusPillPosition;
}

.status-inactive {
  background-color: #949494;
  color: #fff;
  @extend .statusPillPosition;
}

.status-incomplete {
  background-color: #ffc107 !important;
  color: #fff;
  @extend .statusPillPosition;
}

.grey-text{
  color: #6A7980;
}

.pt-0 {
  padding-top: 0 !important;
}
