.card {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    background-color: #fff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin:10px;
}
.card:hover{
    box-shadow: 0px 4px 5px rgba(0,0,0,0.1);
}
.card-header {
    background-color: #f7f7f9;
    margin-bottom: 0;
    padding: 2px 0.5rem;
    border:none;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.card-block {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 20px;
    color:#232323;
    box-shadow:inset 0px 4px 5px rgba(0,0,0,0.1);
    border-top:1px soild #000;
    border-radius:0;
}
.accordion-arrow {
    font-size: 1.6rem;
    color: #000;
    margin-left: 10px;
}

.searchBox{
    width: 90%;
}
.side-scroll{
    max-height: calc(100vh - 20rem);
    overflow-y: auto;
    
}
.title-primary{
    padding-top: 8px;
    padding-bottom: 10px;
}

.subheader{
    font-size: 1.3rem !important;
    margin: 0;
    color: #000;
    display: inline-block; /*might have to remove*/
    font-weight: 400;
    padding:5px 5px;
}
/* width */
.side-scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.side-scroll::-webkit-scrollbar-track {
    /* box-shadow: inset 1px 1px 1px grey;  */
    border-radius: 10px;
    border:solid 1px #f1f1f1;
  }
   
  /* Handle */
.side-scroll::-webkit-scrollbar-thumb {
    background:#ccc; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
.side-scroll::-webkit-scrollbar-thumb:hover {
    background: #ababab; 
  }
.right-sidebar{
    display: grid;
  }
.right-sidebar label{
    font-size: 1.2rem;
  }

.category-sidebar{
     border-bottom: solid 1px;
     border-bottom-color: #dddddd;
     border-radius: 3px;
 }
 .category-sidebar a h4{
     font-size: 1.4rem;
 }
 .category-list-color{
    color: #ededed;
 }
nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
  }
.question-tab {
      font-size: 1.4rem;
      text-align: left;
      overflow: hidden;
      float: left;
  }
.category-list {
    padding:5px 5px;
    font-size: 1.4rem;
    margin: 0;
    font-weight: 600;
    background-color: #ffffff;
}
.category-list a h4{
    color: #333
}
.categorylist-active {
    padding:5px 5px;
    font-size: 1.4rem;
    margin: 0;
    font-weight: 600;
    background-color: #e7fbf9;
    }
.categorylist-active a h4
{
color: #05ab9c;
}
.question-list {
    padding:5px 13px;
    font-size: 1.4rem;
    margin: 0;
    background-color: #ffffff;
}
.questionlist-active{
    padding:5px 13px;
    color: #05ab9c;
}
.question-tab ul{
    list-style-type: none;
    padding: unset;
  }

.timeline {
    border-left: 2px solid #ccc
}

.timeline li {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ececec;
    position: relative;
    list-style: none;
    margin-bottom: 15px;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.14);
}

.timeline li:first-of-type { margin-top: 0 }

.timeline li:last-of-type { margin-bottom: 0 }

.timeline li:before {
    content: "";
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #797575 transparent transparent;
    position: absolute;
    left: -20px;
    top: 15px;
}

.timeline .questionlist-active:before {
    content: "";
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #55ab9c transparent transparent;
    position: absolute;
    left: -20px;
    top: 15px;
}
.question-tab.questionlist-active li:before {
    border-color: transparent #1e847b transparent transparent !important;
}
.qa-display p{
    font-size: 1.4rem;
}
  