<!-- Questionnaire -->
<!-- Last updated by Arun Raj(Showed a warning message if we click the save button 
       without selecting any questionnaire.) on 26/03/2020 -->
<div class="card my-3">
    <div class="card-header">
        <div class="form-row">
            <h4 class="card-title">Questionnaire</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="col">
                <label for="Questionnaire" class="d-block"><span class="mandatory">*</span>Select Questionnaire</label>
                <select id="Questionnaire" class="form-control" [ngClass]="warningMessage.has('questionnaireWarningText') ? 
                  'd-inline-block form-control ng-pristine ng-valid is-invalid d-block ng-touched' : 
                  'd-inline-block form-control ng-pristine ng-valid ng-touched'" [(ngModel)]="selectedQuestionaire"
                    (change)="questionnaireChange()">
                    <option value="null">--Select--</option>
                    <option *ngFor="let questionaireList of applicableQuestionnaire"
                        [value]="questionaireList.QUESTIONNAIRE_NUMBER">
                        {{ questionaireList.QUESTIONNAIRE }}
                    </option>
                </select>
            </div>
            <div class="col-auto d-flex align-items-end">
                <button id="ioi-delete-btn" type="button" class="btn btn-primary-sub btn-sm"
                    (click)="saveOrUpdateGrantCallIOIQuestionnaire()">Save</button>
            </div>
        </div>
        <div class="invalid-feedback block-display" *ngIf="warningMessage.has('questionnaireWarningText')">
            {{warningMessage.get('questionnaireWarningText')}}
        </div>
        <div *ngIf="selectedQuestionaire !== 'null'" class="mt-2">
            <app-view-questionnaire [questionnaireDetails]="questionnaireDetails" [moduleDetails]="moduleDetails"
                                    [isViewMode]="true">
            </app-view-questionnaire>
        </div>
    </div>
    <div class="no-data-container p-3" *ngIf="selectedQuestionaire === 'null'">
        <span class="no-data-icon-outer">
            <div class="no-data-icon">
                <i class="fa fa-file-o" aria-hidden="true"></i>
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
            </div>
        </span>
        <h4 class="text-content-color">There is no information in this section.</h4>
    </div>
</div>

