<div class="row row-gap-3">
    <ng-container *ngFor="let config of fieldConfig">
        <!-- SUB_HEAD block -->
        <div *ngIf="config?.type === 'SUB_HEAD'" [ngClass]="config?.class">
            <div class="card p-3">
                <h4 class="relation-header px-2 coi-text-darker rounded coi-bg-gray-light">{{ config?.labelName }}</h4>
                <div class="row row-gap-3">
                    <ng-container *ngFor="let subConfig of config?.fieldConfig">
                        <ng-container *ngIf="subConfig?.type !== 'SUB_HEAD'">
                            <div [ngClass]="subConfig?.class">
                                <span class="d-block coi-text-dark">{{ subConfig?.labelName }}</span>
                                <div class="d-inline-flex flex-wrap gap-2">
                                    <app-coi-field-compare [config]="subConfig"
                                        [valueLeft]="getValue(subConfig, leftSideComparisonData)"
                                        [valueRight]="getValue(subConfig, rightSideComparisonData)">
                                    </app-coi-field-compare>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>

        <!-- Regular field -->
        <div *ngIf="config?.type !== 'SUB_HEAD'" [ngClass]="config?.class">
            <span class="d-block coi-text-dark">{{ config?.labelName }}</span>
            <div class="d-inline-flex flex-wrap gap-2">
                <app-coi-field-compare [config]="config"
                    [valueLeft]="getValue(config, leftSideComparisonData)"
                    [valueRight]="getValue(config, rightSideComparisonData)">
                </app-coi-field-compare>
            </div>
        </div>
    </ng-container>
</div>
