.reviewer-details-outer {
    margin-top: 10px;
}

.right-margin {
    margin-right: 1.5px;
}

.deactivate-text {
    margin-left: 27px !important;
    color: #fff
}

.d-flex {
    display: flex !important;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activate-btn {
    position: absolute;
    right: 0;
}

.activate-btn-label {
    font-size: 1.3rem !important;
    font-weight: 700 !important;
}