<div id="STICKY_PROPOSAL_REVIEW_HEADER"  *ngIf="_commonService.isDevProposalVersioningEnabled" class="tab-sticky">
    <div class="form-row py-0 px-4">
        <div class="col">
            <div class="form-row my-3 p-0 ">
                <div class="col-auto f-15">
                    <span *ngIf="leftValue?.proposalId && !rightValue?.proposalId"> Details of
                        <span class="fw-600">#{{leftValue?.proposalId}} ({{leftValue?.requestType}})</span>
                    </span>
                    <span *ngIf="leftValue?.proposalId && rightValue?.proposalId">
                        Comparing <span class="fw-600">#{{leftValue?.proposalId}} ({{leftValue?.requestType}}) with
                            Version {{rightValue?.versionNumber}} - #{{rightValue?.proposalId}}({{rightValue?.requestType}})
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-auto d-flex align-items-center">
            <span class="mr-3">
                <button *ngIf="!isCompare && leftValue?.versionNumber != 0"
                    class="btn btn-primary btn-sm" (click)="onShowChanges(true);"
                    id="show-active-change" type="button">Compare with Active Proposal
                </button>
                <button *ngIf="isCompare" class="btn btn-secondary btn-sm " (click)="onShowChanges(false)"
                    id="show-variation-change" type="button">Back to Proposal View
                </button>
            </span>
            <span>
                <label class="font-weight-normal mr-3 d-block" *ngIf="rightValue?.proposalId"> <span
                        class="fa fa-square deleted-data"></span> Deleted</label>
                <label class="font-weight-normal mr-4" *ngIf="rightValue?.proposalId"> <span
                        class="fa fa-square added-data"></span> Added</label>
            </span>

            <button class="button-container nav-style" (click)="toggleToolkitVisibility()"
                title="{{(isToolkitVisible? 'Hide Toolkit':'Show Toolkit')}}">
                <span class="fa-large fa fa-angle-double-right" *ngIf="isToolkitVisible"></span>
                <span class="fa-large fa fa-angle-double-left" *ngIf="!isToolkitVisible"></span>
            </button>
        </div>
    </div>
</div>
<app-overview
 [comparisonDetails]="comparisonDetails" [currentMethod]="currentMethod" [helpText]= "helpText"></app-overview>
<app-other-information-proposal  *ngIf="_proposalService.proposalSectionConfig['306']?.isActive"
 [customElementDetails]='customElementCompare'></app-other-information-proposal>
<app-budget-comparison *ngIf="_proposalService.proposalSectionConfig['DP303']?.isActive"
[comparisonDetails]="comparisonDetails" [currentMethod]="currentMethod" [helpText]= "helpText"></app-budget-comparison>
<app-questionnaire *ngIf="_proposalService.proposalSectionConfig['312']?.isActive"
 [configuration]="questionnaireComparisonDetails"></app-questionnaire>
<app-attachment *ngIf="_proposalService.proposalSectionConfig['DP305']?.isActive"
 [comparisonDetails]="comparisonDetails" [currentMethod]="currentMethod"></app-attachment>
 <app-comments  *ngIf="_proposalService.proposalSectionConfig['DP306']?.isActive"
 [comparisonData]="comparisonDetails" [currentMethod]="currentMethod"></app-comments>