
.answer-width {
    width: 100%;
}

.qst-table-thead thead th {
    padding: 8px 12px 8px 12px !important;
}

.table-answers {
    resize: none;
}

.table-answers:focus {
    border: none;
    box-shadow: none;
    outline: 0 none;
}

.action-button {
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
}

.action-button i {
    margin-right: 3px;
    font-size: 1.2rem;
    background: #E8F0FB;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
}

.action-button:hover {
    color: #2c77f4;
}

.action-button:hover i {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4;
}

.icon-actions {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4!important;
}

.table-min-width {
    min-width: 250px;
}

.action-column {
    position: sticky;
    right: -1px;
    z-index: 10;
    background: #e9ecefd6;
}

.question-font{
    white-space: pre-line;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 8px;
}


