.legend-scale ul {
    margin: 0;
   padding: 0;
   text-align: right;
   margin-top: 5px;
  }
  .legend-scale ul li {
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    font-weight: 300 !important;
  }
  ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 20px;
    margin-right: 5px;
    margin-left: 0;
    border-radius: 3px;
  }
  .legend-source {
    color: #999;
    clear: both;
  }
  ul.legend-labels li {
    display: inline-block;
    margin-right: 15px;
  }
  .form-row > div {
    margin-bottom: 1.4rem;
}
.gridSkin{ background-color: #f1f5f8; }
.listSkin {  background-color: #f1f1f1; }
.inner-scroll {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: .3em;
  height: 3em;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background: #eee
}

::-webkit-scrollbar-thumb {
  background: #ccc
}

.list {
  list-style: none;
}