<div class="d-flex align-items-center justify-content-between border-bottom pt-3 pb-2 ps-2" id="COI804">
    <h3 class="d-flex align-items-center justify-content-between fs-16 m-0">
        <span class="d-flex align-items-center" tabindex="-1">
            <strong aria-label="Certification">Certification</strong>
            <span class="d-inline-block" tabindex="-1" data-bs-toggle="tooltip" title="Certify" data-bs-placement="top">
            <mat-icon class="ms-1 f-16 mt-1 text-secondary position-relative" data-bs-toggle="tooltip">info</mat-icon>
            </span>
        </span>
    </h3>
  </div>
<div  class="card mt-3" tabindex="-1">
    <div class="card-body py-4 px-3">
        <div class="gridSkin p-15">
            <p class="fs-14 mb-0" [innerHTML]="coiService.FCOICertificationText"></p>
        </div>
    </div>
</div>
