<app-left-nav-bar tabindex="-1" (click)="closeHeaderMenuBar()"></app-left-nav-bar>

<!-- header -->
<header class="d-flex align-items-center justify-content-between coi-header-top ps-3 pe-2 pe-lg-3" id="coi-header-card">
    <nav class="d-flex align-items-center">
        <a class="logo custom-margin" href={{homeNavigation}}>
            <img [src]="logo" alt="Logo" class="w-100">
        </a>
        <ul id="coi-header-responsive-nav" role="tablist" aria-label="navigation"
            class="d-flex align-items-center header-navigation-links m-0 cursor-pointer p-0 text-secondary gap-1">
             <!-- Home -->
             <li *ngIf="!engMigrationDetails?.isEngagementMigrationPending">
                <a tabindex="0" [routerLink]="[userDashboardRoutingUrls.MY_HOME_ROUTE_URL]" role="tab" (click)="onClickMenuBar()" class="d-flex align-items-center"
                    [class.cursor-pointer]="!router.url.includes(userDashboardRoutingUrls.MY_HOME_ROUTE_URL)" id="coi-header-tab-home"
                    [attr.aria-label]="router.url.includes(userDashboardRoutingUrls.MY_HOME_ROUTE_URL) ? 'Home' : 'Click here to go to Home'"
                    routerLinkActive="active" [attr.title]="router.url.includes(userDashboardRoutingUrls.MY_HOME_ROUTE_URL) ? 'Home' : 'Click here to go to Home'">
                    <span>Home</span>
                    <span *ngIf="router.url.includes(userDashboardRoutingUrls.MY_HOME_ROUTE_URL)" class="active-color"></span>
                </a>
            </li>
            <!-- Engagements -->
            <li *ngIf="!engMigrationDetails?.isEngagementMigrationPending">
                <a tabindex="0" [routerLink]="[userDashboardRoutingUrls.MY_ENGAGEMENTS_ROUTE_URL]" role="tab" (click)="onClickMenuBar()" class="d-flex align-items-center"
                    [class.cursor-pointer]="!router.url.includes(userDashboardRoutingUrls.MY_ENGAGEMENTS_ROUTE_URL)" id="coi-header-tab-engagement"
                    [attr.aria-label]="router.url.includes(userDashboardRoutingUrls.MY_ENGAGEMENTS_ROUTE_URL) ? 'Engagements' : 'Click here to go to Engagements'"
                    routerLinkActive="active" [attr.title]="router.url.includes(userDashboardRoutingUrls.MY_ENGAGEMENTS_ROUTE_URL) ? 'Engagements' : 'Click here to go to Engagements'">
                    <span>Engagements</span>
                    <span *ngIf="router.url.includes(userDashboardRoutingUrls.MY_ENGAGEMENTS_ROUTE_URL)" class="active-color"></span>
                </a>
            </li>
            <!-- Disclosures -->
            <li *ngIf="isShowDisclosureTab && !engMigrationDetails?.isEngagementMigrationPending">
                <a tabindex="0" [routerLink]="[userDashboardRoutingUrls.MY_DISCLOSURES_ROUTE_URL]" role="tab" (click)="onClickMenuBar()" class="d-flex align-items-center"
                    [class.cursor-pointer]="!router.url.includes(userDashboardRoutingUrls.MY_DISCLOSURES_ROUTE_URL)" id="coi-header-tab-disclosures"
                    [attr.aria-label]="router.url.includes(userDashboardRoutingUrls.MY_DISCLOSURES_ROUTE_URL) ? 'Disclosures' : 'Click here to go to Disclosures'"
                    routerLinkActive="active" [attr.title]="router.url.includes(userDashboardRoutingUrls.MY_DISCLOSURES_ROUTE_URL) ? 'Disclosures' : 'Click here to go to Disclosures'">
                    <span>Disclosures</span>
                    <span *ngIf="router.url.includes(userDashboardRoutingUrls.MY_DISCLOSURES_ROUTE_URL)" class="active-color"></span>
                </a>
            </li>
            <!-- Projects -->
            <li *ngIf="commonService.isShowFinancialDisclosure && !engMigrationDetails?.isEngagementMigrationPending">
                <!-- Multiple Project -->
                <a *ngIf="commonService.activeProjectsTypes?.length > 1"
                    tabindex="0" [routerLink]="[userDashboardRoutingUrls.MY_PROJECTS_ROUTE_URL]" role="tab" (click)="onClickMenuBar(); reloadMyProjects()" class="d-flex align-items-center"
                    [class.cursor-pointer]="!router.url.includes(userDashboardRoutingUrls.MY_PROJECTS_ROUTE_URL)" id="coi-header-tab-projects"
                    [attr.aria-label]="(router.url.includes(userDashboardRoutingUrls.MY_PROJECTS_ROUTE_URL) ? '' : 'Click here to go to ') + 'Projects'"
                    routerLinkActive="active" [attr.title]="(router.url.includes(userDashboardRoutingUrls.MY_PROJECTS_ROUTE_URL) ? '' : 'Click here to go to ') + 'Projects'">
                    <span [ngClass]="{ 'pe-xl-3 pe-1': headerService.projectTabCount?.totalCount }">Projects</span>
                    <span *ngIf="headerService.projectTabCount?.totalCount"
                        class="d-inline-flex align-items-center justify-content-center coi-header-tab-count-position fs-12 count-badge badge rounded-circle">{{ headerService.projectTabCount?.totalCount }}</span>
                    <span *ngIf="router.url.includes(userDashboardRoutingUrls.MY_PROJECTS_ROUTE_URL)" class="active-color"></span>
                </a>
                <!-- Single Project -->
                <a *ngIf="commonService.activeProjectsTypes?.length === 1"
                    tabindex="0" [routerLink]="[userDashboardRoutingUrls.MY_PROJECTS_ROUTE_URL]" role="tab" (click)="onClickMenuBar(); reloadMyProjects()" class="d-flex align-items-center"
                    [class.cursor-pointer]="!router.url.includes(userDashboardRoutingUrls.MY_PROJECTS_ROUTE_URL)" id="coi-header-tab-projects"
                    [attr.aria-label]="(router.url.includes(userDashboardRoutingUrls.MY_PROJECTS_ROUTE_URL) ? '' : 'Click here to go to ') + commonService.activeProjectsTypes?.[0]?.description"
                    routerLinkActive="active" [attr.title]="(router.url.includes(userDashboardRoutingUrls.MY_PROJECTS_ROUTE_URL) ? '' : 'Click here to go to ') + commonService.activeProjectsTypes?.[0]?.description">
                    <span [ngClass]="{ 'pe-xl-3 pe-1': headerService.projectTabCount?.[commonService.activeProjectsTypes?.[0]?.coiProjectTypeCode] }">{{ commonService.activeProjectsTypes?.[0]?.description + 's' }}</span>
                    <span *ngIf="headerService.projectTabCount?.[commonService.activeProjectsTypes?.[0]?.coiProjectTypeCode]"
                        class="d-inline-flex align-items-center justify-content-center coi-header-tab-count-position fs-12 count-badge badge rounded-circle">{{ headerService.projectTabCount?.[commonService.activeProjectsTypes?.[0]?.coiProjectTypeCode] }}</span>
                    <span *ngIf="router.url.includes(userDashboardRoutingUrls.MY_PROJECTS_ROUTE_URL)" class="active-color"></span>
                </a>
            </li>
            <!-- Notes -->
            <li *ngIf="commonService.canShowReporterNotes && !engMigrationDetails?.isEngagementMigrationPending">
                <a tabindex="0" [routerLink]="[userDashboardRoutingUrls.MY_NOTES_ROUTE_URL]" role="tab" (click)="onClickMenuBar()" class="d-flex align-items-center"
                    [class.cursor-pointer]="!router.url.includes(userDashboardRoutingUrls.MY_NOTES_ROUTE_URL)" id="coi-header-tab-notes"
                    [attr.aria-label]="router.url.includes(userDashboardRoutingUrls.MY_NOTES_ROUTE_URL) ? 'Notes' : 'Click here to go to Notes'"
                    routerLinkActive="active" [attr.title]="router.url.includes(userDashboardRoutingUrls.MY_NOTES_ROUTE_URL) ? 'Notes' : 'Click here to go to Notes'">
                    <span>Notes</span>
                    <span *ngIf="router.url.includes(userDashboardRoutingUrls.MY_NOTES_ROUTE_URL)" class="active-color"></span>
                </a>
            </li>
            <!-- Attachments -->
            <li *ngIf="commonService.canShowReporterAttachments && !engMigrationDetails?.isEngagementMigrationPending">
                <a tabindex="0" [routerLink]="[userDashboardRoutingUrls.MY_ATTACHMENTS_ROUTE_URL]" role="tab" (click)="onClickMenuBar()" class="d-flex align-items-center"
                    [class.cursor-pointer]="!router.url.includes(userDashboardRoutingUrls.MY_ATTACHMENTS_ROUTE_URL)" id="coi-header-tab-attachments"
                    [attr.aria-label]="router.url.includes(userDashboardRoutingUrls.MY_ATTACHMENTS_ROUTE_URL) ? 'Attachments' : 'Click here to go to Attachments'"
                    routerLinkActive="active" [attr.title]="router.url.includes(userDashboardRoutingUrls.MY_ATTACHMENTS_ROUTE_URL) ? 'Attachments' : 'Click here to go to Attachments'">
                    <span>Attachments</span>
                    <span *ngIf="router.url.includes(userDashboardRoutingUrls.MY_ATTACHMENTS_ROUTE_URL)" class="active-color"></span>
                </a>
            </li>
        </ul>
        <!-- overlay for responsive nav -->
        <div *ngIf="isShowNavBarOverlay" tabindex="-1" class="nav-bar-custom-overlay d-block" (click)="onClickMenuBar()"></div>
        <!-- responsive icon for header -->
        <button *ngIf="!engMigrationDetails?.isEngagementMigrationPending" class="btn-none menu-icon" [class.show-hamburger]="shouldShowHamburger"
         (click)="onClickMenuBar()" title="Click here for menu" aria-label="Click here for menu">
            <mat-icon aria-hidden="true">menu</mat-icon>
        </button>
    </nav>
    <div class="header-right-content">
        <div class="d-flex align-items-center gap-3">
            <div class="align-items-center d-flex gap-3">
                <ng-container *ngIf="isShowCreateButton && !engMigrationDetails?.isEngagementMigrationPending">
                    <div class="positon-relative btn-group">
                        <!-- Create btn -->
                        <button (click)="openCreateMenu('create-toggle-dropdown')" id="create-dropdown-btn" type="button"
                            title="Click here to open create menu" aria-label="Click here to open create menu"
                            class="btn btn-primary fs-14 d-flex align-items-center z-index-2">
                            <mat-icon>add</mat-icon>
                            <span class="px-2">Create</span>
                        </button>
                        <!--  Create toggle btn -->
                        <button (click)="openCreateMenu('create-toggle-dropdown')" id="create-toggle-dropdown"
                            title="Click here to open create menu" aria-label="Click here to open create menu" type="button"
                            class="border-start fs-14 btn btn-primary dropdown-width dropdown-toggle dropdown-toggle-split z-index-2">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <!-- trigger btn -->
                        <button tabindex="-1" id="create-dropdown-trigger-btn" class="position-absolute btn-none w-100 h-100"
                            aria-label="Click here to open create menu" 
                            [matMenuTriggerFor]="createActionMenu" (menuOpened)="commonService.closeMatSelectOpened()">
                        </button>
                    </div>
                    <mat-menu #createActionMenu="matMenu" xPosition="before">
                        <!-- Engagements -->
                        <button (click)="openCreateSFI()" mat-menu-item id="coi-header-engagement-btn"
                            title="Click here to Create Engagement"
                                aria-label="Click here to Create Engagement"
                            class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <span class="coi-text-dark ms-2 fw-medium fs-14 coi-create-dropdown-width text-slice">Engagements</span>
                        </button>
                        <!-- Each Project Disclosure -->
                        <button *ngIf="commonService.activeProjectsTypes?.length === 1 && commonService.isShowFinancialDisclosure" mat-menu-item id="coi-header-disclosure-btn"
                            (click)="openProjectDisclosure(commonService.activeProjectsTypes?.[0]?.coiProjectTypeCode)"
                            title="Click here to create {{ COMMON_DISCL_LOCALIZE.TERM_PROJECT_DISCL_PREFIX }} {{ commonService.activeProjectsTypes?.[0]?.description }} Disclosure"
                            attr.aria-label="Click here to create {{ COMMON_DISCL_LOCALIZE.TERM_PROJECT_DISCL_PREFIX }} {{ commonService.activeProjectsTypes?.[0]?.description }} Disclosure"
                            class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <span class="coi-text-dark ms-2 fw-medium fs-14 coi-create-dropdown-width text-slice">{{ COMMON_DISCL_LOCALIZE.TERM_PROJECT_DISCL_PREFIX }} {{ commonService.activeProjectsTypes?.[0]?.description }} Disclosure</span>
                        </button>
                        <!-- Project Disclosure -->
                        <button *ngIf="commonService.activeProjectsTypes?.length > 1 && commonService.isShowFinancialDisclosure" mat-menu-item id="coi-header-project-disclosure-btn"
                            (click)="openProjectDisclosure()"
                            title="Click here to create {{ COMMON_DISCL_LOCALIZE.TERM_PROJECT }} Disclosure"
                            attr.aria-label="Click here to create {{ COMMON_DISCL_LOCALIZE.TERM_PROJECT }} Disclosure"
                            class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <span class="coi-text-dark ms-2 fw-medium fs-14 coi-create-dropdown-width text-slice">{{ COMMON_DISCL_LOCALIZE.TERM_PROJECT }} Disclosure</span>
                        </button>
                        <!-- Travel Disclosure -->
                        <button *ngIf="commonService.isShowTravelDisclosure" (click)="openTravelDisclosure()" id="coi-header-travel-disclosure-btn"
                            mat-menu-item title="Click here to create {{ COMMON_DISCL_LOCALIZE.TERM_TRAVEL }} Disclosure"
                            attr.aria-label="Click here to create {{ COMMON_DISCL_LOCALIZE.TERM_TRAVEL }} Disclosure"
                            class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <span class="coi-text-dark ms-2 fw-medium fs-14 coi-create-dropdown-width text-slice">{{ COMMON_DISCL_LOCALIZE.TERM_TRAVEL }} Disclosure</span>
                        </button>
                        <!-- CMP -->
                        <button *ngIf="commonService.isShowManagementPlan"
                            (click)="openCreateCmpSlider()" id="coi-header-cmp-btn"
                            mat-menu-item title="Click here to create {{ CMP_LOCALIZE.TERM_CMP }}"
                            attr.aria-label="Click here to create {{ CMP_LOCALIZE.TERM_CMP }}"
                            class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <span class="coi-text-dark ms-2 fw-medium fs-14 coi-create-dropdown-width text-slice">{{ CMP_LOCALIZE.TERM_CMP }}</span>
                        </button>
                        <!-- Create Declaration Types -->
                        <ng-container *ngFor="let declarationTypeConfig of commonService.activeDeclarationTypes">
                            <button *ngIf="commonService.declarationEligibilityMap?.[declarationTypeConfig?.declarationTypeCode]"
                                (click)="createOrReviseDeclaration(declarationActionMap.get(declarationTypeConfig?.declarationType)?.action, declarationTypeConfig)"
                                id="coi-header-declaration-{{declarationTypeConfig?.declarationTypeCode}}-btn" mat-menu-item
                                title="{{ declarationActionMap.get(declarationTypeConfig?.declarationType)?.title }}"
                                attr.aria-label="{{ declarationActionMap.get(declarationTypeConfig?.declarationType)?.title }}"
                                class="d-flex justify-content-start align-items-center w-100 text-nowrap border-0 rounded-0 btn-primary-icon fs-14 more-action">
                                <span class="coi-text-dark ms-2 fw-medium fs-14 coi-create-dropdown-width text-slice">{{ declarationActionMap.get(declarationTypeConfig?.declarationType)?.label }}</span>
                            </button>
                        </ng-container>
                        <!-- Consulting Form -->
                        <button *ngIf="commonService.isShowConsultingDisclosure" (click)="createConsultingDisclosure()" id="coi-header-consulting-discl-btn"
                            mat-menu-item title="Click here to create {{ COMMON_DISCL_LOCALIZE.CONSULTING_BADGE_PREFIX }}Consulting Form"
                            aria-label="Click here to create {{ COMMON_DISCL_LOCALIZE.CONSULTING_BADGE_PREFIX }}Consulting Form"
                            class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <span class="coi-text-dark ms-2 fw-medium fs-14 coi-create-dropdown-width text-slice">{{ COMMON_DISCL_LOCALIZE.CONSULTING_BADGE_PREFIX }}Consulting Form</span>
                        </button>
                        <!-- Notes -->
                        <button *ngIf="commonService.canShowReporterNotes" mat-menu-item id="coi-header-notes-btn"
                            title="Click here to add notes" aria-label="Click here to add notes" (click)="openHeaderEditorSlider()"
                            class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <span class="coi-text-dark ms-2 fw-medium fs-14 coi-create-dropdown-width text-slice">Notes</span>
                        </button>
                        <!-- Attachments -->
                        <button *ngIf="commonService.canShowReporterAttachments" mat-menu-item id="coi-header-attachments-btn"
                            title="Click here to add attachments" aria-label="Click here to add attachments"
                            (click)="openAttachmentModal()" class="text-nowrap border-0 rounded-0 btn-primary-icon fs-14 d-flex justify-content-start w-100 align-items-center more-action">
                            <span class="coi-text-dark ms-2 fw-medium fs-14 coi-create-dropdown-width text-slice">Attachments</span>
                        </button>
                    </mat-menu>
                </ng-container>
                <!-- Support -->
                <button *ngIf="!engMigrationDetails?.isEngagementMigrationPending" (click)="fetchAndOpenUserSupportSlider()"
                    class="d-flex align-items-center justify-content-center btn-none coi-halo-nav-item"
                    id="coi-header-nav-support" title="Click here for assistance" aria-label="Click here for assistance">
                    <mat-icon aria-hidden="true" class="flex-shrink-0 coi-scale-9">question_mark</mat-icon>
                </button>
                <!-- Accessibility -->
                <button *ngIf="isShowAccessibilitySettings" data-bs-target="#theme-selector-modal" data-bs-toggle="modal"
                    class="d-flex align-items-center justify-content-center btn-none coi-halo-nav-item"
                    id="coi-header-nav-accessibility" title="Click here to view accessibility" aria-label="Click here to view accessibility">
                    <mat-icon aria-hidden="true" class="flex-shrink-0">accessibility</mat-icon>
                </button>
                <!-- Action List / Notification -->
                <button *ngIf="!engMigrationDetails?.isEngagementMigrationPending"
                    class="position-relative d-flex align-items-center justify-content-center btn-none coi-halo-nav-item"
                    id="coi-header-nav-notifications" title="Click here to view notifications" aria-label="Click here to view notifications"
                    (click)="commonService.openActionListSlider()">
                    <mat-icon aria-hidden="true" class="flex-shrink-0">notifications</mat-icon>
                    <span *ngIf="pendingActionItemCount > 0"
                        class="position-absolute d-flex align-items-center justify-content-center translate-middle bg-danger badge rounded-pill border border-light"
                        [ngClass]="pendingActionItemCount >= 10 ? 'count-badge-double-digit fs-11' : 'count-badge-single-digit fs-12'">
                        {{ pendingActionItemCount > 99 ? '99+' : pendingActionItemCount }}
                    </span>
                </button>
                <!-- Exit / Logout -->
                <button id="coi-header-nav-logout" (click)="openLogoutConfirmationModal()"
                    class="d-flex align-items-center justify-content-center btn-none coi-halo-nav-item"
                    [title]="commonService.enableSSO ? 'Click here to exit application' : 'Click here to logout'"
                    [attr.aria-label]="commonService.enableSSO ? 'Click here to exit application' : 'Click here to logout'">
                    <mat-icon aria-hidden="true" class="flex-shrink-0">power_settings_new</mat-icon>
                </button>
            </div>
            <!-- Profile -->
            <div class="d-flex align-items-center coi-profile-card">
                <button id="coi-header-nav-profile" class="d-flex align-items-center gap-2 btn-none coi-profile-btn" (click)="openPersonDetailsModal()"
                    title="Click here to view your details" aria-label="Click here to view your details">
                    <!-- icon -->
                    <span class="d-flex align-items-center justify-content-center coi-profile-icon">{{ profilePicLetters }}</span>
                    <b class="d-none d-lg-flex coi-profile-name fs-16">{{ fullName }}</b>
                </button>
            </div>
        </div>
    </div>
</header>

<ng-container *ngIf="isShowHeaderAddNoteSlider">
    <app-notes-edit-slider [sliderId]="'entity-header-add-note-slider'"
    (emitSliderAction)="updateAndCloseSlider($event)" [notesAPICalls]="notesAPICallsForEditor"></app-notes-edit-slider>
</ng-container>

<app-disclosure-create-modal *ngIf="isShowCreateOrReviseModal" [triggeredFrom]="triggeredFrom"
                             [activeDisclosures]="headerService.activeDisclosures" (emitCreateOrRevise)="outputEventAction($event)">
</app-disclosure-create-modal>

<!-- theme selector -->
<div class="modal modal-coi fade mySkinDialog" id="theme-selector-modal" role="dialog" tabindex="-1" aria-label="Choose a theme">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pe-0">
                <h4 class="modal-title">Choose a theme</h4>
                <button aria-label="Click here to close" class="btn-close me-3 fs-12" data-bs-dismiss="modal" id="dissmiss-btn"
                    type="button">
                </button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-3">
                        <div class="form-check">
                          <input type="radio" class="btn-check" name="options-theme" id="btn-check-default" checked autocomplete="off" (click)="changeTheme('default')">
                        <label class="btn btn-outline-secondary" for="btn-check-default">Default</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-check">
                            <input type="radio" class="btn-check" name="options-theme" id="btn-check-dark" autocomplete="off" (click)="changeTheme('dark')">
                <label class="btn btn-outline-dark" for="btn-check-dark">Dark</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-check">
                            <input type="radio" class="btn-check" name="options-theme" id="btn-check-blue" autocomplete="off" (click)="changeTheme('blue')">
                <label class="btn btn-outline-primary" for="btn-check-blue">Blue</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-check">
                            <input type="radio" class="btn-check" name="options-theme" id="btn-check-red" autocomplete="off" (click)="changeTheme('red')">
                <label class="btn btn-outline-danger" for="btn-check-red">Red</label>
                        </div>
                      </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- theme selector ends -->

<!-- coi welcome page modal starts -->
<app-common-modal *ngIf="engMigrationDetails?.isShowEngagementMigrationModal" [modalConfig]="engMigrationDetails?.engagementMigrationModalConfig"
    (modalAction)="postConfirmation($event)">
    <!-- modal header -->
    <ng-container modal-header>
        <div class="d-flex gap-2 align-items-center">
            <mat-icon aria-hidden="true" class="flex-shrink-0">info</mat-icon>
            <div>{{ engMigrationDetails?.engagementMigrationModal?.header }}</div>
        </div>
    </ng-container>
    <!-- modal body -->
    <ng-container modal-body>
        <div class="coi-side-highlight-card fs-14 fw-400 d-flex flex-column gap-3 rounded p-3">
            <span>{{ engMigrationDetails?.engagementMigrationModal?.message }}</span>
            <span>
                <ul class="list-unstyled">
                    <li>Click <strong>“Proceed”</strong> to {{ engMigrationDetails?.engagementMigrationModal?.proceedText }}.</li>
                    <li>{{ engMigrationDetails?.engagementMigrationModal?.closingText }}</li>
                </ul>
            </span>
        </div>
    </ng-container>
</app-common-modal>
<!-- coi welcome page modal ends -->

<!-- logout confirmation modal starts -->
<app-common-modal *ngIf="headerService.logoutConfirmModalConfig?.isOpenModal"
    [modalConfig]="headerService.logoutConfirmModalConfig?.modalConfig" (modalAction)="postLogoutConfirmation($event)">
    <!-- modal header -->
    <ng-container modal-header>
        <span>Confirmation</span>
    </ng-container>
    <!-- modal body -->
    <ng-container modal-body>
        <span class="fs-14">Are you sure you want to {{ commonService.enableSSO ? 'exit' : 'logout'}}?</span>
    </ng-container>
</app-common-modal>
<!-- logout confirmation modal ends -->

<!-- user support slider starts -->
<ng-container *ngIf="userSupportConfig?.isOpenSlider">
    <app-coi-slider (closeSlider)="closeUserSupportSlider()" [sliderWidth]="'w-75 w-md-75 w-xl-50'"
        [elementId]="userSupportConfig?.sliderId" [isHeaderNeeded]="true">
        <!-- slider header -->
        <ng-container header>
            <span>{{ headerService.landingConfig?.supportAssistanceConfig?.header?.title }}</span>
        </ng-container>
        <!-- modal content -->
        <ng-container content>
            <p class="fs-16 mb-3">{{ headerService.landingConfig?.supportAssistanceConfig?.header?.subtitle }}</p>
            <ul class="coi-support-contacts row g-4 list-unstyled mb-0">
                <li *ngFor="let contact of headerService.landingConfig?.supportAssistanceConfig?.contacts; let contactIndex = index"
                    class="coi-support-contacts-items col-12 col-lg-6">
                    <div class="p-3 h-100 rounded-3 border">
                        <h3 class="coi-text-dark fs-14 mb-2">{{ contact?.sectionHeader }}</h3>
                        <address class="mb-0">
                            <span class="coi-text-dark d-block fw-semibold">{{ contact?.contactType }}</span>
                            <div class="d-flex align-items-center gap-1">
                                <a class="link-primary fw-semibold text-break"
                                    id="coi-support-contact-item-{{contactIndex}}"
                                    [href]="contact?.contactLink" rel="noopener noreferrer"
                                    [title]="contact?.linkTooltip" [attr.aria-label]="contact?.linkAriaLabel">
                                    <span class="visually-hidden">{{ contact?.sectionHeader }} {{ contact?.contactType }}: </span>
                                    {{ contact?.displayText }}
                                </a>
                                <div class="w-1rem">
                                    <button *ngIf="!userSupportConfig.copiedIndex[contactIndex]"
                                        id="coi-support-contact-copy-{{contactIndex}}"
                                        (click)="copyToClipboard(contact?.displayText, contactIndex)"
                                        class="d-inline-flex align-items-center justify-content-center btn-none coi-support-contact-copy-btn"
                                        title="Click here to copy {{ contact?.displayText }} to clipboard"
                                        attr.aria-label="Click here to copy {{ contact?.sectionHeader }} {{ contact?.contactType }}: {{ contact?.displayText }} to clipboard">
                                        <mat-icon aria-hidden="true" class="flex-shrink-0 coi-text-light">content_copy</mat-icon>
                                    </button>
                                    <div *ngIf="userSupportConfig.copiedIndex[contactIndex]" class="position-relative">
                                        <div class="check-mark draw"></div>
                                    </div>
                                </div>
                            </div>
                        </address>
                    </div>
                </li>
            </ul>
            <!-- for copying content -->
            <div id="copy-to-clipboard-container"></div>
        </ng-container>
    </app-coi-slider>
</ng-container>
<!-- user support slider ends -->
