.header-navigation-links {
    list-style-type: none;
    line-height: 10px;
}

.h-45 {
    min-height: 65px;
}

.header-navigation-links li a {
    position: relative;
    padding: 18px;
    font-weight: bold;
    text-decoration: none;
}

.header-navigation-links li a .active,
.header-navigation-links li a:focus {
    font-weight: bold;
    padding: 18px;
}

.active-color {
    color: #007DEC;
    position: absolute;
    bottom: -24px;
    right: calc(50% - 12px);
}

.divider {
    border: 1px solid rgb(100 121 143 / 12%);
    min-height: 28px;
}

.logged-user {
    transform: scale(2);
}

.coi-profile-card {
    padding-left: .5rem;
    border-left: 2px solid rgb(100 121 143 / 12%);

    img {
        width: 40px;
    }
}

.pushHeader {
    margin-bottom: 4rem;
}

.header-advance-search {
    input {
        width: 400px;
        /* UI Properties */
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        font-size: 0.875rem;
        padding: 20px 30px 20px 15px;
    }
}

.logo {
    width: 80px;
    max-width: 80px;
}

.custom-margin {
    margin-left: 55px;
    margin-right: 20px;
}

.dropdown-menu {
    margin-top: 8px;
    max-height: 250px;
    overflow: auto;
    box-shadow: 0px 3px 6px #00000029;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    
    &::-webkit-scrollbar-track {
        width: 6px;
        height: 6px;
    }

    .dropdown-item {
        display: flex;
        align-items: center;
        min-height: 40px;
        font-size: 1rem;
        cursor: pointer;

        * {
            color: #7C7C7C !important;
        }
    }

    .dropdown-item:not(:last-child) {
        border-bottom: 1px solid #ebecf0;
    }

    .dropdown-item:active * {
        color: white !important;
    }
}

.dropdown-width {
    min-width: 34px;
}

.add-notes {
    font-weight: 600;
    padding-left: 16px;
    padding-right: 8px;
}

.notes-textarea {
    padding-top: 10px;
    background-color: #d2d3d526;
    width: 93%;
    margin-left: 13px;
    border: none;
    font-size: 0.875rem;

    &:focus {
        outline: none !important;
        border-bottom: 2px solid #007dec;
        box-shadow: none;
        background-color: #d2d3d526;
    }
}

.h-41 {
    height: 41px !important;
}

.hr {
    margin: 0.5rem 0;
}

.add-note {
    position: fixed;
    top: 44px;
    right: 28px;
    cursor: all-scroll;
    z-index: 52 !important;
    width: 30%;
}

.menu-icon {
    background: #f3f2f2;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: none;
    color: #5d656c;
    margin-left: 30px;
    cursor: pointer;

    &:hover {
        color: #007dec;
    }
}

.nav-bar-custom-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    cursor: pointer;
}

.coi-profile-btn {
    .coi-profile-icon {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        font-size: 1rem;
        font-weight: 900;
        color: #0948b3;
        background-color: #d9e9f7;
        line-height: 25px;
    }

    &:hover,
    &:focus {
        .coi-profile-name {
            text-decoration: underline;
            color: #007DEC;
        }
    }
}

.header-navigation-links {
    position: relative;
    display: flex;
    flex-direction: row;

    li {
        display: inline-block;
    }
}

.menu-icon {
    display: none;
}

.nav-collapsed {
    .header-navigation-links {
        position: absolute;
        left: 230px;
        top: 70px;
        background: var(--theme-white);
        flex-direction: column;
        min-width: 250px;
        box-shadow: 1px 7px 11px rgba(0, 0, 0, 0.15);
        border: 1px solid #dbdfe9;
        border-radius: 0.5rem;
        z-index: 10;
        visibility: hidden;
        opacity: 0;

        &.show-menu {
            visibility: visible !important;
            opacity: 1;
            top: 50px;
            transition: ease-in-out 0.2s;
        }

        li {
            width: 100%;
        }
    }

    .menu-icon {
        display: inline-flex;
    }

    .coi-header-tab-count-position {
        position: static;
    }
}

.count-badge-single-digit {
    top: 4px;
    right: -22px;
}

.count-badge-double-digit{
    right: -32px;
    top: 4px;
    height: 21px;
    width: 36px;
}

.coi-create-dropdown-width {
    max-width: 230px;
}

// coi support slider styles starts
.coi-support-contacts li:first-child {
  flex-grow: 1;
}

.coi-support-contacts-items {
    .coi-support-contact-copy-btn {
        opacity: 0;
        transition: all 200ms ease-in-out;
    }

    &:hover {
        .coi-support-contact-copy-btn {
            opacity: 1;
            transition: all 200ms ease-in-out;
            animation: copyIcon 200ms ease-in-out;
        }
    }
}

.check-mark.draw:after {
    animation: check-mark 500ms ease;
    transform: scaleX(-1) rotate(135deg);
}

.check-mark:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    height: 1.2rem;
    width: 0.6rem;
    transform-origin: left top;
    border-right: 3px solid #5cb85c;
    border-top: 3px solid #5cb85c;
}

@keyframes check-mark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 0.6rem;
        opacity: 1;
    }

    40% {
        height: 1.2rem;
        width: 0.6rem;
        opacity: 1;
    }

    100% {
        height: 1.2rem;
        width: 0.6rem;
        opacity: 1;
    }
}

@keyframes copyIcon {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
// coi support slider styles ends
