.searchBox>input[type="text"] {
	/* border-radius: 20px; */
	border: 1px #DEDEDE solid;
	width: 100%;
	padding-right: 35px;
	line-height: 27px;
	height: 30px;
	padding-left: 10px;
}
.searchButton {
	position: absolute;
	right: 10px;
	top: 6px;
    font-size: 0.9375rem;
	color: #9E9E9E;
	cursor: pointer;
}

/* .searchButton:hover {
	color: #00bcd4 !important;
} */
ul.sb-results-dropdown-menu {
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: scroll;
    background: white;
    border-radius: 10px;
}

ul.sb-results-dropdown-menu > li {
    position: relative;
    border-bottom: 1px dotted #ccc;
    /* height: 47px; */
    padding: 10px;
    cursor: pointer;
    list-style: none;
}
ul.sb-results-dropdown-menu > li:hover, ul.sb-results-dropdown-menu > li:focus, ul.sb-results-dropdown-menu > li:focus-within {
	 background: #e0eaff;
}
.highlight{
    background: #e0eaff;
}

/*it should be removed today*/
ul.sb-results-dropdown-menu > li span {
    line-height:18px;
    font-size: 12.8px;
}

ul.sb-results-dropdown-menu > li:last-child {
    border-bottom: 0;
}

.sb-seachresults {
    position: absolute;
    top: 32px;
    z-index: 5;
    width: 100%;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.18);
}
.search-outer{ position: relative;}
.z-index {
    z-index: 1200;
}
.search-icon-invalid {
    right: 28px;
}
