.left-div {
    width: 75%;
    /* margin-top: 26px; */
    display: inline-block;
    transition: width 1.2s ease-in-out;
}

.right-div {
    margin-top: 6px;
    display: inline-block;
    width: 24%;
    position: fixed;
    margin-left: 5px;
    padding-right: 0.9rem;
}
