<div class="position-relative row mx-0 gap-2">
    <div class="col px-0">
        <app-header-details></app-header-details>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="coi-en-nav-r coi-en-nav-r-width px-0" [class.coi-en-nav-r-w-0]="!entityManagementService.isExpandRightNav">
        <!-- expand collapse while responsive -->
        <div class="d-xl-none coi-en-nav-r-btn-position h-100">
            <button [id]="toggleBtnId" (click)="toggleRightPanel()"
                class="d-flex align-items-center justify-content-center btn-none bg-primary py-4 rounded-start-3 coi-nav-tab-sticky coi-en-nav-r-btn"
                [attr.aria-label]="entityManagementService.isExpandRightNav ? 'Click here to collapse' : 'Click here to expand'"
                [title]="entityManagementService.isExpandRightNav ? 'Click here to collapse' : 'Click here to expand'">
                <mat-icon aria-hidden="true" [ngClass]="entityManagementService.isExpandRightNav ? 'coi-rotate-0' : 'coi-rotate-180'"
                    class="flex-shrink-0 text-white">chevron_right</mat-icon>
            </button>
        </div>
        <div [class.d-none]="!entityManagementService.isExpandRightNav" class="d-xl-block h-100">
            <app-right-panel></app-right-panel>
        </div>
    </div>
</div>
