.coi-en-nav-r-width {
    width: 300px;
}

.coi-en-nav-r-btn-position  {
    display: none;
    left: -22px;
    z-index: 51;
}

.coi-en-nav-r-btn {
    width: 22px;
    height: 35px;
}

@media (max-width: 1199px) {
    .coi-en-nav-r {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 50;
    }

    .coi-en-nav-r-w-0 {
        width: 0 !important;
    }

    .coi-en-nav-r-btn-position {
        position: absolute;
        top: 0;
        display: flex;
    }

}
