.nav-tabs {
    border-bottom: none;
}

.qst-warning-nav .active {
    font-weight: 600;
    border-bottom: 2px solid #ffc107 !important;
    border: none;
    background: #fffbf1;
}

.close-button {
    color: #aaa;
    font-weight: bold;
}