.list-none {
    list-style: none;
}

.dropdown-menu {
    transform: translate3d(-7rem, 35px, 0px) !important;
}

.max-vh-45 {
    max-height: 45vh;
}

::-webkit-scrollbar {
    width: .4em;
    height: 3em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

.more-actions-menu {
    list-style-type: none;
    padding: 0;
}

.moreActionBtnGroup {
    padding: 0;
}

.moreActionBtnGroup a {
    padding: 0.4rem 1.2rem !important;
    font-size: 1.44rem;
    color: #48647f !important;
}

.moreActionBtnGroup a:hover {
    background-color: #e2eaea !important;
    color: #000 !important;
}

.moreActionBtnGroup li {
    background: #fff;
    text-overflow: ellipsis;
    height: auto;
    line-height: 35px;
}
