<div id="TD2401" class="position-relative">
    <div *ngIf="isCollapsed" [@heightAnimation]>
        <div class="col-12 px-2">
            <div *ngIf="isExternal" class="mb-3">
                <app-shared-sfi-card (viewSlider)="viewSlider($event)" [reqObject]='entityDetails'
                    [referredFrom]="'TRAVEL_DISCLOSURE'" [uniqueId]="'travel-summary'"></app-shared-sfi-card>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>

    <ng-container *ngIf="showSlider">
        <app-coi-slider (closeSlider)="hideSfiNavBar()" [elementId]="sliderElementId">
            <ng-container content>
                <app-entity-details [entityId]="entityDetails.personEntityId"></app-entity-details>
            </ng-container>
        </app-coi-slider>
    </ng-container>
</div>
