
.slider{background-color: #e9ecef;}
input:checked + .slider {background-color: #26a699 !important;}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 29px
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0
}
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 6px;
    background-color: #dddbdb !important;
    -webkit-transition: .4s;
    transition: .4s;
    width:100%
}
.switch .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 5px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}
.switch .slider.round {
    border-radius: 34px
}
.switch .slider.round:before {
    border-radius: 50%;
    box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3)
}
.switch small {
    margin-left: 8px;
    margin-top: 5px;
    display: inline-block;
    font-weight: 700;
    color: #fff
}

.custom-height{
    height: 31px;
}

.disabled-switch {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
}

.btn-outline-secondary {
    padding: 0.250rem 0.5rem !important;
}
