<!-- Last updated by Krishnanunni on 05-12-2019 -->
<div id="award-history-section" class="form-row mt-3" *ngIf="_commonData.awardSectionConfig['161']?.isActive">
    <div *ngIf="awardVersionsData?.length || masterVersion" class="col-12">
        <div class="mb-3">
            <div class="form-row">
                <div class="col-lg-12">
                    <div *ngIf="masterVersion" class="active-card border-10 mb-3">
                        <div class="border-bottom px-4 py-3">
                            <div class="row">
                                <div class="col-md-8 col-12"> <span class="fw-600"># {{masterVersion?.awardNumber}} :
                                        {{masterVersion?.title}}
                                    </span></div>
                                <div class="col-md-4 col-12 text-right">
                                    <span class="badge-title bg-transparent mr-0 fs-14-nav px-0 fw-600"><i
                                            class="fa fa-bookmark text-primary" aria-hidden="true"></i>
                                        Version <span class="d-none d-md-inline-block">Status</span> :
                                    </span>
                                    <span
                                        class="status-badge-{{getBadgeByStatusCode(masterVersion?.awardSequenceStatus)}}">
                                        {{masterVersion?.awardSequenceStatus}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body gridSkin">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                                    <label>
                                        <ng-container i18n="@@COMMON_AWARD_ID">Award ID</ng-container>
                                    </label>
                                    <span class="d-sm-block">
                                        {{masterVersion?.awardId}}
                                    </span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <label>Principal Investigator</label>
                                    <span class="d-sm-block">
                                        {{masterVersion?.principalInvestigator}}
                                    </span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                    <label>Last updated by</label>
                                    <span class="d-sm-block">
                                        {{masterVersion?.updateUserFullName}}
                                    </span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                                    <label><ng-container i18n="@@AWARD_AWARD_STATUS">Award Status</ng-container></label>
                                    <span class="d-sm-block ">
                                        {{masterVersion?.awardStatus?.description ?
                                        masterVersion?.awardStatus?.description : 'None'}}
                                    </span>
                                </div>
                                <div *ngIf="awardId !== masterVersion?.awardId"
                                    class="col-12 text-right mt-3">
                                    <span class="external-link hand-cursor"
                                        title="View Award {{masterVersion?.awardId}}"
                                        i18n-title="'@@VIEW_AWARD + `# ${masterVersion?.awardId}`">
                                        <a class="anchor-link" [routerLink]="['/fibi/award/overview']"
                                            [queryParams]="{ 'awardId': masterVersion?.awardId }" target="_blank">
                                            <ng-container i18n="@@AWARD_VIEW_THIS_AWARD">View this Award
                                            </ng-container> <i aria-hidden="true"
                                                class="fa fa-external-link-square mt-1"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-12"
                    [ngClass]="awardVersionsData.length >= 1 && masterVersion ? 'time-line position-relative ml-auto': ''"
                    *ngFor="let awardVersion of awardVersionsData">
                    <div class="card border-10 mb-3">
                        <div class="border-bottom px-4 py-3">
                            <div class="row">
                                <div class="col-md-8 col-12 fw-600"> 
                                   <span *ngIf="awardVersion?.serviceRequestType"> Request Type : {{awardVersion?.serviceRequestType?.description}}</span>
                                   <span *ngIf="!awardVersion?.serviceRequestType">Request Type :<ng-container i18n="@@AWARD_AWARD_SETUP">Award Setup </ng-container></span>
                                </div>
                                <div class="col-md-4 col-12 text-right">
                                    <span>Version : {{awardVersion?.sequenceNumber}}</span>
                                    <span class="badge-title bg-transparent mr-0 ml-2 fw-600 fs-14-nav px-0"><i
                                            class="fa fa-bookmark text-primary" aria-hidden="true"></i>
                                        Version <span class="d-none d-md-inline-block">Status</span> :
                                    </span>
                                    <!-- <span  
                                class="status-badge-{{getBadgeByStatusCode(awardVersion?.awardSequenceStatus)}} fs-14-nav px-0 bg-transparent"
                                title="{{awardVersion?.awardSequenceStatus}}">{{awardVersion?.awardSequenceStatus}}
                            </span> -->
                                    <span
                                        class="status-badge-{{getBadgeByStatusCode(awardVersion?.awardSequenceStatus)}}">
                                        {{awardVersion?.awardSequenceStatus}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body gridSkin pb-2">
                            <div class="row">
                                <div class="col-12">
                                    <div class="fw-700">{{awardVersion?.title}}</div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-1 col-md-2 col-sm-6 col-12">
                                    <label>
                                        <ng-container i18n="@@COMMON_AWARD_ID">Award ID</ng-container>
                                    </label>
                                    <span class="d-sm-block">
                                        {{awardVersion?.awardId}}
                                    </span>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <label>Request Title</label>
                                    <span class="d-sm-block">
                                        {{awardVersion?.serviceRequestSubject ? awardVersion?.serviceRequestSubject
                                        : 'None'}}
                                    </span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                                    <label>Active Date</label>
                                    <span class="d-sm-block">
                                        {{awardVersion?.submitUserFullName ? (awardVersion?.updateTimeStamp |
                                        dateFormatterWithTimeZone: 'long') : 'None'}}
                                    </span>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                                    <label>Created by</label>
                                    <span class="d-sm-block">
                                        {{awardVersion?.createUserFullName}}
                                        <span class="d-block" *ngIf="awardVersion?.createTimestamp"> on {{awardVersion?.createTimestamp |dateFormatterWithTimeZone: 'long'}}</span>
                                    </span>
                                </div>
                                <!-- <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                                        <label>Last updated by</label>
                                        <span class="d-sm-block">
                                            {{awardVersion?.updateUserFullName}}
                                        </span>
                                    </div> -->
                                <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                                    <label i18n="@@AWARD_AWARD_STATUS">Award Status</label>
                                    <span class="d-sm-block ">
                                        {{awardVersion?.awardStatus.description ? awardVersion?.awardStatus.description
                                        : 'None'}}
                                    </span>
                                </div>
                                <div *ngIf="awardVersion?.sapFeedStatus && awardVersion?.sapFeedStatus?.feedStatusCode" class="col-lg-2 col-md-2 col-sm-6 col-12">
                                    <label >Feed Status</label>
                                    <span class="d-sm-block ">
                                        {{awardVersion?.sapFeedStatus?.description ? awardVersion?.sapFeedStatus?.description
                                        : 'None'}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-3 border-top">
                            <div class="col-8 mt-2">
                                <span *ngIf="awardVersion?.submitUserFullName"
                                    class="font-weight-normal text-secondary">
                                    Submitted by {{awardVersion?.submitUserFullName}} on
                                    {{awardVersion?.submissionDate | dateFormatterWithTimeZone : 'long'}}
                                </span>
                            </div>
                            <div class="col text-right  mt-2">
                                <span *ngIf="awardVersion?.serviceRequest" class="external-link hand-cursor mr-3"
                                    title="View Variation Request {{awardVersion?.serviceRequest?.serviceRequestId}}">
                                    <a class="anchor-link"
                                        (click)="viewServiceRequest(awardVersion?.serviceRequest?.serviceRequestId)"
                                        tabindex="0">Variation
                                        Request
                                        <i aria-hidden="true" class="fa fa-external-link-square mt-1"></i>
                                    </a>
                                </span>
                                <span class="external-link hand-cursor" *ngIf="awardVersion?.awardId !== awardId"
                                    title="View Award {{awardVersion?.awardId}}"
                                    i18n-title="'@@VIEW_AWARD + `# ${awardVersion?.awardId}`">
                                    <a class="anchor-link" [routerLink]="['/fibi/award/overview']"
                                        [queryParams]="{ 'awardId': awardVersion?.awardId }" target="_blank">
                                        <ng-container i18n="@@AWARD_VIEW_THIS_AWARD">View this Award
                                        </ng-container> <i aria-hidden="true"
                                            class="fa fa-external-link-square mt-1"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!awardVersionsData?.length" class="card col-12">
        <div class="no-data-container">
            <span class="no-data-icon-outer">
                <div class="no-data-icon">
                    <i class="fa fa-file-o" aria-hidden="true"></i>
                    <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                </div>
            </span>
            <h4>There is no information in this section.</h4>
        </div>
    </div>
</div>
