.action-icons {
    margin-right: 3px;
    font-size: 1.2rem;
    background: #E8F0FB;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
}

.form-control { height: 26px; }

.td { vertical-align: top; }

::ng-deep #searchCostElement input{ height: 26px;}
.searchButton {top: 4px; }
::ng-deep #searchCostElement .searchButton {top: 1px; }
