.header-row {
    background-color: #eef0f3;
}


.searchButton:hover {
    color: #0a58ca !important;
}

.filter-search input {
    padding-left: 2rem;
}

$gap: 0.700rem;

.name::after {
    content: '';
    position: absolute;
    width: 2.5px;
    height: calc(24.5px + #{$gap});
    background-color: #d3d3d3;
    top: -#{$gap};
    left: 30px;
}

.data-row{
    height: 43px;
}

.header-row {
    background-color: #eef0f3;
}

.coi-entity-icon-sm-bg {
    padding: 3px !important;
}

.tree-container {
    max-width: 400px;
    overflow-y: auto;
    width: 100%;
}

.even-row {
    background-color: #f0f0f0; /* Light gray for even rows */
}

.odd-row {
    background-color: #ffffff; /* White for odd rows */
}

.selected-row {
    background-color: #edf7ff;
}

.searchButton {
    left: 28px;
    position: absolute;
    top: 25px;
    color: #9E9E9E;
    cursor: pointer;
}

.closeButton {
    position: absolute;
    right: 25px;
    color: #48647f;
    cursor: pointer;
}

.searchTextBox {
    padding-left: 2rem;
}

.coi-node-btn-link {
    outline: none;
    border: none;

    &:active {
        outline: none;
        border: none;
    }
}
