.grey-info {
    background: #EEEEEE;
    color: #202c2e;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #caced2;
}

.badge {
    color: white;
}

.resultCard::before {
    border-left: none;
    box-shadow: 0 0 7px -4px #ededed;
}

.hover .numbers {
    text-decoration: underline;
}

.invalid-feedback {
    color: rgb(176 42 55)
}

.mandatory {
    color: rgb(176 42 55)
}

.invalid-border {
    border-color: #dc3545 !important;
}

.info-card-margin {
    margin: -15px;
}

.left-padding-info-text {
    padding-left: 0.5rem;
}

.margin-left-2 {
    margin-left: 1.2rem;
    align-items: flex-start;
}

.margin-left-1 {
    margin-left: 1rem;
}

.close-line-height {
    line-height: 1.5rem;
}

.margin-top-home-unit {
    margin-top: 2.5rem;
}

.project-types {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.reset-highlight {
    background-color: #E2F1FF !important;
    color: #007DEC !important;
}

.date-block {
    color: #48647f;
    font-size: 1.28rem;
    font-weight: 500;
}

.label-text {
    font-weight: 600;
    color: #697a80;
    font-size: 0.875rem;
}

.grey-text {
    font-size: 1.4rem;
    color: #48647f;
    font-weight: 400;
}

#close-edit-home-unit {
    background-color: #E2F1FF;
    color: #007DEC !important;
}
