.icon-color{
    color: #1e847b;
}
.low-opacity {
    opacity: .4;
}
.no-drop {
    cursor: no-drop !important;
}
.badge-color{
    background-color: #1e847b;
    color : #ffffff;
}
.form-row > div {
    margin-bottom: 1.4rem;
}
