<div id="Award101" class="card mb-3">
    <div class="card-header">
        <h4 class="card-title align-items-center d-flex">
            <div class="mr-auto"> <ng-container i18n="@@AWARD_GENERAL_AWARD_INFORMATION">General Award Information</ng-container> </div>
            <div class="mr-5">
                <span *ngIf="award?.awardId" class="icon-hover">
                    <a class="tooltip "><i class="fa fa-info-circle fa-med" aria-hidden="true"></i>
                        <div class="tooltiptext-right card card-inner p-15 text-left">
                            <span class="font-cv">Created By</span>
                            <span class="font-cv font-weight-bold">{{award?.createUserFullName}}
                                on {{award?.createTimestamp | dateFormatterWithTimeZone : 'long'}} </span>
                            <span class="font-cv">Last Updated By</span><span
                                class="font-cv font-weight-bold">{{award?.updateUserFullName}}
                                on {{award?.updateTimeStamp | dateFormatterWithTimeZone : 'long'}}</span>
                        </div>
                    </a>
                </span>
                <button id="questionnaireExpandBtn" class="updown-arrow btnPositionFullWidget"
                    (click)="isGeneralInfoOpen = !isGeneralInfoOpen">
                    <i [ngClass]="!isGeneralInfoOpen?'fa fa-angle-double-up':'fa fa-angle-double-down'"
                        class="fa-large" aria-hidden="true"></i>
                </button>
            </div>
        </h4>
    </div>
    <ng-container *ngIf="!isGeneralInfoOpen">
        <div class="card-content">
            <div class="card-body">
                <div class="gridSkin">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-12">
                            <!-- Account Number -->
                            <label class="d-sm-block"><ng-container i18n="@@AWARD_ACCOUNT_NUMBER">Account Number</ng-container></label>
                            <span *ngIf="award?.accountNumber" [innerHTML]='award?.accountNumber | customTagRemover: currentMethod'></span>
                            <span *ngIf="!award?.accountNumber" class="noDataExists">
                                <ng-container i18n="@@AWARD_NO_ACCOUNT_NUMBER_ERR">No Account Number Specified</ng-container></span>
                        </div>
                        <!-- Account Type -->
                        <div class="col-lg-3 col-sm-6 col-12">
                            <label class="d-sm-block">Account Type</label>
                            <span *ngIf="award?.accountType?.description" [innerHTML]="award?.accountType?.description | customTagRemover: 'comparison'"></span>
                            <span *ngIf="!award?.accountType?.description" class="noDataExists">No Account Type
                                Specified</span>
                        </div>
                        <!-- Activity Type -->
                        <div class="col-lg-3 col-sm-6 col-12">
                            <label class="d-sm-block"><ng-container i18n="@@AWARD_ACTIVITY_TYPE">Activity Type</ng-container></label>
                            <span *ngIf="award?.activityTypeCode" [innerHTML]='award?.activityType?.description | customTagRemover: currentMethod'></span>
                            <span *ngIf="!award?.activityTypeCode" class="noDataExists">
                                <ng-container i18n="@@AWARD_NO_ACTIVITY_TYPE_ERR">No Activity Type Specified</ng-container></span>
                        </div>
                        <!-- Award Status -->
                        <div class="col-lg-3 col-sm-6 col-12">
                            <label class="d-sm-block"><ng-container i18n="@@AWARD_AWARD_STATUS">Award Status</ng-container></label>
                            <span *ngIf="award?.awardStatus?.statusCode"
                                [innerHTML]='award?.awardStatus?.description | customTagRemover: currentMethod'></span>
                            <span *ngIf="!award?.awardStatus?.statusCode" class="noDataExists">
                                <ng-container i18n="@@AWARD_NO_AWARD_STATUS_ERR">No Award Status Specified</ng-container></span>
                        </div>
                        <!-- Title -->
                        <div class="col-lg-12 col-md-12 col-12">
                            <label class="d-sm-block">Title</label>
                            <span *ngIf="award?.title" [innerHTML]="award?.title | customTagRemover: currentMethod"></span>
                            <span *ngIf="!award?.title" class="noDataExists">No Title
                                Specified</span>
                        </div>
                        <!-- Lead Unit -->
                        <div class="col-lg-6 col-md-5 col-sm-6 col-12">
                            <label class="d-sm-block">Lead Unit</label>
                            <span *ngIf="award?.leadUnit?.unitName" [innerHTML]='award?.leadUnit?.unitName | customTagRemover: currentMethod'></span>
                            <span *ngIf="!award?.leadUnit?.unitName" class="noDataExists">No Lead Unit
                                Specified</span>
                        </div>
                        <!-- Principal Investigator -->
                        <div class="col-lg-6 col-md-5 col-sm-6 col-12">
                            <label class="d-sm-block">Principal Investigator</label>
                            <span *ngIf="award?.principalInvestigator" [innerHTML]='award?.principalInvestigator | customTagRemover: currentMethod'></span>
                            <span *ngIf="!award?.principalInvestigator" class="noDataExists">No Principal
                                Investigator
                                Specified</span>
                        </div>
                        <!-- Award Effective Date -->
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <label class="d-sm-block"><ng-container i18n="@@COMMON_AWARD_EFFECTIVE_DATE">Award Effective Date</ng-container></label>
                            <span *ngIf="award?.beginDate" [innerHTML]="dateFormatter.parseDate(award?.beginDate) | customTagRemover: currentMethod"></span>
                        </div>
                        <!-- Final Expiration Date -->
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <label class="d-sm-block"><ng-container i18n="@@COMMON_FINAL_EXPIRATION_DATE">Final Expiration Date</ng-container></label>
                            <span *ngIf="award?.finalExpirationDate"
                                [innerHTML]='dateFormatter.parseDate(award?.finalExpirationDate) | customTagRemover: currentMethod'></span>
                            <span *ngIf="!award?.finalExpirationDate" class="noDataExists">
                                <ng-container i18n="@@COMMON_FINAL_EXPIRATION_DATE_ERR">No Final Expiration Date Specified </ng-container></span>
                        </div>
                        <!-- Award Notice Date -->
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <label class="d-sm-block"><ng-container i18n="@@AWARD_AWARD_NOTICE_DATE">Award Notice Date</ng-container></label>
                            <span *ngIf="award?.awardEffectiveDate"
                                [innerHTML]='dateFormatter.parseDate(award?.awardEffectiveDate) | customTagRemover: currentMethod'></span>
                            <span *ngIf="!award?.awardEffectiveDate" class="noDataExists">
                                <ng-container i18n="@@AWARD_AWARD_NOTICE_DATE_ERR">No Award Notice Date Specified </ng-container></span>
                        </div>
                        <!-- Award Duration -->
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <label class="d-sm-block"><ng-container i18n="@@AWARD_AWARD_DURATION">Award Duration</ng-container></label>
                            <span *ngIf="award?.duration" [innerHTML]='award?.duration | customTagRemover: currentMethod'></span>
                            <span *ngIf="!award?.duration" class="noDataExists">
                                <ng-container i18n="@@AWARD_AWARD_DURATION_ERR">No Award Duration Specified</ng-container></span>
                        </div>
                        <!-- Award Type -->
                        <div class="col-lg-3 col-sm-3 col-12">
                            <label class="d-sm-block"><ng-container i18n="@@AWARD_AWARD_TYPE">Award Type</ng-container></label>
                            <span *ngIf="award?.awardTypeCode" [innerHTML]='award?.awardType?.description | customTagRemover: currentMethod'></span>
                            <span *ngIf="!award?.awardTypeCode" class="noDataExists">
                                <ng-container i18n="@@AWARD_AWARD_TYPE_ERR">No Award Type Specified</ng-container></span>
                        </div>
                        <!-- Sponsor -->
                        <div class="col-lg-3 col-sm-3 col-12">
                            <label class="d-sm-block"><ng-container i18n="@@COMMON_SPONSOR">Sponsor</ng-container></label>
                            <ng-container *ngIf="award?.sponsorName">
                                <span [innerHTML]="award?.sponsorName | customTagRemover: currentMethod"></span>
                            </ng-container>
                            <span *ngIf="award?.sponsorName == ''" class="noDataExists">
                                <ng-container i18n="@@COMMON_NO_SPONSOR_ERR">No Sponsor Specified</ng-container></span>
                        </div>
                        <!-- Prime Sponsor -->
                        <div class="col-lg-3 col-sm-3 col-12">
                            <label class="d-sm-block">Prime Sponsor</label>
                            <ng-container *ngIf="award?.primeSponsorName">
                                <span [innerHTML]="award?.primeSponsorName | customTagRemover: currentMethod"></span>
                            </ng-container>
                            <span *ngIf="!award?.primeSponsorName" class="noDataExists">No Prime
                                Sponsor
                                Specified</span>
                        </div>
                        <!-- Sponsor Award Number -->
                        <div class="col-lg-3 col-sm-3 col-12">
                            <label class="d-sm-block"
                                title="The identification number assigned to the award by the Sponsor. Often obtained from the NOA.">
                                <ng-container i18n="@@COMMON_SPONSOR_AWARD_NUMBER">Sponsor Award Number</ng-container></label>
                            <span *ngIf="award?.sponsorAwardNumber" [innerHTML]='award?.sponsorAwardNumber | customTagRemover: currentMethod'></span>
                            <span *ngIf="award?.sponsorAwardNumber == null" class="noDataExists">
                                <ng-container i18n="@@COMMON_NO_SPONSOR_AWARD_NUMBER">No Sponsor Award Number Specified</ng-container></span>
                        </div>
                        <!-- CFDA  Number -->
                        <div class="col-lg-3 col-sm-3 col-12">
                            <label
                                title="CFDA (Catalogue of Federal Domestic Assistance Number) is a five-digit number assigned in the awarding document to most grants and cooperative agreements funded by the Federal government."
                                class="d-sm-block">CFDA Number</label>
                            <span *ngIf="award?.cfdaNumber" [innerHTML]='award?.cfdaNumber | customTagRemover: currentMethod'></span>
                            <span *ngIf="!award?.cfdaNumber" class="noDataExists">No CFDA Number
                                Specified</span>
                        </div>
                        <!-- DFAFS Number -->
                        <div class="col-lg-3 col-sm-3 col-12">
                            <label class="d-sm-block"
                                title="Can be used to enter the DFAFS Number (Department Federal Assistance Financing System). This is applicable to the NIH and Department of Education Awards.">DFAFS
                                Number </label>
                            <span *ngIf="award?.dfafsNumber" [innerHTML]='award?.dfafsNumber | customTagRemover: currentMethod'></span>
                            <span *ngIf="!award?.dfafsNumber" class="noDataExists">No DFAFS Number
                                Specified</span>
                        </div>
                        <!-- <div class="col">
                          <label>Unique Entity Number (UEN)</label>
                          <span>{{award?.uniqueEntityNumber}}</span>
                          <span *ngIf="award?.uniqueEntityNumber == null" class="noDataExists">No Unique Entity Number
                          Specified</span>
                      </div> -->
                        <!-- Keywords -->
                        <div class="col-lg-12 col-12">
                            <label class="d-sm-block">Keywords</label>
                            <div class="fileChips" style="word-break: break-all;" *ngIf="award?.awardKeywords?.length > 0">
                                <ng-container *ngFor="let keyword of award?.awardKeywords;let i = index;">

                                    <ng-container *ngIf="keyword?.keyword == null">
                                        <span
                                            [ngClass]="{ 'delete-background': keyword.status == -1,'add-background': keyword.status == 1}"
                                            [innerHTML]='keyword?.scienceKeyword?.description | customTagRemover: currentMethod'></span>
                                    </ng-container>
                                    <ng-container *ngIf="keyword?.keyword != null">
                                        <span
                                            [ngClass]="{ 'delete-background': keyword.status == -1,'add-background': keyword.status == 1}"
                                            [innerHTML]='keyword?.scienceKeyword?.description | customTagRemover: currentMethod'></span>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <span *ngIf="award?.awardKeywords?.length == 0" class="noDataExists">No Keywords
                                Specified</span>
                        </div>
                    </div>
                    <div *ngIf="_commonData?.awardSectionConfig['197']?.isActive" class="row">
                        <div class="form-group col-6">
                            <label class="d-block">Grant Call</label>
                            <span *ngIf="award?.grantHeaderId" [innerHTML]='award?.grantHeaderId | customTagRemover: currentMethod'></span>
                            <span *ngIf="award?.grantHeaderId">-</span>
                            <span *ngIf="award?.grantCallName" [innerHTML]=' award?.grantCallName | customTagRemover: currentMethod'></span>
                            <span *ngIf="!award?.grantCallName" class="noDataExists">No Grant Call Specified
                            </span>
                        </div>
                        <!-- <div class="col-2 mt-5 no-hover-effect" *ngIf="award?.grantHeaderId">
                            <span class="actionButtonGroup d-inline-block float-left">
                                <a id="grant-view-btn" title="Click here to view {{award?.grantCallName}}"
                                    class="anchor-link ">
                                    View Grant Call Details
                                </a>
                            </span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="p-3">
            <app-comment-box [sectionCode]="101" [awardId]="comparisonData.awardId"
                [awardNumber]="comparisonData.awardNumber" [sequenceNumber]="comparisonData.sequenceNumber">
            </app-comment-box>
        </div>
    </ng-container>
</div>
