<div class="card card-widget-box h-100" [@fadeDown]>
    <div class="card-header">
        <h4 class="card-title d-flex justify-content-between">{{widgetDescription?.widgetName}}
            <span *ngIf="widgetDescription?.description" class="d-inline-block icon-hover">
                <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-question-circle fa-med"
                    aria-hidden="true"></i>
                  <div class="tooltiptext-right card card-inner p-15 text-left">
                    <span class="font-cv new-line-property">{{widgetDescription?.description}}</span>
                  </div>
                </a>
              </span>
        </h4>
    </div>
    <div class="card-content h-100">
        <div class="card-body pt-2 py-0">
            <div *ngIf="isShowLoader" appCustomPreloader></div>
            <div id="pie-chart_under_utilized_award" *ngIf="underUtilizedAwards?.length" (window:resize)="onResize($event)" tabindex="0" style="height: 250px;"></div>
            <div class="no-data-container" *ngIf="!underUtilizedAwards?.length">
                <span class="no-data-icon-outer">
                    <div class="no-data-icon">
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                    </div>
                </span>
                <h4>There is no information in this section.</h4>
            </div>
        </div>
    </div>
</div>
