.card-header-with-btn {
	padding: 5px 15px;
}
.card-header-with-btn .card-title
{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header-with-btn .btn-tertiary
{
	margin: 0;
}
 i {
    cursor: initial;
}
.hand-icon {
    cursor: pointer;
}

