$color: #278cbb;

.history-border {
    box-shadow: 0px 0px 3px #00000029;
}

.first-item {
    &::before {
        height: 120px;
        margin-top: -10px;
        // top: 0px;
    }

    &::after {
        height: 122px;
    }
}

.last-item {
    &::before {
        height: 72px !important;
    }
}

.time-line {
    max-width: 96%;
    margin-left: 53px;
}

.relative-position {
    position: relative;
    left: -123px;
}

.highlight-node {
    // background-color: #e9ffff;
    background-color: #EEEEEE;
    color: #202c2e;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #ded8d8;
    /* cursor: pointer; */
}

.top-card {
    background-color: rgba(210, 228, 248, 0.57);
}

.border {
    border-radius: 15px;
}

.card {
    background-color: none;
}

.badge-warning {
    color: black;
    background-color: #ffc107 !important;
}

article {
    overflow-x: hidden;
}

.previousFcoi-button {
    border-color: #1e847b;
    background-color: transparent;
    color: #1e847b !important;

    &:hover {
        background-color: #1e847b;
        border-color: #1e847b;
        color: #fff !important;
    }
}

.badge-pill {
    padding: 5px 11px !important;
    font-size: 0.875rem !important;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: white;
    border-radius: 15px;
}

.bg-success {
    background-color: #4CB57D !important;
    color: #fff;
}

.bg-info {
    background-color: #17a2b8 !important;
    color: #fff;
}

.close-btn {
    position: absolute;
    right: 19px;
    top: 287px;
    opacity: 0.5;
    border: none;
    // background-color: #e9ffff;
    background-color: #EEEEEE;
    margin-top: 10px;

    &:hover {
        color: #424242;
        cursor: pointer;
    }
}

.hovering-card {
    border: .1px solid #bcd4df;
}

.custom-margin-left {
    margin-left: 150px !important;
}

.col-custom {
    width: 140px;
}

.start-date {
    width: 150px;
    left: 12.5px;
    top: -19px;
}

.end-date {
    width: 150px;
    left: 12.5px;
    top: 15px;
}

.remaining-timeline,
.first-timeline {
    position: relative;
    border: 8px solid rgba(255, 255, 255, 0.74);
    background: $color;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    &:before {
        content: "";
        border-left: 2px dashed $color;
        position: absolute;
        left: 46.6%;
        z-index: 1;
    }

    &:after {
        content: "";
        border-bottom: 2px dashed $color;
        width: 154px;
        height: 0%;
        font-size: 2.8rem;
        color: $color;
        position: absolute;
        top: 6px;
        left: 6px;
        z-index: 1;
    }
}

.remaining-timeline {
    &:before {
        height: 32px;
        top: -35px;
    }
}

.first-timeline {
    &:before {
        height: 26px;
        top: -28px;
    }
}

.history-date {
    background-color: #E2F1FF;
}

.history-username,
.history-attachment {
    color: black;
}

.history-attachment {
    font-weight: 500;
}

.border-left-line {
    border-left: solid #007DEC;
}
