.coi-comparison-right-nav-items {
    padding: 14px 14px;
    color: var(--theme-entity-icon-color);
    font-weight: 500;
    background-color: var(--theme-blue-light);
    border-bottom: 3px solid var(--theme-entity-icon-color);

    &.selected-section {
        color: #e4f1ff;
        background-color: var(--theme-entity-icon-color);
    }
}
