<div class="card coi-card-regular coi-card-shadow">
    <div class="card-body px-3 py-2">
        <div class="row align-items-center flex-wrap">
            <div class="col-auto d-flex justify-content-center">
                <input id="coi-migrated-entity-select-{{entityCardConfig.entityId}}" type="radio"
                    class="form-check-input mt-0 custom-radio-border" [title]="'Click here to select'"
                    [attr.aria-label]="'Click here to select'"
                    [checked]="selectedEntityId === (isDunsEntity ? entityCardConfig.dunsNumber : entityCardConfig.entityId)"
                    (change)="emitEntityAction('SELECT')">
            </div>
            <div class="col">
                <div class="d-flex flex-wrap mb-3 gap-3 w-100">
                    <h4 class="d-flex flex-wrap align-items-center col mb-0 coi-text-darker fs-6 pe-3">
                        <span class="coi-icon-bg me-2 fs-14 d-inline-flex">
                            <mat-icon aria-hidden="true"
                                class="coi-entity-icon-size coi-coloured-icons">domain</mat-icon>
                        </span>
                        <div class="d-flex flex-wrap flex-column">
                            <div class="d-flex flex-wrap align-items-center">
                                <span [title]="entityCardConfig?.entityName" class="text-slice fs-6">{{ entityCardConfig?.entityName }}</span>
                                <span *ngIf="isDunsEntity" class="coi-text-light fs-13 ps-1">(Confidence Score:
                                    <span class="coi-text-dark">{{ entityCardConfig?.matchQualityInformation }}</span>)
                                </span>
                            </div>
                            <div class="d-flex align-items-center gap-1 flex-wrap">
                                <div class="d-flex align-items-center gap-1">
                                    <span class="coi-text-dark fs-13 text-nowrap">Ownership Type:</span>
                                    <div id="coi-{{entityCardConfig?.entityId}}-ownership-type"
                                        class="text-slice coi-text-light fs-13">
                                        <app-no-data-label [valueToShow]="entityCardConfig?.ownershipType">
                                            <span [title]="entityCardConfig?.ownershipType" class="coi-text-light fs-13">{{ entityCardConfig?.ownershipType }}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <span class="coi-text-lighter">|</span>
                                <div class="d-flex align-items-center gap-1">
                                    <span class="coi-text-dark fs-13 text-nowrap">Business Type:</span>
                                    <div id="coi-{{entityCardConfig?.entityId}}-business-type"
                                        class="text-slice coi-text-light fs-13">
                                        <app-no-data-label [valueToShow]="entityCardConfig?.businessType">
                                            <span [title]="entityCardConfig?.businessType" class="coi-text-light fs-13">{{ entityCardConfig?.businessType }}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <span class="coi-text-lighter">|</span>
                                <div class="d-flex align-items-center gap-1">
                                    <span class="coi-text-dark fs-13 text-nowrap">Entity Type:</span>
                                    <div id="coi-{{entityCardConfig?.entityId}}-business-type"
                                        class="text-slice coi-text-light fs-13">
                                        <app-no-data-label [valueToShow]="entityCardConfig?.entityType">
                                            <span [title]="entityCardConfig?.entityType" class="coi-text-light fs-13">{{ entityCardConfig?.entityType }}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h4>
                </div>
                <!-- Address -->
                <div class="row row-cols-1 mb-3">
                    <div class="col">
                        <span id="address-id{{entityCardConfig?.entityId}}" class="d-block coi-text-dark fw-bold">Address</span>
                        <div class="text-slice">
                            <app-no-data-label [valueToShow]="(isDunsEntity ? entityCardConfig?.primaryAddress : primaryAddress)">
                                <span [title]="'#' + (isDunsEntity ? entityCardConfig?.primaryAddress : primaryAddress)"
                                    class="coi-text-light">{{ isDunsEntity ? entityCardConfig?.primaryAddress : primaryAddress }}</span>
                            </app-no-data-label>
                        </div>
                    </div>
                </div>

                <div class="row g-3 mb-3">
                    <!-- City -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <span class="d-block coi-text-dark fw-bold">City</span>
                        <div id="city-id{{entityCardConfig?.entityId}}" class="text-slice">
                            <app-no-data-label [valueToShow]="entityCardConfig?.city">
                                <span [title]="'#' + entityCardConfig?.city" class="coi-text-light">{{ entityCardConfig?.city }}</span>
                            </app-no-data-label>
                        </div>
                    </div>
                    <!-- State -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <span class="d-block coi-text-dark fw-bold">State/Province/Region</span>
                        <div id="state-id{{entityCardConfig?.entityId}}" class="text-slice">
                            <app-no-data-label [valueToShow]="entityCardConfig?.state">
                                <span [title]="'#' + entityCardConfig?.state" class="coi-text-light">{{ entityCardConfig?.state }}</span>
                            </app-no-data-label>
                        </div>
                    </div>
                    <!-- Postal Code -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <span class="d-block coi-text-dark fw-bold">ZIP/Postal Code</span>
                        <div id="zip-id{{entityCardConfig?.entityId}}" class="text-slice">
                            <app-no-data-label [valueToShow]="entityCardConfig?.postalCode">
                                <span [title]="'#' + entityCardConfig?.postalCode" class="coi-text-light">{{ entityCardConfig?.postalCode }}</span>
                            </app-no-data-label>
                        </div>
                    </div>
                    <!-- Country -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <span class="d-block coi-text-dark fw-bold">Country</span>
                        <div id="country-id{{entityCardConfig?.entityId}}" class="text-slice">
                            <app-no-data-label [valueToShow]="entityCardConfig?.country">
                                <span [title]="'#' + entityCardConfig?.country" class="coi-text-light">{{ entityCardConfig?.country }}</span>
                            </app-no-data-label>
                        </div>
                    </div>
                    <!-- DUNS Number -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <span class="d-block coi-text-dark fw-bold">DUNS Number</span>
                        <div id="duns-number-id{{entityCardConfig?.entityId}}" class="text-slice">
                            <app-no-data-label [valueToShow]="entityCardConfig?.dunsNumber">
                                <span [title]="'#' + entityCardConfig?.dunsNumber" class="coi-text-light">{{ entityCardConfig?.dunsNumber }}</span>
                            </app-no-data-label>
                        </div>
                    </div>
                    <!-- UEI Number -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <span class="d-block coi-text-dark fw-bold">UEI Number</span>
                        <div id="uei-number-id{{entityCardConfig?.entityId}}" class="text-slice">
                            <app-no-data-label [valueToShow]="entityCardConfig?.ueiNumber">
                                <span [title]="'#' + entityCardConfig?.ueiNumber" class="coi-text-light">{{ entityCardConfig?.ueiNumber }}</span>
                            </app-no-data-label>
                        </div>
                    </div>
                    <!-- CAGE Number -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <span class="d-block coi-text-dark fw-bold">CAGE Number</span>
                        <div id="cage-id{{entityCardConfig?.entityId}}" class="text-slice">
                            <app-no-data-label [valueToShow]="entityCardConfig?.cageNumber">
                                <span [title]="'#' + entityCardConfig?.cageNumber" class="coi-text-light">{{ entityCardConfig?.cageNumber }}</span>
                            </app-no-data-label>
                        </div>
                    </div>
                    <!-- Website -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <span class="d-block coi-text-dark fw-bold">Website</span>
                        <div id="website-id{{entityCardConfig?.entityId}}" class="text-slice">
                            <app-no-data-label [valueToShow]="entityCardConfig?.website">
                                <span [title]="'#' + entityCardConfig?.website" class="coi-text-light">{{ entityCardConfig?.website }}</span>
                            </app-no-data-label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div *ngIf="selectedEntityId === (isDunsEntity ? entityCardConfig.dunsNumber : entityCardConfig.entityId)"
        class="card-footer d-flex justify-content-end gap-2 align-items-center py-2">
        <button id="migrated-engagement-proceed-btn-{{entityCardConfig?.entityId}}" (click)="emitEntityAction('PROCEED')"
            aria-label="Click here to proceed" class="align-items-center btn btn-primary d-flex fs-14"
            title="Click here to proceed">
            Proceed
        </button>
    </div>
</div>
