.budget-nav {
    border-bottom: 1px solid #dee2e6;
    margin: 0;
}

.budget-nav li a {
    color: #48647f;
}

.budget-nav .nav-link.active {
    font-weight: 600;
    border-top: solid 2px #48647f;
}

.cost-fields label {
    font-size: 1.3rem;
}

.cost-fields {
    background: #e8f0fd;
    border: solid 1px #2c76f25e;
    border-right: 0;
    border-left: 0;
    margin-bottom: 10px !important;
}

.budget-table thead th {
    vertical-align: middle;
    border-right: solid 1px #fff !important;
}

.budget-table thead th:nth-last-child(1) {
    border-right: 0;
}

.budget-table td, .budget-table th {
    padding: 6px 15px;
}

.table-head-color th {
    color: #fff;
    /* background-color: #1e847b; */
}

.cost-sharing .col-12 {
    border-bottom: solid 1px #fff;
}

.cost-sharing .col-4 {
    border-right: solid 1px #fff;
}

.budget-table tbody {
    background-color: #f3f3f3;
}

.budget-table tbody tr td {
    border-right: solid 1px #fff;
}

.budget-table tbody tr td:nth-last-child(1) {
    border-right: 0;
}

.budget-list-table tbody {
    background: none !important;
}

.budget-table tbody td {
    vertical-align: top !important;
}

.invalid-feedback {
    font-size: 1.4rem;
}

.budget-nav .nav-item {
    margin-bottom: -2px;
}

.period-hover:hover span {
    visibility: visible;
}

.period-hover span {
    visibility: hidden;
}

.period-hover .active span {
    visibility: visible;
}

.c-element-color {
    background: #e4efef;
}

.c-element-color:hover {
    background: #e4efef !important;
}

.card-table-box tbody tr:hover {
    background-color: unset;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #f4f5f7;
}
.dropdown-item {
    font-size: 1.3rem;
}

.rate-modal-lg{ max-width: 1000px; }

.fixed-header-table {
    max-height: 300px;
    height: auto;
    overflow-x: hidden;
}

.fixed-header-table thead tr:nth-child(1) th {
    border-bottom: #26a69a;
    position: sticky;
    top: 0;
    z-index: 2;
}

/* .thead-light th {background-color: #e9ecef !important;} */
 .thead-light th {color: #e9ecef !important;}

.border-right { border-right: solid 1px;}
.th-border th { border: solid 1px #fff !important;}
