::ng-deep {
    .custom-qustnr {
        .nav-tabs {
            padding-right: 80px;
        }
    }
}

.btn-position {
    position: relative;
    bottom: 5px;
}

.btn-close {
    color: #000000;
}

.questionnaire-position {
    position: relative;
    bottom: 2px;
    right: 2px;
    border-radius: 0 3.75px 3.75px 3.75px;
    margin-top: 35px;
}

.btn-delete-position {
    position: absolute;
    z-index: 1;
    top: 14px;
    right: 6px;
}

.material-icons-outlined {
    position: relative;
    top: 7px;
}

.delete-content-position {
    position: relative;
    bottom: 5px;
}

.btn-tertiary {
    font-size: 0.875rem;
    min-width: 5em;
    font-weight: 600;
    margin-top: -8px;
    letter-spacing: normal;
    cursor: pointer;
    background-color: rgba(44, 119, 244, .1);
    color: #2c77f4 !important;

    &:hover {
        background-color: rgba(44, 119, 244, .27);
        color: #043e9e !important;
    }
}

.no-data-card {
    height: 150px;
}
