<div class="table-responsive mt-2" >
  <table class="table tableSkin mb-0 advance-table"
    aria-describedby="reimbursement-summary">
    <thead>
      <tr>
        <th scope="col" >Vote
          <span class="d-block">(A)</span>
        </th>
        <th scope="col">Original approved budget ({{_commonService.currencyFormat}})
          <span class="d-block">(B)</span>
        </th>
        <th scope="col">Latest approved budget ({{_commonService.currencyFormat}})
          <span class="d-block">(C)</span>
        </th>
        <th scope="col" style="width: 11%;">Cum. claim up to claim period ({{_commonService.currencyFormat}})
          <span class="d-block">(D)</span>
        </th>
        <th scope="col">Cum. expense up to previous period ({{_commonService.currencyFormat}})
          <span class="d-block">(E)</span>
        </th>
        <th scope="col" style="width: 10%;">Exp incurred in this claim period ({{_commonService.currencyFormat}})
          <span class="d-block">(F)</span>
        </th>
        <th scope="col"  style="width: 11%;">Total expense incurred up to previous quarter ended ({{_commonService.currencyFormat}})
          <span class="d-block">(G)=(E)+(F)</span>
        </th>
        <th scope="col">Fund balance as at claim period ({{_commonService.currencyFormat}})
          <span class="d-block">(H)=(D)-(G)</span>
        </th>
        <th scope="col">Commitments up to claim period ({{_commonService.currencyFormat}})
          <span class="d-block">(I)</span>
        </th>
        <th scope="col">Expense forecast on the next period ({{_commonService.currencyFormat}})
          <span class="d-block">(J)</span>
        </th>
        <th scope="col">Amount required for the next period ({{_commonService.currencyFormat}})
          <span class="d-block">(K)=(I)+(J)-(H)</span>
        </th>
        <th scope="col">Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let summary of claimAdvanceObject.claimSummary;let index=index" >
        <td>{{summary?.budgetCategory?.description}}</td>
        <td class="text-right">{{summary?.originalApprovedBudget| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{summary?.latestApprovedBudget| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{summary?.cumClaimUptoPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{summary?.cumExpenseUptoPrevPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{summary?.expenseIncuredToThisPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{summary?.totalExpenseIncuredUptoPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{summary?.balanceAmtTillPrevPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{summary?.comAmtUptoPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{summary?.amountForcasted| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{summary?.amtReqForCurrentPeroid| currency: _commonService.currencyFormat}}</td>
        <td >{{summary?.description}}</td>
      </tr>
      <tr class="fw-700 tr-inner">
        <td>Total</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalOrgAprvdBudget| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalLatestAprvdBudget| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalCumClaimUptoPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalCumExpUptoPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalExpIncToThisPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalExpIncUpToPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalbalanceAmtTillPrevPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalcomAmtUptoPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalForeCastAmount| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalAmountReq| currency: _commonService.currencyFormat}}</td>
        <td></td>
      </tr>
      <tr class="fw-700">
        <td>Indirect Cost</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalInDirectOrgAprvdBudget| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalInDirectLatestAprvdBudget| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalInDirectCumClaimUptoPeriod| currency: _commonService.currencyFormat}}</td>
        <td></td>
        <td></td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalInDirectExpIncUpToPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalInDirectbalanceAmtTillPrevPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalInDirectcomAmtUptoPeriod| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalInDirectForeCastAmount| currency: _commonService.currencyFormat}}</td>
        <td class="text-right">{{claimAdvanceObject?.advanceCalculations?.totalInDirectAmountReq| currency: _commonService.currencyFormat}}</td>
      </tr>
      <tr class="fw-700">
        <td colspan="9"></td>
        <td  style="width: 10%;">Total Grant Required</td>
        <td class="text-right tr-inner">{{claimAdvanceObject?.advanceCalculations?.totalGrantRequired| currency: _commonService.currencyFormat}}</td>
      </tr>
    </tbody>
  </table>
</div>

