<ng-container *ngIf="!isLoading">
    <div class="row gap-2">
        <!-- Add attachment -->
        <div class="col-12 d-flex align-items-center coloured-bg-header justify-content-end">
            <div class="col-auto" *ngIf="filteredCoiAttachmentsList?.length && !attachmentConfig?.isViewMode">
                <button id="coi-attachment-add-button" class="btn btn-primary coi-btn-sm fs-14 d-inline-flex"
                    title="Click here to add attachment." aria-label="Click here to add attachment."
                    (click)="openAttachmentModal('ADD')">
                    <mat-icon aria-hidden="true" class="flex-shrink-0">add</mat-icon>
                    <span>Add Attachment</span>
                </button>
            </div>
        </div>

        <!-- list -->
        <div *ngIf="filteredCoiAttachmentsList.length" class="col-12 d-grid gap-3 {{attachmentConfig?.gridClass}}">
            <ng-container *ngFor="let attachment of filteredCoiAttachmentsList; let index = index; let isOdd = odd">
                <div class="card coi-card-regular p-2 shadow-sm mt-0">
                    <div class="row mx-0 gap-2">
                        <!-- file icon -->
                        <div
                            class="col-auto d-flex align-items-center h-100 justify-content-center attachment-icon-container p-3 rounded-2">
                            <mat-icon aria-hidden="true" class="fs-24 flex-shrink-0">description</mat-icon>
                        </div>
                        <!-- files -->
                        <div class="col">
                            <!-- type -->
                            <div class="coi-text-darker d-flex" id="coi-attachment-comment-{{index}}">
                                <app-no-data-label [valueToShow]="attachment?.attachmentType">
                                    <span [title]="attachment?.attachmentType"
                                        [attr.aria-label]="attachment?.attachmentType"
                                        class="text-slice fs-14">{{attachment?.attachmentType}}</span>
                                </app-no-data-label>
                                <div class="ms-1 d-inline-flex coi-text-light fs-13">
                                    <span>(</span>
                                    <span class="fw-500 text-nowrap">{{attachment?.updateUserFullame}}</span>
                                    <span class="mx-1">On</span>
                                    <span class="text-nowrap">{{attachment.updateTimestamp | dateFormatterWithTimeZone:
                                        'long'}}</span>
                                    <span>)</span>
                                </div>
                            </div>
                            <!-- description -->
                            <div class="coi-text-light" id="coi-attachment-description-{{index}}">
                                <app-no-data-label [valueToShow]="attachment?.description">
                                    <span [title]="attachment?.description" [attr.aria-label]="attachment?.description"
                                        class="text-slice fs-13">{{attachment?.description}}</span>
                                </app-no-data-label>
                            </div>
                            <!-- file name -->
                            <div class="coi-text-lighter" id="coi-attachment-filename-{{index}}">
                                <app-no-data-label [valueToShow]="attachment.fileName">
                                    <span [title]="attachment.fileName" [attr.aria-label]="attachment.fileName"
                                        class="text-slice fs-13">{{attachment.fileName}}</span>
                                </app-no-data-label>
                            </div>
                        </div>
                        <!-- actions -->
                        <div class="col-auto d-flex justify-content-center align-items-center">
                            <!-- download -->
                            <button id="coi-attachment-download-{{index}}"
                                class="btn btn-primary-icon d-flex align-items-center justify-content-center rounded-circle p-2 m-1"
                                title="Click here to download attachment."
                                aria-label="Click here to download attachment."
                                (click)="downloadAttachment(attachment)">
                                <mat-icon aria-hidden="true" class="flex-shrink-0">download</mat-icon>
                            </button>
                            <!-- version -->
                            <button id="coi-attachment-version-{{index}}"
                                class="btn btn-primary-icon d-flex align-items-center justify-content-center rounded-circle p-2 m-1"
                                title="Click here to view file versions." aria-label="Click here to view file versions."
                                (click)="openVersionModal(attachment, index)">
                                <mat-icon aria-hidden="true" class="flex-shrink-0">difference</mat-icon>
                            </button>
                            <!-- more options button -->
                            <button *ngIf="!attachmentConfig?.isViewMode && (attachmentConfig?.canEditByAdmin || attachment.createdBy === loginPersonId)" [matMenuTriggerFor]="beforeMenu"
                                aria-label="Click here for more action" title="Click here for more action"
                                class="btn btn-primary-icon d-flex align-items-center justify-content-center rounded-circle p-2 m-1">
                                <mat-icon aria-hidden="true" class="moreActionIcon">more_vert</mat-icon>
                            </button>
                            <mat-menu #beforeMenu="matMenu" xPosition="before">
                                <!-- edit -->
                                <ng-container>
                                    <button mat-menu-item id="coi-attachment-edit-{{index}}" class="more-action"
                                        title="Click here to edit attachment."
                                        aria-label="Click here to edit attachment."
                                        (click)="editCoiAttachment(attachment, index)">
                                        <mat-icon aria-hidden="true" class="flex-shrink-0 me-2 coi-scale-9">edit</mat-icon>
                                        <span class="fw-medium fs-14">Edit</span>
                                    </button>
                                </ng-container>
                                <!-- replace -->
                                <ng-container>
                                    <button mat-menu-item id="coi-attachment-replace-{{index}}" class="more-action"
                                        title="Click here to replace attachment."
                                        aria-label="Click here to replace attachment."
                                        (click)="replaceAttachmentModal(attachment, index)">
                                        <mat-icon aria-hidden="true" class="flex-shrink-0 me-2 coi-scale-9">autorenew</mat-icon>
                                        <span class="fw-medium fs-14">Replace</span>
                                    </button>
                                </ng-container>
                                <!-- delete -->
                                <ng-container>
                                    <button mat-menu-item id="coi-attachment-delete-{{index}}" class="more-action"
                                        title="Click here to delete attachment."
                                        aria-label="Click here to delete attachment."
                                        (click)="openDeleteConfirmModal(attachment, index)">
                                        <mat-icon aria-hidden="true" class="flex-shrink-0 me-2">delete</mat-icon>
                                        <span class="fw-medium fs-14">Delete</span>
                                    </button>
                                </ng-container>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <!-- add attachment button -->
    <ng-container *ngIf="!filteredCoiAttachmentsList?.length">
        <app-no-information [isBorderNeeded]="false" [canShowAddButton]="!attachmentConfig?.isViewMode"
            [buttonName]="'Add Attachment'" (buttonAction)="openAttachmentModal('ADD')">
            <span>{{ noDataMessage?.['NO_ATTACHMENT_ADDED'] + ' ' + (!attachmentConfig?.isViewMode ? noDataMessage?.['ADD_NEW_ATTACHMENT'] : '') }}</span>
        </app-no-information>
    </ng-container>

    <!-- delete attachment modal -->
    <ng-container *ngIf="isOpenConfirmationModal">
        <app-common-modal [modalConfig]="confirmationModalConfig" (modalAction)="deleteConfirmModalActions($event)">
            <!-- header -->
            <ng-container modal-header>
                <span>Delete Attachment</span>
            </ng-container>
            <!-- body -->
            <ng-container modal-body>
                <p class="coi-text-light">Are you sure you want to delete this attachment?</p>
            </ng-container>
        </app-common-modal>
    </ng-container>

    <!-- file version modal -->
    <ng-container *ngIf="isOpenVersionModal">
        <app-common-modal [modalConfig]="versionModalConfig" (modalAction)="fileVersionModalActions($event)">
            <!-- header -->
            <ng-container modal-header>
                <span>Versions of {{currentAttachment.fileName}}</span>
            </ng-container>
            <!-- body -->
            <ng-container modal-body>
                <ng-container *ngIf="currentAttachment?.versionList?.length">
                    <ng-container *ngFor="let version of currentAttachment?.versionList; let versionIndex = index">
                        <div class="card coi-card-regular p-3 shadow-sm">
                            <div class="row mx-0 gap-2">
                                <!-- file icon -->
                                <div
                                    class="col-auto d-flex align-items-center h-100 justify-content-center attachment-icon-container p-3 rounded-2">
                                    <mat-icon aria-hidden="true" class="fs-24 flex-shrink-0">description</mat-icon>
                                </div>
                                <!-- files -->
                                <div class="col">
                                    <!-- type -->
                                    <div class="coi-text-darker d-flex"
                                        id="coi-attachment-version-type-{{versionIndex}}">
                                        <app-no-data-label [valueToShow]="version?.attachmentType">
                                            <span [title]="version?.attachmentType"
                                                [attr.aria-label]="version?.attachmentType"
                                                class="text-slice fs-14">{{version?.attachmentType}}</span>
                                        </app-no-data-label>
                                        <div class="ms-1 d-inline-flex coi-text-light fs-13">
                                            <span>(</span>
                                            <span class="fw-500">{{version?.updateUserFullame}}</span>
                                            <span class="mx-1">On</span>
                                            <span>{{version?.updateTimestamp | dateFormatterWithTimeZone:
                                                'long'}}</span>
                                            <span>)</span>
                                        </div>
                                    </div>
                                    <!-- comment -->
                                    <div class="coi-text-light" id="coi-attachment-version-comment-{{versionIndex}}">
                                        <app-no-data-label [valueToShow]="version?.description">
                                            <span [title]="version?.description"
                                                [attr.aria-label]="version?.description"
                                                class="text-slice fs-13">{{version?.description}}</span>
                                        </app-no-data-label>
                                    </div>
                                    <!-- file name -->
                                    <div class="coi-text-lighter" id="coi-attachment-version-filename-{{versionIndex}}">
                                        <app-no-data-label [valueToShow]="version?.fileName">
                                            <span [title]="version?.fileName" [attr.aria-label]="version?.fileName"
                                                class="text-slice fs-13">{{version?.fileName}}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <!-- actions -->
                                <div class="col-auto d-flex justify-content-center align-items-center">
                                    <!-- download -->
                                    <button id="coi-attachment-version-download-{{versionIndex}}"
                                        class="btn btn-primary-icon d-flex align-items-center justify-content-center rounded-circle p-2 m-1"
                                        title="Click here to download version."
                                        aria-label="Click here to download version."
                                        (click)="downloadAttachment(version)">
                                        <mat-icon aria-hidden="true" class="flex-shrink-0">download</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!currentAttachment?.versionList">
                    <app-no-information [isBorderNeeded]="true"><span>{{ noDataMessage?.['ATTACHMENT_VERSION_EMPTY_STATE']}}</span></app-no-information>
                </ng-container>
            </ng-container>
        </app-common-modal>
    </ng-container>
</ng-container>
