.font-style {
    font-weight: 500;
    font-size: 13px!important;
}

.clickable:hover{
    color: #0D6EFD;
    text-decoration: underline;
    cursor: pointer;
}

.widget-container {
    max-height: 400px;
    overflow: auto;
}

.widget-container thead th {
    position: sticky;
    top: 0;
    cursor: pointer;
}


::-webkit-scrollbar {
    width: .4em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}
