.custom-bg {
    background-color: #f1f1f1 ;
}

.custom-sticky-top {
    position: sticky;
    top: 51px;
    z-index: 1020;
    background-color: var(--theme-body-bg-color) ;
}

.sort-div {
    background-color: #eeeeee;
    padding: 9px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 10px;

    .filter-active {
        border: 2px solid #54BF5B !important;
        background: #F5FEF5 !important;
    }

    .arrow {
        font-size: 1.125rem;
        height: 18px;
        width: 16px;
        margin-left: 4px;
    }

    .selected-arrow {
        color: #52bf5a;
    }

}

@media (max-width: 1201px) {
    .sort-div button {
        padding-top: 3px;
    }
}

.dropdown-menu {
  min-width: 280px !important;
  border: 1px solid #dee2e6;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-custom-style {
    min-width: 280px !important;
    max-height: 350px !important;
    z-index: 2 !important
}

.form-check-input {
  cursor: pointer;
  border: 1px solid #9e9e9e;
}

.custom-bottom {
    bottom: -16px;
}
