   :host ::ng-deep .completer-dropdown {
		width: 100% !important;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 400px;
		}
	:host ::ng-deep .completer-row{
	  border-bottom: 1px solid rgb(224, 224, 224);
	}

.text-align {
	align-items: center;
}

.irb-qst-form-outer a, i {
    cursor: initial;
}
.hand-icon {
    cursor: pointer;
}

.span-text-secondary {
	margin-left: 4px !important;
}
.span-text-primary {
	margin-left: 4px !important;
	color: #30b750;
}
.form-row > div {
    margin-bottom: 1.4rem;
}
