.dropdown-toggle::after {
    display: none;
}

/* .font-size-custom {
    font-size: 1.46rem;
} */

.dropdown-toggle i {
    line-height: 23px;
    width: 24px;
    height: 24px;
    background: #e2e0e0;
    border-radius: 50%;
    text-align: center;
    /* font-size: 13px; */
    cursor: pointer;
}

.dropdown-toggle i:hover {
    background: #cac3c3;
}

.moreActions {
    display: flex;
}

.qst-delete i {
    line-height: 24px;
    width: 24px;
    height: 24px;
    background: #e2e0e0;
    border-radius: 50%;
    text-align: center;
    /* font-size: 1.2rem; */
    cursor: pointer;
}

.qst-dropdown-patch { left:-55px !important}

.form-row>div {
    margin-bottom: 1.4rem;
}

::ng-deep .ck.ck-editor__editable_inline {
    border: 1px solid #d3d1d1 !important;
    min-height: 100px;
}

::ng-deep .ck-rounded-corners .ck.ck-balloon-panel, .ck.ck-balloon-panel.ck-rounded-corners {
    z-index: 1060 !important;
}

.delete-question {
    color: #1e847b;
}

.delete-question:hover {
    color: #0b312e;
}

.nolist {
	list-style: none;
}

.table-data-scroll {
	max-height: 300px;
	overflow  : auto;
}

.badge-new {
    font-weight: 500;
    color: #3a3a3a;
    background-color: #dedeff;
    padding: 5px 10px;
}

.badge-new:hover {
    background-color:#c6c6eb
}

.fa-eye {
    font-size:12px;
    margin-right: 8px;
}

.btn-hover {
    transition: .5s;
}

.btn-hover:hover {
    background-color: #c8f3ed80;
    color: #26A69A;
    border-radius: 4px;
}
