<div id="Award102" class="card mt-3 mb-3" *ngIf="_commonData?.awardSectionConfig['176']?.isActive">
  <div class="card-header px-4">
    <h4 class="card-title">Budget Overview</h4>
    <button id="costShareExpandBtn" class="updown-arrow" (click)="isOverviewWidgetOpen = !isOverviewWidgetOpen">
      <i [ngClass]="isOverviewWidgetOpen?'fa fa-angle-double-up':'fa fa-angle-double-down'" class="fa-large"
        aria-hidden="true"></i>
    </button>
  </div>
  <div *ngIf="isOverviewWidgetOpen" class="card-content">
    <div class="card-body pt-0">
      <div *ngIf="!awardBudgetHeader?.budgetId" class="no-data-container">
        <span class="no-data-icon-outer">
          <div class="no-data-icon">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </div>
        </span>
        <h4>There is no information in this section.</h4>
      </div>
      <div class="table-responsive custom-overflow" *ngIf="awardBudgetHeader?.budgetId">
        <div class="gridSkin">
          <div class="row px-4">
            <div class="col-md-2 col-sm col-6 ">
              <label>Start Date</label>
                  <div class="fw-500">
                      <span [ngClass]="awardBudgetHeader.startDate ? '': 'noDataExists' ">
                        {{awardBudgetHeader.startDate ? dateFormatter.parseDate(awardBudgetHeader.startDate):'No Start Date Specified'}}
                      </span>
                  </div>
            </div>
            <div class="col-md-2 col-sm col-6 ">
              <label>End Date</label>
                 <div class="fw-500">
                    <span [ngClass]="awardBudgetHeader.endDate ? '': 'noDataExists' ">
                      {{awardBudgetHeader.endDate ? dateFormatter.parseDate(awardBudgetHeader.endDate):'No End Date Specified'}}
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-sm col-6 " *ngIf='enabledCampusFlagAward'>
              <label>Campus Flag</label>
                <div class="fw-500">
                  <span [ngClass]="awardBudgetHeader.onOffCampusFlag ? '': 'noDataExists' ">
                    {{awardBudgetHeader.onOffCampusFlag ? awardBudgetHeader.onOffCampusFlag:'No Campus Flag Specified'}}
                  </span>
                </div>
            </div>
            <div class="col-md-2 col-sm col-6 ">
              <label><ng-container i18n="@@PROPOSAL_OVER_HEAD_RATE_TYPE">Over Head Rate Type</ng-container></label>
                <div class="fw-500">
                  <span [ngClass]="awardBudgetHeader.rateType?.description ? '': 'noDataExists' ">
                    {{awardBudgetHeader.rateType?.description ? awardBudgetHeader.rateType?.description:'No Over Head Rate Type Specified'}}
                  </span>
               </div>
            </div>
            <div class="col-md-2 col-sm col-6 ">
              <label>Remaining Fund based on</label>
                <div class="fw-500">
                  <span [ngClass]="awardBudgetHeader?.availableFundType ? '': 'noDataExists' ">
                    {{awardBudgetHeader?.availableFundType ? awardBudgetHeader?.availableFundType:'No Remaining Fund based on Specified'}}
                  </span>
               </div>
            </div>
            <!-- </div> -->
            <!-- <div class="row px-4"> -->
            
            <div class="col-md-2 col-sm col-6" *ngIf="enableCostShareStatus">
             <label>Cost Sharing</label>
                <div class="fw-500">
                  <span [ngClass]="awardBudgetHeader.costSharingTypeCode ? '': 'noDataExists' ">
                    {{awardBudgetHeader.costSharingTypeCode ? awardBudgetHeader.costSharingType.description:'No Cost Sharing Specified'}}
                  </span>
               </div>
            </div>
            <div class="col-md-2 col-sm col-6 " *ngIf="isShowBudgetOHRatePercentage">
              <label>On-Campus Rate</label>
                <div class="fw-500">
                  <span [ngClass]="awardBudgetHeader.onCampusRates ? '': 'noDataExists' ">
                    {{awardBudgetHeader.onCampusRates ? awardBudgetHeader.onCampusRates:'No On-Campus Rate Specified'}}
                  </span>
               </div>
            </div>
            <div class="col-md-2 col-sm col-6 " *ngIf="isShowBudgetOHRatePercentage">
              <label>Off-Campus Rate</label>
                <div class="fw-500">
                  <span [ngClass]="awardBudgetHeader.offCampusRates ? '': 'noDataExists' ">
                    {{awardBudgetHeader.offCampusRates ? awardBudgetHeader.offCampusRates:'No Off-Campus Rate Specified'}}
                  </span>
               </div>
            </div>
            
            <div *ngIf="awardBudgetHeader?.enableAwardBudgetVirementCalculation" class="col-md-2 col-sm col-6 ">
              <label>Virement %</label>
                <div>
                  <span class="fw-500 f-13 text-secondary"
                    [innerHTML]='awardBudgetHeader?.virement ? (awardBudgetHeader?.virement | customTagRemover: currentMethod) : "0.00" '>
                  </span>
               </div>
            </div>
            <div  *ngIf="awardBudgetHeader?.enableAwardBudgetVirementCalculation" class="col-md-2 col-sm col-6">
              <label>Cumulative Virement %</label>
                <div class="fw-500">
                  <span class="fw-500 f-13 text-secondary"
                    [innerHTML]='awardBudgetHeader?.cumulativeVirement ? (awardBudgetHeader?.cumulativeVirement | customTagRemover: currentMethod) : "0.00" '>
                  </span>
               </div>
            </div>
           <!-- </div> -->
           <!-- <div class="row px-4"> -->
           
            <div class="col-md-2 col-sm col-6" *ngIf="isShowAwardBudgetFieldForSap">
                <label>Fund Center</label>
                  <div class="fw-500">
                    <span [ngClass]="awardBudgetHeader.fundCenter ? '': 'noDataExists' ">
                      {{awardBudgetHeader.fundCenter ? awardBudgetHeader.fundCenter:'No Fund Center Specified'}}
                    </span>
                 </div>
            </div>
            <div class="col-md-2 col-sm col-6" *ngIf="isShowAwardBudgetFieldForSap">
              <label>Fund Code</label>
                <div class="fw-500">
                  <span [ngClass]="awardBudgetHeader.fundCode ? '': 'noDataExists' ">
                    {{awardBudgetHeader.fundCode ? awardBudgetHeader.fundCode:'No Fund Code Specified'}}
                  </span>
               </div>
            </div>
            <div class="col-md-2 col-sm col-6" *ngIf="isShowAwardBudgetFieldForSap">
              <label>Fund Disbursement Basis</label>
                <div class="fw-500">
                  <span [ngClass]="awardBudgetHeader.fundDisbursementBasisTypeCode ? '': 'noDataExists' ">
                    {{awardBudgetHeader.fundDisbursementBasisTypeCode ? awardBudgetHeader.fundDisbursementBasisType.description:'No Fund Disbursement Basis Specified'}}
                </span>
              </div>
            </div>
            <!-- </div> -->
            <!-- <div class="row px-4"> -->
            <div class="col-md-2 col-sm col-6 ">
              <label>Direct Cost</label>
                <div class="fw-500">
                  <span class=" f-13 fw-500 text-secondary"
                    [innerHTML]='awardBudgetHeader.totalDirectCost ? (currencyFormatter.parseCurrency(awardBudgetHeader.totalDirectCost) | customTagRemover: currentMethod) : currencyFormatter.parseCurrency("0.00")'>
                  </span>
               </div>
            </div>
            <div class="col-md-2 col-sm col-6 ">
              <label>Indirect Cost</label>
                <div class="fw-500">
                  <span class=" f-13 fw-500 text-secondary"
                    [innerHTML]='awardBudgetHeader.totalIndirectCost ? (currencyFormatter.parseCurrency(awardBudgetHeader.totalIndirectCost) | customTagRemover: currentMethod) : (currencyFormatter.parseCurrency("0.00") | customTagRemover: currentMethod)'>
                  </span>
               </div>
            </div>
            <div class="col-md-2 col-sm col-6 ">
              <label>Total Cost</label>
                <div class="fw-500">
                  <span class=" f-13 fw-500 text-secondary"
                    [innerHTML]='awardBudgetHeader.totalCost ? (currencyFormatter.parseCurrency(awardBudgetHeader.totalCost) | customTagRemover: currentMethod) : (currencyFormatter.parseCurrency("0.00") | customTagRemover: currentMethod)'>
                  </span>
               </div>
            </div>
          </div>
          <div class="row px-4">
            <div class="col-12">
              <label>Description</label>
                  <div class="fw-500">
                    <span [ngClass]="awardBudgetHeader?.comments ? '': 'noDataExists' ">
                      {{awardBudgetHeader?.comments ? awardBudgetHeader?.comments:'No Description Specified'}}
                   </span>
                 </div>
            </div>
          </div>
        </div>
      </div>
      <div >
        <app-comment-box [sectionCode]="102" [awardId]="comparisonDetails.baseAwardId"
          [awardNumber]="comparisonDetails.awardNumber" [sequenceNumber]="comparisonDetails.sequenceNumber">
        </app-comment-box>
      </div>
    </div>
  </div>
</div>
<div *ngIf="awardBudgetHeader && _commonData?.awardSectionConfig['177']?.isActive" id="Award127" class="card mt-3 mb-3">
  <div class="card-header px-4">
    <h4 class="card-title">Budget Periods & Total</h4>
    <button id="costShareExpandBtn" class="updown-arrow" (click)="isPeriodsWidgetOpen = !isPeriodsWidgetOpen">
      <i [ngClass]="isPeriodsWidgetOpen?'fa fa-angle-double-up':'fa fa-angle-double-down'" class="fa-large"
        aria-hidden="true"></i>
    </button>
  </div>
  <div *ngIf="isPeriodsWidgetOpen" class="card-content">
    <div class="card-body pt-0">
      <div *ngIf="budgetPeriods.length == 0" class="no-data-container">
        <span class="no-data-icon-outer">
          <div class="no-data-icon">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </div>
        </span>
        <h4>There is no information in this section.</h4>
      </div>
      <div *ngIf="budgetPeriods.length > 0" class="table-responsive custom-overflow">
        <table class="table tableSkin table-bordered grid2 mt-4">
          <caption class="d-none">Budget Periods & Total</caption>
          <thead>
            <tr>
              <th scope="col" style="width:5%">Period #</th>
              <th scope="col" style="width:10%">Start Date</th>
              <th scope="col" style="width:10%">End Date</th>
              <th scope="col" style="width:12%">Direct Cost({{_commonService.currencyFormat}})</th>
              <th scope="col" style="width:12%">Indirect Cost({{_commonService.currencyFormat}})</th>
              <th scope="col" style="width:12%">Total Cost({{_commonService.currencyFormat}})</th>
            </tr>
          </thead>
          <tbody>
            <tr [ngClass]="{'delete-background': period.status == -1,
              'add-background': period.status == 1}" *ngFor="let period of budgetPeriods">
              <td>{{period.budgetPeriod}} </td>
              <td [innerHTML]='dateFormatter.parseDate(period.startDate) | customTagRemover: currentMethod'> </td>
              <td [innerHTML]='dateFormatter.parseDate(period.endDate) | customTagRemover: currentMethod'> </td>
              <td class="text-right"
                [innerHTML]='period.totalDirectCost ? (currencyFormatter.parseCurrency(period.totalDirectCost) | customTagRemover: currentMethod) : (currencyFormatter.parseCurrency("0.00") | customTagRemover: currentMethod)'>
              </td>
              <td class="text-right"
                [innerHTML]='period.totalIndirectCost ? (currencyFormatter.parseCurrency(period.totalIndirectCost) | customTagRemover: currentMethod) : (currencyFormatter.parseCurrency("0.00") | customTagRemover: currentMethod)'>
              </td>
              <td class="text-right"
                [innerHTML]='period.totalCost ? (currencyFormatter.parseCurrency(period.totalCost) | customTagRemover: currentMethod) : (currencyFormatter.parseCurrency("0.00") | customTagRemover: currentMethod)'>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="font-weight-bold text-right">Total</td>
              <td class="font-weight-bold text-right"
                [innerHTML]='awardBudgetHeader?.totalDirectCost ? (currencyFormatter.parseCurrency(awardBudgetHeader?.totalDirectCost) | customTagRemover: currentMethod) : (currencyFormatter.parseCurrency("0.00") | customTagRemover: currentMethod)'>
              </td>
              <td class="font-weight-bold text-right"
                [innerHTML]='awardBudgetHeader?.totalIndirectCost ? (currencyFormatter.parseCurrency(awardBudgetHeader?.totalIndirectCost) | customTagRemover: currentMethod) : (currencyFormatter.parseCurrency("0.00") | customTagRemover: currentMethod)'>
              </td>
              <td class="font-weight-bold text-right"
                [innerHTML]='awardBudgetHeader?.totalCost ? (currencyFormatter.parseCurrency(awardBudgetHeader?.totalCost) | customTagRemover: currentMethod) : (currencyFormatter.parseCurrency("0.00") | customTagRemover: currentMethod)'>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="p-3">
      <app-comment-box [sectionCode]="127" [awardId]="comparisonDetails.baseAwardId"
        [awardNumber]="comparisonDetails.awardNumber" [sequenceNumber]="comparisonDetails.sequenceNumber">
      </app-comment-box>
    </div>
  </div>
</div>
<div id="Award129" class="card mb-3" *ngIf="_commonData.awardSectionConfig['178']?.isActive">
  <div class="card-header px-4">
    <h4 class="card-title">Detailed Budget</h4>
    <button id="costShareExpandBtn" class="updown-arrow"
      (click)="isDetailedBudgetWidgetOpen = !isDetailedBudgetWidgetOpen">
      <i [ngClass]="isDetailedBudgetWidgetOpen?'fa fa-angle-double-up':'fa fa-angle-double-down'" class="fa-large"
        aria-hidden="true"></i>
    </button>
  </div>
  <div *ngIf="isDetailedBudgetWidgetOpen" class="card-content">
    <div class="card-body pt-0">
      <div class="no-data-container" *ngIf="budgetPeriods.length=== 0">
        <span class="no-data-icon-outer">
          <div class="no-data-icon">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </div>
        </span>
        <h4>There is no information in this section.</h4>
      </div>
      <ng-container *ngFor="let period of budgetPeriods">
        <div *ngIf="period.budgetDetails.length" class="p-2 text-secondary fw-500">
          <span>Period {{period.budgetPeriod}} </span>
        </div>
        <div *ngIf="period.budgetDetails.length" class="row card-table-box m-0">
          <div class="w-100">
            <table class="table tableSkin table-bordered grid2 ">
              <caption class="sr-only">Detailed Budget</caption>
              <thead class="text-center">
                <tr>
                  <th scope="col">Budget Category</th>
                  <th scope="col"><ng-container i18n="@@AWARD_COST_ELEMENT">Cost Element</ng-container></th>
                  <th scope="col"><ng-container i18n="@@AWARD_WBS_NUMBER_FOR_OFIN_USE">WBS Number (for OFIN use)</ng-container></th>
                  <th scope="col">Quantity</th>
                  <th scope="col">LineItem Cost ({{_commonService.currencyFormat}})</th>
                  <th scope="col"><ng-container i18n="@@AWARD_JUSTIFICATION">Justification</ng-container></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let lineItem of period.budgetDetails; let detailIndex=index;">
                  <tr [ngClass]="{'delete-background':period.status == -1 || lineItem.status == -1,
                'add-background':period.status == 1 || lineItem.status == 1}">
                    <td width="15%">
                      <span  [innerHTML]='lineItem?.budgetCategory?.description'></span>
                      <span *ngIf="helpText?.budget && helpText?.budget[lineItem?.budgetCategory?.code]?.helpTextInfo" class="d-inline-block icon-hover">
                        <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-question-circle fa-med" aria-hidden="true"></i>
                            <div class="tooltiptext-left card card-inner p-15 text-left">
                                <span class="font-cv">{{helpText?.budget[lineItem?.budgetCategory?.code]?.helpTextInfo}}</span>
                            </div>
                        </a>
                      </span>
                    </td>
                    <td width="20%" [innerHTML]='lineItem?.costElement?.costElementDetail | customTagRemover: currentMethod'></td>
                    <td width="15%" [innerHTML]='lineItem?.internalOrderCode | customTagRemover: currentMethod'></td>
                    <td width="8%" [innerHTML]='lineItem?.quantity ? (currencyFormatter.parseNumber(lineItem?.quantity) | customTagRemover: currentMethod) : (currencyFormatter.parseNumber("0") | customTagRemover: currentMethod)'></td>
                    <td width="12%" [innerHTML]='lineItem?.lineItemCost ? (currencyFormatter.parseCurrency(lineItem?.lineItemCost) | customTagRemover: currentMethod) : (currencyFormatter.parseCurrency("0.00") | customTagRemover: currentMethod)'></td>
                    <td width="8%" class="new-line-property" [innerHTML]='lineItem?.lineItemDescription | customTagRemover: currentMethod'></td>
                  </tr>
                  <tr>
                    <td
                      *ngIf="lineItem?.personsDetails?.length > 0 && (!awardBudgetHeader?.manpowerEnabled || !awardBudgetHeader?.budgetAssociatedWithManpower)"
                      colspan="6">
                      <table class="table tableSkin table-bordered grid2">
                        <thead>
                          <tr>
                            <th>Persons</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th><ng-container i18n="@@AWARD_WBS_NUMBER_FOR_OFIN_USE">WBS Number (for OFIN use)</ng-container></th>
                            <th>Salary({{_commonService.currencyFormat}})</th>
                            <th>Effort%</th>
                            <th><ng-container i18n="@@AWARD_APPLIED_SALARY">Applied Salary</ng-container> ({{_commonService.currencyFormat}})</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr [ngClass]="{'delete-background':period.status == -1 || lineItem.status == -1 || person.status == -1,
                          'add-background':period.status == 1 || lineItem.status == 1 || person.status == 1}"
                            *ngFor="let person of lineItem?.personsDetails; let PIndex = index">
                            <td>
                              <span [innerHTML]='person?.budgetPerson?.budgetPersonName | customTagRemover: currentMethod'></span>
                              ( <span [innerHTML]='person?.budgetPerson?.jobCodes?.jobTitle | customTagRemover: currentMethod'></span>)
                            </td>
                            <td [innerHTML]='dateFormatter.parseDate(person?.startDate) | customTagRemover: currentMethod'></td>
                            <td [innerHTML]='dateFormatter.parseDate(person?.endDate) | customTagRemover: currentMethod'></td>
                            <td [innerHTML]='person?.internalOrderCode | customTagRemover: currentMethod'></td>
                            <td [innerHTML]='person?.totalSalary | customTagRemover: currentMethod'></td>
                            <td [innerHTML]='person?.percentageEffort | customTagRemover: currentMethod'></td>
                            <td [innerHTML]='person?.salaryRequested | customTagRemover: currentMethod'></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td
                      *ngIf="lineItem?.nonPersonsDetails?.length > 0"
                      colspan="6">
                      <table class="table tableSkin table-bordered grid2">
                        <thead>
                          <tr>
                            <th>Sub Line Item</th>
                            <th><ng-container i18n="@@AWARD_WBS_NUMBER_FOR_OFIN_USE">WBS Number (for OFIN use)</ng-container></th>
                            <th><ng-container >Line Item Cost</ng-container> ({{_commonService.currencyFormat}})</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  [ngClass]="{'delete-background':nonPerson.status == -1,
                          'add-background':nonPerson.status == 1}"
                          *ngFor="let nonPerson of lineItem?.nonPersonsDetails;">
                            <td>
                              <span [innerHTML]='nonPerson?.description | customTagRemover: currentMethod'></span>
                            </td>
                            <td [innerHTML]='nonPerson?.internalOrderCode | customTagRemover: currentMethod'></td>
                            <td [innerHTML]='nonPerson?.lineItemCost | customTagRemover: currentMethod'></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="p-3">
      <app-comment-box [sectionCode]="129" [awardId]="comparisonDetails.baseAwardId"
        [awardNumber]="comparisonDetails.awardNumber" [sequenceNumber]="comparisonDetails.sequenceNumber">
      </app-comment-box>
    </div>
  </div>
</div>
<div id="Award128" class="card mb-3" *ngIf="_commonData?.awardSectionConfig['179']?.isActive">
  <div class="card-header px-4">
    <h4 class="card-title">Budget Summary</h4>
    <button id="costShareExpandBtn" class="updown-arrow" (click)="isSummaryWidgetOpen = !isSummaryWidgetOpen">
      <i [ngClass]="isSummaryWidgetOpen?'fa fa-angle-double-up':'fa fa-angle-double-down'" class="fa-large"
        aria-hidden="true"></i>
    </button>
  </div>
  <div *ngIf="isSummaryWidgetOpen" class="card-content">
    <div class="card-body pt-0">
      <div class="no-data-container" *ngIf="awardBudgetSummary?.length == 0 || !awardBudgetSummary">
        <span class="no-data-icon-outer">
          <div class="no-data-icon">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </div>
        </span>
        <h4>There is no information in this section.</h4>
      </div>
      <div class="table-responsive custom-overflow">
        <table *ngIf="awardBudgetSummary?.length > 0" class="table tableSkin table-bordered grid2 mt-4">
          <thead>
            <tr>
              <th scope="col" style="width:25%">Category</th>
              <th scope="col" *ngFor="let period of result?.budgetSummaryVOs">
                <span class="text-center">Period {{period.periodNumber}}</span>
              </th>
              <th scope="col">Total({{_commonService.currencyFormat}})</th>
            </tr>
          </thead>
          <tbody>
            <tr [ngClass]="{'delete-background': summary.status == -1,
              'add-background': summary.status == 1}" *ngFor="let summary of awardBudgetSummary">
              <td>
                <span [innerHTML]='summary.budgetCategory | customTagRemover: currentMethod'></span>
                <span *ngIf="helpText?.budget && helpText?.budget[summary?.budgetCategoryCode]?.helpTextInfo" class="d-inline-block icon-hover">
                  <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-question-circle fa-med" aria-hidden="true"></i>
                      <div class="tooltiptext-left card card-inner p-15 text-left">
                          <span class="font-cv">{{helpText?.budget[summary?.budgetCategoryCode]?.helpTextInfo}}</span>
                      </div>
                  </a>
                </span>
              </td>
              <td *ngFor="let cost of summary?.budgetSummaryVOs" class="text-right"
                [innerHTML]='cost?.lineItemCost ? (currencyFormatter.parseCurrency(cost?.lineItemCost) | customTagRemover: currentMethod) : (currencyFormatter.parseCurrency("0.00") | customTagRemover: currentMethod)'>
              </td>
              <td class="text-right"
                [innerHTML]='summary?.totalLineItemCostSum ? (currencyFormatter.parseCurrency(summary?.totalLineItemCostSum) | customTagRemover: currentMethod) : (currencyFormatter.parseCurrency("0.00") | customTagRemover: currentMethod)'>
              </td>
            </tr>
            <tr *ngIf="awardBudgetSummary?.length > 0">
              <td class="totalText"><span>Grand Total</span></td>
              <td *ngFor="let periodTotal of result?.budgetSummaryVOs" class="text-right totalText">
                <span
                  [innerHTML]='periodTotal?.lineItemCost ? (currencyFormatter.parseCurrency(periodTotal?.lineItemCost) | customTagRemover: currentMethod) : (currencyFormatter.parseCurrency("0.00") | customTagRemover: currentMethod)'>
                </span></td>
              <td class="text-right totalText">
                <span
                  [innerHTML]='result?.periodTotalSum ? (currencyFormatter.parseCurrency(result?.periodTotalSum) | customTagRemover: currentMethod) : (currencyFormatter.parseCurrency("0.00") | customTagRemover: currentMethod)'>
                </span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="p-3">
      <app-comment-box [sectionCode]="128" [awardId]="comparisonDetails.baseAwardId"
        [awardNumber]="comparisonDetails.awardNumber" [sequenceNumber]="comparisonDetails.sequenceNumber">
      </app-comment-box>
    </div>
  </div>
</div>
