<div class="push4slideMenu pageMinHeight">
    <div class="container-fluid pushFixedHeaderFooter">
        <div class="headerPush"></div>
        <div class="row" *ngIf="showTabs">
            <div class="col-12">
                <a class="tooltip-helptext">
                    <i class="fa fa-info-circle float-right hand-cursor mt-4 pt-2" 
                       aria-hidden="true"
                       (click)="openInfo()">
                    </i>
                </a>
                <ul class="pb-0 tabs">
                    <li title="Business Rule Lookup" role="presentation" routerLinkActive="active">
                        <a id="meta-rule-tab" [routerLink]="['/fibi/businessRule/ruleLookup']"
                            (click)="showInfo=false;setModuleList()" queryParamsHandling='merge'
                            tabindex="0">
                            Business Rules </a>
                    </li>
                    <li title="Meta Rule" role="presentation" routerLinkActive="active">
                        <a id="meta-rule-tab" [routerLink]="['/fibi/businessRule/metaRules']"
                            queryParamsHandling='merge' tabindex="0"
                            (click)="showInfo=false;setModuleList()">
                            Meta Rule </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-18 mb-3" *ngIf="showInfo">
            <div class="col-12">
                <div class="p-2 row success-banner">
                    <div class="col-auto pl-2 pr-3">
                        <i aria-hidden="true" class="fa fa-info-circle mr-1 info-icon"></i>
                    </div>
                    <div class="col px-0">
                        <em>{{infoMessage}}</em>
                    </div>
                    <div class="col-auto pr-2">
                        <button aria-label="Close" (click)="showInfo = false" class="close close-button "
                            data-dismiss="modal" id="modal-close" type="button">
                            <span aria-hidden="true" class="d-block">×</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
        <div class="footerPush"></div>
    </div>
</div>

