.budget-list-outer {
    background: #fff !important;
    border-radius: 3px;
    margin-bottom: 5px;
    position: relative;
    box-shadow: 0px 2px 6px 2px #f3f2f2;
}

.budget-list-outer::before {
    content: "";
    position: absolute;
    border: solid 2px #2cbbae;
    left: 0;
    height: 100%;
    top: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.shadow { box-shadow: 3px 3px #c8c4c4;}

.card-body{
    font-size: 1.4rem;
}

.button-right {
    margin-right: 40px;
}
.icon-styler {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 42px;
    color:#7190ad;
    font-size: 26px;
    background: #e6f3ff;
}

.person-title {
    line-height: 35px;
}

.resultCard:before {
	border-left: none;
}