<!-- BUDGET SUMMARY TAB -->
<div class="card-widget-container mb-3" *ngIf="budgetData?.budgetHeader">
  <div class="card h-100">
    <div class="card-content">
      <div class="card-body pt-0">
        <div>
          <div class="row my-md-3 my-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 colorBlack">
              <h4 class="card-title" id="proposal-budget-summary">
                Budget Summary
                  <span *ngIf="budgetData?.isBudgetVersionEnabled">: Version {{budgetData?.budgetHeader?.versionNumber}}</span>
              </h4>
            </div>
          </div>

          <div class="no-data-container p-3" *ngIf="!budgetSummaryDetails?.budgetPeriodSummaries?.length">
            <span class="no-data-icon-outer">
              <div class="no-data-icon">
                <i class="fa fa-file-o" aria-hidden="true"></i>
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              </div>
            </span>
            <h4 class="text-content-color">There is no information in this section.</h4>
          </div>

          <div class="table-responsive" *ngIf="budgetSummaryDetails?.budgetPeriodSummaries?.length > 0">
            <table class="tableStyle">
              <thead>
                <tr class="th-seperation">
                  <th width="25%">Category</th>
                  <th *ngFor="let period of budgetSummaryDetails?.budgetSummaryVOs">
                    <span class="left-float">Period {{period.periodNumber}}</span>
                  </th>
                  <th *ngIf="budgetData?.isShowInKind">Total Requested Cost</th>
                  <th *ngIf="budgetData?.isShowInKind">Total In-Kind</th>
                  <th>Total Cost</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let summary of budgetSummaryDetails?.budgetPeriodSummaries">
                  <td>{{summary?.budgetCategory}}
                    <span *ngIf="helpText?.budget && helpText?.budget[summary?.budgetCategoryCode]?.helpTextInfo" class="d-inline-block icon-hover">
                      <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-question-circle fa-med" aria-hidden="true"></i>
                          <div class="tooltiptext-left card card-inner p-15 text-left">
                              <span class="font-cv">{{helpText?.budget[summary?.budgetCategoryCode]?.helpTextInfo}}</span>
                          </div>
                      </a>
                    </span>
                  </td>
                  <td *ngFor="let cost of summary?.budgetSummaryVOs" class="text-center">{{cost?.totalFundRequested | customCurrency }}</td>
                  <td class="text-center" *ngIf="budgetData?.isShowInKind">{{summary?.totalFundRequestedCostSum | customCurrency}}</td>
                  <td class="text-center" *ngIf="budgetData?.isShowInKind">{{summary?.totalCostShareAmountSum | customCurrency}}</td>
                  <td class="text-center">{{summary?.totalLineItemCostSum | customCurrency}}</td>
                </tr>
                <tr *ngIf="budgetSummaryDetails?.budgetPeriodSummaries?.length > 0">
                  <td class="totalText"><span>Grand Total:</span></td>
                  <td *ngFor="let periodTotal of budgetSummaryDetails?.budgetSummaryVOs" class="text-center totalText"><span>{{periodTotal?.totalFundRequested| customCurrency}}</span></td>
                  <td class="text-center totalText" *ngIf="budgetData?.isShowInKind"><span>{{budgetSummaryDetails?.periodTotalFundRequestedSum| customCurrency}}</span></td>
                  <td class="text-center totalText" *ngIf="budgetData?.isShowInKind"><span>{{budgetSummaryDetails?.periodTotalCostShareSum| customCurrency}}</span></td>
                  <td class="text-center totalText"><span>{{budgetSummaryDetails?.periodTotalSum| customCurrency}}</span></td>
                </tr>
              </tbody>
            </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

