.activity-icon {
    width: 20px;
}

.sfi_action_btn:hover {
    background-color: #2c77f4;
}

.pill-color {
    background-color: #ecf1f3;
}

.view-icon {
    margin-right: 2.5rem;
}

.info-icon {
    color: #052c65;
    cursor: pointer;
}

.main-title {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 15px;
    margin-top: 10px;
}

.updown-arrow {
    position: absolute;
    right: 363px;
    top: auto;
}

.slider-base {
    position: fixed;
    z-index: 51;
    top: 0;
    right: -83%;
    width: 80%;
    height: 100%;
    padding-left: 0;
    background-color: #ffecec85;
    box-shadow: -1px 0px 6px 1px rgba(0, 0, 0, 0.12);
    transition: right 600ms cubic-bezier(.42, .8, .67, 1.06);
}

.slider-opened {
    right: 0 !important;
}

.slider-container {
    background-color: #fff;
    height: 100vh;
    padding: 0px 10px 10px 10px;
    overflow-y: scroll;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(74 74 74 / 32%);
    z-index: 50;
}

.toggle-header-btn {
    width: 30px;
    color: #A64040;
    height: 30px;

    mat-icon {
        transform: scale(1.2);
    }
}
