.form-row > div {
    margin-bottom: 14px;
}
a:not([href]):not([tabindex]) {
    text-decoration: underline;
    cursor: pointer;
}
.card-label{
    color: #1e847b;
    margin-left: 4px;
    font-size: 15px;
    font-weight: bold;
}
.list-style{
    border-left: 2px solid #1e847b;
}

.card-design {
    box-shadow: 0 0 4px 3px rgba(194,194,194,.35);
}

.external-link{
    color: #2c77f4 ;
}

.noDataExists {
    color: #9e9e9e !important;
    font-weight: bold;
    font-size: 14px;
}

.txt-small {
    font-size: 1.3rem !important;
}

