<!-- Last Updated By Krishnadas on 26-03-2020 -->
<!--Proposal Details -->
<app-general-proposal-information *ngIf="_proposalService.proposalSectionConfig['322'].isActive" [result]="result"
    [proposalDataBindObj]="proposalDataBindObj">
</app-general-proposal-information>
<!--Key Personnel Details-->
<app-key-personnel-details *ngIf="_proposalService.proposalSectionConfig['323'].isActive" [result]="result"
    [dataVisibilityObj]="dataVisibilityObj"></app-key-personnel-details>
<!-- Organization view -->
<app-organization-view *ngIf="_proposalService.proposalSectionConfig['336'].isActive" [result]="result">
</app-organization-view>
<!--Project Team details-->
<app-project-team-details *ngIf="_proposalService.proposalSectionConfig['341'].isActive" [result]="result"
    [dataVisibilityObj]="dataVisibilityObj"></app-project-team-details>
<!--Special review Details-->
<app-special-review-details-view
    *ngIf="_commonService.isEnableSpecialReview && _proposalService.proposalSectionConfig['324'].isActive"
    [result]="result" [dataVisibilityObj]="dataVisibilityObj" [helpText]="helpText">
</app-special-review-details-view>
<!--Declaration Details-->
<app-declaration-details-view [result]="result"
    *ngIf="result?.isFundingSupportDeclarationRequired && _proposalService.proposalSectionConfig['342'].isActive"
    [helpText]="helpText"></app-declaration-details-view>
<!--Area of Research-->
<app-area-of-research-view *ngIf="_proposalService.proposalSectionConfig['325'].isActive" [result]="result"
    [dataVisibilityObj]="dataVisibilityObj" [helpText]="helpText"></app-area-of-research-view>
<!-- Key Performance Indicator -->
<div id="proposal-key-performance-indicator" *ngIf="result.proposal.proposalId !== null  && result?.proposal?.grantCallId != null &&
    _proposalService.proposalSectionConfig['326'].isActive"
    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-0">
    <app-key-performance-indicator-proposal [result]="result" [mode]="dataVisibilityObj.mode">
    </app-key-performance-indicator-proposal>
</div>
<!-- Milestone Modal -->
<div id="proposal-milestone-view"
    *ngIf="result.proposal.proposalId !== null && _proposalService.proposalSectionConfig['327'].isActive"
    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-0">
    <app-milestone [result]="result" [mode]="dataVisibilityObj.mode">
    </app-milestone>
</div>
<!-- Periods & Total -->
<div *ngIf="budgetData?.budgetHeader && _proposalService.proposalSectionConfig['328'].isActive" class="card my-3">
    <!-- <div class="card-header py-2">
      <h4 class="card-title align-items-center d-flex">
          <span class="mr-auto">Budget Periods & Total</span>
      </h4>
  </div> -->
    <app-periods-total id="proposal-review-period-summary" *ngIf="budgetData?.budgetHeader" [isViewMode]="true">
    </app-periods-total>
</div>
<!-- Budget summary -->
<app-budget-summary id="proposal-budget-summary-view" *ngIf="budgetData?.budgetHeader && budgetData?.isBudgetSummaryEnabled
 && _proposalService.proposalSectionConfig['331'].isActive" [helpText]="helpText"></app-budget-summary>
<!-- Attchaments -->
<app-attachment id="proposal-attachments-view"
    *ngIf="result.proposal && _proposalService.proposalSectionConfig['329'].isActive"></app-attachment>
<!-- Questionnaire -->
<div class="card my-3 pr-3" id="proposal-questionnaire-view"
    *ngIf="result?.proposal && _proposalService.proposalSectionConfig['337'].isActive">
    <!-- <div class="card-header">
      <h4 class="card-title align-items-center d-flex">
          <span class="mr-auto">Questionnaire</span>
      </h4>
  </div> -->
    <app-view-questionnaire-list [configuration]="configurationData"></app-view-questionnaire-list>
</div>
<!-- Side jumpToList -->
<div class="nav-style tool-kit d-flex align-items-center" id="custom-mini-tool-kit">
    <span id="custom-tool-kit" class="nav-icon hand-cursor mr-2" (click)='isShowMiniToolkit = !isShowMiniToolkit'>
        <i [ngClass]="isShowMiniToolkit ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'" id="custom-tool-kit"
            aria-hidden="true"></i>
    </span>
    <span> Jump to Section </span>
    <div class="tool-kit-body" *ngIf="isShowMiniToolkit" (mouseleave)='isShowMiniToolkit = false'>
        <ul class="dropdown p-0 m-0">
            <li *ngIf="result?.proposal && _proposalService.proposalSectionConfig['322'].isActive"
                (click)="scrollIntoView('general-proposal-information')">
                General Proposal Information</li>
            <li *ngIf="result?.proposal && _proposalService.proposalSectionConfig['323'].isActive"
                (click)="scrollIntoView('proposal-keyperson-details-view')">
                <ng-container i18n="@@COMMON_KEY_PERSONNEL">Key Personnel</ng-container>
            </li>
            <li *ngIf="result?.proposal && result?.isProposalOrganizationEnabled && _proposalService.proposalSectionConfig['336'].isActive"
                (click)="scrollIntoView('proposal-organization-view')">
                Organization</li>
            <li *ngIf="result?.proposal && _proposalService.proposalSectionConfig['341'].isActive"
                (click)="scrollIntoView('proposal-project-team-view')">
                <ng-container i18n="@@AWARD_PROJECT_TEAM">Project Team</ng-container>
            </li>
            <li *ngIf="result?.proposal && _commonService.isEnableSpecialReview && _proposalService.proposalSectionConfig['324'].isActive"
                (click)="scrollIntoView('proposal-special-review-view')">
                <ng-container i18n="@@COMMON_SPECIAL_REVIEW">Special Review</ng-container>
            </li>
            <li *ngIf="result?.proposal && _proposalService.proposalSectionConfig['325'].isActive"
                (click)="scrollIntoView('proposal-research-area-view')">
                <ng-container i18n="@@COMMON_AREA_OF_RESEARCH">Area of Research</ng-container>
            </li>
            <li *ngIf="result?.proposal?.proposalId && result?.proposal?.grantCallId && _proposalService.proposalSectionConfig['326'].isActive"
                (click)="scrollIntoView('proposal-key-performance-indicator')">
                Key Performance Indicator</li>
            <li *ngIf="result?.proposal?.proposalId && _proposalService.proposalSectionConfig['327'].isActive"
                (click)="scrollIntoView('proposal-milestone-view')">
                Milestone</li>
            <li *ngIf="budgetData?.budgetHeader && _proposalService.proposalSectionConfig['328'].isActive"
                (click)="scrollIntoView('proposal-review-period-summary')">
                Budget Periods & Total</li>
            <li *ngIf="budgetData?.budgetHeader && _proposalService.proposalSectionConfig['331'].isActive"
                (click)="scrollIntoView('proposal-budget-summary-view')">
                Budget Summary</li>
            <li *ngIf="result?.proposal && _proposalService.proposalSectionConfig['329'].isActive"
                (click)="scrollIntoView('proposal-attachments-view')">
                Attachments</li>
            <li *ngIf="result?.proposal && _proposalService.proposalSectionConfig['337'].isActive"
                (click)="scrollIntoView('proposal-questionnaire-view')">
                Questionnaire</li>
        </ul>
    </div>
</div>
