<div class="push4slideMenu pageMinHeight"  id="pageScrollToTop">
  <div class="container-fluid pushFixedHeaderFooter">
    <div class="headerPush"></div>
    <div class="sticky-top-nav mb-3 header-outline">
      <div class="row">
        <div class="col-9">
          <div class="collapse navbar-toggleable-xs" id="navbarResponsive">
            <ul class="menu-responsive tabs fit-content tabs-collapsed mb-0">
              <li routerLinkActive="active">
                <a class="subTabLink" [routerLink]="['/fibi/template-management/clauses']">
                  Clauses
                </a>
              </li>
              <li routerLinkActive="active">
                <a class="subTabLink" [routerLink]="['/fibi/template-management/placeholder']">
                  Placeholder
                </a>
              </li>
              <li routerLinkActive="active">
                <a [routerLink]="['/fibi/template-management/template']" class="subTabLink">Agreement Template
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
    <div class="footerPush"></div>
  </div>
</div>
