.date-opacity {
    opacity: 1;
}

.show-qst > hr {
	margin: 5px 0 0 0 !important;
}

.dock-box {
    position: sticky;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, -10%);
    margin: 0 auto;
    width: 350px;
    background: white;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.26);
}
.arrow-btn {
    font-size: 18px;
    background-color: rgba(44,119,244,.1);
    min-width: 2em;
    line-height: 17px;
}

.arrow-btn:hover {
    background-color: #2c77f4;
}

.arrow-btn:hover span{
    color: white;
}

.show-dock {
    position: sticky;
    bottom: 5px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
}

.fa-question-circle {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.show-dock-icon {
    width: 45px;
    height: 45px;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 45px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.dock-question-box {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 20px;
    cursor: default;
}
.hover-arrow-color:hover {
    background-color: #2c77f4;
    color: white!important;
}
.question-font{
    color: #48647f !important;
    white-space: pre-line;  
}

.qst-date-picker::placeholder {
    font-size: 14px!important;
    color: #48647f!important;
    font-weight: 600;
}

.table-answers {
    resize: none;
}

.table-answers:focus {
    border: none;
    box-shadow: none;
    outline: 0 none;
}

.action-button {
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
}

.action-button i {
    margin-right: 3px;
    font-size: 1.2rem;
    background: #E8F0FB;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
}

.action-button:hover {
    color: #2c77f4;
}

.action-button:hover i {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4;
}

.icon-actions {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4!important;
}

.table-min-width {
    min-width: 250px;
}

.action-column {
    position: sticky;
    right: -1px;
    z-index: 10;
    background: #e9ecefd6;
}

