.btn-outline-danger{
    padding: .375rem .75rem;
    font-size: 1rem;
    height: 25px;
}

.dropdown-menu {
    padding: 1rem;
    font-size: 1.4rem;
    width: 350px;
    box-shadow: 0 0 14px -1px #66666685;
}

.details-comment-patch {
    -ms-transform: none !important;
    transform: none !important;
    left: -355px !important;
    will-change: initial;
    max-height: 180px;
    overflow-y: auto;
}

.red-notification:after {
    content: "....";
    position: relative;
    background: rgb(255 0 0);
    height: 0.2rem;
    top: -0.8rem;
    right: 0.65rem;
    width: 1px;
    text-align: center;
    line-height: 1rem;
    font-size: 0.6rem;
    border-radius: 50%;
    color: red;
    border: 1px solid #8c0000;
}

.align-clock-icon {
    font-size: 2rem;
    cursor: pointer;
}
