.pagination {
    color: #0056b3;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: unset;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    border-color: #007bff;
    /* font-size: 1.6rem !important; */
}

.page-item a {
    cursor: pointer;
    /* font-size: 1.6rem !important; */
}
