.tb-rw-bg-clr{background-color: #efefef;}
.tb-bg-clr{background-color: #f7f7f7;}
.rw-btm-brdr{border-bottom: 1px solid #dee2e6;}
.slider{background-color: #e9ecef;}
input:checked + .slider {background-color: #26a699;}
/* .deactivate-text{color: #9e9e9e !important;} */
/* The custom-checkbox */
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -5px;
    left: 10px;
    height: 20px;
    width: 20px;
    background-color: #fefefe;
    border-radius: 3px;
    border: solid 1px #d8d7d7;
}
/* On mouse-over, add a grey background color */
.custom-checkbox:hover input~.checkmark {
    background-color: #fefefe;
    border: 1px solid #26a699;
}
/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked~.checkmark {
    background-color: #26a699;
    border: none;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.custom-checkbox input:checked~.checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.txt-area-ht {height: 35 !important;}
textarea.form-control {
    height: none !important;
}
.table-ovrflw{overflow-x: unset !important;}
.td-vetcl-algn{vertical-align: top !important;}

.not-allowed-cursor {
    cursor: not-allowed !important;
}

.table-head {
    background: #E3EFFD;
}

.td-change {
    background-color: #F6F7F9;
}

.align-toleft {
    text-align: left
}

.criteria-heading {
    background-color: #dedede;
    padding: 5px
}
.card-background {
    background-color: #f4f5f7;
}

.f-14 {
    font-size: 1.4rem;
}
.score-box {
    background: rgb(32 88 160 / 86%);
}
.score-label {background: rgba(219, 231, 245, 0.95);}

.comment-show {
    padding-left: 35px;
}
.comment-inner-body {
    background-color: #f1f1f1;
    padding: 8px 17px;
    margin-top: 4px;
    border-radius: 5px;
}


.comment-icon {
    opacity: .4;
    font-size: 11px;
}

.text-color {
    color: #333;
}
.avg-score {
    background-color:#E9FBFD;
}
.nav-heading {
    display: flex; background-color: #eff0f1;
}
.score-text {
    padding: 2px;
    font-size: 18px;
}
.tbody-background {
    background-color : #fbfbfb
}

