.close {
    position: absolute;
    top: 35px;
    color: grey;
    background: #ffffff;
    z-index: 1500;
    padding: 1.2rem 1.3rem;
    border-radius: 50%;
    left: -27px;
    opacity: 1;
    width: 40px;
    height: 40px;
    font-size: 14px;
}

.close:hover {
    background-color: #E2F1FF;
    outline: 0;
    border: 1px solid #007DEC;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

.close img {
    width: 17px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
