.exclude-bckgnd{
    background: antiquewhite!important;
}

.red-notification:after {
    content: "....";
    position: relative;
    background: rgb(255 0 0);
    height: 0.2rem;
    top: -0.8rem;
    right: 0.65rem;
    width: 1px;
    text-align: center;
    line-height: 1rem;
    font-size: 0.6rem;
    border-radius: 50%;
    color: red;
    border: 1px solid #8c0000;
}
