.link-as-div {
    /* Make it behave like a block element */
    text-decoration: none;
    color: inherit;
    /* Remove the underline */
}

#SCROLL_SPY_LEFT_CONTAINER {
    scroll-behavior: auto;
}
#SCROLL_SPY_LEFT_CONTAINER,
#SCROLL_SPY_RIGHT_CONTAINER {
    min-height: 400px;
}

.showScrollNav, .hideScrollNav  {
    display: none;
    z-index: 15;
}

// @media (max-width: 1399px) {
//     #SCROLL_SPY_RIGHT_CONTAINER {
//         position: absolute;
//         right: 0;
//         width: 550px;
//         max-width: 90%;
//         z-index: 5;
//     }

//     .hideScrollNav {
//         position: absolute;
//         top: 0;
//         display: flex;
//         animation: coi-translate-btn-in .3s ease-in-out forwards;
//     }

//     .showScrollNav {
//         position: absolute;
//         top: 0;
//         display: flex;
//         animation: coi-translate-btn-out .3s ease-in-out forwards;
//     }

//     .expand-scroll-nav-right {
//         width: 22px;
//         height: 35px;
//     }

//     .coi-overlay {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         z-index: 4;
//         background-color: rgba($color: #000000, $alpha: 0.2);
//         transition: background-color .3s ease-in-out;
//     }

//     .coi-bg-body {
//         background-color: transparent !important;
//     }

//     /* rotate-animation class */
//     .coi-translate-in-animation {
//         animation: coi-translate-in .3s ease-in-out forwards;
//     }
//     .coi-translate-out-animation {
//         animation: coi-translate-out .3s ease-in-out forwards;
//     }

//     @keyframes coi-translate-out {
//         from {
//             display: block;
//             width: 550px;
//         }

//         to {
//             display: none;
//             width: 0px;
//         }
//     }

//     @keyframes coi-translate-in {
//         from {
//             display: none;
//             width: 0px;
//         }

//         to {
//             display: block;
//             width: 550px;
//         }
//     }

//     @keyframes coi-translate-btn-in {
//         from {
//             right: -15px;
//         }

//         to {
//             right: 542px;
//         }
//     }

//     @keyframes coi-translate-btn-out {
//         from {
//             right: 542px;
//         }

//         to {
//             right: -15px;
//         }
//     }

// }

.coi-scroll-spy-responsive {
    & #SCROLL_SPY_RIGHT_CONTAINER {
        position: absolute;
        right: 0;
        width: 550px;
        max-width: 90%;
        z-index: 5;
    }

    .hideScrollNav {
        position: absolute;
        top: 0;
        display: flex;
        animation: coi-translate-btn-in .3s ease-in-out forwards;
    }

    .showScrollNav {
        position: absolute;
        top: 0;
        display: flex;
        animation: coi-translate-btn-out .3s ease-in-out forwards;
    }

    .expand-scroll-nav-right {
        width: 22px;
        height: 35px;
    }

    .coi-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 4;
        background-color: rgba($color: #000000, $alpha: 0.2);
        transition: background-color .3s ease-in-out;
    }

    .coi-bg-body {
        background-color: transparent !important;
    }

    /* rotate-animation class */
    .coi-translate-in-animation {
        animation: coi-translate-in .3s ease-in-out forwards;
    }
    .coi-translate-out-animation {
        animation: coi-translate-out .3s ease-in-out forwards;
    }

    @keyframes coi-translate-out {
        from {
            display: block;
            width: 550px;
        }

        to {
            display: none;
            width: 0px;
        }
    }

    @keyframes coi-translate-in {
        from {
            display: none;
            width: 0px;
        }

        to {
            display: block;
            width: 550px;
        }
    }

    @keyframes coi-translate-btn-in {
        from {
            right: -15px;
        }

        to {
            right: 542px;
        }
    }

    @keyframes coi-translate-btn-out {
        from {
            right: 542px;
        }

        to {
            right: -15px;
        }
    }
}