.fixed-header-table {
    max-height: 225px;
    height: auto;
    overflow: scroll;
    /* overflow-x: hidden; */
}

.fixed-header-table thead tr:nth-child(1) th {
    border-bottom: #26a69a;
    position: sticky;
    top: -1px;
    z-index: 2;
}
