div.border {
  display: inline-block;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}
.success-banner {
  color: #007985;
  background-color: #dff5f9;
  border-color: #81b7b2;
  font-size: 1.4rem;
}
.container-shadow {
box-shadow: 0px 2px 5px 1px #0f0f0f24;
}

.btn-copy {
font-size: 1.4rem;
color: #00ad03 !important;
background: #00ad0321;
border: 1px solid#00ad03;
padding: 5px 8px;
border-radius: 2.5px;
cursor: pointer;
line-height: 15px;
width: 61px;
}
.btn-copy:hover {
  border: 1px solid #018b03;
    transition: .5s ease;
}
.text-invalid {
  /* color: #ccc !important;
  border: 1px solid #ccc;
  background-color: transparent; */
  background: #FF634721 !important;
  color: #FF6347 !important;
  transition: .2s ease-in;
}

.status-copy i,span {
cursor: pointer;
}
.status-copy i {
padding: 8px;
color: #00ad03;
border-radius: 50%;
background: #00ad0321;
}
.status-copy:hover i {
background: #97979721;
color: #757575;
transition: .3s ease-in;
}
.switch-field-radio {
min-width: 408px;
}
.text-code {
color: #585858;
}
.copy-info {
font-size: 12px;
color:white;
background:#000000;
opacity: 0.8;
padding: 4px 7px;
border-radius: 4px;
left: 5px;
top: -30px;
display: none;
}
