/*unit-hierarchy-styles start*/
.borderBox {
	margin-top: 20px;
}

.primary-clr {
	color: #26A69A
}

.unit-tree-blocks {
	/* border: 1px #DADAD6 solid; */
	width: 100% !important;
	margin-bottom: 5px;
 }
.pl-2{
    padding-left: .3em !important;}
		.md-box{
			max-width: 0;
			margin-right: 3px;
			z-index: 2;
			margin-bottom: 5px;
			background: #e4e7f8;
			display: flex;
			justify-content: center;
	}
.unit-tree li:first-child {
	list-style: none;
}
/* .md-box span i:first-child {
padding-left:.2em
} */
.uh-ml{
    color: rgb(72, 100, 127);
    font-weight: 500;
}

/*tree line */
.ui-tree {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  .ui-tree li {
	position: relative;
	line-height: 1.5em;
  }
  .ui-tree ul {
	position: relative;
	margin: 0 0 0 1em;
	padding: 0;
	list-style: none;
  }
  .ui-tree ul:before {
	content: "";
	position: absolute;
	top: -6px;
	bottom: 0;
	left: -1px;
	border-left: 1px groove  rgba(0, 0, 0, 0.3);
  }
  .ui-tree ul li {
	padding-left: 1.5em;
  }
  .ui-tree ul li:before {
	content: "";
	position: absolute;
	top: 1em;
	left: 0;
	width: 1.6em;
	height: 3px;
    border-top: 1px groove  rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
  .ui-tree ul li:last-child:before {
	background-color: white;
	height: auto;
	top: 1em;
	left: -1px;
	bottom: 0;
  }
  .ui-tree ul ul {
	margin-left: 0.5em;
  }
  /*tree-line-end*/
  .u-down-arrow {
	font-size: 13px !important;
	cursor: pointer;
	color: #7a7a7a;
}

.u-down-arrow:hover {
	color: #424242;
}

.u-left-arrow {
	font-size: 13px !important;
	cursor: pointer;
	color: #7a7a7a;

}

.u-left-arrow:hover {
	color: #424242;
}

.u-action-icon
{
	padding-left: 5px;
    padding-right: 5px;
    border-left: solid 1px #ccc;
}
.u-icons .icon:hover {
	color: #26a69a;
}
.pointer{
    cursor: pointer;
}
.sub-tbl td, .sub-tbl th {
    padding-left: .8rem !important;
    padding-bottom: .1rem !important;
    padding-top: .2rem !important;
    vertical-align: top !important;
}
.sub-tbl{
    margin-bottom: .5rem;
}

.new-tbl{
    margin-top: 20px !important;    

}
.new-tbl label, strong {
    color: #26A69A;
}
.borderBox{
    margin-top: 0;
}
.highlight-node {
	background: #e4e7f8;
	cursor: pointer;
}
.mt-35{margin-top:35px;}
.align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  color:rgb(72, 100, 127) !important;
  font-weight: 500;
  font-size: 15px;
}

label{margin-right: 5px;}

@media(max-width : 767px) {
	.unit-tree-blocks .u-icons .icon {
		opacity: 1;
	   }
}
@media (max-width: 575.98px) { 
    .unit-tree-blocks .u-icons .icon {
	 opacity: 1;
	}
	.ui-tree ul li {
		padding-left: .3em;
	  }

	.ui-tree ul li:before {
		display: none;
		content: "";
		position: absolute;
		top: 1em;
		left: 0;
		width: 1em;
		height: 1px;
		border-top: 1px dotted rgba(0, 0, 0, 0.3);
	  }
}

.collapse-alignment {
    vertical-align: top;
}

.count-icon {
    top: -7px;
    right: -5px;
    padding: 1px 6px;
    border-radius: 50%;
    background-color: #3077f1;
    color: #fff;
    font-size: 11px;
    z-index: 2;
    display: inline-block;
}

.card-border {
	border: 2px solid #ededed;
	border-top: transparent;
	box-shadow: 0 1px 6px 0 rgb(32 33 36 / 17%);
}