<ng-container>
  <!-- Last updated by Jinu on 06/08/2020 -->
  <div class="card" id="grantcall-history">
    <div class="card-content">
      <div class="card-body">
        <div class="no-data-container" *ngIf="(actionsLogs | json) == '{}'">
          <span class="no-data-icon-outer">
            <div class="no-data-icon">
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <i class="fa fa-times-circle-o" aria-hidden="true"></i>
            </div>
          </span>
          <h4>There is no information in this section.</h4>
        </div>
        <div class="form-row">
          <div *ngIf="(actionsLogs | json) != '{}'" class="table-responsive">
            <table class="table">
              <caption class="sr-only">Grant Call History Comments </caption>
              <thead class="sr-none">
                <tr>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let log of actionsLogs | keyvalue: sortNull">
                  <h4 class="border-left-line pl-3 fw-700">{{log.key}}</h4>
                  <ul>
                    <li *ngFor="let historyEntry of log.value">
                      <span
                        *ngIf="historyEntry.instituteProposalActionType.statusCode">{{historyEntry.instituteProposalActionType.instituteProposalActionItem.description}}
                      </span>
                      <span class="text-primary pl-1">{{historyEntry.instituteProposalActionType.description}}</span>
                      <span class="pl-1" *ngIf="historyEntry?.userFullName"> by <i class="fa fa-user pr-1"
                          aria-hidden="true"></i>{{historyEntry?.userFullName}}</span>
                      <i class="pl-1 fa fa-clock-o" aria-hidden="true"></i>
                      {{historyEntry?.updateTimeStamp | dateFormatterWithTimeZone: 'time' }}

                      <p class="text-break mb-0" *ngIf="historyEntry.description">
                        <q><b>{{historyEntry.description}}</b></q>
                      </p>
                    </li>
                  </ul>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="no-data-container" *ngIf="!actionsLogs">
          <span class="no-data-icon-outer">
            <div class="no-data-icon">
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <i class="fa fa-times-circle-o" aria-hidden="true"></i>
            </div>
          </span>
          <h4>There is no information in this section.</h4>
        </div>
      </div>
    </div>
  </div>

</ng-container>