.clickable:hover{
    color: #0D6EFD;
    text-decoration: underline;
    cursor: pointer;
}

.info-badge {
    color: #00a2ff;
    background: #d0f2fc;
    border: 1px solid #00a2ff;
}

.font-style {
    font-weight: 700;
    font-size: 14px!important;
}
