.link-another-publication {
    right: 14px;
    top: -35px;
    position: absolute;
    color: #3b83ff;
}
.sort-options {
    display: inline-block;
    padding: 0 25px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    padding: 3px 8px 3px 12px;
    border-radius: 5px;
    background: #007bff33;
    cursor: pointer;
}

.sort-options-active {
    background: #0062cccc;
    color: #fff;
}

.collapse-arrow {
    width: 27px;
    height: 27px;
    background: #f3f2f8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #afafb1;
    top: -16px;
    position: absolute;
    right: 0;
}

.collapse-orcid {
    border-top: solid 1px #ccc;
    margin: 0;
    position: relative;
}

.award-tag-container {
    position: fixed;
    top: 55px;
    right: 39px;
    width: 50%;
    z-index: 91;
    background: #f2f3f8;
}
