.external-link{
    color: #007bff;
    font-weight: 500;
    font-size: 1.6rem;
}
.hover-effect:hover{
    background-color: #eef4f9;
    color: #8084bd !important;
    border-radius: 3px;
}
.version{
    font-size: 1.4rem;
    font-weight: 600;
    color: #017dff;
    text-align: right;
    display: block;
}
.scroll {
    position: relative;
    max-height: 450px;
    overflow: auto;
    }

.document-history-modal {	
    height: auto;	
    overflow-y: auto;	
    max-height: 450px;	
}

.delete-attachment {
    width: 28px;
    height: 28px;
    background-color: rgba(44,119,244,.1);
    border-radius: 50%!important;
    text-align: center;
    line-height: 30px;
}

.shadow {
    border: 0;
}

.replaced-file {
    font-size: 1.4rem;
}

.download-icons {
    text-decoration: none!important;
}

.document-header-icons {
    font-size: 20px;
}

.user-details {
    color: black;
}
.replace-icon {
    font-size: 22px;
}
