.txt-medium {
    font-size: 0.875rem;
}

.equal-size-tab li {
    width: 211px;
}

.fa-check {
    color: green;
    margin-left: 5px;

}

.fa-ban {
    color: red;
    margin-left: 5px;
}

.subTabs {
    padding-top: 5px;
}

.used-cons {
    float: right;
    padding-right: 14px;
    font-size: 0.875rem;
}

.wrapper {
    background-color: white;
}

.no-questionnaire {
    font-size: 1.4rem;
    color: #9e9e9e !important;
}

.nav-tabs{border-bottom: 0;}

.nav-tabs li a {
    padding: 2px 8px;
}

.nav-tabs .nav-item {
    border-right: solid 1px #e7e7e7;
}

.nav-tabs .nav-item:nth-last-child(1) {
    border-right: 0!important;
}

.qst-sub-nav li a:hover {
    background: #fff!important;

}

.qst-sub-nav li .active:hover {
    border-bottom: 0 !important;
    border-color: #e9ecef #e9ecef #dee2e6;
    border-top: 2px solid #48647f!important;
}

.qst-sub-nav li a {color: #48647f;}

.qst-success-nav .active {
    font-weight: 600;
    border-bottom: 2px solid #28a745 !important;
    border: none;
    background: #effff2;
}

.qst-warning-nav .active{
    font-weight: 600;
    border-bottom: 2px solid #ffc107 !important;
    border: none;
    background: #fffbf1;
}
.questionaire-status {
    flex:1 1 auto ;
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 50;
  }

  .no-data-container {
      margin-top: 7px;
      background: white;
      padding: 30px;
      text-align: center;
  }

  .no-data-container .no-data-icon-outer {
      display: inline-block;
      margin-bottom: 4px;
      width: 85px;
      height: 85px;
      background: #eff0f5;
      border-radius: 50%
  }

  .no-data-container .no-data-icon-outer .no-data-icon {
      display: inline-block;
      position: relative;
      margin-top: 18px
  }

  .no-data-container h5 {
      color: #a4a4a4
  }

  .no-file {
      margin-top: 11px;
      color: gray;
  }

  h5 {
      font-size: 2rem;
  }
