#bar-chart_research_funding {
    overflow-x: auto;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    height: .4em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}
