<div class="bg-container">
    <div class="login-container shadow flex-column">
        <div class="login-img-wrapper d-flex justify-content-center">
            <div class="text-white-50">
                Cradle to grave ERA solution
            </div>
        </div>
        <div class="position-relative p-5">
			<span class="m-3">
				<form>
					<span *ngIf="!isResetPassword else resetPassword">
						<div>
							<mat-form-field>
								<input #input [(ngModel)]="credentials.username" matInput
                                       name="username" placeholder="Username" type="text">
							</mat-form-field>
						</div>
						<div (keyup)="OnCapsLockClick($event)">
							<mat-form-field>
								<input [(ngModel)]="credentials.password" (ngModelChange)="resetVisiblityIcon()" [type]="showPassword ? 'text' : 'password'"
                                       matInput name="password" placeholder="Password">
								<mat-icon *ngIf="credentials.password" (click)="showPassword=!showPassword" aria-hidden="false" aria-label="visibility"
                                          matSuffix>
									{{showPassword ? 'visibility_off' : 'visibility'}}
								</mat-icon>
							</mat-form-field>
						</div>
						<div *ngIf="isCapsOn" class="caps-msg f-14 mb-4 text-black-50">
							Caps Lock is on.
						</div>
						<button (click)="login()" [disabled]="!(credentials.username && credentials.password)"
                                class="w-100" color="primary" mat-raised-button>Login
						</button>
<!--						<button [routerLink]="['/']"-->
<!--                                class="w-100" color="primary" mat-raised-button>Login-->
<!--						</button>-->
					</span>
					<ng-template #resetPassword>
						<div>
							<mat-form-field>
								<input #input [(ngModel)]="credentials.username" matInput
                                       name="username" placeholder="Username" type="text">
							</mat-form-field>
						</div>
						<div>
							<mat-form-field>
								<input [(ngModel)]="credentials.password" (ngModelChange)="resetVisiblityIcon()" [type]="showPassword ? 'text' : 'password'"
                                       matInput name="old password" placeholder="Old Password">
								<mat-icon *ngIf="credentials.password" (click)="showPassword=!showPassword" aria-hidden="false" aria-label="visibility"
                                          matSuffix>
									{{showPassword ? 'visibility_off' : 'visibility'}}
								</mat-icon>
							</mat-form-field>
						</div>
						<div>
							<mat-form-field>
								<input [(ngModel)]="credentials.password" (ngModelChange)="resetVisiblityIcon()" [type]="showPassword ? 'text' : 'password'"
                                       matInput name="new password" placeholder="New Password">
								<mat-icon *ngIf="credentials.password" (click)="showPassword=!showPassword" aria-hidden="false" aria-label="visibility"
                                          matSuffix>
									{{showPassword ? 'visibility_off' : 'visibility'}}
								</mat-icon>
							</mat-form-field>
						</div>
						<div>
							<mat-form-field>
								<input [(ngModel)]="credentials.password" (ngModelChange)="resetVisiblityIcon()" [type]="showPassword ? 'text' : 'password'"
                                       matInput name="confirm password" placeholder="Confirm Password">
								<mat-icon  *ngIf="credentials.password" (click)="showPassword=!showPassword" aria-hidden="false" aria-label="visibility"
                                          matSuffix>
									{{showPassword ? 'visibility_off' : 'visibility'}}
								</mat-icon>
							</mat-form-field>
						</div>
						<button class="w-100" color="primary" mat-raised-button>Reset Password
						</button>
					</ng-template>
				</form>
				<div *ngIf="isLoggedInWithInactiveUser" class="text-muted mt-2" id="login-failure">
					<div class="text-danger fs-16">
                        User is currently Inactivated. Please reach out to the administrator for more information.
                    </div>
				</div>
                <!--<hr class="my-4">
                <div class="d-flex justify-content-center f-13">
                    <ng-container *ngIf="!isResetPassword">
                        <a class="cursor-pointer">Forgot password?</a>
                        <p class="mx-3">|</p>
                        <a class="cursor-pointer" (click)="isResetPassword = true">Reset password</a>
                    </ng-container>
                    <ng-container *ngIf="isResetPassword">
                        <a class="cursor-pointer" (click)="isResetPassword = false">Back to login</a>
                    </ng-container>
                </div>-->
			</span>
        </div>
    </div>
</div>


<div *ngIf="isShowLoader" [ngClass]="{'overlay':commonService.isShowOverlay}">
    <div class="grid">
        <div class="loader6"></div>
        <div class="loading-text"><span>{{commonService.appLoaderContent}}</span></div>
    </div>
</div>

<div aria-atomic="true"
	 aria-live="assertive"
	 class="px-3 py-2 position-fixed toast align-items-center text-white bg-{{commonService.toastClass}} border-0" id="coi-bootstrap-toast" role="alert">
	<div class="d-flex">
		<div class="toast-body" id="coi-bootstrap-toast-body">
			{{commonService.appToastContent}}
		</div>
		<button aria-label="Click to close" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
				type="button"></button>
	</div>
</div>
