$toggle-btn-bg: #f7f7f7;
$toggle-btn-hover-bg: white;
$toggle-btn-hover-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
$fb-visibility-bg: #f7f7f7;
$fb-nav-btn-hr-bg: #efefef;
$version-image-bg: #ECF1FD;
$fb-more-options-bg: #E9F1FE;
$fb-more-options-color: #3A97FF;
$active-version-color: #14AE5C;
$draft-version-color: #D76F07;
$non-active-version-bg: #D9DAD9;
$color-black: black;

.toggle-container {
    display: flex;
    border-radius: 8px;
    background: #f1f1f1;
    padding: 4px;
    width: fit-content;
}

.toggle-btn {
    border: none;
    background: $toggle-btn-bg;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.3s;
    outline: 0;
}

.toggle-btn:hover,
.toggle-btn.active {
    background: $toggle-btn-hover-bg;
    box-shadow: $toggle-btn-hover-box-shadow;
    z-index: 2;
}

.toggle-btn:focus{
    border: none !important;
}
.FB-visibility-mode{
    background: $fb-visibility-bg;
    margin-top: 4px;
    margin-bottom: 4px;
}

.toggle-container button :focus{
    border: 1px solid $fb-visibility-bg;
}

.Fb-nav-btn-hr{
    height: 34px !important;
    border: 0.5px solid $fb-nav-btn-hr-bg !important;
}

.version-image img {
    height:18px !important;
    cursor: pointer;
}
.version-image{
    padding: 5px;
    background: $version-image-bg;
    margin-right: 5px;
    position: relative;
    border-radius: 5px;
}
.FB-more-otions{
    cursor: default;
    position: absolute;
    border: solid 1px $color-black;
    overflow-y: scroll;
    border-radius: 10px;
    .dropdown-item{
        font-size: 14px;
    }

        margin: 0;

    .dropdown-item{
        width: 15vw;
        padding: 5px 10px;
        margin-top:5px;
        border-radius: 15px;
        background: $fb-more-options-bg;
        color: $fb-more-options-color;
    }

    .active-version-color{
        color: $active-version-color;
    }

    .draft-version-color{
        color: $draft-version-color;
    }

}
.non-Active-version-color {
        background-color: $non-active-version-bg !important;
        color: $color-black !important;
}
