.custom-loading-time-background {
    padding: 30px;
    margin-top: 7px;
    background: white;
    min-height: 150px;
}

#opa-eng-pe-sticky-header {
    position: sticky;
    z-index: 2;
    top: 100px;
    background-color: white;
}
