.coi-card-regular {
    .card-body {
        padding-bottom: 0rem !important;
    }
}

.coi-custom-submit-box {
    position: relative;
    top: 0px;
    transition: box-shadow 250ms ease-in-out;
    background-color: white;
}
