.date-opacity {
    opacity: 1;
}

.show-qst > hr {
	margin: 5px 0 0 0 !important;
}


.question-font{
    white-space: pre-line;
    font-weight: 600;
    color: #252F4A;
    font-size: 0.875rem;
}

.qst-date-picker::placeholder {
    font-size: 0.875rem!important;
    color: #48647f!important;
    font-weight: 600;
}

.table-answers {
    resize: none;
}

.table-answers:focus {
    border: none;
    box-shadow: none;
    outline: 0 none;
}

.action-button {
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
}

.action-button i {
    margin-right: 3px;
    font-size: 1.2rem;
    background: #E8F0FB;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
}

.action-button:hover {
    color: #2c77f4;
}

.action-button:hover i {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4;
}

.icon-actions {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4!important;
}

.table-min-width {
    min-width: 250px;
}

.action-column {
    position: sticky;
    right: -1px;
    z-index: 10;
    background: #e9ecefd6;
}

.questionnaire-card{
  margin-left: 3px !important;
}
.questionnaire-card:hover{
  margin-left: 1px !important;
  border-left: solid 3px #007DEC;
}

.help-text-close {
    border: 0px solid !important;
}

.answer-options {
    label,
    .fb-option-label {
        margin-top: -4px;
    }
}

.info {
    background: #F8F8F8;
    border: 1px solid #d0d0d0;
    color: #606060;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
}

.fb-p-0{
    padding: 0;
}

.btn-link {
  cursor: pointer;
}
