.role-Modal tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.role-Modal thead th {
    height: 40px;
}

.role-Modal tbody {
    overflow-y: scroll;
    max-height: 250px;
    height: auto;
}

.role-Modal tbody td,
.role-Modal thead th {
    width: 50%;
    float: left;
}

.role-Modal .role-details-header {
    background: #f3f2f2 !important;
}

.role-Modal thead,
.role-Modal tbody,
.role-Modal tr,
.role-Modal td,
.role-Modal th {
    display: block;
}

.right-not-available {
    font-size: 1.28rem;
    text-align: center;
}

.resultCard>.form-row {
    margin: 0;
    padding: 10px;
    background: #E5F7FB;
}

table {
    width: 100%;
}
