.offset-top {
    padding-top: 55px;
    padding-left: 55px;
    padding-right: 10px;
    min-height: 100%;
}

.card {
    height: 230px;
}

.fibi-card {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.7987570028011204) 0%, rgba(9, 121, 65, 1) 0%, rgba(0, 255, 149, 1) 100%);
}

// .canvas {
//   height: calc(100% - 60px);
//   margin-top: 60px;
//   background-color: #F5F5F5;
// }

// #COI_SCROLL {
//   overflow-y: scroll;
//   overflow-x: auto;
//     margin-left: 55px;
// }

#COI_SCROLL::-webkit-scrollbar-track {
    margin-bottom: 30px;
}

.content {
    min-height: 100%;
    padding-bottom: 40px;
}

.grid {
    position: fixed;
    transform: translate(-50%, -50%);
    bottom: 40%;
    left: 50%;
    z-index: 1050;
}

.loading-text {
    text-align: center;
    color: #007DEC;
    font-size: 0.75rem;
    margin-top: 10px;
}

#ld2 {
    display: flex;
    flex-direction: row;
}

#ld2 div {
    height: 20px;
    width: 5px;
    background: #007DEC;
    margin: 3px;
    border-radius: 25px;
}

#ld2 div:nth-child(1) {
    animation: ld2 1s ease-in-out infinite 0s;
}

#ld2 div:nth-child(2) {
    animation: ld2 1s ease-in-out infinite 0.1s;
}

#ld2 div:nth-child(3) {
    animation: ld2 1s ease-in-out infinite 0.2s;
}

#ld2 div:nth-child(4) {
    animation: ld2 1s ease-in-out infinite 0.3s;
}

#ld2 div:nth-child(5) {
    animation: ld2 1s ease-in-out infinite 0.4s;
}

#ld2 div:nth-child(6) {
    animation: ld2 1s ease-in-out infinite 0.5s;
}

#ld2 div:nth-child(7) {
    animation: ld2 1s ease-in-out infinite 0.6s;
}

@keyframes ld2 {
    0% {
        transform: scaleY(1);
        background: #007DEC;
    }

    25% {
        background: #8ac4f7;
    }

    50% {
        transform: scaleY(2);
        background: #007DEC;
    }

    75% {
        background: #8ac4f7;
    }

    100% {
        transform: scaleY(1);
        background: #007DEC;
    }
}

.overlay {
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Black background with opacity */
    z-index: 1060;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    transition: background-color 2s ease-out;
}

#coi-bootstrap-toast {
    font-size: 0.875rem;
    bottom: 10px;
    right: 10px;
    z-index: 1100;
}

.coi-body {
    min-height: calc(100vh - (41px + 60px));
}

.coi-app-toast {
    width: max-content;
    min-height: 30px;
    text-align: center;
    position: fixed;
    font-size: 1.28rem;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 6px 0;
    border-radius: 3px;
    z-index: 1049;
}

@media(min-width: 992px) {
    .coi-app-toast {
        top: 23px
    }
}

@media(max-width: 991.98px) {
    .coi-app-toast {
        top: calc(50vh - 1px);
    }
}
