.table-border-btm {
    border-bottom: 1px solid rgb(222, 226, 230);
}

.table-border {
    border-right: 1px solid rgb(222, 226, 230);
}

.fw-400 {
    font-weight: 400 !important;
}

.outer-container .col-6{ line-height: 20px; }

.fixed-header-table {
    max-height: 400px;
    height: auto;
    overflow-x: hidden;
}

.fixed-header-table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table-bordered {
    border: 0px solid #dee2e6;;
}

::-webkit-scrollbar {
    width: .4em;
    height: 3em;
}

 ::-webkit-scrollbar-button {
    display: none;
}

 ::-webkit-scrollbar-track-piece {
    background: #eee
}

 ::-webkit-scrollbar-thumb {
    background: #ccc
}

a {
    text-decoration: none;
    font-size: small;
}
li {
    list-style: none;
    float: left;
}
.breadcrumbs {
    margin: 10px;
    float: left;
}
li a:hover {
    background: #ECF5FF;
    color: #4679bd;
    text-decoration: underline;
}
li a:hover:after {
    color: #ECF5FF;
}
li a:hover:before {
    border-left: 16px solid #ECF5FF;
}
li a {
    display: block;
    height: 26.5px;
    border-image: none;
    position: relative;
    margin-left: 25px;
    margin-right: 6px;
    padding: 3px 0 5px 5px;
    color: #ECF5FF;
    background: #4679bd;
    z-index: 1;
}
li a:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-top: 13.5px solid transparent;
    border-left: 16px solid #4679bd;
    border-bottom: 13.5px solid transparent;
    z-index: -1;
}
li a:after {
    content: "";
    position: absolute;
    left: -25px;
    top: 0px;
    width: 0px;
    height: 0px;
    border-width: 13.5px;
    border-style: solid;
    border-left: 16px solid transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: #4679bd;
    z-index: -1;
}
li:first-child a {
    margin-left: 0;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
li:first-child a:after {
    display: none;
}
li:last-child a {
    padding-right: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ECF5FF;
    color: #4679bd;
    cursor: default;
}
li:last-child a:after {
    color: #ECF5FF;
}
li:last-child a:before {
    display: none;
}
li:last-child a:hover {
    text-decoration: none;
}
.clickable:hover{
    color: #0D6EFD;
    text-decoration: underline;
    cursor: pointer;
}
