<div id="Proposal314" class="card my-3">
<div class="card-header px-4">
  <h4 class="card-title" id="comment">Comments
    <button class="updown-arrow"  (click)="isShowCollapse = !isShowCollapse">
      <i [ngClass]="isShowCollapse?'fa fa-angle-double-up':'fa fa-angle-double-down'"
        class="fa-large"></i>
    </button>
  </h4>
</div>
<div  *ngIf="isShowCollapse" >
<app-shared-comment *ngIf="comparisonData.baseProposalId"
 [requestId]="comparisonData.baseProposalId"
 [isEditMode]="false" [requestModuleCode]="3">
</app-shared-comment>
</div>
</div>