<div class="card my-3" id="Proposal201">
    <div class="card-header">
        <h4 class="card-title">General Proposal Information
            <span *ngIf="proposal?.proposalId != null" class="d-inline-block float-right">
                <a class="tooltip "><i class="fa fa-info-circle fa-med hand-cursor" aria-hidden="true"></i>
                    <div class="tooltiptext-right card card-inner p-15 text-left">
                        <span class="font-cv">Last Updated By</span>
                        <span class="font-cv font-weight-bold">{{proposal?.updateUserFullName}}
                            on {{proposal?.updateTimeStamp | dateFormatterWithTimeZone : 'long'}} </span>
                    </div>
                </a>
            </span>
        </h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="gridSkin">
                <div class="row" *ngIf="proposal?.grantCallId">
                    <div class="col-lg-10 col-12">
                        <label class="d-block">Title of Grant Call</label>
                        <span [innerHTML]="proposal?.grantCallId | customTagRemover: currentMethod"></span>
                        <span [innerHTML]="'-'"></span>
                        <span [innerHTML]="proposal?.grantCall?.grantCallName | customTagRemover: currentMethod"></span>
                    </div>
                    <!-- <div class="col-2 mt-5" *ngIf="proposal?.grantCallId">
                      <span class="actionButtonGroup d-inline-block float-left">
                          <a id="inst-prop-eyeIcon-view-btn"
                              title="Click here to view {{proposal?.grantCall?.grantCallName}}"
                              (click)="showGrantDetails = true;" class="anchor-link " tabindex="0">
                              View Grant Call Details
                          </a>
                      </span>
                  </div> -->
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label class="d-block">Proposal Title</label>
                        <span [innerHTML]="proposal?.title | customTagRemover: currentMethod"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <label class="d-sm-block">Proposal Type</label>
                        <span [innerHTML]="proposal?.instProposalType?.description | customTagRemover: currentMethod"></span>
                    </div>
                    <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <label class="d-sm-block">
                            <ng-container i18n="@@COMMON_TYPE_OF_GRANT">Type of Grant</ng-container>
                        </label>
                        <span *ngIf="proposal?.grantCallType == null" class="noDataExists">No Data</span>
                        <span [innerHTML]="proposal?.grantCallType?.description | customTagRemover: currentMethod"></span>
                    </div>
                    <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <label class="d-sm-block">
                            <ng-container i18n="@@COMMON_CATEGORY_PROPOSAL">Category</ng-container>
                        </label>
                        <span [innerHTML]="proposal?.activityType?.description | customTagRemover: currentMethod"></span>
                    </div>
                    <div class="form-group col">
                        <label class="d-block">Anticipated Award Type</label>
                        <span [innerHTML]="proposal?.awardType?.description | customTagRemover: currentMethod"></span>
                        <span *ngIf="!proposal?.awardType" class="noDataExists">No Anticipated Award Type
                            Specified</span>
                    </div>
                </div>
                <div class="row">
                    <!-- SMU Specific change-->
                    <!-- <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                      <label class="d-block">Discipline Cluster</label>
                      <span>{{proposal?.disciplineCluster?.description}}</span>
                      <span *ngIf="!proposal?.disciplineCluster?.description" class="noDataExists">No Discipline Cluster Specified</span>
                  </div> -->
                    <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <label class="d-sm-block">
                            <ng-container i18n="@@COMMON_SPONSOR">Sponsor</ng-container>
                        </label>
                        <span [innerHTML]="proposal?.sponsorName | customTagRemover: currentMethod"></span>
                        <span class="noDataExists" *ngIf="!proposal?.sponsorName">No Sponsor Specified</span>
                    </div>
                    <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <label class="d-sm-block">Proposed Start Date</label>
                        <span [innerHTML]="dateFormatter.parseDate(proposal?.startDate) | customTagRemover: currentMethod"></span>
                    </div>
                    <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <label class="d-sm-block">Proposed End Date</label>
                        <span [innerHTML]="dateFormatter.parseDate(proposal?.endDate) | customTagRemover: currentMethod"></span>
                    </div>
                    <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <label class="d-sm-block">Duration</label>
                        <span><strong [innerHTML]="proposal?.duration | customTagRemover: currentMethod"></strong></span>
                    </div>
                    <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <label class="d-sm-block">Prime Sponsor</label>
                        <span [innerHTML]="proposal?.primeSponsorName | customTagRemover: currentMethod"></span>
                        <span *ngIf="proposal?.primeSponsorName == null" class="noDataExists">No Prime Sponsor Specified</span>
                    </div>
                    <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <label class="d-sm-block">
                            <ng-container i18n="@@COMMON_SPONSOR_PROPOSAL_ID">Sponsor Proposal ID</ng-container>
                        </label>
                        <span *ngIf="proposal?.sponsorProposalNumber != null"
                            [innerHTML]="proposal?.sponsorProposalNumber | customTagRemover: currentMethod"></span>
                        <span *ngIf="proposal?.sponsorProposalNumber == null" class="noDataExists">
                            <ng-container i18n="@@IP_NO_SPONSOR_PROPOSAL_SPECIFIED_ERR">No Sponsor Proposal Specified
                            </ng-container>
                        </span>
                    </div>
                    <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <label class="d-sm-block">Sponsor Deadline Date</label>
                        <span [innerHTML]="dateFormatter.parseDate(proposal?.sponsorDeadlineDate) | customTagRemover: currentMethod"></span>
                        <span *ngIf="!proposal?.sponsorDeadlineDate" class="noDataExists">No Sponsor Deadline Date
                            Specified</span>
                    </div>
                    <div class="form-group col subcontract-pr">
                        <label class="d-block">Internal Deadline Date</label>
                        <span *ngIf="proposal?.internalDeadLineDate"
                            [innerHTML]="dateFormatter.parseDate(proposal?.internalDeadLineDate) | customTagRemover: currentMethod"></span>
                        <span *ngIf="!proposal?.internalDeadLineDate" class="noDataExists">No Internal Deadline
                            Date Specified</span>
                    </div>
                    <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                        <label class="d-sm-block">
                            <ng-container i18n="@@COMMON_MASTER_PROPOSAL">Master Proposal</ng-container> #
                        </label>
                        <ng-container *ngIf="proposal?.baseProposalNumber">
                            <span [innerHTML]="proposal.baseProposalNumber | customTagRemover: currentMethod"></span>
                            <span [innerHTML]="'-'"></span>
                            <span [innerHTML]="proposal?.baseProposalTitle | customTagRemover: currentMethod"></span>
                        </ng-container>
                        <span
                            *ngIf="proposal?.baseProposalNumber == null || proposal?.baseProposalNumber == 'null' || proposal?.baseProposalNumber == ''"
                            class="noDataExists">No <ng-container i18n="@@COMMON_MASTER_PROPOSAL">Master Proposal
                            </ng-container> Specified</span>
                    </div>
                    <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <label class="d-sm-block">Funding Opportunity Number</label>
                        <span [innerHTML]="proposal?.programAnnouncementNumber | customTagRemover: currentMethod"></span>
                        <span *ngIf="proposal?.programAnnouncementNumber == null" class="noDataExists">No
                            Funding
                            Opportunity Number Specified</span>
                    </div>
                    <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                        <label class="d-sm-block"
                            title="CFDA (Catalogue of Federal Domestic Assistance Number) is a five-digit number assigned in the awarding document to most grants and cooperative agreements funded by the Federal government.">
                            CFDA Number</label>
                        <span [innerHTML]="proposal?.cfdaNumber | customTagRemover: currentMethod"></span>
                        <span *ngIf="proposal?.cfdaNumber == null" class="noDataExists">No CFDA
                            Specified</span>
                    </div>
                    <div class="col-12">
                            <label class="d-sm-block">Keywords of Research </label>                            
                            <div class="fileChips" style="word-break: break-all;"
                                *ngIf="proposal?.instProposalKeywords?.length > 0">
                                <ng-container *ngFor="let keyword of proposal?.instProposalKeywords;let i = index;">
                                    <ng-container *ngIf="keyword?.keyword == null">
                                        <span
                                            [ngClass]="{ 'delete-background': keyword.status == -1,'add-background': keyword.status == 1}"
                                            [innerHTML]='keyword?.scienceKeyword?.description | customTagRemover: currentMethod'></span>
                                    </ng-container>
                                    <ng-container *ngIf="keyword?.keyword != null">
                                        <span
                                            [ngClass]="{ 'delete-background': keyword.status == -1,'add-background': keyword.status == 1}"
                                            [innerHTML]='keyword?.scienceKeyword?.description | customTagRemover: currentMethod'></span>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <span class="noDataExists" *ngIf="proposal?.instProposalKeywords?.length == 0">
                                No keywords added</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <label class="block-display">Abstract</label>
                        <ng-container>
                            <div class="ck-content">
                                <span [innerHTML]="proposal?.abstractDescription | safe"></span>
                            </div>
                        </ng-container>
                        <div class="noDataExists" *ngIf="!proposal?.abstractDescription">No abstract for
                            this proposal
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- grant details view modal -->
<!-- <app-grant-details-view *ngIf="showGrantDetails" (showGrantDetails)="setGrantDetailsValue($event)"
    [grantCallId]="proposal?.grantCallId"></app-grant-details-view> -->