:host {
    --lib-skeleton-light-gray-lighter: #f0f0f0;
    --lib-skeleton-light-gray-medium: #c0c0c0;
    --lib-skeleton-light-blue-gray: #eff0f5;
    --lib-skeleton-light-gray: #a4a4a4;
    --lib-skeleton-blue-light: #dfe5f0;
    --lib-skeleton-blue-gray: #808080;
    --lib-skeleton-white: #ffffff;
    --lib-skeleton-baseRem: 1rem; // 1rem --> 16px;
}

.lib-skeleton {

    width: 100%;
    height: 100%;

    .lib-skeleton-fs-14 {
        font-size: calc(var(--lib-skeleton-baseRem) * 0.875) !important;
    }

    .lib-skeleton-ms-1 {
        margin-inline-start: calc(var(--lib-skeleton-baseRem) * 0.25) !important;
    }

    .lib-skeleton-mt-2 {
        margin-top: calc(var(--lib-skeleton-baseRem) * 0.5) !important;
    }

    .lib-skeleton-mb-0 {
        margin-bottom: 0 !important;
    }

    .lib-skeleton-mb-2 {
        margin-bottom: calc(var(--lib-skeleton-baseRem) * 0.5) !important;
    }

    .lib-skeleton-mb-3 {
        margin-bottom: calc(var(--lib-skeleton-baseRem) * 1) !important;
    }

    .lib-skeleton-pt-3 {
        padding-top: calc(var(--lib-skeleton-baseRem) * 1) !important;
    }

    .lib-skeleton-pb-2 {
        padding-bottom: calc(var(--lib-skeleton-baseRem) * 0.5) !important;
    }

    .lib-skeleton-px-3 {
        padding-right: calc(var(--lib-skeleton-baseRem) * 1) !important;
        padding-left: calc(var(--lib-skeleton-baseRem) * 1) !important;
    }

    .lib-skeleton-px-4 {
        padding-right: calc(var(--lib-skeleton-baseRem) * 1.5) !important;
        padding-left: calc(var(--lib-skeleton-baseRem) * 1.5) !important;
    }

    .lib-skeleton-cell,
    .lib-skeleton-card,
    .lib-skeleton-line,
    .lib-skeleton-circle,
    .lib-skeleton-square,
    .lib-skeleton-rectangle {
        background-color: var(--lib-skeleton-blue-light);
        width: 100%;
        height: 100%;
    }

    .lib-skeleton-table {

        .lib-skeleton-cell {
            min-height: 10px;
            border-radius: 4px;
        }

        .lib-skeleton-header-cell {
            min-height: 12px;
            border-radius: 4px;
            background-color: var(--lib-skeleton-light-gray-medium);
        }

    }


    .lib-skeleton-card {
        min-width: 100%;
        min-height: 200px;
        margin-bottom: 20px;
        background-color: var(--lib-skeleton-light-gray-lighter);
    }

    .lib-skeleton-title,
    .lib-skeleton-text,
    .lib-skeleton-line {
        min-height: 20px;
        border-radius: 4px;
    }

    .lib-skeleton-title {
        height: 25px;
        background-color: var(--lib-skeleton-light-gray-medium);
    }

    .lib-skeleton-profile-card {
        min-height: 100px;
        background-color: var(--lib-skeleton-light-gray-lighter);
    }

    .lib-skeleton-circle {
        min-width: 50px;
        min-height: 50px;
        border-radius: 50%;
    }

    .lib-skeleton-rectangle {
        min-width: 100%;
        min-height: 32px;
    }

    .lib-skeleton-square {
        min-width: 50px;
        min-height: 50px;
    }

    /* Animation Classes */
    .lib-skeleton-animate-shimmer {
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            background-image: linear-gradient(90deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(255, 255, 255, 0.2) 10%,
                    rgba(255, 255, 255, 0.4) 50%,
                    rgba(255, 255, 255, 0) 100%);
            animation: lib-skeleton-animate-shimmer 2s infinite ease-in-out;
        }
    }

}

.lib-retry-container {
    padding: 20px;
    color: var(--lib-skeleton-light-gray);
    background-color: var(--lib-skeleton-white);

    .lib-retry-icon-container {
        padding: 20px;
        background-color: var(--lib-skeleton-light-blue-gray);

        .lib-retry-icon {
            font-size: calc(var(--lib-skeleton-baseRem) * 1.6) !important;
            color: var(--lib-skeleton-blue-gray) !important;
        }
    }
}

@keyframes lib-skeleton-animate-shimmer {
    100% {
        transform: translateX(100%);
    }
}
