.relation-header {
    position: absolute;
    top: -11px;
    left: 15px;
    background-color: white;
}

.phone-no-btn {
    height: 35px;
}

.fileChips span {
    display: inline-block;
    padding: 0 25px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    padding: 3px 8px 3px 12px;
    border-radius: 11px;
    background: gainsboro;
}

.fileChips-close {
    display: inline-block;
    margin: -11px -2px 0 3px;
    border-radius: 50%;
    background-color: #fff;
    padding: 2px;
    color: red;
}

