<section [@fadeInOutHeight]>
    <section class="section-advanced-search coi-dashboard-tab-sticky">
        <div class="fs-18 fw-bold d-inline-block mb-2" title="{{ declarationLocalize.PLURAL_TERM }} Dashboard"
            attr.aria-label="{{ declarationLocalize.PLURAL_TERM }} Dashboard">{{ declarationLocalize.PLURAL_TERM }}</div>
        <!-- nav -->
        <div class="coi-admin-dash mb-2 mx-0 border shadow-sm rounded-2">
            <nav aria-labelledby="declarationNav">
                <div class="d-flex justify-content-between list navbar-toggleable-xs">
                    <!-- Expand Button -->
                    <button id="declarationNavExpandBtn" class="navbar-toggler hidden-sm-up px-0 px-sm-3 hamburger-display"
                        [ngClass]="{ 'd-none': isShowOptions }" type="button" (click)="isShowOptions = true" data-bs-toggle="collapse"
                        data-bs-target="#declarationNav" aria-controls="declarationNav"
                        aria-expanded="false" aria-label="Click to show menu" title="Click to show menu">
                        <i class="fa fa-bars f-14 text-muted mx-colr" aria-hidden="true"></i>
                    </button>
                    <!-- Collapse Button -->
                    <button id="declarationNavCollapseBtn" class="navbar-toggler hidden-sm-up px-0 mt-1 px-sm-3 hamburger-display" [ngClass]="{ 'd-none': !isShowOptions }"
                        type="button" (click)="isShowOptions = false" aria-controls="declarationNav" aria-expanded="true"
                        aria-label="Click to hide menu" title="Click to hide menu" [@topSlideInOut]="isShowOptions">
                        <i class="fa fa-bars f-14 text-muted mx-colr" aria-hidden="true"></i>
                    </button>
                    <!-- tabs -->
                    <ul class="m-0 p-0 menu-responsive fit-content tabs-collapsed collapse"
                        id="declarationNav" aria-label="navigation list">
                        <!-- All Declarations -->
                        <li>
                            <a id="decl-dash-all-tab" tabindex="0"
                                (click)="changeTab(declarationTabTypeAll)"
                                (keyup.enter)="changeTab(declarationTabTypeAll)"
                                [title]="adminDashBoardService.tabType === declarationTabTypeAll
                                    ? ('All ' + declarationLocalize.PLURAL_TERM)
                                    : ('Click here to view All ' + declarationLocalize.PLURAL_TERM)"
                                [attr.aria-label]="adminDashBoardService.tabType === declarationTabTypeAll
                                    ? ('Selected tab is All ' + declarationLocalize.PLURAL_TERM)
                                    : ('Click here to view All ' + declarationLocalize.PLURAL_TERM)"
                                class="d-inline-flex align-item-center px-xxl-3 py-3 px-2 fs-6 w-100"
                                [class.active]="adminDashBoardService.tabType === declarationTabTypeAll">
                                All {{ declarationLocalize.PLURAL_TERM }}
                            </a>
                        </li>
                        <span class="separator" aria-hidden="true" role="separator"></span>
                        <!-- New Submissions -->
                        <li>
                            <a id="decl-dash-new-submission-tab" tabindex="0"
                                (click)="changeTab('NEW_SUBMISSIONS')"
                                (keyup.enter)="changeTab('NEW_SUBMISSIONS')"
                                [title]="adminDashBoardService.tabType === 'NEW_SUBMISSIONS'
                                    ? 'New Submissions' : 'Click here to view New Submissions'"
                                [attr.aria-label]="adminDashBoardService.tabType === 'NEW_SUBMISSIONS'
                                    ? 'Selected tab is New Submissions' : 'Click here to view New Submissions'"
                                class="d-inline-flex align-item-center px-xxl-3 py-3 px-2 fs-6 w-100 gap-1"
                                [class.active]="adminDashBoardService.tabType === 'NEW_SUBMISSIONS'">
                                New Submissions
                                <span *ngIf="adminDashboardTabCount?.newSubmissionTabCount"
                                    class="badge count-badge d-inline-flex align-items-center justify-content-center rounded-circle">
                                    <span class="fs-12 fw-700">{{ adminDashboardTabCount?.newSubmissionTabCount }}</span>
                                </span>
                            </a>
                        </li>
                        <span class="separator" aria-hidden="true" role="separator"></span>
                        <!-- My Reviews -->
                        <li>
                            <a id="decl-dash-my-reviews-tab" tabindex="0"
                            (click)="changeTab('MY_REVIEWS')"
                            (keyup.enter)="changeTab('MY_REVIEWS')"
                            [title]="adminDashBoardService.tabType === 'MY_REVIEWS'
                                    ? 'My Reviews' : 'Click here to view My Reviews'"
                                [attr.aria-label]="adminDashBoardService.tabType === 'MY_REVIEWS'
                                    ? 'Selected tab is My Reviews' : 'Click here to view My Reviews'"
                                class="d-inline-flex align-item-center px-xxl-3 py-3 px-2 fs-6 w-100 gap-1"
                                [class.active]="adminDashBoardService.tabType === 'MY_REVIEWS'">
                                My Reviews
                                <span *ngIf="adminDashboardTabCount?.myReviewsTabCount"
                                    class="badge count-badge d-inline-flex align-items-center justify-content-center rounded-circle">
                                    <span class="fs-12 fw-700">{{ adminDashboardTabCount?.myReviewsTabCount }}</span>
                                </span>
                            </a>
                        </li>
                        <span class="separator" aria-hidden="true" role="separator"></span>
                        <!-- All Reviews -->
                        <li>
                            <a id="decl-dash-all-reviews-tab" tabindex="0"
                                (click)="changeTab('ALL_REVIEWS')"
                                (keyup.enter)="changeTab('ALL_REVIEWS')"
                                [title]="adminDashBoardService.tabType === 'ALL_REVIEWS'
                                    ? 'All Reviews' : 'Click here to view All Reviews'"
                                [attr.aria-label]="adminDashBoardService.tabType === 'ALL_REVIEWS'
                                    ? 'Selected tab is All Reviews' : 'Click here to view All Reviews'"
                                class="d-inline-flex align-item-center px-xxl-3 py-3 px-2 fs-6 w-100 gap-1"
                                [class.active]="adminDashBoardService.tabType === 'ALL_REVIEWS'">
                                All Reviews
                                <span *ngIf="adminDashboardTabCount?.allReviewsTabCount"
                                    class="badge count-badge d-inline-flex align-items-center justify-content-center rounded-circle">
                                    <span class="fs-12 fw-700">{{ adminDashboardTabCount?.allReviewsTabCount }}</span>
                                </span>
                            </a>
                        </li>
                        <span class="separator" aria-hidden="true" role="separator"></span>
                    </ul>
                    <div class="mx-1 py-2 d-inline-flex align-items-center pe-2">
                        <button type="button" id="coi-admindash-adv-search" aria-controls="collapseExample"
                            class="position-relative d-flex fs-14 align-items-center btn btn-tertiary mt-0 text-nowrap"
                            [attr.aria-expanded]="isShowAdvanceSearch" (click)="toggleAdvanceSearch()"
                            aria-label="Click here to expand / collapse Advanced Search fields"
                            title="Click here to expand / collapse Advanced Search fields">
                            <span *ngIf="adminDashBoardService.isAdvanceSearchMade && !isShowAdvanceSearch"
                                class="position-absolute translate-middle adv-search-count-top bg-danger" [ngClass]="{
                                    'badge rounded-pill': advancedSearchCriteriaCount > 0,
                                    'p-2 border border-light rounded-circle': advancedSearchCriteriaCount === 0
                                }">
                                {{ advancedSearchCriteriaCount || '' }}
                            </span>
                            <mat-icon aria-hidden="true" class="me-1 flex-shrink-0">tune</mat-icon>
                            Advanced Search
                        </button>
                    </div>
                </div>
            </nav>
            <!-- advanced search -->
            <div *ngIf="isShowAdvanceSearch" class="pb-3 px-3 pt-2 border-top" id="collapseExample" [@topSlideInOut]>
                <fieldset class="row g-3">
                    <legend class="visually-hidden">{{ declarationLocalize.TERM }} Advanced Search</legend>
                    <!-- Person Name -->
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-12" title="Click here to search by Person Name"
                        aria-label="Click here to search by Person Name" role="searchbox">
                        <label class="d-block pb-1" for="adv-person-name">Person</label>
                        <app-elastic (selectedResult)="selectPersonName($event)" [canEmitSearchText]="true"
                            [options]="elasticPersonSearchOptions" [placeHolder]="'Search by Person'"
                            [uniqueId]="'adv-person-name'" (keyup.enter)="performAdvanceSearch()">
                        </app-elastic>
                    </div>
    
                    <!-- Department Name -->
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-12" title="Click here to search by Department Name"
                        aria-label="Department search field" i18n-title="@@ADV_SEARCH_DEPT_TITLE"
                        i18n-aria-label="@@ADV_SEARCH_DEPT_ARIA_LABEL" role="searchbox">
                        <label class="d-block pb-1" for="adv-opa-disclosure-department-name">
                            <ng-container i18n="@@COMMON_DEPARTMENT">Department</ng-container>
                        </label>
                        <app-endpoint-search (onSelect)="leadUnitChangeFunction($event)" [canEmitSearchText]="true"
                            [httpOptions]="leadUnitSearchOptions" [placeHolder]="advSearchDepartmentPlaceholder"
                            [uniqueId]="'adv-opa-disclosure-department-name'" (keyup.enter)="performAdvanceSearch()">
                        </app-endpoint-search>
                    </div>
    
                    <!-- Review Status -->
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-12" role="listbox"
                        title="Click here to search by {{ declarationLocalize.TERM_REVIEW_STATUS }}"
                        attr.aria-label="Click here to search by {{ declarationLocalize.TERM_REVIEW_STATUS }}">
                        <label class="d-block pb-1" for="decl-dash-adv-review-status">
                            {{ declarationLocalize.TERM_REVIEW_STATUS }}
                        </label>
                        <app-look-up (selectedResult)="onLookupSelect($event, 'REVIEW_STATUS_CODE')"
                            [options]="reviewStatusOptions" [selectedLookUpList]="selectedLookUpList['REVIEW_STATUS_CODE']"
                            [uniqueId]="'decl-dash-adv-review-status'" [needResultOnEachSelection]="true"
                            (keyup.enter)="performAdvanceSearch()">
                        </app-look-up>
                    </div>

                    <!-- Declaration Status -->
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-12" role="listbox"
                        title="Click here to search by {{ declarationLocalize.TERM_DISPOSITION_STATUS }}"
                        attr.aria-label="Click here to search by {{ declarationLocalize.TERM_DISPOSITION_STATUS }}">
                        <label class="d-block pb-1" for="decl-dash-adv-decl-status">
                            {{ declarationLocalize.TERM_DISPOSITION_STATUS }}
                        </label>
                        <app-look-up (selectedResult)="onLookupSelect($event, 'DECLARATION_STATUS')"
                            [options]="dispositionStatusOptions" [selectedLookUpList]="selectedLookUpList['DECLARATION_STATUS']"
                            [uniqueId]="'decl-dash-adv-decl-status'" [needResultOnEachSelection]="true"
                            (keyup.enter)="performAdvanceSearch()">
                        </app-look-up>
                    </div>

                    <!-- Submission Date -->
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-12"
                        title="Click here to search by {{ declarationLocalize.SUBMISSION }} Date"
                        attr.aria-label="Click here to search by {{ declarationLocalize.SUBMISSION }} Date">
                        <label class="d-block pb-1" for="decl-dash-adv-certify-date">
                            {{ declarationLocalize.SUBMISSION }} Date
                        </label>
                        <span class="dateField">
                            <!-- date picker input -->
                            <input #certificationDateInput id="decl-dash-adv-certify-date"
                                class="form-control d-inline-block" matInput [matDatepicker]="SUBMISSION_DATE"
                                (click)="SUBMISSION_DATE.open()" (keyup.enter)="performAdvanceSearch()"
                                [(ngModel)]="dashboardTempRO.SUBMISSION_DATE"
                                (ngModelChange)="validateDateFormat('SUBMISSION_DATE')"
                                (blur)="validateDateFormat('SUBMISSION_DATE')"
                                (dateChange)="validateDateFormat('SUBMISSION_DATE')"
                                (keypress)="commonService._keyPress($event, 'date')" placeholder="{{datePlaceHolder}}">
                            <!-- date picker icon btn -->
                            <button id="decl-dash-adv-certify-date-btn"
                                class="btn-none insidePicker" (click)="SUBMISSION_DATE.open()"
                                title="Click here to open date picker for {{ declarationLocalize.SUBMISSION }} Date"
                                attr.aria-label="Click here to open date picker for {{ declarationLocalize.SUBMISSION }} Date">
                                <mat-icon aria-hidden="true"
                                    class="coi-mat-icon-size coi-text-light">calendar_month</mat-icon>
                            </button>
                            <!-- date picker -->
                            <mat-datepicker #SUBMISSION_DATE></mat-datepicker>
                        </span>
                        <!-- error -->
                        <span *ngIf="dateValidationMap.has('SUBMISSION_DATE')"
                            class="d-block fs-13 invalid-feedback ps-1">{{ dateValidationMap.get('SUBMISSION_DATE') }}</span>
                    </div>
    
                    <!-- Expiration Date -->
                    <div class="col-xl-3 col-lg-3 col-sm-6 col-12"
                        title="Click here to search by Expiration Date"
                        attr.aria-label="Click here to search by Expiration Date">
                        <label class="d-block pb-1" for="decl-dash-adv-certify-date">
                            Expiration Date
                        </label>
                        <span class="dateField">
                            <!-- date picker input -->
                            <input #expirationDateInput id="decl-dash-adv-certify-date"
                                class="form-control d-inline-block" matInput [matDatepicker]="EXPIRATION_DATE"
                                (click)="EXPIRATION_DATE.open()" (keyup.enter)="performAdvanceSearch()"
                                [(ngModel)]="dashboardTempRO.EXPIRATION_DATE"
                                (ngModelChange)="validateDateFormat('EXPIRATION_DATE')"
                                (blur)="validateDateFormat('EXPIRATION_DATE')"
                                (dateChange)="validateDateFormat('EXPIRATION_DATE')"
                                (keypress)="commonService._keyPress($event, 'date')" placeholder="{{datePlaceHolder}}">
                            <!-- date picker icon btn -->
                            <button id="decl-dash-adv-certify-date-btn"
                                class="btn-none insidePicker" (click)="EXPIRATION_DATE.open()"
                                title="Click here to open date picker for Expiration Date"
                                attr.aria-label="Click here to open date picker for Expiration Date">
                                <mat-icon aria-hidden="true"
                                    class="coi-mat-icon-size coi-text-light">calendar_month</mat-icon>
                            </button>
                            <!-- date picker -->
                            <mat-datepicker #EXPIRATION_DATE></mat-datepicker>
                        </span>
                        <!-- error -->
                        <span *ngIf="dateValidationMap.has('EXPIRATION_DATE')"
                            class="d-block fs-13 invalid-feedback ps-1">{{ dateValidationMap.get('EXPIRATION_DATE') }}</span>
                    </div>

                    <!-- Declaration Type -->
                    <div *ngIf="commonService.activeDeclarationTypes?.length > 1"
                        class="col-xl-3 col-lg-3 col-sm-6 col-12" role="listbox"
                        title="Click here to search by {{ declarationLocalize.TERM }} Type"
                        attr.aria-label="Click here to search by {{ declarationLocalize.TERM }} Type">
                        <label class="d-block pb-1" for="decl-dash-adv-decl-type">
                            {{ declarationLocalize.TERM }} Type
                        </label>
                        <app-look-up (selectedResult)="onLookupSelect($event, 'DECLARATION_TYPE')"
                            [externalArray]="lookupArrayForDeclarationType" [isExternalArray]="true"
                            [options]="declarationTypeOptions" [selectedLookUpList]="selectedLookUpList['DECLARATION_TYPE']"
                            [uniqueId]="'decl-dash-adv-decl-type'" [needResultOnEachSelection]="true"
                            (keyup.enter)="performAdvanceSearch()">
                        </app-look-up>
                    </div>

                    <!-- Administrator -->
                    <div *ngIf="[declarationTabTypeAll, 'ALL_REVIEWS'].includes(adminDashBoardService.tabType)"
                        class="col-xl-3 col-lg-3 col-sm-6 col-12" role="listbox"
                        title="Click here to search by Administrator"
                        attr.aria-label="Click here to search by Administrator">
                        <label class="d-block" for="adv-decl-administrator">
                            Administrator
                        </label>
                        <app-look-up (selectedResult)="onLookupSelect($event, 'ADMINISTRATOR')"
                            [externalArray]="lookupArrayForAdministrator" [isExternalArray]="true"
                            [options]="declAdministratorOptions" [selectedLookUpList]="selectedLookUpList['ADMINISTRATOR']"
                            [uniqueId]="'adv-decl-administrator'" [needResultOnEachSelection]="true"
                            (keyup.enter)="performAdvanceSearch()">
                        </app-look-up>
                    </div>
    
                    <!-- Actions -->
                    <div class="d-flex justify-content-end align-items-end gap-2 col mt-4">
                        <!-- Clear  -->
                        <button class="btn btn-outline-secondary fs-14" id="decl-dash-clear-btn"
                            (click)="clearAdvancedSearch()" aria-label="Click here to clear all the fields"
                            title="Click here to clear all the fields">
                            Clear
                        </button>
                        <!-- Search  -->
                        <button class="btn btn-primary fs-14" id="decl-dash-search-btn"
                            (click)="performAdvanceSearch()" aria-label="Click here to get the search results"
                            title="Click here to get the search results">
                            Search
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>

        <!-- sorting for all declarations-->
        <div *ngIf="(isShowDeclarationList && declarationDashboardData?.dashboardResponses?.length) || isSorting" class="sort-div border mt-2 px-3">
            <span class="fs-14 fw-medium text-secondary">Sort By :</span>
            <ng-container *ngFor="let sortSection of sortSectionsList; let sortIndex = index">
                <button *ngIf="!(adminDashBoardService.tabType !== declarationTabTypeAll && sortSection.variableName === 'DECLARATION_TYPE')"
                    title="Click here to sort by {{sortSection?.fieldName}}" (click)="sortResult(sortSection?.variableName)"
                    attr.aria-labelledby="decl-dash-sort-{{sortIndex}}"
                    class="shadow-sm fw-medium py-2 px-3 fs-13 border rounded-5 bg-white coi-sort-filter-btn"
                    [ngClass]="{
                        'ms-1': sortIndex === 0,
                        'mx-0': sortIndex !== 0,
                        'coi-px-8px': !adminDashBoardService.sortType[sortSection?.variableName],
                        'filter-active': adminDashBoardService.sortType[sortSection?.variableName]
                    }">
                    <div class="d-inline-flex align-items-center">
                        <!-- screen reader only -->
                        <span class="visually-hidden" id="decl-dash-sort-{{sortIndex}}">
                            Click here to sort by {{ sortSection?.fieldName }} in 
                            {{
                                adminDashBoardService.sortType[sortSection?.variableName] === 'ASC' ? 'descending order' :
                                adminDashBoardService.sortType[sortSection?.variableName] === 'DESC' ? 'normal order' :
                                'ascending order'
                            }}
                        </span>
                        <!-- sort field name -->
                        <span>{{sortSection?.fieldName}}</span>
                        <!-- up arrow -->
                        <mat-icon *ngIf="adminDashBoardService.sortType[sortSection?.variableName] === 'DESC'" aria-hidden="true"
                            class="arrow selected-arrow flex-shrink-0" [@slideUp] [@scaleOut]>arrow_upward</mat-icon>
                        <!-- down arrow -->
                        <mat-icon *ngIf="adminDashBoardService.sortType[sortSection?.variableName] === 'ASC'" aria-hidden="true"
                            class="arrow selected-arrow flex-shrink-0" [@slideDown]>arrow_downward</mat-icon>
                    </div>
                </button>
            </ng-container>
        </div>
    </section>

    <!-- Declaration List -->
    <section *ngIf="isShowDeclarationList && !isLoading">
        <div *ngIf="declarationDashboardData?.dashboardResponses?.length > 0; else showNoDeclaration"
            [@listAnimation]="declarationDashboardData?.dashboardResponses?.length">
            <ng-container *ngFor="let declaration of declarationDashboardData?.dashboardResponses">
                <!-- Declaration Card -->
                <app-declaration-card [declarationDetails]="declaration"
                    (emitCardActions)="declarationCardActions($event)"
                    [isShowAssignAdmin]="declaration?.isShowAssignAdminBtn">
                </app-declaration-card>
            </ng-container>
        </div>
        <ng-template #showNoDeclaration>
            <!-- No data card -->
            <app-no-information>
                <span>{{ isAdvanceSearchMade ? noDataMessage.ADVANCE_SEARCH_NO_INFO : noDataMessage[adminDashBoardService.tabType] }}</span>
            </app-no-information>
        </ng-template>
    </section>

    <!-- Pagination -->
    <div *ngIf="declarationDashboardData?.dashboardResponses?.length > 0 && isShowDeclarationList"
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3" [hidden]="isLoading">
        <nav aria-label="pagination section" class="pagination justify-content-end">
            <app-pagination (pageChangeEvent)="actionsOnPageChange($event)"
                [totalCount]="declarationDashboardData?.totalDeclarationResponse"
                [pageCount]="adminDashBoardService.dashboardRO.LIMIT"
                [defaultCurrentPage]="(adminDashBoardService.dashboardRO.PAGED + 1)">
            </app-pagination>
        </nav>
    </div>

    <!-- Assign Admin Modal -->
    <app-assign-administrator-modal *ngIf="assignAdminModalConfig.isOpenAssignAdminModal"
        [path]="'DECLARATIONS'"
        (closeModal)="closeAssignAdministratorModal($event)"
        [disclosureId]="assignAdminModalConfig?.documentId"
        [disclosureNumber]="assignAdminModalConfig?.documentNumber"
        [currentAssignedAdminId]="assignAdminModalConfig?.adminPersonId"
        [defaultAdminDetails]="assignAdminModalConfig.defaultAdminDetails"
        [actionType]="assignAdminModalConfig?.adminPersonId ? 'R' : 'A'">
    </app-assign-administrator-modal>
</section>
