nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    white-space: nowrap;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.separator {
    border: 1px solid #ededed;
    margin: 1px 0;
}

.sort-div {
    background-color: #eeeeee;
    padding: 9px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 10px;

    .filter-active {
        border: 2px solid #54BF5B !important;
        background: #F5FEF5 !important;
    }

    .arrow {
        font-size: 1.125rem;
        height: 18px;
        width: 16px;
        margin-left: 4px;
    }

    .selected-arrow {
        color: #52bf5a;
    }

}

@media (max-width: 1201px) {
    .sort-div button {
        padding-top: 3px;
    }
}

.coi-admin-dash li a.active {
    color: #007DEC !important;
    font-weight: bold;
    border-bottom: 3px solid #007DEC;
    padding: 7px 6px;
}

.coi-admin-dash li a {
    color: #7c7c7d;
    text-decoration: none;
}

.coi-admin-dash li:focus {
    color: #007DEC !important;
    font-weight: bold;
    border-bottom: 3px solid #007DEC;
    padding: 7px 6px;
}

/* Navbar responsive  hamburger menu */
@media (min-width: 1092.9px) {
    .navbar-toggler {
        display: none;
    }
}

.navbar-toggleable-xs {
    position: relative;
}

.hamburger-display {
    display: none;
}

@media (max-width: 1200px) {
    #declarationNav {
        position: absolute;
        z-index: 99;
        display: none;
        top: 45px;
        left: 15px;
        transition: all 300ms;
    }

    .show {
        display: block !important;
    }

    .menu-responsive {
        position: relative;
        background-color: #2b3244;
        opacity: .95;
        box-shadow: 0px 2px 5px -1px rgba(15, 15, 15, .5803921569);
        padding: 16px 10px 16px 10px;
        border-radius: 4px;
        max-height: 300px;
        overflow: auto;
    }

    .menu-responsive li a {
        color: #fff !important;
        font-weight: 400 !important;
        font-size: 0.875rem !important;
    }

    .separator {
        display: none;
    }

    .active {
        background-color: #545a68;
        border-bottom: none !important;
    }

    .coi-admin-dash li a.active {
        color: #fff !important;
        border-bottom: none !important;
    }

    .hamburger-display {
        display: block;
    }
}
