<span class="{{classesToApply}}">
    <span (click)="valueClicked()" [title]="valueToShow" [class.link-primary]="clickableContent">
        {{(readMore === 'true' ? valueToShow : valueToShow | slice:0:this.sliceCount)}} </span>
    <span class="hand-cursor" *ngIf="valueToShow?.length > this.sliceCount">
        <span *ngIf="readMore === 'false'"> ... </span>
        <span *ngIf="readMore === 'false'" (click)="readMore = 'true'" class="link-primary fs-14 fw-medium"
            [title]="'Click here to Read more'">Read More
        </span>
        <span *ngIf="readMore === 'true'" (click)="readMore = 'false'" class="link-primary ms-1 fs-14 fw-medium">Read Less
        </span>
    </span>
</span>
