.list-arrows button {
    margin-bottom: 20px;
}


/* Prevent the text contents of draggable elements from being selectable. */

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.drop-child {
    width: 100%;
    border-top: 1px solid #e1e1e1;
    background-color: transparent;
    -ms-box-shadow: inset 0 0 3px #000;
    /* text-align: center; */
    /* cursor: move ; */
    margin-bottom: 5px;
    padding: 4px 5px;
}

.drop-child.over {
    border: 2px dashed #26a69a;
}

#drop-container .drop-child:hover {
    -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.4);
    border-top: solid 1px #ccc;
}

.dropHead {
    color: #616161;
    font-size: 1.28rem;
    font-weight: bold;
}

.dropHead-li {
    border-bottom: 2px solid #dee2e6 !important;
    padding: 10px;
}

#drop-container .drop-child:nth-last-child(1) {
    border-bottom: solid 1px #ccc;
}

input[type="checkbox"] {
    margin-top: 8px;
    margin-right: 10px;
}

.btn-sml {
    background: transparent;
    border: solid 1px #26a699;
    width: 40px;
    height: 40px;
    padding: 0 !important;
    border-radius: 50%;
    color: #505050;
    font-size: 1.28rem;
}

.btn-sml:hover span {
    color: #26a69a;
}

#drop-container {
    max-height: 260px;
    overflow: auto;
    height: auto;
}

::-webkit-scrollbar {
    width: .3em;
    height: 3em;
}

 ::-webkit-scrollbar-button {
    display: none;
}

 ::-webkit-scrollbar-track-piece {
    background: #eee
}

 ::-webkit-scrollbar-thumb {
    background: #ccc
}

.list-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: column;
    padding-top: 100px;
}

img {
    vertical-align: baseline;
}

.select-all {
    width: 14px;
    height: 14px;
}

.flex {
    display: flex;
}

.fa-save {
    font-size: 15px;
}

.addBtn {
    color: #aaa !important;
}

.addBtn:hover {
    color: #26a69a !important;
}


/* The custom-checkbox */

.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: -5px;
    left: 23px;
    height: 20px;
    width: 20px;
    background-color: #fefefe;
    border-radius: 3px;
    border: solid 1px #d8d7d7;
}


/* On mouse-over, add a grey background color */

.custom-checkbox:hover input~.checkmark {
    background-color: #fefefe;
    border: 1px solid #26a699;
}


/* When the checkbox is checked, add a blue background */

.custom-checkbox input:checked~.checkmark {
    background-color: #26a699;
    border: none;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.custom-checkbox input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.custom-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.alt-check {
    top: -3px;
    left: 3px;
    height: 18px;
    width: 18px;
}

.alt-check:after {
    left: 6px !important;
    top: 2px !important;
    width: 6px;
    height: 11px;
}

.u-icons .icon {
    border-radius: 50%;
    background: #e9e9e9;
    color: #7a7a7a;
    text-align: center;
    line-height: 10px;
    font-size: 15px;
    cursor: pointer;
    opacity: 0;
    margin-right: 10px;
}

.u-icons .icon:hover {
    color: #26a69a;
}

.drop-child:hover .u-icons .icon {
    opacity: 1;
}

.resultCard>.form-row {
    margin: 0;
    padding: 10px;
    background: #E5F7FB;
}

.scroll {
    min-height: 300px;
    height: auto;
    overflow: auto;
}

table {
    width: 100%;
}

.role-Modal tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.role-Modal thead th {
    height: 40px;
}

.role-Modal tbody {
    overflow-y: scroll;
    max-height: 250px;
    height: auto;
}

.role-Modal tbody td,
.role-Modal thead th {
    width: 50%;
    float: left;
}

.right-not-available {
    font-size: 1.28rem;
    text-align: center;
}

.role-Modal .role-details-header {
    background: #f3f2f2 !important;
}

.role-Modal thead,
.role-Modal tbody,
.role-Modal tr,
.role-Modal td,
.role-Modal th {
    display: block;
}

.elstic-srch-heading {
    font-size: 1.36rem;
    margin-top: 5px;
    margin-left: 5px;
}

.scroll-table {
    overflow-y: scroll;
    height: 400px;
    float: left;
    width: 100%;
}

.imge-display {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

ul.sb-results-dropdown-menu {
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: scroll;
    background: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    border: none;
    -webkit-box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.36);
}

.rm-sync {
    margin: 0 auto;
    display: inherit;
    color: #26a699;
}
