.border-left {
    border-left: 2px solid #dee2e6 !important;
}



.score-box {
    background: rgb(32, 88, 160);
}

.score-label {
    background: rgba(219, 231, 245, 0.95);
}

.score-text {
    font-size: 1.25rem;
    padding-bottom: 0.3125rem;
}

.score-container p {
    margin-bottom: 0.3125rem;
}


.scoring-user i {
    color: #2058a0;
}

.scoring-row .card {
    border: 1px dotted #ebedf2;
}



.btn-budget-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    height: 1.75rem;
}

.btn-budget-transparent {
    background: transparent;
    color: #404040 !important;
    border-left: 1px solid #ccc;
}

.btn-budget-transparent:hover {
    background-color: #e4eeff;
}

.btn-budget-transparent:first-of-type {
    border-left: none;
}

.font-color {
    color: #2058a0 !important;
}

.comment-icon {
    left: 15px !important;
    top: 24px !important;
    opacity: .4;
    font-size: 11px;
}

.comment-inner-body {
    background-color: #f1f1f1;
    padding: 8px 17px;
    margin-top: 4px;
    border-radius: 5px;
}

.comment-icon {
    opacity: .4;
    font-size: 11px;
}

.comment-message {
    display: flex;
    flex-flow: row nowrap;
}

.comment-message-body {
    flex: 1;
}

.comment-inner-head {
    display: flex;
    justify-content: space-between;
}

.bg-color-cmnt {
    background-color: #effafb;
    border: solid 1px #dff5f9;
}

.table-scroll {
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.rounded-icon {
    width: 28px;
    height: 28px;
    background-color: rgba(44, 119, 244, .1);
    border-radius: 50% !important;
    text-align: center;
    line-height: 30px;
}

.out-line {
    position: absolute;
    right: 45px
}

.stop-number {
    display: inline-block;
    width: 30px;
    background-color: #1e847b;
    text-align: center;
    height: 30px;
    color: white;
    border-radius: 50%;
}

.stop-header {
    background-color: #f5f3f382;
    border-radius: 3px;
}



.alternate-approver-connection {
    position: absolute;
    left: -36px;
    z-index: 1;
    display: inline-block;
    width: 10px;
    text-align: center;
    height: 10px;
    border-radius: 50%;
    background-color: #e3dede;
    bottom: 6px;
}

.primary-approver-icon {
    display: inline-block;
    width: 25px;
    text-align: center;
    height: 25px;
    border-radius: 50%;
    background-color: #1e847b;
    color: white;
    margin-left: 2px;
}

.alternate-approver-icon {
    display: inline-block;
    width: 20px;
    text-align: center;
    height: 20px;
    border-radius: 50%;
    background-color: #e3dede;
    color: #000000b0;
}

.alternate-approver-card {
    position: relative;
    top: 6px;
    margin-left: 30px
}

.alternate-approver-branch ::after {
    content: "";
    position: absolute;
    border: dashed 0.05px rgb(162, 158, 158);
    width: 1.875rem;
    top: 50%;
    left: -1.875rem;
}

.approved-border {
    border: dashed 0.05px #22ae18;
}

.map-status-pending-icon {
    width: 30px;
    height: 30px;
    background-image: url(../../../assets/images/pending-map.svg);
    background-repeat:no-repeat;
}


.pending-text {
    color: #945605;
}

.badge-secondary {
    color: #292929 !important;
    background-color: #dfdfdf;
}

.badge-secondary:hover{
    color: #292929 !important;
    background-color: #dfdfdf;
}

::ng-deep .popContainer {
    font-size: 0.875rem;
    width: 9.375rem;
  } 

  ::ng-deep .comment-user {
    font-weight: 600;
  }

  .comment-box {
    border-radius: 10px;
    max-width: 90%;
    background-color: whitesmoke;
    min-width: fit-content;
  }


  .fileChip-temp{
    background: #dedede;
    padding: 3px 8px 3px 3px;
    border-radius: 11px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 0.75rem;
  }


  .map-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 9.375rem;
  }


  .person-badge {
    border-radius: 5px;
    padding: 0rem 0.1953125rem;
    font-size: 0.75rem !important;
    font-weight: 700;
  }

  .adhoc-badge {
    border-color: #ffefdb;
    background-color: #ffefdb;
    color: #945605;
}

.person-card {
    border-left: 2px solid #1e847b;
}

.action-comment-input {
    min-height: 6.25rem;
}



.bypass-badge {
    color: #67389d;
    background-color: #f7f1ff;
    border: solid 1px #ebe0f7;
}

.withdrawn-badge {
    color: #5d7af8;
    border: solid 1px #dae0ff;
    background-color: #ecefff;
}

.approved-badge {
    color: #22ae18;
    background-color: #e6ffe5;
    border: solid 1px #b7f8b3;
}

.waiting-badge {
    background-color: #fff9dd;
    color: #945605;
    border: solid 1px #ffeeaa;
}

.to-be-submitted-badge {
    background-color: #f4f8fe;
    color: #2c77f4;
    border: solid 1px #d0e2ff;
}

.rejected-badge {
    background-color: #fff3f3;
    color: #c40808;
    border: solid 1px #ffd2d2;
}

.ignored-badge {
    background-color: whitesmoke;
    color: gray;
    border: solid 1px #ffeeaa;
}

.deactivate-badge {
    background-color: #ffe5df;
    color: #bc2504;
    border: solid 1px #ffc2b4;
}

.status-border {
    border-width: 1px;
    border-style: solid;
}


.container-text {
    max-width: 100%; /* Adjust the maximum width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: clamp(100px, 50%, 300px); /* Adjust the min, preferred, and max width as needed */
  }

@media (min-width: 768px) { 
    .vertical-line-top {
        position: relative;
    }
    
    .vertical-line-top::before {
        content: "";
        position: absolute;
        border: solid 1px rgb(204 204 204);;
        height: calc(50% + 10px);
        top: -14px;
        left: -15rem;
    }
    
    .vertical-line-bottom {
        position: relative;
    }
    
    .vertical-line-bottom::after {
        content: "";
        position: absolute;
        border: solid 1px rgb(204 204 204);;
        height: calc(50% + 10px);
        bottom: -14px;
        left: -15rem;
    }

    .primary-approver-card {
        margin-left: 14.2rem;
        background-color: #f7f7f759;
        border-radius: 3px;
        gap: 0.625rem;
    }

    .approvers-list {
        margin-left: 1.875rem;
    }

    .status-indicator {
        position: absolute;
        left: -260px;
        top: calc(50% - 21.22px);
        border-radius: 50px;
        z-index: 1;
    }

 
    
    .tree-mode::after {
        content: "";
        position: absolute;
        border: dashed 0.5px rgb(162, 158, 158);
        width: 58px;
        top: 50%;
        left: 12.5rem;
        z-index: 0;
    }

}


@media (min-width: 992px) {
    .vertical-line-top {
        position: relative;
    }
    
    .vertical-line-top::before {
        content: "";
        position: absolute;
        border: solid 1px rgb(204 204 204);;
        height: calc(50% + 10px);
        top: -14px;
        left: -18.75rem;
    }
    
    .vertical-line-bottom {
        position: relative;
    }
    
    .vertical-line-bottom::after {
        content: "";
        position: absolute;
        border: solid 1px rgb(204 204 204);;
        height: calc(50% + 10px);
        bottom: -14px;
        left: -18.75rem;
    }

.primary-approver-card {
    margin-left: 17.8125rem;
    background-color: #f7f7f759;
    border-radius: 3px;
}

.approvers-list {
    margin-left: 4.375rem;
}

.status-indicator {
    position: absolute;
    left: -323px;
    top: calc(50% - 21.22px);
    border-radius: 50px;
    z-index: 1;
}



.tree-mode::after {
    content: "";
    position: absolute;
    border: dashed 0.5px rgb(162, 158, 158);
    width: 119px;
    top: 50%;
    left: 12.5rem;
    z-index: 0;
}

}

.action-button {
    border-radius: 3px;
    width: 12.5rem;
}

 .right-arrow {
    height: 2.9375rem;
    width: 2.9375rem;
    border-style: solid;
    border-top: 1px;
    border-right: 1px;
    border-width: 2px;
    border-color: #e3e2e2;
    transform: rotate(225deg);
    position: absolute;
    right: -25px;
    top: 6px;
    z-index: 1;
 }

 .completed-map {
    background-color: #e6ffe5;
}

.all-maps{
    width: 18rem;
    height: 3.4rem;
    box-sizing: content-box;
  }

.selected-map {
    border-bottom: 4px solid #1e847b;
}

.map-marker {
    height: 6px;
    width: 280px;
    position: absolute;
    bottom: -7px;
    left: -1px;
}

.map-options {
    cursor: pointer;
    border-bottom: 4px solid #e3e7e378;
}

.map-options:hover {
    border-bottom: 4px solid #1e847b;
}

.selected-map-header {
    height: 50px;
    background-color: #e4f4ffb0;
    border-radius: 3px;
}

.animate-tree {
    animation-name: ease-in;
    animation-duration: 300ms;
  }
  
  @keyframes ease-in {
    from {
        transform: translateY(50px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
  }

  .map-list {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
  }

  .comment-quote {
    color: #616161;
  }

  .version-input {
    width: 6.875rem;
    background-color: rgba(44, 119, 244, .1);
    color: #2c77f4 !important;
    appearance: none;
  }


  .version-container::after {
    content: "";
    height: 0.625rem;
    width: 0.625rem;
    border-style: solid;
    border-top: 8px;
    border-right: 2px;
    border-width: 3px;
    border-color: #2c77f4;
    transform: rotate(315deg);
    position: relative;
    right: 19px;
    top: -2px;
    z-index: 1;
  }

  .show>.btn-secondary.dropdown-toggle {
    border-color: #1e847b;
    background-color: #1e847b;
    color: white !important;
}

.btn-tertiary {
    font-weight: 600;
    margin-top: 0px;
    letter-spacing: normal;
    cursor: pointer;
    background-color: rgba(44,119,244,.1);
    color: #2c77f4 !important;
    font-size: 14px;
    min-width: 5em;
    font-weight: 600;
    letter-spacing: normal;
    cursor: pointer;
    background-color: rgba(44, 119, 244, .1);
    color: #2c77f4 !important;
}

.btn-tertiary:hover {
    background-color: rgba(44, 119, 244, .27);
    color: #043e9e !important;
}


/* missing fibi css */

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    z-index: 1;
}

.tooltip .tooltiptext-right {
    visibility: hidden;
    width: 250px;
    background-color: #424242;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    margin-left: 10px;
    position: absolute;
    z-index: 1;
    top: -8px;
    right: 105%;
}

.tooltip:hover .tooltiptext-right {
	visibility: visible;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-box-shadow: 0 8px 15px 0 #3e396b33;
	box-shadow: 0 8px 15px 0 #3e396b33;
}

.tooltip:hover .fa-med {
	color: #989595;
}

.form-row {
    margin-bottom: .5rem;
}

.form-row label {
    margin: 0 !important;
}

label, .font-cv {
    font-size: 0.875rem;
}

.mandatory {
    padding-right: 4px;
}

.btn-small {
    height: 30px;
}

.primary-approver-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.person-card {
    font-size: 0.75rem;
    border: none;
    row-gap: .5rem;
    box-shadow: var(--bs-box-shadow-sm) !important;
    background-color: var(--theme-box-red-bg-color) !important;
    border: 1px dashed rgba(var(--bs-secondary-rgb), 0.5) !important;
    border-radius: 0.5rem;    
}

.person-card label {
    color: var(--theme-text-gray-800) !important;
    font-size: var(--theme-font-size);
    font-weight: 600;
}

.person-card span {
    color: var(--theme-text-gray-700) !important;
    font-size: var(--theme-font-size);
    font-weight: 400;
}

.fa-large, .fa-med {
    font-size: 1rem;
}
