.widget-body {
    background: #FFF;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    width: 100%;
}

.inner-scroll {
    max-height: 53vh;
    min-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.searchButton {
    right: 31px !important;
    top: 18px !important;
}
.list-style {
    list-style: none;
}
.check-width {
    width: 15px;
    height: 15px;
}
.section-body ul li {
    list-style: none;
    font-size: 1.3rem;
    padding: 3px 5px;
}

.section-body ul li:hover {
    color: #3b80f4;
    background: #ecf3ff;
    cursor: pointer;
}

.section-body ul li:nth-last-child(1) {
    margin-bottom: 0;
}

.section-body {
    background: #FFF;
    z-index: 9;
    height: auto;
    width: 100%;
    padding: 8px 8px;
}

.section-body li i {
    opacity: 0;
}

.section-body li:hover i {
    opacity: 1;
}
