.travel-engagements {
    height: 30px;
    display: flex;
}

.comment-count-icon-sfi {
    width: 17px;
    height: 17px;
    color: white;
    margin-left: 28px;
    border-radius: 6px;
    margin-bottom: 11px;
}

.comment-count-icon-large-sfi {
    color: white;
    margin-left: 30px;
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 11px;
}

.sfi-comments-btn {
    min-width: 136px;
}
