#COI_DEFINE_RELATIONSHIP_NAV_CARD {
    min-height: 100%;
}

#COI_DEFINE_RELATIONSHIP_NAV_BODY {
    margin-left: -1rem;
}

@media (min-width: 1400px) {
    #COI_DEFINE_RELATIONSHIP_NAV_HEADER {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -1rem;
            width: 1rem;
            height: 100%;
            background-color: var(--theme-body-bg-color);
        }
    }
}

.searchButton {
    left: 10px;
    position: absolute;
}

.closeButton {
    position: absolute;
    right: 10px;
}

.filterButton {
    background-color: #EDEDED;
    border: 1px solid #E1E1E1;
}

.p-x-2rem {
    padding-right: 2rem !important;
    padding-left: 2rem !important;

}

.start-6px {
    left: 6px;
}

.end-8px {
    right: 8px;
}

.card-body {
    padding: 0 !important;
}

.conflict-count-width {
    width: 25px;
}

.light-color {
    color: #a8a1a1;
}

.scrollspy-section-activate a,
.coi-active-scrollspy a {
    background-color: #fff8dd !important;
}

.coi-rel-switch-container {
    position: relative;
    border-radius: 10px;
    background-color: #f4f4f4;
    border: 1px solid #e9e9e9;
    box-shadow: var(--theme-card-box-shadow);
    
    .coi-rel-switch-btn {
        z-index: 1;
        padding: 13px 10px;
        color: black;
    }

    .coi-rel-switch-active-btn {
        z-index: 1;
        color: white;
    }

    &.coi-rel-switch-left-active::after,
    &.coi-rel-switch-right-active::after {
        content: '';
        position: absolute;
        width: 45%;
        height: 36px;
        border-radius: 10px;
        background-color: #007dec;
        transition: all .1s ease-in-out;
        box-shadow: var(--bs-box-shadow-sm) !important;
    }

    &.coi-rel-switch-left-active::after {
        left: 2%;
    }

    &.coi-rel-switch-right-active::after {
        left: 53%;
    }

}
