.filter-pills {
    &.active {
        background-color: #DFDFDF;
        font-weight: 600;
    }
}

@media (max-width:1199px) {
    .custom-border-top {
        border-left: 0 !important;
        border-top: solid 1px #dbdfe9;
    }
}
