.invoice-table thead th {
    vertical-align: top;
    border-right: solid 1px #fff !important;
}

.invoice-table-inner td {
    border-bottom: 1px solid #ced4da;
}

.light-border td {
    border-color: #0000000d;
}

.dark-border-top td {
    border-top: 1px solid #ced4da;
}

.inner-box-shadow {
    -webkit-box-shadow: inset 0 0 10px #8686864a;
    box-shadow: inset 0 0 10px #8686864a;
}

.bg-selected {
    background: #dff5f978;
}

.hover-action:hover {
    background: #b9d3ff3b !important;
}

.default-height {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: .5em;
    height: 3em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}
.not-allowed {
    cursor: not-allowed !important;
}
.check-size {
    transform: scale(1.2);
}
