.coi-card-regular {
    margin-top: 0;
    border: none !important;
    box-shadow: none;

    .card-body {
        padding-bottom: .5rem !important;
    }

    .card-body-py-2 {
        padding-bottom: .25rem !important;
        padding-top: .25rem !important;
    }
}

.comment-count-icon,
.comment-count-icon-large {
    top: -5px;
    right: -5px;
    width: 16px;
    height: 16px;
    margin-left: 0;
}

.coi-me-n-10px {
    margin-right: -10px;
}
