.clickable:hover{
    color: #0D6EFD;
    text-decoration: underline;
    cursor: pointer;
}
.fixed-header-table {
    max-height: 400px;
    height: auto;
    overflow-x: scroll;
}
.fixed-header-table thead th {
    position: sticky;
    top: 0;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table-bordered {
    border: 0px solid #dee2e6;;
}
::-webkit-scrollbar {
    width: .4em;
    height: .4em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}
