.table-responsive {
    overflow: auto !important;
    scroll-behavior: auto;

    .sticky-top {
        top: -1px;
    }
}

@media (max-height: 500px) {
    .table-responsive {
        max-height: 35vh;
    }
}

@media (min-height: 501px) {
    .table-responsive {
        max-height: 50vh;
    }
}
