.border-dotted {
    border-style: dotted !important;
}

.banner-text-color {
    color: #673e21;
}

.sticky-top-51 {
    top: 51px;
    position: sticky;
    z-index: 2;
}

.coi-engagements-list {
    background-color: #fff;

    .coi-engagements-list-header {
        border-bottom: 2px solid #ebebeb;
    }
}

@media (max-width: 991.98px) {
  .responsive-border {
    border-left: none !important;
  }
}
