.img-size {
    width: 300px;
}

.gray-text {
    color: #9e9d9d;
}

.bright-85 {
    filter: brightness(85%);
}

.relative-top {
    position: relative;
    top: -60px;
}

.button-position-45 {
    top: -45px;
}

.height-fill {
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
}
