.common-action-dropdown-item {
    min-width: 250px;
}

.common-action-dropdown-badge {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 5px;
    background-color: #7f7b7b;
}

.coi-action-dropdown-icon {
    transition: transform 0.3s ease-in-out;
}
