.vertical-middle {
    vertical-align: middle;
}

.date-width {
    width: 135px;
}

td {
    white-space: nowrap;
}

.action-width {
    width: 1px;
    white-space: nowrap;
}

.cursor-normal {
    cursor: default;
}

.table-validation-msg {
    position: absolute;
    width: 100%;
    box-sizing: content-box;
    background: #ffeded;
    border-radius: 4px;
    left: -10px;
    z-index: 100;
    padding: 2px 10px;
}

.fileChipsView span {
    background: #dedede;
    padding: 3px 8px 3px 3px;
    border-radius: 11px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 1.2rem;
}

.btn-outline-danger,
.btn-outline-secondary {
    padding: 0.3rem .75rem;
    font-size: 1.3rem;
    height: 27px;
}

.confirmation {
    display: none;
}

.flip-top {
    animation-name: flipFromTop;
    animation-duration: .7s;
}

.flip-bottom {
    animation-name: flipFromBottom;
    animation-duration: .7s;
}

@keyframes flipFromBottom {
    0% {
        opacity: 0;
        transform-style: preserve-3d;
        transform: rotateX(90deg);
    }

    100% {
        opacity: 1;
        transform-style: preserve-3d;
        transform: rotateX(0deg);
    }
}

@keyframes flipFromTop {
    0% {
        opacity: 0;
        transform-style: preserve-3d;
        transform: rotateX(-90deg);
    }

    100% {
        opacity: 1;
        transform-style: preserve-3d;
        transform: rotateX(0deg);
    }
}

.entity-status {
    display: block;
    border-radius: 0px 50px 50px 0;
    font-size: 14px;
    font-weight: 600;
    padding: 2px 9px;
    position: relative;
    left: -13px;
    top: -8px;
    min-width: 90px;
    text-align: center;
}

.adhoc-status {
    display: block;
    border-radius: 50px 50px 50px 50px;
    font-size: 14px;
    font-weight: 600;
    padding: 2px 9px;
    width: 66px;
    text-align: center;
    background-color: #fff2eb;
    color: #d74e14;
}

.approved-status {
    color: #009646;
    background-color: #bdffdc;
}

.inProgress-status {
    color: #069d98;
    background-color: #bdfffd;
}

.pending-status {
    color: #a38617;
    background-color: #ffefbd;
}

.action-button-width {
    width: 123px;
}

.data-exist {
    color: #48647f;
    font-weight: 500;
    font-size: 1.4rem;
}

.noDataExists {
    color: #9e9e9e !important;
    font-weight: 500;
    font-size: 1.4rem;
}

.comment-overflow {
    overflow: hidden;
    text-overflow: ellipsis; 
  }
