.dock-box {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -10%);
    margin: 0 auto;
    width: 320px;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.26);
    z-index: 100;
    border-radius: 10px;
}

.card-header {
    background-color: #007dec;
    color: white;
}

.arrow-btn {
    font-size: 0.9375rem;
    border-left: solid 1px;
    color: white;
    padding: .8rem 1rem;
    height: 100%;
    cursor: pointer !important;
}

.arrow-btn:hover {
    background-color: #0a58ca;
}

.text-warning {
    color: #997404 !important;
}

.alert-text:hover {
    text-decoration: underline !important;
}

.modal-body {
    max-height: 500px;
    overflow-y: auto;
}

.validation-list {
    width: 320px;
    height: 450px;
    position: fixed;
    right: 67px;
    bottom: 30px;
    z-index: 1000;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.border-radius {
    border-radius: 10px;
}

.error-highlight-card {
    border: 1px solid red !important;
    box-shadow: 4px 4px 4px #efa6a6;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: 100;
}

.warning-highlight-card {
    border: 1px solid #ffc107 !important;
    box-shadow: 4px 4px 4px #efe2a6;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: 100;
}

.corner-radius:hover {
    border-radius: 0 10px 10px 0;
}

.fb-validator-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Parent error */
.fb-validator-list-parent {
    background-color: #f8d7da;
    border-left: 4px solid #d9534f;
    z-index: 5;
}

/* Children container (with vertical line) */
.fb-validator-child-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 30px;
}

/* Child alert */
.fb-validator-list-child {
    background-color: #fcebea;
    border: 1px dashed #d9534f;
    margin: 6px 0;
    padding: 8px 12px;
    position: relative;
}

.fb-validator-list-child::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -15px;
    width: 1px;
    height: calc(100% + 20px);
    background: #d3d3d3;
}

.fb-validator-list-child::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    width: 20px;
    height: 1px;
    z-index: -1;
    background: #d3d3d3;
}

.fb-validator-list-child:last-child::before {
    height: calc(50% + 20px);
}
