<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">{{excludedTransaction?.invoiceDate | dateFormatter}}
</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">{{excludedTransaction?.budgetApprovalDate}}</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">{{excludedTransaction?.documentNumber}}</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">{{excludedTransaction?.postingDate | dateFormatter}}
</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">{{excludedTransaction?.paymentDate | dateFormatter}}
</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag"
    *ngIf="category?.budgetCategory?.code =='OOE' || category?.budgetCategory?.code =='MAC' ||category?.budgetCategory?.code =='EQT'"
    scope="col">
    <span class="text-right">{{excludedTransaction?.deliveryDate}}
    </span>
</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">{{excludedTransaction?.vendorName}}</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag" *ngIf="category?.budgetCategory?.code =='EOM'">
    {{excludedTransaction?.expenseCode}}</td>

<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">{{excludedTransaction?.descriptionOfExpenditure}}</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag" *ngIf="category?.budgetCategory?.code =='EOM'
|| category?.budgetCategory?.code =='RSS'">{{excludedTransaction?.involvementPeriod}}</td>

<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">{{excludedTransaction?.orginalLineItemDescription}}</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag" *ngIf="category?.budgetCategory?.code =='OOE' || category?.budgetCategory?.code =='MAC'
                                            ||category?.budgetCategory?.code =='EQT'">
    <span>{{excludedTransaction?.descriptionOfEquipment}}
    </span>
</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag"
    *ngIf="category?.budgetCategory?.code =='OOE' || category?.budgetCategory?.code =='MAC'
                                            ||category?.budgetCategory?.code =='EQT'">
    <span>{{excludedTransaction?.unitPrice | currency: _commonService.currencyFormat}}
    </span>
</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag"
    *ngIf="category?.budgetCategory?.code =='OOE' || category?.budgetCategory?.code =='OST'">
    {{excludedTransaction?.country}}
</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag" *ngIf="category?.budgetCategory?.code =='OST'">
    {{excludedTransaction?.city}}</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag" *ngIf="category?.budgetCategory?.code =='OST'">
    {{excludedTransaction?.organizationOrConferenceName}}</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag"  *ngIf="category?.budgetCategory?.code =='OST'">{{excludedTransaction?.colaRatePerDay}}</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag"
    *ngIf="category?.budgetCategory?.code =='OOE' || category?.budgetCategory?.code =='OST'">
    {{excludedTransaction?.travelType}}
</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag"
    *ngIf="category?.budgetCategory?.code =='OOE' || category?.budgetCategory?.code =='OST'">
    {{excludedTransaction?.periodOfVisit}}
</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag"
    *ngIf="category?.budgetCategory?.code =='OOE' || category?.budgetCategory?.code =='OST'">
    {{excludedTransaction?.numberOfDaysOfVisit}}
</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag"
    *ngIf="category?.budgetCategory?.code =='OOE' || category?.budgetCategory?.code =='OST'">
    {{excludedTransaction?.periodOfOfficialVisit}}</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag"
    *ngIf="category?.budgetCategory?.code =='OOE' || category?.budgetCategory?.code =='OST'">
    {{excludedTransaction?.numberOfDaysOfOfficialVisit}}</td>
<!-- <td class="text-right" [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag"
    *ngIf="category?.budgetCategory?.code =='OOE' || category?.budgetCategory?.code =='OST'">
    {{excludedTransaction?.airFareAmount| currency: _commonService.currencyFormat}}
</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag"
 *ngIf="category?.budgetCategory?.code =='OOE'">{{excludedTransaction?.localClaimReimbursment}}</td>

<td class="text-right" [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag"
    *ngIf="category?.budgetCategory?.code =='OOE' || category?.budgetCategory?.code =='OST'">
    {{excludedTransaction?.otherExpenseAmount| currency: _commonService.currencyFormat}}
</td> -->
<td class="text-right" [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag"
    *ngIf="category?.budgetCategory?.code =='OOE' || category?.budgetCategory?.code =='OST'">
    {{excludedTransaction?.tripTotalCost| currency: _commonService.currencyFormat}}
</td>
<td class="text-right" [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">{{excludedTransaction?.expenseCaped |
    currency: _commonService.currencyFormat}}</td>
<td class="text-right" [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">{{excludedTransaction?.qualifyingCost
    | currency: _commonService.currencyFormat}}</td>
<!-- <td class="text-right" [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">
    {{excludedTransaction?.levelOfSupportPercentage}}</td> -->
<td class="text-right" [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">{{excludedTransaction?.totalAmount |
    currency: _commonService.currencyFormat}}</td>
<td class="text-right" [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">{{excludedTransaction?.adjustedTotal
    | currency: _commonService.currencyFormat}}
</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag" *ngIf="isEditMode">
    <a *ngIf="!excludedTransaction?.isExcludedFlag">
        <label class="switch toggle-inactive">
            <input (click)="excludedTransaction.isExcludedFlag = true ;toggleExclude(excludedTransaction)"
                type="checkbox">
            <span class="slider round"><small class="deactivate-text">No</small></span>
        </label>
    </a>
    <a *ngIf="excludedTransaction?.isExcludedFlag">
        <label class="switch toggle-active">
            <input (click)="excludedTransaction.isExcludedFlag = false;toggleExclude(excludedTransaction)" checked
                type="checkbox">
            <span class="slider round"><small>Yes</small></span>
        </label>
    </a>
</td>
<td [class.exclude-bckgnd]="excludedTransaction.isExcludedFlag">
    <ul class="actionButtonGroup icon">
        <li>
            <a title="comments">
                <i (click)="excludedTransaction.isCommentEnable = !excludedTransaction.isCommentEnable"
                    aria-hidden="true" class="fa fa-commenting-o hand-cursor" [class.red-notification]="excludedTransaction?.description?.trim()?.length > 0"></i>
            </a>
        </li>
    </ul>
</td>
