.advance-search-area {
  display: flex;
  align-items: center;
  min-height: 45px;
  input {
    background-color: #F5F5F5;
  }
  label {
    position: absolute;
    color: #747474;
    display: flex;
    align-items: center;
  }
  span:not(:first-child) {
    padding: 6px 20px !important;
  }
}

.filter-active {
  border: 2px solid #54BF5B !important;
  background: #F5FEF5 !important;
}

.relationship-pill {
  background-color: #F5F7F9;
}

.active-ribbon {
  color: white;
  width: 80px;
  height: 27px;
  background: #54BF5B;
  position: relative;
  left: -7px;
  top: 3px;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0 50px 50px 0;

  &:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 6px solid #01830A;
    border-left: 6px solid transparent;
    top: -6px;
    left: 0;
  }
}

.inactive-ribbon {
  color: black;
  width: 80px;
  height: 27px;
  background: #DBDBDB;
  position: relative;
  left: -7px;
  top: 3px;
  top: -4px;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0 50px 50px 0;

  &:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 6px solid #949494;
    border-left: 6px solid transparent;
    top: -6px;
    left: 0;
  }
}

.entity-title {
  margin-top: -4px;
  margin-bottom: 0;
}

.advance-search-input {
  width: 100%;
  height: 43px;
}

.r-title {
  display: inline-block;
  text-transform: lowercase;
}

.r-title::first-letter {
  text-transform: uppercase;
}
.slider-base {
  position: fixed;
  z-index: 51;
  top: 0;
  right: -83%;
  width: 80%;
  height: 100%;
  padding-left: 0;
  background-color: #ffecec85;
  box-shadow: -1px 0px 6px 1px rgba(0, 0, 0, 0.12);
  transition: right 600ms cubic-bezier(.42, .8, .67, 1.06);
}

.slider-opened {
  right: 0 !important;
}

.slider-container {
  background-color: #fff;
  height: 100vh;
  padding: 0px 10px 10px 10px;
  overflow-y: scroll;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(74 74 74 / 32%);
  z-index: 50;
}

.searchButton {
  left:10px;
  position: absolute;
  top: 10px;
  color: #9E9E9E;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  right: 10px;
  color: #48647f;
  cursor: pointer;
}

.fs-25px {
font-size: 25px;
}

.pl-28 {
padding-left: 28px;
}

.search-area:hover {
background-color: white !important;
}

.mr-025 {
  margin-right: 0.25rem;
}

.pi-info-text {
  background-color: #F3F3F3;
  color: #41464B;
}

.create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 218px;
  font-weight: 500;
  font-size: 0.9375rem;
}
.searchButton:hover{
  color: #0a58ca !important;
}
.sticky-top-51{
  top: 51px;
  z-index: 2;
}
