<div class="stick-note" *ngIf="showCommentBox" appClickNdrag>
    <div class="sticky-header">
        {{headerSection}} <i class="fa fa-times float-right m-1" aria-hidden="true" (click)="showCommentBox = false; onClose.emit(false)"></i>
    </div>
    <div class="sticky-body">
        <div class="card-body p-2">
            <div class="form-row">
                <div class="form-group col">
                    <h4 class="font-weight-bold text-center">
                        <ng-container>{{StickyNoteContents.content != null ? StickyNoteContents.contentHeader : StickyNoteContents.noContentMessage}}</ng-container>
                        <div *ngIf="(copyPlaceholderMessage != null)" class="mt-3 copy-notify txt-medium">{{copyPlaceholderMessage}}</div>
                    </h4>
                    <p *ngIf = "(StickyNoteContents.content != null)" (click)="copyMessage($event)" class="txt-medium mt-3 font-weight-normal ml-1" [innerHTML]="StickyNoteContents.content"></p>
                </div>
            </div>
        </div>
     </div>
</div>
