@media (max-width: 575.98px) {
    .btn-xs {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }
}
.form-row>div {
    margin-bottom: 1.4rem;
}
.gridSkin {
    background-color: #f1f5f8;
}