.user-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(240, 239, 239, 0.74);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #afafb1;
}

.back-btn-header {
    top: 50px;
}

.btn-head {
    position: fixed;
    margin-right: 10px;
}

.tab-section {
    display: inline-block;
    width: 100%;
}

.reviewer-name {
    margin-top: 10px;
}

.main-header {
    min-height: 40px;
}

.d-table {
    display: table;
}

.d-table-cell {
    display: table-cell;
}

.w-100 {
    width: 100%;
}

.tar {
    /* text-align: right; */
    float: right;
}

.hide-overflow {
    overflow: hidden;
}

.btn-align {
    top: 20px !important;
}

.header-text {
    color: #48647f;
}

.header-label {
    color: #333;
}
