.active{
    background-color: #82e4f5 !important;
    font-weight: bold !important;
}

.position-background {
    background-color: #dff5f9;
}

.dropdown-menu {
    padding: 1rem;
    font-size: 1.4rem;
    width: 350px;
    box-shadow: 0 0 14px -1px #66666685;
 }

.scrollable-table {
    max-height: 35vh;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.scrollable-table thead th {
    position: sticky;
    top: 0;
    cursor: auto;
}

::-webkit-scrollbar {
    width: .4em;
    height: 3em;
}

 ::-webkit-scrollbar-button {
    display: none;
}

 ::-webkit-scrollbar-track-piece {
    background: #eee
}

 ::-webkit-scrollbar-thumb {
    background: #ccc
}

.focused-row {
    background-color: #f5f5f5;
  } 

