<!-- Last updated by Krishnanunni on 29-01-2020 -->
<div class="push4slideMenu pageMinHeight">
    <div class="container-fluid pushFixedHeaderFooter">
        <div class="headerPush"></div>
        <span *ngIf="!_personService.isPersonEditOrView">
            <div class="card mb-15 mt-3 card-table-box rounded-0" *ngIf="isShowAdvanceSearch">
                <div class="card-content">
                    <div class="card-header px-3 py-2">
                        <h4 class="card-title align-items-center card-title d-flex">
                            <span>Person Maintenance</span>
                            <a *ngIf="isMaintainPerson" title="Add New Person" class="btn btn-primary ml-auto mt-0 mr-3" id="create-proposal-btn"
                                [routerLink]="['/fibi/person/person-details']" queryParamsHandling='merge'
                                (click)="_personService.isPersonEdit = true">
                                Create New Person
                            </a>
                            <a class="tooltip-helptext"><i class="fa fa-info-circle ct-icon-right float-right hand-cursor ml-2" aria-hidden="true"
                            (click)="helpInfo = !helpInfo"></i></a>
                            
                        </h4>
                    </div>

                    <div *ngIf="helpInfo" class="mx-4 mt-3">
                        <div class="col-12">
                            <div class="p-2 row success-banner">
                                <div class="col-auto pl-2 pr-3">
                                    <i  aria-hidden="true" class="fa fa-info-circle mr-1 info-icon"></i>
                                </div>
                                <div class="col px-0"><em >This module lists the details of the searched person.
                                 A new person can be created and also able to modify the details of an existing person. 
                                 It allows the Delegation functionality where a person can delegate his / her work to another person. 
                                 This manages the Orcid module as well.</em>
                                </div>
                                <div class="col-auto pr-2">
                                    <button  aria-label="Close" class="close close-button " data-dismiss="modal"
                                        id="modal-close" type="button" (click)="helpInfo = false">
                                        <span  aria-hidden="true" class="d-block">×</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <!-- elastic search components -->
                        <div class="form-row justify-content-center">
                            <div class="col-6 searchBox">
                                <app-elastic [options]="elasticSearchOptions" [placeHolder]="'Search: Persons'"
                                    [clearField]="clearField" (selectedResult)="selectUserElasticResult($event)">
                                </app-elastic>
                            </div>
                            <div class="col-auto">
                                <a id="show-advcance-search-person" href="#collapsePerson"
                                    class="btn btn-sm btn-tertiary float-right mt-0"
                                    (click)="clear();isPersonEdit = false;isPersonView = false;" data-toggle="collapse"
                                    role="button" aria-expanded="false" aria-controls="collapsePerson">
                                    <i class="fa fa-sliders" aria-hidden="true"></i> Advanced Search
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- advance search options -->
                    <div class="row">
                        <div class="collapse w-100" id="collapsePerson">
                            <div class="form-group col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="form-group col-md-3 col-sm-6 col-12">
                                                <input type="text" id="adv-search-person-personId"
                                                    placeholder="Person Id" maxlength="60"
                                                    [(ngModel)]="personRequestObject.property11"
                                                    class="form-group form-control" (keyup.Enter)="loadPersonList()" />
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-12">
                                                <input type="text" id="adv-search-person-firstname"
                                                    placeholder="First Name" maxlength="60"
                                                    [(ngModel)]="personRequestObject.property1"
                                                    class="form-group form-control" (keyup.Enter)="loadPersonList()" />
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-12">
                                                <input type="text" id="adv-search-person-lastname"
                                                    placeholder="Last Name" maxlength="60"
                                                    [(ngModel)]="personRequestObject.property2"
                                                    class="form-group form-control" (keyup.Enter)="loadPersonList()" />
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-12">
                                                <input type="text" id="adv-search-person-middlename"
                                                    placeholder="Middle Name" maxlength="60"
                                                    [(ngModel)]="personRequestObject.property3"
                                                    class="form-group form-control" (keyup.Enter)="loadPersonList()" />
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-12">
                                                <input type="text" id="adv-search-rolodex-fullName"
                                                    placeholder="Full Name" maxlength="60"
                                                    [(ngModel)]="personRequestObject.property10" class="form-control"
                                                    (keyup.Enter)="loadPersonList()" />
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-12">
                                                <input type="text" id="adv-search-person-username"
                                                    placeholder="User Name" maxlength="60"
                                                    [(ngModel)]="personRequestObject.property4"
                                                    class="form-group form-control" (keyup.Enter)="loadPersonList()" />
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-12">
                                                <input type="text" id="adv-search-person-email"
                                                    placeholder="Email Address" maxlength="60"
                                                    [(ngModel)]="personRequestObject.property5"
                                                    class="form-group form-control" (keyup.Enter)="loadPersonList()" />
                                            </div>

                                            <div class="form-group col-md-3 col-sm-6 col-12">
                                                <input type="text" id="adv-search-person-primarytitle"
                                                    placeholder="Primary Title" maxlength="60"
                                                    [(ngModel)]="personRequestObject.property6"
                                                    class="form-group form-control" (keyup.Enter)="loadPersonList()" />
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-12">
                                                <input type="text" id="adv-search-person-directorytitle"
                                                    placeholder="Directory Title" maxlength="60"
                                                    [(ngModel)]="personRequestObject.property7"
                                                    class="form-group form-control" (keyup.Enter)="loadPersonList()" />
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-12">
                                                <div class="searchBox">
                                                    <app-endpoint-search 
                                                        [httpOptions]="homeUnitSearchOptions"
                                                        [clearField]="clearField"
                                                        [placeHolder]="'Type here for Home Unit'"
                                                        (onSelect)="homeUnitChangeFunction($event)">
                                                    </app-endpoint-search>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-12">
                                                <input type="text" id="adv-search-person-state" placeholder="State"
                                                    maxlength="60" [(ngModel)]="personRequestObject.property9"
                                                    class="form-group form-control" />
                                            </div>
                                            <div class="form-group col-md-3 col-sm-6 col-12">
                                                <app-look-up [options]='statusCodeOptions' [selectedLookUpList]="lookupValues['property12']"
                                                (selectedResult)="onLookupSelect($event, 'property12')" [externalArray]="statusCodes" [isExternalArray]="true"
                                                (keyup.Enter)="loadPersonList()">
                                                </app-look-up>
                                            </div>
                                            <div class="form-group col-12 text-right">
                                                <button id="adv-search-clear-proposal"
                                                    class="btn btn-sm btn-xs btn-secondary"
                                                    (click)="clear(); isPersonView = false;isPersonEdit = false;loadPersonList();">Clear</button>
                                                <button class="btn btn-primary btn-sm btn-xs" id="adv-search-proposal"
                                                    (click)="isPersonView = false;isPersonEdit = false;isAdvanceSearch = false;advanceSearch()">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Person List -->
            <div class="card card-table-box rounded-0">
                <div class="card-content"
                    *ngIf="(personRequestList != null && personRequestList?.length != 0 && isAdvanceSearch)">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tableSkin mb-0"
                                *ngIf="(personRequestList != null && personRequestList?.length != 0 && isAdvanceSearch)">
                                <caption class="sr-only">Person</caption>
                                <thead>
                                    <tr class="header-border">
                                        <th style="width: 10%" scope="col" id="sortby-person-personId"
                                            (click)="sortResult('personId')">
                                            <span class="hand-cursor" title="Click to sort by Person ID">Person
                                                ID</span>
                                            <i *ngIf="!personRequestObject.sort['personId']"
                                                class="fa fa-sort-alpha-asc blrcolor" aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['personId'] === 'asc' ? 'fa fa-sort-alpha-asc sortIcon' : 'blrcolor'"
                                                aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['personId'] === 'desc' ? 'fa fa-sort-alpha-desc sortIcon' : ''"
                                                aria-hidden="true"></i>
                                        </th>
                                        <th style="width: 10%" scope="col" id="sortby-person-username"
                                            (click)="sortResult('principalName')">
                                            <span class="hand-cursor" title="Click to sort by User Name">User
                                                Name</span>
                                            <i *ngIf="!personRequestObject.sort['principalName']"
                                                class="fa fa-sort-alpha-asc blrcolor" aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['principalName'] === 'asc' ? 'fa fa-sort-alpha-asc sortIcon' : 'blrcolor'"
                                                aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['principalName'] === 'desc' ? 'fa fa-sort-alpha-desc sortIcon' : ''"
                                                aria-hidden="true"></i>
                                        </th>
                                        <th style="width: 10%" scope="col" id="sortby-person-firstname"
                                            (click)="sortResult('firstName')">
                                            <span class="hand-cursor" title="Click to sort by First Name">First
                                                Name</span>
                                            <i *ngIf="!personRequestObject.sort['firstName']"
                                                class="fa fa-sort-alpha-asc blrcolor" aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['firstName'] === 'asc' ? 'fa fa-sort-alpha-asc sortIcon' : 'blrcolor'"
                                                aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['firstName'] === 'desc' ? 'fa fa-sort-alpha-desc sortIcon' : ''"
                                                aria-hidden="true"></i>
                                        </th>
                                        <th style="width: 10%" scope="col" (click)="sortResult('lastName')">
                                            <span class="hand-cursor" title="Click to sort by person Last name">Last
                                                Name</span>
                                            <i *ngIf="!personRequestObject.sort['lastName']"
                                                class="fa fa-sort-alpha-asc blrcolor" aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['lastName'] === 'asc' ? 'fa fa-sort-alpha-asc sortIcon' : 'blrcolor'"
                                                aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['lastName'] === 'desc' ? 'fa fa-sort-alpha-desc sortIcon' : ''"
                                                aria-hidden="true"></i>
                                        </th>
                                        <th style="width: 10%" scope="col" id="sortby-person-fullname"
                                            (click)="sortResult('fullName')">
                                            <span class="hand-cursor" title="Click to sort by Full Name">Full
                                                Name</span>
                                            <span class="fa-stack">
                                                <i *ngIf="!personRequestObject.sort['fullName']"
                                                    class="fa fa-sort-alpha-asc blrcolor" aria-hidden="true"></i>
                                                <i [ngClass]="personRequestObject.sort['fullName'] === 'asc' ? 'fa fa-sort-alpha-asc sortIcon' : 'blrcolor'"
                                                    aria-hidden="true"></i>
                                                <i [ngClass]="personRequestObject.sort['fullName'] === 'desc' ? 'fa fa-sort-alpha-desc sortIcon' : ''"
                                                    aria-hidden="true"></i>
                                            </span>
                                        </th>
                                        <th style="width: 10%" scope="col" id="sortby-person-email"
                                            (click)="sortResult('emailAddress')">
                                            <span class="hand-cursor" title="Click to sort by Email Address">Email
                                                Address</span>
                                            <i *ngIf="!personRequestObject.sort['emailAddress']"
                                                class="fa fa-sort-alpha-asc blrcolor" aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['emailAddress'] === 'asc' ? 'fa fa-sort-alpha-asc sortIcon' : 'blrcolor'"
                                                aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['emailAddress'] === 'desc' ? 'fa fa-sort-alpha-desc sortIcon' : ''"
                                                aria-hidden="true"></i>
                                        </th>
                                        <th style="width: 11%" scope="col" id="sortby-proposal-category"
                                            (click)="sortResult('mobileNumber')">
                                            <span class="hand-cursor" title="Click to sort by type">Phone Number</span>
                                            <i *ngIf="!personRequestObject.sort['mobileNumber']"
                                                class="fa fa-sort-alpha-asc blrcolor" aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['mobileNumber'] === 'asc' ? 'fa fa-sort-alpha-asc sortIcon' : 'blrcolor'"
                                                aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['mobileNumber'] === 'desc' ? 'fa fa-sort-alpha-desc sortIcon' : ''"
                                                aria-hidden="true"></i>
                                        </th>
                                        <th style="width: 10%" scope="col" id="sortby-person-homeunit"
                                            (click)="sortResult('unit.unitName')">
                                            <span class="hand-cursor" title="Click to sort by Home Unit">Home
                                                Unit</span>
                                            <i *ngIf="!personRequestObject.sort['unit.unitName']"
                                                class="fa fa-sort-alpha-asc blrcolor" aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['unit.unitName'] === 'asc' ? 'fa fa-sort-alpha-asc sortIcon' : 'blrcolor'"
                                                aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['unit.unitName'] === 'desc' ? 'fa fa-sort-alpha-desc sortIcon' : ''"
                                                aria-hidden="true"></i>
                                        </th>
                                        <th style="width: 10%" scope="col" id="sortby-person-primarytitle"
                                            (click)="sortResult('primaryTitle')">
                                            <span class="hand-cursor" title="Click to sort by Primary Title">Primary
                                                Title</span>
                                            <i *ngIf="!personRequestObject.sort['primaryTitle']"
                                                class="fa fa-sort-alpha-asc blrcolor" aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['primaryTitle'] === 'asc' ? 'fa fa-sort-alpha-asc sortIcon' : 'blrcolor'"
                                                aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['primaryTitle'] === 'desc' ? 'fa fa-sort-alpha-desc sortIcon' : ''"
                                                aria-hidden="true"></i>
                                        </th>
                                        <th style="width: 10%" scope="col" id="sortby-person-primarytitle"
                                            (click)="sortResult('status')">
                                            <span class="hand-cursor" title="Click to sort by Status">Status</span>
                                            <i *ngIf="!personRequestObject.sort['status']"
                                                class="fa fa-sort-alpha-asc blrcolor" aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['status'] === 'asc' ? 'fa fa-sort-alpha-asc sortIcon' : 'blrcolor'"
                                                aria-hidden="true"></i>
                                            <i [ngClass]="personRequestObject.sort['status'] === 'desc' ? 'fa fa-sort-alpha-desc sortIcon' : ''"
                                                aria-hidden="true"></i>
                                        </th>
                                        <th style="width: 5%" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr [routerLink]="['/fibi/person/person-details']" queryParamsHandling='merge'
                                        [queryParams]={personId:person?.personId}
                                        (click)="_personService.isPersonEditOrView = true;setPersonCardDetails(person)"
                                        *ngFor="let person of personRequestList; let i =index" class="pull-up"
                                        [@fadeDown]>
                                        <td (click)="_personService.isPersonEdit = false">{{person?.personId}}
                                        </td>
                                        <td (click)="_personService.isPersonEdit = false">{{person?.principalName}}
                                        </td>
                                        <td (click)="_personService.isPersonEdit = false">{{person?.firstName}}</td>
                                        <td (click)="_personService.isPersonEdit = false">{{person?.lastName}}</td>
                                        <td (click)="_personService.isPersonEdit = false">{{person?.fullName}}</td>
                                        <td (click)="_personService.isPersonEdit = false">{{person?.emailAddress}}</td>
                                        <td (click)="_personService.isPersonEdit = false">{{person?.mobileNumber}}</td>
                                        <td (click)="_personService.isPersonEdit = false">{{concatUnitNumberAndUnitName(person?.unit?.unitNumber, person?.unit?.unitName)}}</td>
                                        <td (click)="_personService.isPersonEdit = false">{{person?.primaryTitle}}</td>
                                        <td (click)="_personService.isPersonEdit = false">
                                            <span class="badge badge-pill"
                                            [ngClass]="person?.status === 'A' ? 'badge-success' : 'badge-secondary'">
                                            {{person?.status === 'A' ? 'Active' : 'Inactive'}}
                                            </span></td>
                                        <td style="padding: 0px !important;">
                                            <ul class="actionButtonGroup">
                                                <li>
                                                    <a title="Open person {{person.personId}}" class="pointer"
                                                        id="open-proposal-btn">
                                                        <i class="fa fa-eye pointer" aria-hidden="true"
                                                            (click)="_personService.isPersonEdit = false;setPersonCardDetails(person)"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a *ngIf="isMaintainPerson"
                                                        title="Edit person {{person.personId}}" id="open-award-btn">
                                                        <i class="fa fa-edit pointer" aria-hidden="true"
                                                            (click)="_personService.isPersonEdit = true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Pagination -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                    *ngIf="personRequestList && personRequestList?.length !== 0 && isAdvanceSearch">
                    <div>
                        <nav class="pagination justify-content-end">
                            <app-pagination [totalCount]="result.totalPersons"
                                (pageChangeEvent)="actionsOnPageChange($event)">
                            </app-pagination>
                        </nav>
                    </div>
                </div>
            </div>
        </span>
        <!-- person card and tabs -->
        
        <div class="sticky-top-nav p-0 mt-2 mx-1 shadow" *ngIf="_personService.isPersonEditOrView && !_personService.isPersonEdit && havePersonDetails">
            <div class="row">
                <div class="col-10">
                    <div class="row" *ngIf="isShowAdvanceSearch">
                        <div class="col-auto p-2 ml-4">
                            <span class="user-icon"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="pt-2">
                            <h4>{{_personService.personDisplayCard?.fullName}}
                                <span *ngIf="_personService.personDisplayCard?.isExternalUser" class="badge badge-warning ml-2">External</span>
                            </h4>
                            <span *ngIf="_personService.personDisplayCard?.orcidId" class="fs-12">
                                <a href="https://orcid.org/{{_personService.personDisplayCard?.orcidId}}" target="_blank"><img class="orcidImg"
                                        src="{{deployUrl}}assets/images/orcid-id.svg" alt="ORCID ID: #">
                                    <span class="pl-2 pt-1">{{_personService.personDisplayCard?.orcidId}}</span></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngIf="_personService.personDisplayCard?.status" class="col mr-3 mt-4 text-right">
                    <span class="status-badge-success"
                        *ngIf="_personService.personDisplayCard?.status == 'A'">
                        Active</span>
                    <span class="status-badge-danger"
                        *ngIf="_personService.personDisplayCard?.status != 'A'">
                        Inactive</span>
                </div>
            </div>
            <div>
                <ul class="subTabs mb-0">
                    <li routerLinkActive="active">
                        <a class="subTabLink" [routerLink]="['/fibi/person/person-details']"
                            queryParamsHandling='merge'>Personal Details</a>
                    </li>
                    <li *ngIf="_commonService.isOrcidWOrkEnabled && (isMaintainWorks || isLoginUserDetails())" routerLinkActive="active">
                        <a class="subTabLink" [routerLink]="['/fibi/person/orcid']"
                            queryParamsHandling='merge'>ORCID</a>
                    </li>
                    <li routerLinkActive="active" *ngIf="(isMaintainDelegation || isLoginUserDetails())">
                        <a class="subTabLink" [routerLink]="['/fibi/person/delegation']"
                            queryParamsHandling='merge'>Delegation</a>
                    </li>
                    <li routerLinkActive="active" *ngIf="(isMaintainTimeSheet || this.isViewTimeSheet ||isLoginUserDetails())">
                        <a class="subTabLink" [routerLink]="['/fibi/person/timesheet']"
                            queryParamsHandling='merge'>Timesheet</a>
                    </li>
                    <li routerLinkActive="active" *ngIf="(isMaintainTraining  || isLoginUserDetails())">
                        <a class="subTabLink" [routerLink]="['/fibi/person/training']"
                           queryParamsHandling='merge'>Training</a>
                    </li>
                    <li routerLinkActive="active" *ngIf="(isMaintainPerson || isLoginUserDetails())">
                        <a class="subTabLink" [routerLink]="['/fibi/person/degree']"
                           queryParamsHandling='merge'>Degree</a>
                    </li>
                </ul>
                <button class="btn more-btn back-btn-header" title="Back"
                    (click)="redirectToBack();">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <router-outlet></router-outlet>
        <div class="footerPush"></div>
    </div>
</div>
