.custom-data-header {
	color: #424242 !important;
	background-color: #e6e5e5;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	cursor: pointer;
	line-height: 33px;
}

.active {
	border-bottom: solid 1px #26A69A;
	color: #26A69A !important;
	border-width: 3px;
	font-weight: 500;
	cursor: pointer;
}

.cust-main-header {
	color: #424242 !important;
	background-color: #e6e5e5;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	cursor: pointer;
	line-height: 33px;
	margin: 0px;
}

.cust-main-header .back-icon {
	margin: auto;
	margin-right: 15px;
}

.customData .nav-item {
    border-right: 1px solid #e7e7e7;
}

.customDataCreateModalBody {
    max-height: 72vh;
    overflow: auto;
}