.title-label {
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

.dropdown-menu {
    padding: 1rem;
    font-size: 1.4rem;
    width: 450px;
    box-shadow: 0 0 14px -1px #66666685;
 }

 .comment-icon {
    color: #1e847b;
    font-size: 18px;
 }

 .add-entry-button {
    margin-right: 50px;
}

.tooltip .tooltiptext-right {
    text-align: left;
}
