.inbox-card {
    z-index: 9;
    right: 0;
    top: 40px;
    position: absolute;
    box-shadow: 1px 1px 3px 1px #bdbdbd;
}

.coi-actionlist-wrapper {
    &:hover {
        cursor: pointer;
        background: #091E420F;
    }
}

.coi-actionlist-filters {
    .filter-pills {
        display: inline-flex;
        border: solid 1px #dbdfe9;
        padding: 0.2rem 0.8rem;
        border-radius: 20px;
        color: var(--bs-black);
        margin: 5px 5px;
        font-size: var(--theme-font-size);
        cursor: pointer;
        &:hover {
            background: #dfdfdf;
            border-color: #cbcbcb;
        }
        &.active {
            font-weight: 600;
            border-color: #cbcbcb;
            background-color: #dfdfdf;
        }
    }
}

.sr-filter-Applied {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    top: 2px;
    right: -2px;
}

.filter-active {
    border: 2px solid #54BF5B !important;
    background: #F5FEF5 !important;
}

.selected-arrow {
    color: #52bf5a;
}

.actionList-icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #D8DFF2;
    color: #3455A7;
}
