.dash-card {
    box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 2%);
    background: white;
    min-height: 125px;
    margin: 0 35px;
    border-radius: 6px;
}

.f-5 {
    font-size: 4rem;
}

.action-buttons {
    height: 24px;
    padding: 0.3px 1px;
    margin-top: 0px
}

.px-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.counts {
    font-weight: bold;
    font-size: 1.5rem;
    color: #2a77f3;
}

.green-text {
    color: green;
}

.pending-border {
    border: 1px solid #1d847b;
}

.resultCard::before {
    border-left: none;
}

.coi-card {
    border: 1px solid #ededed;
}

.coi-card span:not(.text-success, .text-warning, .text-info, .text-danger, .text-primary).badge-warning {
    color: #3f4449 !important;
}

.bold-blue-number {
    color: #2c77f4;
    font-weight: bold;
    font-size: 1.125rem;
    margin-right: 4px;
}

nav ul {
    cursor: pointer;
    list-style-type: none;
    display: flex;
}

nav ul li {
    white-space: nowrap;
    font-weight: 500;
}

.admin-main-navigation .fa {
    position: absolute;
    bottom: -20px;
    right: calc(50% - 8px);
    font-size: 2em;
}

.btn-tertiary {
    margin-left: auto;
}

.separator {
    border: 1px solid #ededed;
    margin: 1px 0;
}

.link-btn {
    color: #3b83ff;
    text-decoration: underline;
    cursor: pointer;
}

.btn-size-override {
    width: auto !important;
    height: auto !important;
    min-width: auto !important;
}

.status-badge-info,
.status-badge-info:hover {
    background-color: #cef5f891;
    color: #046a71b8 !important;
    border: #046a715c 1px solid;
    padding: 0.4rem 1rem !important;
    font-size: 0.6875rem !important;
}

.comment-icon {
    opacity: .4;
    font-size: 0.6875rem;
}

.searchButton {
    left: 1px;
    top: 4px;
}

.btn-secondary:focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.primary-button:focus {
    color: #fff;
    background-color: #0948b1;
    ;
    background-color: #0948b1;
    ;
}

.sort-div {
    background-color: #eeeeee;
    padding: 9px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 10px;
}

@media (max-width: 1201px) {
    .sort-div button {
        padding-top: 3px;
    }
}

@media (max-width: 1210px) {
    nav ul li:not(.separator) {
        padding: 16px 10px !important;
    }
}

.filter-active {
    border: 2px solid #54BF5B !important;
    background: #F5FEF5 !important;
}

.coi-admin-dash li.active {
    color: #007DEC !important;
    font-weight: bold;
    border-bottom: 3px solid #007DEC;
    padding: 7px 6px;
}

.coi-admin-dash li {
    color: #7c7c7d;
}

.coi-admin-dash li:focus {
    color: #007DEC !important;
    font-weight: bold;
    border-bottom: 3px solid #007DEC;
    padding: 7px 6px;
}

.card-bg {
    background-color: #eeeeee;
}

.deactivate-text {
    color: #fff !important;
}

.label-text {
    font-weight: 600;
    color: #697a80;
    font-size: 0.875rem;
}

.grey-text {
    font-size: 0.875rem;
    color: #48647f;
    font-weight: 400;
    margin-left: 5px;
}

.rounded-pill {
    margin-left: 5px;
}

.arrow {
    font-size: 1.125rem;
    height: 18px;
    width: 16px;
    margin-left: 4px;
}

.selected-arrow {
    color: #52bf5a;
}

.noDataExists {
    color: #9e9e9e !important;
    font-size: 0.875rem;
    margin-left: 5px;
}

small {
    color: #fff !important;
}

.offscreen {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    /* added line */
    width: 1px;
}

.cursor-auto {
    cursor: context-menu !important;
}

.col-custom-travel {
    width: max-content;
}

.title-text {
    font-weight: 400;
    color: #48647f;
    font-size: 0.875rem;
}

.readMore {
    color: #41464B;
    text-decoration: underline;
    font-size: 0.875rem;
    cursor: pointer;
}

.p-013 {
    padding-left: 1.3rem;
    padding-right: 1rem;
}

.entity-icon {
    width: 21px;
    margin-right: -1px;
    color: grey;
    height: 24px;
}

.proposal-icon {
    width: 16px;
    margin-right: 3px;
    color: grey;
    height: 17px;
}

.award-icon {
    width: 18px;
    margin-right: 3px;
    color: grey;
    height: 18px;
}

.fileChips {
    display: inline-block;
    padding: 0 25px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.75rem;
    padding: 3px 8px 3px 12px;
    border-radius: 15px;
    background: #f1f1f1;
    border: 1px solid #ebe8e8;
    /* box-shadow: 2px 1px 1px #cef9ff; */
}

.coi-reviewer-pill {
    background: none;
    padding: 0;
    margin: 0;
}

.reviewer-success {
    @extend .coi-reviewer-pill;
    color: var(--theme-pill-success);
}

.reviewer-warning {
    @extend .coi-reviewer-pill;
    color: var(--theme-pill-warning);
}

.reviewer-info {
    @extend .coi-reviewer-pill;
    color: var(--theme-pill-info);
}

.p-25 {
    padding-right: 25px;
}

.p5 {
    padding-right: 5px;
}

.p0 {
    padding-right: 0;
}

.select-all-checkboxes {
    position: relative;
    top: 14px;
}

.margin-left-16px {
    margin-left: 16px;
}

.padding-left-39px {
    padding-left: 39px;
}

input[type='checkbox'] {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 3px;
    border: 1px solid #555;
}

.margin-top-3px {
    margin-top: 3px;
}

.height-fit-content {
    height: fit-content;
}

.end-date {
    margin-right: 81px;
}

.last-updated {
    margin-top: 7px;
}

/* Adjust the height of view button (only for this dashboard)*/
.height-fit-content {
    height: fit-content !important;
}

/* Navbar responsive  hamburger menu */
@media (min-width: 1092.9px) {
    .navbar-toggler {
        display: none;
    }
}

.navbar-toggleable-xs {
    position: relative;
}

.hamburger-display {
    display: none;
}

@media (max-width: 1200px) {
    #navbarResponsive {
        position: absolute;
        z-index: 99;
        display: none;
        top: 30px;
        left: 9px;
        transition: all 300ms;
    }

    .show {
        display: block !important;
    }

    .menu-responsive {
        position: relative;
        background-color: #2b3244;
        opacity: .95;
        box-shadow: 0px 2px 5px -1px rgba(15, 15, 15, .5803921569);
        padding: 16px 10px 16px 10px;
        border-radius: 4px;
        max-height: 320px;
        overflow: auto;
    }

    .menu-responsive li {
        color: #fff !important;
        font-weight: 400 !important;
        font-size: 0.875rem !important;
    }

    .separator {
        margin: 0 !important;
        border-top: none !important;
        border-color: #f7f7f71f !important;
    }

    .active {
        background-color: #545a68;
        border-bottom: none !important;
    }

    .coi-admin-dash li.active {
        color: #fff !important;
        border-bottom: none !important;
    }

    .hamburger-display {
        display: block;
    }
}

.mat-icon {
    font-size: 1.22rem !important;
}

.complete-review-section {
    top: 177px;
    z-index: 51;
    border-radius: 5px;
}

.zero-count-padding {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.coi-card-regular {
    .card-body {
        padding-bottom: 0 !important;
    }
}

@media (min-width: 1600px) {
    .d-inline-1500 {
        display: inline !important;
    }
}
