<div id="Award110" class="card my-3">
    <div class="card-header">
        <h4 class="card-title">Terms
            <button class="updown-arrow" (click)="isTerms = !isTerms">
                <i aria-hidden="true" [ngClass]="!isTerms?'fa fa-angle-double-up':'fa fa-angle-double-down'"
                    class="fa-large"></i>
            </button>
        </h4>
    </div>
    <div class="card-content">
        <div *ngIf="!isTerms" class="card-body">
            <div class="no-data-container" *ngIf="termKeys?.length == 0">
                    <span class="no-data-icon-outer">
                            <div class="no-data-icon">
                                <i class="fa fa-file-o" aria-hidden="true"></i>
                                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                        </span>
                        <h4>There is no information in this section.</h4>
            </div>
            <table class="table tableSkin grid2">
                <caption class="sr-only">Terms List</caption>
                <thead class="d-none">
                    <tr>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngIf="termKeys?.length > 0">
                    <tr *ngFor="let key of  termKeys;">
                        <td>
                            <div>
                                <label>{{key}} ({{termDatas[key]?.length}})</label>
                            </div>
                            <div *ngFor="let termCodeList of termDatas[key]; let i = index;">
                                {{termCodeList.sponsorTerm}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
