.label {
    font-size: 1.4rem;
    margin-bottom: 0;
    color: #333;
    font-weight: 600;
}
.mr-50 {
    margin-right: 50px;
}
.dropdown-menu {
    padding: 1rem;
    font-size: 1.4rem;
    width: 450px;
    box-shadow: 0 0 14px -1px #66666685;
 }
 .comment-icon {
    color: #1e847b;
    font-size: 18px;
 }
 
 