.container-height {
    min-height: 100vh;
    background-color: #fff;
}

.access-401 {
    margin-top: 15vh;
}

.access-denied {
    margin-top: .5vh;

    span {
        font-size: 28px;
        font-weight: 700;
        color: rgb(77, 76, 76);
    }
}

.btn-401 {
    color: white !important;
    background: grey;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
}

#Layer_3 {
    background-color: #fff;
}
