.form-row > div {
    margin-bottom: 1.4rem;
}
.checkBoxClass {
    width: 21%;
    height: 1.2em;
    margin: .75em;
}
.list-none {
    list-style: none;
}
.table-vertical-align>tbody>tr>td {
    vertical-align: top
}
.switch-field-radio {
    display: flex;
    overflow: hidden;
    /* width: 100%; */
    width: 273px;
  }
  
  .switch-field-radio input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
  }
  
  .switch-field-radio label {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    text-align: center;
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    width: 50%;
    height: 35px;
    line-height: 19px;
  }
  
  .switch-field-radio label:hover {
    cursor: pointer;
  }
  
  .switch-field-radio input:checked+label {
    background-color: #f9f9f9;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #666666;
    font-weight: 600;
  }
  
  .switch-field-radio label:first-of-type {
    border-radius: 4px 0 0 4px;
  }
  
  .switch-field-radio label:last-of-type {
    border-radius: 0 4px 4px 0;
  }
  .switch-field-radio input + label > i {    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0s, opacity 300ms;
  }
  .switch-field-radio input:checked + label > i {
    color: #0abb87;
    margin-right: 5px;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }
  .text-grey {
    color: #9e9e9e;
  }
  .hightlighted-text>span {
    display: inline-block;
    background: #dedede;
    padding: 4px 4px 4px 4px;
    border-radius: 3px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 1.3rem;
  }
  .hightlighted-text>span>i {
    display: inline-block;
    margin: -1px -2px 0 3px;
    border-radius: 50%;
    background-color: #fff;
    padding: 2px;
    color: red;
  }
  .switch-icon {
    font-size: 1.8rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 23px;
  }
  .switch-icon:hover{
    background: #cbe4ff;
    transition: .4s;
  }
  .hand-cursor i, .actionButtonGroup i, .hightlighted-text i, .updown-arrow i {
    cursor: pointer;
  }
  .info-msg {
    border-radius: 0;
    color: #000!important;
    font-size: 1.4rem;
    font-style: oblique;
  }
  .info-icon {
    color: #6d6a6a;
  }
  

.infobox-heading{
  color: #48647f;
  font-size: 1.6rem;
  font-weight: 500;
}

.thead-light th{
  line-height: 16px;
}

.grey-container {
  background-color: #f1f5f8;
}

.fixed-header-table {
  max-height: 290px;
  height: auto;
  overflow-x: hidden;
}

.fixed-header-table thead tr:nth-child(1) th {
  border-bottom: #26a69a;
  position: sticky;
  top: 0;
  z-index: 2;
}


@media only screen and (max-width: 1000px) {
  .person-title {
    line-height: 35px;
  }
}