$integration-icon-bg: #ECECEC;
$integration-icon-focus-border: black;
$fb-header-border-bottom: #ebedf2;

.integration-icon{
    background: $integration-icon-bg;
    border-radius: 50%;
    font-size: 13px;
    &:focus{
        border: solid 1px $integration-icon-focus-border;
    }
}

//This style is only need for integration component
.table-bordered td, .table-bordered th {
  border: none;
}

.fb-header-div {
  padding-bottom: 10px;
  border-bottom: 1px solid $fb-header-border-bottom;
}
