.back-list-btn {
    padding: .5rem 1rem;
    font-size: 1.4rem;
    background:#ccc;
}
.form-row > div {
    margin-bottom: 1.4rem;
}
.form-row > div {
    margin-bottom: 1.4rem;
}
.icon {
    font-size: 1.6rem;
    margin-right: 10px;
}
.alert {
    font-size: 1.4rem;
}
