.coi-card-custom-border-bottom {
    border-bottom: 1px solid var(--bs-card-border-color) !important;
}

.coi-card-bg-stripped-light {
    background-color: #f6f6f6 !important;
}

.coi-card-regular {
    .card-body {
        padding-top: .75rem !important;
        padding-bottom: .75rem !important;
    }
}

.comment-count-icon,
.comment-count-icon-large {
    top: -5px;
    right: -5px;
    width: 16px;
    height: 16px;
    margin-left: 0;
}

.top-38px {
    top: 38px;
}

.custom-width-250px {
    min-width: 250px;
}

.coi-custom-height-on-focus {
    min-height: 40px;
    transition: min-height 0.3s ease 0.2s;

    &:focus {
        min-height: 100px;
        transition-delay: 0s;
    }
}
