$ck-editor-border: #d3d1d1;
$fb-option-circle-color: #b0b0b0;
$fb-add-option-bg-color: transparent;
$fb-add-option-hover-bg: #ECF1FD;

::ng-deep .ck.ck-editor__editable_inline {
    border: 1px solid $ck-editor-border !important;
}
.scroll {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.fb-option-circle {
    margin-top: 1.25rem;
    color: $fb-option-circle-color;
}

.fb-header-padding {
    padding: .75rem 1rem;
}

.fb-add-option {
    margin-top: 8px;
    background-color: $fb-add-option-bg-color;
}

.fb-add-option:hover {
    background-color: $fb-add-option-hover-bg;
}

.w-95 {
    width:95%;
}
