<!-- Milestones in Proposal -->
<div id="Proposal305" class="card mb-3">
  <div class="card-header px-4">
    <h4 class="card-title" id="milestoneProposal">Milestone
      <button id="project-expand-btn" class="updown-arrow" (click)="isShowMilestone = !isShowMilestone">
        <i [ngClass]="isShowMilestone?'fa fa-angle-double-up':'fa fa-angle-double-down'" aria-hidden="true"
          class="fa-large"></i>
      </button>
    </h4>
  </div>
  <div class="card-content" *ngIf="isShowMilestone">
    <div class="card-body">
      <div class="noDataExists p-2" *ngIf=" proposalMileStones?.length == 0">There are no
        research milestones added in this Proposal.
      </div>
      <div class="table-responsive">
        <table class="table tableSkin grid2" *ngIf="proposalMileStones?.length > 0"
          aria-describedby="milestoneProposal">
          <thead class="thead-light">
            <th style="width:60%" scope="col">
              <span class="hand-cursor">Research Milestone</span>
            </th>
            <th style="width:15%" scope="col">
              <span class="hand-cursor">Start Month</span>
            </th>
            <th style="width:15%" scope="col">
              <span class="hand-cursor">Duration (months)</span>
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let milestones of proposalMileStones ; let index = index "
              [ngClass]="{'delete-background': milestones.status == -1,'add-background': milestones.status == 1}">
              <td style="width:60%" class="text-break text-justify">
                <span [innerHTML]="milestones.mileStone | customTagRemover: currentMethod"></span>
              </td>
              <td style="width:15%">
                <span [innerHTML]="milestones.startMonth | customTagRemover: currentMethod"></span>
              </td>
              <td style="width:15%">
                <span [innerHTML]="milestones.duration | customTagRemover: currentMethod"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>