<app-header></app-header>
<div class="offset-top">
    <h1 class="f-16 p-4">Choose ERA Application</h1>
    <div class="row">
        <div class="col-3 card mx-5 p-0 shadow-sm pointer" (click)="redirectTo('fibi')">
            <div class="d-flex f-20 fibi-card font-bold justify-content-center py-5 text-light">
                <div class="font-cv">
                    FIBI
                </div>
            </div>
            <div class="row">
                <div class="col pt-5">
                    <div class="d-flex f-16 font-bold justify-content-center">
                        FIBI
                    </div>
                    <div class="b-600 d-flex f-14 justify-content-center">
                        An ERA Solution
                    </div>
                    <div class="b-600 f-12 text-center px-5 text-black-50">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 card p-0 shadow-sm pointer" (click)="redirectTo('COI')">
            <div class="d-flex f-20 fibi-card font-bold justify-content-center py-5 text-light">
                <div class="font-cv">
                    COI
                </div>
            </div>
            <div class="row">
                <div class="col pt-5">
                    <div class="d-flex f-16 font-bold justify-content-center">
                        COI
                    </div>
                    <div class="b-600 d-flex f-14 justify-content-center">
                        An Conflict Of Interest Solution
                    </div>
                    <div class="b-600 f-12 text-center px-5 text-black-50">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
