.offset-top {
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 10px;
  min-height: 100%;
}

.card {
  height: 230px;
}

.fibi-card {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgb(255 255 255 / 80%) 0%, rgb(75 157 149) 0%, rgb(30 132 123) 100%);
}
