.budget-tabs .tabs > li.active > a {
    color: #fff;
    border-bottom: 1px #48647f solid;
    background-color: #48647f;
}
.budget-tabs .tabs>li>a:hover {
    color: #fff !important;
    border-bottom: 1px #48647f solid !important;
    background-color: #48647f  !important;
}

.actions-outer {
    width: max-content;
}

.budget-actions {
    margin-right: 10px;
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
}

.actions-outer .budget-actions:nth-last-child(1) {
    margin-right: 0;
}

.budget-actions i {
    margin-right: 3px;
    font-size: 1.2rem;
    background: #E8F0FB;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
}

.budget-actions:hover {
    color: #2c77f4;
}

.budget-actions:hover i {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4;
}

.subTabs li:last-of-type::before {
    border: none;
}
.fixed-header-table {
    max-height: 300px;
    height: auto;
    overflow-x: hidden;
}
.fixed-header-table thead tr:nth-child(1) th {
    border-bottom: #26a69a;
    position: sticky;
    top: 0;
    z-index: 2;
}
.thead-light th {
    color: #e9ecef !important;
    border: solid 1px #fff !important;
}
.td-bg-color td{background: #efefef !important}

