<div class="row">
    <div
        [ngClass]="serviceRequest?.serviceRequestId && !serviceRequest.isSystemGenerated ? 'pr-0 col-xl-8 col-lg-8 col-md-12 col-12' : 'col-12'">
        <ng-container *ngIf="_serviceRequestService.sectionConfigurations['2001']?.isActive">
            <app-request-edit *ngIf="isEdit; else viewRequest"></app-request-edit>
            <ng-template #viewRequest>
                <app-request-view></app-request-view>
            </ng-template>
        </ng-container>
    </div>
    <div *ngIf="serviceRequest?.serviceRequestId && !serviceRequest.isSystemGenerated" [@items]
        class="col-xl-4 col-lg-4 col-md-12 col-12">
        <app-people-duration *ngIf="_serviceRequestService.sectionConfigurations['2003']?.isActive">
        </app-people-duration>
        <app-watchers *ngIf="_serviceRequestService.sectionConfigurations['2004']?.isActive"></app-watchers>
    </div>
</div>
