.table .thead-light th {
    width: 20%;
}
.dropdown-menu {
    padding: 1rem;
    font-size: 1.4rem;
    width: 450px;
    box-shadow: 0 0 14px -1px #66666685;
 }
.custom-table-responsive{ overflow:unset;}

.x-overflow{overflow-x: auto!important;}
.comment-icon {
    color: #1e847b;
    border-color: #1e847b;
}
