nav ul {
    cursor: pointer;
    list-style-type: none;
    display: flex;
}

nav ul li {
    white-space: nowrap;
    font-weight: 500;
}

.separator {
    border: 1px solid #ededed;
    margin: 1px 0;
}

nav ul li:not(.separator) {
    padding: 16px !important;
}

.coi-dashboard-tab-sticky {
    z-index: 11;
}

.coi-admin-dash li.active {
    color: #007DEC !important;
    font-weight: bold;
    border-bottom: 3px solid #007DEC;
    padding: 7px 6px;
}

.coi-admin-dash li {
    color: #7c7c7d;
}

.coi-admin-dash li:focus {
    color: #007DEC !important;
    font-weight: bold;
    border-bottom: 3px solid #007DEC;
    padding: 7px 6px;
}

.hamburger-display {
    display: none;
}

/* Navbar responsive  hamburger menu */
@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }
}

@media (max-width: 767px) {
    #myProjectsNavbarResponsive {
        position: absolute;
        z-index: 99;
        display: none;
        top: 30px;
        left: 9px;
        transition: all 300ms;
    }

    .show {
        display: block !important;
    }

    .menu-responsive {
        position: relative;
        background-color: #2b3244;
        opacity: .95;
        box-shadow: 0px 2px 5px -1px rgba(15, 15, 15, .5803921569);
        padding: 16px 10px 16px 10px;
        border-radius: 4px;
        max-height: 320px;
        overflow: auto;
    }

    .menu-responsive li {
        color: #fff !important;
        font-weight: 400 !important;
        font-size: 0.875rem !important;
    }

    .separator {
        margin: 0 !important;
        border-top: none !important;
        border-color: #f7f7f71f !important;
    }

    .active {
        background-color: #545a68;
        border-bottom: none !important;
    }

    .coi-admin-dash li.active {
        color: #fff !important;
        border-bottom: none !important;
    }

    .hamburger-display {
        display: block;
        padding: 10px;
    }
}
