.scroll-container {
    height: calc(100vh - 240px);
    overflow-y: auto;
    position: relative;
}

.scroll-container::-webkit-scrollbar{
    width: 7px;
}

.fb-width{
    width: 100%;
}

.fb-form-element-width {
    width: calc(100% - 32px);
}

.fb-width-50 {
    width: 50%;
}
