<!-- Request support modal -->
<div class="modal fade show mySkinDialog" tabindex="-1" id="app-generic-support-modal" role="dialog" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Need clarification?</h5>
        <button type="button" class="close" data-dismiss="modal" id="support-dissmiss-btn" aria-label="Close" (click)="supportReqWarning = null" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="col-md-6 col-12">
            <label for="support-section-input" class="comments-font mb-1"><span class="mandatory">*</span>Support
              Section</label>
            <select class="form-control dateBox selectbox-size d-block" id="support-section-input"
              [(ngModel)]="supportRequestObj.preReviewSectionType">
              <option [value]=null>--Select--</option>
              <option *ngFor="let section of result.preReviewClarifications" [ngValue]="section" [hidden]="section.isActive != true">
                {{section?.description}}</option>
            </select>
          </div>
          <div class="col-12">
            <label for="support-question-input" class="comments-font"><span class="mandatory">*</span>Question</label>
            <textarea id="support-question-input" placeholder="Describe your question here" class="form-control question-dateBox dateBox"
            [(ngModel)]="supportRequestObj.requestorComment" appLengthValidator [isShowLimiter]='true' [limit] = 4000></textarea>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: -3px;">
            <textarea id="support-question-input" placeholder="Describe your question here" class="form-control dateBox"
              style="font-size: 1.28rem;" [(ngModel)]="supportRequestObj.requestorComment"></textarea>
          </div>
        </div> -->
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <span class="mandatory regularFont" *ngIf="supportReqWarning != null">{{supportReqWarning}}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="add-support-qsn-btn" class="btn btn-primary-sub btn-sm"
          (click)="requestSupport()">Submit Question</button>
      </div>
    </div>
  </div>
</div>
