#COI_EXT_PROJ_REL_NAV_CARD {
    min-height: 100%;
}

#COI_EXT_PROJ_REL_NAV_BODY {
    margin-left: -1rem;
}

@media (min-width: 1400px) {
    #COI_EXT_PROJ_REL_NAV_HEADER {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -1rem;
            width: 1rem;
            height: 100%;
            background-color: var(--theme-body-bg-color);
        }
    }
}

.searchButton {
    left: 10px;
    position: absolute;
}

.closeButton {
    position: absolute;
    right: 10px;
}

.filterButton {
    background-color: #EDEDED;
    border: 1px solid #E1E1E1;
}

.p-x-2rem {
    padding-right: 2rem !important;
    padding-left: 2rem !important;

}

.start-6px {
    left: 6px;
}

.end-8px {
    right: 8px;
}

.card-body {
    padding: 0 !important;
}

.conflict-count-width {
    width: 25px;
}

.coi-switch-inactive-btn {
    background-color: #E9E9E9;
    color: black;
    padding: 10px;
}

.coi-switch-active-btn {
    background-color: #0948b3;
    color: white;
    padding: 10px;
}

.light-color {
    color: #a8a1a1;
}

.scrollspy-section-activate a,
.coi-active-scrollspy a {
    background-color: #fff8dd !important;
}
