.committeeBox {
    height: 35px;
}
::ng-deep .ck.ck-editor__editable_inline {
    border: 1px solid #d3d1d1 !important ;
    min-height: 100px;
}
.invalid-editor {
	border: solid 1px #dc3545;
}
::-webkit-scrollbar {
    width: .5em;
    height: 3em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

.overflow-x {
    overflow-x: hidden;
    overflow-y: visible;
}

.text-invisible {
    color: rgba(0, 0, 0, 0.28) !important;
}
