.view-details .card-header {
    border-bottom: 0;
    background-color: #e4eeff;
    color: #042050;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.view-details-inner-outer {
    border-top: solid 2px #e7e7e7;
}

.view-details-outer {
    width: 100%;
}

.hand-cursor {
    cursor: pointer;
}
.background-highlight{
    background: #edf9ed;
}
.rejected-highlight {
    background: #f9f2f2;
}

/* .view-details-outer .stripped-color:nth-child(even) {
    background: #f8f8f8;
} */

.btn-align-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.warning-status {
    /* background: #ffe47d; */
    font-size: 1.2rem;
    color: #6f5906;
    /* padding: 10px 10px;
    border: dotted 2px #f9d343;
    border-radius: 5px;
    min-width: 138px;
    text-align: center;
    z-index: 2;
    position: relative; */
    display: inherit;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.approved-circle {
    background: #66c950;
    font-size: 1.2rem;
    border: solid 1px rgb(162, 158, 158);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    z-index: 2;
    position: relative;
    display: inline-block;
}

.rejected-circle {
    background: #d46b69;
    font-size: 1.2rem;
    border: solid 1px rgb(162, 158, 158);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    z-index: 2;
    position: relative;
    display: inline-block;
}
.secondary-circle {
    background: #dedede;
    font-size: 1.2rem;
    border: solid 1px rgb(162, 158, 158);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    z-index: 2;
    position: relative;
    display: inline-block;
}

.approved-status {
    display: inherit;
    font-size: 4rem;
    color: #66c950;
}

.approval-font {
    color: #66c950;
}
.status-font {
    color: #fff;
}
.badge-bypass {
    background-color: #9651ce  !important;
}

.rejected-status {
    color: #d25553;
    display: inherit;
    font-size: 4rem;
}
.bypass-circle {
    color: #9651ce;
    font-size: 4rem;
    display: inherit;

}
.withdraw-circle {
    color: #5d7af8;
    font-size: 4rem;
    display: inherit;

}
.bypass-font {
    color: #9651ce;
}
.withdraw-font {
    color: #5d7af8;
}

.rejected-font {
    color: #d25553;
}

.card-title-height{
    height: 35px;
    line-height: 35px;
}
.title-height{
    height: 35px;
    line-height: 25px;
}

.bypass-status {
    background: #af98da;
    font-size: 1.2rem;
    /* color: #5505be; */
    border: solid 1px rgb(162, 158, 158);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    z-index: 2;
    position: relative;
}


.to-be-submitted-status {
    /* background: #aef7ff;*/
    font-size: 1.2rem; 
    color: #035058;
    /* padding: 10px 10px;
    border: dotted 2px #5ae4f3;
    border-radius: 5px;
    min-width: 138px;
    text-align: center;
    z-index: 2;
    position: relative; */
    display: inherit;
    /* font-size: 4rem; */
}

.inner-card-header {
    background: #e4e4e4 !important;
}

.arrow-down {
    width: 30px;
    display: inline-block;
}

.bg-color {
    background: #f2f3f8;
}

.w-40 {
    width: 40%;
}

.drop-down {
    background: #f9f9f9cc;
    border-color: #f1e7e7;
    font-size: 1.2rem;
    padding: -7px 15px;
    height: 30px;
}

.green-color {
    color: #32a89e;
}

.tree-mode::after {
    content: "";
    position: absolute;
    border: dashed .5px rgb(162, 158, 158);
    width: 20px;
    top: 49%;
    left: 18.3%;  
    /* transform: translate(-50%, -50%); */
}

.tree-mode::before {
    content: "";
    position: absolute;
    border: dashed .5px rgb(162, 158, 158);
    height: 50%;
    top: 0%;
    left: 18.2%;
    /* transform: translate(-50%, -50%); */
}
.tree-mode-parent::before {
    content: "";
    position: absolute;
    border: dashed .5px rgb(162, 158, 158);
    height: 40%;
    left: 18.2%;
    bottom: 0;
}

.tree-mode {
    position: relative;
}

.z-index {
    z-index: 3;
    position: relative;
}

.center-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.score-background-color {
    background-color: #edf0fc;
}

.score-container {
    background: rgb(205, 205, 210);
    padding: 5px 10px;
    border-radius: .5rem;
    margin-bottom: .25rem;
}

.score-box {
    background: rgb(32, 88, 160);
}

.score-label {
    background: rgba(219, 231, 245, 0.95);
}

.score-text {
    font-size: 2rem;
    padding-bottom: .5rem;
}

.score-container p {
    margin-bottom: .5rem;
}

.scoring-row {
    max-height: 500px;
    overflow-y: auto;
}

.scoring-user {
    margin-bottom: 7px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.4rem;
    background: #eff2f7;
    padding: 10px;
}

.scoring-user i {
    color: #2058a0;
}

.scoring-row .card {
    border: 1px dotted #ebedf2;
}

.scoring-row .card-title {
    font-weight: 600;
    width: 92%;
}

.w-95 {
    width: 95%;
}

.comment-text-box {
    height: 70px;
}

.score-table tr {
    background-color: #f1f1f1;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .tree-mode:before {
        border: none;
    }
    .tree-mode:after {
        border: none;
    }
    .approved-status {
        width: 100%;
        padding: 2px
    }
    .warning-status {
        width: 100%;
    }
    .rejected-status {
        width: 100%;
        padding: 2px
    }
    .withdraw-status {
        width: 100%;
        padding: 2px
    }
    .bypass-status {
        width: 100%;
        padding: 2px
    }
    .to-be-submitted-status {
        width: 100%;
        padding: 2px
    }
}

@media (max-width: 576px) {}

.btn-budget-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.btn-budget-transparent {
    background: transparent;
    color: #404040 !important;
    border-left: 1px solid #ccc;
}

.btn-budget-transparent:hover {
    background-color: #e4eeff;
}

.btn-budget-transparent:first-of-type {
    border-left: none;
}

.font-color {
    color: #2058a0 !important;
}

.comment-icon {
    left: 15px !important;
    top: 24px !important;
    opacity: .4;
    font-size: 11px;
}

.comment-inner-body {
    background-color: #f1f1f1;
    padding: 8px 17px;
    margin-top: 4px;
    border-radius: 5px;
}
.comment-icon {
    opacity: .4;
    font-size: 11px;
}

.comment-message {
    display: flex;
    flex-flow: row nowrap;
}
.comment-message-body {
    flex: 1;
}

.comment-inner-head {
    display: flex;
    justify-content: space-between;
}
.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff !important;
}

.bg-color-cmnt {
    background-color: #effafb;
    border: solid 1px #dff5f9;
}

.table-scroll {
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.rounded-icon {
    width: 28px;
    height: 28px;
    background-color: rgba(44,119,244,.1);
    border-radius: 50%!important;
    text-align: center;
    line-height: 30px;
}

.out-line{
    position: absolute;
    right: 45px
}
