.add-period {
    margin-right: 10px;
    font-weight: 400;
    font-size: 1.3rem;
    color: #2c77f4!important;
}

.add-period i {
    margin-right: 3px;
    font-size: 1.2rem;
    background: #E8F0FB;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
}

.add-period:hover i {
    background: #2c77f4!important;
    color: #E8F0FB!important;
}

.icon-actions {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4!important;
}

.tableStyle>tbody>tr>td {
    vertical-align: initial;
}

.scrollable-table {
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
}

.scrollable-table thead {
    position: sticky !important;
    top: 0;
    z-index: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table-bordered {
    border: 0px solid #dee2e6;
    ;
}

::-webkit-scrollbar {
    width: .4em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

.clickable:hover {
    color: #0D6EFD;
    text-decoration: underline;
    cursor: pointer;
}

.btn-outline-danger, .btn-outline-secondary {
    padding: 0.3rem .75rem;
    font-size: 1.3rem;
    height: 27px;
}

.confirmation {
    display: none;
}

.flip-top {
    animation-name: flipFromTop;
    animation-duration: .7s;
}

.flip-bottom {
    animation-name: flipFromBottom;
    animation-duration: .7s;
}

@keyframes flipFromBottom {
    0% {
        opacity: 0;
        transform-style: preserve-3d;
        transform: rotateX(90deg);
    }
    100% {
        opacity: 1;
        transform-style: preserve-3d;
        transform: rotateX(0deg);
    }
}

@keyframes flipFromTop {
    0% {
        opacity: 0;
        transform-style: preserve-3d;
        transform: rotateX(-90deg);
    }
    100% {
        opacity: 1;
        transform-style: preserve-3d;
        transform: rotateX(0deg);
    }
}
