.r-mainhead h4 {
  border-bottom: none;
  padding: 0px 15px;
}

.card-inner {
  scroll-margin-top: 5rem;
}

.advanced-search .btnSkin {
  width: auto;
}

.table thead th {
  vertical-align: initial;
  /* border-bottom: 1px solid#26A69A !important; */
}

* {
  outline: none !important;
}

.ct-border {
  border: none !important;
}

.ct-border-none {
  border: none !important;
}

.li-disc {
  list-style-type: disc !important;
}

.bg-wht {
  background: white;
}

.modal .tableSkin th {
  background-color: transparent;
}

.advanced-list span {
  margin-right: 0;
}

.inactive-dropdown {
  border: none;
  -webkit-appearance: none;
  background: transparent;
  -moz-appearance: none;
  color: #333;
}

.inactive-dropdown::-ms-expand {
  display: none;
}

.list-on-select {
  background-color: #f1f1f1;
}

.list-style-none {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 400;
}

.chevron {
  color: #37857b;
  font-size: 1.1rem;
}

.warning-icon {
  color: #f5d903;
  font-size: 1.5rem;
}
.text-format{
  white-space: pre-line;
}
