.matrix-header {
    background-color: #f8f9fa;
}

.matrix-colspan-row {
    background-color: #eaeaea;
}

::ng-deep {
    .custom-qustnr {
        .nav-tabs {
            padding-right: 80px;
        }
    }
}

.btn-position {
    position: relative;
    bottom: 5px;
}

.btn-close {
    color: #000000;
}

.questionnaire-position {
    position: relative;
    bottom: 2px;
    right: 2px;
    border-radius: 0 3.75px 3.75px 3.75px;
}

.btn-delete-position {
    position: absolute;
    z-index: 1;
}

.material-icons-outlined {
    position: relative;
    top: 7px;
}

.delete-content-position {
    position: relative;
    bottom: 5px;
}

.btn-tertiary {
    font-size: 0.875rem;
    min-width: 5em;
    font-weight: 600;
    margin-top: -8px;
    letter-spacing: normal;
    cursor: pointer;
    background-color: rgba(44, 119, 244, .1);
    color: #2c77f4 !important;

    &:hover {
        background-color: rgba(44, 119, 244, .27);
        color: #043e9e !important;
    }
}

.no-data-card {
    height: 150px;
}

.table-top {
    margin-top: 24px;
}

.sticky-table-header {
    position: sticky;
    z-index: 8;
}

@media (min-width: 768px) {
    .custom-table-responsive {
        overflow: initial !important;
    }
}

.custom-table-responsive {
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        width: 4px;
        height: 4px;
    }
}
