<div class="card">
    <div class="card-header">
        <h4 class="card-title">Summary
            <span *ngIf="serviceRequest?.serviceRequestId" class="d-inline-block float-right icon-hover">
                <a class="tooltip "><i class="fa fa-info-circle fa-med hand-cursor" aria-hidden="true"></i>
                    <div class="tooltiptext-right card card-inner p-15 text-left">
                        <span class="font-cv">Created By</span>
                        <span class="font-cv font-weight-bold">{{serviceRequest?.createUserFullName}}
                            on {{serviceRequest?.createTimestamp | dateFormatterWithTimeZone : 'long'}} </span>
                        <span class="font-cv">Last Updated By</span><span
                            class="font-cv font-weight-bold">{{serviceRequest?.updateUserFullName}}
                            on {{serviceRequest?.updateTimestamp | dateFormatterWithTimeZone : 'long'}}</span>
                    </div>
                </a>
            </span>
        </h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="gridSkin">
                <div class="row">
                    <div *ngIf="serviceRequest?.serviceRequestPriority?.description" class="col-lg-4 col-md-12 col-12">
                        <label class="d-block">Priority</label>
                        <span>{{serviceRequest?.serviceRequestPriority?.description}}</span>
                    </div>
                    <div *ngIf="serviceRequest?.unit?.unitName" class="col-lg-8 col-md-12 col-12">
                        <label class="d-block">Department</label>
                        <span>{{serviceRequest?.unit?.unitName}}</span>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <label class="d-block">Category</label>
                        <span>{{serviceRequest?.serviceRequestModule?.description}}</span>
                    </div>
                    <div class="col-lg-8 col-md-12 col-12">
                        <label class="d-block">Type</label>
                        <span>{{serviceRequest?.serviceRequestType?.description}}</span>
                    </div>
                    <div *ngIf="serviceRequest?.moduleDetails?.moduleCode" class="col-12">
                        <app-linked-module-card [moduleDetails]="serviceRequest?.moduleDetails">
                        </app-linked-module-card>
                    </div>
                    <div class="col-12">
                        <label class="d-block">Subject</label>
                        <span>{{serviceRequest?.subject}}</span>
                    </div>
                    <div *ngIf="serviceRequest.serviceRequestType?.helpText" class="col-12">
                        <label>Help URL</label>
                        <a class="anchor-link d-sm-block" [href]="'//' + serviceRequest.serviceRequestType?.helpText" target="_blank">
                            {{(serviceRequest.serviceRequestType?.helpText.length>120) ? (serviceRequest.serviceRequestType?.helpText |
                            slice:0:120)+'...' : (serviceRequest.serviceRequestType?.helpText)}}
                        </a>
                    </div>
                    <div class="col-12">
                        <label class="d-block">Description</label>
                        <span *ngIf="serviceRequest?.description">{{serviceRequest?.description}}</span>
                        <span *ngIf="!serviceRequest?.description" class="noDataExists">No description</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
