.potential-badge {
    background-color: #997404;
    color: white;
    border: #997404;
}

.coi-badge {
    font-weight: 500;
    padding: 3px 9px;
    font-size: 0.875rem !important;
    border-radius: 50rem !important;
}

.green-badge {
    background-color: #4CB57D;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.badgeFont {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 5px;
}

.yellow-badge {
    background-color: rgba(255, 193, 7, 1);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.blue-badge {
    background-color: #17a2b8 !important;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.red-badge {
    background-color: rgba(220, 53, 69, 1) !important;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.review-status-badge {
    background-color: #FF5733 !important;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.grey-badge {
    background-color: #7f7b7b !important;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.brown-badge {
    background-color: #997404;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.orange-badge {
    background-color: #FF4500 !important;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.bright-red-badge {
    background-color: #e80202 !important;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.green-badge-for-slider {
    @extend .coi-badge;
    background-color: #4CB57D !important;
    color: #fff;
}


.red-badge-for-slider {
    @extend .coi-badge;
    background-color: rgba(220, 53, 69, 1) !important;
    color: #fff;
}

.brown-badge-for-slider {
    @extend .coi-badge;
    background-color: #997404;
    color: white;
}

.alert .info-icon {
    height: 16px;
    width: 16px;

    &.material-icons {
        font-size: 1rem;
    }
}

.text-bg-light-success {
    background-color: #e4f3e5;
    color: #277b2f;
}

.text-bg-light-danger {
    background-color: #fae4e5;
    color: #d45a5a;
}

.text-bg-light-warning {
    background-color: #f7f2e6;
    color: #d9a300;
}

.border-light-success {
    border: 1px solid #3bb948;
    border-radius: .5rem;
}

.border-light-danger {
    border: 1px solid #d45a5a;
    border-radius: .5rem;
}

.border-light-warning {
    border: 1px solid #d9a300;
    border-radius: .5rem;
}

.coi-circle-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.coi-success-icon {
    color: #0b8a18;
}

.coi-warning-pill {
    color: #c39200;
    border: 1px solid #c39200;
    display: inline-block;
}

.coi-danger-pill {
    color: #d45a5a;
    border: 1px solid #d45a5a;
    display: inline-block;
}

.coi-confirm-badge {
    color: #fff;
    border-radius: 2rem;
    background-color: #1a8754;
}

.coi-sort-filter-active {
    border: 2px solid #54BF5B !important;
    background: #F5FEF5 !important;
    
    mat-icon, .coi-sort-filter-active-icon {
        color: #52bf5a;
    }
}

.coi-status-badge {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #7f7b7b;
}

.coi-text-purple-badge {
    color: #6f42c1;
    border-radius: 2rem;
    padding: 5px 20px;
    font-weight: 500;
    background-color: var(--theme-body-bg-color);
}

.coi-text-red-badge {
    color: #d45a5a;
    border-radius: 2rem;
    padding: 5px 20px;
    font-weight: 500;
    background-color: var(--theme-body-bg-color);
}
