.btn-primary {
    --bs-btn-color: var(--theme-primary-color-inverse);
    --bs-btn-bg: var(--theme-primary-color) !important;
    --bs-btn-border-color: var(--theme-primary-color) !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--theme-primary-color) !important;
    --bs-btn-disabled-border-color: var(--theme-primary-color) !important;
}

  // icon color & hovering
  // .btn-primary-icon:hover {
  //   background-color: #E2F1FF;
  //   color: #007DEC !important;
  // }
  
  .btn-primary-icon {
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: -8px;
    letter-spacing: normal;
    cursor: pointer;
    background-color: transparent;
    color: #007DEC !important;
    border: none;
    border-radius: 4px;
    &:hover, &:focus {
      background-color: #E2F1FF;
    }
    mat-icon {
      color: #007DEC !important;
    }
  }

    .btn-outline-secondary {
      padding: .375rem 0.75rem !important;
      color: #007DEC;
      border: 1px solid #007DEC;
      font-weight: 500;
  
      .coi-btn-img-svg {
        filter: invert(36%) sepia(48%) saturate(4075%) hue-rotate(191deg) brightness(95%) contrast(101%);
      }
  
      &:disabled {
        border: 1px solid #83BFF6 !important;
        color: #83BFF6 !important;
  
        .coi-btn-img-svg {
          filter: invert(69%) sepia(51%) saturate(2414%) hue-rotate(187deg) brightness(113%) contrast(93%);
        }
      }
    }
  
    .btn-outline-secondary:not(:disabled) {
  
      &:hover,
      &:focus {
        color: #fff;
        border-color: #007DEC;
        background-color: #007DEC;
  
        .coi-btn-img-svg {
          filter: invert(100%) sepia(0%) saturate(7477%) hue-rotate(183deg) brightness(94%) contrast(109%);
        }
      }
    }

  .coi-icon-btn {
    @extend .fs-14;
    @extend .fw-600;
    display: inline-flex;
    align-items: center;
    letter-spacing: normal;
}

  .coi-btn-tertiary {
    background-color: var(--theme-electric-blue);
    color: var(--theme-primary-color);
}

.coi-btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: 0.5rem;
  &:hover {
    color: var(--theme-primary-color);
    border-color: #F1FAFF;//var(--bs-primary-light);
    background-color: var(--theme-primary-color-light);//#F1FAFF;//var(--bs-primary-light) !important;
  }
}

.coi-sort-filter-btn {
  border: 2px solid #f1f1f1 !important;
  &:hover {
    border: 2px solid #54BF5B !important;
  }
  &:focus {
    border: 2px solid #54BF5B !important;
  }
}

.btn-none {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  transition: transform 0.1s ease;
}

.btn-outline-grey {
  color: #007DEC;
  border: 1px solid #007DEC;
  background-color: white;
  font-weight: 500;
  img {
    filter: invert(36%) sepia(48%) saturate(4075%) hue-rotate(191deg) brightness(95%) contrast(101%);
  }
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: #007DEC;
    color: white;
    border: 1px solid #007DEC;

    .btn-outline-grey-custom-text {
      color: white !important;
    }

    img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(312deg) brightness(105%) contrast(106%);
    }
  }

  &.btn-outline-grey-active {
    background-color: #007DEC !important;
    color: white !important;
    border: 1px solid #007DEC;
    box-shadow: 0 0 6px 0px rgb(0 125 236 / 35%) !important;

    .btn-outline-grey-custom-text {
      color: white !important;
    }
  }

  &:disabled {
    border: 1px solid #83BFF6 !important;
    color:  #83BFF6  !important;
  }

}

.coi-table-sort-btn:hover .coi-table-sort-icon,
.coi-table-sort-btn:focus .coi-table-sort-icon {
    color: var(--theme-primary-color) !important;
}

.coi-btn-attachment-delete {
  position: absolute;
  top: 5px;
  right: 5px;
}

.coi-btn-halo {
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #2c77f41a;
  color: #2c77f4 !important;
  border: none;
  border-radius: .5rem;
  padding: .25rem .5rem;

  &:hover {
    background-color: #2c77f445;
    color: #043e9e !important;
  }

  &:focus {
    background-color: #2c77f445;
    color: #043e9e !important;
    box-shadow: 0 0 0 2px #007bff00 !important;
  }
}

.coi-btn-light {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--theme-text-gray-700) !important;
    background-color: white;
    border: none;
    outline: none;

    &:hover{
        color: var(--theme-text-gray-900) !important;
        background-color: #f5f5f5de;
    }

    &:focus{
        color: var(--theme-text-gray-900) !important;
        background-color: #f5f5f5;
    }
}

.coi-btn-sm {
  padding: 0.25rem 0.6rem !important;
  border-radius: .25rem !important
}

.coi-btn-icon-sm {
  padding: 0.4rem 0.3rem !important;
  border-radius: .25rem !important
}

.more-action {
  padding-left: 20px !important;
  padding-right: 20px !important;
  &:hover {
    background-color: #E2F1FF !important;
    color: #007DEC !important;

    span,
    mat-icon {
      color: #007DEC !important;
    }
  }
}
