$gap: 0.875rem;

//Cards

// .card {
//     background-color: var(--theme-card-bg-color) !important;
//     border: var(--theme-card-border) !important;
//     box-shadow: var(--theme-card-box-shadow);

//     .card-header {
//             display: flex;
//             justify-content: space-between;
//             align-items: stretch;
//             flex-wrap: wrap;
//             color: var(--bs-card-cap-color);
//             background-color: var(--theme-card-bg-color);
//             border-bottom: 1px solid var(--theme-card-border-color);
//         .card-title {
//             display: flex;
//             align-items: center;
//             .card-label {
//                 margin: 0 .75rem 0 0;
//                 flex-wrap: wrap;
//             }
//         }
//         .card-title.flex-column {
//             align-items: flex-start;
//             justify-content: center;
//         }
//         .card-toolbar {
//             display: flex;
//             align-items: center;
//             flex-wrap: wrap;
//         }
//     }
//     .card-footer {
//         background-color: var(--theme-card-bg-color);
//     }
// }

.card, .card-header, .card-body {
    border-radius: .5rem;
}

.coi-card-overview {
    background-color: var(--theme-card-body-bg-color) !important;
    box-shadow: -1px 3px 50px -17px rgb(0 0 0 / 22%);
    border-radius: 1.250rem;
    border: 0;
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        height: 49px;
        background-color: transparent;
        border: 0;
        padding: 1rem 1.875rem !important;

        .card-toolbar {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .card-body {
        padding: 1rem 1.875rem !important;
        border-top: var(--theme-card-body-border);
        // border-bottom: var(--theme-card-body-border);
    }

    .card-footer {
        background-color: transparent;
        border: 0;
        padding: 1rem 1.875rem !important;
    }

    .list-group {

        // &.border-dashed {
        //     border: 1px dashed #DBDFE9;
        //     border-radius: 10px;
        // }
        &.border-dashed {
            border-width: 1px;
            border-style: dashed !important;
            border-color: var(--theme-border-color);
            border-radius: 10px;
        }

        .list-group-item {
            border: none;
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.card-header-border-none {
    .card-header {
        border: none !important;
    }
}

.coi-card-regular {
    background-color: var(--theme-card-bg-color) !important;
    border: var(--theme-card-border) !important;
    box-shadow: var(--theme-card-box-shadow);
    margin-top: 0.5rem;
    font-size: var(--theme-font-size);
    line-height: var(--theme-line-height);
    border-radius: .5rem;

    &.border-0, &.border-none {
        border: none !important;
    }

    .card-header {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
            // min-height: 70px;
            color: var(--bs-card-cap-color);
            background-color: var(--theme-card-bg-color);
            border-bottom: var(--theme-header-border);
        .card-title {
            display: flex;
            align-items: center;
            // margin: .5rem;
            // margin-left: 0;
            .card-label {
                margin: 0 .75rem 0 0;
                flex-wrap: wrap;
            }
        }
        .card-title.flex-column {
            align-items: flex-start;
            justify-content: center;
        }
        .card-toolbar {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .card-body {
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x) !important;
    }
    .card-footer {
        background-color: var(--theme-card-bg-color);
        border-top: 1px solid var(--theme-body-bg-color);

        .badge:hover,
        .badge:focus {
            background-color: var(--theme-blue) !important;
            color: #fff !important;
        }
    }

    &.coi-card-none {
        padding: 0 !important;
        border: none !important;
        box-shadow: none !important;
        .card-header, .card-body, .card-footer {
            padding: 0 !important;
            border: none !important;
            box-shadow: none !important;
        }
    }

}

.coi-card-normal {
    background-color: var(--theme-card-bg-color) !important;
}

.coi-card-compact {
    background-color: var(--theme-card-bg-color) !important;
}

// new card design
.coi-card-lite {
    background-color: var(--theme-card-body-bg-color) !important;
    box-shadow: -1px 3px 50px -17px rgb(0 0 0 / 22%);
    // border-radius: 1.250rem;
    border: var(--theme-card-body-border);
    .card-header {
        padding: 1rem 1.875rem !important;
    }
    .card-body {
        padding: 1rem 1.875rem !important;
    }

  .border-dashed {
    border-style: dashed !important;
    border-color: var(--theme-text-gray-300);
  }

  .flex-stack {
    justify-content: space-between;
    align-items: center;
}

.mb-6 {
    margin-bottom: 1rem !important;
}

.symbol-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: var($--theme-card-symbol-bg-color);
}
.symbol-circle .mat-icon {
    -webkit-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: auto !important;
    width: auto !important;
    overflow: auto !important;
    color: var($--theme-card-symbol-color);
}
}

.coi-card-expanded {
    background-color: var(--theme-card-bg-color) !important;
    border: var(--theme-card-border) !important;
    box-shadow: var(--theme-card-box-shadow);
    border-radius: .5rem;

    .card-header {
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            color: var(--bs-card-cap-color);
            background-color: var(--theme-card-bg-color);
            border-bottom: var(--theme-header-border);
            border-radius: .5rem !important;
        .card-title {
            display: flex;
            align-items: center;
            .card-label {
                margin: 0 .75rem 0 0;
                flex-wrap: wrap;
            }
        }
        .card-title.flex-column {
            align-items: flex-start;
            justify-content: center;
        }
        // .card-toolbar {
        //     display: flex;
        //     align-items: center;
        //     flex-wrap: wrap;
        // }
    }
    .card-body {
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x) !important;
    }
    .card-footer {
        background-color: var(--theme-card-bg-color);
    }
}

//boxes

.coi-box-red {
    background-color: var(--theme-box-red-bg-color) !important;
    border-style: dashed !important;
    border-width: 1px;
    border-radius: 0.5rem;

    .coi-field-set {
        position: absolute;
        top: -13px;
        background: var(--theme-box-red-bg-color);//#fff7f1;
        padding: 0px 10px;
        border: solid 1px #b5b6b7;
        border-radius: 5px;
        left: 10px;
        border-style: dashed !important;
    }

    .card-header,
    .card-body {
        background-color: var(--theme-box-red-bg-color) !important;
        border-radius: 0.5rem;
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }

    .card-body {
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x) !important;
    }

    .coi-box-red-footer {
        background-color: var(--theme-box-red-bg-color) !important;
        border-top: var(--bs-border-width) dashed #b5b6b7 !important;
    }

}

.coi-box-purple {
    background-color: var(--theme-box-purple-bg-color) !important;
    border-style: dashed !important;
    border-width: 1px;
    border-radius: 0.5rem;
    border-color: #d4d2df
}

.coi-box-status {
    background: #f1faff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px dashed #00b2ff;
    @media (min-width: 960px) {
        width: 100%;
        display: flex;
    }
}

/* no information card styles */
.no-data-container {
    padding: 30px;
    margin-top: 7px;
    text-align: center;
    background-color: var(--theme-card-bg-color) !important;
}

.no-data-container .no-data-icon-outer {
    display: inline-block;
    width: 85px;
    height: 85px;
    margin-bottom: 4px;
    border-radius: 50%;
    background: #eff0f5;
}

.no-data-container .no-data-icon-outer .no-data-icon {
    display: inline-block;
    margin-top: 18px
}

.no-data-container .no-data-icon-outer .no-data-icon .no-file {
    margin-top: 11px;
    color: gray;
}

.no-data-container .no-data-icon-outer .no-data-icon i:nth-child(1) {
    font-size: 50px;
    color: #d0d0d0 !important
}

.no-data-container .no-data-icon-outer .no-data-icon i:nth-child(2) {
    position: absolute;
    left: -5px;
    bottom: -4px;
    font-size: 25px;
    background: #eff0f5;
    border-radius: 50%;
    padding: 2px;
    color: #d0d0d0 !important
}

.no-data-container h5,
.no-data-container h3,
.no-data-container h4 {
    color: #a4a4a4;
    font-size: 1rem;
}

/* no information card styles */

.coi-modal-notch-ribbon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    flex-shrink: 0;
    min-width: 100px;
    height: 27px;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: .8rem 0;
    padding: 10px 18px;
}

.coi-card-header-notch-container {
    position: relative;
    margin-top: calc(-1 * var(--bs-card-cap-padding-y));
    margin-left: calc(-1 * var(--bs-card-cap-padding-x));
}

.coi-card-body-notch-container {
    position: relative;
    margin-top: calc(-1 * var(--bs-card-spacer-y));
    margin-left: calc(-1 * var(--bs-card-spacer-x));
}

.coi-card-notch-ribbon-container {
    position: relative;
    margin-top: -1rem;
    margin-left: -1rem;
}

.coi-card-notch-ribbon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    flex-shrink: 0;
    min-width: 80px;
    height: 27px;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: .5rem 0;
    padding: 10px 18px;
}

.status-pill {
    position: absolute;
    left: 14px;
    top: -12px;
    background-color: white;
    border-radius: 1rem !important;
    font-weight: 600 !important;
    padding: 1px 0.5rem;
    border: 1px solid #dee2e6 !important;
    font-size: 0.8125rem;
    letter-spacing: 0.1px;
}

// new disclosure create steps nav
.steps-outer {
    background-color: #fff;
    border: solid 1px #DEE2E6;
    border-radius: .5rem !important;
    display: flex;
    align-items: stretch;
    padding: 0 1rem;

    .steps {
        list-style: none;
        display: inline-flex;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 5px;
        }

        li {
            display: inline-block;
            flex-shrink: 0;
        }

        .active-arrow {
            color: #007DEC;
        }

        .step-pills {
            display: inline-flex;
            align-items: center;
            border: solid 1px #ccc;
            padding: 0.3rem 0.5rem;
            border-radius: 30px;
            background: #fff;
            text-decoration: none !important;

            * {
                cursor: pointer;
            }

            &.active-tab {
                background: var(--theme-blue);
                border-color: var(--theme-blue);
                box-shadow: 0 0 6px 0px rgb(0 125 236 / 35%);

                .plls-text {
                    color: #ffffff;
                    font-weight: bold;
                }

                .plls-icon {
                    background: #4da5f3;
                }

                &:hover {
                    background: var(--theme-blue);
                    border-color: var(--theme-blue);
                    box-shadow: 0 0 6px 0px rgb(0 125 236 / 35%);
                }

                &:focus {
                    background: var(--theme-blue);
                    box-shadow: 0 0 6px 0px rgb(0 125 236 / 35%);
                    border-color: var(--theme-blue);
                }

                &:hover .plls-text,
                &:focus .plls-text {
                    color: #ffffff;
                    font-weight: bold;
                }

                &:hover .plls-icon,
                &:focus .plls-icon {
                    background: #4da5f3;
                }
            }

            &.completed-step {
                background: #F2F8FF;
                border-color: var(--theme-blue);
                box-shadow: 0 0 6px 0px rgb(0 125 236 / 35%);

                .plls-text {
                    color: var(--theme-blue);
                    font-weight: bold;
                }

                .plls-icon {
                    background: var(--theme-blue);
                }

                &:hover {
                    background: var(--theme-blue);
                    border-color: var(--theme-blue);
                    box-shadow: 0 0 6px 0px rgb(0 125 236 / 35%);
                }

                &:focus {
                    background: var(--theme-blue);
                    box-shadow: 0 0 6px 0px rgb(0 125 236 / 35%);
                    border-color: var(--theme-blue);
                }

                &:hover .plls-text,
                &:focus .plls-text {
                    color: #ffffff;
                    font-weight: bold;
                }

                &:hover .plls-icon,
                &:focus .plls-icon {
                    background: #4da5f3;
                }
            }

            &:hover {
                background: var(--theme-blue);
                border-color: var(--theme-blue);
                cursor: pointer;
            }

            &:focus {
                background: var(--theme-blue);
                cursor: pointer;
                box-shadow: 0 0 6px 0px rgb(0 125 236 / 35%);
                border-color: var(--theme-blue);
            }

            &:hover .plls-text,
            &:focus .plls-text {
                color: var(--theme-white);
                font-weight: bold;
            }

            &:hover .plls-icon,
            &:focus .plls-icon {
                background: #4da5f3;
            }

            .plls-icon {
                display: inline-flex;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: #8A8888;
                align-items: center;
                justify-content: center;
                color: #fff;

                .mat-step-icon {
                    font-size: 1rem !important;
                }
            }

            .plls-text {
                font-weight: 400;
                padding-left: .5rem;
                padding-right: .5rem;
                color: #333;
            }
        }

        .arrow-right {
            font-size: 1.5rem;
            padding: 0.5rem;
        }
    }
    // additional tabs
    .coi-step-tab-btn {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        border: solid 1px #ccc;
        padding: 0.3rem 0.5rem;
        border-radius: 30px;
        background: #fff;

        .coi-step-tab-icon {
            display: inline-flex;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #8A8888;
            align-items: center;
            justify-content: center;
            color: #fff;

            .mat-step-icon {
                font-size: 1rem !important;
            }
        }

        .coi-step-tab-text {
            position: relative;
            display: inline-block;
            font-weight: 400;
            padding-left: .5rem;
            padding-right: .5rem;
            color: #333;

            &::before {
                content: attr(coi-step-tab-text);
                display: block;
                height: 0;
                font-weight: bold;
                visibility: hidden;
                overflow: hidden;
            }
        }

        &:hover {
            background: var(--theme-blue);
            border-color: var(--theme-blue);

            .coi-step-tab-icon {
                background: #4da5f3;
            }

            .coi-step-tab-text {
                color: var(--theme-white);
                font-weight: bold;
            }
        }

        &.active {
            background: var(--theme-blue);
            border-color: var(--theme-blue);

            .coi-step-tab-icon {
                background: #4da5f3;
            }

            .coi-step-tab-text {
                color: var(--theme-white);
                font-weight: bold;
            }
        }

        &:focus {
            background: var(--theme-blue);
            border-color: var(--theme-blue);
            box-shadow: 0 0 6px 0px rgb(0 125 236 / 35%);

            .coi-step-tab-icon {
                background: #4da5f3;
            }

            .coi-step-tab-text {
                color: var(--theme-white);
                font-weight: bold;
            }
        }

        &.coi-active-step-tab {
            background: var(--theme-blue);
            border-color: var(--theme-blue);
            box-shadow: 0 0 6px 0px rgb(0 125 236 / 35%);

            .coi-step-tab-icon {
                background: #4da5f3;
            }

            .coi-step-tab-text {
                color: var(--theme-white);
                font-weight: bold;
            }
        }

    }
}

@media (max-width: 1600px) {
    .steps-outer {
        .steps {
            .step-pills {
                .plls-text {
                    padding-left: .5rem;
                    padding-right: 0.2rem;
                }
            }
            .arrow-right {
                font-size: 1.3rem;
                padding: 0.2rem;
            }
        }

        .coi-step-tab-btn {
            .coi-step-tab-text {
                padding-left: .5rem;
                padding-right: .1rem;
            }
        }
    }
}
@media (max-width: 1399px) {
    .steps-outer {
        .steps {
            .step-pills {
                padding: .5rem;
                // border-radius: 50%;
            }
        }

        .coi-step-tab-btn {
            padding: .5rem;
            border-radius: 50%;

        }
    }
}

@media (min-width: 1400px) {
    .steps-outer .coi-step-tab-btn {
        border: none !important;
    }
}

.high-risk {
    color: #ff0000;
}

.medium-risk {
    color: #ff8c00;
}

.low-risk {
    color: #1aac3e;
}

.coi-card-highlight-bg {
    background-color: #fff8dd !important;
}

.coi-card-highlight {
    border: 1px dashed #ffc700 !important;
    @extend .coi-card-highlight-bg;
    .card, .card-header, .card-body {
        @extend .coi-card-highlight-bg;
    }
}

.coi-card-highlight-footer {
    @extend .coi-card-highlight;
    .card-footer {
        @extend .coi-card-highlight-bg;
        border-top: 1px dashed #ffc700 !important;
    }
}

.coi-card-blue-dark {
    color: var(--theme-blue-dark);
    background-color: var(--theme-gray-lighter);
}

.count-badge{
    background: #7b68ee;
    color: #fff;
}

.card-light-gray-border {
    border: 1px solid #E3E3E3 !important;
}

.attachment-icon-container {
    background-color: #DEE5F0;
    mat-icon {
        color: #0948B3 !important;
    }
}

.matching-card {
    border: 1px dashed var(--theme-entity-matching-card-border-color);
    background-color: var(--theme-entity-matching-card-bg-color);
    color: var(--theme-entity-matching-card-border-color);
}

.coi-card-bg-body,
.coi-card-bg-body .card-header,
.coi-card-bg-body .card-body {
    background-color: var(--theme-body-bg-color) !important;
}

.coi-hierarchy {
    .coi-hierarchy-container {
        display: flex;
        min-width: 250px;
        width: 100%;
        padding-left: 40px;
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        // For all child elements except the first
        &:not(:first-child)::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 2.5px;
            background-color: #d3d3d3;
            top: 30px;
            left: 20px;
        }

        &:not(:first-child)::after {
            content: '';
            position: absolute;
            width: 2.5px;
            height: calc(32.5px + #{$gap});
            background-color: #d3d3d3;
            top: -#{$gap};
            left: 20px;
        }

        &:first-child {
            padding-left: 0;
            min-width: 250px;
        }

        &:not(:last-of-type) {
            &::after {
                height: calc(100% + #{$gap}) !important;
            }
        }

        .coi-hierarchy-node {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: #{$gap};
            width: 100%;
            z-index: 2;

            .coi-hierarchy-project-icon {
                transform: scale(0.9);
            }

            .coi-hierarchy-node-link {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                height: 65px;
                background: white;
                outline: none;
                border-radius: .4rem;
                padding: 0.5rem 0.875rem;
                border: 1px solid #d3d3d3;
                color: var(--theme-text-gray-700);
                font-size: var(--theme-font-size);
                font-weight: 400;
                z-index: 3;

                &:hover {
                    font-weight: 600;
                    background-color: #fff8dd;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
                }

                &:focus {
                    font-weight: 600;
                    background-color: #f7edc2;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
                }

                &.coi-hierarchy-node-link-active {
                    font-weight: 600;
                    color: var(--theme-text-gray-800) !important;
                    border: 1px dashed #ffc700;
                    background-color: #fff8dd;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

.coi-card-grey-border {
    background-color: var(--theme-gray-light) !important;
    border: 2px solid #efefef !important;
}

.coi-entity-icon-bg {
    border-radius: 50%;
    background-color: #dfe5f0 !important;
    padding: 7px;
}

.coi-coloured-icons {
    color: var(--theme-entity-icon-color) !important;
}

.coi-icon-bg {
    border-radius: 50%;
    background-color: var(--theme-entity-icon-bg-color);
    padding: 7px;
}

.coi-light-gray-border {
    border: 1px solid #E3E3E3 !important;
}

.coi-select-all-section {
    min-height: 54px;
    background-color: #e4ebf2;
}

.coi-selected-border {
    border-color: #007dec !important;
}

.coi-file-chip-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: .25rem;

    .coi-file-chips {
        display: inline-flex;
        align-items: center;
        font-size: 0.75rem;
        white-space: nowrap;
        padding: .25rem .5rem;
        border-radius: .5rem;
        background: gainsboro;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.coi-reviewer-pill-container {
    display: inline-block;
    font-size: 0.75rem;
    padding: 3px 10px;
    margin: 5px 5px 5px 0px;
    border-radius: 15px;
    background: #f1f1f1;
    border: 1px solid #ebe8e8;

    .coi-reviewer-pill {
        background: none;
        padding: 0;
        margin: 0;
    }

    .coi-reviewer-pill-success {
        @extend .coi-reviewer-pill;
        color: #4cb57d;
    }

    .coi-reviewer-pill-warning {
        @extend .coi-reviewer-pill;
        color: #ac8100;
    }

    .coi-reviewer-pill-info {
        @extend .coi-reviewer-pill;
        color: #007DEC;
    }
}

.coi-card-section {
    border: none !important;
    color: var(--theme-text-gray-800);
    background-color: var(--theme-card-bg-color) !important;

    .coi-section-card-header-icon {
        width: 30px;
        height: 30px;
        background-color: var(--theme-text-gray-800) !important;
        border-radius: .3rem;
        color: white;
        mat-icon {
            color: white !important;
        }
    }
    .card-header, .card-body, .card-footer {
        padding: .75rem !important;
        background-color: var(--theme-card-bg-color) !important;
    }

    .card-header:empty, .card-body:empty, .card-footer:empty {
        display: none;
        padding: 0 !important;
        border: none !important;
        background-color: transparent !important;
    }

    &.coi-card-blue-light {
        border: 2px solid #67AAF1 !important;

        .card-header {
            background-color: #DDECFC !important;
        }
        .card-body {
            padding: 0 !important;
        }
    }

    &.coi-entity-section-card {
        @extend .coi-card-grey-border;

        .coi-section-card-header-icon {
            @extend .coi-entity-icon-bg;
            @extend .coi-coloured-icons;
            width: 30px;
            height: 30px;
            padding: 0;

            mat-icon {
                @extend .coi-coloured-icons;
            }
        }

        .card-header, .card-body, .card-footer {
            padding: .75rem !important;
            border: none !important;
            background-color: inherit !important;
        }

        .card-body {
            padding-top: 0 !important;
        }
    }

    &.coi-card-grey-light {
        border: 1px solid #dbd9d9a6 !important;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
        .coi-section-card-header-icon {
            @extend .coi-entity-icon-bg;
            @extend .coi-coloured-icons;
            width: 35px;
            height: 35px;
            padding: 0;

            mat-icon {
                @extend .coi-coloured-icons;
            }
        }
        .card-header {
            border: none !important;
            background-color: #f8f8f8 !important;
        }
        .card-body {
            background-color: var(--theme-card-bg-color) !important;
        }
    }

    &.coi-card-section-body-p-0 {
        .card-body {
            padding: 0 !important;
        }
    }

    &.coi-home-card-scroll {
        .card-body {
            max-height: 285px;
            overflow: auto;
            @extend .scrollbar-sm;
        }
    }

    &.coi-card-section-body-p-3 {
        .card-body {
            padding: 1.25rem !important;
        }
    }

    &.coi-card-shadow-none {
        box-shadow: none !important;
    }
}

.coi-invalid-feedback-border {
	border: 1px solid var(--bs-form-invalid-color) !important;
}

.coi-border-grey {
    border: solid  1px #e9e9e9 !important;
}

.coi-icon-light-rounded {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #007dec;
    border-radius: 50%;
    background-color: #d5dce3 !important;
}

.coi-bg-body {
    background-color: var(--theme-body-bg-color) !important;
}

.coi-bg-gray {
    background-color: var(--theme-gray-medium) !important;
}

.coi-bg-gray-light {
    background-color: var(--theme-gray-light) !important;
}

.coi-bg-blue-light {
    background-color: var(--theme-blue-light) !important;
}

.coi-bg-complete {
    background-color: #E7F9E8;
    border: 1px solid #c1d9c2;
}

.coi-comparison-bg {
    padding: .1rem .6rem;
    border-radius: 0.4rem;
}

.coi-comparison-bg-red {
    color: #4b5675 !important;
    background-color: #ffd9d9 !important;
    text-decoration: line-through;
}

.coi-comparison-bg-green {
    color: #4b5675 !important;
    background-color: #d5f5dc !important;
}

.coi-comparison-container {
    ins {
        text-decoration: none;
        color: #26932a;
        @extend .coi-comparison-bg-green;
    }

    del {
        text-decoration: none;
        color: #9f2828;
        @extend .coi-comparison-bg-red;
    }
}

.coi-side-highlight-card {
    color: #052C65;
    border-left: 4px solid #007dec;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.coi-vertical-divider {
    border-left: 2px solid #48647f82;
    padding-top: 2px;
    height: 18px;
    display: inline-block;
}

.coi-custom-shadow {
  border: var(--theme-card-border);
  box-shadow: var(--theme-card-box-shadow);
}

.coi-card-shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.coi-relationship-pill-container {
    display: flex;
    flex-wrap: wrap;

    .coi-relationship-pill {
        display: flex;
        align-items: center;

        .coi-relationship-pill-text {
            font-size: 0.875rem;
            font-weight: 500;
            margin-right: .25rem;
            color: var(--theme-text-gray-700) !important;

            .coi-sfi-icon {
                width: 15px;
                height: 15px;
                margin-left: 4px;
                filter: invert(33%) sepia(13%) saturate(1178%) hue-rotate(187deg) brightness(92%) contrast(88%);
            }

        }
    }
    // For adding separator ' | ' dynamically.
    .coi-relationship-pill:not(:first-of-type)::before {
        content: '|';
        font-size: 1.1rem;
        margin: 0 6px;
        color: var(--theme-text-gray-400) !important;
    }
}

.table-responsive, .scrollbar-sm {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-track {
        width: 6px;
        height: 6px;
      }
}
