   .legend-scale ul {
     margin: 0;
    padding: 0;
    text-align: right;
    margin-top: 5px;
   }
   .legend-scale ul li {
     font-size: 80%;
     list-style: none;
     margin-left: 0;
     line-height: 18px;
     margin-bottom: 2px;
   }
   ul.legend-labels li span {
     display: block;
     float: left;
     height: 16px;
     width: 20px;
     margin-right: 5px;
     margin-left: 0;
     border-radius: 3px;
   }
   .legend-source {
     font-size: 70%;
     color: #999;
     clear: both;
   }
   ul.legend-labels li {
     display: inline-block;
     margin-right: 15px;
   }
   .anchor-link-highlighted {
     padding: 2px 12px;
     font-size: 1.2rem;
     background-color: rgb(255, 255, 255);
     color: #1e847b;
     border-radius: 20px;
     border: none;
   }
   .anchor-link-highlighted.active, .anchor-link-highlighted:hover {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.12 )!important;
    outline: none;
   }
  .table-bordered {
     border-collapse: inherit;
     border-spacing: 1px;
  }
  .table-calendar { 
    overflow-y: auto; 
    height: 480px;  
  }
  .table-calendar thead th { 
    position: sticky; 
    top: 0;
    background: #f6f9fc!important;
  }
  .calendar-ordinal {
    vertical-align: super;
    margin-left: -3px;
    font-size: 1.2rem;
  }