
.grey-info {
    background: #EEEEEE;
    color: #202c2e;
    font-size: 0.875rem;
    font-weight: 400;
    border: 1px solid #caced2;
}

// ::ng-deep .searchButton {
//     left: 5px !important;
//     color: red !important;
// }

::ng-deep .search-outer input.is-invalid + .searchButton {
    right: 30px !important;
}
