<div class="card-widget-container mb-3">
  <div class="card card-inner card-widget-box h-100">
    <div class="card-header">
      <h4 class="card-title">
        Accessibility
         <!-- <button class="updown-arrow" (click)="themesWidgetOpen = !themesWidgetOpen">
          <i [ngClass]=" themesWidgetOpen ? 'fa fa-angle-double-up': 'fa fa-angle-double-down' " class="fa-large"></i>
        </button> -->
      </h4>
    </div>
    <div class="card-content min-height" *ngIf="themesWidgetOpen">
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <label for="" class="card-title"> Theme </label>
            <ul class="p-0 list-style">
              <li>
                <input id="setGreen" type="radio" name="current_Theme" [(ngModel)]="currentTheme"
                  (change)="changeTheme('theme-green'); currentContrast = 'default'" value="green"/> Green
              </li>
              <li>
                <input type="radio" [(ngModel)]="currentTheme" name="current_Theme"
                  (change)="changeTheme('theme-blue'); currentContrast = 'default'" value="blue"/> Blue
              </li>
            </ul>
          </div>
          <div class="col-4">
            <label for="" class ="card-title"> Contrast</label>
              <ul class="p-0 list-style">
                  <li>
                    <input value = "default" type="radio" name="activecolorcontrast" [(ngModel)]= "currentContrast"  (change)="changeContrast('')" /> Default
                  </li>
                  <li>
                    <input value = "light" type="radio" name="activecolorcontrast" [(ngModel)]= "currentContrast"  (change)="changeContrast('light')" /> Light
                  </li>
                  <li>
                    <input value = "dark" type="radio" name="activecolorcontrast" [(ngModel)]= "currentContrast"  (change)="changeContrast('dark')" /> Dark
                  </li>
              </ul>
          </div>
          <div class="col-4">
            <label for="font-size" class="card-title"> Font size</label>
            <ul class="p-0 list-style">
              <li (click)="changeFontSize('55%')">
                <input id="font-size" type="radio" name="fontsize" (change)="changeFontSize()" /> Small
              </li>
              <li (click)="changeFontSize('62.5%')">
                <input id="font-size" type="radio" name="fontsize" (change)="changeFontSize()" checked /> Normal
              </li>
              <li (click)="changeFontSize('65.5%')">
                <input id="font-size" type="radio" name="fontsize" (change)="changeFontSize()" /> Large
              </li>
              <li (click)="changeFontSize('68.5%')">
                <input id="font-size" type="radio" name="fontsize" (change)="changeFontSize()" /> Extra Large
              </li>
            </ul>
            <!-- <div class="range">
                  <input type="range" min="1" max="5" steps="1" value="1">
                </div>
                
                <ul class="range-labels">
                  <li class="active selected">Today</li>
                  <li>2 days</li>
                  <li>3 days</li>
                  <li>4 days</li>
                  <li>5 days</li>
                </ul>
          </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>