<div *ngIf="!award?.awardId" class="align">
  No award expenditure data available from ADERP
</div>
<div *ngIf="award?.awardId" class="mt-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="row mtl-10">
          <div class="col-2 ">
            <label>Award Number</label>
            <span class="span-display">{{expenditureOverview?.projectNumber}}</span>
          </div>
          <div class="col-2 text-left">
            <label>Award Name</label>
            <span class="span-display">{{expenditureOverview?.projectName}}</span>
          </div>
          <div class="col-3 text-left">
            <label>Award Type</label>
            <span class="span-display">{{expenditureOverview?.projectType}}</span>
          </div>
          <div class="col-5 text-left">
            <label class="custom-checkbox mr-10">
              <input [checked]="expenditureOverview?.chargebleFlag == 'Y'" checked title="Select All" type="checkbox"
                disabled>
              <span class="checkmark"></span>Chargable
            </label>
            <label class="custom-checkbox mr-10">
              <input [checked]="expenditureOverview?.billableFlag == 'Y'" title="Select All" type="checkbox" disabled>
              <span class="checkmark"></span>Billable
            </label>
            <label class="custom-checkbox">
              <input [checked]="expenditureOverview?.readyToBillFlag == 'Y'" title="Select All" type="checkbox"
                disabled>
              <span class="checkmark"></span>Ready to Bill
            </label>
          </div>
        </div>
        <div class="row mtl-10">

          <div class="col-2 ">
            <label>Task Number</label>
            <span class="span-display">{{expenditureOverview?.taskNumber}}</span>
          </div>
          <div class="col-2 text-left">
            <label>Task Name</label>
            <span class="span-display">{{expenditureOverview?.taskName}}</span>
          </div>
          <div class="col-3 text-left">
            <label>Description</label>
            <span class="span-display">{{expenditureOverview?.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-20">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Expenditure
            <button id="attachmentExpandBtn" class="updown-arrow" (click)="isExpenditure = !isExpenditure">
              <i [ngClass]="isExpenditure?'fa fa-angle-double-up':'fa fa-angle-double-down'" class="fa-large" aria-hidden="true"></i>
            </button>
          </h4>
        </div>
        <table *ngIf="!isExpenditure" class="table tableSkin mt-1">
          <caption class="sr-only">Expenditure Details</caption>
          <thead>
            <tr class="thead-light">
              <th scope="col">Type</th>
              <th scope="col">Description</th>
              <th scope="col">Category</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let award of expenditureList">
              <td>{{award?.projectType}}</td>
              <td>{{award?.description}}</td>
              <td>{{award?.expecditureCategory}}</td>
              <td>{{award?.startDateActive | dateFormatter}}</td>
              <td>{{award?.completionDate | dateFormatter}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>