.success-banner {
  color: #007985;
  background-color: #dff5f9;
  border-color: #81b7b2;
  font-size: 1.4rem;
}

.more-options-box>li {
  line-height: 27px;
}

.theme-red .more-options-box>li>a {
  color: #212529;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.document-labels {
  font-size: 1.4rem;
  font-weight: 600;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #d8c6c6;
  display: block;
}

.more-actions-btn {
  background-color: #f4f5f7;
  font-size: 1.5rem;
  line-height: 0;
  height: 35px;
  width: max-content;
}

.more-actions-btn:hover {
  background-color: #949494;
  color: white;
}

.list-of-actions {
  display: flex;
  height: 371px;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

.line-height {
  line-height: 5px;
}

.submenu {
  position: absolute;
  top: 0;
  right: 101%;
}

.dropdown-submenu {
  position: relative;
}

.more-options-box, .submenu {
  box-shadow: 0px 1px 3px 1px #00000057;
}

.dropdown-submenu .active {
  background-color: #e2eaea;
}

.warning-msg {
  color: orange;
  background-color: #fffdfd;
}

.add-activity-button {
  min-width: 4rem!important;
}

.activity-icon {
  width: 20px;
}

.generate-icon-more {
  width: 13px;
  color: #5d5b5b;
}

.activity-icon-more {
  width: 18px;
}

.long-submenu > ul { 
  top: -70px !important;
}

.alert {
  font-size: 1.28rem;
  padding: .5rem;
  margin-bottom: 1rem;
}

.icon {
  font-size: 1.6rem;
  margin-right: 10px;
}
