.border-10{ border-radius: 10px;}
.active-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: rgb(240 249 255)!important;
    border: 1px solid #258cc7!important;
    background-clip: border-box;
}
.time-line::before {
    content: '';
    position: absolute;
    height: 100%;
    border-left: 2px dashed #258CC7;
    left: -22px;
}

.time-line::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -31px;
    top: 50%;
    border-radius: 50%;
    border: 8px solid rgba(255, 255, 255, 0.74);
    background: #258CC7;
}
.time-line:last-child::before {
    height: 50%;
}
.time-line { max-width : 97%; }