.wd-100{ width: 100%}
::ng-deep #searchElastic{
	/* padding: 0; */
    margin: 0;
    margin-bottom: 0;
}
::ng-deep .completer-row{
border-radius: 0;
}
.noDataExists {
    color: #9E9E9E;
    margin-top: -12px;
} 
.personmodal .col{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
}