<?xml version="1.0" encoding="UTF-8"?>
<settings>

  <mirrors>
    <mirror>
      <id>polus-nexus</id>
      <mirrorOf>*</mirrorOf>
      <!-- CHANGE HERE by your team own nexus server -->
      <url>http://192.168.1.225:8081/repository/nexus-group-polus-repo/</url>
    </mirror>
  </mirrors>
<!--
  <activeProfiles>
    <activeProfile>polus-nexus</activeProfile>
  </activeProfiles>
   <password>Polus@123</password> -->
 
 <servers>
<server>
   <id>polus-nexus</id>
   <username>admin</username>
      <password>Polus@123</password>
 </server>
</servers>

  <profiles>
    <profile>
      <id>polus-nexus</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>
