.help-text {
    margin: 0 -15px 0 -15px;
    position: relative;
    bottom: 0.6rem;
}

.grey-info {
    background: #EEEEEE;
    color: #202c2e;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #caced2;
}


.invalid-border {
    border-color: #dc3545 !important;
}

.font-align {
    margin-left: 53px;
    margin-top: -35px;
    margin-bottom: -10px;
}

.position-person-inpur-box {
    top: 5px;
    position: absolute;
    width: 93% !important;
}

.warning {
    top: 54px;
    position: absolute;
}

