/*for IE ONLY*/

.tab-sticky {
    position: fixed !important;
    z-index: 90;
    background: #fff;
    top: 40px;
    padding: 15px;
    padding-bottom: 0;
    width: 94.3%;
    transform: translate(-50%, 0);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 4px 1px rgba(0, 0, 0, 0.18) !important;
    animation: smoothScroll .4s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

.more-options-box>li {
    line-height: 27px;
}

.theme-red .more-options-box>li>a {
    color: #212529;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.document-labels {
    font-size: 1.4rem;
    font-weight: 600;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #d8c6c6;
    display: block;
}

.more-actions-btn {
    background-color: #f4f5f7;
    font-size: 1.5rem;
    line-height: 0;
    height: 35px;
    width: max-content;
}

.more-actions-btn:hover {
    background-color: #949494;
    color: white;
}

.list-of-actions {
    display: flex;
    height: 371px;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.line-height {
    line-height: 5px;
}

.submenu {
    position: absolute;
    top: 0;
    right: 101%;
}

.dropdown-submenu {
    position: relative;
}

.more-options-box, .submenu {
    box-shadow: 0px 1px 3px 1px #00000057;
}

.dropdown-submenu .active {
    background-color: #e2eaea;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #d8c6c6;
    display: block;
}

/*for IE ONLY END*/

.unit-tree-blocks {
    /* border: 1px #DADAD6 solid; */
    width: 100% !important;
    margin-bottom: 5px;
}

.pl-2 {
    padding-left: .3em !important;
}

.md-box {
    max-width: 0;
    margin-right: 3px;
    z-index: 2;
    margin-bottom: 5px;
    background: #e4e7f8;
    display: flex;
    justify-content: center;
}

.unit-tree li:first-child {
    list-style: none;
}

/* .md-box span i:first-child {
padding-left:.2em
} */

.uh-ml {
    color: rgb(72, 100, 127);
    font-weight: 500;
}

/*tree line */

.ui-tree {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ui-tree li {
    position: relative;
    line-height: 1.5em;
}

.ui-tree ul {
    position: relative;
    margin: 0 0 0 1em;
    padding: 0;
    list-style: none;
}

.ui-tree ul:before {
    content: "";
    position: absolute;
    top: -6px;
    bottom: 0;
    left: -1px;
    border-left: 1px groove rgba(0, 0, 0, 0.3);
}

.ui-tree ul li {
    padding-left: 1.5em;
}

.ui-tree ul li:before {
    content: "";
    position: absolute;
    top: 1em;
    left: 0;
    width: 1.6em;
    height: 3px;
    border-top: 1px groove rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.ui-tree ul li:last-child:before {
    background-color: white;
    height: auto;
    top: 1em;
    left: -1px;
    bottom: 0;
}

.ui-tree ul ul {
    margin-left: 0.5em;
}

/*tree-line-end*/

.u-down-arrow {
    font-size: 13px !important;
    cursor: pointer;
    color: #7a7a7a;
}

.print-modal-check-box {
    height: 1.5rem;
    width: 1.5rem;
}

.scrollable-print-template-modal {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
}

::-webkit-scrollbar {
    width: .4em;
    height: 4em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

@keyframes blink {
    50% {
      opacity: 0.0;
    }
  }
  
  @-webkit-keyframes blink {
    50% {
      opacity: 0.0;
    }
  }
  
  .blink {
    border: 1px solid #9e9e9e;
    border-radius: 50%;
    padding: 2px 5px;
    color: #37424d;
  }
  
  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  
  @keyframes blink-animation {
    50% {
      border: 2px solid red;
    }
  }
  
  @-webkit-keyframes blink-animation {
    50% {
      border: 2px solid red;
    }
  }

.gridSkin>.row>div:hover {
    background-color: transparent !important;
}
