.searchBox>input[type="text"] {
	/* border-radius: 20px; */
	border: 1px #DEDEDE solid;
	width: 100%;
	padding-right: 35px;
	line-height: 27px;
	height: 30px;
	font-size: 1.28rem;
	padding-left: 10px;
}
.searchButton {
	position: absolute;
	right: 10px;
	top: 5px;
	/* font-size: 1.2em; */
	color: #9E9E9E;
	cursor: pointer;
}

.elastic-outer { 
    position: relative;
}
