.task-right-div {
    width: 70%;
    top: 0;
    display: block;
    right: 1px;
    position: fixed;
    height: 100%;
    z-index: 10610;
}

.tool-kit-body {
    background: #FFF;
    width: 100%;
    top: 0;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    position: absolute;
    z-index: 10;
    height: 100%;
    float: right;
}

.btn-close-task-nav {
    color: #9e9e9e;
    background-color: #FFF;
    border: none;
    outline: none;
}

.btn-close-task-nav:hover {
    color: rgb(87, 87, 87);
}

select option {
    background-color: #fff;
}

.task-list {
    margin: 0;
}

.task-list:hover {
    background-color: #f6faff;
}

.rounded-icon {
    padding: 3px 8px;
    height: 23px;
}

.btn-outline-secondary {
    font-size: 1.4rem;
    min-width: 5em;
    padding: 0.5rem;
    height: 35px;
}

.task-list-scroll {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal {
    z-index: 1062;
}

.success-toast {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}

.success-toast i {
    color: #155724 !important;
}

.danger-toast {
    color: #dc3545 !important;
    background-color: #f8d7da !important;
    border-color: #fccfd3 !important;
}

.danger-toast i {
    color: #dc3545 !important;
}

.toast-invisible {
    display: none;
}

.toast-visible {
    display: block;
}

.card-height {
    border-radius: 20px 0px 0px 20px;
}

.card-border {
    border-radius: 20px 0px 0px 0px;
}

.close-btn {
    color: #a92034;
    font-size: 1.5rem;
    padding: 0;
    background: none;
    right: 5px !important;
    top: -10px !important;
}

.br-12 {
    border-radius: 12px;
}

.cmnt-color {
    background-color: #fafafa;
}

.tab-color {
    padding: 2px 8px;
    color: #f8f5f5fd;
}

.border-color {
    border: #54bf5b 1.6px solid !important;
    border-radius: 8px;
    background: #f5fef5 !important;
    color: #5a5a5a;
}

.btn-size {
    height: 100% !important;
}

.card-col {
    background: #fafafc;
}

.attch {
    background: #ffffff;
    border: #b9bdb9 1.6px solid !important;
    border-radius: 4px;
    color: #5a5a5a;
    outline: 0;
}

.btn-color {
    background: #ffffff;
    border: #b9bdb9 1.6px solid !important;
    // border-radius: 12px;
}

.border-left-line {
    width: 35%;
}

.date {
    color: #98989e;
}

.comment-inner-body {
    background: #EEEEEE;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.collapse-description {
    display: flex;
    align-items: center;
}

.collapse-description::after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 1px;
    background-color: #cacdd1;
}

.comment-text-box {
    height: 100px;
}

.checkbox-align {
    margin-left: auto;
}

.comment-box-margin {
    margin-left: 30px;
}

.scrollable-table {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    overscroll-behavior: contain;
}

.scrollable-table thead {
    position: sticky !important;
    top: 0;
    z-index: 1;
}

::-webkit-scrollbar {
    width: .4em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

.disable-scroll {
    overflow-y: hidden !important;
}

.filter-active {
    border: 2px solid #54BF5B !important;
    background: #F5FEF5 !important;
}

.comment-card {
    background: #d8e6f6;
    border: 1px solid #dbdbdb;
    border-radius: 0px 15px 0px 15px;
    width: max-content;
}

.badge {
    color: #5a5a5a !important;
}

.fileChips {
    position: relative;
    bottom: 3px;
}

.user-dashboard-nav {
    min-height: 42px;
}

.navigation-icons {
    border: 1px solid #007DEC !important;
    color: #007DEC !important;
    font-weight: bold;
}

.person-icon-position {
    height: 20px;
    position: relative;
    top: 2px;
}

.material-symbols-outlined {
    color: #98989e;
}

.comment-card-position-child {
    position: relative;
    left: 196px;
}

.comment-card-position-parent {
    position: relative;
    left: 85px;
}

.attachment-icon {
    transform: rotate(271deg);
    position: relative;
    top: 4px;
    right: 4px;
    height: 20px;
}

// .down-line {
//     z-index: 1;
//     position: relative;

//     &:after {
//         content: "";
//         position: absolute;
//         height: 50%;
//         border-left: 1px solid #828485;
//         left: 0px;
//         bottom: 4px;
//         z-index: -1;
//     }
// }

.title-card {
    position: sticky;
    top: 0;
    z-index: 10;
}

.person-card {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 0px 0px 20px 20px;
}

.margin-project-title {
    margin-left: -31px;
    margin-top: -6px;
}

.border-color {
    border-color: #b7adae !important;
}

.ck-editor__editable {
    min-height: 100px; 
    max-height: 300px;
    overflow-y: auto
}

::ng-deep .ck.ck-editor__editable_inline {
    border: 1px solid #d3d1d1 !important;
    background-color: #fff;
    min-height: 100px; 
    max-height: 300px;
    overflow-y: auto
}

.action-btn {
    list-style: none;
}

.btn-position {
    position: absolute;
    right: 20px;
}


.advance-search-area {
    min-height: 45px;
    display: flex;
    align-items: center;

    input {
        background-color: #f5f5f5;
    }

    label {
        position: absolute;
        color: #747474;
        display: flex;
        align-items: center;
    }

    span:not(:first-child) {
        padding: 6px 20px !important;
    }
}

.filter-active {
    border: 2px solid #54BF5B !important;
    background: #f5fef5 !important;
}

.chin {
    min-height: 46px;
    margin-left: 20px;
}

.advance-search-input {
    width: 100%;
    height: 43px;
}

.user-dashboard-nav {
    min-height: 42px;
    color: #7c7c7c;
}

.person-details-card {
    margin: 0;
    padding: 5px;
    background: #d5e9ff !important;
}

.right-end {
    display: flex !important;
    justify-content: flex-end;
}

// .left-spacing {
//     padding-left: 3rem;
//     position: relative;

//     &:before {
//         content: "";
//         position: absolute;
//         width: 50px;
//         top: 80%;
//         left: -14px;
//         right: 89%;
//         border-top: 1px solid #828485;
//         transform: translate(30%, -50%);
//     }
// }

.proposal-icon {
    background-color: #e6f4ff;
    padding: 2px;
    width: 19px;
    color: grey;
    height: 17px;
}

.margin-left-negative {
    margin-left: -20px;
}

.project-background {
    background-color: #336fa0;
}

.award-icon {
    background-color: #e6f4ff;
    padding: 2px;
    width: 20px;
    margin-right: 3px;
    color: grey;
    height: 18px;
}

.clickable-content {
    text-decoration: underline;
}

.label-text {
    color: #6A7980;
    font-size: 0.875rem;
    font-weight: 700;
}

.grey-text {
    font-size: 0.875rem;
    color: #48647F;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1055;
    background: rgb(74 74 74 / 32%);
}

.sticky-0 {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

.slider-base {
    position: fixed;
    top: 0;
    right: -83%;
    width: 50%;
    height: 100%;
    z-index: 1057;
    padding-left: 0;
    background-color: #ffecec85;
    box-shadow: -1px 0px 6px 1px rgba(0, 0, 0, 0.12);
    transition: right 600ms cubic-bezier(.42, .8, .67, 1.06);
}

.slider-opened {
    right: 0 !important;
}

.slider-container {
    background-color: #fff;
    height: 100vh;
    padding: 0px 10px 10px 10px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: .4em;
}

::-webkit-scrollbar-button {
    display: none;
}

.close {
    position: absolute;
    top: 7px;
    color: grey;
    background: #f3f3f3;
    z-index: 1500;
    padding: 1rem 1rem;
    border-radius: 50%;
    right: 14px;
    opacity: 1;
    width: 25px;
    height: 25px;
    font-size: 0.875rem;
}

.close:hover {
    background-color: #E2F1FF;
    outline: 0;
    border: 1px solid #007DEC;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

.close img {
    width: 11px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    user-select: none;
}

::ng-deep .ck.ck-balloon-panel {
    z-index: 1060 !important;
}

.coi-text-decoration-underline {
    text-decoration: underline !important;
}

.down-line {
    z-index: 1;
    position: relative;

    &:after {
        content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #cbcbcb;
    left: 18px;
    bottom: 4px;
    z-index: -1;
    }
}

.left-spacing {
    padding-left: 3rem;
    position: relative;

    &:before {
        content: "";
    position: absolute;
    width: 32px;
    top: 80%;
    left: 18px;
    border-top: 2px solid #cbcbcb;
    }

    .more-info-icon{
        background-color: #eeeeee;
        width: 28px;
        height: 28px;
    }
    
    .more-info-icon:hover{
        background-color: #cccccc;    
    }
}

.search-area:hover {
    background-color: white !important;
}

.searchButton {
    left: 10px;
    position: absolute;
    top: 10px;
    color: #9E9E9E;
    cursor: pointer;
}

.searchButton:hover {
    color: #0a58ca !important;
}

.sticky-searchbar{
    position: sticky;
    top: 78px;
    z-index: 10;
}

