.add-activity-button {
    min-width: 4rem !important;
    margin-top: inherit;
}

.activity-icon {
    width: 20px;
}

.comment-button {
    padding: 5px 5px 5px 5px;
    height: 31px;
    width: 36px;
    border: 1px solid #505050;
}

.comment-button:hover {
    background-color: #3b83ff !important;
}

.info-icon {
    color: #052c65;
    cursor: pointer;
}

.main-title {
    border-bottom: 1px solid #dbdbdb;
    margin-top: 10px;
}
