.collapse-category {
    border-top: solid 1px #ccc;
    margin: 0;
    position: relative;
}

.collapse-arrow {
    width: 27px;
    height: 27px;
    background: #f3f2f8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #afafb1;
    top: 12px;
    position: absolute;
    right: 7px;
    ;
}

.vertical-align-middle {
    vertical-align: middle !important;
}
