<!-- Last updated by jobin on 28-02-2020 -->
<div id="Award123" class="card mb-3">
  <div class="card-header px-4">
    <h4 class="card-title" id="award-milestone">Milestone
      <button id="project-expand-btn" class="updown-arrow" (click)="isShowCollapse = !isShowCollapse">
        <i [ngClass]="isShowCollapse?'fa fa-angle-double-up':'fa fa-angle-double-down'" aria-hidden="true"
          class="fa-large"></i>
      </button>
    </h4>
  </div>
  <div *ngIf="isShowCollapse" class="card-content">
    <div class="card-body">
      <div class="noDataExists p-2" *ngIf=" awardMileStones?.length == 0">
        <ng-container i18n="@@AWARD_NO_RESEARCH_MILESTONE">There are no research milestones
          added in this Award.</ng-container>
      </div>
      <div class="table-responsive" *ngIf="isShowCollapse && awardMileStones?.length > 0">
        <table class="table tableSkin grid2" aria-describedby="award-milestone">
          <caption class="d-none">Milestone</caption>
          <thead class="thead-light">
            <th style="width:45%" scope="col">
              <span class="hand-cursor" title="Click to sort by Research Milestone">Research Milestone</span>
            </th>
            <th *ngIf="comparisonData?.base?.canEnableMilestoneStatus" scope="col" class="hand-cursor">
              <span>Status</span>
            </th>
            <th style="width:15%" scope="col">
              <span class="hand-cursor" title="Click to sort by Start Month">Start Date</span>

            <th style="width:15%" scope="col">
              <span class="hand-cursor" title="Click to sort by Start Month">End Date</span>
            </th>
            <th style="width:15%" scope="col">
              <span title="Click to sort by Duration">Duration</span>
            </th>
            
            <th *ngIf="comparisonData?.base?.canEnableMilestoneStatus" style="width:10%" scope="col">Action</th>
          </thead>
          <tbody *ngFor="let milestones of awardMileStones; let milestoneIndex = index">
            <tr [ngClass]="{ 'delete-background': milestones.status == -1, 'add-background': milestones.status == 1}">
              <td style="width:45%" class="text-break text-justify">
                <span [innerHTML]='milestones.milestone | customTagRemover: currentMethod'></span>
              </td>
              <td *ngIf="comparisonData?.base?.canEnableMilestoneStatus" [innerHTML]='milestones?.milestoneStatus?.description | customTagRemover: currentMethod' style="width:10%">
              </td>
              <td style="width:15%" [innerHTML]='dateFormatter.parseDate(milestones.startDate) | customTagRemover: currentMethod'></td>
              <td style="width:15%" [innerHTML]='dateFormatter.parseDate(milestones.endDate) | customTagRemover: currentMethod'></td>
              <td style="width:15%" [innerHTML]='milestones.duration | customTagRemover: currentMethod'></td>
              
              <td *ngIf="comparisonData?.base?.canEnableMilestoneStatus" style="width:10%" >
                <ul class="actionButtonGroup">
                  <li  title="Show remarks">
                    <a>
                        <i (click)="isCommentView[milestoneIndex] = !isCommentView[milestoneIndex];"
                           aria-hidden="true"
                           class="fa fa-commenting-o hand-cursor"></i>
                    </a>
                </li>
                </ul>
                </td>
            </tr>
            <tr *ngIf="isCommentView[milestoneIndex]"
            [ngClass]="{ 'delete-background': milestones.status == -1, 'add-background': milestones.status == 1}">
              <td><label>Remarks  
                </label> <div>Updated by {{ milestones.updateUserFullName }} on
                {{milestones.updateTimeStamp|dateFormatterWithTimeZone: 'long'}}
               
             </div></td>
              <td class="no-border" colspan="7">
                  <div class="row">
                      <div  class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <span class="new-line-property">{{ milestones.comment }}
                          </span>
                        </div>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="p-3">
      <app-comment-box [sectionCode]="123" [awardId]="comparisonData.awardId" [awardNumber]="comparisonData.awardNumber"
        [sequenceNumber]="comparisonData.sequenceNumber"></app-comment-box>
    </div>
  </div>
</div>
