.switch-field-radio {
    display: flex;
    overflow: hidden;
    /* width: 100%; */
    width: 273px;
  }
  .switch-field-radio input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
  }
  .switch-field-radio label {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    text-align: center;
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    width: 50%;
    height: 35px;
    line-height: 19px;
  }
  .switch-field-radio label:hover {
    cursor: pointer;
  }
  .switch-field-radio input:checked+label {
    background-color: #f9f9f9;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #666666;
    font-weight: 600;
  }
  .switch-field-radio label:first-of-type {
    border-radius: 4px 0 0 4px;
  }
  .switch-field-radio label:last-of-type {
    border-radius: 0 4px 4px 0;
  }
  .switch-field-radio input + label > i {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0s, opacity 300ms;
  }
  .switch-field-radio input:checked + label > i {
    color: #0abb87;
    margin-right: 5px;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }
  /* .form-row > div {
	  margin-bottom: 14px;
  } */
  .form-row label {
	  font-size: 14px;
	  margin-bottom: 0;
	  color: #333;
	  font-weight: 600;
  }
  .slider{background-color: #e9ecef;}
input:checked + .slider {background-color: #26a699 !important;}
.switch {
    position: relative;
    display: inline-block;
    width: 63px;
    height: 32px
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0
}
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 6px;
    background-color: #dddbdb !important;
    -webkit-transition: .4s;
    transition: .4s;
    width: 80%
}
.switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 5px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}
.switch .slider.round {
    border-radius: 34px
}
.switch .slider.round:before {
    border-radius: 50%;
    box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3)
}
.switch .deactivate-text {
    margin-left: 27px !important;
    color: #fff
}
.switch small {
    margin-left: 8px;
    margin-top: 5px;
    display: inline-block;
    font-weight: 700;
    color: #fff
}

.primary-pill {
    background-color: #e3e3e3;
}
