.drop-zone {
	background: hsl(246, 100%, 96%);
	border: .2rem dotted hsl(214, 15%, 81%);
	margin: auto;
	margin-bottom: 1.2rem;
	padding-top: 1rem;
    padding-bottom: 1rem;
}
.file {
	color: hsl(214, 8%, 35%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.disp-none {
	display:none;
}
.fa-cloud-upload {
	font-size: 4rem;
	color: hsla(214, 8%, 35%, 0.22);
	cursor: auto;
}
.file-chooser {
	font-weight: 500;
	cursor: pointer;
	color: hsl(211, 95%, 39%);
}
