.grey-info {
    background: #EEEEEE;
    color: #202c2e;
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid #caced2;
}

.custom-margin {
    margin-left: 30px;
}

.grey-text {
    color: #505050;
}
