
.coi-entity-comparison-header-nav li {
    padding: 0;
}

.coi-entity-comparison-header-nav li a {
    padding: 18px;
    font-weight: 500;
    text-decoration: none;
    color: var(--theme-text-gray-700);
    position: relative;
    height: 45px;
}

.coi-entity-comparison-header-nav li a.active,
.coi-entity-comparison-header-nav li a:focus {
    color: #0948b2;
    font-weight: 500;
    border-bottom: 3px solid #0948b2;
}

.active-color {
    color: #007DEC;
    position: absolute;
    bottom: -24px;
    right: calc(50% - 12px);
}

.coi-entity-comparison-header-nav {
    list-style-type: none;
    line-height: 10px;
    background-color: #E4F1FF;
    max-height: 50vh;
    overflow: auto;
}

.coi-entity-comparison-header-nav ul li:nth-child(odd) {
    min-width: 90px;
}

.dropdown-width {
    min-width: 34px;
}
