<div class="no-data-container w-100 {{customClass}}" [class.coi-custom-shadow]= "isBorderNeeded" [class.custom-border-radius]="canShowAddButton">
    <span class="no-data-icon-outer">
        <div class="no-data-icon">
          <mat-icon aria-hidden="true" class="no-file">folder_off</mat-icon>
        </div>
    </span>
      <h5 class="fs-16 mt-3">
          <ng-content></ng-content>
          <span class="default-content">There is no information in this section.</span>
      </h5>
    <button [id]="buttonName.toLowerCase() + '-no-information-add-btn'" *ngIf="canShowAddButton"
        class="btn btn-primary fs-14 d-inline-flex" [title]="'Click here to ' + buttonName.toLowerCase()"
        [attr.aria-label]="'Click here to ' + buttonName.toLowerCase()" (click)="emitButtonEvent()">
        <mat-icon>add</mat-icon>{{buttonName}}
    </button>
</div>
