.no-data-container {
    padding: 30px;
    margin-top: 7px;
    text-align: center;
    background: white;
}

.no-data-container .no-data-icon-outer {
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-bottom: 4px;
    border-radius: 50%;
    background: #eff0f5;
}

.no-data-container .no-data-icon-outer .no-data-icon {
    display: inline-block;
    margin-top: 18px
}

.no-data-container .no-data-icon-outer .no-data-icon .no-file {
    margin-top: 11px;
    color: gray;
}

.no-data-container h5 {
    color: #a4a4a4;
    font-size: 2rem;
}

.no-data-container h5 .default-content:not(:only-child) {
    display: none;
}

.custom-border-radius{
border-radius: 0.5rem;
}
