<section>
    <app-common-shared-info-text [elementId]="'coi-cmp-details-info-text'"
        [subSectionId]="282"></app-common-shared-info-text>
    <div class="coi-declaration-form-container px-3 py-2 rounded-2 overflow-hidden" [class.bg-white]="!isFormLoading">
        <app-form-builder-view *ngIf="formList?.length; else showNoFormConfigure" [isAutoSaveEnabled]="true"
            [externalEvents]="managementPlanService.formBuilderEvents" (builderStatus)="formBuilderDataChanged($event)"
            [validationConfig]="managementPlanService.validationConfig">
        </app-form-builder-view>

        <ng-template #showNoFormConfigure>
            <app-no-information *ngIf="!isFormLoading" [isBorderNeeded]="false">
                <span>{{ noFormDataMessage }}</span>
            </app-no-information>
        </ng-template>

        <ng-container *ngIf="isFormLoading">
            <div class="position-fixed top-0 start-0 vw-100 vh-100 z-index-5 cursor-not-allowed"></div>
            <div class="position-relative coi-min-height-500px">
                <div appCustomPreloader [spinnerWidth]="2" [spinnerHeight]="2"></div>
            </div>
        </ng-container>

        <app-common-modal [modalConfig]="versionModalConfig" (modalAction)="versionModalPostConfirmation($event)">
            <!-- header -->
            <ng-container modal-header>
                <span>{{ versionModalHeader }}</span>
            </ng-container>
            <!-- body -->
            <ng-container modal-body>
                <span class="d-block coi-text-dark">{{ versionModalMsg }}</span>
            </ng-container>
        </app-common-modal>
    </div>
</section>
