
.popover{
  position: absolute;
  width: 30rem;
  border-radius: 3px;
  background-color: #FBFCF8;
  z-index: 10;
  border: 1px solid rgba(0,0,0,.2);
}

.selected-comment {
  transform: rotateY(180deg);
  color: #1e847b;
}

.default-comment-state{
  color: #9e9e9e;
}

.close-popover {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.comment{
  max-height: 30rem;
  overflow-y: auto;
  line-height: 1.8rem;
}

.fade-in { animation: fadeIn 0.5s; }

@keyframes fadeIn {
  0% { 
    opacity: 0;
    transform: translateY(15px); 
  }
  100% { 
    opacity: 1;
    transform: translateY(0px); 
  }
}

.fade-out{ animation: fadeout 0.5s; }

@keyframes fadeout {
  0% { 
    opacity: 1;
    transform: translateY(0px);
  }
  100% { 
    opacity: 0;
    transform: translateY(15px);  
  }
}


::-webkit-scrollbar {
  width: .4em;
  height: 3em;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background: #eee
}

::-webkit-scrollbar-thumb {
  background: #ccc
}


.tooltip .tooltiptext-right {
  background-color: white;
  color: black;
}


.comment-icon::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: -10px;
  left: -5px;
  cursor: pointer;;
}

.arrow {
  height: 1rem;
  width: 1rem;
  border-style: solid;
  border-top: 1px;
  border-right: 1px;
  border-width: 1px;
  border-color: #cacaca;
  position: absolute;
  z-index: 1;
  background-color: #fbfcf8;
}
