<span id="popover-container-{{id}}" class="position-relative comment-icon" (mouseenter)="openPopover($event)"
    (mouseleave)="hide()" tabindex="0" [attr.aria-label]="screenReaderLabel">
    <i id="popover-icon-{{id}}" class="fa fa-comment ms-1  cursor-pointer " aria-hidden="true" title="Comment"
        [class.selected-comment]="isOpenPopover" [class.default-comment-state]="!isOpenPopover"></i>
    <div id="popover-{{id}}" tabindex="-1" *ngIf="isOpenPopover" class="popover bg-color-cmnt p-2 "
        [class.fade-in]="isOpenPopover"
        [class.fade-out]="!isOpenPopover"
        [class.invisible]="isHidden" (mouseleave)="hide()">
        <span id="popover-person-detail-container-{{id}}">
            <span id="popover-person-detail-name-{{id}}" class="fs-13 fw-700 text-nowrap">
                <i class="fa fa-user" aria-hidden="true"></i>
                {{commentDetail?.createUserFullName}}
            </span>
            <div *ngIf="commentDetail?.createTimeStamp" id="popover-person-detail-datetime-container-{{id}}" class="fs-12 text-secondary text-nowrap">
                <span id="popover-person-detail-date-{{id}}" class="fs-12 fw-600 me-1"><i class="fa fa-calendar me-1"
                        aria-hidden="true"></i>{{commentDetail?.createTimeStamp | dateFormatterWithTimeZone : 'short'}}
                </span>
                <span id="popover-person-detail-time-{{id}}" class="fs-12 fw-600"><i class="fa fa-clock-o"
                        aria-hidden="true"></i>{{commentDetail?.createTimeStamp | dateFormatterWithTimeZone : 'time'}}
                </span>
            </div>
        </span>

        <div id="popover-comment-container-{{id}}" class="mt-2 comment text-wrap">
            <i aria-hidden="true" class="fa fa-quote-left mx-1 fs-12"></i>
            <span id="popover-comment-{{id}}" class="fs-15 fs-13 italian">{{commentDetail?.note}}</span>
            <i aria-hidden="true" class="fa fa-quote-right ms-1 fs-12"></i>
        </div>
        <div id="popover-arrow-{{id}}" class="arrow"></div>
    </div>
</span>
