<div class="card">
<div class="card-header mb-0 px-4">
    <h4 class="card-title text-comment" >Comments ({{awardReviewComments?.length ? awardReviewComments?.length : '0'}})
      <button id="project-expand-btn" class="updown-arrow" (click)="this.isFolded = !this.isFolded;">
        <i [ngClass]="!isFolded?'fa fa-angle-double-up':'fa fa-angle-double-down'" aria-hidden="true"
          class="fa-large"></i>
      </button>
    </h4>
</div>
<div class="collapse show border" aria-labelledby="headingOne" @slideInOut *ngIf="!isFolded">
        <ng-container *ngIf="isAddReviewComment && isAwardActive">
            <div class="pt-3 px-2" >
                <app-add-comment [sectionCode]="sectionCode" [awardId]="awardId"  [awardNumber]="awardNumber"
                  [sequenceNumber]="sequenceNumber"(commentSaved)="sectionCommentSaved($event)">
                </app-add-comment>
            </div>
        </ng-container>          
        <ng-container *ngIf="awardReviewComments?.length">
            <div class="card-body pb-0 border-top">
                <app-comment-list-item [sequenceComments]="awardReviewComments" [isAwardActive] = 'isAwardActive' (commentModified)="refreshCommentCounts($event)"></app-comment-list-item>
            </div>
        </ng-container> 
        <!-- no data will be show when there is no comments and the award Sequence Status is ARCHIVE or CANCELLED'
             OR  when there is no comments and THE SEQUENCE STATUS IS PENDING OR ACTIVE and the PERSON Logged has
             No right to add comment -->
        <ng-container *ngIf="((!awardReviewComments?.length && !isAwardActive) ||
        (!awardReviewComments?.length && !isAddReviewComment && isAwardActive))">
        <div class="no-data-container  mt-3">
          <span class="no-data-icon-outer">
            <div class="no-data-icon">
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <i class="fa fa-times-circle-o" aria-hidden="true"></i>
            </div>
          </span>
          <h4>There is no information in this section.</h4>
        </div>
        </ng-container>
    </div>
</div>
