
.warning-badge{
    color: #FF9149;
    background: #fff8f3;
    border: 1px solid #FF9149;
}
.success-badge {
    color: #28a745;
    background: #e9ffee;
    border: 1px solid #28a745;
}
.secondary-badge {
    color: #6c757d;
    background: #f3eded;
    border: 1px solid #6c757d;
}
.info-badge {
    color: #00a2ff;
    background: #d0f2fc;
    border: 1px solid #00a2ff;
}
.span-badge{
    padding: 5px 10px !important;
    letter-spacing: .01rem;
}
.hover-class p:hover {
    color: #26A69A !important;
    cursor: pointer;
}
.font-style{
    font-weight: 600;
}
.td-pd{
    padding: 5px 20px;
}
table{
    overflow: hidden !important;
}
.tableSkin > tbody > tr:nth-of-type(1) td {
    border-top: none !important;
}
.switch-view {
    color: #9ea3a9 !important;
    background: #dddfe2 !important;
    border-radius: 3px;
    display: inline-block;
}

.switch-view i:hover {
    cursor: pointer;
    border-radius: 3px;
    color: #5d5e5f !important;
}

.inbox-card {
    z-index: 9;
    right: 63px;
    top: 41px;
    position: absolute;
    width: 25%;
    box-shadow: 1px 1px 3px 1px #bdbdbd;
}

.switch-view:hover i {
    cursor: pointer;
    border-radius: 3px;
    color: #5d5e5f !important;
}

.nav-pills .nav-item:hover a.active {
    color: #fff;
}

.py-25 {
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.nav-pills .nav-link {
    font-weight: 400;
    color: #007bff;
}
.nav-pills .nav-link.active {
    color: #fff;
}
.info-icon{
    color: #6bb2b9;
}

.no-outline{
    outline: 0em;
    position: absolute;
    right: 0;
    z-index: 1;
}
