
<button type="button" class="btn btn-primary" hidden="true" data-bs-toggle="offcanvas" id="{{elementId}}-trigger-btn"
    [attr.data-bs-target]="'#'+elementId" aria-controls="offcanvasRight">
</button>
<div #Backdrop class="offcanvas-backdrop fade"></div>
<div #SliderParentElement class="offcanvas offcanvas-end {{sliderWidth}}" [id]="elementId"
    aria-labelledby="offcanvasRightLabel" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1">
    <div class="offcanvas-header" [class.border-bottom]="isHeaderNeeded" id="{{elementId}}-slider-header">
        <h5 id="offcanvasRightLabel" class="fw-bold mb-0 col">
            <!-- header -->
            <ng-content select="[header]"></ng-content>
        </h5>
        <button type="button" class="btn-close text-reset" id="close-btn" title="Click here to close"
            aria-label="Click here to close" (click)="closeSliderWindow()"></button>
        <button type="button" hidden="true" class="btn-close text-reset" [id]="elementId+'-close-btn'" data-bs-dismiss="offcanvas"
            aria-label="Click to close" ></button>
    </div>
    <div class="offcanvas-body" id="{{elementId}}-slider-body">
        <!-- sticky-content -->
        <ng-container *ngIf="isStickyNeeded">
            <div id="{{elementId}}-slider-body-sticky" class="position-sticky z-2 custom-stickytop">
                <ng-content select="[content-sticky]"></ng-content>
            </div>
        </ng-container>
        <!--content -->
        <ng-content select="[content]"></ng-content>
    </div>
    <!-- Confirmation Modal -->
    <div class="modal fade mySkinDialog" data-bs-backdrop="static" [id]="elementId+'-confirmation-modal'" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Confirmation
                    </h5>
                    <button type="button" class="fs-12 btn-close" data-bs-dismiss="modal" aria-label="Click to close">
                    </button>
                </div>
                <div class="modal-body">
                    <p><ng-content select="[confirmation-content]">
                    </ng-content></p>
                </div>
                <div class="modal-footer mx-2">
                    <button type="button" class="btn btn-outline-secondary fs-14" data-bs-dismiss="modal"
                        (click)="leaveSlider()">
                        Leave Page
                    </button>
                    <button type="button" class="btn btn-primary fs-14" data-bs-dismiss="modal">
                        Stay On Page
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

