<div *ngIf="!isLoading" class="card rounded-0 p-3">
    <div class="row gap-3">
        <div class="col-12">
            <app-entity-subaward-details [SubAwardOrganizationDetails]="entitySubAwardOrganization?.subAwdOrgDetailsResponseDTO"
                [sectionName]="orgDetailsSubSectionName"
                [sectionId]="orgDetailsSubSectionId"></app-entity-subaward-details>
        </div>
        <div class="col-12">
            <app-entity-risk-section [sectionName]="riskSectionDetails.sectionName"
                [sectionId]="riskSectionDetails.sectionId" (riskUpdated)="riskUpdated($event)"
                [subSectionId]="riskSectionDetails.subSectionId"
                [entityRiskList]="entitySubAwardRisksList" [riskCategoryCode]="'OR'">
            </app-entity-risk-section>
        </div>
        <div class="col-12">
            <app-entity-attachment-section [sectionName]="attachmentSectionDetails.sectionName"
                [sectionId]="attachmentSectionDetails.sectionId" [subSectionId]="attachmentSectionDetails.subSectionId"
                [entityAttachmentsList]="entitySubAwarAttachmentList" [riskCategoryCode]="'OR'">
            </app-entity-attachment-section>
        </div>
        <div class="col-12">
            <app-entity-common-questionnaire [sectionName]="questionnaireSectionDetails.sectionName"
                                             [sectionId]="questionnaireSectionDetails.sectionId"
                                             [subSectionId]="questionnaireSectionDetails.subSectionId"
            ></app-entity-common-questionnaire>
        </div>
        <div *ngIf="canShowNotesSection" class="col-12">
            <app-entity-common-notes-section [notesList]="notesList" [notesSectionInput]="notesSectionInput"
                [gridClass]="'coi-grid-2 '"></app-entity-common-notes-section>
        </div>
    </div>
</div>
