.row-background {
    background-color:  #f2f3f8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button;
  opacity: 1;
}

.preview-scroll {
    max-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
}
.no-preview{
    height: 120px;
}
::-webkit-scrollbar {
    width: .5em;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }
  
  ::-webkit-scrollbar-track-piece {
    background: #eee
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ccc
  }

  .card-title-header {
    white-space: nowrap; 
    width: 300px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }



  .date-size{
    height: 40px;
    width: 100px;
  }

  @media (min-width: 1366px) {
    .modal-width {
      max-width: 800px;
    }

    .date-arrow {
      position: relative;
      left: 17px;
    }
  }

    @media (min-width: 1600px) {
      .modal-width {
        max-width: 1140px;
      }
      .date-arrow {
        position: relative;
        left: 45px;
      }
  }

  .white-background-invalid {
    background-color: white;
  }
