
.font-align {
    margin-left: 53px;
    margin-top: -35px;
    margin-bottom: -10px;
}

.position-person-inpur-box {
	top: 5px;
	position: absolute;
	width: 93% !important;
}

.warning {
    top: 54px;
    position: absolute;
}
