#COI-DISCLOSURE-HEADER {
    z-index: 50;
}

.disclosure-heading {
    min-height: 55px;
    background-color: #f6f8fa;
    border-bottom: 1px solid #0000000d;
}

.triple-card {
    height: 96px;
}

// .navigation-tabs {
//   height: 45px;
//   background-color: #E4F1FF;
// }

.collapsed-nav-tabs {
    height: 58px;
}

.notes {
    height: 43px;
    background-color: #DBDBDB;
}

$primary-color: #3F79CC;
$nav-border-color: rgb(219, 219, 219);
$nav-border-width: 8px;
$nav-bg-color: #3F79CC;
$bg-color: #E4F1FF;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

.nav-progress {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 43px;
    background-color: $bg-color;

    >div {
        font-size: 0.875rem;
        position: relative;
        display: table-cell;
        padding: 14px 0;
        color: #666667;
        text-align: center;
        line-height: 1.250em;
        cursor: pointer;
        font-weight: 500;

        &.complete {
            background-color: $nav-bg-color;
            color: #FFF;
            outline: 1px solid $nav-bg-color;

            .arrow {
                border: $nav-border-width solid $nav-border-color !important;
                background: $nav-bg-color !important;
            }
        }

        &.active {
            background-color: $primary-color;
            color: #FFF;

            .arrow {
                //border: none !important;
                background: $primary-color !important;
            }
        }
    }
}

.arrow-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;

    .arrow-cover {
        position: absolute;
        overflow: hidden;
        width: 35px;
        height: 50px;

        .arrow {
            position: absolute;
            left: -22px;
            z-index: 2;
            width: 45px;
            height: 45px;
            border: $nav-border-width solid $nav-border-color;
            background: transparent;
            @include border-radius(0px);
            @include rotate(45deg);
        }
    }
}

.table-negative-margin {
    margin-top: -10px;
}

// .side-height {
//   height: 214.5px;
// }

.label-text {
    color: #6A7980;
    font-size: 0.875rem;
    font-weight: 600;
}

.grey-text {
    color: #6A7980;
    font-size: 0.875rem;
}

.bold-blue-color {
    color: #2c77f4;
    font-weight: 700;
    font-size: 0.9375rem;
}

table {
    color: #6A7980;
}

.three-pixel-padding-top {
    padding-top: 3px;
}

.negative-three-pixel-margin {
    margin-top: -3px;
}

.green-label {
    color: #54BF5B;
}

.spaced-table {
    margin-top: 25px;
    border-collapse: separate;
    border-spacing: 0 2px;
}

.navigation-box {
    padding: 0 1rem;
    font-size: 0.9375rem;
    font-weight: bold;
    color: #606060;
}

.navigation-box-content {
    padding: 10px 0;

    &.active {
        color: #007DEC;
        border-bottom: 2px solid #007DEC;
    }
}

.min-height-189 {
    min-height: 170px;
    max-height: 160px;
}

.min-height-90 {
    min-height: 100.5px;
}

.ash-text {
    color: #48647F !important;
}

.bg-success {
    background-color: #4CB57D !important;
}

.activity-icon {
    width: 1rem;
    margin-right: 5px;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.status-card-width {
    width: max-content;
}

.right-margin {
    margin-right: 9px;
}

.left-margin {
    margin-left: -1px;
}

.icon {
    font-size: 1.6rem;
    margin-right: 10px;
}

.btn-outline-secondary:hover {
    color: #fff;
    border-color: #007DEC;
    background-color: #007DEC;
}

.home-btn-center {
    display: flex;
    justify-content: center;
}

.validation-Message-box {
    width: 99%;
}

.margin-5 {
    margin-top: 4px;
}

.mt-0 {
    margin-top: 0px;
}

.moreActionIcon {
    transform: scale(.9);
    width: 20px;
}

.info-icon {
    top: 11px;
    height: 22px;
    width: 22px;
    font-size: 1rem;
    position: absolute;
    margin-left: 2px;
    color: #6f7395;
    cursor: pointer;
}

.help-text {
    margin: 0 -7px 0 -7px;
    position: relative;
    bottom: 0.6rem;
}

.grey-info {
    background: #EEEEEE;
    color: #202c2e;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #caced2;
}

.undo-icon {
    width: 2.5rem;
}

.info-card {
    margin: 0 -8px 0 -8px;
    position: relative;
    bottom: 0.6rem;
}

.returnIcon {
    transform: rotate(-0.25turn);
    transform: scaleX(-1);
}

span.low-risk {
    color: #328055;
    border-color: #E8FFF3;
    background-color: #E8FFF3;
}

span.medium-risk {
    color: #8b6d00;
    border-color: #fff8dd;
    background-color: #fff8dd;
}

.coi-status-wrapper span.invalid {
    color: #cc375c;
    border-color: #fff5f8;
    background-color: #fff5f8;
}

.nav-border-right {
    border-right: 1px solid #afafaf !important;
}

.nav-btn-grey.active {
    color: #fff;
    background-color: #007dec;
}

.clickable-content {
    text-decoration: underline;
}

//new disclosure card
.menu-sub-dropdown {
    display: none;
    border-radius: .65rem;
    background-color: var(--bs-menu-dropdown-bg-color);
    box-shadow: var(--bs-menu-dropdown-box-shadow);
    z-index: 107;
}

.fit-height {
    height: 34px;
}

.saved-toast-position {
    position: absolute;
    right: 10px;
}
