.top-adjust { top: 6px !important;}
.login-error {
    left: 50%;
    width: 90%;
    transform: translate(-50%, -0%);
    bottom: 25px;
    text-align: center;
    font-size: 13px
}
@media(max-width : 767px) {
    .login-error {
        bottom: 17px;
        font-size: 12px;
    }
}
.caps-msg {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: 13%;
    left: 37%;
}