.coi-me-n14px {
    margin-right: -14px;
}

.coi-cmp-builder-right-nav {
    .card-body {
        padding: 0 !important;
    }
}

.coi-cmp-history-aside {
    min-width: 200px;
}

.coi-cmp-width-90px {
    width: 90px;
}

.coi-cmp-drag-column {
    width: 10px;
    --bs-table-bg-type: var(--theme-body-bg-color) !important;
}

::ng-deep .coi-cmp-builder-content-editor {
    .ck.ck-editor__editable_inline {
        min-height: 150px;
        max-height: 300px;
        width: 100%;
        overflow-y: auto;
        background-color: #fff;
        border: 1px solid #d3d1d1 !important;
        border-radius: 0 0 .5rem .5rem !important;

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        &::-webkit-scrollbar-track {
            width: 6px;
            height: 6px;
        }

        .ck-placeholder {
            color: var(--theme-text-gray-400) !important;
            font-size: 0.8125rem !important;

            &::before {
                color: inherit;
                font-size: inherit;
            }
        }
    }

    .ck.ck-toolbar.ck-rounded-corners {
        border-radius: .5rem .5rem 0 0 !important;
    }
}

.custom-count-postion {
    top: 3px;
    right: 3px;
}

.custom-comment-count-icon {
    width: 14px;
    height: 14px;
    color: white;
    margin-left: 42px;
    border-radius: 6px;
}

@media (min-width: 992px) {
    .scrollspy-activate {
        position: relative;
        border-left: 2px solid var(--theme-primary-color);
        &::before {
            content: "";
            position: absolute;
            left: -7px;
            top: 40%;
            width: 12px;
            height: 12px;
            border: 2px solid var(--theme-primary-color);
            transform: rotate(44deg);
            border-right: 0;
            border-top: 0;   
            background: #fff8dd;
        }
    }

    .scrollspy-section-activate {
        position: relative;
        border-left: 2px solid var(--theme-primary-color);
        &::before {
            content: "";
            position: absolute;
            left: -5px;
            top: 37%;
            width: 8px;
            height: 8px;
            border: 2px solid var(--theme-primary-color);
            transform: rotate(44deg);
            border-right: 0;
            border-top: 0;
            background: #fff8dd;
        }
    }
}