.switch small {
  margin-top: 3px!important;
  font-size: 1.2rem!important;
}
.accordion-arrow {
  font-size: 2rem;
  color: #000;
  float: right;
}
.list-bottom-border {
  border-bottom: 1px solid #dddddd;
}
.group-header {
  background-color: #e9ecef;
}
