@media (max-width: 991.98px) {
    .coi-navigation-tabs {
        position: absolute;
        left: 0px;
        top: 100%;
        background-color: #ffffff;
        flex-direction: column;
        width: 100%;
        box-shadow: 1px 7px 11px 0px rgb(0 0 0 / 15%);
        border: solid 1px #dbdfe9;
        border-radius: 0.5rem;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        margin-top: 5px;

        li {
            margin-right: 0 !important;
            width: 100%;
        }

        &.show-menu {
            visibility: visible !important;
            opacity: 1;
            transition: ease-in-out 0.2s;
        }

        .navigation-box {
            width: 100%;
            display: block;
            padding: 10px 15px;
            border: none;
            border-bottom: 1px solid #f0f0f0;

            &.border-end {
                border-right: none !important;
            }
        }
    }
}

.nav-bar-custom-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    cursor: pointer;
}

.header-menu-icon {
    background-color: #E4F1FF;

    &:hover {
        color: #007dec;
    }
}

@media (min-width: 992px) {
    .header-menu-icon {
        display: none !important;
    }
}

.saved-toast-position {
    position: absolute;
    right: 10px;
}
