<div class="card px-3 overflow-hidden" [id]="OTHER_DETAILS.sectionId">
    <div class="mt-1 d-flex align-items-center">
        <div class="col fs-16 my-2">
            <label for="coi-entity-other-details">
                <span>{{OTHER_DETAILS.sectionName}}</span>
                <app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-entity-other-details'"></app-common-help-text>
            </label>
        </div>
    </div>
    <div class="row mb-md-0 mb-lg-3 mt-3">
        <div class="col-md-12 col-lg-6 col-xl-4 mb-md-3 mb-lg-3 mb-xl-0" tabindex="-1" aria-label="Start Date">
            <div class="d-flex">
                <label class="d-block coi-text-dark" for="coi-other-details-start-date">
                    <span>Start Date</span>
                    <app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-details-start-date'"></app-common-help-text>
                </label>
            </div>
            <div *ngIf="isEditMode">
                <span class="dateField w-100">
                    <input #startDateInput matInput [matDatepicker]="otherDetailsStartDate" id="coi-other-details-start-date"
                        placeholder="{{datePlaceHolder}}" style="width: 100% !important" (click)="otherDetailsStartDate.open()"
                        autocomplete="off" class="d-inline-block form-control"
                        [(ngModel)]="startDate" (ngModelChange)="onDateSelect('startDate'); validateDateFormat('startDate')"
                        (blur)="validateDateFormat('startDate')" (dateChange)="validateDateFormat('startDate')"
                        (keypress)="commonService._keyPress($event, 'date')" [disabled]="isDunsViewMode"/>
                    <i title="Click here to select Start date" (click)="otherDetailsStartDate.open()"
                        (keyup.enter)="otherDetailsStartDate.open()" [disabled]="isDunsViewMode"
                        class="fa fa-calendar fa-large insidePicker hand-cursor" title="Click here to select date"></i>
                    <mat-datepicker #otherDetailsStartDate>
                    </mat-datepicker>
                </span>
                <span *ngIf="dateValidationMap.get('startDate')" class="d-block fs-13 invalid-feedback ps-1">{{
                    dateValidationMap.get('startDate') }}</span>
            </div>
            <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
                <app-no-data-label [valueToShow]="entityDetails?.startDate">
                    <span>{{entityDetails?.startDate | dateFormatter}}</span>
                </app-no-data-label>
            </span>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4 mb-md-3 mb-lg-0" tabindex="-1"
            aria-label="Incorporation Date">
            <div class="d-flex">
                <label class="d-block coi-text-dark" for="coi-other-details-inc-date">
                    <span>Incorporation Date</span>
                    <app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-details-inc-date'"></app-common-help-text>
                </label>
            </div>
            <div *ngIf="isEditMode">
                <span class="dateField w-100">
                    <input #incorporateDateInput matInput [matDatepicker]="incorporationStartDate" id="coi-other-details-inc-date"
                        placeholder="{{datePlaceHolder}}" style="width: 100% !important"
                        (click)="incorporationStartDate.open()" autocomplete="off" class="d-inline-block form-control"
                        [(ngModel)]="incorporationDate" (ngModelChange)="onDateSelect('incorporationDate'); validateDateFormat('incorporationDate')"
                        (blur)="validateDateFormat('incorporationDate')" (dateChange)="validateDateFormat('incorporationDate')"
                        (keypress)="commonService._keyPress($event, 'date')" [disabled]="isDunsViewMode"/>
                    <i title="Click here to select incorporation date" (click)="incorporationStartDate.open()"
                        (keyup.enter)="incorporationStartDate.open()" [disabled]="isDunsViewMode"
                        class="fa fa-calendar fa-large insidePicker hand-cursor"
                        title="Click here to select incorporation date"></i>
                    <mat-datepicker #incorporationStartDate>
                    </mat-datepicker>
                </span>
                <span *ngIf="dateValidationMap.get('incorporationDate')" class="d-block fs-13 invalid-feedback ps-1">{{
                    dateValidationMap.get('incorporationDate') }}</span>
            </div>
            <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
                <app-no-data-label [valueToShow]="entityDetails?.incorporationDate">
                    <span>{{entityDetails?.incorporationDate | dateFormatter}}</span>
                </app-no-data-label>
            </span>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-4 mb-md-3 mb-lg-0" tabindex="-1"
            aria-label="Incorporation In">
            <label class="d-block coi-text-dark" for="coi-other-details-inc-in">
                <span>Incorporation In</span>
                <app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-details-inc-in'"></app-common-help-text>
            </label>
            <input *ngIf="isEditMode" type="text" class="form-control fs-13" id="coi-other-details-inc-in"
                [(ngModel)]="otherDetailsObj.otherDetailsRequestFields.incorporatedIn" (ngModelChange)="changeEvent('incorporatedIn')"
                appLengthValidator [limit]="50" [styleList]="'float-end word-count'">
            <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
                <app-no-data-label [valueToShow]="otherDetailsObj.otherDetailsRequestFields.incorporatedIn"></app-no-data-label>
            </span>
        </div>
    </div>
    <div class="row mb-3">
        <!-- Currency -->
        <div class="col-md-12 col-lg-6 col-xl-4 mb-md-3 mb-lg-3 mb-xl-0" tabindex="-1" aria-label="Currency">
            <label class="d-block coi-text-dark" for="coi-other-details-currency">
                <span>Currency</span>
                <app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-details-currency'"></app-common-help-text>
            </label>
            <select *ngIf="isEditMode" [(ngModel)]="selectedCurrencyCode"
                (ngModelChange)="onCurrencyLookupSelect($event)" class="form-control w-100 form-select"
                id="coi-other-details-currency" [disabled]="isDunsViewMode">
                <option [value]="null" disabled selected>--Select--</option>
                <option [value]="currencyType?.code" *ngFor="let currencyType of coiCurrencyList">{{currencyType?.description}}</option>
            </select>
            <span *ngIf="!isEditMode" class="coi-text-light d-block fw-500">
                <app-no-data-label [valueToShow]="selectedCurrencyCode"></app-no-data-label>
            </span>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-4 mb-md-3 mb-lg-0" tabindex="-1"
            aria-label="Congressional district">
            <label class="d-block coi-text-dark" for="coi-other-details-cong">
                <span>Congressional District</span>
                <app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-details-cong'"></app-common-help-text>
            </label>
            <input *ngIf="isEditMode" type="text" class="form-control fs-13" id="coi-other-details-cong"
                [(ngModel)]="otherDetailsObj.otherDetailsRequestFields.congressionalDistrict" (ngModelChange)="changeEvent('congressionalDistrict')"
                appLengthValidator [limit]="50" [styleList]="'float-end word-count'">
            <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
                <app-no-data-label [valueToShow]="otherDetailsObj.otherDetailsRequestFields.congressionalDistrict"></app-no-data-label>
            </span>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-4 mb-md-3 mb-lg-0" tabindex="-1"
            aria-label="Federal Employer ID">
            <label class="d-block coi-text-dark" for="coi-other-details-fed-employer">
                <span>Federal Employer ID</span>
                <app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-details-fed-employer'"></app-common-help-text>
            </label>
            <input *ngIf="isEditMode" type="text" class="form-control fs-13" id="coi-other-details-fed-employer"
                [(ngModel)]="otherDetailsObj.otherDetailsRequestFields.federalEmployerId" (ngModelChange)="changeEvent('federalEmployerId')"
                appLengthValidator [limit]="15" [styleList]="'float-end word-count'" [disabled]="isDunsViewMode">
            <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
                <app-no-data-label [valueToShow]="otherDetailsObj.otherDetailsRequestFields.federalEmployerId"></app-no-data-label>
            </span>
        </div>
    </div>
    <div class="row mb-md-0 mb-lg-3">
        <div class="col-md-12 col-lg-6 col-xl-4 mb-md-3 mb-lg-3 mb-xl-0" tabindex="-1"
            aria-label="Prior Name(s)">
            <label class="d-block coi-text-dark" for="coi-other-details-prior-name">
                <span>Prior Name(s)</span>
                <app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-details-prior-name'"></app-common-help-text>
            </label>
            <div class="input-group" *ngIf="isEditMode">
                <input type="text" class="form-control fs-13" id="coi-other-details-prior-name"
                 aria-label="Enter prior name" [(ngModel)]="entityPriorName">
                <button id="coi-other-details-entity-prior-name-add-btn"
                    class="btn btn-primary phone-no-btn fs-14 rounded-0 px-2 py-0" title="Click here to add prior name"
                    aria-label="Click here to add prior name" (click)="addEntityName('PRIOR')">
                    <mat-icon aria-hidden="true" class="mt-1">add</mat-icon>
                </button>
            </div>
            <div *ngIf="priorNames?.length" class="coi-file-chip-container" [class.mt-2]="isEditMode">
                <button id="coi-prior-name-history" class="d-flex btn-none"
                    data-bs-toggle="modal" data-bs-target="#entityPriorNameVersionModal"
                    title="click here to view prior name history"
                    aria-label="click here to view prior name history">
                    <span class="coi-file-chips rounded-pill">
                        <span class="me-1 fs-12">{{priorNames[0].priorNames}}</span>
                        <mat-icon class="fileChips-close fs-13" aria-hidden="true">history</mat-icon>
                    </span>
                </button>
            </div>
            <!-- no data -->
            <span *ngIf="!priorNames?.length && !isEditMode" class="coi-text-light d-block fw-500"><app-no-data-label [valueToShow]=""></app-no-data-label></span>
        </div>
        <div class="col-4" tabindex="-1" aria-label="Foreign Name(s)">
            <label class="d-block coi-text-dark" for="coi-other-details-foreign-name">
                <span>Foreign Name(s)</span>
                <app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-details-foreign-name'"></app-common-help-text>
            </label>
            <div class="input-group" *ngIf="isEditMode">
                <input type="text" class="form-control fs-13" id="coi-other-details-foreign-name"
                    aria-label="Enter foreign name" [(ngModel)]="entityForeignName" [disabled]="isDunsViewMode">
                <button id="coi-other-details-entity-foreign-name-add-btn" class="btn btn-primary phone-no-btn fs-14 rounded-0 px-2 py-0"
                    title="Click here to add foreign name" aria-label="Click here to add foreign name"
                    (click)="addEntityName('FOREIGN')" [disabled]="isDunsViewMode">
                    <mat-icon aria-hidden="true" class="mt-1">add</mat-icon>
                </button>
            </div>
            <div *ngIf="foreignNames?.length" class="coi-file-chip-container" [class.mt-2]="isEditMode">
                <ng-container *ngFor="let foreignName of foreignNames; let nameIndex = index; let last = last">
                    <ng-container *ngIf="(nameIndex < 2) || isShowForeignName">
                        <span class="coi-file-chips rounded-pill">
                            <span class="me-1 fs-12">{{foreignName?.foreignName}}</span>
                            <button *ngIf="isEditMode && !isDunsViewMode" id="coi-foreign-name-delete" class="d-flex btn-none"
                                (click)="deleteEntityForeignName(foreignName, nameIndex)"
                                title="click here to remove foreign name: {{foreignName?.foreignName}}"
                                attr.aria-label="click here to remove foreign name: {{foreignName?.foreignName}}">
                                <mat-icon class="fileChips-close fs-13" aria-hidden="true">clear</mat-icon>
                            </button>
                        </span>
                    </ng-container>
                    <!-- view more / less -->
                    <button *ngIf="last && foreignNames?.length > 2" class="coi-btn-halo rounded-pill d-inline-flex fs-12"
                        title="Click here to read {{ isShowForeignName ? 'less' : 'more' }}"
                        attr.aria-label="Click here to read {{ isShowForeignName ? 'less' : 'more' }}"
                        (click)="isShowForeignName = !isShowForeignName">
                        <span>{{isShowForeignName ? 'View Less' : ('+' + ( foreignNames?.length - 2 ) + ' More')}}</span>
                    </button>
                </ng-container>
            </div>
            <!-- no data -->
            <span *ngIf="!foreignNames?.length && !isEditMode" class="coi-text-light d-block fw-500"><app-no-data-label [valueToShow]=""></app-no-data-label></span>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-4 mb-md-3 mb-lg-0" tabindex="-1"
            aria-label="Entity Short Name">
            <label class="d-block coi-text-dark" for="coi-other-details-short-name">
                <span>Entity Short Name</span>
                <app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-details-short-name'"></app-common-help-text>
            </label>
            <input *ngIf="isEditMode" type="text" class="form-control fs-13" id="coi-other-details-short-name"
                [(ngModel)]="otherDetailsObj.otherDetailsRequestFields.shortName" (ngModelChange)="changeEvent('shortName')"
                appLengthValidator [limit]="200" [styleList]="'float-end word-count'" [disabled]="isDunsViewMode">
            <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
                <app-no-data-label [valueToShow]="otherDetailsObj.otherDetailsRequestFields.shortName"></app-no-data-label>
            </span>
        </div>
    </div>
    <div class="row mb-md-0 mb-lg-3">
        <div class="col-6" tabindex="-1"
            aria-label="Number of employees">
            <label class="d-block coi-text-dark" for="coi-other-details-employees">
                <span>Number of Employees</span>
                <app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-details-employees'"></app-common-help-text>
            </label>
            <input *ngIf="isEditMode" type="number" class="form-control fs-13" id="coi-other-details-employees"
                [(ngModel)]="otherDetailsObj.otherDetailsRequestFields.numberOfEmployees" (ngModelChange)="changeEvent('numberOfEmployees')"
                (keypress)="checkForValidNumber($event)" [disabled]="isDunsViewMode"
                appLengthValidator [limit]="10" [styleList]="'float-end word-count'">
            <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
                <app-no-data-label [valueToShow]="otherDetailsObj.otherDetailsRequestFields.numberOfEmployees"></app-no-data-label>
            </span>
        </div>
        <div class="col-6" tabindex="-1"
            aria-label="Entity Business Type">
            <label class="d-block coi-text-dark" for="coi-other-details-bss-status">
                <span>Entity Business Type</span>
                <app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-details-bss-status'"></app-common-help-text>
            </label>
            <select *ngIf="isEditMode" [(ngModel)]="otherDetailsObj.otherDetailsRequestFields.businessTypeCode"
                (ngModelChange)="onBusinessTypeSelect($event)" class="form-control w-100 form-select" [disabled]="isDunsViewMode"
                id="coi-other-details-bss-status">
                <option [value]="null" disabled selected>--Select--</option>
                <option [value]="businessType?.code" *ngFor="let businessType of businessTypeLookup">
                    {{businessType?.description}}</option>
            </select>
            <span class="coi-text-light d-block fw-500" *ngIf="!isEditMode">
                <app-no-data-label [valueToShow]="selectedBusinessTypeList[0]?.description"></app-no-data-label>
            </span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12" tabindex="-1" aria-label="Activity Text">
            <label class="d-block coi-text-dark" for="coi-other-details-activity">
                <span>Activity Text (Business Description)</span>
                <app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-details-activity'"></app-common-help-text>
            </label>
            <textarea *ngIf="isEditMode" class="form-control fs-13" rows="5"
                [(ngModel)]="otherDetailsObj.otherDetailsRequestFields.activityText" (ngModelChange)="changeEvent('activityText')"
                id="coi-other-details-activity" name="coi-other-details-activity"
                appLengthValidator [limit]="1000" spellcheck="false"
                placeholder="" [disabled]="isDunsViewMode">
            </textarea>
            <span *ngIf="!isEditMode" class="coi-text-light d-block fw-500 new-line-property">
                <app-no-data-label [valueToShow]="otherDetailsObj.otherDetailsRequestFields.activityText"></app-no-data-label>
            </span>
        </div>
    </div>
</div>

<!--Prior name version pop-up-->
<div class="modal fade mySkinDialog" data-bs-backdrop="static" id="entityPriorNameVersionModal" role="dialog" tabindex="-1" aria-label="Prior names history">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Prior Names History<app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-dlts-prior-history'"></app-common-help-text></h4>
                <button type="button" class="btn-close" id="coi-matching-entitiess-modal-close-btn"
                    title="Click here to close" data-bs-dismiss="modal" aria-label="Click here to close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive coi-table-striped">
                    <table *ngIf="priorNames.length" class="table table-bordered fs-14 fw-medium table-striped"
                        id="coi-entity-industry-category">
                        <thead>
                            <tr class="header-border table-light" id="coi-entity-industry-category-thead">
                                <th class="align-middle">
                                    Prior Name
                                </th>
                                <th class="align-middle w-1rem" *ngIf="isEditMode">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody class="white-bg">
                            <tr *ngFor="let priorName of priorNames; let i = index"
                                class="tr-hover">
                                <td class="table-data fw-600 coi-text-light">
                                   {{priorName?.priorNames}}
                                </td>
                                <td class="align-middle text-center" *ngIf="isEditMode">
                                    <mat-icon aria-hidden="true" class="cursor-pointer" (click)="confirmPriorNameDelete(priorName, i)">delete</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" id="coi-matching-entitiess-modal-cancel-btn"
                    data-bs-dismiss="modal" type="button" title="Click here to cancel">Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<app-common-modal [modalConfig]="modalConfig" (modalAction)="postConfirmation($event)">
    <ng-container modal-header>
        <span>Confirmation<app-common-help-text [subSectionId]="OTHER_DETAILS.sectionId" [elementId]="'coi-other-dtls-prior-name-dlt'"></app-common-help-text></span>
    </ng-container>
    <ng-container modal-body>
        <p>Are you sure you want to delete <strong>{{deletePriorNameObj?.id ? deletePriorNameObj?.priorNames : deleteForgeinNameObj?.foreignName}}</strong>?</p>
    </ng-container>
</app-common-modal>
