.disclosure-heading {
    height: 45px;
    background-color: #E8E8E8;
}

.triple-card {
    height: 96px;
}

.navigation-tabs {
    height: 45px;
    background-color: #E4F1FF;
}

.collapsed-nav-tabs {
    height: 58px;
}

.notes {
    height: 43px;
    background-color: #DBDBDB;
}

$primary-color: #3F79CC;
$nav-border-color: rgb(219, 219, 219);
$nav-border-width: 8px;
$nav-bg-color: #3F79CC;
$bg-color: #E4F1FF;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

.nav-progress {
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 43px;
    background-color: $bg-color;

    >div {
        font-size: 0.875rem;
        position: relative;
        display: table-cell;
        padding: 14px 0;
        color: #666667;
        text-align: center;
        line-height: 1.250em;
        cursor: pointer;
        font-weight: 500;

        &.complete {
            background-color: $nav-bg-color;
            color: #FFF;
            outline: 1px solid $nav-bg-color;

            .arrow {
                border: $nav-border-width solid $nav-border-color !important;
                background: $nav-bg-color !important;
            }
        }

        &.active {
            background-color: $primary-color;
            color: #FFF;

            .arrow {
                //border: none !important;
                background: $primary-color !important;
            }
        }
    }
}

.arrow-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;

    .arrow-cover {
        position: absolute;
        overflow: hidden;
        width: 35px;
        height: 50px;

        .arrow {
            position: absolute;
            left: -22px;
            z-index: 2;
            width: 45px;
            height: 45px;
            border: $nav-border-width solid $nav-border-color;
            background: transparent;
            @include border-radius(0px);
            @include rotate(45deg);
        }
    }
}

.table-negative-margin {
    margin-top: -10px;
}

.side-height {
    height: 204.5px;
}

.label-text {
    color: #6A7980;
    font-size: 0.875rem;
    font-weight: 600;
}

.grey-text {
    color: #6A7980;
    font-size: 0.875rem;
}

.bold-blue-color {
    color: #2c77f4;
    font-weight: 700;
    font-size: 0.9375rem;
}

table {
    color: #6A7980;
}

.three-pixel-padding-top {
    padding-top: 3px;
}

.negative-three-pixel-margin {
    margin-top: -3px;
}

.green-label {
    color: #54BF5B;
}

.spaced-table {
    margin-top: 25px;
    border-collapse: separate;
    border-spacing: 0 2px;
}

.navigation-box {
    padding: 0 1rem;
    font-size: 0.9375rem;
    font-weight: bold;
    color: #606060;
}

.navigation-box-content {
    padding: 10px 0;
    border-bottom: 2px solid transparent;

    &.active {
        color: #007DEC;
        border-bottom: 2px solid #007DEC;
    }
}

.toggle-header-btn {
    width: 30px;
    color: #A64040;
    height: 30px;

    mat-icon {
        transform: scale(1.2);
    }
}

.min-height-189 {
    min-height: 212px;
}

.min-height-90 {
    min-height: 90.5px;
}

.ash-text {
    color: #48647F !important;
}

.bg-success {
    background-color: #4CB57D !important;
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 50;
}

.activity-icon {
    width: 1.5rem;
    margin-right: 7px;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.status-card-width {
    width: 280px;
}

.right-margin {
    margin-right: 9px;
}

.left-margin {
    margin-left: -1px;
}

.icon {
    font-size: 1.6rem;
    margin-right: 10px;
}

.btn-outline-secondary:hover {
    color: #fff;
    border-color: #007DEC;
    background-color: #007DEC;
}

.home-btn-center {
    display: flex;
    justify-content: center;
}

.validation-Message-box {
    width: 99%;
}

.margin-5 {
    margin-top: 4px;
}

.mt-0 {
    margin-top: 0px;
}

.moreActionIcon {
    transform: scale(.9);
    width: 20px;
}

.info-icon {
    top: 11px;
    height: 22px;
    width: 22px;
    font-size: 1rem;
    position: absolute;
    margin-left: 2px;
    color: #6f7395;
    cursor: pointer;
}

.help-text {
    margin: 0 -7px 0 -7px;
    position: relative;
    bottom: 0.6rem;
}

.grey-info {
    background: #EEEEEE;
    color: #202c2e;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #caced2;
}

.undo-icon {
    width: 2.5rem;
}

.info-card {
    margin: 0 -8px 0 -8px;
    position: relative;
    bottom: 0.6rem;
}

.returnIcon {
    transform: rotate(-0.25turn);
    transform: scaleX(-1);
}

.invalid {
    position: relative;
    top: 2px;
    color: #ff0000;
}

.medium-risk {
    position: relative;
    top: 2px;
    color: #ff8c00;
}

.low-risk {
    position: relative;
    top: 2px;
    color: rgb(26, 172, 62);
}

.nav-border-right {
    border-right: 1px solid #afafaf !important;
}

.nav-btn-grey.active {
    color: #fff;
    background-color: #007dec;
}

.more-action {
    color: #6a7980 !important;

    span,
    mat-icon {
        color: #6a7980 !important;
    }

    &:hover {
        background-color: #E2F1FF !important;
        color: #007DEC !important;

        span,
        mat-icon {
            color: #007DEC !important;
        }
    }
}


.left-div {
    width: 75%;
}

.right-div {
    width: 25%
}

//navigaiton section styles

.navigation-to-tabs {
    background-color: #F8F8F8;
    color: #606060;

    &:hover {
        background-color: #48647F;
        color: white;
    }
}

.sub-navigation-to-tabs {
    color: #606060;

    .bg-sub-goto {
        background-color: #F2F6FE;
    }

    .sub-goto {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
            background-color: #48647F !important;
            color: white;
            cursor: pointer;
        }
    }
}

.side-bar-title {
    min-height: 55px;
    background-color: #E8E8E8;
}

.scrollable-section {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 40vh;
    max-height: 51vh;
}

::-webkit-scrollbar {
    width: .4em;
    height: 4em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}