<app-form-builder-view [externalEvents]="travel_service.formBuilderEvents"
(builderStatus)="formBuilderDataChanged($event)" [isAutoSaveEnabled]="true" [validationConfig]="travel_service.validationConfig"></app-form-builder-view>

<app-common-modal [modalConfig]="versionModalConfig" (modalAction)="versionModalPostConfirmation($event)">
    <!-- header -->
    <ng-container modal-header>
        <span>{{versionModalHeader}}</span>
    </ng-container>
    <!-- body -->
    <ng-container modal-body>
        <span class="d-block coi-text-dark">{{versionModalMsg}}</span>
    </ng-container>
</app-common-modal>
