.contact-details > div {
    margin-bottom: 14px;
}

.sponsor-view-details{ 
    background-color: #f1f5f8;
}

.contact-details-table {
    background-color: white;
}

.gridskin-no-hover-effect > .row > div.no-hover-effect:hover {
    background-color: transparent;
}

.contact-details {
    background-color: white;
    border-left: 1px solid #17a2b8 !important;
    border-right: 1px solid #17a2b8 !important;
}

.contact-details:hover {
    background-color: white!important;
}

.primary-badge {
    font-size: 12px;
}

.other-party-title {
    line-height: 35px;
}

.bolder-font {
    font-weight: 700 !important;
}

.dull-font {
    font-weight: 500 !important;
    color: #9e9e9e !important;
}

.button-right {
    margin-right: 40px;
}

