.budget-actions {
    margin-right: 10px;
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
}

.actions-outer .budget-actions:nth-last-child(1) {
    margin-right: 0;
}

.budget-actions i {
    margin-right: 3px;
    font-size: 1.2rem;
    background: #E8F0FB;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
}

.budget-actions:hover {
    color: #2c77f4;
}

.budget-actions:hover i {
    background:#2c77f4!important;
    color: #E8F0FB!important;
}

.icon-actions {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4!important;
}

.btn-ht{
    height: 26px !important;
}
.vrtl-aln td{
    vertical-align: top !important;
}
.btn-wdth{
min-width: 6em;
}
.text-clr {
color:#ff9308;
}

.tab-sticky {
    position: sticky;
    width: 100%;
    z-index: 1;
    background: white;
    padding-top: 7px;
  }
  .badge-clr {
    background: #c3ffcd;
    color: #0a4000 !important;
    border-radius: 4px;
}

  