.quicklink-container{
    max-height: 400px;
    min-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: .4em;
    height: 3em;
}

 ::-webkit-scrollbar-button {
    display: none;
}

 ::-webkit-scrollbar-track-piece {
    background: #eee
}

 ::-webkit-scrollbar-thumb {
    background: #ccc
}

.action-icons {
    margin-right: 3px;
    font-size: 1.2rem;
    background: #E8F0FB;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
}

.f-9{font-size: 9px !important;}
