<!--  -->
<div class="card mb-3">
    <div class="card-header px-4 py-2">
        <h4 class="card-title d-flex justify-content-between align-items-center">
            <span>View Indication of Interest</span>
            <button title="Back to IOI" class="btn mr-2 f-16" (click)="goBackToIOI()">
                <i class="fa fa-reply" aria-hidden="true"></i>
            </button>
        </h4>
    </div>
    <div class="card-content">
        <div class="card-body gridSkin">
            <!-- gridSkin -->
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                    <label class="d-block">Title of Grant Call</label>
                    <span>{{result?.grantCall?.grantCallName}}</span>
                </div>
                <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-4">
                    <label class="d-block">Project Title</label>
                    <span class="d-block ml-2">{{ioiFetchValues?.grantCallIOI?.projectTitle}}</span>
                </div>
                <div class="form-group col-4">
                    <label class="d-block">To be submitted through</label>
                    <span class="d-block ml-2">{{ioiFetchValues?.grantCallIOI?.submittingUnitDetails?.unitName}}</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-4">
                    <label class="d-block">Direct Cost Requested</label>
                    <span class="d-block ml-2">{{currency}}{{ioiFetchValues?.grantCallIOI?.requestedDirectCost}}</span>
                </div>
                <div class="form-group col-4">
                    <label class="d-block">Principal Investigator</label>
                    <span class="d-block ml-2">{{ioiFetchValues?.grantCallIOI?.person?.fullName}}</span>
                </div>
                <div class="form-group col-4">
                    <label class="d-block">School/Department</label>
                    <span class="d-block ml-2">{{ioiFetchValues?.grantCallIOI?.unitDetails?.unitName}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" *ngIf="teamMemberList.length > 0">
    <div class="card-header">
        <h4 class="card-title" id="ioi-view-team-member">Team Member
            <span class="float-right font-weight-normal">
                <i aria-hidden="true" class="fa fa-user-o mr-2"></i>Employee |
                <i aria-hidden="true" class="fa fa-user-circle text-danger ml-2 mr-2"></i>Non Employee
            </span>
        </h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <table class="table tableSkin grid2" aria-describedby="ioi-view-team-member">
                <thead>
                    <th scope="col" style="width:50%">Name</th>
                    <th scope="col" style="width:40%">Role</th>
                </thead>
                <tbody>
                    <tr *ngFor="let teamMember of teamMemberList">
                        <td><i class="mr-2" aria-hidden="true"
                                [ngClass]="teamMember.isNonEmployee == true ?'fa fa-user-circle text-danger':'fa fa-user-o'"></i>
                            {{ teamMember.memberName }}</td>
                        <td>{{ teamMember.propPersonRole.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-view-questionnaire-list [configuration] = "configuration" [isShowExportButton]='false'></app-view-questionnaire-list>

