.cp-header {
  background: #e5eef5;
  box-shadow: 0px 3px 6px -5px #000000;
  padding-top: 5px;
  padding-bottom: 5px;
}

.person-icon{
  background: #b7e3e3;
  /* padding: 7px 9px 7px 11px; */
  border-radius: 50%;
  cursor: default;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.nav-style {
  background: #cce5ff;
  padding: 8px;
  box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.26);
  border-radius: 3px;
  /* border-bottom-left-radius: 5px; */
  color: #2a6fe7;
}

.nav-style:hover {
  border-radius: 3px !important;
  outline: none;
  color: white;
  background: #2a6fe7;
}

.height-adjust {
  height: 62vh;
}
/* use this if you want to block all pointer events on element */
.disabled {
  pointer-events: none; 
}
.cursor-disable{
  cursor: not-allowed!important;
}

.thead-light th {
  vertical-align: top!important;
}