<div class="card rounded-0 border-0 border-top bg-white h-100 shadow-sm" id="disclosure-summary-nav">
    <div class="card-body p-0 rounded-0">
        <ul class="nav flex-column">
            <li class="coi-nav-item border-bottom">
                <a class="coi-nav-link coi-scrollspy-right" role="link" tabindex="-1" title="Go to Screening Questionnaire Section"
                    (click)="scrollIntoView('COI801')"
                    [ngClass]="defineRelationshipService.scrollSpyConfiguration.activeCounter === 0 ? 'scrollspy-section-activate' : 'rounded-top-3'"
                    aria-label="Go to Screening Questionnaire Section">
                    Screening Questionnaire
                </a>
            </li>
            <li class="coi-nav-item border-bottom">
                <a class="coi-nav-link coi-scrollspy-right align-items-center" role="link" tabindex="-1" title="Go to engagements section"
                    [class.scrollspy-section-activate]="defineRelationshipService.scrollSpyConfiguration.activeCounter === 1"
                    aria-label="Go to engagements section" (click)="scrollIntoView('COI802')">
                    Engagements
                    <ng-container *ngIf="engagementCount > 0">
                        <span class="d-inline-flex align-items-center justify-content-center fs-10 count-badge badge rounded-pill rounded-circle ms-2">{{ engagementCount }}</span>
                    </ng-container>
                </a>
            </li>
            <li *ngIf="!projectSfiRelationsList?.length" class="coi-nav-item border-bottom">
                <a class="coi-nav-link coi-scrollspy-right" role="link" tabindex="-1" title="Go to relationships section"
                    aria-label="Go to relationships section" (click)="scrollIntoView('COI803')">
                    Relationships
                </a>
            </li>
            <li *ngIf="projectSfiRelationsList?.length" class="coi-nav-item">
                <app-project-sfi-navigation></app-project-sfi-navigation>
            </li>
            <li *ngIf="extProjSfiRelationsList?.length" class="coi-nav-item">
                <app-ext-proj-rel-navigation></app-ext-proj-rel-navigation>
            </li>
            <li class="coi-nav-item border-bottom">
                <a class="coi-nav-link coi-scrollspy-right" role="link" tabindex="-1" title="Go to Certification section"
                    [class.scrollspy-section-activate]="defineRelationshipService.scrollSpyConfiguration?.activeCounter === (
                    (coiService.isExpandSummaryBySection['COI803'] ? filteredProjectSfiRelationsList?.length : 0) +
                    (coiService.isExpandSummaryBySection['COI805'] ? filteredExtProjSfiRelationsList?.length : 0) + 2)"
                    aria-label="Go to Certification section" (click)="scrollIntoView('COI804')">
                    Certification
                </a>
            </li>
        </ul>
    </div>
</div>
