  .mandatory-text {
    font-size: 12px;
    font-weight: 400 !important;
  }
  .coloumn-font {
    font-weight: 500;
  }
  .form-row > div {
    margin-bottom: 1.4rem;
}

.cusele-textarea {
  background: transparent;
}

.collapse-text {
  color: #4b4bc4;
  text-decoration: underline;
  font-style: italic;
}
