<app-coi-slider *ngIf="isOpenSlider" (closeSlider)="closeReviewSlider()" [elementId]="BATCH_ENTITY_REVIEW_SLIDER_ID"
    [isHeaderNeeded]="true" [sliderWidth]="'w-100 w-xl-75 w-lg-90'">
    <!-- slider header -->
    <ng-container header>
        <span id="coi-project-hierarchy-slider-header">{{BATCH_ENTITY_REVIEW_SLIDER_HEADER[currentReviewStep]}}</span>
        <app-common-help-text [subSectionId]="SUB_SECTION_CODES[currentReviewStep]"
            [elementId]="BATCH_ENTITY_REVIEW_HELP_ELEMENT_ID[currentReviewStep]['SLIDER_HEADER']"></app-common-help-text>
    </ng-container>

    <!-- slider content -->
    <ng-container content>
        <!-- enetiy batch card -->
        <div class="position-sticky coi-negative-top z-index-2 bg-white pb-1">
            <div class="card coi-box-red shadow-medium mt-0 overflow-hidden">
                <div class="card-body" id="coi-entity-batch-card-body">
                    <div class="d-flex align-items-center">
                        <div class="row row-gap-2 col">
                            <div class="d-flex col-12 mb-2">
                                <!-- entity name -->
                                <h4 class="d-flex align-items-center col mb-0 coi-text-darker fs-6">
                                    <span class="coi-icon-bg me-2 fs-14 d-inline-flex"><mat-icon aria-hidden="true"
                                        class="coi-entity-icon-size coi-coloured-icons">domain</mat-icon></span>
                                    <span class="text-slice" [title]="batchEntityDetails?.srcDataName">{{batchEntityDetails?.srcDataName}}</span>
                                </h4>
                            </div>
                            <ng-container *ngFor="let fieldOrder of BATCH_ENTITY_DETAILS_CARD_ORDER">
                                <!-- Address -->
                                <div *ngIf="fieldOrder === 'ADDRESS'" tabindex="-1" class="col-12"
                                    [attr.aria-label]="'Address is ' + (primaryAddress ? primaryAddress : 'empty')">
                                    <label for="coi-entity-batch-address" class="coi-text-dark d-block">Address</label>
                                    <div id="coi-entity-batch-address" class="text-slice">
                                        <app-no-data-label [valueToShow]="primaryAddress">
                                            <span [title]="primaryAddress" class="coi-text-light">{{primaryAddress}}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <!-- City -->
                                <div *ngIf="fieldOrder === 'CITY'" tabindex="-1" class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3"
                                    [attr.aria-label]="'City is ' + (batchEntityDetails?.srcCity ? batchEntityDetails?.srcCity : 'empty')">
                                    <label for="coi-entity-batch-city" class="coi-text-dark d-block">City</label>
                                    <div id="coi-entity-batch-city" class="text-slice">
                                        <app-no-data-label [valueToShow]="batchEntityDetails?.srcCity">
                                            <span [title]="batchEntityDetails?.srcCity"
                                                class="coi-text-light">{{batchEntityDetails?.srcCity}}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <!-- State/Province/Region -->
                                <div *ngIf="fieldOrder === 'STATE'" tabindex="-1" class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3"
                                    [attr.aria-label]="'State/Province/Region is ' + (batchEntityDetails?.srcState ? batchEntityDetails?.srcState : 'empty')">
                                    <label for="coi-entity-batch-state" class="coi-text-dark d-block">State/Province/Region</label>
                                    <div id="coi-entity-batch-state" class="text-slice">
                                        <app-no-data-label [valueToShow]="batchEntityDetails?.srcState">
                                            <span [title]="batchEntityDetails?.srcState"
                                                class="coi-text-light">{{batchEntityDetails?.srcState}}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <!-- ZIP/Postal Code -->
                                <div *ngIf="fieldOrder === 'ZIP_CODE'" tabindex="-1" class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3"
                                    [attr.aria-label]="'ZIP/Postal code is ' + (batchEntityDetails?.srcPostalCode ? batchEntityDetails?.srcPostalCode : 'empty')">
                                    <label for="coi-{{uniqueId}}-zip-code" class="coi-text-dark d-block">ZIP/Postal Code</label>
                                    <div id="coi-{{uniqueId}}-zip-code" class="text-slice">
                                        <app-no-data-label [valueToShow]="batchEntityDetails?.srcPostalCode">
                                            <span [title]="batchEntityDetails?.srcPostalCode"
                                                class="coi-text-light">{{batchEntityDetails?.srcPostalCode}}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <!-- Country -->
                                <div *ngIf="fieldOrder === 'COUNTRY'" tabindex="-1" class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3"
                                    [attr.aria-label]="'Country is ' + (batchEntityDetails?.srcCountry?.countryName? batchEntityDetails?.srcCountry?.countryName: 'empty')">
                                    <label for="coi-entity-batch-country" class="coi-text-dark d-block">Country</label>
                                    <div id="coi-entity-batch-country" class="text-slice">
                                        <app-no-data-label [valueToShow]="batchEntityDetails?.srcCountry?.countryName">
                                            <span [title]="batchEntityDetails?.srcCountry?.countryName"
                                                class="coi-text-light">{{batchEntityDetails?.srcCountry?.countryName}}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <!-- DUNS Number -->
                                <div *ngIf="fieldOrder === 'DUNS_NUMBER'" tabindex="-1" class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3"
                                    [attr.aria-label]="'DUNS number is ' + (batchEntityDetails?.srcDunsNumber ? batchEntityDetails?.srcDunsNumber : 'empty')">
                                    <label for="coi-entity-batch-duns-number" class="coi-text-dark d-block">DUNS Number</label>
                                    <div id="coi-entity-batch-duns-number" class="text-slice">
                                        <app-no-data-label [valueToShow]="batchEntityDetails?.srcDunsNumber">
                                            <span [title]="batchEntityDetails?.srcDunsNumber"
                                                class="coi-text-light">{{batchEntityDetails?.srcDunsNumber}}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <!-- UEI Number -->
                                <div *ngIf="fieldOrder === 'UEI_NUMBER'" tabindex="-1" class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3"
                                    [attr.aria-label]="'UEI number is ' + (batchEntityDetails?.srcUei ? batchEntityDetails?.srcUei : 'empty')">
                                    <label for="coi-entity-batch-uei-number" class="coi-text-dark d-block">UEI Number</label>
                                    <div id="coi-entity-batch-uei-number" class="text-slice">
                                        <app-no-data-label [valueToShow]="batchEntityDetails?.srcUei">
                                            <span [title]="batchEntityDetails?.srcUei"
                                                class="coi-text-light">{{batchEntityDetails?.srcUei}}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <!-- Organization ID -->
                                <div *ngIf="fieldOrder === 'ORGANIZATION_ID'" tabindex="-1" class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3"
                                    [attr.aria-label]="'Organization ID is ' + (batchEntityDetails?.srcDataCode && batchDetails?.batchSrcTypeCode == ENTITY_SOURCE_TYPE_CODE.ORGANIZATION ? batchEntityDetails?.srcDataCode : 'empty')">
                                    <label for="coi-entity-batch-organization-id" class="coi-text-dark d-block">Organization ID</label>
                                    <div id="coi-entity-batch-organization-id" class="text-slice">
                                        <app-no-data-label [valueToShow]="batchDetails?.batchSrcTypeCode == ENTITY_SOURCE_TYPE_CODE.ORGANIZATION ? batchEntityDetails?.srcDataCode : ''">
                                            <span [title]="batchEntityDetails?.srcDataCode"
                                                class="coi-text-light">{{batchEntityDetails?.srcDataCode}}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                                <!-- Sponsor Code -->
                                <div *ngIf="fieldOrder === 'SPONSOR_CODE'" tabindex="-1" class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3"
                                    [attr.aria-label]="'Sponsor code is ' + (batchEntityDetails?.srcDataCode && batchDetails?.batchSrcTypeCode === ENTITY_SOURCE_TYPE_CODE.SPONSOR ? batchEntityDetails?.srcDataCode : 'empty')">
                                    <label for="coi-entity-batch-sponsor-code" class="coi-text-dark d-block">Sponsor Code</label>
                                    <div id="coi-entity-batch-sponsor-code" class="text-slice">
                                        <app-no-data-label [valueToShow]="batchDetails?.batchSrcTypeCode == ENTITY_SOURCE_TYPE_CODE.SPONSOR ? batchEntityDetails?.srcDataCode : ''">
                                            <span [title]="batchEntityDetails?.srcDataCode"
                                                class="coi-text-light">{{batchEntityDetails?.srcDataCode}}</span>
                                        </app-no-data-label>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            
                <!-- Footer section -->
                <div class="card-footer coi-box-red-footer">
                    <div class="row col">
                        <ng-container *ngFor="let fieldOrder of BATCH_ENTITY_DETAILS_CARD_FOOTER_ORDER">
                            <!-- Review Action -->
                            <div *ngIf="fieldOrder === 'REVIEW_ACTION'" tabindex="-1" class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3"
                                [attr.aria-label]="'Review action is ' + (batchEntityDetails?.adminActionType?.description ? batchEntityDetails?.adminActionType?.description: 'empty')">
                                <label for="coi-entity-batch-review-action" class="coi-text-dark d-block">Review Action</label>
                                <div id="coi-entity-batch-review-action" class="text-slice">
                                    <app-no-data-label [valueToShow]="batchEntityDetails?.adminActionType?.description">
                                        <span [title]="batchEntityDetails?.adminActionType?.description"
                                            class="coi-text-light">{{batchEntityDetails?.adminActionType?.description}}</span>
                                    </app-no-data-label>
                                </div>
                            </div>
                            <!-- Review Status -->
                            <div *ngIf="fieldOrder === 'REVIEW_STATUS'" tabindex="-1" class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3"
                                [attr.aria-label]="'Review status is ' + (batchEntityDetails?.adminReviewStatusType?.adminReviewStatusCode ? batchEntityDetails?.adminReviewStatusType?.description : 'empty')">
                                <label for="coi-entity-batch-review-status" class="coi-text-lighter d-block">Review Status</label>
                                <div id="coi-entity-batch-review-status" class="text-slice">
                                    <app-no-data-label [valueToShow]="batchEntityDetails?.adminReviewStatusType?.adminReviewStatusCode">
                                        <span class="{{BATCH_ENTITY_REVIEW_STATUS_BADGE[batchEntityDetails?.adminReviewStatusType?.adminReviewStatusCode]}}"></span>
                                        <span [title]="batchEntityDetails?.adminReviewStatusType?.description"
                                            class="coi-text-dark ms-1">{{batchEntityDetails?.adminReviewStatusType?.description}}</span>
                                    </app-no-data-label>
                                </div>
                            </div>
                        </ng-container>
                        <!-- footer buttons -->
                        <div class="col d-flex align-items-center justify-content-end gap-3">
                            <ng-container *ngIf="duplicateEntity[currentReviewStep]?.length || currentReviewStep === 'DNB_MATCHES'">
                                <div *ngIf="duplicateEntity[currentReviewStep]?.length && currentReviewStep !== 'DNB_MATCHES'" class="d-flex align-items-center col-auto">
                                    <input type="radio" class="me-2" name="coi-entity-batch-radio" id="coi-entity-batch-link-radio"
                                        autocomplete="off" [checked]="currentReviewAction?.[currentReviewStep] === 'LINK_TO_ORIGINAL'"
                                        (click)="changeAction('LINK_TO_ORIGINAL')" [disabled]="isDisableRadioBtn" [class.cursor-pointer]="!isDisableRadioBtn">
                                    <label [ngClass]="isDisableRadioBtn ? 'coi-text-lighter' : 'coi-text-dark cursor-pointer'"
                                        for="coi-entity-batch-link-radio">Link to Original</label>
                                </div>
                                <!-- Radio - Create Entity without D&B Match -->
                                <div *ngIf="currentReviewStep === 'DNB_MATCHES'" class="d-flex align-items-center col-auto">
                                    <input type="radio" class="me-2 cursor-pointer" name="coi-entity-batch-radio" id="coi-entity-batch-dnb-radio"
                                        autocomplete="off" [checked]="currentReviewAction?.[currentReviewStep] === 'CREATION_WITHOUT_DNB'"
                                        (click)="changeAction('CREATION_WITHOUT_DNB')" [disabled]="isDisableRadioBtn" [class.cursor-pointer]="!isDisableRadioBtn">
                                    <label [ngClass]="isDisableRadioBtn ? 'coi-text-lighter' : 'coi-text-dark cursor-pointer'"
                                        for="coi-entity-batch-dnb-radio">Create Entity without D&B Match</label>
                                </div>
                                <!-- Radio - Exclude from Entity Creation -->
                                <div class="d-flex align-items-center col-auto">
                                    <input type="radio" class="me-2 cursor-pointer" name="coi-entity-batch-radio" id="coi-entity-batch-exclude-radio"
                                        autocomplete="off" [checked]="currentReviewAction?.[currentReviewStep] === 'EXCLUDE_FROM_CREATION'"
                                        (click)="changeAction('EXCLUDE_FROM_CREATION')" [disabled]="isDisableRadioBtn" [class.cursor-pointer]="!isDisableRadioBtn">
                                    <label [ngClass]="isDisableRadioBtn ? 'coi-text-lighter' : 'coi-text-dark cursor-pointer'"
                                        for="coi-entity-batch-exclude-radio">Exclude from Entity Creation</label>
                                </div>
                            </ng-container>
                            <!-- Radio - Link to Original -->
                            <div class="d-flex align-items-center gap-2">
                                <!-- Previous -->
                                <button *ngIf="(currentReviewStep === 'DB_DUPLICATES' && duplicateEntity.BATCH_DUPLICATES?.length)
                                            || (currentReviewStep === 'DNB_MATCHES' && duplicateEntity.BATCH_DUPLICATES?.length)
                                            || (currentReviewStep === 'DNB_MATCHES' && duplicateEntity.DB_DUPLICATES?.length)"
                                    id="coi-entity-batch-previous-btn" (click)="navigateToPrev()"
                                    class="d-flex align-items-center btn btn-outline-secondary fs-14 gap-1"
                                    aria-label="Click here to go to previous step"
                                    title="Click here to go to previous step">
                                    <mat-icon aria-hidden="true" class="coi-scale-9">keyboard_backspace</mat-icon>
                                    Previous
                                </button>
                                <!-- Proceed -->
                                <button
                                    id="coi-entity-batch-proceed-btn" (click)="proceedToNextStep()"
                                    class="d-flex align-items-center btn btn-primary fs-14 gap-1" [disabled]="isDisableProceedBtn"
                                    [attr.aria-label]="isDisableProceedBtn ? '' : 'Click here to proceed'"
                                    [title]="isDisableProceedBtn ? '' : 'Click here to proceed'">
                                    <mat-icon aria-hidden="true">login</mat-icon>
                                    Proceed
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- info -->
            <div *ngIf="duplicateEntity[currentReviewStep]?.length" class="d-flex alert alert-primary mt-2 mb-0 py-2">
                <mat-icon class="mat-icon material-icons flex-shrink-0" aria-hidden="true">info</mat-icon>
                <p class="fs-14 mb-0 ms-2">
                    <span class="d-flex algin-items-start">{{ BATCH_ENTITY_REVIEW_SLIDER_INFO[currentReviewStep] }}</span>
                </p>
            </div>
        </div>
        <!-- list -->
        <div class="d-flex gap-2 flex-column py-2">
            <div *ngIf="duplicateEntity[currentReviewStep]?.length; else showNoData" class="d-flex gap-2 col-12 flex-column">
                <ng-container *ngFor="let entityDetails of duplicateEntity[currentReviewStep]; let entityIndex = index;">
                    <app-shared-entity-details-card [entityCardConfig]="entityDetails" (actions)="sharedEntityCardActions($event)"></app-shared-entity-details-card>
                </ng-container>
            </div>
            <!-- no data card -->
            <ng-template #showNoData>
                <app-no-information customClass="mt-0"></app-no-information>
            </ng-template>
        </div>
    </ng-container>
</app-coi-slider>

<!-- Batch Conformation Modal -->
<ng-container *ngIf="confirmationModal.modalHeader">
    <app-common-modal [modalConfig]="confirmationModalConfig" (modalAction)="batchConfirmationModalActions($event)">
        <!-- header -->
        <ng-container modal-header>
            <span>{{confirmationModal.modalHeader}}</span>
            <app-common-help-text [subSectionId]="confirmationModal.modalHelpSubSectionId" [elementId]="confirmationModal.modalHelpElementId"></app-common-help-text>
        </ng-container>
        <!-- sticky - content -->
        <ng-container modal-content-sticky>
            <!-- info -->
            <div class="d-flex alert alert-primary mt-3 mb-0 py-2">
                <mat-icon class="mat-icon material-icons flex-shrink-0" aria-hidden="true">info</mat-icon>
                <p class="fs-14 mb-0 ms-2">
                    <span class="d-flex algin-items-start">{{ confirmationModal.modalInfoText }}</span>
                </p>
            </div>
        </ng-container>
        <!-- body -->
        <ng-container modal-body>
            <div *ngIf="!(['CREATION_WITHOUT_DNB', 'EXCLUDE_FROM_CREATION'].includes(currentReviewAction['DNB_MATCHES']) && currentReviewStep == 'DNB_MATCHES');" class="mb-3">
                <app-shared-entity-details-card [entityCardConfig]="confirmationModal.selectedEntityCard"></app-shared-entity-details-card>
            </div>
            <span class="d-block coi-text-dark">{{BATCH_ENTITY_CONFIRMATION_TEXT}}</span>
        </ng-container>
    </app-common-modal>
</ng-container>

<!-- Source Selected Exclude Validation Modal -->
<ng-container *ngIf="isOpenValidationModal">
    <app-common-modal [modalConfig]="validationModalConfig" (modalAction)="validationModalActions($event)">
        <!-- header -->
        <ng-container modal-header>
            <span>Validation</span>
            <app-common-help-text [subSectionId]="SUB_SECTION_CODES['BATCH_ACTION']"
                [elementId]="BATCH_ENTITY_REVIEW_HELP_ELEMENT_ID['BATCH_ACTION']['EXCLUDE_VALIDATION_MODAL_HEADER']"></app-common-help-text>
        </ng-container>
        <!-- sticky - content -->
        <ng-container modal-content-sticky>
            <!-- info -->
            <div class="alert alert-danger fs-14 shadow-sm m-0 gap-2" role="alert" attr.aria-label="Error: {{BATCH_ENTITY_SOURCE_SELECTED_EXCLUDE_INFO_TEXT}}">
                <div class="alert-heading d-flex align-items-start gap-1">
                    <div class="d-flex align-items-center gap-1">
                        <mat-icon class="fs-4 h-auto text-danger flex-shrink-0" aria-hidden="true">error</mat-icon>
                        <strong>Error:</strong>
                    </div>
                    <span>{{BATCH_ENTITY_SOURCE_SELECTED_EXCLUDE_INFO_TEXT}}</span>
                </div>
            </div>
        </ng-container>
        <!-- body -->
        <ng-container modal-body>
            <div *ngIf="sourceSelectedValidateList.length" class="d-flex flex-column gap-3">
                <ng-container *ngFor="let cardConfig of sourceSelectedValidateList">
                    <app-shared-entity-details-card [entityCardConfig]="cardConfig"></app-shared-entity-details-card>
                </ng-container>
            </div>
        </ng-container>
    </app-common-modal>
</ng-container>
