


.add-resource-container {
    max-height: 86vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-heading{ 
    font-size: 1.8rem !important;
}


.scrollable-table {
    max-height: 52vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable-table thead {
    position: sticky !important;
    top: 0;
    z-index: 1;
}

::-webkit-scrollbar {
    width: .8em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}
