.timeline {
  padding: 10px 10px 10px 15px;
  border-left: 2px solid #ccc;
}

.timeline-box {
  height: 45vh;
  overflow-y: auto;
}

.timeline-box {
  max-height: 100%;
  overflow-y: auto;
}

.timeline li {
  list-style: none;
}

.timeline li .timeline-content {
  padding: 6px 15px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  color: #5764d7;
  background-color: #f1f1f1;
  cursor: pointer;
  width: 84%;
}

.timeline li .timeline-content:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #686767;
  position: absolute;
  left: -23px;
  top: 10px;
}

.timeline li .timeline-content:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 7px;
  border-style: solid;
  border-color: transparent #f1f1f1 transparent transparent;
  position: absolute;
  left: -12px;
  top: 10px;
}

.view:before {
  border-color: #00af4e !important;
}

.view, .view>span {
  background: #00af4e!important;
  color: #fff !important;
}

.view:after {
  border-color: transparent #00af4e transparent transparent !important;
}

.compare:before {
  border-color: #fee892 !important;
}

.compare, .compare>span {
  background: #fee892 !important;
  color: #000 !important;
}

.compare:after {
  border-color: transparent #fee892 transparent transparent !important;
}

.version-heading {
  color: rgb(48, 47, 47);
  font-size: .9rem;
  padding: .5rem;
  font-weight: 600 !important;
  background-color: #f7f8fa !important;
  width: 100%;
}

.timeline-date {
  width: 100%;
  float: left;
  font-size: 12px;
  color: #646464;
  display: block;
  text-align: right;
}

.dropdown-content ul {
  background: #ffffff;
  visibility: hidden;
  opacity: 0;
  max-width: 350px;
  min-width: 150px;
  width: 180px;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.9s ease;
  display: none;
  left: 15px;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.31);
  border-radius: 3px;
  top: 0;
  padding: 10px 10px;
  text-align: left;
  z-index: 15;
}

.dropdown-content ul li {
  padding: 3px 5px;
  color: #333;
  cursor: pointer !important;
  list-style: none;
}

.dropdown-content ul li:hover, .drop-down-list ul li:hover {
  background: #f9f9f9;
  color: #294cc7;
}

.btn-underline:hover>ul, .btn-blue:hover:enabled, .btn-underline ul:hover .btn-blue.active {
  visibility: visible;
  opacity: 1;
  display: block;
  color: #294cc7;
}

.btn-underline {
  font-size: .85rem;
  color: #294cc7;
  text-decoration: underline;
}

.btn-close {
  position: absolute;
  right: 3px;
  top: -4px;
  padding: 0;
  color: #afacac;
}

.drop-down-list {
  background: #ffffff;
  max-width: 350px;
  min-width: 150px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 15;
  list-style: none;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.31);
  border-radius: 3px;
  top: 32px;
  text-align: left;
}

.drop-down-list ul li {
  padding: 1px 4px;
  color: #333;
  cursor: pointer !important;
  list-style: none;
  font-size: .80rem
}

.info-box {
  background: #f1f1f1;
  border-radius: 3px;
}

.tool-kit {
  width: 110px;
  height: auto;
  position: fixed;
  right: 1px;
  z-index: 9;
  top: 33vh;
}

.tool-kit-header {
  cursor: move;
}

.tool-kit-body ul li {
  list-style: none;
  font-size: 1.4rem;
  padding: 5px 10px;
}

.tool-kit-body ul li:hover {
  color: #3b80f4;
  background: #ecf3ff;
  cursor: pointer;
}

.tool-kit-body ul li:nth-last-child(1) {
  margin-bottom: 0;
}

.tool-kit-body {
  background: #FFF;
  position: absolute;
  z-index: 9;
  right: 112px;
  top: 0;
  height: auto;
  width: 280px;
  -webkit-box-shadow: 0 0 16px 3px rgba(103, 103, 103, 0.15);
  box-shadow: 0 0 16px 3px rgba(103, 103, 103, 0.15);
  padding: 8px 8px;
}

.timeline-box::-webkit-scrollbar {
  width: 0.5em;
  height: 3em;
}

.timeline-box::-webkit-scrollbar-button {
  display: none;
}

.timeline-box::-webkit-scrollbar-track-piece {
  background: #eee;
}

.timeline-box::-webkit-scrollbar-thumb {
  background: #ccc;
}

.nav-icon {
  background: #ffffff;
  display: inline-block;
  width: 63px;
  height: 37px;
  text-align: center;
  line-height: 35px;
  color: #367af3;
  border-radius: 3px;
}

.nav-style {
  background: #367af3;
  padding: 5px;
  box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.26);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px
}

.nav-icon:hover {
  background: #0352d6;
  color: #fff;
}
.nav-style span:nth-child(2){
  line-height: 20px;
  color: #fff;
}
