.cmnt-background {
    border: 2px solid #dedede;
    border-radius: 4px;
}

.ck-editor__editable {
    min-height: 100px; 
    max-height: 300px;
    overflow-y: auto
}

::ng-deep .ck.ck-balloon-panel {
    z-index: 1060 !important;
}

::ng-deep .ck.ck-editor__editable_inline {
    border: 1px solid #d3d1d1 !important;
    background-color: #fff;
    min-height: 100px; 
    max-height: 300px;
    overflow-y: auto
}

.comments-person-info{
    background-color: #d5dce3 !important;
    width: 30px;
    height: 30px;
}

.person-icon{
    color : #007dec;
}

.more-info-icon{
    background-color: #eeeeee;
    width: 28px;
    height: 28px;
}

.more-info-icon:hover{
    background-color: #cccccc;
    
}

.comments-reply-card{
    background-color: #f1f1f1 !important;
}

.view-btn-hover:hover {
    color: #007dec !important;
}

.person-icon-container {
    width: 55px;
}

.comment-section-right-container {
    width: calc(100% - 55px);
}

::ng-deep .no-margin p {
    margin-bottom: 0;
}
