.foreign-icon {
    margin-right: 5px;
    transform: rotate(-30deg);
    background-color: var(--theme-white);
    color: var(--theme-blue);
    width: 14px;
    height: 14px;
}

.flag-badge {
    display: inline-flex;
    align-items: center;
    background-color: var(--theme-blue);
    color: var(--theme-white);
    font-size: 12px;
    font-weight: 500;
    position: relative;
    border-radius: 6px 5px 5px 6px;
    margin-left: 12px;
    height: 22px;
}

.flag-badge::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 11px;
    transform: translateY(-50%);
    background: var(--theme-blue);
    width: 14px;
    height: 20px;
    clip-path: polygon(0% 50%, 55% 0%, 55% 100%);
    border-radius: 3px; 
}

.custom-shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.custom-sabbatical-checkbox-wrapper input[type="checkbox"]:disabled:checked {
    appearance: none;
    background-color: var(--theme-blue) !important;
    border: 2px solid var(--theme-blue) !important;
    width: 14px;
    height: 14px;
    position: relative;
    border-radius: 2px;
    opacity: 1 !important;
}
  
.custom-sabbatical-checkbox-wrapper input[type="checkbox"]:disabled:checked::after {
    content: '✔';
    color: white;
    font-size: 11px;
    position: absolute;
    top: -2px;
    left: 1px;
}

