.right-align-prmt{
    right: 220px;
}
.right-align-sts{
    right: 355px;
}
.container-fluid {
    width: 100%;
    padding: 5px;
}
@media (max-width:577px) {
    .back-button {
      position: absolute;
      right: 0px;
    }
  }
@media (max-width:577px) {
    .notification-header {
     flex-direction: column;
    }
  }
@media (max-width:444px) {
    .promt-user {
     width: 100%;
    }
  }
@media (max-width:971px) {
    .promt-user {
     width: 100%;
    }
  }