
::ng-deep .coi-ckeditor-border-black .ck.ck-editor__editable_inline {
    border: .5px solid black !important;
}

.is-invalid{
    ::ng-deep .ck.ck-editor__editable_inline {
        border: 1px solid var(--bs-form-invalid-border-color) !important;
    }
}

::ng-deep .coi-notes-comments-editor {
    .ck.ck-editor__editable_inline {
        min-height: 150px;
        max-height: 300px;
        width: 100%;
        overflow-y: auto;
        background-color: #fff;
        border: 1px solid #d3d1d1 !important;
        border-radius: 0 0 .5rem .5rem !important;

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        &::-webkit-scrollbar-track {
            width: 6px;
            height: 6px;
        }

        .ck-placeholder {
            color: var(--theme-text-gray-400) !important;
            font-size: 0.8125rem !important;

            &::before {
                color: inherit;
                font-size: inherit;
            }
        }
    }

    .ck.ck-toolbar.ck-rounded-corners {
        border-radius: .5rem .5rem 0 0 !important;
    }
}
