.dateField {
    position: relative;
    display: flex;
}

.insidePicker {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 0;
}

.hand-cursor {
    cursor: pointer;
}

.word-count {
    font-weight: 400;
    font-size: 0.75rem;
    color: #757575;
}

.mandatory {
    color: var(--bs-form-invalid-color) !important;
    padding-right: 2px;
}

.coi-certify-box {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    pointer-events: none;
    box-sizing: border-box;
    z-index: 2;
    border: 2px solid #007DEC;
  }

  &:not(:disabled):hover::before {
    border-color: #0056b3;
  }

  &:disabled::before {
    border-color: #83bff666;
  }
}

input.form-control::placeholder , textarea.form-control::placeholder {
    @extend .text-gray-400;
    @extend .fs-13;
}
