.modal {
    background: rgba(0, 0, 0, 0.25) !important;
    .modal-content {
        border: 0;
        border-radius: 20px;
        -webkit-box-shadow: -1px 3px 123px -17px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: -1px 3px 123px -17px rgba(0, 0, 0, 0.52);
        box-shadow: -1px 3px 123px -17px rgb(0 0 0 / 42%);
    }

    .modal-sticky-body {
        padding: 0rem 1.875rem !important;
    }

    .modal-body {
        padding: 1rem 1.875rem !important;
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            width: 8px;
            height: 8px;
        }
    }

    .modal-header {
        padding: 1rem 1.875rem 0.3rem 1.875rem !important;
        border: 0;

        .modal-title {
            font-size: 1.125rem;
        }
    }

    .modal-footer {
        border: 0;
        padding: 1rem 1.875rem 1.5rem 1.875rem !important;

        .btn {
            font-size: 0.875rem !important;
            min-width: 5rem;
        }
    }

    .modal-body-sticky-top {
        position: sticky;
        top: 0;
        z-index: 5;
        background-color: #fff;
        &::before {
            content: '';
            position: absolute;
            top: -1rem;
            left: -5px;
            width: 100%;
            height: 1rem;
            background-color: inherit;
            z-index: 5;
        }
    }

}
