header {
    .header-navigation-links {
        li {
            font-size: .9375rem !important;
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    min-height: var(--theme-topbar-height);
  }

.coi-header {
    background-color: var(--theme-body-color) !important;
    // border-bottom: var(--theme-separator-border);
    box-shadow: var(--theme-box-shadow);
    height: var(--theme-topbar-height);

    .container-fluid {
        background-color: var(--theme-body-color) !important;
        height: var(--theme-topbar-height);
    }

    .navbar-brand {
        margin-left: var(--theme-sidebar-width);
        padding: 0;
        padding-left: calc(var(--bs-gutter-x) * .5);
    }

    .coi-header-mobile {
        background-color: var(--theme-body-color) !important;
        z-index: 1032 !important;
    }
}

.coi-header-tab {
    li {
        &.active {
            border-bottom: 2px solid var(--theme-primary-color);

            a {
                color: var(--theme-primary-color);
            }
        }

        height: var(--theme-topbar-height);
        display: inline-flex;
        align-items: center;
    }
}

.coi-header-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 97;
    background-color: var(--theme-header-bg-color);
    border-bottom: var(--theme-header-border);
    box-shadow: var(--theme-header-box-shadow);
    padding: 0;
    ul {
        li a {
            color: var(--theme-header-text-color);
            &.active, &:hover, &:focus{
                color: var(--theme-primary-color);
                border-bottom: 3px solid var(--theme-primary-color);
            }
        }
    }
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all .4s ease-in-out;
    background-color: var(--theme-sidebar-bg-color);
    border-right: var(--theme-sidebar-border);
    box-shadow: var(--theme-sidebar-box-shadow);
    width: var(--theme-sidebar-width) !important;
    z-index: 100 !important;

    ul {
        .menu-icon {
            color: var(--theme-sidebar-text-color);
            padding-left: 15px !important;
            padding-right: 15px !important;
            padding-top: 5px !important;
        }

        button {
            font-size: .875rem !important;
            padding: 5px !important;
            margin-left: 10px !important;
            margin-right: 10px !important;
            color: var(--theme-sidebar-text-color);
            &.active-list {
                color: var(--theme-primary-color);
            }
        }
    }

    .mat-icon {
        font-size: 1.5rem !important;
    }
}

.side-bar-open {
    width: 205px !important;
}

.side-bar-closed {
    width: 55px;
}

.header-sticky {
    position: sticky;
    top: var(--theme-topbar-height);
    z-index: 50;
    background: var(--theme-body-bg-color);
}

//dashboard nav
.user-dashboard-nav  {
    color: #7c7c7c;
}

.navigation-icons .active {
    border-bottom: 2px solid var(--theme-blue);
    color: var(--theme-blue);
}

.coi-navigation-tabs {
    display: flex;
    align-items: center;
    min-height: 45px;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: var(--theme-navtab-bg-color);

    .navigation-box {
        display: inline-flex;
        font-size: 0.9375rem;
        font-weight: bold;
        color: #606060;
        padding: 0 1rem;
        text-decoration: none;

        .navigation-box-content {
            padding: 10px 0;

            &.active {
                color: #007DEC;
                border-bottom: 2px solid #007DEC;
            }
        }
    }
}


.navigation-icons > span:hover {
    color: var(--theme-blue);
    border-bottom: 2px solid var(--theme-blue);
}

.coi-nav-tab-sticky {
    position: sticky;
    top: 50px;
    z-index: 10;
}

.coi-dashboard-tab-sticky {
    position: sticky;
    top: 17px;
    z-index: 10;
    background-color: var(--theme-body-bg-color);
}

.nav {
    .coi-nav-item {
        .coi-nav-link {
            display: inline-flex;
            width: 100%;
            text-decoration: none;
            padding: .5rem 1rem;
            cursor: pointer;
            color: #505050;
            background-color: white;
            font-weight: 500;
            font-size: 0.875rem;

            &.active {
                color: #007dec;
                background: #fff8dd;
                font-weight: 600;
            }
    
            &:hover {
                background: #fffcef;
    
                & .nav-link {
                    color: #007dec;
                }
            }
        }
    }
}

.coi-halo-nav-item {
    background-color: #EAF3FB;
    border-radius: 50%;
    height: 35px !important;
    width: 35px !important;
    font-size: 25px !important;
    color: rgb(87 87 87 / 77%);
    mat-icon {
        font-size: 25px !important;
    }
    &:hover {
        color: #007DEC;
    }
    &:focus {
        color: #007DEC;
    }
    &.active-halo-item {
        color: #ffffff !important;
        background-color: #007DEC !important;
    }
}

.scrollspy-activate {
    background-color: #fff8dd;
    &:focus {
        background-color: #fff8dd !important;
    }
}

.scrollspy-section-activate {
    background-color: #fff8dd !important;
    &:focus {
        background-color: #fff8dd !important;
    }
}

.coi-scrollspy-right {
    &:hover {
        background-color: #fffcef;
    }

    &:focus-visible {
        box-shadow: none;
    }
}

.coi-section-separator {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 1rem;
        bottom: 1rem;
        width: 2px;
        background-color: rgb(100 121 143 / 12%);
    }
}

@media (min-width: 1400px) {
    .scrollspy-activate {
        position: relative;
        border-left: 2px solid var(--theme-primary-color);
        &::before {
            content: "";
            position: absolute;
            left: -7px;
            top: 40px;
            width: 12px;
            height: 12px;
            border: 2px solid var(--theme-primary-color);
            transform: rotate(44deg);
            border-right: 0;
            border-top: 0;   
            background: #fff8dd;
        }
    }

    .scrollspy-section-activate {
        position: relative;
        border-left: 2px solid var(--theme-primary-color);
        &::before {
            content: "";
            position: absolute;
            left: -5px;
            top: 37%;
            width: 8px;
            height: 8px;
            border: 2px solid var(--theme-primary-color);
            transform: rotate(44deg);
            border-right: 0;
            border-top: 0;
            background: #fff8dd;
        }
    }
}

@media (max-height: 600px) {
    .header-sticky,
    .coi-nav-tab-sticky,
    .form-builder-sticky-header,
    #opa-eng-pe-sticky-header,
    .coi-dashboard-tab-sticky {
        position: relative !important;
        top: unset !important;
    }
}
