:root {
    --theme-blue: #007DEC;
    --theme-indigo: #6610f2;
    --theme-purple: #6f42c1;
    --theme-pink: #d63384;
    --theme-red: #dc3545;
    --theme-orange: #fd7e14;
    --theme-yellow: #ffc107;
    --theme-green: #198754;
    --theme-teal: #20c997;
    --theme-cyan: #0dcaf0;
    --theme-black: #000;
    --theme-white: #fff;
    --theme-gray: #6c757d;
    --theme-red: #dc3545;
    --theme-pale-red: #fff7f1;
    --theme-pale-purple: #f8f7ff;
    --theme-gray-medium: #f1f1f1;
    --theme-gray-light: #f5f5f5;
    --theme-blue-light: #e4f1ff;
    --theme-blue-dark: #0b5ed7;
    --theme-gray-lighter: #ecf0f6;

    --theme-sidebar-width: 55px;
    --theme-topbar-height: 51px;
    --theme-gutter-x: 3rem;
    --theme-gutter-y: 1.5rem;
    --theme-separator-border: 1px solid #DBDFE9;
    --theme-box-shadow: 0px 0px 80px 50px rgba(206, 213, 225, 0.12);

    --theme-font-size: 0.875rem;
    --theme-line-height: 1.5;
    --theme-electric-blue: rgba(44, 119, 244, .1);
    --theme-pill-success: #337a54;
    --theme-pill-warning: #8a6800;
    --theme-pill-info: #006ccd;
}

$--theme-body-color: --theme-body-color;
$--theme-body-bg-color: --theme-body-bg-color;


$--theme-primary-color: --theme-primary-color;
$--theme-primary-color-light: --theme-primary-color-light;
$--theme-primary-color-inverse: --theme-primary-color-inverse;
$--theme-secondary-color: --theme-secondary-color;
$--theme-secondary-color-inverse: --theme-secondary-color-inverse;

$--theme-box-shadow: --theme-box-shadow;
$--theme-border-color: --theme-border-color;

//header
$--theme-header-bg-color: --theme-header-bg-color;
$--theme-header-text-color: --theme-header-text-color;
$--theme-header-box-shadow: --theme-header-box-shadow;
$--theme-header-border: --theme-header-border;

//sidebar
$--theme-sidebar-bg-color: --theme-sidebar-bg-color;
$--theme-sidebar-text-color: --theme-sidebar-text-color;
$--theme-sidebar-box-shadow: --theme-sidebar-box-shadow;
$--theme-sidebar-border: --theme-sidebar-border;


//cards
$--theme-card-bg-color: --theme-card-bg-color;
$--theme-card-border: --theme-card-border;
$--theme-card-box-shadow: --theme-card-box-shadow;
$--theme-card-body-bg-color: --theme-card-body-bg-color;
$--theme-card-body-border: --theme-card-body-border;
$--theme-card-symbol-bg-color: --theme-card-symbol-bg-color;
$--theme-card-symbol-color: --theme-card-symbol-color;

//tabs
$--theme-navtab-bg-color: --theme-navtab-bg-color;

//boxes
$--theme-box-red-bg-color: --theme-box-red-bg-color;
$--theme-box-purple-bg-color: --theme-box-purple-bg-color;

//entity
$--theme-entity-icon-color: --theme-entity-icon-color;
$--theme-entity-icon-bg-color: --theme-entity-icon-bg-color;
$--theme-entity-matching-card-border-color: --theme-entity-matching-card-border-color;
$--theme-entity-matching-card-bg-color: --theme-entity-matching-card-bg-color;

// Font size

// Font weight
// Line height

// Color
$--theme-text-gray-100: --theme-text-gray-100;
$--theme-text-gray-200: --theme-text-gray-200;
$--theme-text-gray-300: --theme-text-gray-300;
$--theme-text-gray-400: --theme-text-gray-400;
$--theme-text-gray-500: --theme-text-gray-500;
$--theme-text-gray-600: --theme-text-gray-600;
$--theme-text-gray-700: --theme-text-gray-700;
$--theme-text-gray-800: --theme-text-gray-800;
$--theme-text-gray-900: --theme-text-gray-900;

$--theme-gray-medium: --theme-gray-medium;
$--theme-gray-light: --theme-gray-light;
$--theme-blue-light: --theme-blue-light;
$--theme-blue-dark: --theme-blue-dark;

// Margin
// Padding
// Width
// Height
// Box shadows
// Border radius
// Border width
// Opacity

$theme-map-default: (
    $--theme-body-color:  var(--theme-white),
    $--theme-body-bg-color: #f1f1f1,
    $--theme-primary-color: var(--theme-blue),
    $--theme-primary-color-light: lighten(#007DEC, 50%),
    $--theme-primary-color-inverse:  var(--theme-white),

    $--theme-header-bg-color:  var(--theme-white),
    $--theme-header-text-color: var(--theme-text-gray-600),
    $--theme-header-box-shadow: none,
    $--theme-header-border: 1px solid #DBDFE9,

    $--theme-sidebar-bg-color: #0948b3,
    $--theme-sidebar-text-color:  var(--theme-white),
    $--theme-sidebar-box-shadow: none,
    $--theme-sidebar-border: .0625rem solid #1657c5,

    $--theme-card-bg-color:  var(--theme-white),
    $--theme-card-border: 1px solid #F1F1F4,
    $--theme-card-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03),
    $--theme-card-body-bg-color: transarent,
    $--theme-card-body-border: 0,
    $--theme-card-symbol-bg-color: transarent,
    $--theme-card-symbol-color: transarent,

    $--theme-text-gray-100: #F9F9F9,
    $--theme-text-gray-200: #F1F1F2,
    $--theme-text-gray-300: #DBDFE9,
    $--theme-text-gray-400: #B5B5C3,
    $--theme-text-gray-500: #99A1B7,//#99A1B7,
    $--theme-text-gray-600: #6c758d,//#78829D,
    $--theme-text-gray-700: #4B5675,
    $--theme-text-gray-800: #252F4A,
    $--theme-text-gray-900: #071437,

    $--theme-navtab-bg-color: #E4F1FF,
    $--theme-box-red-bg-color: var(--theme-pale-red),
    $--theme-box-purple-bg-color: var(--theme-pale-purple),

    $--theme-entity-icon-color: #0948b2,
    $--theme-entity-icon-bg-color: #dfe5f0,

    $--theme-entity-matching-card-border-color: #673e21,
    $--theme-entity-matching-card-bg-color: #fff7f1,
);

$theme-map-light: (
    $--theme-body-color:  var(--theme-white),
    $--theme-body-bg-color: #FCFCFD,
    $--theme-primary-color:  var(--theme-blue),
    $--theme-primary-color-light:  lighten(#007DEC, 50%),
    $--theme-primary-color-inverse:  var(--theme-white),

    $--theme-header-bg-color:  var(--theme-white),
    $--theme-header-text-color: var(--theme-text-gray-600),
    $--theme-header-box-shadow: none,
    $--theme-header-border: 1px solid #DBDFE9,

    $--theme-sidebar-bg-color:  var(--theme-white),
    $--theme-sidebar-text-color: #7c7c7c,
    $--theme-sidebar-box-shadow: none,
    $--theme-sidebar-border: 1px solid #DBDFE9,

    $--theme-card-bg-color:  var(--theme-white),
    $--theme-card-border: 1px solid #F1F1F4,
    $--theme-card-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03),
    $--theme-card-body-bg-color: transarent,
    $--theme-card-body-border: 0,
    $--theme-card-symbol-bg-color: transarent,
    $--theme-card-symbol-color: transarent,

    $--theme-text-gray-100: #F9F9F9,
    $--theme-text-gray-200: #F1F1F2,
    $--theme-text-gray-300: #DBDFE9,
    $--theme-text-gray-400: #B5B5C3,
    $--theme-text-gray-500: #99A1B7,
    $--theme-text-gray-600: #6c758d,
    $--theme-text-gray-700: #4B5675,
    $--theme-text-gray-800: #252F4A,
    $--theme-text-gray-900: #071437,

    $--theme-navtab-bg-color: #E4F1FF,
    $--theme-box-red-bg-color: var(--theme-pale-red),
    $--theme-box-purple-bg-color: var(--theme-pale-purple),

    $--theme-entity-icon-color: #0948b2,
    $--theme-entity-icon-bg-color: #dfe5f0,

    $--theme-entity-matching-card-border-color: #673e21,
    $--theme-entity-matching-card-bg-color: #fff7f1,
);

$theme-map-dark: (
    $--theme-body-color:  var(--theme-white),
    $--theme-body-bg-color: #151521,
    $--theme-primary-color:  var(--theme-blue),
    $--theme-primary-color-light:  lighten(#007DEC, 50%),
    $--theme-primary-color-inverse:  var(--theme-white),

    $--theme-header-bg-color: #1e1e2d,
    $--theme-header-text-color:  var(--theme-white),
    $--theme-header-box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05),
    $--theme-header-border: 0,

    $--theme-sidebar-bg-color: #1e1e2d,
    $--theme-sidebar-text-color:  var(--theme-white),
    $--theme-sidebar-box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05),
    $--theme-sidebar-border: 0,

    $--theme-card-bg-color: #15171c,
    $--theme-card-border: 1px solid #1e2027,
    $--theme-card-box-shadow: none,
    $--theme-card-body-bg-color: #15171c,
    $--theme-card-body-border: 1px solid #1E2027,
    $--theme-card-symbol-bg-color: lighten(#1e1e2d, 3%),
    $--theme-card-symbol-color: lighten(#1e1e2d, 40%),

    // $--theme-text-gray-100: #F9F9F9,
    // $--theme-text-gray-200: #F1F1F2,
    // $--theme-text-gray-300: #DBDFE9,
    // $--theme-text-gray-400: #474761,
    // $--theme-text-gray-500: #99A1B7,
    // $--theme-text-gray-600: #6c758d,
    // $--theme-text-gray-700: #92929f,
    // $--theme-text-gray-800: #cdcdde,
    // $--theme-text-gray-900:  #F5F5F5,

    $--theme-text-gray-100: #1b1b29,
    $--theme-text-gray-200: #2B2B40,
    $--theme-text-gray-300: #323248,
    $--theme-text-gray-400: #474761,
    $--theme-text-gray-500: #565674,
    $--theme-text-gray-600: #6D6D80,
    $--theme-text-gray-700: #92929F,
    $--theme-text-gray-800: #CDCDDE,
    $--theme-text-gray-900: #F5F5F5,

    $--theme-navtab-bg-color: #1e1e2d,
    $--theme-box-red-bg-color: #1e1e2d,

    $--theme-entity-icon-color: #0948b2,
    $--theme-entity-icon-bg-color: #dfe5f0,

    $--theme-entity-matching-card-border-color: #673e21,
    $--theme-entity-matching-card-bg-color: #fff7f1,
);
//#a92034
$theme-map-red: (
    $--theme-body-color:  var(--theme-white),
    $--theme-body-bg-color: #FCFCFD,
    $--theme-primary-color:  var(--theme-blue),
    $--theme-primary-color-light:  lighten(#007DEC, 50%),
    $--theme-primary-color-inverse:  var(--theme-white),

    $--theme-header-bg-color:  var(--theme-white),
    $--theme-header-text-color: var(--theme-text-gray-600),
    $--theme-header-box-shadow: none,
    $--theme-header-border: 1px solid #DBDFE9,

    $--theme-sidebar-bg-color: #750014,
    $--theme-sidebar-text-color:  var(--theme-white),
    $--theme-sidebar-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03),
    $--theme-sidebar-border: 1px solid #DBDFE9,

    $--theme-card-bg-color:  var(--theme-white),
    $--theme-card-border: 1px solid #F1F1F4,
    $--theme-card-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03),
    $--theme-card-body-bg-color: #f5f6fb,
    $--theme-card-body-border: 1px solid #e5e8f5,
    $--theme-card-symbol-bg-color: darken(#f5f6fb, 3%),
    $--theme-card-symbol-color: darken(#f5f6fb, 75%),

    $--theme-text-gray-100: #F9F9F9,
    $--theme-text-gray-200: #F1F1F2,
    $--theme-text-gray-300: #DBDFE9,
    $--theme-text-gray-400: #B5B5C3,
    $--theme-text-gray-500: #99A1B7,
    $--theme-text-gray-600: #6c758d,
    $--theme-text-gray-700: #4B5675,
    $--theme-text-gray-800: #252F4A,
    $--theme-text-gray-900: #071437,

    $--theme-navtab-bg-color: #E4F1FF,
    $--theme-box-red-bg-color: var(--theme-pale-red),
    $--theme-box-purple-bg-color: var(--theme-pale-purple),

    $--theme-entity-icon-color: #0948b2,
    $--theme-entity-icon-bg-color: #dfe5f0,

    $--theme-entity-matching-card-border-color: #673e21,
    $--theme-entity-matching-card-bg-color: #fff7f1,
);

$theme-map-blue: (
    $--theme-body-color:  var(--theme-white),
    $--theme-body-bg-color: #f1f1f1,
    $--theme-primary-color:  var(--theme-blue),
    $--theme-primary-color-light:  lighten(#007DEC, 50%),
    $--theme-primary-color-inverse:  var(--theme-white),

    $--theme-header-bg-color:  var(--theme-white),
    $--theme-header-text-color: var(--theme-text-gray-600),
    $--theme-header-box-shadow: none,
    $--theme-header-border: 1px solid #DBDFE9,

    $--theme-sidebar-bg-color: #0948b3,
    $--theme-sidebar-text-color:  var(--theme-white),
    $--theme-sidebar-box-shadow: none,
    $--theme-sidebar-border: .0625rem solid #1657c5,

    $--theme-card-bg-color:  var(--theme-white),
    $--theme-card-border: 1px solid #F1F1F4,
    $--theme-card-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03),
    $--theme-card-body-bg-color: #f0fff1,
    $--theme-card-body-border: 0,//1px solid #e5e8f5,
    $--theme-card-symbol-bg-color: darken(#f0fff1, 3%),
    $--theme-card-symbol-color: darken(#f0fff1, 75%),

    $--theme-text-gray-100: #F9F9F9,
    $--theme-text-gray-200: #F1F1F2,
    $--theme-text-gray-300: #DBDFE9,
    $--theme-text-gray-400: #B5B5C3,
    $--theme-text-gray-500: #99A1B7,
    $--theme-text-gray-600: #6c758d,
    $--theme-text-gray-700: #4B5675,
    $--theme-text-gray-800: #252F4A,
    $--theme-text-gray-900: #071437,

    $--theme-navtab-bg-color: #E4F1FF,
    $--theme-box-red-bg-color: var(--theme-pale-red),
    $--theme-box-purple-bg-color: var(--theme-pale-purple),

    $--theme-entity-icon-color: #0948b2,
    $--theme-entity-icon-bg-color: #dfe5f0,

    $--theme-entity-matching-card-border-color: #673e21,
    $--theme-entity-matching-card-bg-color: #fff7f1,
);
