.matrix-header {
    background-color: #f8f9fa;
}

.matrix-colspan-row {
    background-color: #eaeaea;
}

.table-top {
    margin-top: 17px;
}

.custom-table-responsive {
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        width: 4px;
        height: 4px;
    }
}

.no-data-margin {
    margin-left: 0 !important;
}

@media (min-width: 768px) {
    .custom-table-responsive {
        overflow: initial !important;
    }
}
