.grey-container {
    border-color: #929596;
    border-style: solid;
    border-width: 1px 0px;
    background: #efefef;
}

.btn-outline-secondary {
    font-size: 1.4rem;
    min-width: 5em;
    padding: .5rem 1rem;
    height: 35px;
}
