<div class="grey-container py-2">
  <h5 class="font-bold mb-3 ml-3 text">Add <ng-container i18n="@@MANPOWER_ADD_NON_EMPLOYEE">Non-Employee</ng-container>
  </h5>
  <div class="form-row mx-1">
    <div class="form-group col-md-3 col-sm-6 col-12">
      <label class="block-display">
        <span class="mandatory"></span>Salutation</label>
      <select [(ngModel)]="genderType" class="form-control ng-pristine ng-valid ng-touched wd-100">
        <option [ngValue]=null>--Select--</option>
        <option value="Mr">Mr</option>
        <option value="Miss">Miss</option>
        <option value="Mrs">Mrs</option>
        <option value="Ms">Ms</option>
        <option value="Dr">Dr</option>
        <option value="Prof">Prof</option>
      </select>
    </div>
    <div class="form-group col-md-3 col-sm-6 col-12">
      <label class="block-display">First Name</label>
      <input type="text" id="rolodex-firstname" placeholder="First Name" class="form-control"
        [(ngModel)]="rolodex.firstName" autocomplete="off" (ngModelChange)="isNameChanged = true"
        (focusout)="processFullName()" />
    </div>
    <div class="form-group col-md-3 col-sm-6 col-12">
      <label class="block-display">
        <span class="mandatory"></span>Middle Name</label>
      <input type="text" id="rolodex-middlename" placeholder="Middle Name" class="form-control" autocomplete="off"
        [(ngModel)]="rolodex.middleName" (ngModelChange)="isNameChanged = true" (focusout)="processFullName()" />
    </div>
    <div class="form-group col-md-3 col-sm-6 col-12">
      <label class="block-display">Last Name</label>
      <input type="text" id="rolodex-secondname" placeholder="Last Name" class="form-control"
        [(ngModel)]="rolodex.lastName" autocomplete="off" (ngModelChange)="isNameChanged = true"
        (focusout)="processFullName()" />
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
      <label class="block-display">
        <span class="mandatory">*</span>Full Name</label>
      <input type="text" id="rolodex-fullname" placeholder="Full Name" class="form-control" autocomplete="off"
        [(ngModel)]="rolodex.fullName" (ngModelChange)="isFullNameTyped = true"
        [ngClass]="(nonEmployeeMap.has('fullName'))? 'is-invalid d-block' : ''" />
      <div class="invalid-feedback block-display" *ngIf="nonEmployeeMap.has('fullName')">
        {{nonEmployeeMap.get('fullName')}}
      </div>
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
      <label class="block-display">Designation</label>
      <input class="form-control" type="text" id="rolodex-designation" autocomplete="off" placeholder=""
        [(ngModel)]="rolodex.designation" />
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
      <label class="block-display">Phone</label>
      <div>
        <input class="form-control" type="text" id="rolodex-phone" placeholder="" [(ngModel)]="rolodex.phoneNumber"
          autocomplete="off" (keyup)="phoneNumberValidation(rolodex.phoneNumber)"
          [ngClass]="(nonEmployeeMap.has('phoneNumber'))? 'is-invalid d-block' : ''" />
      </div>
      <div class="invalid-feedback block-display" *ngIf="nonEmployeeMap.has('phoneNumber')">
        {{nonEmployeeMap.get('phoneNumber')}}
      </div>
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
      <label class="block-display">
        <span class="mandatory">*</span>Email Address</label>
      <input class="form-control" type="text" id="rolodex-emailid" placeholder="" [(ngModel)]="rolodex.emailAddress"
        autocomplete="off"
        [ngClass]="(nonEmployeeMap.has('emailAddress')) || (nonEmployeeMap.has('email')) ? 'is-invalid block-display' : ''" />
      <div class="invalid-feedback block-display" *ngIf="nonEmployeeMap?.has('emailAddress')">
        {{nonEmployeeMap?.get('emailAddress')}}
      </div>
      <div class="invalid-feedback block-display" *ngIf="nonEmployeeMap?.has('email')">
        {{nonEmployeeMap?.get('email')}}
      </div>
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
      <label class="block-display">Organization</label>
      <app-endpoint-search [httpOptions]="organizationSearchOptions" [clearField]="clearOrgField"
        [placeHolder]="'Type here for Organization Name'" (onSelect)="organizationSelectFunction($event)"
        (onEmpty)="organizationEmptyFunction($event)" [addSearchText]="_commonService.canAddOrganization"
        (onNewValueSelect)=newOrganizationSelect($event)></app-endpoint-search>
      <div *ngIf="(nonEmployeeMap.has('organization'))" class="invalid-feedback d-block">
        {{nonEmployeeMap.get('organization')}}
      </div>
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
      <label class="block-display">Country of Organization</label>
      <app-endpoint-search [clearField]="clearCountryField" [httpOptions]="countryHttpOptions"
        [isDisabled]="isOrganizationCountryPresent || !rolodex?.organizations"
        [placeHolder]="'Type here for Country of Organization'" (onSelect)="countrySelectFunction($event)"
        (onEmpty)="countryEmptyFunction($event)"></app-endpoint-search>
      <div *ngIf="(nonEmployeeMap.has('countryName'))" class="invalid-feedback d-block">
        {{nonEmployeeMap.get('countryName')}}
      </div>
    </div>
    <div class="col text-right">
      <button type="button" id="award-non-employee-close-btn" class="btn btn-outline-secondary"
        (click)="clearRolodexDetails();emitRolodexResult(null)">Cancel</button>
      <button type="button" id="award-non-employee-add-btn" class="btn btn-secondary btn-sm"
        (click)="saveRolodex('I');">Add Rolodex</button>
    </div>
  </div>
</div>
