.attachment {
    text-decoration: underline;
    color: #31BCD8;
    margin-top: 2px;
}

.setBody {
    padding: 10px;
    z-index: 1;
    position: relative;
    /* box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.22); */
    border-radius: 3px;
}

.setHeadedit {
    right: 62px;
}

.setHeaddelete {
    right: 34px;
}

.setHead>.setHeadDownload {
    position: absolute;
    right: 5px;
    top: -2px;
    line-height: normal;
}

.nego-bck {
    /* background: #fff; */
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
}

.setBody span {
    font-weight: 600;
    font-size: 13px;
}

.setHead {
    padding: 0;
    z-index: 1;
    position: relative;
}
.form-row > div {
    margin-bottom: 1.4rem;
}

/* .info-box-dashed {
    background-color: #1e847b0f;
    padding: 1rem;
    border: 1px dashed#1e847b;
} */
.info-box-dashed a > i {
    margin-right: 1rem;
}
.info-box-dashed a > i:hover {
    color: #1e847b;
}
