.txtarea-ht { height: 35px;}
.info-txt{
    font-size: 1.2rem;
    font-weight: 400;
    opacity: .8;
}
.form-row > div {
    margin-bottom: 1.4rem;
}
.checkBoxClass {
	width: 31%;
	height: 1.2em;
    
}
