
<div [@fadeInOutHeight]>
    <div *ngIf="hasHistoryLogs?.length" class="card" id="opa-review-history">
        <div class="card-header coi-reviewer-header-sticky" [style.top]="reviewService?.headerTop">
            <h4 class="card-title review-title">
              <div class="justify-content-between row d-flex align-items-center"tabindex="0">
                <div class="col fs-16 mt-2 fw-bold">Review History</div>
              </div>
            </h4>
          </div>
        <div class="card-content">
            <div class="card-body">
                <ul class="timeline">
                    <ng-container *ngFor="let review of reviewHistoryLogs | keyvalue: sortNull">
                    <li *ngFor="let historyEntry of review.value;">
                        <span class="fs-14" [innerHTML]="historyEntry?.description" tabindex="0"></span>
                        <p class="coi-text-lighter fs-13" tabindex="0">{{review.key}} {{historyEntry?.updateTimestamp | dateFormatterWithTimeZone:'time'}}</p>
                        <p *ngIf="historyEntry?.description" class="coi-text-light" tabindex="0">
                            <span *ngIf="historyEntry?.comment" class="fs-14">
                                <mat-icon class="format_quote">format_quote</mat-icon>
                                <span class="fst-italic mx-2"
                                    [attr.aria-label]="historyEntry?.description">
                                    <span class="coi-text-light mt-2">{{historyEntry?.comment}}</span>
                                </span>
                            </span>
                        </p>
                    </li>
                </ng-container>
                </ul>
            </div>
            <div *ngIf="isEmptyObject(reviewHistoryLogs)">
                <app-no-information [isBorderNeeded]="false"> </app-no-information>
            </div>
        </div>
    </div>
</div>

<!-- <div [@fadeInOutHeight]>
  <div class="card mt-3" id="opa-history">
    <div class="card-header px-4">
      <h4 class="card-title review-title">
        <div class="justify-content-between row d-flex align-items-center"tabindex="0">
          <div class="col">Review History</div>
        </div>
      </h4>
    </div>
      <div class="card-content">
          <div class="card-body">
              <div class="form-row">
                  <div class="table-responsive">
                      <table class="table mb-0">
                          <thead class="sr-none"></thead>
                          <tbody>
                              <tr *ngFor="let review of reviewHistoryLogs | keyvalue: sortNull">
                                  <h4 class="border-left-line pl-3 fw-700 history-date py-2 px-3"tabindex="0"[attr.aria-label]="review.key">{{review.key}}
                                  </h4>
                                  <ul class="pl-4 pr-3 mb-0">
                                      <li *ngFor="let historyEntry of review.value;" class="p-3">
                                          <div class="form-row">
                                              <div class="col">
                                                  <p class="fs-14 mb-0" tabindex="0">
                                                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                      <label class="fw-700 mx-3"[attr.aria-label]="historyEntry?.updateTimestamp|
                                                      dateFormatterWithTimeZone:'time'">{{historyEntry?.updateTimestamp|
                                                          dateFormatterWithTimeZone:'time'}}</label>
                                                      <span  [innerHTML]="historyEntry?.description" aria-label></span>
                                                  </p>
                                                  <span *ngIf="historyEntry?.comment" class="px-4 fs-14">
                                                    <span class="fa fa-quote-left comment-icon grey-text ml-2 fs-13"></span>
                                                    <span class="word-break-all new-line-property fst-italic mx-2"
                                                        *ngIf="!isReadMore && historyEntry?.comment?.length > 460; else showFullInfo">
                                                        <span class="grey-text mt-2">{{(historyEntry?.comment | slice:0:460)}}</span>
                                                        <span (click)="isReadMore = !isReadMore" class="hand-cursor"><span class="fw-medium">... <u>Read
                                                                    more</u>
                                                                <i aria-hidden="true"></i></span>
                                                        </span>
                                                    </span>
                                                    <ng-template #showFullInfo>
                                                        <span class="word-break-all new-line-property fst-italic mx-2 grey-text">{{historyEntry?.comment}}</span>
                                                        <span class="hand-cursor mt-2 fw-medium" *ngIf="historyEntry?.comment?.length > 460"
                                                            (click)="isReadMore = !isReadMore" aria-hidden="true">
                                                            <span class="fw-medium"><u>Read Less</u>
                                                                <i aria-hidden="true"></i></span>
                                                        </span>
                                                    </ng-template>
                                                </span>
                                              </div>
                                          </div>
                                      </li>
                                  </ul>
                              </tr>
                          </tbody>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="isEmptyObject(reviewHistoryLogs)">
                    <app-no-information [isBorderNeeded]="false"> </app-no-information>
                </div>
          </div>
      </div>
  </div>
</div> -->
