.body-content {
    min-height: 152px;
    overflow-y: hidden;
    position: relative;
}

.expanded-card {
    min-height: 152px;
}

// .read-more {
//     position: absolute;
//     bottom: 4px;
//     right: 18px;;
//     background-color: #fff;
// }

  .searchButton {
    left: 15px;
    position: absolute;
    top: 15px;
    color: #9E9E9E;
    cursor: pointer;
}

.closeButton {
    position: absolute;
    right: 10px;
    color: #48647f;
    cursor: pointer;
    top: 15px;
}

::ng-deep .p-inline-no-margin {
    p {
        margin: 0 !important;
        display: inline;
    }
}

.sticky-top-51 {
    top: 51px;
    position: sticky;
    z-index: 2;
}

.sticky-top-slider {
    position: sticky;
    top: -16px;
    z-index: 1020;
}

.header-bottom {
    border-bottom: 1px solid var(--theme-body-bg-color);
}
