<div class="push4slideMenu pageMinHeight">
  <div class="container-fluid pushFixedHeaderFooter">
    <div class="headerPush"></div>

    <div class="card card-table-box mt-3 py-3">
      <div class="card-content">
        <div class="card-header py-2">
          <h4 class="card-title align-items-center d-flex">Award Base Salary
          </h4>
        </div>
        <!-- search components -->
        <div class="card">
          <div class="card-body">
            <div class="form-row">
              <div class="col-md-3 col-sm-12 col-12">
                <label class="d-block">Award # / Account Number</label>
                <select id="search-type" class="form-control" [(ngModel)]="searchType">
                  <option value="1">Award #</option>
                  <option value="2">Account Number</option>
                </select>
              </div>
              <div *ngIf="searchType == '1'" class="col-md-3 col-sm-12 col-12">
                <label class="d-block"><span class="mandatory">*</span> Award #</label>
                <input type="text" id="award-number-base-salary" placeholder="Award #" maxlength="60" autocomplete="off"
                  [(ngModel)]="searchHead.awardNumber" class="form-control"
                  [ngClass]="{'is-invalid d-block': searchMap.has('awardNumber')}" />
                <div *ngIf="(searchMap.has('awardNumber'))" class="ml-2 invalid-feedback d-block">
                  {{searchMap.get('awardNumber')}}
                </div>
              </div>
              <div *ngIf="searchType == '2'" class="col-md-3 col-sm-12 col-12">
                <label class="d-block"><span class="mandatory">*</span> Account Number</label>
                <input type="text" id="account-number-base-salary" placeholder="Account Number" maxlength="60"
                  autocomplete="off" [(ngModel)]="searchHead.accountNumber" class="form-control"
                  [ngClass]="{'is-invalid d-block': searchMap.has('accountNumber')}" />
                <div *ngIf="(searchMap.has('accountNumber'))" class="ml-2 invalid-feedback d-block">
                  {{searchMap.get('accountNumber')}}
                </div>
              </div>
              <div class="col-md col-sm-12 col-12">
                <label class="d-block"><span class="mandatory">*</span> Person</label>
                <app-elastic [placeHolder]="'Search a person'" (selectedResult)="selectPerson($event)"
                  [options]="personSearchOptions" [isError]="searchMap.has('personId')">
                </app-elastic>
                <div *ngIf="(searchMap.has('personId'))" class="ml-2 invalid-feedback d-block">
                  {{searchMap.get('personId')}}
                </div>
              </div>
              <div [ngClass]="{'align-items-center': searchMap?.size}" class="align-items-end col-12 col-md-2 d-flex justify-content-end">
                <button id="search-clear-base-salary" class="btn btn-secondary btn-xs mr-2" title="Clear"
                  (click)="clearSearch()">Clear</button>
                <button id="adv-search-base-salary" class="btn btn-primary btn-xs" title="Search"
                  (click)="getSearchResult()">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Base Salary Details Table -->
    <div class="card card-table-box">
      <div class="card-content">
        <div *ngIf="awardBaseSalaryList?.length" class="card-header">
          <h4 class="card-title align-items-center d-flex py-2">Base Salary Details of {{ personDetails?.fullName }} ({{
            personDetails?.personId }}) <span class="badge badge-danger ml-2">[CONFIDENTIAL]</span>
          </h4>
        </div>
        <div class="table-responsive" *ngIf="awardBaseSalaryList?.length; else noData">
          <table class="table tableSkin mb-0">
            <caption class="sr-only">Award Base Salary List</caption>
            <thead class="text-center">
              <th scope="col">Award Number</th>
              <th scope="col">Account Number</th>
              <th scope="col">Position Id</th>
              <th scope="col">Charge Start Date</th>
              <th scope="col">Charge End Date</th>
              <th scope="col">Email Address</th>
              <th scope="col">Actual Base Salary</th>
              <th scope="col">Cost Allocation</th>
              <th scope="col">Multiplier Value Used</th>
              <th scope="col">Actual Committed Amount</th>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let entry of awardBaseSalaryList">
                <td>{{ entry?.awardNumber }}</td>
                <td>{{ entry?.accountNumber }}</td>
                <td>{{ entry?.positionId }}</td>
                <td>{{ entry?.chargeStartDate | dateFormatter }}</td>
                <td>{{ entry?.chargeEndDate | dateFormatter }}</td>
                <td>{{ entry?.emailAddress }}</td>
                <td>{{ entry?.baseSalaryUsed | currency }}</td>
                <td>{{ entry?.costAllocation }} %</td>
                <td>{{ entry?.multiplierValueUsed }}</td>
                <td>{{ entry?.committedCost | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- No Data Card -->
        <ng-template #noData>
          <div class="no-data-container">
            <span class="no-data-icon-outer">
              <div class="no-data-icon">
                <i class="fa fa-file-o" aria-hidden="true"></i>
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
              </div>
            </span>
            <h4>There is no information in this section.</h4>
          </div>
        </ng-template>

      </div>
    </div>

  </div>
</div>
