<div class="card my-3"  id="Proposal301">
  <div class="card-header px-4">
    <h4 class="card-title">
      General Proposal Information
      <span class="d-inline-block float-right icon-hover">
        <a class="tooltip "><i class="fa fa-info-circle fa-med hand-cursor" aria-hidden="true"></i>
          <div class="tooltiptext-right card card-inner p-15 text-left">
            <span class="font-cv">Created By: </span><span
              class="font-cv font-weight-bold">{{proposal?.createUserFullName}}
              on {{proposal?.createTimeStamp | dateFormatterWithTimeZone: 'long'}}</span>
            <span class="font-cv">Last Updated By: </span><span
              class="font-cv font-weight-bold">{{proposal?.lastUpdateUserFullName}}
              on {{proposal?.updateTimeStamp | dateFormatterWithTimeZone: 'long'}}</span>
            <span class="font-cv" *ngIf="proposal?.proposalStatus?.statusCode != 1">Submitted By:
            </span><span *ngIf="proposal?.proposalStatus?.statusCode != 1"
              class="font-cv font-weight-bold">{{proposal?.submitUserFullName}} on {{proposal?.submissionDate
              | dateFormatterWithTimeZone: 'long'}}</span>
            <span class="font-cv" *ngIf="proposal?.proposalStatus?.statusCode == 12">
              <ng-container i18n="@@COMMON_WITHDRAWED_BY">Withdrawn By</ng-container>:
            </span><span *ngIf="proposal?.proposalStatus?.statusCode == 12"
              class="font-cv font-weight-bold">{{proposal?.lastUpdateUserFullName}}
              on {{proposal?.updateTimeStamp | dateFormatterWithTimeZone: 'long'}}</span>
          </div>
        </a>
      </span>
    </h4>
  </div>
  <div class="card-body">
    <div class="gridSkin">
      <div class="row" *ngIf="_proposalService.proposalSectionConfig['353']?.isActive && grantCallName">
        <!-- Title of Grant Call -->
        <div class="col-lg-10 col-12">
          <label class="d-block">Title of Grant Call</label>
          <span [innerHTML]="proposal?.grantCallId | customTagRemover: currentMethod"></span>
          <span [innerHTML]="'-'"></span>
          <span [innerHTML]="grantCallName | customTagRemover: currentMethod"></span>
        </div>
        <!-- View Grant Call Details -->
        <!-- <div class="col-lg-2 col-12 mt-lg-5 no-hover-effect" *ngIf="proposal?.grantCallId != null">
                  <span class="actionButtonGroup d-inline-block float-left">
                      <a id="prop-eyeIcon-view-btn" title="Click here to view {{result?.grantCall?.grantCallName}}"
                          (click)="showGrantDetails = true;" class="anchor-link " tabindex="0">
                          View Grant Call Details
                      </a>
                  </span>
              </div> -->
      </div>
      <div class="row" *ngIf="proposal?.awardNumber && _proposalService.proposalSectionConfig['354']?.isActive">
        <!-- Linked Award -->
        <div class="col-lg-10 col-12">
          <label class="d-block">
            <ng-container i18n="@@PROPOSAL_LINK_AWARD">Title of Award</ng-container>
          </label>
          <span [innerHTML]="proposal?.awardNumber | customTagRemover: currentMethod"></span>
          <span [innerHTML]="'-'"></span>          
          <span [innerHTML]="proposal?.awardTitle | customTagRemover: currentMethod"></span>
        </div>
        <!-- View Award Details -->
        <!-- <div class="col-lg-2 col-12 mt-lg-5 no-hover-effect">
                  <span class="actionButtonGroup d-inline-block float-left">
                      <a id="award-details" title="Click here to view {{proposal?.awardTitle}}"
                          class="anchor-link position-absolute fs-14" target="_blank" tabindex="0"
                          [routerLink]="['/fibi/award/overview']" [queryParams]="{awardId:proposal?.awardId}"
                          tabindex="0">
                          View Award Details
                      </a>
                  </span>
              </div> -->
      </div>
      <div class="row">
        <div class="col-12">
          <label class="d-block" title="Master Proposal Number">
            <ng-container i18n="@@COMMON_MASTER_PROPOSAL">Master Proposal</ng-container>#
          </label>
          <span *ngIf="proposal?.baseProposalNumber" [innerHTML]="(proposal?.baseProposalNumber+ ' ' + '-' + ' ' + proposal?.baseProposalTitle) | customTagRemover: currentMethod"></span>
          <span *ngIf="!proposal?.baseProposalNumber || proposal?.baseProposalNumber == 'null' || proposal?.baseProposalNumber == ''"
            class="noDataExists">No <ng-container i18n="@@COMMON_MASTER_PROPOSAL">Master Proposal</ng-container> Specified</span>
        </div>
      </div>
      <div class="row">
        <!-- Proposal Title -->
        <div class="col-12">
          <label class="d-block">Proposal Title
            <span *ngIf="helpText?.proposalInformation && helpText?.proposalInformation['proposalTitle']?.helpTextInfo" class="d-inline-block icon-hover">
              <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-question-circle fa-med hand-cursor" aria-hidden="true"></i>
                  <div class="tooltiptext-left card card-inner p-15 text-left">
                      <span class="font-cv">{{helpText?.proposalInformation['proposalTitle']?.helpTextInfo}}</span>
                  </div>
              </a>
          </span>
          </label>
          <span [innerHTML]="proposal?.title | customTagRemover: currentMethod"></span>
        </div>
        <!-- Proposal Type -->
        <div class="col-lg-3 col-sm-6 col-12">
          <label class="d-block">Proposal Type</label>
          <span [innerHTML]="proposal?.proposalType?.description | customTagRemover: currentMethod"></span>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <!-- Type of Grant -->
          <label class="d-block"><ng-container i18n="@@COMMON_TYPE_OF_GRANT">Type of Grant</ng-container></label>
          <span [innerHTML]="proposal?.grantCallType?.description | customTagRemover: currentMethod"></span>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <!-- Category -->
          <label class="d-block">
            <ng-container i18n="@@COMMON_CATEGORY_PROPOSAL">Category</ng-container>
          </label>
          <span [innerHTML]="proposal?.activityType?.description | customTagRemover: currentMethod"></span>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <!-- Anticipated Award Type -->
          <label class="d-block">Anticipated Award Type</label>
          <span *ngIf="proposal?.awardType?.description" [innerHTML]="proposal?.awardType?.description | customTagRemover: currentMethod"></span>
          <span *ngIf="!proposal?.awardType" class="noDataExists">No Anticipated Award Type
            Specified</span>
        </div>
        <!-- SMU Specific change-->
        <!-- <div class="col-lg-3 col-sm-6 col-12">
                      <label class="d-block">Discipline Cluster</label>
                      <span>{{proposal?.disciplineCluster?.description}}</span>
                      <span *ngIf="!proposal?.disciplineCluster?.description == null" class="noDataExists">No Discipline Cluster Specified</span>
                  </div> -->

        <!-- Sponsor -->
        <div class="col-lg-3 col-sm-6 col-12">
          <label class="d-block">
            <ng-container i18n="@@COMMON_SPONSOR">Sponsor</ng-container>
          </label>
          <span *ngIf="proposal?.sponsorName" [innerHTML]="proposal?.sponsorName | customTagRemover: currentMethod"></span>
          <span *ngIf="proposal?.sponsorName == null" class="noDataExists">
            <ng-container i18n="@@COMMON_NO_SPONSOR_SPECIFIED_ERR">No Sponsor Specified</ng-container>
          </span>
        </div>
        <!-- Proposed Start Date -->
        <div class="col-lg-3 col-sm-6 col-12">
          <label class="d-block">Proposed Start Date</label>
          <span [innerHTML]="dateFormatter.parseDate(proposal?.startDate) | customTagRemover: currentMethod"></span>
        </div>
        <!-- Proposed End Date -->
        <div class="col-lg-3 col-sm-6 col-12">
          <label class="d-block">Proposed End Date</label>
          <span [innerHTML]="dateFormatter.parseDate(proposal?.endDate) | customTagRemover: currentMethod"></span>
        </div>
        <!-- Duration -->
        <div class="col-lg-3 col-sm-6 col-12">
          <label class="d-block">Duration</label>
          <span>
            <strong [innerHTML]="proposal?.duration | customTagRemover: currentMethod">{{proposal?.duration}}</strong>
          </span>
        </div>
        <!-- Prime Sponsor -->
        <div class="col-lg-3 col-sm-6 col-12">
          <label class="d-block">Prime Sponsor</label>
          <span *ngIf="proposal?.primeSponsorName" [innerHTML]="proposal?.primeSponsorName | customTagRemover: currentMethod"></span>
          <span *ngIf="!proposal?.primeSponsorName" class="noDataExists">No Prime Sponsor
            Specified</span>
        </div>
        <!-- Sponsor Proposal ID -->
        <div class="col-lg-3 col-sm-6 col-12">
          <label class="d-block">
            <ng-container i18n="@@COMMON_SPONSOR_PROPOSAL_ID">Sponsor Proposal ID</ng-container>
          </label>
          <span *ngIf="proposal?.externalFundingAgencyId" [innerHTML]="proposal?.externalFundingAgencyId | customTagRemover: currentMethod"></span>
          <span class="noDataExists" *ngIf="!proposal?.externalFundingAgencyId">
            <ng-container i18n="@@PROPOSAL_NO_SPONSOR_PROPOSAL_ID_ERR">No Sponsor Proposal ID Specified</ng-container>
          </span>
        </div>
        <!-- Sponsor Deadline Date -->
        <div class="col-lg-3 col-sm-6 col-12">
          <label class="d-block">Sponsor Deadline Date</label>
          <span *ngIf="proposal?.sponsorDeadlineDate" [innerHTML]="dateFormatter.parseDate(proposal?.sponsorDeadlineDate) | customTagRemover: currentMethod"></span>
          <span *ngIf="!proposal?.sponsorDeadlineDate || proposal?.sponsorDeadlineDate == 0"
            class="noDataExists">No Sponsor Deadline Date Specified</span>
        </div>
        <!-- Internal Deadline Date -->
        <div class="col-lg-3 col-sm-6 col-12">
          <label class="d-block">Internal Deadline Date</label>
          <span *ngIf="proposal?.internalDeadLineDate" [innerHTML]="dateFormatter.parseDate(proposal?.internalDeadLineDate) | customTagRemover: currentMethod"></span>
          <span *ngIf="!proposal?.internalDeadLineDate || proposal?.internalDeadLineDate == 0"
            class="noDataExists">No Internal Deadline Date Specified</span>
        </div>
        <!-- Master Proposal # -->
        <!-- <div class="col-lg-3 col-md-4 col-6 col-12">
          <label class="d-block" title="Master Proposal Number">
            <ng-container i18n="@@COMMON_MASTER_PROPOSAL">Master Proposal</ng-container>#
          </label>
          <span *ngIf="proposal?.baseProposalNumber" [innerHTML]="proposal?.baseProposalNumber"></span>
          <span *ngIf="!proposal?.baseProposalNumber || proposal?.baseProposalNumber == 'null'"
            class="noDataExists">No <ng-container i18n="@@COMMON_MASTER_PROPOSAL">Master Proposal</ng-container> Number
            Specified</span>
        </div> -->
        <!-- Funding Opportunity Number -->
        <div class="col-lg-3 col-md-4 col-6 col-12">
          <label class="d-block">Funding Opportunity Number</label>
          <span *ngIf="proposal?.programAnnouncementNumber" [innerHTML]="proposal?.programAnnouncementNumber | customTagRemover: currentMethod"></span>
          <span *ngIf="!proposal?.programAnnouncementNumber" class="noDataExists">No
            Funding
            Opportunity Number Specified</span>
        </div>
        <!-- CFDA -->
        <div class="col-lg-3 col-md-4 col-6 col-12">
          <label class="d-block"
            title="CFDA (Catalogue of Federal Domestic Assistance Number) is a five-digit number assigned in the awarding document to most grants and cooperative agreements funded by the Federal government.">CFDA
            Number</label>
          <span  *ngIf="proposal?.cfdaNumber" [innerHTML]="proposal?.cfdaNumber | customTagRemover: currentMethod"></span>
          <span *ngIf="!proposal?.cfdaNumber" class="noDataExists">No CFDA Specified</span>
        </div>
        <!-- Keywords Of Research -->
        <div class="col-lg-12 col-12">
          <label class="d-sm-block">Keywords
            <span *ngIf="helpText?.proposalInformation && helpText?.proposalInformation['keywordsOfResearch']?.helpTextInfo" class="d-inline-block icon-hover">
              <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-question-circle fa-med" aria-hidden="true"></i>
                  <div class="tooltiptext-left card card-inner p-15 text-left">
                      <span class="font-cv">{{helpText?.proposalInformation['keywordsOfResearch']?.helpTextInfo}}</span>
                  </div>
              </a>
          </span>
          </label>
          <div class="fileChips" style="word-break: break-all;" *ngIf="proposal?.proposalKeywords?.length > 0">
              <ng-container *ngFor="let keyword of proposal?.proposalKeywords;let i = index;">

                  <ng-container *ngIf="keyword?.keyword == null">
                      <span
                          [ngClass]="{ 'delete-background': keyword.status == -1,'add-background': keyword.status == 1}"
                          [innerHTML]='keyword?.scienceKeyword?.description | customTagRemover: currentMethod'></span>
                  </ng-container>
                  <ng-container *ngIf="keyword?.keyword != null">
                      <span
                          [ngClass]="{ 'delete-background': keyword.status == -1,'add-background': keyword.status == 1}"
                          [innerHTML]='keyword?.scienceKeyword?.description | customTagRemover: currentMethod'></span>
                  </ng-container>
              </ng-container>
          </div>
          <span *ngIf="proposal?.proposalKeywords?.length == 0" class="noDataExists">No Keywords
              Specified</span>
      </div>
      </div>
      <div class="row">
        <!-- Abstract -->
        <div class="form-group col-12">
          <label class="d-block">Abstract
            <span *ngIf="helpText?.proposalInformation && helpText?.proposalInformation['abstract']?.helpTextInfo" class="d-inline-block icon-hover">
              <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-question-circle fa-med hand-cursor" aria-hidden="true"></i>
                  <div class="tooltiptext-left card card-inner p-15 text-left">
                      <span class="font-cv">{{helpText?.proposalInformation['abstract']?.helpTextInfo}}</span>
                  </div>
              </a>
            </span>
          </label>
          <ng-container>
            <div class="ck-content">
              <span [innerHTML]="proposal?.abstractDescription | safe"></span>
            </div>
          </ng-container>
          <span class="noDataExists" *ngIf="!proposal?.abstractDescription">No abstract for
            this proposal
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- grant details view modal -->
<!-- <app-grant-details-view *ngIf="showGrantDetails" (showGrantDetails)="setGrantDetailsValue($event)" [grantCallId]="proposal?.grantCallId"></app-grant-details-view> -->