<header id="coi-declaration-details-header" class="card coi-card-expanded">
    <div class="card-header col border-0">
        <div class="row align-items-center row-gap-2 col">
            <div class="col-auto"><span class="coi-cmp-badge">{{ CMP_LOCALIZE.TERM_CMP }}</span></div>
            <div class="col d-flex flex-column gap-1 ps-0">
                <div class="d-flex align-items-center gap-2">
                    <!-- person -->
                    <span *ngIf="managementPlan?.plan?.person?.fullName"
                        class="d-flex align-items-center gap-1">
                        <mat-icon class="fw-bold coi-text-lighter flex-shrink-0"
                            aria-hidden="true">person</mat-icon>
                        <a class="link-primary text-slice fs-6 fw-500" tabindex="0" role="link"
                            (click)="openPersonDetailsModal()" (keyup.enter)="openPersonDetailsModal()"
                            attr.aria-label="Click here to view details of {{managementPlan.plan.person.fullName}}"
                            title="Click here to view details of {{managementPlan.plan.person.fullName}}">
                            <span>{{ managementPlan.plan.person.fullName }}</span>
                        </a>
                    </span>
                    <!-- Rolodex -->
                    <span *ngIf="managementPlan?.plan?.rolodex?.fullName"
                        class="d-flex align-items-center gap-1">
                        <mat-icon class="fw-bold text-danger flex-shrink-0"
                            aria-hidden="true">account_circle</mat-icon>
                        <a class="link-primary text-slice fs-6 fw-500" tabindex="0" role="link"
                            (click)="openPersonDetailsModal()" (keyup.enter)="openPersonDetailsModal()"
                            attr.aria-label="Click here to view details of {{managementPlan.plan.rolodex.fullName}}"
                            title="Click here to view details of {{managementPlan.plan.rolodex.fullName}}">
                            <span>{{ managementPlan.plan.rolodex.fullName }}</span>
                        </a>
                    </span>
                    <span *ngIf="managementPlan.plan?.person?.fullName || managementPlan?.plan?.rolodex?.fullName" class="coi-vertical-divider"></span>
                    <ng-container *ngFor="let cmpEntity of managementPlan?.cmpEntityList; let isFirstEntity = first">
                        <!-- Engagement -->
                        <span *ngIf="!isFirstEntity" class="coi-vertical-divider"></span>
                        <span class="d-flex align-items-center gap-1">
                            <mat-icon class="fw-bold coi-text-lighter flex-shrink-0"
                                aria-hidden="true">domain</mat-icon>
                            <a id="cmp-person-link"
                                class="link-primary text-slice fs-6 fw-500" tabindex="0" role="link"
                                (click)="openEntityDetailsModal(cmpEntity?.entity?.entityDetails?.entityId)"
                                (keyup.enter)="openEntityDetailsModal(cmpEntity?.entity?.entityDetails?.entityId)"
                                attr.aria-label="Click here to view details of {{cmpEntity?.entity?.entityDetails?.entityName}}"
                                title="Click here to view details of {{cmpEntity?.entity?.entityDetails?.entityName}}">
                                <span>{{ cmpEntity?.entity?.entityDetails?.entityName }}</span>
                            </a>
                        </span>
                    </ng-container>
                </div>
                <!-- person details -->
                <div *ngIf="managementPlan?.plan?.person?.emailAddress || managementPlan?.plan?.rolodex?.emailAddress
                    || managementPlan?.plan?.person?.unit?.displayName || managementPlan?.plan?.organization?.organizationDisplayName
                    || managementPlan?.plan?.person?.primaryTitle || managementPlan?.plan?.rolodex?.designation
                    || managementPlan?.plan?.labCenter?.displayName || managementPlan?.plan?.academicDepartment?.displayName"
                    class="d-flex align-items-center row-gap-2 column-gap-3 flex-wrap">
                    <!-- email -->
                    <span *ngIf="managementPlan?.plan?.person?.emailAddress || managementPlan?.plan?.rolodex?.emailAddress"
                        class="d-flex align-items-center gap-1 coi-text-light"
                        [title]="managementPlan.plan.person?.emailAddress || managementPlan?.plan?.rolodex?.emailAddress">
                        <mat-icon aria-hidden="true"
                            class="coi-text-lighter flex-shrink-0 coi-mat-icon-size">mail</mat-icon>
                        <span class="text-slice">{{ managementPlan.plan.person?.emailAddress || managementPlan?.plan?.rolodex?.emailAddress }}</span>
                    </span>
                    <!-- home unit -->
                    <span *ngIf="managementPlan?.plan?.person?.unit?.displayName"
                        class="d-flex align-items-center gap-1 coi-text-light"
                        [title]="managementPlan.plan.person.unit.displayName">
                        <mat-icon aria-hidden="true"
                            class="coi-text-lighter flex-shrink-0 cmp-home-icon">home</mat-icon>
                        <span class="text-slice">{{ managementPlan.plan.person.unit.displayName }}</span>
                    </span>
                    <!-- home unit -->
                    <span *ngIf="managementPlan?.plan?.organization?.organizationDisplayName"
                        class="d-flex align-items-center gap-1 coi-text-light"
                        [title]="managementPlan.plan.organization.organizationDisplayName">
                        <mat-icon aria-hidden="true"
                            class="coi-text-lighter flex-shrink-0 cmp-home-icon">account_balance</mat-icon>
                        <span class="text-slice">{{ managementPlan.plan.organization.organizationDisplayName }}</span>
                    </span>
                    <!-- title -->
                    <span *ngIf="managementPlan?.plan?.person?.primaryTitle || managementPlan?.plan?.rolodex?.designation"
                        class="d-flex align-items-center gap-1 coi-text-light"
                        [title]="managementPlan.plan.person?.primaryTitle || managementPlan.plan.rolodex?.designation">
                        <mat-icon aria-hidden="true"
                            class="coi-text-lighter flex-shrink-0 coi-mat-icon-size">work</mat-icon>
                        <span class="text-slice">{{ managementPlan.plan.person?.primaryTitle || managementPlan.plan.rolodex?.designation }}</span>
                    </span>
                    <!-- Academic Department -->
                    <span *ngIf="managementPlan?.plan?.academicDepartment?.displayName"
                        class="d-flex align-items-center gap-1 coi-text-light"
                        [title]="managementPlan.plan.academicDepartment.displayName">
                        <mat-icon aria-hidden="true"
                            class="coi-text-lighter flex-shrink-0 coi-mat-icon-size">account_balance</mat-icon>
                        <span class="text-slice">{{ managementPlan?.plan.academicDepartment.displayName }}</span>
                    </span>
                    <!-- lab -->
                    <span *ngIf="managementPlan?.plan?.labCenter?.displayName"
                        class="d-flex align-items-center gap-1 coi-text-light"
                        [title]="managementPlan.plan.labCenter.displayName">
                        <mat-icon aria-hidden="true"
                            class="coi-ms-n3px coi-text-lighter flex-shrink-0">biotech</mat-icon>
                        <span class="text-slice">{{ managementPlan.plan.labCenter.displayName }}</span>
                    </span>
                </div>
            </div>
            <!-- Buttons Template -->
            <div class="col-xxl-auto d-none d-xxl-flex justify-content-end flex-wrap gap-2 ms-auto mt-xxl-auto">
                <ng-container *ngTemplateOutlet="headerBtnsTemplate;"></ng-container>
            </div>
            <!-- Project Details -->
            <ng-container *ngFor="let cmpProject of managementPlan?.cmpProjectList;">
                <div class="col-12 d-flex align-items-center gap-2">
                    <mat-icon aria-hidden="true" class="coi-text-light flex-shrink-0">{{ projectTypes?.[cmpProject?.moduleCode]?.projectIcon }}</mat-icon>
                    <a tabindex="0" class="link-primary fs-14 text-slice fw-500" id="cmp-project-link"
                    title="Click here to view details of #{{ cmpProject?.projectDetails?.projectNumber }} - {{ cmpProject?.projectDetails?.projectTitle }}"
                    attr.aria-label="Click here to view details of #{{ cmpProject?.projectDetails?.projectNumber }} - {{ cmpProject?.projectDetails?.projectTitle }}"
                    (keyup.enter)="openProjectHierarchySlider(cmpProject)" (click)="openProjectHierarchySlider(cmpProject)">
                    #{{ cmpProject?.projectDetails?.projectNumber }} - {{ cmpProject?.projectDetails?.projectTitle }}
                </a>
            </div>
            </ng-container>
            <!-- Dates and Status -->
            <div class="col-12 row gap-2 m-0">
                <div class="col-xxl d-flex align-items-center gap-2 p-0">
                    <mat-icon aria-hidden="true" class="coi-text-light flex-shrink-0 mb-auto">calendar_month</mat-icon>
                    <div class="d-inline-flex column-gap-3 row-gap-2 flex-wrap">
                        <div class="d-inline-flex gap-1">
                            <!-- Create Date -->
                            <span class="coi-text-light">Create Date:</span>
                            <span class="coi-text-dark text-slice" [title]="managementPlan?.plan?.createdTimestamp | dateFormatterWithTimeZone">
                                <app-no-data-label [valueToShow]="managementPlan?.plan?.createdTimestamp | dateFormatterWithTimeZone"></app-no-data-label>
                            </span>
                        </div>
                        <div class="d-inline-flex gap-1">
                            <!-- Approval Date -->
                            <span class="coi-text-light">Approval Date:</span>
                            <span class="coi-text-dark text-slice" [title]="managementPlan?.plan?.approvalDate | dateFormatterWithTimeZone">
                                <app-no-data-label [valueToShow]="managementPlan?.plan?.approvalDate | dateFormatterWithTimeZone"></app-no-data-label>
                            </span>
                        </div>
                        <div class="d-inline-flex gap-1">
                            <!-- Expiration Date -->
                            <span class="coi-text-light">Expiration Date:</span>
                            <span class="coi-text-dark text-slice" [title]="managementPlan?.plan?.expirationDate | dateFormatterWithTimeZone">
                                <app-no-data-label [valueToShow]="managementPlan?.plan?.expirationDate | dateFormatterWithTimeZone"></app-no-data-label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-auto d-flex align-items-center gap-3 flex-wrap ms-xxl-auto p-0">
                    <div class="d-inline-flex gap-1">
                        <!-- Status -->
                        <span class="coi-text-light">Status:</span>
                        <span class="coi-text-dark text-slice" [title]="managementPlan?.plan?.statusType?.description">
                            <app-no-data-label [valueToShow]="managementPlan?.plan?.statusType?.description">
                                <span class="coi-status-badge" [style.background-color]="managementPlan?.plan?.statusType?.badgeColor"></span>
                                <span class="ms-1">{{ managementPlan?.plan?.statusType?.description }}</span>
                            </app-no-data-label>
                        </span>
                    </div>
                    <div class="d-inline-flex gap-1">
                        <!-- Type -->
                        <span class="coi-text-light">Type:</span>
                        <span class="coi-text-dark text-slice" [title]="managementPlan?.plan?.cmpType?.description">
                            <app-no-data-label [valueToShow]="managementPlan?.plan?.cmpType?.description"></app-no-data-label>
                        </span>
                    </div>
                    <div class="d-inline-flex gap-1">
                        <!-- Requester -->
                        <span class="coi-text-light">Initiator:</span>
                        <span class="coi-text-dark text-slice" [title]="managementPlan?.initiator">
                            <app-no-data-label [valueToShow]="managementPlan?.initiator"></app-no-data-label>
                        </span>
                    </div>
                </div>
                <!-- Buttons Template -->
                <div class="col-auto d-flex d-xxl-none justify-content-end flex-wrap gap-2 ms-auto p-0">
                    <ng-container *ngTemplateOutlet="headerBtnsTemplate;"></ng-container>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Close Btn Template -->
<ng-template #closeBtnTemplate>
    <button (click)="closeManagementPlan()"
        id="cmp-screen-view-btn-{{ managementPlan?.plan?.cmpId }}"
        class="btn btn-outline-secondary coi-btn-sm d-inline-flex align-items-center fs-14 gap-2"
        title="Click here to close {{ CMP_LOCALIZE.TERM_CMP }}"
        attr.aria-label="Click here to close {{ CMP_LOCALIZE.TERM_CMP }}">
        <mat-icon aria-hidden="true" class="flex-shrink-0">close</mat-icon>
        <span>Close</span>
    </button>
</ng-template>

<!-- More Option Btn Template -->
<ng-template #moreActionBtnTemplate>
    <button *ngIf="actionBtnConfig.isShowEditCmpBtn" [matMenuTriggerFor]="cmpMoreOptions" id="cmp-screen-more-action-btn"
        class="btn btn-outline-secondary coi-btn-sm d-inline-flex align-items-center fs-14 gap-2"
        title="Click here for more actions" aria-label="Click here for more actions">
        <mat-icon aria-hidden="true" class="flex-shrink-0 moreActionIcon">more_vert</mat-icon>
    </button>
    <mat-menu #cmpMoreOptions="matMenu" xPosition="before">
        <!-- edit -->
        <ng-container *ngIf="actionBtnConfig.isShowEditCmpBtn">
            <button mat-menu-item id="cmp-screen-more-action-edit-{{sectionDetails?.cmpSectionRelId}}" class="more-action"
                title="Click here to edit {{ CMP_LOCALIZE.TERM_CMP }} details."
                attr.aria-label="Click here to edit {{ CMP_LOCALIZE.TERM_CMP }} details."
                (click)="openCmpModifySlider()">
                <mat-icon aria-hidden="true" class="flex-shrink-0 me-2 coi-scale-9">edit</mat-icon>
                <span class="fw-medium fs-14">Edit {{ CMP_LOCALIZE.TERM_CMP }} Details</span>
            </button>
        </ng-container>
    </mat-menu>
</ng-template>

<!-- Actions Btn Template -->
<ng-template #ActionsBtnTemplate>
    <app-common-actions-drop-down *ngIf="actionBtnConfig.isShowActionsBtn"
        (selectedAction)="selectedDocAction($event)"
        [dropDownConfig]="actionDropDownConfig" [availableActions]="availableActions">
        <span dropdown-btn>Actions</span>
    </app-common-actions-drop-down>
</ng-template>

<!-- Start Location Review Btn Template -->
<ng-template #startReviewBtnTemplate>
    <button *ngIf="actionBtnConfig.isShowStartReviewBtn"
        (click)="openReviewConfirmationModal('START_LOCATION_REVIEW')"
        id="cmp-screen-view-btn-{{ managementPlan?.plan?.cmpId }}"
        class="btn btn-primary coi-btn-sm d-inline-flex align-items-center fs-14 gap-2"
        title="Click here to start review of {{ CMP_LOCALIZE.TERM_CMP }}"
        attr.aria-label="Click here to start review of {{ CMP_LOCALIZE.TERM_CMP }}">
        <mat-icon aria-hidden="true" class="material-icons-outlined flex-shrink-0">play_circle_filled</mat-icon>
        <span>Start Review</span>
    </button>
</ng-template>

<!-- Complete Location Review Btn Template -->
<ng-template #completeReviewBtnTemplate>
    <button *ngIf="actionBtnConfig.isShowCompleteReviewBtn"
        (click)="openReviewConfirmationModal('COMPLETE_LOCATION_REVIEW')"
        id="cmp-screen-view-btn-{{ managementPlan?.plan?.cmpId }}"
        class="btn btn-primary coi-btn-sm d-inline-flex align-items-center fs-14 gap-2"
        title="Click here to complete review of {{ CMP_LOCALIZE.TERM_CMP }}"
        attr.aria-label="Click here to complete review of {{ CMP_LOCALIZE.TERM_CMP }}">
        <mat-icon aria-hidden="true" class="material-icons-outlined flex-shrink-0">stop_circle</mat-icon>
        <span>Complete Review</span>
    </button>
</ng-template>

<!-- CMP Comments Btn Template -->
<ng-template #allCommentsBtnTemplate>
    <button *ngIf="actionBtnConfig.isShowCommentsBtn"
        id="cmp-screen-comment-btn-{{ managementPlan?.plan?.cmpId }}"
        (click)="openReviewComment()" title="Click here to open review comments"
        aria-label="Click here to open review comments"
        class="btn btn-outline-secondary coi-btn-sm d-inline-flex align-items-center fs-14">
        <mat-icon aria-hidden="true" class="flex-shrink-0">rate_review</mat-icon>
        <span class="ms-2">{{ CMP_LOCALIZE?.TERM_CMP }} Comments</span>
        <ng-container *ngIf="managementPlan?.cmpCommentsCount?.totalCount> 0">
            <span>({{ managementPlan?.cmpCommentsCount?.totalCount > 99 ? '99+' : managementPlan?.cmpCommentsCount?.totalCount }})</span>
        </ng-container>
    </button>
</ng-template>

<!-- header Btns Template -->
<ng-template #headerBtnsTemplate>
    <!-- Start Location Review -->
    <ng-container *ngTemplateOutlet="startReviewBtnTemplate;"></ng-container>
    <!-- Complete Location Review -->
    <ng-container *ngTemplateOutlet="completeReviewBtnTemplate;"></ng-container>
    <!-- Actions -->
    <ng-container *ngTemplateOutlet="ActionsBtnTemplate;"></ng-container>
    <!-- All Comments -->
    <ng-container *ngTemplateOutlet="allCommentsBtnTemplate;"></ng-container>
    <!-- Close -->
    <ng-container *ngTemplateOutlet="closeBtnTemplate;"></ng-container>
    <!-- More Action -->
    <ng-container *ngTemplateOutlet="moreActionBtnTemplate;"></ng-container>
</ng-template>
