.coi-cmp-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #9e4b32;
    color: white;
}

.cmp-home-icon {
    font-size: 1.2rem !important;
}
