.coi-training-no-data-height {
    min-height: 280px;
}

.listStyle {
    list-style: none;
}

.widget-container {
    max-height: 400px;
    overflow: auto;
}

.row-hover:hover {
    background-color: #f5f5f5;
}

.actionStyle {
    display: flex text-center;
}

.actionThStyle {
    width: 10%;
    padding-left: 27px;
}

.iconStyle {
    padding-top: 0.25rem;
}

.sticky-top {
    top: -1px;
}

@media (min-width: 576px) {
    .table-responsive {
        max-height: 270px;
        overflow: auto !important;
    }
}

@media (min-width: 991px) {
    .table-responsive {
        max-height: 290px;
        overflow: auto !important;
    }
}
