.detailedPeriod {
    float: right;
    cursor: pointer;
}
/* year-wise budget styles */
.category-highlight {
    background: #80808063;
font-weight: bold !important;
text-align: left !important;
    padding: 5px !important;
    border-bottom: 2px #fafafa solid;
}
.left-float {float: left}
.no-border {border-bottom: 2px solid #fafafa !important;}
.pd-bt {padding-bottom: 28px !important;}
.pointer-disabled {cursor: no-drop;}
.calc-check {float: left; margin-top: 2px;}
.desc-custom-height {height: 45px;}
.version-highlight {
    background-color: #e8f2ff;
    border-bottom: 2px solid #d2e6ff;
}
.info-msg-font {
    font-style: italic;
    font-weight: 500;
}
.fixed-header-table {
    max-height: 300px;
    height: auto;
    overflow-x: hidden;
}
.fixed-header-table thead tr:nth-child(1) th {
    border-bottom: #26a69a;
    position: sticky;
    top: 0;
    z-index: 2;
}
.thead-light th {
    color: #e9ecef !important;
    border: solid 1px #fff !important;
}
