<section id="coi-card-{{uniqueId}}" class="card coi-card-section shadow-sm w-100 h-100 {{customClass}}" attr.aria-labelledby="coi-card-header-{{uniqueId}}">
    <div class="card-header">
        <div class="d-flex gap-2 align-items-center">
            <span class="d-flex align-items-center justify-content-center flex-shrink-0 coi-section-card-header-icon"
                aria-hidden="true"><ng-content select="[card-header-icon]"></ng-content></span>
            <h6 id="coi-card-header-{{uniqueId}}"
                class="text-slice fs-6 m-0"><ng-content select="[card-header-content]"></ng-content></h6>
        </div>
    </div>
    <div class="card-body"><ng-content select="[card-body]"></ng-content></div>
    <div class="card-footer"><ng-content select="[card-footer]"></ng-content></div>
</section>
