.th-seperation th{
    border-right: solid 1px;
    padding: 5px;
    text-align: left !important;
}
.bg-color{
    background-color: rgba(44, 119, 244, 0.1);
    color: rgb(72, 100, 127);
    font-weight: 500;
}
.tableStyle>tbody>tr:nth-child(even) {
    background: #f7f6f6;
}
tfoot{
    color: #48647f;
    font-weight: 500;
    border-top: 2px solid;
}
.pl-10{padding-left: 10px}

.view-details .card-header{
    border-bottom: 0;
    background-color: #e4eeff;
    color: #042050;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.arrow-down{
    width: 30px;
    display: inline-block;
}
.view-details-outer .stripped-color:nth-child(even)
{
    background: #f8f8f8;
}
.fixed-header-table {
    max-height: 350px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.fixed-header-table thead tr:nth-child(1) th {
    border-bottom: #26a69a;
    position: sticky;
    top: 0;
    z-index: 2;
}
.width-max {
    width: max-content;
}
.c-element-color {
    background: #e4efef;
}
.c-element-color:hover {
    background: #e4efef !important;
}
.label-align { font-weight: 500; }
.expense-background{ background: #ececec !important;}
.expense-table thead th { vertical-align: top;}
