.fileChips span {
    display: inline-block;
    padding: 0 25px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    padding: 3px 8px 3px 12px;
    border-radius: 11px;
    background: gainsboro;
    /* box-shadow: 2px 1px 1px #cef9ff; */
}
.block-display{
    font-weight: 500;
    font-size: 15px;
}
.chip-style{
    word-break: break-all;
    margin-left:10px;
}
.label-display[_ngcontent-c3] {
    font-size: 15px;
    padding: 10px;
    margin: 0;
    background: #f2fbf9;
}
input ,textarea { font-size: 14px;}
.w-100{width: 100%;}
.modal-lg { max-width: 800px;}
.back-btn {
margin-top: 0;
margin-right: 0;
}
.warning-style{font-size: 14px;}
.inline-block{display: inline-block !important;}
.ml-10{margin-left: 10px}

.mandatory-list {
    list-style: disc!important;
    margin: 0;
    font-size: 1.48rem;
}

.alert {
    font-size: 1.28rem;
}
.w-outer{
    padding: 13px 10px 5px 10px;
    background: #fff;
    box-shadow: 0px 0 3px 0px .35px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.51);
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
}
  /*for IE ONLY*/
  .tab-sticky{
    position: fixed !important;
    z-index: 90;
    background: #fff;
    top: 40px;
    padding: 15px;
    padding-bottom: 0;
    width: 94.3%;
    transform: translate(-50%, 0);
    box-shadow:0px 0px 0px 1px rgba(0,0,0,0.1), 0px 2px 4px 1px rgba(0,0,0,0.18) !important;
    animation: smoothScroll .4s forwards;
} 
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
 /*for IE ONLY END*/
