

    .row-background {
        background-color:  #f2f3f8;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: inner-spin-button;
      opacity: 1;
    }