<div class="p-3 coi-card-grey-border rounded-2" [id]="sectionId">
    <div class="row align-items-center mb-2">
        <div class="col d-flex align-items-center coloured-bg-header">
            <span class="coi-entity-icon-bg me-2 coi-coloured-icons fs-14 d-inline-flex"><mat-icon class="coi-mat-icon-size" aria-hidden="true">newspaper</mat-icon></span>
            <span class="fs-16 fw-medium" id="coi-entity-sponsor-details">{{ sectionName }}</span>
            <app-common-help-text [subSectionId]="2645" [elementId]="'coi-entity-compliance-details'"></app-common-help-text>
        </div>
        <!-- Comments -->
        <div *ngIf="isShowCommentButton" class="col-auto">
            <button class="d-flex gap-1 align-items-center btn btn-sm btn-tertiary mt-0 lh-1"
                (click)="openReviewComments()" id="entity-comment-sponsor-details" type="button"
                [disabled]="entityManagementService.reviewCommentsSliderConfig?.isOpenCommentSlider"
                title="Click here to open review comment" aria-label="Click here to open review comment">
                <mat-icon aria-hidden="true" class="flex-shrink-0 padding-3px">rate_review</mat-icon>
                <span>Comments<span *ngIf="commentCount > 0">({{ commentCount }})</span></span>
            </button>
        </div>
    </div>
    <div class="row">
        <!-- Coi Entity Type -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-12 col-sm-12">
            <!-- Edit Mode -->
            <ng-container *ngIf="isEditMode">
                <label for="coi-entity-coi-entity-type" class="d-inline-flex align-items-center fs-14 fw-500 pb-1">
                    <span>COI Entity Type</span>
                    <app-common-help-text [subSectionId]="2645" [elementId]="'coi-GE-entity-type'"></app-common-help-text>
                </label>
                <!-- Select - COI Entity Type -->
                <select [(ngModel)]="selectedCoiEntityType.code" id="coi-entity-coi-entity-type"
                    (ngModelChange)="onCoiEntityTypeSelect($event)" class="form-control w-100 form-select">
                    <option [ngValue]="null" selected>--Select--</option>
                    <ng-container *ngFor="let coiEntityType of coiEntityTypeLookup">
                        <option [ngValue]="coiEntityType?.code">{{ coiEntityType?.description }}</option>
                    </ng-container>
                </select>
            </ng-container>
            <!-- View Mode -->
            <ng-container *ngIf="!isEditMode">
                <span class="d-inline-flex align-items-center fs-14 fw-500 pb-1">
                    <span>COI Entity Type</span>
                    <app-common-help-text [subSectionId]="2645" [elementId]="'coi-GE-entity-type'"></app-common-help-text>
                </span>
                <span class="coi-text-light d-block fw-500">
                    <app-no-data-label [valueToShow]="entityComplianceService?.entityCompliance?.complianceInfo?.coiEntityType?.entityTypeCode">
                        <span [title]="entityComplianceService?.entityCompliance?.complianceInfo?.coiEntityType?.description"
                            class="text-slice">{{ entityComplianceService?.entityCompliance?.complianceInfo?.coiEntityType?.description }}</span>
                    </app-no-data-label>
                </span>
            </ng-container>
        </div>
    </div>
</div>
