.coi-steps-nav-card {
	position: fixed;
	left: var(--theme-sidebar-width);
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 10px;
	height: 60px;
	width: calc(100% - var(--theme-sidebar-width));
	padding: 10px 16px;
	background-color: var(--theme-white);

	button {
		min-width: 110px;
	}
}
