$nav-bar-background: white;
$section-info-background: #cfe2ff;
$section-info-color: #052c65;
$section-info-border-color: #9ec5fe;

.fbnav {
    background-color: $nav-bar-background;
    padding: 15px;
    border-bottom: 0.5px solid #e5e5e5;
}

.fields-container {
    width: 200px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.field-list {
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.field-box {
    margin: 10px;
    padding: 0px 10px;
    border: 2px #ccc dotted;
    height: 50px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    border-radius: 5px;

    &:hover {
        background: #f4f7f7;
    }

    &:focus {
        border: solid 1px #1e847b;
    }
}

.field-box-element-tree {
    margin: 10px 0;
    border: 2px #c5c5c5 dotted;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    border-radius: 3.5px;
    font-weight: 500;
    box-shadow: -1px 2px 7px rgb(0 0 0 / 4%);

    &:nth-child(1) {
        margin-top: 0;
    }

    &:hover {
        background-color: #e9efee;
        box-shadow: -4px 5px 7px 0px rgb(0 0 0 / 10%);
        color: #000;
        border-color: #396b66;
    }

    &:hover i {
        color: #929b9a;
    }

    i {
        color: #b5b9b8;
    }

}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.field-list.cdk-drop-list-dragging .field-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-Element {
    padding: 0 10px 0 10px;
}

.preview {
    border: black solid 1px;
    margin-bottom: 5px;
}

.preview-Heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.dropContainer {
    min-height: 100px;
    overflow-y: scroll;
    padding-bottom: 40px;
}

.preview-button {
    background-color: #1e847b;
    color: white;
    border: none;


    &:hover {
        background-color: #127a72 !important;
        color: white;
    }

    &:active {
        background-color: #127a72 !important;
        color: white;
    }

}

.element-Tree {
    background-color: white;
    height: 100vh;
}


.components {
    border-bottom: 0.5px solid #e5e5e5;
    margin-bottom: 0;
    padding: 1rem;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    background: #f9f9f9;
    height: 57px;
}

.structure {
    border: 1px solid #9e9e9e;
    margin-bottom: 0;
    padding: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.drop-Element::-webkit-scrollbar {
    width: 7px;
}

.FB-more-otions::-webkit-scrollbar {
    display: none;
}

.sort-list::-webkit-scrollbar {
    width: 7px;
}

.dropContainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sort {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sectionheading {
    margin: 0;
}

.create-New-Section {
    margin-left: 80px;
    margin-top: 10px;
}

.nav-header {
    top: 45px;
    position: sticky;
    z-index: 50;
}


.main-component {
    display: flex;
    width: 100%;
    // max-height: 100vh;
}

.addition-info {
    width: 29vw;
    height: calc(100vh - 288px);
    background-color: white;
    overflow-y: auto;
    position: sticky;
    top: 115px;
    margin-top: 28px;
    transition: all 0.5s;
}

.addition-info::-webkit-scrollbar {
    width: 7px;
}

.nav-options {
    list-style: none;
    flex-grow: 2;
}

.nav-options>li {
    display: inline-block;
    margin: 0 15px 0 15px;
    text-decoration: none;
}

.nav-sub-obtions {
    border-bottom: 3px solid #007DEC;
    cursor: auto;
    color: #007DEC;
    margin-right: 2px;
    margin-left: 2px;
}

.nav-options-link:focus {
    border-bottom: 3px solid #007DEC;
}

.form-builder-logo:focus {
    border: 2px solid black;

}

.sort-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    max-height: 400px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow-y: auto;
}

.sort-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 0.875rem;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sort-box:last-child {
    border: none;
}

.sort-list.cdk-drop-list-dragging .sort-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mt-10 {
    margin-top: 10px;
}

.card-title {
    font-size: 1rem;
}

.card-shadow:hover {
    box-shadow: 0px 2px 8px -4px black !important;
}

.card-background {
    background-color: white;
}

::ng-deep .ck.ck-editor__editable_inline {
    border: .5px solid black !important;
}

.section-edit {
    padding: 10px 10px 10px 10px
}

.ml-25 {
    margin-left: 25px;
}

.field-box-not-config {
    margin: 10px;
    padding: 20px 10px;
    border: solid 1px #ccc;
    height: 50px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px !important;
    border-radius: 5px;
}


.activate-text {
    color: white !important;
}

.section-edit-icon {
    color: #000;
    cursor: pointer;

    &:hover {
        color: #1e847b;
    }
}

.border-for-section-selection {
    border: solid 1px #186962;
    box-shadow: 0px 5px 9px 0px rgb(0 0 0 / 15%);
}

.fb-label-font-size {
    font-size: 14px;
}

.btns {
    background-color: #e9e9e9e5;
    border: none;
    padding: 0 !important;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.delete-section:hover {
        cursor: pointer;
        background-color: #efe5e5;
        color: #e71010;
    }

    &.delete-section:focus {
        background-color: #efe5e5;
        color: #e71010;
    }

    &.edit-section:hover {
        background-color: #e3efee;
        color: #1e847b;
        cursor: pointer;
    }

    &.edit-section:focus {
        background-color: #e3efee;
        color: #1e847b;
    }

}

.component-delete {
    cursor: pointer;
    color: #000000;
    margin-right: 10px;

    &:hover {
        cursor: pointer;
        color: #e71010;
    }

    &:focus {
        cursor: pointer;
        color: #e71010;
    }

}


.clicked {
    background-color: #eaf1f0;
    border-color: #1e847b;
    box-shadow: 0px 4px 5px 0px rgb(19 20 20 / 15%);
}

.move-icon {
    margin-right: 2px;
}

.move-icon-container {
    display: flex;
    border-left: solid 1px #e1e1e1;
    align-items: center;

    img {
        height: 20px;
    }
}

.move-icon-container-right {
    display: flex;
    align-items: center;

    img {
        height: 20px;
    }
}

.component-icon-container {
    display: flex;
    border-left: solid 1px #e1e1e1;
    align-items: center;

    img {
        height: 15px;
    }

    label {
        margin-bottom: 0;
        text-align: left;
    }
}

.not-configured-status {
    color: #e71010
}

.update-configuration {
    position: sticky;
    bottom: 0;
    z-index: 100;
    background: white;
    border-bottom: solid 1px #ccc;
}

.deactivate-text-color {
    color: #fff !important;
}

.fb-left-div {
    width: 20%;
    padding: 0 20px;
    margin-top: 30px;
    // background-color: white;
}

.fb-right-div {
    width: 50%;
    // overflow-y: auto;
}

.form-list-height {
    height: calc(100vh - 317px);
    overflow-y: scroll;
}

.form-list-height::-webkit-scrollbar {
    width: 7px;
}

.fb-modal {
    z-index: 1200;
}

.fb-mandatory {
    color: red;
    padding-right: 2px;
}


.fb-card-text {
    font-size: 13px;
    margin-bottom: 0;
}

.formInfo {
    font-size: 13px;
}

.fb-card-text {
    color: #555555;
}

.fb-fs-14 {
    font-size: 14px;
}

.fb-fs-16 {
    font-size: 16px;
}

.fb-no-data-container {
    margin-top: 7px;
    background: white;
    padding: 30px;
    text-align: center;
}

.fb-no-data-container .fb-no-data-icon-outer {
    display: inline-block;
    margin-bottom: 4px;
    width: 85px;
    height: 85px;
    background: #eff0f5;
    border-radius: 50%
}

.fb-no-data-container .fb-no-data-icon-outer .fb-no-data-icon {
    display: inline-block;
    position: relative;
    margin-top: 18px
}

.fb-no-data-container .fb-no-data-icon-outer .fb-no-data-icon i:nth-child(1) {
    font-size: 50px;
    color: #d0d0d0 !important
}

.fb-no-data-container .fb-no-data-icon-outer .fb-no-data-icon i:nth-child(2) {
    position: absolute;
    left: -5px;
    bottom: -4px;
    font-size: 25px;
    background: #eff0f5;
    border-radius: 50%;
    padding: 2px;
    color: #d0d0d0 !important
}

.fb-no-data-container h5 {
    color: #a4a4a4
}

.fb-no-file {
    margin-top: 11px;
    color: gray;
}


.fb-default-content:not(:only-child) {
    display: none;
}

.fb-modal-backdrop {
    z-index: 49 !important;
}

.fb-modal-sort {
    position: fixed;
    top: 50px !important;
    left: 0;
    z-index: 50 !important;
    width: 100%;
    height: 100%;
}

.fb-icon-size {
    font-size: 16px !important;
}

.element-box {
    position: sticky;
    top: 115px;
    border: #e9e8e8 1px solid;
}

.fb-form-editor-actions {
    background-color: white;
    position: sticky;
    bottom: 1px;
    height: 45px;
    padding: 5px;
    margin-bottom: -50px;
}

.fb-form-editor-actions-btn {
    background-color: white;
    position: sticky;
    bottom: 1px;
    padding: 1px 5px;
    color: white;
    padding: 5px;
    border-radius: 10px;

    button {
        font-size: 13px;
        border: none;
        padding: 5px;
        color: #4E7DE3;
        background-color: #ECF1FD;
        margin: 4px;
        border-radius: 10px;

        img {
            height: 20px;
        }

        span {
            display: flex;
            align-items: center;
        }
    }

}

.floating-btn {
    position: sticky;
    bottom: 5px;
    transition: opacity 0.2s;
}

.floating-Btn-width {
    width: 450px !important;
}

.option-font {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.fb-back-button:hover {
    background-color: #e9e9e9
}

.fb-sort-modal {
    z-index: 50;
}

.fb-action-border {
    border: solid white .5px;
    height: 40px;
}

.fb-opacity {
    opacity: 0;
}

.fb-btn-height {
    height: 34px;
}

.fb-mr-5 {
    margin-right: 5px;
}

.fb-table {
    background: white !important;
}

.fb-table-head {
    background-color: #f0f2f3 !important;
}

.fb-card-header-label {
    position: sticky;
    top: 0;
    z-index: 20;
}

.fb-card-border {
    border: #e9e8e8 1px solid !important;
}

.fb-mr-10 {
    margin-right: 10px !important;
}

.fb-nav-buttons {
    list-style: none;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
}

.section-border {
    border: 1px solid #e9e8e8 !important;
}

.FB-element-editor-icon {
    height: 15px;
}

.Fb-Form-Editor-Icon-Right {
    height: 100%;
    border-left: 2px dotted #e9e8e8;
}

.FB-disabled-component {
    background: #F3F3F3;
}

.FB-publish-mode {
    background: #F5FEF3;
}

.FB-publish-mode-container {
    border-radius: 15px;
}

.non-Active-version-color {
    background-color: #D9DAD9 !important;
    color: #B2B3B2 !important;
}

.badge-pill {
    border-radius: 15px;
}

// COI Specfic-Style-Start

.fb-pageMinHeight {
    min-height: 0 !important;
}

.fb-push4slideMenu {
    padding-left: 0 !important;
}

.fb-pushFixedHeaderFooter {
    min-height: 0 !important;
}

.fb-headerPush {
    height: 0 !important;
}

.non-Active-version-color {
    background-color: #D9DAD9 !important;
    color: black !important;
}

.fb_Additional_Info {
    //display: none;
    transition: all 0.5s;
    height: 0 !important;
    width: 0 !important;
}

.FB-Form-Editable {
    width: 80% !important;
}

@media screen and (max-width: 1054px) {
    .FB-Form-Editable {
        width: 70% !important;
    }

    .fb-left-div {
        width: 30%;
        padding: 0 0 0 15px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1054px) {
    .FB-Form-Editable {
        width: 70% !important;
    }

    .fb-left-div {
        width: 30%;
        padding: 0 0 0 15px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1280px) {
    .fb-mr-10 {
        margin-right: 0px !important;
    }
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.p-12 {
    padding: 12px !important;
}

.fb-version-array {
    max-height: 350px;
    overflow-y: scroll;
}

.fb-mb-0 {
    margin-bottom: 0px;
}

.fb-mt-0 {
    margin-top: 0px;
}

.fb-version-array::-webkit-scrollbar {
    display: none;
}

.fb-width-90 {
    width: 90% !important;
}

.fb-additional-info-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ml-2 {
    margin-left: 2px;
}

.fb-pl-10 {
    padding-left: 10px !important;
}

.view-form-icon-color {
    color: #1456a1 !important;
}

.fb-second-nav-bar {
    transition: all 0.25s;
}

.fb-mb-10 {
    margin-bottom: 10px;
}

.fb-mb-15 {
    margin-bottom: 15px;
}

.fb-mb-5 {
    margin-bottom: 5px;
}

.fb-mt-4 {
    margin-top: 4px;
}

.fb-mt-3 {
    margin-top: 3px;
}

.fb-section-info {
    background-color: $section-info-background !important;
    color: $section-info-color !important;
    border: $section-info-border-color !important;
    border-radius: 5px;
    p {
        margin: 0;
        word-break: break-word !important;
        overflow-wrap: break-word !important;
    }
}

.fb-mb-3 {
  margin-bottom: 1rem !important;
}

.fb-mr-2 {
  margin-right: .5rem !important;
}

.fb-ml-2 {
  margin-left: .5rem !important;
}

.fb-mt-1 {
    margin-top: .25rem !important;
}

.fb-mt-2 {
    margin-top: .5rem !important;
}

.fb-mb-2 {
    margin-bottom: .5rem !important;
}

.fb-mr-1 {
    margin-right: .25rem !important;
}

.fb-ml-1 {
    margin-left: .25rem !important;
}

.fb-mb-1 {
    margin-bottom: .25rem !important;
}

.fb-pr-3 {
    padding-right: 1rem !important;
}

.fb-mr-3 {
    margin-right: 1rem !important;
}

.fb-ml-3 {
    margin-left: 1rem !important;
}

.fb-pt-3 {
    padding-top: 1rem !important;
}

.fb-ml-4 {
    margin-left: 1.5rem !important;
}

.fb-mr-4 {
    margin-right: 1.5rem !important;
}

.fb-pl-2 {
    padding-left: .5rem !important;
}

.fb-pr-2 {
    padding-right: .5rem !important;
}

.fb-pl-0 {
    padding-left: 0 !important;
}

.fb-pr-0 {
    padding-right: 0 !important;
}

.fb-pr-15 {
	padding-right: 15px;
}

.fb-mr-15 {
	margin-right: 15px;
}

.fb-mt-5 {
    margin-top: 3rem !important;
}

.fb-section-header-info>*:last-child,
.fb-info-box>*:last-child {
    margin-bottom: 0;
}

.fb-ml-0 {
  margin-left: 0 !important;
}

.fb-mb-auto {
    margin-bottom: auto !important;
}

.fb-gap-2 {
    gap: .5rem !important;
}

.fb-py-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

/* no information card styles */
.fb-no-data-container {
    padding: 5px;
    margin-top: 0;
    padding: 5px;
    margin-top: 0;
    text-align: center;
    background-color: var(--theme-card-bg-color) !important;
}

.fb-no-data-container .no-data-icon-outer {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-bottom: 0;
    border-radius: 50%;
    background: #eff0f5;
}

.fb-no-data-container .no-data-icon-outer .no-data-icon {
    display: inline-block;
    margin-top: 8px;
}

.fb-no-data-container .no-data-icon-outer .no-data-icon .no-file {
    margin-top: 11px;
    color: gray;
}

.fb-no-data-container .no-data-icon-outer .no-data-icon i:nth-child(1) {
    font-size: 50px;
    color: #d0d0d0 !important
}

.fb-no-data-container .no-data-icon-outer .no-data-icon i:nth-child(2) {
    position: absolute;
    left: -5px;
    bottom: -4px;
    font-size: 25px;
    background: #eff0f5;
    border-radius: 50%;
    padding: 2px;
    color: #d0d0d0 !important
}

.fb-no-data-container h5,
.fb-no-data-container h3,
.fb-no-data-container h4 {
    color: #a4a4a4;
    font-size: 1rem;
}

.error-highlight-card {
    border: 1px solid red !important;
    border-radius: .25rem;
}

.warning-highlight-card {
    border: 1px solid #ffc107 !important;
    border-radius: .25rem;
}

/* no information card styles */

// COI Specific-Style-End
