<div class="card mt-3">
    <div class="card-content">
        <div class="card-body">
            <div class="table-responsive mt-3" *ngIf="scoringCriteriaObject?.length > 0">
                <table class="table tableSkin mb-0 grid2 mt-2">
                    <caption class="sr-only">Scoring Criteria</caption>
                    <tbody>                     
                        <tr *ngFor="let scoringCriteria of scoringCriteriaObject">
                            <td>
                                <div class="d-flex fs-14 justify-content-between" [ngClass]="collapseScoringCriteria[scoringCriteria?.extReviewScoringCriteriaId] ?'fw-600':''">
                                    {{scoringCriteria?.scoringCriteria?.description}}
                                </div>
                                <div *ngIf="collapseScoringCriteria[scoringCriteria?.extReviewScoringCriteriaId]"
                                    class="font-italic text-secondary">
                                    <p class="new-line-property mt-3">{{scoringCriteria?.scoringCriteria?.explanation}}</p>
                                </div>
                            </td>
                            <td class="collapse-alignment" style="width:4%">
                                <button *ngIf="scoringCriteria?.scoringCriteria?.explanation" id="scoringExpandBtn" class="updown-arrow position-relative"
                                        (click)="collapseCriteria(scoringCriteria?.extReviewScoringCriteriaId, collapseScoringCriteria[scoringCriteria?.extReviewScoringCriteriaId])">
                                        <i [ngClass]="collapseScoringCriteria[scoringCriteria?.extReviewScoringCriteriaId]?'fa fa-angle-double-up':'fa fa-angle-double-down'"
                                            class="fa-large" aria-hidden="true"></i>
                                    </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="no-data-container p-3" *ngIf="!scoringCriteriaObject?.length">
                <span class="no-data-icon-outer">
                    <div class="no-data-icon">
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                    </div>
                </span>
                <h4 class="text-content-color">There is no information in this section.</h4>
            </div>
        </div>
    </div>
</div>