.score-container {
    background: rgb(205, 205, 210);
    padding: 5px 10px;
    border-radius: .5rem;
    margin-bottom: .25rem;
}

.score-box {
    background: rgb(32 88 160 / 86%);
}

.score-label {
    background: rgba(219, 231, 245, 0.95);
}

.score-text {
    padding: 2px;
    font-size: 18px;
}

.score-container p {
    margin-bottom: .5rem;
}

.scoring-row {
    max-height: 500px;
    overflow-y: auto;
}

.scoring-user {
    margin-bottom: 7px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.4rem;
    background: #eff2f7;
    padding: 10px;
}

.scoring-user i {
    color: #2058a0;
}

.scoring-row .card {
    border: 1px dotted #ebedf2;
}

.scoring-row .card-title {
    font-weight: 600;
    width: 92%;
}

.w-95 {
    width: 95%;
}

.comment-text-box {
    height: 70px;
}

.score-table tr {
    background-color: #f1f1f1;
}

.comment-inner-body {
    background-color: #f1f1f1;
    padding: 8px 17px;
    margin-top: 4px;
    border-radius: 5px;
}

.comment-icon {
    opacity: .4;
    font-size: 11px;
}

.comment-message {
    display: flex;
    flex-flow: row nowrap;
}

.comment-message-body {
    flex: 1;
}

.comment-inner-head {
    display: flex;
    justify-content: space-between;
}

.score-star {
    background-color: #d8f1f9;
    padding: 5px;
    border-radius: 50%;
}

.nav-heading {
    display: flex;
    background-color: #eff0f1;
}

.nav-link {
    box-shadow: 0px 0px black;
}

.table-head {
    background: #E3EFFD;
}

.f-14 {
    font-size: 1.4rem;
}

.bg-white {
    background-color: #FFFFFF
}

.align-toleft {
    text-align: left
}

.td-change {
    background-color: #F6F7F9;
}

.avg-score {
    background-color: #E9FBFD;
}

.comment-show {
    padding-left: 35px;
}

.comment-time {
    float: right;
    padding-top: 4px;
}

.criteria-heading {
    background-color: #dedede;
    padding: 5px
}

.card-background {
    background-color: #f4f5f7;
}

.text-color {
    color: #333;
}

.collapse-alignment {
    vertical-align: top;
}