.mt-15 {
    margin-top: 15px;
}

.list-on-select {
    margin-right: 5px;
    background-color: #f1f1f1;
    border: solid 1px;
    border-color: #f9f9f9;
    border-radius: 3px;
    color: #333;
    font-size: 1.4rem;
}

.fa-check {
    color: #0abb87;
}

.active-list {
    background: #fff;
    border-color: #0abb87;
    color: #0abb87;
    font-weight: 500;
}

.active-list:hover {
    text-decoration: none!important;
}

.result-outer .col-lg-3:hover {
    text-decoration: none!important;
}

.list-on-select:hover {
    background: #fff;
    border-radius: 3px;
    color: #0abb87;
    border-color: #0abb87;
}

.success-banner {
    color: #007985;
    background-color: #dff5f9;
    border-color: #81b7b2;
    font-size: 1.4rem;
}

.close-button {
    padding: 0px 0px 5px 5px !important;
    font-size: 2rem !important;
    outline: 0em;
}