.side-scroll{
    overflow-y: auto;
    
}
/* width */
.side-scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.side-scroll::-webkit-scrollbar-track {
    /* box-shadow: inset 1px 1px 1px grey;  */
    border-radius: 10px;
    border:solid 1px #f1f1f1;
  }
   
  /* Handle */
.side-scroll::-webkit-scrollbar-thumb {
    background:#ccc; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
.side-scroll::-webkit-scrollbar-thumb:hover {
    background: #ababab; 
  }
.category-sidebar{
     border-radius: 3px;
     height: 100vh;
 }
 .category-sidebar a h4{
     font-size: 1.4rem;
 }
 .category-list-color{
    color: #ededed;
 }
.category-list {
    padding:5px 5px;
    font-size: 1.4rem;
    margin: 0;
    font-weight: 600;
    background-color: #ffffff;
}
.category-list a h4{
    color: #333
}
.categorylist-active {
    padding:5px 5px;
    font-size: 1.4rem;
    margin: 0;
    font-weight: 600;
    /* background-color: #e7fbf9; */
    }
.categorylist-active a h4 {
color: #05ab9c;
}

.list-none{
  list-style: none!important;
}





