<button id="addfaqbtn" class="d-none" data-bs-target="#add-new-faq" data-bs-toggle="modal" aria-label="FAQ edit modal toggle button"></button>

<div class="modal fade mySkinDialog modal-opacity" tabindex="-1" id="add-new-faq" tabindex="-1" role="dialog"
  data-backdrop="static" aria-labelledby="addNewFaqModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Question</h5>
        <button id="add-new-faq-dismiss" type="button" (click)="emitFaqFlag();clearinputfield();" class="btn-close"
          data-bs-dismiss="modal" aria-label="Click to close">
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row ml-3 mr-3">
          <!-- Cateogory and subcategory -->
          <div class="form-row ml-3 mr-3" style="display: flex;">
            <!-- Category -->
            <div class="col-6 block-display">
              <label class="label"><span class="mandatory">*</span>Category</label>
              <select id="category-type" class="form-control" [(ngModel)]="faqList.categoryCode"
                (ngModelChange)="categorySelect(faqList.categoryCode)"
                [ngClass]="(map.get('checkCategory')) ? 'is-invalid d-block' : ''">
                <option [value]=null>--Select--</option>
                <option *ngFor="let category of categoryList" [value]="category.categoryCode">
                  {{ category.description }}
                </option>
              </select>
              <div *ngIf="(map.get('checkCategory'))" class="invalid-feedback d-block">
                {{(map.get('checkCategory'))}}
              </div>
            </div>
            <!-- Sub Category -->
            <div class="col-6 block-display subcategoryalign">
              <label class="label"><span class="mandatory">*</span>Subcategory</label>
              <select id="subcategory-type" class="form-control" [(ngModel)]="faqList.subCategoryCode">
                <option [value]=null>--Select--</option>
                <ng-container *ngIf="subCategoryList.length > 0">
                  <option *ngFor="let subcategory of subCategoryList" [value]="subcategory.subCategoryCode">
                    {{ subcategory.description }}
                  </option>
                </ng-container>
              </select>
            </div>
          </div>
          <!-- Question -->
          <div class="col-12 mt-2">
            <label class="label"><span class="mandatory">*</span>Question</label>
            <textarea class="form-control" placeholder="Add your question here" rows="5" cols="50"
              [(ngModel)]="faqList.question" appLengthValidator [isShowLimiter]='true' [limit]=500
              [ngClass]="(map.get('checkQuestion')) ? 'is-invalid d-block' : ''" value="allQuestionData.question"></textarea>
            <div *ngIf="(map.get('checkQuestion'))" class="invalid-feedback d-block">
              {{(map.get('checkQuestion'))}}
            </div>
          </div>
          <!-- Answer  -->
          <div class="col-12">
            <label class="label"><span class="mandatory">*</span>Answer</label>
            <textarea class="form-control" placeholder="Add your answer here" rows="2" cols="50" appLengthValidator
              [isShowLimiter]='true' [limit]=500 [ngClass]="(map.get('checkAnswer')) ? 'is-invalid d-block' : ''"
              [(ngModel)]="faqList.answer"></textarea>
            <div *ngIf="(map.get('checkAnswer'))" class="invalid-feedback d-block">
              {{(map.get('checkAnswer'))}}
            </div>
          </div>
          <!-- Reference URL -->
          <div class="col-12">
            <label class="label">Reference URL(if any)</label>
            <textarea class="form-control" placeholder="Add reference url here" rows="1" cols="50" appLengthValidator
              [isShowLimiter]='true' [limit]=500 [ngClass]="(map.get('checkUrl')) ? 'is-invalid d-block' : ''"
              [(ngModel)]="faqList.url"></textarea>
            <div *ngIf="(map.get('checkUrl'))" class="invalid-feedback d-block">
              {{(map.get('checkUrl'))}}
            </div>
          </div>
          <!-- Attachment -->
          <div class="col-12">
            <label class="label">Attachments</label>
            <app-file-drop (filesDropEvent)="addAttachmentFile($event)"></app-file-drop>
          </div>
          <div class="fileChips col-12 mb-2" style="word-break: break-all;">
            <span *ngFor="let file of fileList">{{file.fileName}}
              <i aria-hidden="true" class="fa fa-close hand-cursor" title="Remove the attachment"
                (click)="deleteAttachmentFile(null);clearinputfield()"></i>
            </span>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-success btn-lg bg-primary border border-primary text-white border-0" title="Close modal" data-bs-dismiss="modal"
          (click)="emitFaqFlag();clearinputfield();">Close</button>
        <button class="btn btn-success btn-lg bg-primary border border-primary" title="{{buttonName}}" data-bs-dismiss=modal
          (click)="validationFaq();">{{ buttonName }}</button>
      </div>
    </div>
  </div>
</div>