.coi-overview-dept-card {
    cursor: pointer;
    border: 1px solid #e1e5e9 !important;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    .coi-overview-dept-card-separator {
        border: 1px solid #ededed;
        margin: 1px 0;
    }

    .coi-overview-dept-card-icon {
        padding: 12px;
    }

    .card-body {
        padding: 12px 16px !important;
    }

    &:hover {
        transform: translateY(-2px);
        background-color: #f5f5f5;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .card-body {
            background-color: #f5f5f5;
        }

        .separator {
            border: 1px solid #ffffff;
            margin: 1px 0;
        }
    }

    &:focus {
        border: 1px solid var(--theme-blue) !important;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .coi-skeleton-loader-header-icon {
        width: 44px;
        height: 44px;
        overflow: hidden;
        border-radius: 50%;
    }

    .coi-skeleton-loader-header-text {
        width: 300px;
        height: 25px;
    }

    .coi-skeleton-loader-body-count {
        width: 70px;
        height: 20px;
    }

    .coi-skeleton-loader-body-text {
        width: 132px;
        height: 20px;
    }
}
