.icon-bg {
    border-radius: 50%;
    background-color: #dfe5f0;
    padding: 20px;;
    margin-top: 5px;
}

.coloured-icons {
    color: #0948b2 !important;
}

.coloured-bg-header {
    background-color: #E4F1FF;
    color: #0948b2;
}

.navigation-box-content {
    padding: 10px 0;
    border-bottom: 2px solid transparent;

    &.active {
        color: #0948b2;
        border-bottom: 3px solid #0948b2;
    }
}

.menu-responsive {
    background-color: #e3f1ff;
}

.menu-responsive li {
    font-weight: 400 !important;
    font-size: 0.875rem !important;
}

.header-menu-icon {
    background-color: #E4F1FF;
    &:hover {
        color: #007dec;
    }
}

.nav-bar-custom-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    cursor: pointer;
}

.header-navigation-links li {
    padding: 19px 16px;
    font-weight: normal !important;
    position: relative;
    height: 45px;
}

.header-navigation-links li.active,
.header-navigation-links li:focus {
    padding: 19px 16px;
    color: #0948b2;
    border-bottom:3px solid #0948b2;
}

.active-color {
    color: #007DEC;
    position: absolute;
    bottom: -24px;
    right: calc(50% - 12px);
}

.header-navigation-links {
    list-style-type: none;
    line-height: 10px;
    background-color: #E4F1FF;
    max-height: 50vh;
    overflow: auto;
}

.header-navigation-links ul li:nth-child(odd) {
    min-width: 90px;
}

@media (min-width:1401px) {
    .header-menu-icon {
        display: none !important;
    }
}

@media (max-width: 1400px) {
    .header-navigation-links {
        position: absolute;
        left: 0px;
        top: 160px;
        background-color: #ffffff;
        flex-direction: column;
        min-width: 250px;
        box-shadow: 1px 7px 11px 0px rgb(0 0 0 / 15%);
        border: solid 1px #dbdfe9;
        border-radius: 0.5rem;
        z-index: 10;
        visibility: hidden;
        opacity: 0;

        li {
            margin-right: 0 !important;
            width: 100%;
        }

        &.show-menu {
            visibility: visible !important;
            opacity: 1;
            transition: ease-in-out 0.2s;
        }
    }
}

.custom_icon_size{
    height: 75px;
    width: 75px;
}

.font-size{
    font-size: 30px !important;
}

.saved-toast,
.saved-toast-position {
    position: absolute;
    right: 8px;
    bottom: 8px;
}

@media (min-width: 1401px) {
    .saved-toast {
        bottom: 102px;  
    }
    .saved-toast-position {
        bottom: 50px;  
    }
}

.verified-border {
    border: 1px #3bb948 solid;
}

.coi-confirm-badge-position {
    position: absolute;
    left: -4px;
    bottom: -6px;
}

//move to common scss

.more-action {
    color: #6a7980 !important;

    span,
    mat-icon {
        color: #6a7980 !important;
    }

    &:hover {
        background-color: #E2F1FF !important;
        color: #007DEC !important;

        span,
        mat-icon {
            color: #007DEC !important;
        }
    }
}

.dropdown-width {
    min-width: 34px;
}
