.fixed-header-table {
    max-height: 500px;
    height: auto;
    overflow: scroll;
    overflow-x: hidden;
}

.fixed-header-table thead tr:nth-child(1) th {
    border-bottom: #26a69a;
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
}

/* Below .pr-26 and right classes are used for positioning back button */
.pr-26 {
    padding-right: 26px;
}

.right {
    right: 47px;
}
.position-adjust{
    right: 14px !important;
    top: 27px !important;
}