$fb-question-font-color: #252F4A;
$ck-editor-border-color: #d3d1d1;

.fb-question-font{
    font-weight: 600;
    color: $fb-question-font-color;
    font-size: 0.875rem !important;
}
.fb-form-element-body{
    padding: 0 !important;
}

.fb-mandatory-no-label {
    margin-top: -5px;
    padding-right: 5px;
}

::ng-deep .ck.ck-editor__editable_inline {
    border: 1px solid $ck-editor-border-color !important ;
    min-height: 100px;
}

::ng-deep .ck-content {
    li {
        list-style: unset !important;
    }
}

.attachment-info-card-gap {
    gap: 10px;
}

.attachment-info {
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    padding: 12px;

    &-title {
        color: #47637e;
        font-size: 1.4rem;
        font-weight: 500;
    }

    &-description {
        color: #000;
        font-size: 0.75rem;
    }
}

.actionButtonGroup{
    margin-bottom: 0px;
    display: flex;
}

