.grey-container {
    background-color: #f1f5f8;
}

.add-resource-container {
    max-height: 410px;
    overflow-y: auto;
    overflow-x: hidden;
}

.switch-disabled {
    cursor: not-allowed;
}

.input-group-append {
    z-index: 0;
}

