.help-text-icon {
    width: 14px;
    height: 14px;
    background-color: #929090;

    &:hover{
        background-color: #494949;
    }

    .mat-icon {
        color: white;
        font-size: 0.750rem !important; //12px
    }
}
