.budget-nav {
    border-bottom: 1px solid #dee2e6;
    margin: 0;
}

.budget-nav li a {
    color: #48647f;
}

.budget-nav .nav-link.active {
    font-weight: 600;
    border-top: solid 2px #48647f;
}

.actions-outer {
    width: max-content;
}

.budget-actions {
    margin-right: 10px;
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
}

.actions-outer .budget-actions:nth-last-child(1) {
    margin-right: 0;
}

.budget-actions i {
    margin-right: 3px;
    font-size: 1.2rem;
    background: #E8F0FB;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
}

.budget-actions:hover {
    color: #2c77f4;
}

.budget-actions:hover i {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4;
}

.cost-fields label {
    font-size: 1.3rem;
}

.cost-fields {
    background: #e8f0fd;
    border: solid 1px #2c76f25e;
    border-right: 0;
    border-left: 0;
    margin-bottom: 10px !important;
}

.budget-table thead th {
    vertical-align: middle;
    border-right: solid 1px #fff !important;
}

.budget-table thead th:nth-last-child(1) {
    border-right: 0;
}

.budget-table td, .budget-table th {
    padding: 6px 8px;
}

.table-head-color th {
    color: #fff;
    /* background-color: #1e847b; */
}

.cost-sharing .col-12 {
    border-bottom: solid 1px #fff;
}

.cost-sharing .col-4 {
    border-right: solid 1px #fff;
}

.budget-table tbody {
    background-color: #f3f3f3;
}

.budget-table tbody tr td {
    border-right: solid 1px #fff;
}

.budget-table tbody tr td:nth-last-child(1) {
    border-right: 0;
}

.budget-list-table tbody {
    background: none !important;
}

/* .budget-list-outer {
    background: #fff !important;
    border-radius: 3px;
    margin-bottom: 5px;
    position: relative;
}

.budget-list-outer::before {
    content: "";
    position: absolute;
    border: solid 2px #2cbbae;
    left: 0;
    height: 100%;
} */

.budget-person-outer {
    padding-bottom: 5px;
}

.budget-person {
    border: solid 1px #ececec;
    text-align: left;
    background: #f8fbff;
}

.budget-person-head {
    background: #e7edf9;
    margin-bottom: 8px !important;
    padding: 3px;
    font-weight: 500;
}

.totalText {
    margin-left: 5px;
    font-weight: bold;
}

.widthmodal {
    max-width: 1252px !important;
}

/* .budget-list-outer tbody td {
    vertical-align: initial;
} */

.budget-table tbody td {
    vertical-align: top;
}

.invalid-feedback {
    font-size: 1.4rem;
}

.budget-nav .nav-item {
    margin-bottom: -2px;
}

.period-hover:hover span {
    visibility: visible;
}

.period-hover span {
    visibility: hidden;
}

.period-hover .active span {
    visibility: visible;
}

.c-element-color {
    background: #e4efef;
}

.c-element-color:hover {
    background: #e4efef !important;
}

.card-table-box tbody tr:hover {
    background-color: unset;
}

.action-icons {
    margin-right: 3px;
    font-size: 1.2rem;
    background: #E8F0FB;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
}
.select-box option:nth-last-child(1) {
    color: #2c77f3;
    text-transform: uppercase;
    font-weight: 600;
}
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #f4f5f7;
}
.dropdown-item {
    font-size: 1.3rem;
}
.budget-table input, .budget-table select {
    height: 25px;
}
.budget-person-outer .insidePicker {
    top: 5px !important;
}
::ng-deep #searchCostElement input{ height: 25px !important;}
.searchButton {top: 4px; }
::ng-deep #searchCostElement .searchButton {top: 1px; }
::ng-deep #searchCostElementIteration input{ height: 25px !important;}
::ng-deep #searchCostElementIteration .searchButton {top: 1px; }

.rate-header {
    color: white;
}
.title-primary{font-weight: 500;}
.rate-modal-lg{ max-width: 1000px; }
.fixed-header-table {
    max-height: 300px;
    height: auto;
    overflow-x: hidden;
}
.fixed-header-table thead tr:nth-child(1) th {
    border-bottom: #26a69a;
    position: sticky;
    top: 0;
    z-index: 2;
}
.thead-light th {background-color: #e9ecef !important;}

.budget-table-add-btn {
    height: 25px;
    font-size: 1.2rem;
}


