.active {
    border-bottom: 3px solid #007DEC;
    text-decoration: none;
    color: #007DEC;
}

.active {
    color: #007DEC;
    border-bottom: 3px solid #007DEC;
    padding: 7px 11px;
    font-size: 0.9375rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.inactive {
    color: #48647f;
    font-size: 0.9375rem;
    padding: 5px 11px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.userDetail {
    color: #48647f;
    font-size: 1.6rem;
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 500;
}

.headerStyle {
    padding: 0.625rem 0.938rem;
}

.tabSwitch {
    display: inline-block;
}

.navigation-title {
    .active {
        color: #007DEC;
        margin-bottom: -0.2rem !important;
        font-weight: bold;
        position: relative;
        bottom: 5px;
    }
}

.navigation-icons {
    .active {
        border-bottom: 3px solid #007DEC;
        color: #007DEC;
        background-color: #e6f3ff !important;
        box-shadow: 2px 3px 11px 1px rgba(0, 0, 0, .17);
    }
}

.nav-options:hover {
    background-color: #e6f3ff !important;
    // box-shadow: 2px 3px 11px 1px rgba(0,0,0,.17);
}

.card-nav {
    .nav-options {
        padding: 0.8rem 1rem;

        &.relation-active {
            background-color: #fff;

            span {
                color: #000;
            }
        }
    }
}

.user-dashboard-nav {
    min-height: 40px;
}

.btn-position {
    position: relative;
    bottom: 5px;
}

.header-icons {
    .active {
        border-bottom: 2px solid #007DEC;
        color: #007DEC;
        padding: 10px 10px !important;
        box-shadow: 2px 3px 11px 1px rgba(0, 0, 0, .17);
    }
}

.border-bottom {
    border-bottom: 2px solid #d7dbdf;
}

#coi-person-modal {
    min-height: 350px;
}
