.warning-badge {
    color: #FF9149;
    background: #fff8f3;
    border: 1px solid #FF9149;
}

.success-badge {
    color: #28a745;
    background: #e9ffee;
    border: 1px solid #28a745;
}

.secondary-badge {
    color: #6c757d;
    background: #f3eded;
    border: 1px solid #6c757d;
}

.info-badge {
    color: #00a2ff;
    background: #d0f2fc;
    border: 1px solid #00a2ff;
}

.span-badge {
    padding: 5px 10px !important;
    letter-spacing: .01rem;
}

.hover-class p:hover {
    color: #26A69A !important;
    cursor: pointer;
}

.font-style {
    font-weight: 600;
}

.tableSkin>tbody>tr:nth-of-type(1) td {
    border-top: none !important;
}

.no-outline {
    outline: 0em;
    position: absolute;
    right: 0;
    z-index: 1;
}

.inbox-card {
    z-index: 9;
    right: 18px;
    top: 37px;
    position: absolute;
    width: 50%;
    box-shadow: 1px 1px 3px 1px #bdbdbd;
}