<div class="push4slideMenu pageMinHeight">
        <div class="container-fluid pushFixedHeaderFooter">
            <div class="headerPush"></div>
            <div class="container-fluid">
                <div class="card pb-2 mb-3">
                    <div class="card-header">
                        <h4 class="card-title">
                            <div class="row">
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
                                    Notification Content And Recipients
                                </div>
                            </div>
                        </h4>
                    </div>
                    <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class="block-display">
                                            Subject </label>
                                        <span [innerHTML]="promptObject.subject"></span>
                                    </div>
                                </div>
    
                                <div class="form-row">
                                    <div class="form-group  col">
                                        <label class="block-display ">
                                            Message Body</label>
                                        <span [innerHTML]="promptObject.body"></span>
                                    </div>
                                </div>
    
                                <div class="card-inner">
                                    <div class="card-header pb-1">
                                        <h3 class="card-title form-row">
                                            <span class="form-group col">
                                                Notification Recipients
                                            </span>
                                            <span class="form-group col">
                                                <label class="radio-inline"><input required="" type="radio"
                                                        class="ng-invalid ng-dirty ng-touched " name='def_recipient'
                                                        checked="true" value="N" [(ngModel)]="role">
                                                    Persons</label>
                                                <label class="radio-inline ml-2"><input required="" type="radio"
                                                        class="ng-invalid ng-dirty ng-touched" name='def_recipient'
                                                        value="Y" [(ngModel)]="role"> Role</label>
                                            </span>
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="form-group col">
                                                To :
                                                <div class="fileChips d-inline-block" style="word-break: break-all;">
                                                    <ng-container
                                                        *ngFor="let recipients of notificationType.notificationRecipient">
                                                        <span *ngIf="(recipients.recipientType == 'TO')">
                                                            <i class="faIconFileChip fa {{recipients.recipientPersonId != null ? 'fa-user-o' : 'fa-handshake-o'}}"
                                                                aria-hidden="true"></i> {{recipients.recipientName}}
                                                            <i *ngIf="!recipients.notificationRecipientId"
                                                                class="fa fa-close hand-cursor" id="prop-keywrd-dlt"
                                                                (click)="removePerson(recipients)" aria-hidden="true"
                                                                title="Remove this Recipient"></i>
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngFor="let recipients of emailRecipient">
                                                        <span *ngIf="(recipients.recipientType == 'TO')">
                                                            <i class="faIconFileChip fa {{recipients.recipientPersonId != null ? 'fa-user-o' : 'fa-handshake-o'}}"
                                                                aria-hidden="true"></i> {{recipients.recipientName}}
                                                            <i *ngIf="!recipients.notificationRecipientId"
                                                                class="fa fa-close hand-cursor" id="prop-keywrd-dlt"
                                                                (click)="removePerson(recipients)" aria-hidden="true"
                                                                title="Remove this Recipient"></i>
                                                        </span>
                                                    </ng-container>
                                                </div>
    
                                                <div class="d-inline-block activeSearch" *ngIf="(role=='N')">
                                                    <app-elastic [options]="elasticSearchOptions"
                                                            [clearField]="clearField" [placeHolder]="'Search person'"
                                                            (selectedResult)="selectedPOC($event)" (click)="send = 'TO'">
                                                        </app-elastic>
                                                </div>
                                                <div class="d-inline-block" *ngIf="(role=='Y')">
                                                    <div>
                                                        <select id="rolet-type" class="form-control"
                                                            [(ngModel)]="roleCodeTo" (click)="send = 'TO'"
                                                            (change)="addRoleType('to')">
                                                            <option [ngValue]=null>--Select--</option>
                                                            <option *ngFor="let roleType of mapRoles?.roleDescription"
                                                                [value]="roleType.ROLE_TYPE_CODE">{{roleType.DESCRIPTION}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
    
                                                <button class="btn btn-primary-sub btn-sm hand-cursor d-inline-block ml-2"
                                                    (click)="isCcViewable = true; $event.stopPropagation();"
                                                    *ngIf="!isCcViewable">Cc</button>
                                                <button class="btn btn-primary-sub btn-sm hand-cursor d-inline-block ml-2"
                                                    (click)="isBccViewable = true; $event.stopPropagation();"
                                                    *ngIf="!isBccViewable">Bcc</button>
                                            </div>
                                        </div>
                                        <div *ngIf="isCcViewable" class="form-row">
                                            <div class="form-group col">
                                                Cc :
                                                <div class="fileChips d-inline-block" style="word-break: break-all;">
                                                    <ng-container
                                                        *ngFor="let recipients of notificationType.notificationRecipient">
                                                        <span *ngIf="(recipients.recipientType == 'CC')">
                                                            <i class="faIconFileChip fa {{recipients.recipientPersonId != null ? 'fa-user-o' : 'fa-handshake-o'}}"
                                                                aria-hidden="true"></i> {{recipients.recipientName}}
                                                            <i *ngIf="!recipients.notificationRecipientId"
                                                                class="fa fa-close hand-cursor" id="prop-keywrd-dlt"
                                                                (click)="removePerson(recipients)" aria-hidden="true"
                                                                title="Remove this Recipient"></i>
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngFor="let recipients of emailRecipient">
                                                        <span *ngIf="(recipients.recipientType == 'CC')">
                                                            <i class="faIconFileChip fa {{recipients.recipientPersonId != null ? 'fa-user-o' : 'fa-handshake-o'}}"
                                                                aria-hidden="true"></i> {{recipients.recipientName}}
                                                            <i *ngIf="!recipients.notificationRecipientId"
                                                                class="fa fa-close hand-cursor" id="prop-keywrd-dlt"
                                                                (click)="removePerson(recipients)" aria-hidden="true"
                                                                title="Remove this Recipient"></i>
                                                        </span>
                                                    </ng-container>
                                                </div>
                                                <div class="d-inline-block activeSearch" *ngIf="(role=='N')">
                                                    <app-elastic [options]="elasticSearchOptions"
                                                            [clearField]="clearField" [placeHolder]="'Search person'"
                                                            (selectedResult)="selectedPOC($event)" (click)="send = 'CC'">
                                                        </app-elastic>
                                                </div>
                                                <div class="d-inline-block" *ngIf="(role=='Y')">
                                                    <div>
                                                        <select id="rolet-type" class="form-control"
                                                            [(ngModel)]="roleCodeCc" (click)="send = 'CC'"
                                                            (change)="addRoleType('cc')">
                                                            <option [ngValue]=null>--Select--</option>
                                                            <option *ngFor="let roleType of mapRoles?.roleDescription"
                                                                [value]="roleType.ROLE_TYPE_CODE">{{roleType.DESCRIPTION}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="isBccViewable" class="form-row">
                                            <div class="form-group col">
                                                Bcc :
                                                <div class="fileChips d-inline-block" style="word-break: break-all;">
                                                    <ng-container
                                                        *ngFor="let recipients of notificationType.notificationRecipient">
                                                        <span *ngIf="(recipients.recipientType == 'BCC')">
                                                            <i class="faIconFileChip fa {{recipients.recipientPersonId != null ? 'fa-user-o' : 'fa-handshake-o'}}"
                                                                aria-hidden="true"></i> {{recipients.recipientName}}
                                                            <i *ngIf="!recipients.notificationRecipientId"
                                                                class="fa fa-close hand-cursor" id="prop-keywrd-dlt"
                                                                (click)="removePerson(recipients)" aria-hidden="true"
                                                                title="Remove this Recipient"></i>
                                                        </span>
                                                    </ng-container>
                                                    <ng-container *ngFor="let recipients of emailRecipient">
                                                        <span *ngIf="(recipients.recipientType == 'BCC')">
                                                            <i class="faIconFileChip fa {{recipients.recipientPersonId != null ? 'fa-user-o' : 'fa-handshake-o'}}"
                                                                aria-hidden="true"></i> {{recipients.recipientName}}
                                                            <i *ngIf="!recipients.notificationRecipientId"
                                                                class="fa fa-close hand-cursor" id="prop-keywrd-dlt"
                                                                (click)="removePerson(recipients)" aria-hidden="true"
                                                                title="Remove this Recipient"></i>
                                                        </span>
                                                    </ng-container>
                                                </div>
                                                <div class="d-inline-block activeSearch" *ngIf="(role=='N')">
                                                    <app-elastic [options]="elasticSearchOptions"
                                                            [clearField]="clearField" [placeHolder]="'Search person'"
                                                            (selectedResult)="selectedPOC($event)" (click)="send = 'BCC'">
                                                        </app-elastic>
                                                </div>
                                                <div class="d-inline-block" *ngIf="(role=='Y')">
                                                    <div>
                                                        <select id="rolet-type" class="form-control"
                                                            [(ngModel)]="roleCodeBcc" (click)="send = 'BCC'"
                                                            (change)="addRoleType('bcc')">
                                                            <option [ngValue]=null>--Select--</option>
                                                            <option *ngFor="let roleType of mapRoles?.roleDescription"
                                                                [value]="roleType.ROLE_TYPE_CODE">{{roleType.DESCRIPTION}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
    
                <div class="form-group col-12 text-right">
                    <button class="btn btn-secondary " type="button" (click)="goBack()">Cancel</button>
                    <button class="btn btn-primary-sub" type="button" (click)="sendMail()">Send Mail</button>
                </div>
            </div>
            <div class="footerPush"></div>
        </div>
    </div>
