$fb-form-list-card-bg: #f7f7f7;
$search-button-hover-focus-color: #1e847b;
$non-active-version-bg: #D9DAD9;
$non-active-version-text-color: black;

.fb-header-search-bar{
  width: 300px;
}
.fb-form-list-card-color{
  background: $fb-form-list-card-bg;
}
p20{
  padding: 20px;
}

.w-5{
  width: 5vw;
}

.searchBox {
  margin-bottom: 12.5px;
}

.searchButton {
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  &:hover, &:focus {
    color: $search-button-hover-focus-color !important;  
  }
}

.non-Active-version-color{
  background-color: $non-active-version-bg !important;
  color: $non-active-version-text-color !important;
}
