.date-opacity {
    opacity: 1;
}

.show-qst > hr {
	margin: 5px 0 0 0 !important;
}

.dock-box {
    position: sticky;
    bottom: 5px;
    margin: 0 auto;
    width: max-content;
    background: white;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.26);
}
.arrow-btn {
    font-size: 18px;
    background-color: rgba(44,119,244,.1);
    min-width: 2em;
    line-height: 17px;
}

.arrow-btn:hover {
    background-color: #2c77f4;
}

.arrow-btn:hover span{
    color: white;
}

.show-dock {
    position: sticky;
    bottom: 5px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
}

.fa-question-circle {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.show-dock-icon {
    width: 45px;
    height: 45px;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 45px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.dock-question-box {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 20px;
    cursor: default;
}
.hover-arrow-color:hover {
    background-color: #2c77f4;
    color: white!important;
}
.question-font{
    color: #48647f !important;
    white-space: pre-line;
    display: block;
    font-size: 0.875rem;
}

.qst-date-picker::placeholder {
    font-size: 14px!important;
    color: #48647f!important;
    font-weight: 600;
}

.table-answers {
    resize: none;
}

.table-answers:focus {
    border: none;
    box-shadow: none;
    outline: 0 none;
}

.action-button {
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
}

.action-button i {
    margin-right: 3px;
    font-size: 1.2rem;
    background: #E8F0FB;
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
    line-height: 23px;
    border-radius: 3px;
}

.action-button:hover {
    color: #2c77f4;
}

.action-button:hover i {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4;
}

.icon-actions {
    background: rgba(44, 119, 244, 0.1);
    color: #2c77f4!important;
}

.table-min-width {
    min-width: 250px;
}

.action-column {
    position: sticky;
    right: -1px;
    z-index: 10;
    background: #e9ecefd6;
}

.questionnaire-card{
  margin-left: 3px !important;
}
.questionnaire-card:hover{
  margin-left: 1px !important;
  border-left: solid 3px #007DEC;
}

.help-text-close {
    border: 0px solid !important;
}

.card-active-line {
    margin-left: 1px !important;
    border-left: solid 3px #007DEC !important;

    &.card-active-line-danger {
        border-left: solid 3px #f1416c !important;
    }
}

.card-active-line-danger {
    border-left: dashed 1px #f1416c;
    border-right: dashed 1px #f1416c;
    border-top: dashed 1px #f1416c;
    border-bottom: dashed 1px #f1416c;

    &:hover {
        border-left: solid 3px #f1416c !important;
        border-right: dashed 1px #f1416c;
        border-top: dashed 1px #f1416c;
        border-bottom: dashed 1px #f1416c;
    }
}

@keyframes wobble {
    from {
        transform: translate3d(0, 0, 0);
    }

    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: scale(1.5);
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        transform: translate3d(0, 0, 0);
        transform: scale(1)
    }
}

.wobble {
    background-color: #dc3545 !important;
    animation-name: wobble;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(0.95, 0.95, 0.95);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    border: 1px solid #dc3545 !important;
    animation-name: pulse;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.is-invalid-border {
    background: #ef44440d;
    border: 1px solid #ed4040ab !important;
    box-shadow: unset;
}

.focus-invalid-quest {
    border: solid #ed4040ab !important;
    border-width: 1px 1px 1px 4px !important;
    box-shadow: 0px 0px 4px 3px rgb(233 173 173 / 35%);
}

.unset-space {
    white-space: unset !important;
}

.hover-mandatory:hover{
   text-decoration: underline; 
}
