.highlight-node {
    background-color: #EEEEEE;
    color: #202c2e;
    border: 1px solid #ded8d8;
}

.border {
    border-radius: 15px;
}

.card {
    background-color: none;
}

.history-date {
    background-color: #E2F1FF;
}

.history-username {
    color: black;
}

ul {
    list-style-type: none;
}

.border-left-line {
    border-left: solid #007DEC;
}
