.d-flex {
    flex-direction: row;
    justify-content: flex-end;
}


.grid-row {
    display: flex;
    -ms-flex-pack: start;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
    align-items: flex-start;
  }  
  
  .grid-item {
    flex: auto;
    width: 250px;
    position: relative;
    box-sizing: border-box;
  }
   
  .grid-item-container {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .viewMode .grid-row span {
    display: block;
    font-size: 1.28rem;
    color: #505050;    
    padding-left: 10px;
}

.viewMode .grid-row label {
    font-size: 14px;
    margin-bottom: 0;
    color: #333;
    font-weight: 600;
    padding-left: 10px;
}

.resultCard {
    margin-bottom: 0px !important;
}
.add-degree-btn{
    display: inline-block;
    float: right;
}


.clickable:hover {
    color: #0D6EFD;
    text-decoration: underline;
    cursor: pointer;
}

.btn-outline-danger, .btn-outline-secondary {
    padding: 0.3rem .75rem;
    font-size: 1.3rem;
    height: 27px;
}

.confirmation {
    display: none;
}

.flip-top {
    animation-name: flipFromTop;
    animation-duration: .7s;
}

.flip-bottom {
    animation-name: flipFromBottom;
    animation-duration: .7s;
}

@keyframes flipFromBottom {
    0% {
        opacity: 0;
        transform-style: preserve-3d;
        transform: rotateX(90deg);
    }
    100% {
        opacity: 1;
        transform-style: preserve-3d;
        transform: rotateX(0deg);
    }
}

@keyframes flipFromTop {
    0% {
        opacity: 0;
        transform-style: preserve-3d;
        transform: rotateX(-90deg);
    }
    100% {
        opacity: 1;
        transform-style: preserve-3d;
        transform: rotateX(0deg);
    }
}


@media(max-width: 1200px) {    
  .grid-row {     
    flex-flow: row wrap;
  }
}
