.settings-icon {
    background: #fff;
    padding: 0;
    border-radius: 3px;
    width: 30px;
    height: 29px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    text-align: center;
    margin-right: 3px;
    line-height: 23px;
}

.settings-icon:hover i {
    animation: a 2s infinite linear;
}

.settings-icon i{
    color: #1e847b;
}

.notificationBox {
    border:0!important;
    background: #fff;
    padding: 5px;
    right: 15px;
    top: 38px;
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.55) !important;
}

.notificationBox:before {
    border: none!important;
}
.notificationBox li
{
    display: flex;
}
.notificationBox li input[type=checkbox]
{
    align-self: flex-start;
    margin-top: 4px;
}
@media (min-width: 992px) {
.tabs > li > a {
    font-size: 15.2px !important;
    line-height: 22.8px;
}
.tabs > li.active > a::before {
    content: '';
}
}

.tooltip .tooltiptext-right {
    width: 150px;
    top: 9px;
}
