.side-scroll {
    max-height: calc(100vh - 60px - 50px);
    overflow-y: auto;

}

/* width */
.side-scroll::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.side-scroll::-webkit-scrollbar-track {
    /* box-shadow: inset 1px 1px 1px grey;  */
    border-radius: 10px;
    border: solid 1px #f1f1f1;
}

/* Handle */
.side-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

/* Handle on hover */
.side-scroll::-webkit-scrollbar-thumb:hover {
    background: #ababab;
}

.question-list {
    font-size: 1.4rem;
    margin: 0;
    background-color: #ffffff;
    outline: 2px solid #ff770000;
}

.questionlist-active {
    outline: 2px solid #ff7900;
    transition: outline 1s ease-in-out;
    background-color: #ffffff;
}

.qa-display p {
    font-size: 1.4rem;
}

.qa-flex {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.categories {
    background-color: #f7f7f9;
    position: sticky;
    top: 50px;
}

.question-commonstyle {
    color: #48647f;
    font-weight: 500;
}

.questionList-sidebar {
    @extend .question-commonstyle;
}

.questions-mainsection {
    @extend .question-commonstyle;
    font-size: 0.9375rem;
}

.toggle-icon {
    font-size: 0.75rem;
}
