.inner-scroll {
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

.vertical-align th {
    vertical-align: top !important;
}

.list-style-none {
    list-style: none;
    font-size: 1.4rem;
    font-weight: 400;
}

.chevron {
    color: #37857b;
    font-size: 1.1rem;
}

.warning-icon {
    color: #f5d903;
    font-size: 1.5rem;
}
