.theme-box {
    cursor: pointer;
}

.background-shade {
    background: rgba(0, 0, 0, 0.333);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 99;
}

.fa-times {
    transform: rotate(90deg);
    transition: 250ms ease-in-out;
}

.fa-bars {
    transform: rotate(180deg);
    transition: 250ms ease-in-out;
}

.person-hover:hover {
    color: #2c77f4;
    text-decoration: underline;
}

.fixed-warning {
    position: fixed;
    top: 7px;
    left: 50%;
    z-index: 1003;
    transform: translateX(-50%);
}

.subTabs li.active {
    font-weight: 500;
    box-shadow: none;
    margin-left: 0px;
    margin-right: 0px;
}

.bell-icon {
    font-size: 2.1rem;
    color: #9e9e9e;
    vertical-align: middle;
}

ul.sb-results-dropdown-menu {
    margin: 0;
    padding: 0;
    max-height: 80vh;
    overflow-y: scroll;
    background: white;
    border-radius: 10px;
}

ul.sb-results-dropdown-menu>li {
    position: relative;
    border-bottom: 1px dotted #ccc;
    padding: 11px;
    list-style: none;
}

ul.sb-results-dropdown-menu>li:hover,
ul.sb-results-dropdown-menu>li:focus,
ul.sb-results-dropdown-menu>li:focus-within {
    background: #e0eaff;
}

.highlight {
    background: #e0eaff;
}

ul.sb-results-dropdown-menu>li span {
    cursor: pointer;
    font-size: 1.4rem;
}

ul.sb-results-dropdown-menu>li:last-child {
    border-bottom: 0;
}

.sb-seachresults {
    position: fixed;
    right: 35px;
    top: 45px;
    z-index: 2001;
    max-width: 30%;
    min-width: 30%;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 0 rgb(0 0 0 / 18%);
}

.link-color {
    color: #007bff;
}

.fa-bell {
    font-size: 95%;
}

.new-notifications-count {
    position: absolute;
    top: 5px;
    right: -2px;
    padding: 0px 5px 0px 5px;
    border-radius: 50%;
    height: 18px;
    background-color: #f00;
    color: #fff;
    font-size: 11px;
    z-index: 2;
    display: inline-block;
}

.badge {
    padding: 1px 5px;
    border-radius: 50%;
    background: #f00;
    color: #fff;
    display: inline;
}

.active-bell {
    background: #e7f7f4;
    cursor: pointer;
    color: #1e847b;
    padding: 3px 5px 6px 5px;
    border-color: #1e847b;
}

.subTabs li .subTabLink {
    padding: 0.5rem 1rem;
}

.count-design {
    top: -4px;
    font-size: 12px;
    position: relative;
}

.flip-top {
    animation-name: flipFromTop;
    animation-duration: .7s;
}

@keyframes flipFromTop {
    0% {
        /* opacity: 0; */
        transform-style: preserve-3d;
        transform: translateX(0%);

    }

    100% {
        /* opacity: 1; */
        transform-style: preserve-3d;
        transform: translateX(100%);
    }
}

.bell {
    animation: bellShake .8s 2 alternate;
}

@keyframes bellShake {
    0% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    45% {
        transform: rotate(4deg);
    }

    60% {
        transform: rotate(-4deg);
    }

    75% {
        transform: rotate(2deg);
    }

    85% {
        transform: rotate(-2deg);
    }

    92% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0);
    }
}

.overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    /* Black background with opacity */
    z-index: 2000;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

.collapse-text {
    color: #4b4bc4;
    text-decoration: underline;
    font-style: italic;
}

.fa-circle,
.fa-envelope-o {
    color: #1e847b;
    font-size: 10px
}

.read-btn {
    font-size: 12px;
    margin-left: -10px;
}

.read-btn:hover {
    color: #1e847b;
}

.text-color {
    color: #8e8d8d;
}

.btn-outline-danger,
.btn-outline-secondary {
    padding: 0.3rem .75rem;
    font-size: 1.3rem;
    height: 27px;
}

.confirmation {
    display: none;
}

.flip-top {
    animation-name: flipFromTop;
    animation-duration: .7s;
}

.flip-bottom {
    animation-name: flipFromBottom;
    animation-duration: .7s;
}

@keyframes flipFromBottom {
    0% {
        opacity: 0;
        transform-style: preserve-3d;
        transform: rotateX(90deg);
    }

    100% {
        opacity: 1;
        transform-style: preserve-3d;
        transform: rotateX(0deg);
    }
}

@keyframes flipFromTop {
    0% {
        opacity: 0;
        transform-style: preserve-3d;
        transform: rotateX(-90deg);
    }

    100% {
        opacity: 1;
        transform-style: preserve-3d;
        transform: rotateX(0deg);
    }
}

.success-banner-header {
    color: #fd3434;
    border-color: #d7d7d7 !important;
    font-size: 1.4rem;
    border-radius: 5px;
    background-color: #c3edf5;
    border: #d7d7d7 1px solid;
}
