<!-- add new entity modal -->
<app-common-modal [modalConfig]="modalConfig" (modalAction)="postConfirmation($event)">
    <ng-container modal-header>
        <ng-container *ngIf="!isDuplicateEntitiesAvailable">
            <span>Add new Entity</span>
            <app-common-help-text [helpTextHardCoded]="'You are about to create a new Entity'"></app-common-help-text>
        </ng-container>
        <ng-container *ngIf="isDuplicateEntitiesAvailable">
            <span>Matching Entities Found</span>
        </ng-container>
    </ng-container>
    <ng-container modal-body>
        <ng-container *ngIf="!isDuplicateEntitiesAvailable">
            <app-entity-creation [$performAction]="$performAction" [entityCreationConfig]="entityCreationConfig"
                (emitMandatoryResponse)="getNewEntityDetails($event)"></app-entity-creation>
        </ng-container>
        <ng-container *ngIf="isDuplicateEntitiesAvailable">
            <div class="position-sticky coi-negative-top z-index-2 pb-2 bg-white">
                <div class="d-flex alert alert-primary mb-0 py-2 mt-2">
                    <mat-icon class="mat-icon material-icons flex-shrink-0" aria-hidden="true">info</mat-icon>
                    <p class="fs-14 mb-0 ms-2">
                        <span class="d-flex algin-items-start">The details you entered match the following entities in our system. Please review
                            the list below and, if the correct entity is shown, select it using the ‘Use This’ button. If none of the listed
                            entities match and you would like to create a new one, you may skip this step and click ‘Create as New’.</span>
                    </p>
                </div>
            </div>
            <!-- card -->
            <ng-container *ngFor="let entity of entitiesWithConfigDetails; let isFirst = first">
                <div [class.my-1]="!isFirst">
                    <app-shared-entity-details-card [entityCardConfig]="entity"
                        (actions)="actionsFromCard($event)"></app-shared-entity-details-card>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</app-common-modal>
