$gap: 0.300rem;

.coi-family-tree {
    max-width: 400px;
    overflow-x: auto;
    overflow-y: hidden;

    .coi-family-tree-container {
        display: flex;
        min-width: 250px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding-left:40px;

        // For all child elements except the first
        &:not(:first-child)::before {
            content: '';
            position: absolute;
            width: 27px;
            height: 0.5px;
            background-color: #000;
            top: 22px;
            left: 28px;
            z-index: 3;
        }

        &:not(:first-child)::after {
            content: '';
            position: absolute;
            width: 0.5px;
            height: calc(22.5px + #{$gap});
            background-color: #000;
            top: -#{$gap};
            left: 28px;
            z-index: 2;
        }

        &:first-child {
            padding-left: 0;
            min-width: 250px;
        }

        &:not(:last-of-type) {
            &::after {
                height: calc(100% + #{$gap}) !important;
            }
        }

        .coi-family-tree-node {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            z-index: 2;

            .coi-node-white {
                position: relative;

                &::before{
                    content: "";
                    position: absolute;
                    height: 100%;
                    top: 0;
                    background-color: #fff;
                    left: -300px;
                    width: calc(100% + 600px);
                    z-index: -1;
                }


                .coi-node-btn-link {
                    position: absolute;
                    left: -33px;
                    top: 5px;

                        .collapse-icon{
                            padding: 1px;
                            font-size: 0.9rem!important;
                        }

                }
            }

            .coi-node-grey {
                position: relative;

                &::before{
                    content: "";
                    position: absolute;
                    height: 100%;
                    top: 0;
                    background-color: #f0f0f0;
                    left: -300px;
                    width: calc(100% + 600px);
                    z-index: -1;
                }


                .coi-node-btn-link {
                    position: absolute;
                    left: -33px;
                    top: 5px;

                        .collapse-icon{
                            padding: 1px;
                            font-size: 0.9rem!important;
                        }

                }
            }

            .coi-node-selected {
                position: relative;

                &::before{
                    content: "";
                    position: absolute;
                    height: 100%;
                    top: 0;
                    background-color: #edf7ff;
                    border-color: #bddcf8;
                    left: -300px;
                    width: calc(100% + 600px);
                    z-index: -1;
                }


                .coi-node-btn-link {
                    position: absolute;
                    left: -33px;
                    top: 5px;

                        .collapse-icon{
                            padding: 1px;
                            font-size: 0.9rem!important;
                        }

                }
            }

            .coi-family-tree-entity-icon {
                transform: scale(0.9);
            }

            .coi-family-tree-node-link {
                height: 43px;
                padding: 0.5rem 0.875rem;

                &.coi-family-tree-node-link-active {
                    font-weight: 600;
                    color: var(--theme-text-gray-800) !important;
                    border: 1px dashed #ffc700;
                    background-color: #fff8dd;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 12px 0 rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .coi-node-btn-link {
        outline: none;
        border: none;

        &:active {
            outline: none;
            border: none;
        }
    }
}

.text-entity-name {
    color: #0948b2;
}
