
.table-scroll {
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: .4em;
    height: 3em;
}

 ::-webkit-scrollbar-button {
    display: none;
}

 ::-webkit-scrollbar-track-piece {
    background: #eee
}

 ::-webkit-scrollbar-thumb {
    background: #ccc
}

.list-group {
    flex-direction: column;
}

.list-group.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag {
  /* this is the animation that fires for the drag */
    transition: transform 150ms ease;
    z-index: 1160 !important;
}

.cdk-drag-animating {
  /* this is the animation that fires for the drop */
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  z-index: 1160 !important;
}

.cdk-drag-placeholder {
  /* setting opacity to zero makes a blank space between list items during drag preview */
  opacity: 0;
}

.hand-cursor {
	cursor: all-scroll;
}

.modal{
  z-index: 1100;
}

.pl-29{
padding-left: 29px !important;
}

img {
  display: inline-block;
  font-family: Arial;
  text-align: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  min-height: 156.017px;
  margin-bottom: 1em;
  line-height: 150px;
}
