<!-- Last Updated By Ramlekshmy I on 16-01-2020 -->
<div class="row">
    <!-- Proposal Details -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <app-proposal-details *ngIf="_proposalService.proposalSectionConfig['301']?.isActive" [result]="result"
            [dataVisibilityObj]="dataVisibilityObj" [helpText]="helpText" [proposalDataBindObj]="proposalDataBindObj"
            [departmentLevelRightsForProposal]="departmentLevelRightsForProposal">
        </app-proposal-details>
    </div>
    <!--Key Person-->
    <div *ngIf="result?.proposal?.proposalId !== null && _proposalService.proposalSectionConfig['302']?.isActive"
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <app-key-person [result]="result" [dataVisibilityObj]="dataVisibilityObj" [helpText]="helpText">
        </app-key-person>
    </div>
    <!-- Organization -->
    <div *ngIf="result?.proposal?.proposalId !== null && _proposalService.proposalSectionConfig['332']?.isActive"
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <app-organization [result]="result"></app-organization>
    </div>
    <!--Project Team-->
    <div *ngIf="result?.proposal?.proposalId !== null && _proposalService.proposalSectionConfig['340']?.isActive"
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <app-project-team [result]="result" [dataVisibilityObj]="dataVisibilityObj"
            [proposalDataBindObj]="proposalDataBindObj"></app-project-team>
    </div>
    <!-- Special Review-->
    <div *ngIf="result?.proposal?.proposalId !== null && _commonService.isEnableSpecialReview && _proposalService.proposalSectionConfig['303']?.isActive"
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <app-special-review [result]="result" [dataVisibilityObj]="dataVisibilityObj"
            [proposalDataBindObj]="proposalDataBindObj" [helpText]="helpText"></app-special-review>
    </div>
    <!--Declaration details-->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="result?.proposal?.proposalId !== null && result?.isFundingSupportDeclarationRequired
        && _proposalService.proposalSectionConfig['333']?.isActive">
        <app-declaration [result]="result" [isEditMode]="true" [helpText]="helpText"></app-declaration>
    </div>
    <!-- Area Of Research -->
    <div *ngIf="result?.proposal?.proposalId !== null && _proposalService.proposalSectionConfig['304']?.isActive"
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <app-area-of-research [result]="result" [dataVisibilityObj]="dataVisibilityObj"
            [proposalDataBindObj]="proposalDataBindObj" [helpText]="helpText"></app-area-of-research>
    </div>
    <!-- Key Performance Indicator -->
    <div *ngIf="result.proposal.proposalId !== null && result?.proposal?.grantCallId != null && _proposalService.proposalSectionConfig['334']?.isActive"
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <app-key-performance-indicator-proposal [result]="result" [mode]="dataVisibilityObj?.mode">
        </app-key-performance-indicator-proposal>
    </div>
    <!-- MileStone -->
    <div *ngIf="result.proposal.proposalId !== null && _proposalService.proposalSectionConfig['305']?.isActive"
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <app-milestone [result]="result" [mode]="dataVisibilityObj?.mode">
        </app-milestone>
    </div>
</div>
