.btn-outline-secondary {
    padding: 0 0.5rem !important;
}

.project-history-message-row div[innerHTML] {
    padding: 0 !important;
    margin: 0 !important;
}

.notification-history-table-thead {
    position: sticky;
    top: 42px;
}

@media (max-width: 992px) {
    .notification-history-table-thead {
        top: 0;
    }
}
