.eye-icon {
    display: grid;
    place-content: center;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #1ab3a5;
    color: #fff !important;
}

.ruleDefinition {
    margin-right: -4rem;
}

.br-date-picker::placeholder {
    font-size: 14px!important;
    color: #48647f!important;
    font-weight: 600;
}
