<div class="card-inner">
    <div class="card-header position-relative f-14">Payment Details
        <button (click)="isCollapsePayment = !isCollapsePayment" class="updown-arrow float-right"
                id="paymentExpandBtn">
            <i [ngClass]="(isCollapsePayment !=false)?'fa fa-angle-double-down':'fa fa-angle-double-up'"
               aria-hidden="true"
               class="fa-large fa fa-angle-double-up"></i>
        </button>
    </div>
    <div *ngIf="!isCollapsePayment" class="gridSkin px-1">
        <div class="row">
            <div class="col-4">
                <label for="payeeAccountName">Account Name:</label>
                <input type="text" class="form-control" [(ngModel)]="result.payeeAccountName" id="payeeAccountName"
                       (ngModelChange)="_commonData.isClaimDataChange = true"
                       [ngClass]="(claimValidationsMap.get('payeeAccountName')) ? 'is-invalid d-block' : ''">
                <div *ngIf="(claimValidationsMap.get('payeeAccountName'))" class="invalid-feedback d-block">
                    {{(claimValidationsMap.get('payeeAccountName') ? 'Please enter a valid account name':'')}}
                </div>
            </div>
            <div class="col-4">
                <label for="payeeAccountNumber">Account Number:</label>
                <input type="text" class="form-control" [(ngModel)]="result.payeeAccountNumber" id="payeeAccountNumber"
                       (ngModelChange)="_commonData.isClaimDataChange = true"
                       [ngClass]="(claimValidationsMap.get('payeeAccountNumber')) ? 'is-invalid d-block' : ''">
                <div *ngIf="(claimValidationsMap.get('payeeAccountNumber'))" class="invalid-feedback d-block">
                    {{(claimValidationsMap.get('payeeAccountNumber') ? 'Please enter a valid account number':'')}}
                </div>
            </div>
            <div class="col-4">
                <label for="payeeBank">Bank Name:</label>
                <input type="text" class="form-control" [(ngModel)]="result.payeeBank" id="payeeBank"
                       (ngModelChange)="_commonData.isClaimDataChange = true"
                       [ngClass]="(claimValidationsMap.get('payeeBank')) ? 'is-invalid d-block' : ''">
                <div *ngIf="(claimValidationsMap.get('payeeBank'))" class="invalid-feedback d-block">
                    {{(claimValidationsMap.get('payeeBank') ? 'Please enter a valid bank name':'')}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-details mt-3 p-0">
    <h4 class="card-title pb-3 pl-2">Certification I</h4>
    <div class="gridSkin">
        <div class="row">
            <div class="col-12">
                <textarea appAutoGrow [isShowLimiter]="true" appLengthValidator limit=2000
                    [(ngModel)]="result.fundingSchemeCertification1"
                    (ngModelChange)="_commonData.isClaimDataChange = true" class="form-control" rows="2"></textarea>
            </div>
        </div>
    </div>
    <h4 class="card-title pb-3 pl-2">Certification II</h4>
    <div class="gridSkin">
        <div class="row">
            <div class="col-12">
                <textarea appAutoGrow [isShowLimiter]="true" appLengthValidator limit=2000
                    [(ngModel)]="result.fundingSchemeCertification2"
                    (ngModelChange)="_commonData.isClaimDataChange = true" class="form-control" rows="5"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="d-flex justify-content-between mb-5">
                    <label class="card-title f-14">Signature of Authorised Approving Officer <br> (Director
                        of Research)</label>
                </div>
                <table>
                    <tr>
                        <td class="bold-600">Name</td>
                        <td>:</td>
                        <td>
                            <input [(ngModel)]="result.rsoName" (ngModelChange)="_commonData.isClaimDataChange = true"
                                class="form-control" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-600">Designation</td>
                        <td>:</td>
                        <td>
                            <input [(ngModel)]="result.rsoDesignation"
                                (ngModelChange)="_commonData.isClaimDataChange = true" class="form-control" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-600">Email</td>
                        <td>:</td>
                        <td>
                            <input [(ngModel)]="result.rsoEmail" (ngModelChange)="_commonData.isClaimDataChange = true"
                                class="form-control" type="email"
                                [ngClass]="(claimValidationsMap.get('rsoEmail')) ? 'is-invalid d-block' : ''">
                            <div *ngIf="(claimValidationsMap.get('rsoEmail'))" class="invalid-feedback d-block">
                                {{claimValidationsMap.get('rsoEmail')}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-600">Phone</td>
                        <td>:</td>
                        <td>
                            <input class="form-control" type="text" [(ngModel)]="result.rsoPhoneNumber"
                                (ngModelChange)="_commonData.isClaimDataChange = true">
                            <div *ngIf="(claimValidationsMap.get('rsoPhoneNumber'))" class="invalid-feedback d-block">
                                {{claimValidationsMap.get('rsoPhoneNumber')}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-600">Date</td>
                        <td>:</td>
                        <td>
                            <span class="dateField">
                                <input matInput [matDatepicker]="drDate" [(ngModel)]="rsoApprovalDate" (click)="drDate.open()"
                                    (ngModelChange)="_commonData.isClaimDataChange = true"
                                    autocomplete="off" class="d-inline-block form-control" id="drDate"
                                    placeholder="{{datePlaceHolder}}" style="width: 100% !important">
                                <i (click)="drDate.open()" aria-hidden="true"
                                    class="fa fa-calendar fa-large insidePicker hand-cursor top-5"
                                    id="fodrDate-date-icon" title="Open Calendar"></i>
                                <mat-datepicker #drDate (opened)="setFocusToElement('drDate')"></mat-datepicker>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-between mb-5">
                    <label class="card-title f-14 height-42">Signature of Senior Finance
                        Officer</label>
                </div>
                <table>
                    <tr>
                        <td class="bold-600">Name</td>
                        <td>:</td>
                        <td>
                            <input [(ngModel)]="result.foName" (ngModelChange)="_commonData.isClaimDataChange = true"
                                class="form-control" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-600">Designation</td>
                        <td>:</td>
                        <td>
                            <input [(ngModel)]="result.foDesignation"
                                (ngModelChange)="_commonData.isClaimDataChange = true" class="form-control" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-600">Email</td>
                        <td>:</td>
                        <td>
                            <input [(ngModel)]="result.foEmail" (ngModelChange)="_commonData.isClaimDataChange = true"
                                class="form-control" type="email"
                                [ngClass]="(claimValidationsMap.get('foEmail')) ? 'is-invalid d-block' : ''">
                            <div *ngIf="(claimValidationsMap.get('foEmail'))" class="invalid-feedback d-block">
                                {{claimValidationsMap.get('foEmail')}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-600">Phone</td>
                        <td>:</td>
                        <td>
                            <input [(ngModel)]="result.foPhoneNumber"
                                (ngModelChange)="_commonData.isClaimDataChange = true" class="form-control" type="text">
                            <div *ngIf="(claimValidationsMap.get('foPhoneNumber'))" class="invalid-feedback d-block">
                                {{claimValidationsMap.get('foPhoneNumber')}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-600">Date</td>
                        <td>:</td>
                        <td>
                            <span class="dateField">
                                <input matInput [matDatepicker]="foDate" [(ngModel)]="foApprovalDate" (click)="foDate.open()"
                                    (ngModelChange)="_commonData.isClaimDataChange = true" autocomplete="off"
                                    class="d-inline-block form-control" id="foDate" placeholder="{{datePlaceHolder}}"
                                    style="width: 100% !important">
                                <i (click)="foDate.open()" aria-hidden="true"
                                    class="fa fa-calendar fa-large insidePicker hand-cursor top-5" id="foDate-date-icon"
                                    title="Open Calendar"></i>
                                <mat-datepicker #foDate (opened)="setFocusToElement('foDate')"></mat-datepicker>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-between mb-5">
                    <label class="card-title f-14 height-42">Signature of Principal Investigator</label>
                </div>
                <table>
                    <tr>
                        <td class="bold-600">Name</td>
                        <td>:</td>
                        <td>
                            <input [(ngModel)]="result.rdoName" (ngModelChange)="_commonData.isClaimDataChange = true"
                                class="form-control" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-600">Designation</td>
                        <td>:</td>
                        <td>
                            <input [(ngModel)]="result.rdoDesignation"
                                (ngModelChange)="_commonData.isClaimDataChange = true" class="form-control" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-600">Email</td>
                        <td>:</td>
                        <td>
                            <input [(ngModel)]="result.rdoEmail" (ngModelChange)="_commonData.isClaimDataChange = true"
                                class="form-control" type="email"
                                [ngClass]="(claimValidationsMap.get('rdoEmail')) ? 'is-invalid d-block' : ''">
                            <div *ngIf="(claimValidationsMap.get('rdoEmail'))" class="invalid-feedback d-block">
                                {{claimValidationsMap.get('rdoEmail')}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-600">Phone</td>
                        <td>:</td>
                        <td>
                            <input [(ngModel)]="result.rdoPhoneNumber"
                                (ngModelChange)="_commonData.isClaimDataChange = true" class="form-control" type="text">
                            <div *ngIf="(claimValidationsMap.get('rdoPhoneNumber'))" class="invalid-feedback d-block">
                                {{claimValidationsMap.get('rdoPhoneNumber')}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold-600">Date</td>
                        <td>:</td>
                        <td>
                            <span class="dateField">
                                <input matInput [matDatepicker]="secDate" [(ngModel)]="rdoApprovalDate" (click)="secDate.open()"
                                    (ngModelChange)="_commonData.isClaimDataChange = true"
                                    autocomplete="off" class="d-inline-block form-control" id="secDate"
                                    placeholder="{{datePlaceHolder}}" style="width: 100% !important">
                                <i (click)="secDate.open()" aria-hidden="true"
                                    class="fa fa-calendar fa-large insidePicker hand-cursor top-5"
                                    id="secDate-date-icon" title="Open Calendar"></i>
                                <mat-datepicker #secDate (opened)="setFocusToElement('secDate')"></mat-datepicker>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <label class="block-display">Date request submitted:</label>
                <span class="dateField">
                    <input matInput [matDatepicker]="fromDate" [(ngModel)]="claimSubmissionDate" (click)="fromDate.open()"
                        (ngModelChange)="_commonData.isClaimDataChange = true" autocomplete="off"
                        class="d-inline-block form-control" id="reqDate" placeholder="{{datePlaceHolder}}"
                        style="width: 100% !important">
                    <i (click)="fromDate.open()" aria-hidden="true"
                        class="fa fa-calendar fa-large insidePicker hand-cursor" id="from-date-icon"
                        title="Open Calendar"></i>
                    <mat-datepicker #fromDate (opened)="setFocusToElement('reqDate')">
                    </mat-datepicker>
                </span>
            </div>
            <div class="col-md-4 col-sm-12">
                <label class="block-display" for="request-audited-by">Request Audited by:</label>
                <input [(ngModel)]="result.auditorName" (ngModelChange)="_commonData.isClaimDataChange = true"
                    class="form-control" id="request-audited-by" type="text">
            </div>
            <div class="col-md-4 col-sm-12">
                <label class="block-display" for="external-auditor">Name of External Auditor:</label>
                <input [(ngModel)]="result.externalAuditorName" (ngModelChange)="_commonData.isClaimDataChange = true"
                    class="form-control" id="external-auditor" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label class="block-display" for="endorsement">Endorsement:</label>
                <textarea appAutoGrow [isShowLimiter]="true" appLengthValidator limit=2000
                    [(ngModel)]="result.fundingSchemeEndorsement" (ngModelChange)="_commonData.isClaimDataChange = true"
                    class="form-control" id="endorsement" name="" rows="2"></textarea>
            </div>
        </div>
    </div>
</div>
