<div class="card card-widget-box h-100 mt-3" [@fadeDown]>
    <div class="card-header">
        <h4 class="card-title d-flex justify-content-between">
            <span class="align-items-center d-flex">Number Of Message Send
            </span>
        </h4>
    </div>
    <div class="card-content h-100">
        <div class="card-body">
            <div *ngIf="isShowLoader" appCustomPreloader></div>
            <div *ngIf="messageSended.length>0" id="elastic_monitoring_line_chart_message_send"
                (window:resize)="onResize($event)" tabindex="0"></div>
            <div *ngIf="messageSended.length<0" class="no-data-container">
                <span class="no-data-icon-outer">
                    <div class="no-data-icon">
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                    </div>
                </span>
                <h4>There is no information in this section.</h4>
            </div>
        </div>
    </div>
</div>
