<div class="card card-widget-box h-100" [@fadeDown]>
  <div class="card-header">
    <h4 class="card-title d-flex justify-content-between">{{widgetDescription?.widgetName}}
      <span *ngIf="widgetDescription?.description" class="d-inline-block icon-hover">
        <a class="tooltip z-index-0 tooltip-helptext"><i class="fa fa-question-circle fa-med"
            aria-hidden="true"></i>
          <div class="tooltiptext-right card card-inner p-15 text-left">
            <span class="font-cv new-line-property">{{widgetDescription?.description}}</span>
          </div>
        </a>
      </span>
    </h4>
  </div>
  <div class="card-content" [ngClass]="{'h-100 d-flex align-items-center': !claimData.length}">
    <div class="card-body">
      <div *ngIf="isShowLoader" appCustomPreloader></div>
      <div class="py-0 pl-2 fixed-header-table" *ngIf="claimData?.length">
        <table class="table tableSkin table-bordered grid2 mb-0">
          <caption class="sr-only">Submission based claim</caption>
          <thead>
             <tr>
              <th width="23%" scope="col" (click)="isDesc =!isDesc;sortBy(0)">{{claimsHeaderData[0]}}                
                <i [ngClass]="((column == 0) ? (isDesc ? 'fa fa-sort-alpha-asc sortIcon' : 'fa fa-sort-alpha-desc sortIcon') : 'fa fa-sort-alpha-asc blrcolor')"
                  aria-hidden="true"></i>
              </th>
              <th width="9%" scope="col" (click)="isDesc =!isDesc;sortBy(2)">{{claimsHeaderData[2]}}
                <i [ngClass]="((column == 2) ? (isDesc ? 'fa fa-sort-numeric-asc sortIcon' : 'fa fa-sort-numeric-desc sortIcon') : 'fa fa-sort-numeric-asc blrcolor')"
                  aria-hidden="true"></i>
              </th>
              <th width="11%" scope="col" (click)="isDesc =!isDesc;sortBy(3)">{{claimsHeaderData[3]}} 
                <i [ngClass]="((column == 3) ? (isDesc ? 'fa fa-sort-numeric-asc sortIcon' : 'fa fa-sort-numeric-desc sortIcon') : 'fa fa-sort-numeric-asc blrcolor')"
                aria-hidden="true"></i>
              </th>
              <th width="12%" scope="col" (click)="isDesc =!isDesc;sortBy(4)">{{claimsHeaderData[4]}} 
                <i [ngClass]="((column == 4) ? (isDesc ? 'fa fa-sort-numeric-asc sortIcon' : 'fa fa-sort-numeric-desc sortIcon') : 'fa fa-sort-numeric-asc blrcolor')"
                aria-hidden="true"></i>
              </th>
              <th width="11%" scope="col" class="text-left" (click)="isDesc =!isDesc;sortBy(5)">{{claimsHeaderData[5]}} 
                <i [ngClass]="((column == 5) ? (isDesc ? 'fa fa-sort-numeric-asc sortIcon' : 'fa fa-sort-numeric-desc sortIcon') : 'fa fa-sort-numeric-asc blrcolor')"
                  aria-hidden="true"></i>
              </th>
              <th width="12%" scope="col"(click)="isDesc =!isDesc;sortBy(6)">{{claimsHeaderData[6]}} 
                <i [ngClass]="((column == 6) ? (isDesc ? 'fa fa-sort-numeric-asc sortIcon' : 'fa fa-sort-numeric-desc sortIcon') : 'fa fa-sort-numeric-asc blrcolor')"
                  aria-hidden="true"></i>
              </th>
              <th width="10%" scope="col"(click)="isDesc =!isDesc;sortBy(7)">{{claimsHeaderData[7]}} 
                <i [ngClass]="((column == 7) ? (isDesc ? 'fa fa-sort-numeric-asc sortIcon' : 'fa fa-sort-numeric-desc sortIcon') : 'fa fa-sort-numeric-asc blrcolor')"
                  aria-hidden="true"></i>
              </th>
              <th width="12%" scope="col" (click)="isDesc =!isDesc;sortBy(8)">{{claimsHeaderData[8]}} 
                <i [ngClass]="((column == 8) ? (isDesc ? 'fa fa-sort-numeric-asc sortIcon' : 'fa fa-sort-numeric-desc sortIcon') : 'fa fa-sort-numeric-asc blrcolor')"
                  aria-hidden="true"></i>
              </th>
            </tr>
            </thead>
          <tbody>
            <tr *ngFor="let data of claimData | orderByIndex: {property: column, direction: direction};">
              <ng-container *ngFor="let eachData of data; let claimIndex = index">
                  <td [ngClass]="{'text-right': claimIndex > 0, 'text-break': claimIndex == 0, 'text-center': (claimIndex > 0 && !eachData)}" *ngIf="claimIndex != 1">
                      {{claimIndex == 0 ? eachData : eachData ? (eachData | customCurrency: 3) : '-'}}<span *ngIf="claimIndex > 0 && eachData">M</span></td>
              </ng-container>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="no-data-container" *ngIf="claimData?.length === 0">
        <span class="no-data-icon-outer">
          <div class="no-data-icon">
            <i class="fa fa-file-o" aria-hidden="true"></i>
            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          </div>
        </span>
        <h4>There is no information in this section.</h4>
      </div>
    </div>
  </div>
</div>
