<div class="card overflow-hidden" [id]="INDUSTRY_DETAILS.sectionId">
    <div class="px-3 my-1 d-flex align-items-center">
        <div class="col fs-16 my-2">
            <label for="coi-entity-industry-details">
                <span>{{INDUSTRY_DETAILS.sectionName}}</span>
                <app-common-help-text [subSectionId]="INDUSTRY_DETAILS.sectionId" [elementId]="'coi-entity-industry-details'"></app-common-help-text></label>
        </div>
        <div *ngIf="entityIndustryClassifications.length && isEditMode && (isDunsViewMode && industrySystemCategoryTypeList?.length || !isDunsViewMode && industryAllCategoryTypeList?.length)"
            class="col-auto">
            <button id="additional-address-add-button"
                class="btn btn-primary fs-14 d-inline-flex" title="Click here to add industry details"
                aria-label="Click here to add industry details" (click)="addIndustryDetails()">
                <mat-icon aria-hidden="true">add</mat-icon>
                <span>Add Industry Details</span>
            </button>
        </div>
    </div>
    <div *ngIf="!entityIndustryClassifications.length">
        <app-no-information [isBorderNeeded]="false" [buttonName]="'Add Industry Details'" (buttonAction)="addIndustryDetails()"
            [canShowAddButton]="isEditMode && (isDunsViewMode && industrySystemCategoryTypeList?.length || !isDunsViewMode && industryAllCategoryTypeList?.length)">
        </app-no-information>
    </div>
    <div *ngIf="entityIndustryClassifications.length">
        <div class="card mx-3 px-2 py-1 coi-entity-details-card" *ngFor="let subsection of entityIndustryClassificationsGrouping;let isLast = last;let industryIndex = index" [ngClass]="isLast ? 'mb-3' : 'mb-2'">
            <div class="d-flex">
                <div class="col-md-9 col-lg-10 fs-14" [attr.aria-label]="subsection?.[0]">
                    <span class="coi-text-light">{{ subsection?.[1]?.[0]?.industryCategoryCode?.industryCategoryType?.formattedIndustryCategoryType }}</span>
                    <span class="d-block coi-text-light fw-600">
                        <ng-container *ngFor="let classification of subsection?.[1];let isLast = last;">
                            <span>{{ classification?.industryCategoryCode?.formattedIndustryCategoryDescription }}</span>
                            <span *ngIf="classification?.isPrimary" class="badge primary-pill fs-13 fw-500 ms-1 rounded-4 text-primary">Primary</span>
                            <span *ngIf="!isLast" class="mx-1">|</span>
                        </ng-container>
                    </span>
                </div>
                <div *ngIf="isEditMode" class="col-md-3 col-lg-2 d-flex align-items-center justify-content-end mb-auto">
                    <button class="btn btn-primary-icon d-flex align-items-center justify-content-center rounded-circle p-2 m-1" (click)="editIndustry(subsection, industryIndex)"
                        title="Click here to update industry details" aria-label="Click here to update industry details" id="coi-entity-industry-edit-{{ industryIndex }}">
                        <mat-icon aria-hidden="true" class="flex-shrink-0">edit</mat-icon>
                    </button>
                    <button *ngIf="!isDunsViewMode || (isDunsViewMode && subsection?.[1]?.[0]?.source !== IndustryCategoryTypeSource?.DUNS)"
                        class="btn btn-primary-icon d-flex align-items-center justify-content-center rounded-circle p-2 m-1" id="coi-entity-industry-delete-{{ industryIndex }}"
                        title="Click here to delete industry details" aria-label="Click here to delete industry details" (click)="confirmDeleteIndustry(subsection, industryIndex)">
                        <mat-icon aria-hidden="true" class="flex-shrink-0">delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- open add industry confirmation -->
<div class="modal modal-lg fade mySkinDialog" data-bs-backdrop="static" id="addIndustryDetails-modal"
    role="dialog" aria-labelledby="addIndustryDetails-modal-header">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="addIndustryDetails-modal-header">{{isEditIndex != null ? 'Update':'Add'}} Industry Details</h4>
                <app-common-help-text *ngIf="isEditIndex !== null" [subSectionId]="INDUSTRY_DETAILS.sectionId" [elementId]="'coi-entity-industry-update'"></app-common-help-text>
                <app-common-help-text *ngIf="isEditIndex === null" [subSectionId]="INDUSTRY_DETAILS.sectionId" [elementId]="'coi-entity-industry-add'"></app-common-help-text>
				<button type="button" class="btn-close" id="coi-add-industry-details-close-btn" title="Click here to close" data-bs-dismiss="modal"
					aria-label="Click here to close" (click)="clearIndustryDetails()"></button>
			</div>
			<div class="modal-body">
				<div class="row mb-3">
					<div class="col-sm-12 col-lg-6">
                        <label class="fs-14 fw-500 pb-1 coi-label-help" for="coi-industry-category-type">
                            <span class="mandatory me-1">*</span>Industry Classification
                            <app-common-help-text [subSectionId]="INDUSTRY_DETAILS.sectionId" [elementId]="'coi-industry-category-type'"></app-common-help-text>
                        </label>
                        <app-look-up (selectedResult)="onIndustryCategoryTypeSelect($event)" [options]="industryCategoryTypeOptions"
                            [isExternalArray]="true" [externalArray]="(isEditIndex == null && isDunsViewMode) ? industrySystemCategoryTypeList : industryAllCategoryTypeList"
                            [uniqueId]="'coi-industry-category-type'" [isError]="mandatoryList?.has('industryCategoryTypeCode')"
                            [selectedLookUpList]="selectedCategoryTypeList" [isDisabled]="isEditIndex!=null">
                        </app-look-up>
                        <div *ngIf="mandatoryList?.has('industryCategoryTypeCode')" class="invalid-feedback d-block fs-13"
                            atr.aria-label="Error: {{ mandatoryList?.get('industryCategoryTypeCode') }}">
                            <span id="coi-industry-category-type-validation">{{mandatoryList?.get('industryCategoryTypeCode')}}</span>
                        </div>
					</div>
                    <div class="col-sm-12 col-lg-6 mt-sm-2 mt-lg-0">
                        <label class="fs-14 fw-500 pb-1 coi-label-help" for="coi-industry-category">
                            <span class="mandatory me-1">*</span>Industry Category(ies)
                            <app-common-help-text [subSectionId]="INDUSTRY_DETAILS.sectionId" [elementId]="'coi-industry-category'"></app-common-help-text>
                        </label>
                        <app-look-up (selectedResult)="onIndustryCategoryDescriptionSelect($event)" [options]="industryCategoryDescriptionOptions"
                            [isExternalArray]="true" [externalArray]="industryCategoryDescriptionsList"
                            [uniqueId]="'coi-industry-category'" [isError]="mandatoryList?.has('industryCategoryDescription')"
                            [selectedLookUpList]="selectedCategoryDescriptionList"
                            [isDisabled]="!industryCategoryDescriptionsList || !industryCategoryDescriptionsList.length || (isDunsViewMode && selectedIndustry?.[1]?.[0]?.source === IndustryCategoryTypeSource?.DUNS)"> 
                        </app-look-up>
                        <div *ngIf="mandatoryList?.has('industryCategoryDescription')" class="invalid-feedback d-block fs-13"
						    atr.aria-label="Error: {{ mandatoryList?.get('industryCategoryDescription') }}">
                            <span id="coi-industry-category-description-validation">{{mandatoryList?.get('industryCategoryDescription')}}</span>
                        </div>
				    </div>
			    </div>
                <div class="row">
                    <div class="table-responsive coi-table-striped">
                        <table *ngIf="entityIndustryCategories.length" class="table table-bordered fs-14 fw-medium table-striped"
                            id="coi-entity-industry-category">
                            <thead>
                                <tr class="header-border table-light" id="coi-entity-industry-category-thead">
                                    <th class="align-middle">
                                        Selected Industry Category(ies)
                                    </th>
                                    <th style="width: 7%;" class="text-center">Is Primary</th>
                                </tr>
                            </thead>
                            <tbody class="white-bg">
                                <tr *ngFor="let category of entityIndustryCategories; let index2 = index"
                                    class="tr-hover">
                                    <td class="table-data fw-600 coi-text-light">
                                       {{category?.description}}
                                    </td>
                                    <td>
                                        <div class="px-2" title="Click to toggle for primary">
                                            <span class="py-1" aria-label="Disclosures_has_sfi">
                                                <a *ngIf="industryDetails.primaryCatId == category?.industryCategoryId" class="pl-2"
                                                   (click)="clearPrimaryFlag()" tabindex="0"
                                                   (keyup.enter)="clearPrimaryFlag()"
                                                    aria-label="Click here to remove primary" title="Click here to remove primary">
                                                    <label class="switch">
                                                        <input id="coi-add-sfi-sponsor-research" type="checkbox" checked>
                                                        <span class="slider round"><small class="fs-12 mt-1 coi-dark">Yes</small></span>
                                                    </label>
                                                </a>
                                                <a *ngIf="industryDetails.primaryCatId != category?.industryCategoryId" class="pl-2"
                                                   (click)="setPrimaryCatId(category?.industryCategoryId)"
                                                   (keyup.enter)="setPrimaryCatId(category?.industryCategoryId)"
                                                    tabindex="0" aria-label="Click here to set primary" title="Click here to set primary">
                                                    <label class="switch">
                                                        <input id="coi-add-sfi-sponsor-research-unchecked" type="checkbox">
                                                        <span class="slider round"><small class="ms-4 coi-text-light fs-12 mt-1">No</small></span>
                                                    </label>
                                                </a>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
		</div>
        <div class="modal-footer">
            <button class="btn btn-outline-secondary" id="coi-add-industry-details-cancel-btn" type="button"
            title="Click to cancel" (click)="clearIndustryDetails()">Cancel
            </button>
            <button class="btn btn-primary me-0" id="coi-add-industry-details-add-btn" type="button"
                title="Click here to {{isEditIndex != null ? 'update':'add'}} industry details"
                [attr.aria-label]="'Click here to '+ isEditIndex != null ? 'update':'add' + ' industry details'"
                (click)="addIndustry()">{{isEditIndex != null ? 'Update':'Add'}} Industry Details
            </button>
        </div>
	</div>
</div>
</div>

<app-common-modal [modalConfig]="modalConfig" (modalAction)="postConfirmation($event)">
    <ng-container modal-header>
        <span>Confirmation<app-common-help-text [subSectionId]="INDUSTRY_DETAILS.sectionId" [elementId]="'coi-industry-delete'"></app-common-help-text></span>
    </ng-container>
    <ng-container modal-body>
        <p>Are you sure you want to delete <strong>{{selectedIndustry?.[0]}}</strong>?</p>
    </ng-container>
</app-common-modal>
