  .award-tree-outer{
	  height:auto;
	  max-height: 360px;
	  min-height: 70px;
	  overflow-y:auto;
	  padding: 10px;
  }

  .badge-box{
	border: 1px solid;
	display: inline-block;
	width: 70px;
	text-align: center;
	height: 20px;
	line-height: 17px;
	border-radius: 4px;
}

  /*tree line */
.ui-tree {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  .ui-tree li {
	position: relative;
	line-height: 1.5em;
  }
  .ui-tree ul {
	position: relative;
	margin: 0 0 0 1em;
	padding: 0;
	list-style: none;
  }
  .ui-tree ul:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: -1px;
	border-left: 1px dotted rgba(0, 0, 0, 0.3);
  }
  .ui-tree ul li {
	padding-left: 1.5em;
  }
  .ui-tree ul li:before {
	content: "";
	position: absolute;
	top: 1em;
	left: 0;
	width: 1em;
	height: 1px;
	border-top: 1px dotted rgba(0, 0, 0, 0.3);
  }
  .ui-tree ul li:last-child:before {
	background-color: white;
	height: auto;
	top: 1em;
	left: -1px;
	bottom: 0;
  }
  .ui-tree ul ul {
	margin-left: 0.5em;
  }
  /*tree-line-end*/
  .highlight-node{
	background-color: #ccd8ed;
	color:#343333;
	cursor: pointer;
}
#scrollUpBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    left: 80px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:  #555;
    color: white;
    cursor: pointer;
    padding: 19px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  #scrollUpBtn:hover {
    background-color: #555;
  }
 .top-arrow{
    position: relative;
    right: 7px;
    bottom: 12px;
    font-weight: bold;
    font-size: 23px;
  }
  .unit-tree-blocks {
	/* border: 2px #DADAD6 solid; */
	width: 100% !important;
	border-radius: 5px;
	margin-bottom: 5px;
	background: #f3f0f0;
	padding-right: 5px;
}

.p-15 {
	padding: 15px;
}
.mb-15 {
	margin-bottom: 15px !important;
}
.mt-30{margin-top: 30px !important;}

.unit-tree li {
	list-style: none;
	margin-bottom: 5px;
}

.unit-tree {
	margin: 0;
	padding-left: 0;
}
.u-down-arrow {
	font-size: 13px !important;
	cursor: pointer;
	color: #7a7a7a;
	padding-left: 5px;
	padding-right: 20px;
	margin-right: -13px;
}

.u-down-arrow:hover {
	color: #424242;
}

.u-left-arrow {
	font-size: 13px !important;
	cursor: pointer;
	color: #7a7a7a;
	padding-left: 5px;
	padding-right: 20px;
	margin-right: -13px;
}

.u-left-arrow:hover {
	color: #424242;
}
td label{
    font-weight: 700;
}
.u-icons .icon {
	border-radius: 50%;
	/* background: #e9e9e9; */
	color: #7a7a7a;
	text-align: center;
	line-height: 10px;
	font-size: 12px;
	cursor: pointer;
	opacity: 0;
}
.u-action-icon
{
	padding-left: 5px;
    padding-right: 5px;
    border-left: solid 1px #ccc;
}
.u-icons .icon:hover {
	color: #26a69a;
}
.u-action-icon.dropdown-toggle::after
{
	border-top:none!important;
}
.dropdown-icons i
{
  margin-right: 5px;
  font-size: 14px;
}
.dropdown-icons a
{
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
.dropdown-icons a:hover
{
  color: #26a69a;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #fff !important;
}
.align {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	color:#26a69a !important;
	font-weight: 500;
	font-size: 15px;
  }
  @media(max-width : 767px) {
	.unit-tree-blocks .u-icons .icon {
		opacity: 1;
	   }
}
@media (max-width: 575.98px) { 
    .unit-tree-blocks .u-icons .icon {
	 opacity: 1;
	}
	.ui-tree ul li {
		padding-left: .3em;
	  }

	.ui-tree ul li:before {
		display: none;
		content: "";
		position: absolute;
		top: 1em;
		left: 0;
		width: 1em;
		height: 1px;
		border-top: 1px dotted rgba(0, 0, 0, 0.3);
	  }
}
.gridSkin{ background-color: #f1f5f8; }
.listSkin {  background-color: #f1f1f1; }
.inner-scroll {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}
  ::-webkit-scrollbar {
    width: .3em;
    height: 3em;
}

 ::-webkit-scrollbar-button {
    display: none;
}

 ::-webkit-scrollbar-track-piece {
    background: #eee
}

 ::-webkit-scrollbar-thumb {
    background: #ccc
}
