# Default owner for all files in the repository
*   @Polus-Software/java-peer-review  @Polus-Software/ui-peer-review

# Java team owns all Java-related files
Server/**             @Polus-Software/java-peer-review @Polus-Software/java-team
Integration/**        @Polus-Software/java-peer-review @Polus-Software/java-team
fibi-api-gateway/**   @Polus-Software/fibi-core-team
fibi-auth-service/**  @Polus-Software/fibi-core-team
fibi-config-server/** @Polus-Software/fibi-core-team
fibi-core/**          @Polus-Software/fibi-core-team
fibi-mail-reader/**   @Polus-Software/fibi-core-team
fibi-graph-connect/** @Polus-Software/fibi-core-team

# File type-based ownership
*.java     @Polus-Software/java-peer-review @Polus-Software/java-team
*.json     @Polus-Software/java-peer-review @Polus-Software/java-team
*.sql      @Polus-Software/java-peer-review @Polus-Software/java-team @Polus-Software/db-team

# UI-related files ownership
Client/**  @Polus-Software/ui-peer-review @Polus-Software/ui-team
*.css      @Polus-Software/ui-peer-review @Polus-Software/ui-team @Polus-Software/ux-team-review-of-design
*.js       @Polus-Software/ui-peer-review @Polus-Software/ui-team
*.html     @Polus-Software/ui-peer-review @Polus-Software/ui-team @Polus-Software/ux-team-review-of-design

# Path-based ownership
ELK/**     @Polus-Software/java-peer-review @Polus-Software/java-team
DB/**      @Polus-Software/db-team
