<span class="d-inline-flex flex-wrap gap-2 coi-text-light {{customClass}}">
    <!-- Left value -->
    <span *ngIf="!(valueRight && !valueLeft)" class="coi-text-light fw-500"
        [ngClass]="{ 'coi-comparison-bg coi-comparison-bg-red': valueLeft !== valueRight }"
        [title]="config?.pipe === 'dateFormatterWithTimeZone' ? (valueLeft | dateFormatterWithTimeZone) : config?.pipe === 'dateFormatter' ? (valueLeft | dateFormatter) : valueLeft">
        <app-no-data-label [valueToShow]="config?.pipe === 'dateFormatterWithTimeZone' ? (valueLeft | dateFormatterWithTimeZone) : config?.pipe === 'dateFormatter' ? (valueLeft | dateFormatter) : valueLeft"></app-no-data-label>
    </span>

    <!-- Right value -->
    <span *ngIf="valueRight && valueLeft !== valueRight" class="coi-text-light fw-500"
        [ngClass]="{ 'coi-comparison-bg coi-comparison-bg-green': valueLeft !== valueRight }"
        [title]="config?.pipe === 'dateFormatterWithTimeZone' ? (valueRight | dateFormatterWithTimeZone) : config?.pipe === 'dateFormatter' ? (valueRight | dateFormatter) : valueRight">
        <app-no-data-label [valueToShow]="config?.pipe === 'dateFormatterWithTimeZone' ? (valueRight | dateFormatterWithTimeZone) : config?.pipe === 'dateFormatter' ? (valueRight | dateFormatter) : valueRight"></app-no-data-label>
    </span>
</span>
