.dock-box {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -10%);
    margin: 0 auto;
    width: 320px;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, .26);
    z-index: 100;
    border-radius: 10px
}

.card-header {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404
}

.arrow-btn {
    font-size: 15px;
    border-left: solid 1px;
    color: #856404;
    padding: .8rem 1rem;
    height: 100%;
    cursor: pointer !important
}

.arrow-btn:hover {
    background-color: #e0a800;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.validation-list {
    width: 320px;
    height: 450px;
    position: fixed;
    right: 67px;
    bottom: 30px;
    z-index: 1000;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto
}

.border-radius {
    border-radius: 10px
}

.error-highlight-card {
    border: 1px solid red !important;
    box-shadow: 4px 4px 4px #efa6a6;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: 100
}

.reason-border {
    border: 2px dotted;
}
