<div id="Award121" class="card mt-3" [ngClass]="{'item-highlighted': isHighlighted}">
  <div class="card-header px-4">
    <h4 class="card-title">Payment & Invoices
      <button id="paymentExpandBtn" class="updown-arrow" (click)="isPaymentWidgetOpen = !isPaymentWidgetOpen">
        <i aria-hidden="true" [ngClass]="isPaymentWidgetOpen?'fa fa-angle-double-down':'fa fa-angle-double-up'" class="fa-large"></i>
      </button>
    </h4>
  </div>
  <div *ngIf="!isPaymentWidgetOpen" class="card-content">
    <div class="card-body">
      <div class="gridSkin">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-12">
            <label class="d-sm-block">Basis of Payment</label>
            <span>{{result?.award?.awardBasisOfPayment?.description}}</span>
            <span *ngIf="!result?.award?.awardBasisOfPayment?.description" class="noDataExists">No Basis details
              Specified</span>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <label class="d-sm-block">Method of Payment</label>
            <span>{{result?.award?.awardMethodOfPayment?.description}}</span>
            <span *ngIf="!result?.award?.awardMethodOfPayment?.description" class="noDataExists">No Method
              Specified</span>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <label class="d-sm-block">Payment/Invoice Frequency</label>
            <span>{{result?.award?.frequency?.description}}</span>
            <span *ngIf="!result?.award?.frequency?.description" class="noDataExists">No Payment/Invoice Frequency
              Specified</span>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <label class="d-sm-block">Invoice Number of Copies</label>
            <span>{{result?.award?.invoiceNoOfCopies}}</span>
            <span *ngIf="!result?.award?.invoiceNoOfCopies" class="noDataExists">No Invoice copies
              Specified</span>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <label class="d-sm-block">Final Invoice Due (In Days)</label>
            <span>{{result?.award?.finalInvoiceDue}}</span>
            <span *ngIf="!result?.award?.finalInvoiceDue" class="noDataExists">No Final Invoice Due(In Days)
              Specified</span>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
              <label class="d-sm-block">Invoice Instructions</label>
              <span  class="new-line-property" >{{result?.award?.invoiceInstructions}}</span>
              <span *ngIf="!result?.award?.invoiceInstructions" class="noDataExists">No Invoice Instructions
                Specified</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
