.select{
    margin-right: 45px;
    margin-top: 4px;
}
.card .card-title label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 12px;
}

.attachment {
    text-decoration: underline;
    color: #31BCD8;
    margin-top: 2px;
}

.labelColor{
    background-color: #f7f7f7;
    margin-top: 9px;
}

.bolder-font {
    font-weight: 700 !important;
}

.review-title {
    line-height: 35px;
}

.label-font-size{
    font-size: 1.4rem;
    font-weight: 600;
    color: #545050;
}

.text-font-size{
    font-size: 12px;
}

.bgColor {
    background-color: #f1f5f8;
}

.notverified{
    color: #dc3545;
    background-color: #f9e3e5;
    padding: 5px 10px;
    font-size: 13px;
} 

.negotiation-comment {
    background: #f4f5f7;
}

.activity-list-card {
    box-shadow: 0 0 4px 3px rgba(194,194,194,.35);
    border-left: 2px solid #a92034;
}

.time-font {
    font-size: 1.4rem;
}