<!-- Project Details Modal trigger btn -->
<button tabindex="-1" type="button" id="coi-project-view-modal-trigger-btn" class="btn btn-primary btn-sm" hidden="true"
    aria-hidden="true" data-bs-toggle="modal" data-bs-target="#coi-project-view-modal"></button>
<!-- Project Details Modal -->
<div tabindex="-1" id="coi-project-view-modal" aria-labelledby="coi-project-view-modal-header" class="modal fade"
    role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header flex-wrap">
                <!-- project pill -->
                <div class="coi-modal-notch-ribbon" [style.background-color]="selectedProject?.projectDetails?.projectBadgeColour">{{selectedProject?.projectDetails?.projectType}}</div>
                <!-- close -->
                <button id="coi-project-view-modal-close-btn" title="Click here to close" type="button"
                    class="btn-close" data-bs-dismiss="modal" aria-label="Click here to close"
                    (click)="commonService.closeProjectDetailsModal(false)"></button>
                <!-- title -->
                <h4 class="modal-title col-12 coi-ms-n5px position-relative top-10px">
                    <div class="d-flex" id="coi-project-view-modal-header">
                        <mat-icon *ngIf="selectedProject?.projectDetails?.projectIcon" aria-hidden="true"
                            class="coi-text-light flex-shrink-0 fs-24">{{selectedProject?.projectDetails?.projectIcon}}</mat-icon>
                        <span [title]="'#' + selectedProject?.projectDetails?.projectNumber + ' -' + selectedProject?.projectDetails?.title"
                            class="text-slice">#{{selectedProject?.projectDetails?.projectNumber}} - {{selectedProject?.projectDetails?.title}}</span>
                    </div>
                </h4>
            </div>
            <!-- body -->
            <div class="modal-body">
                <div class="row">
                    <ng-container *ngFor="let FieldOrder of projectDetailsOrder[selectedProject?.projectDetails?.projectTypeCode]">
                        <!-- Principal Investigator -->
                        <div *ngIf="FieldOrder === 'PI'" tabindex="-1" class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-3"
                            [attr.aria-label]="'Principal investigator is ' + (selectedProject?.projectDetails?.piName ? selectedProject?.projectDetails?.piName : 'empty')">
                            <label for="coi-relationship-pi-modal" class="coi-text-dark d-block">Principal Investigator</label>
                            <div id="coi-relationship-pi-modal" class="text-slice">
                                <app-no-data-label [valueToShow]="selectedProject?.projectDetails?.piName">
                                    <span class="coi-text-light"
                                        [title]="selectedProject?.projectDetails?.piName">{{selectedProject?.projectDetails?.piName}}</span>
                                </app-no-data-label>
                            </div>
                        </div>
                        <!-- Reporter's Project Role -->
                        <div *ngIf="FieldOrder === 'REPORTER_ROLE'" tabindex="-1" class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-3"
                            [attr.aria-label]="'Reporters project role is ' + (selectedProject?.projectDetails?.reporterRole ? selectedProject?.projectDetails?.reporterRole : 'empty')">
                            <label for="coi-relationship-role-modal" class="coi-text-dark d-block">Reporter's Project Role</label>
                            <div id="coi-relationship-role-modal" class="text-slice">
                                <app-no-data-label [valueToShow]="selectedProject?.projectDetails?.reporterRole">
                                    <span class="coi-text-light"
                                        [title]="selectedProject?.projectDetails?.reporterRole">{{selectedProject?.projectDetails?.reporterRole}}</span>
                                </app-no-data-label>
                            </div>
                        </div>
                        <!-- Account Number -->
                        <div *ngIf="FieldOrder === 'ACCOUNT_NUMBER'" tabindex="-1" class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-3"
                            [attr.aria-label]="'Account number is ' + (selectedProject?.projectDetails?.accountNumber ? selectedProject?.projectDetails?.accountNumber : 'empty')">
                            <label for="coi-relationship-role-modal" class="coi-text-dark d-block">Account Number</label>
                            <div id="coi-relationship-role-modal" class="text-slice">
                                <app-no-data-label [valueToShow]="selectedProject?.projectDetails?.accountNumber">
                                    <span class="coi-text-light"
                                        [title]="selectedProject?.projectDetails?.accountNumber">{{selectedProject?.projectDetails?.accountNumber}}</span>
                                </app-no-data-label>
                            </div>
                        </div>
                        <!-- Period -->
                        <div *ngIf="FieldOrder === 'PERIOD'" tabindex="-1" class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-3"
                            [attr.aria-label]="'Period is ' + ((selectedProject?.projectDetails?.projectStartDate || selectedProject?.projectDetails?.projectEndDate) ?
                        ((selectedProject?.projectDetails?.projectStartDate | dateFormatter) + ' - ' + (selectedProject?.projectDetails?.projectEndDate | dateFormatter))  : 'empty')">
                            <label for="coi-relationship-period-modal" class="coi-text-dark d-block">Period</label>
                            <div id="coi-relationship-period-modal" class="text-slice">
                                <app-no-data-label [valueToShow]="selectedProject?.projectDetails?.projectStartDate || selectedProject?.projectDetails?.projectEndDate">
                                    <span [title]="((selectedProject?.projectDetails?.projectStartDate | dateFormatter) + ' - ' + (selectedProject?.projectDetails?.projectEndDate | dateFormatter))"
                                        class="coi-text-light">{{selectedProject?.projectDetails?.projectStartDate | dateFormatter}} - {{selectedProject?.projectDetails?.projectEndDate | dateFormatter}}</span>
                                </app-no-data-label>
                            </div>
                        </div>
                        <!-- Project Status -->
                        <div *ngIf="FieldOrder === 'PROJECT_STATUS'" tabindex="-1" class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-3"
                            [attr.aria-label]="selectedProject?.projectDetails?.projectType + ' status is ' + (selectedProject?.projectDetails?.projectStatus ? selectedProject?.projectDetails?.projectStatus : 'empty')">
                            <label for="coi-relationship-status-modal" class="coi-text-dark d-block">{{selectedProject?.projectDetails?.projectType}} Status</label>
                            <div id="coi-relationship-status-modal" class="text-slice">
                                <app-no-data-label [valueToShow]="selectedProject?.projectDetails?.projectStatus">
                                    <span class="coi-text-light"
                                        [title]="selectedProject?.projectDetails?.projectStatus">{{selectedProject?.projectDetails?.projectStatus}}</span>
                                </app-no-data-label>
                            </div>
                        </div>
                        <!-- Lead Unit -->
                        <div *ngIf="FieldOrder === 'LEAD_UNIT'" tabindex="-1" class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-3"
                            [attr.aria-label]="'Lead unit is ' + (leadUnit ? leadUnit : 'empty')">
                            <label for="coi-relationship-unit-modal" class="coi-text-dark d-block">Lead Unit</label>
                            <div id="coi-relationship-unit-modal" class="text-slice">
                                <app-no-data-label [valueToShow]="leadUnit">
                                    <span [title]="leadUnit" class="coi-text-light">{{ leadUnit }}</span>
                                </app-no-data-label>
                            </div>
                        </div>
                        <!-- Sponsor -->
                        <div *ngIf="FieldOrder === 'SPONSOR'" tabindex="-1" class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-3"
                            [attr.aria-label]="'Sponsor is ' + (selectedProject?.projectDetails?.sponsorName ? selectedProject?.projectDetails?.sponsorName : 'empty')">
                            <label for="coi-relationship-sponsor-modal" class="coi-text-dark d-block">Sponsor</label>
                            <div id="coi-relationship-sponsor-modal" class="text-slice">
                                <app-no-data-label [valueToShow]="sponsor">
                                    <span [title]="sponsor" class="coi-text-light">{{ sponsor }}</span>
                                </app-no-data-label>
                            </div>
                        </div>
                        <!-- Prime Sponsor -->
                        <div *ngIf="FieldOrder === 'PRIME_SPONSOR'" tabindex="-1" class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4"
                            [attr.aria-label]="'Prime sponsor is ' + (selectedProject?.projectDetails?.primeSponsorName ? selectedProject?.projectDetails?.primeSponsorName : 'empty')">
                            <label for="coi-relationship-prime-sponsor-modal" class="coi-text-dark d-block">Prime Sponsor</label>
                            <div id="coi-relationship-prime-sponsor-modal" class="text-slice">
                                <app-no-data-label [valueToShow]="primeSponsor">
                                    <span class="coi-text-light" [title]="primeSponsor"> {{ primeSponsor }}</span>
                                </app-no-data-label>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- footer -->
            <div class="modal-footer">
                <button title="Click here to close" type="button" aria-label="Click here to close the popup"
                    id="coi-project-view-modal-close-btn" class="btn btn-outline-secondary"
                    (click)="commonService.closeProjectDetailsModal(true)">
                    Close
                </button>
                <button type="button" title="Click here to view project details page" class="btn btn-primary fs-14"
                    aria-label="Click here to view project details page" id="coi-project-view-modal-more-details-btn"
                    (click)="redirectToProjectDetails()">
                    More Details
                </button>
            </div>
        </div>
    </div>
</div>
