small {
    margin-left: 8px;
    margin-top: 5px;
    display: inline-block;
    font-weight: 700;
    color: #fff !important;
}

.deactivate-text {
    color: #fff !important;
}

.date-field-error {
    right: 28px;
    position: absolute;
    top: 8px;
}

.height-35px {
    height: 35px
}

.modal {
    z-index: 1501;
}

.help-text {
    font-size: 0.8125rem;
    padding: 7px;
    color: #606060;
    background-color: #EEF0FC;
    font-style: italic;
}

.text-color {
    color: #6A7980;
}

.label-text {
    color: #2a2a2a;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
}

.r-title {
    display: inline-block;
    text-transform: lowercase;
    color: #48647F;
    font-weight: 500;

    &::first-letter {
        text-transform: uppercase;
    }
}

.relation-header {
    position: absolute;
    top: -11px;
    left: 15px;
    background-color: white;
}

.min-height-unset {
    min-height: unset !important;
}

.sticky-top-50 {
    position: sticky;
    top: 50px;
    z-index: 11;
}

.sticky-top-slider {
    position: sticky;
    top: -16px;
    z-index: 10;
}

.search-again-action {
    position: absolute;
    right: 1.6rem;
    cursor: pointer;
}

.pr-6 {
    padding-right: 6rem !important;
}

.relation-border {
    border: 1px solid #d2d2d2;
}
