<div class="row mb-3 " [ngClass]="isSlider? 'sticky-top-slider' : 'sticky-top-50'" id="create-sfi-header">
    <div class="col-12" [class.bg-white]="isSlider">
		<div class="card shadow-sm">
			<div class="row mx-0">
				<div class="col-12 px-0" [class.my-auto]="isSlider">
					<div class="card-header bg-white px-3 min-height-unset border-bottom">
						<div class="d-flex align-items-center">
							<div class="col d-flex align-items-center text-break" tabindex="-1" [attr.aria-label]="'-- Engagement Name --'">
								<span class="fs-18 coi-text-dark">
                                    <ng-container *ngIf="entityDetails?.entityName">
                                        <span class="text-slice" [title]="entityDetails?.entityName">{{entityDetails?.entityName}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="!entityDetails?.entityName">
                                        -- Engagement Name --
                                    </ng-container>
								</span>
							</div>
                            <button *ngIf="!isSlider" id="coi-add-sfi-back-btn" class="btn btn-outline-grey d-flex col-auto" (click)="navigateBack('BACK_BTN')"
                                title="Click here to navigate to the {{isFromEngMigration ? 'previous step ' : 'engagements list'}}" 
                                attr.aria-label="Click here to navigate to the {{isFromEngMigration ? 'previous step ' : 'engagements list'}}">
                                <mat-icon aria-hidden="true">reply</mat-icon>
                            </button>
						</div>
					</div>
					<div id="coi-sfi-header-card-body" class="card-body px-3">
						<div class="row">
							<!-- Start Date Of Involvement -->
							<div id="coi-add-sfi-startdate-involvement-label" class="col-xl-4 col-lg-4 col-md-6 col-sm-12" tabindex="-1">
								<div class="coi-text-dark"><ng-container i18n="@@START_DATE_INVOLVEMENT">Start Date Of Involvement</ng-container></div>
								<app-no-data-label [classesToApply]="'fs-14'"
									[valueToShow]="additionalDetails?.involvementStartDate">
									<span class="fs-14">{{additionalDetails?.involvementStartDate |
										dateFormatter}}</span>
								</app-no-data-label>
							</div>
							<!-- End Date Of Involvement -->
							<div id="coi-add-sfi-end-date-involvement" class="col-xl-4 col-lg-4 col-md-6 col-sm-12" tabindex="-1">
								<div class="coi-text-dark"><ng-container i18n="@@END_DATE_INVOLVEMENT">End Date Of Involvement</ng-container></div>
								<app-no-data-label [classesToApply]="'fs-14'"
									[valueToShow]="additionalDetails?.involvementEndDate">
									<span class="fs-14">{{additionalDetails?.involvementEndDate | dateFormatter}}</span>
								</app-no-data-label>
							</div>
							<!-- Sponsors Research -->
							<div id="coi-add-sfi-sponsor-research-label" class="col-xl-4 col-lg-4 col-md-6 col-sm-12" tabindex="-1">
								<div class="coi-text-dark" tabindex="-1"><ng-container i18n="@@SPONSOR_RESEARCH">Sponsors Research</ng-container></div>
								<span class="text-color fs-14">{{additionalDetails?.sponsorsResearch ? 'Yes' :
									'No'}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card">
    <div class="d-flex justify-content-between align-items-center card-header border-bottom min-height-unset py-3 fw-500">
        Relationship Details
        <button *ngIf="isFromEngMigration" class="btn btn-outline-secondary d-flex align-items-center fs-14"
            (click)="viewEngagementDetails()" aria-label="Click here to view legacy engagement data"
            title="Click here to view legacy engagement data" id="coi-view-legacy-engagement-details-btn">
            <mat-icon aria-hidden="true" class="me-1">visibility</mat-icon>View Legacy Data
        </button>
    </div>
    <!-- Additional Details -->
    <div class="card-body" id="coi-sfi-additional-details-card-body">
		<div class="row align-items-baseline px-1" tabindex="-1">
			<!-- Engagement Name -->
			<div class="col-12" tabindex="-1" aria-label="engagement Name Search Field" [class.mb-2]="!isResultFromSearch">
				<div class="d-flex position-relative">
					<label class="d-block coi-text-dark" for="coi-add-sfi-entity-name">
						<span class="mandatory me-1">*</span>
						<span>Entity Name</span>
						<app-common-help-text [subSectionId]="531" [elementId]="'coi-add-sfi-entity-name'"></app-common-help-text>
					</label>
				</div>
				<div class="col">
                    <app-elastic [uniqueId]="'coi-add-sfi-entity-name'" class="w-100 mt-4"
                        [options]="entitySearchOptions" [placeHolder]="'Type here to search / add an Entity'"
                        [clearField]="clearField" [isDisabled]="isViewMode" [searchLimiterOptions]="entitySearchLimiterOptions"
                        [isError]="mandatoryList?.has('entityName') || mandatoryList?.has('entityAlreadyAdded')" [searchType]="'Entity'"
                        (selectedResult)="selectedEvent($event)" [addNewValue]="'ALLOW_ALL'" (newValueSelect)="addNewEntity($event)">
                    </app-elastic>
                    <div *ngIf="!isFromEngMigration">
                        <app-common-information [elementId]="'coi-add-sfi-entity-name'" [subSectionId]="531"></app-common-information>
                    </div>
					<div *ngIf="mandatoryList?.has('entityName')" class="invalid-feedback d-block fs-13"
						tabindex="-1" aria-label="engagement Name Validation" aria-describedby="entity-name-validation1">
						<span id="coi-add-sfi-entity-name-validation1">{{mandatoryList?.get('entityName')}}</span>
					</div>
					<div *ngIf="mandatoryList?.has('entityAlreadyAdded')" class="invalid-feedback d-block fs-13 mt-2"
						tabindex="-1" aria-label="engagement Name Validation" aria-describedby="entity-name-validation2">
						<span id="coi-add-sfi-entity-name-validation2">{{mandatoryList?.get('entityAlreadyAdded')}}</span>
					</div>
				</div>
			</div>
            <div *ngIf="mandatoryList?.has('entityAlreadyAdded')" class="col-12 mb-2 mt-1">
                <div class="card info-card-border p-0 rounded-2">
                    <div id="coi-sfi-info-card-body" class="card-body p-3">
                        <div class="row">
                            <!-- Engagement Type -->
                            <div tabindex="-1" class="col-lg-3 col-md-6 mb-2">
                                <span class="coi-text-dark d-block" aria-label="engagement type is, ">Ownership Type</span>
                                <span class="coi-text-light">
                                    <app-no-data-label [valueToShow]="existingEntityDetails?.entityOwnershipType?.description">
                                        <span class="coi-text-light">{{existingEntityDetails?.entityOwnershipType?.description}}</span>
                                    </app-no-data-label>
                                </span>
                            </div>
                            <!-- Country -->
                            <div tabindex="-1" class="col-lg-3 col-md-6 mb-2">
                                <span class="coi-text-dark d-block" aria-label="Country is, ">Country</span>
                                <span class="coi-text-light">
                                    <app-no-data-label [valueToShow]="existingEntityDetails?.country?.countryName">
                                        <span class="coi-text-light">{{ existingEntityDetails?.country?.countryName }}</span>
                                    </app-no-data-label>
                                </span>
                            </div>
                            <!-- Start Date Of Involvement -->
                            <div tabindex="-1" class="col-lg-3 col-md-6 mb-2">
                                <span class="coi-text-dark d-block"><ng-container i18n="@@START_DATE_INVOLVEMENT">Start Date Of Involvement</ng-container></span>
                                <span class="coi-text-light">
                                    <app-no-data-label [valueToShow]="existingEntityDetails?.involvementStartDate">
                                        <span class="coi-text-light">{{ existingEntityDetails?.involvementStartDate | dateFormatter}}</span>
                                    </app-no-data-label>
                                </span>
                            </div>
                            <!-- End Date Of Involvement -->
                            <div tabindex="-1" class="col-lg-3 col-md-6 mb-2">
                                <span class="coi-text-dark d-block"><ng-container i18n="@@END_DATE_INVOLVEMENT">End Date Of Involvement</ng-container></span>
                                <span class="coi-text-light">
                                    <app-no-data-label [valueToShow]="existingEntityDetails?.involvementEndDate">
                                        <span class="coi-text-light">{{ existingEntityDetails?.involvementEndDate | dateFormatter }}</span>
                                    </app-no-data-label>
                                </span>
                            </div>
                            <!-- Relationship -->
                            <div class="col-10">
                                <span aria-label="Relationship" class="coi-text-dark me-3">Relationship</span>
                                <div *ngIf="checkForNotEmpty(existingEntityDetails.personEntityRelationships); else noRelation"
                                    class="coi-relationship-pill-container">
                                    <span *ngFor="let relationship of existingEntityDetails.personEntityRelationships | keyvalue; let isFirst = first"
                                        class="coi-relationship-pill">
                                        <span class="d-flex align-items-center coi-relationship-pill-text">
                                            <mat-icon class="flex-shrink-0 me-1"
                                                aria-hidden="true">{{ relationshipIconMap[relationship.value?.[0]?.validPersonEntityRelType?.coiDisclosureType?.disclosureTypeCode] }}</mat-icon>
                                            <span>{{ relationship?.key }}</span>
                                            <ng-container *ngIf="!commonService?.isCompensatedFlow && relationship?.value?.length">
                                                <span class="me-1 coi-text-light">:</span>
                                                <ng-container *ngFor="let relation of relationship.value; let isLastRelation = last">
                                                    <span class="fw-normal">{{ relation?.validPersonEntityRelType?.personEntityRelType?.description }}</span>
                                                    <span *ngIf="!isLastRelation" class="px-1">/</span>
                                                </ng-container>
                                            </ng-container>
                                        </span>
                                    </span>
                                </div>
                                <ng-template #noRelation>
                                    <span>--</span>
                                </ng-template>
                            </div>
                            <!-- View btn -->
                            <div class="d-flex align-items-end justify-content-end col-2">
                                <button class="d-flex align-items-center btn btn-outline-primary fs-14" id="coi-add-sfi-view-btn" type="button"
                                    aria-label="Click here to view engagement" title="Click here to view engagement" (click)="viewSfiDetails()">
                                    <mat-icon class="me-1" aria-hidden="true">visibility</mat-icon>
                                    View
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

				<!-- new entity details card -->
				<ng-container *ngIf="isResultFromSearch || isShowEntityDetailsCard || isFromEngMigration">
					<div class="mb-2">
					  <app-shared-entity-info-card [triggeredFrom]="'ENGAGEMENT_FORM'"
						[entityDetails]="isResultFromSearch || isFromEngMigration ? addEntityConfirmation : entityDetailsForCard"
						[viewMore]="true" [customClass]="'coi-card-highlight'" [isEditMode]="isResultFromSearch || isFromEngMigration ? false : true">
					  </app-shared-entity-info-card>
					</div>
				</ng-container>

				<div *ngIf="!mandatoryList?.has('entityAlreadyAdded')"
				  id="coi-sfi-expanded-additional-details-card-body" class="card-body pb-1">
					<div class="row row-gap-3">
						<!-- Start date of involvement -->
						<div class="col-lg-6 col-12" aria-label="Start Date of Involvement Date Field" i18n-aria-label="@@START_DATE_INVOLVEMENT_DATE_ARIA_LABEL">
							<div class="d-flex">
								<label class="d-block coi-text-dark" for="coi-add-sfi-start-date">
									<span *ngIf="commonService.isStartDateOfInvolvementMandatory" class="mandatory me-1">*</span>
									<span><ng-container i18n="@@START_DATE_INVOLVEMENT_EDIT_MODE_LABEL">Start Date Of Involvement</ng-container></span>
									<app-common-help-text [subSectionId]="532" [elementId]="'coi-add-sfi-start-date'"></app-common-help-text>
								</label>
							</div>
							<div>
								<span class="dateField w-100">
									<input #startDateInput matInput [matDatepicker]="startDate" id="coi-add-sfi-start-date"
										placeholder="{{datePlaceHolder}}" style="width: 100% !important"
										(click)="startDate.open()" autocomplete="off"
										class="d-inline-block form-control"
										[(ngModel)]="involvementDate.involvementStartDate"
										(ngModelChange)="onDateSelect();checkIsMandatoryFieldsFilled(); validateDateFormat('startDate')"
                                        (blur)="validateDateFormat('startDate')" (dateChange)="validateDateFormat('startDate')"
										(keypress)="commonService._keyPress($event, 'date')"
										[ngClass]="(mandatoryList?.has('date')) ? 'is-invalid d-block' : ''" />
									<i title="Click here to select the Start Date of Involvement" i18n-title="@@START_DATE_INVOLVEMENT_TITLE" (click)="startDate.open()" (keyup.enter)="startDate.open()"
										[class.date-field-error]="mandatoryList?.has('date')"
										class="fa fa-calendar fa-large insidePicker hand-cursor"
										title="Click here to select the Start Date of Involvement" i18n-title="@@START_DATE_INVOLVEMENT_TITLE"></i>
									<mat-datepicker #startDate [pickerType]="'calendar'">
									</mat-datepicker>
								</span>
								<app-common-information [elementId]="'coi-add-sfi-start-date'" [subSectionId]="532"></app-common-information>
								<div *ngIf="mandatoryList?.has('date')" class="invalid-feedback d-block fs-13"
								 aria-label="Start Date of Involvement Validation" i18n-aria-label="@@START_DATE_INVOLVEMENT_VALIDATION" aria-describedby="start-date-validation">
									<span id="coi-add-sfi-start-date-validation">{{mandatoryList?.get('date')}}</span>
								</div>
                                <span *ngIf="dateValidationMap.get('startDate')" class="d-block fs-13 invalid-feedback">{{
                                    dateValidationMap.get('startDate') }}</span>
							</div>
						</div>
						<!-- End Date of Involvement -->
						<div class="col-lg-6 col-12"  aria-label="End Date of Involvement Date Field" i18n-aria-label="@@END_DATE_INVOLVEMENT_DATE_ARIA_LABEL">
							<label class="d-block coi-text-dark"
								for="coi-add-sfi-end-date"><ng-container i18n="@@END_DATE_INVOLVEMENT_EDIT_MODE_LABEL">End Date of Involvement (If ongoing, leave blank)</ng-container>
								<app-common-help-text [subSectionId]="532" [elementId]="'coi-add-sfi-end-date'"></app-common-help-text>
							</label>
							<div>
								<span class="dateField">
									<input #endDateInput matInput [matDatepicker]="endDate" id="coi-add-sfi-end-date"
										placeholder="{{datePlaceHolder}}" style="width: 100% !important"
										(click)="endDate.open()" autocomplete="off" class="d-inline-block form-control"
										[(ngModel)]="involvementDate.involvementEndDate"
										(ngModelChange)="onDateSelect(); validateDateFormat('endDate')"
                                        (blur)="validateDateFormat('endDate')" (dateChange)="validateDateFormat('endDate')"
										(keypress)="commonService._keyPress($event, 'date')"
										[ngClass]="(mandatoryList?.has('endDate')) ? 'is-invalid d-block' : ''"/>
									<i title="Click here to select the End Date of Involvement" i18n-title="@@END_DATE_INVOLVEMENT_TITLE"
                                        (click)="endDate.open()" (keyup.enter)="endDate.open()"
									[class.date-field-error]="mandatoryList?.has('endDate')"
										class="fa fa-calendar fa-large insidePicker hand-cursor"
										title="Click here to select the End Date of Involvement" i18n-title="@@END_DATE_INVOLVEMENT_TITLE"></i>
									<mat-datepicker #endDate [pickerType]="'calendar'">
									</mat-datepicker>
								</span>
								<app-common-information [elementId]="'coi-add-sfi-end-date'" [subSectionId]="532"></app-common-information>
								<div *ngIf="(mandatoryList.get('endDate'))" class="fs-13 invalid-feedback d-block"
									 aria-label="End Date of Involvement Validation" i18n-aria-label="@@END_DATE_INVOLVEMENT_VALIDATION" aria-describedby="end-date-validation">
									<span id="coi-add-sfi-end-date-validation">{{mandatoryList.get('endDate')}}</span>
								</div>
                                <span *ngIf="dateValidationMap.get('endDate')" class="d-block fs-13 invalid-feedback">{{
                                    dateValidationMap.get('endDate') }}</span>
							</div>
						</div>
						<!-- Sponsors Research -->
						<div id="coi-add-sfi-sponsor-research-container" class="col-12" tabindex="-1" aria-label="Sponsors Research Toggle Button" i18n-aria-label="@@SPONSOR_RESEARCH_TOGGLE_BTN_AL">
							<div class="d-flex">
								<label for="coi-add-sfi-sponsor-research" class="d-block coi-text-dark">
                                    <span class="mandatory me-1">*</span>
                                    <ng-container i18n="@@SPONSOR_RESEARCH">Sponsors Research</ng-container>
									<app-common-help-text [subSectionId]="532" [elementId]="'coi-add-sfi-sponsor-research'"></app-common-help-text>
								</label>
							</div>
                            <div class="d-flex flex-column gap-2 pt-1 ps-4">
                                <!-- Yes -->
                                <div class="d-flex align-items-center gap-2 col-auto p-0">
                                    <input class="m-0" type="radio" [value]="true" [checked]="additionalDetails.sponsorsResearch== true"
                                        id="coi-add-sfi-sponsor-research-0" name="coi-add-sfi-sponsor-research"
                                        title="Click here to select Yes"
                                        aria-label="Click here to select Yes"
                                        (change)="onRadioBtnChange(true, 'SPONSOR_RESEARCH')" />
                                    <label class="coi-text-light cursor-pointer" for="coi-add-sfi-sponsor-research-0">
                                        Yes
                                    </label>
                                </div>
                                <!-- No -->
                                <div class="d-flex align-items-center gap-2 col-auto p-0">
                                    <input class="m-0" type="radio" [value]="false" [checked]="additionalDetails.sponsorsResearch== false"
                                        id="coi-add-sfi-sponsor-research-1" name="coi-add-sfi-sponsor-research"
                                        title="Click here to select No"
                                        aria-label="Click here to select No"
                                        (change)="onRadioBtnChange(false, 'SPONSOR_RESEARCH')" />
                                    <label class="coi-text-light cursor-pointer" for="coi-add-sfi-sponsor-research-1">
                                        No
                                    </label>
                                </div>
                            </div>
                            <app-common-information [elementId]="'coi-add-sfi-sponsor-research'" [subSectionId]="532"></app-common-information>
                            <span *ngIf="mandatoryList.has('sponsorsResearch')"
                                class="d-block fs-13 invalid-feedback">{{ mandatoryList.get('sponsorsResearch') }}</span>
						</div>
                        <div id="coi-add-sfi-compensated-container" class="col-12">
                            <div class="d-flex">
                                <span class="d-flex coi-text-dark">
                                    <span class="mandatory me-1">*</span>
                                    <ng-container i18n="@@COMPENSATED_FOR_ACTIVITY">Are you compensated for this activity?</ng-container>
                                    <app-common-help-text [subSectionId]="532" [elementId]="'coi-add-sfi-compensated'"></app-common-help-text>
                                </span>
                            </div>
                            <div class="d-flex flex-column gap-2 pt-1 ps-4">
                                <!-- Yes -->
                                <div class="d-flex align-items-center gap-2 col-auto p-0">
                                    <input class="m-0" type="radio" [value]="true" [checked]="additionalDetails.isCompensated === true"
                                        id="coi-add-sfi-compensated-0" name="coi-add-sfi-compensated"
                                        title="Click here to select Yes"
                                        aria-label="Click here to select Yes"
                                        [disabled]="isDisableFinancialToggle"
                                        (change)="onRadioBtnChange(true, 'COMPENSATED')" />
                                    <label class="coi-text-light cursor-pointer" for="coi-add-sfi-compensated-0">
                                        Yes
                                    </label>
                                </div>
                                <!-- No -->
                                <div class="d-flex align-items-center gap-2 col-auto p-0">
                                    <input class="m-0" type="radio" [value]="false" [checked]="additionalDetails.isCompensated === false"
                                        id="coi-add-sfi-compensated-1" name="coi-add-sfi-compensated"
                                        title="Click here to select No"
                                        aria-label="Click here to select No"
                                        [disabled]="isDisableFinancialToggle"
                                        (change)="onRadioBtnChange(false, 'COMPENSATED')" />
                                    <label class="coi-text-light cursor-pointer" for="coi-add-sfi-compensated-1">
                                        No
                                    </label>
                                </div>
                            </div>
                            <app-common-information [elementId]="'coi-add-sfi-compensated'" [subSectionId]="532"></app-common-information>
                            <span *ngIf="mandatoryList.has('compensated')"
                                class="d-block fs-13 invalid-feedback">{{ mandatoryList.get('compensated') }}</span>
                        </div>
                        <div *ngIf="commonService.engagementFlowType === ENGAGEMENT_FLOW_TYPE.FLOW_3" class="col-12" id="coi-add-sfi-commitment-container">
                            <div class="d-flex">
                                <span id="coi-add-sfi-commitment-label" class="d-flex coi-text-dark">
                                    <span class="mandatory me-1">*</span>
                                    <ng-container i18n="@@COMMITMENT_FOR_ACTIVITY">Do you spend time on this engagement outside your Institutional Responsibilities?</ng-container>
                                    <app-common-help-text [subSectionId]="532" [elementId]="'coi-add-sfi-commitment'"></app-common-help-text>
                                </span>
                            </div>
                            <div class="d-flex flex-column gap-2 pt-1 ps-4">
                                <!-- Yes -->
                                <div class="d-flex align-items-center gap-2 col-auto p-0">
                                    <input class="m-0" type="radio" [value]="true" [checked]="additionalDetails.isCommitment === true"
                                        id="coi-add-sfi-commitment-0" name="coi-add-sfi-commitment"
                                        title="Click here to select Yes"
                                        aria-label="Click here to select Yes"
                                        (change)="onRadioBtnChange(true, 'COMMITMENT')" />
                                    <label class="coi-text-light cursor-pointer" for="coi-add-sfi-commitment-0">
                                        Yes
                                    </label>
                                </div>
                                <!-- No -->
                                <div class="d-flex align-items-center gap-2 col-auto p-0">
                                    <input class="m-0" type="radio" [value]="false" [checked]="additionalDetails.isCommitment === false"
                                        id="coi-add-sfi-commitment-1" name="coi-add-sfi-commitment"
                                        title="Click here to select No"
                                        aria-label="Click here to select No"
                                        (change)="onRadioBtnChange(false, 'COMMITMENT')" />
                                    <label class="coi-text-light cursor-pointer" for="coi-add-sfi-commitment-1">
                                        No
                                    </label>
                                </div>
                            </div>
                            <app-common-information [elementId]="'coi-add-sfi-commitment'" [subSectionId]="532"></app-common-information>
                            <span *ngIf="mandatoryList.has('commitment')"
                                class="d-block fs-13 invalid-feedback">{{ mandatoryList.get('commitment') }}</span>
                        </div>
                    </div>
					<!-- Realtionship Details [Disclose financial details for the Engagement] -->
					<div class="mb-3 mx-0 row mt-4 pt-1" *ngIf="canShowRelationTypes()">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12 card custom-padding position-relative px-0" id="relation-radio-btn"
							tabindex="-1" aria-label="Relationship Details Card" [class.invalid-border]="mandatoryList.has('relationRadio')">
							<div class="color-black mb-2">
								<label for="Disclose financial details for the engagement" class="form-check-label colour-black relation-header px-2 fs-14 label-text coi-label-help">
									<span class="mandatory me-1">*</span>
									<span>Relationship Types [Disclose financial details for the Engagement]</span>
									<app-common-help-text [subSectionId]="532" [elementId]="'sfi-relation'"></app-common-help-text>
								</label>
							</div>
							<div class="gap-2 mx-0 my-4 ps-3 row" *ngIf="commonService.isUnifiedQuestionnaireEnabled">
								<div *ngFor="let subsection of relationLookup;" class="col-auto relation-border py-1 rounded-3">
                                    <input type="checkbox" name="relation" class="form-check-input text-secondary border border-secondary cursor-pointer me-2"
                                        [id]="'sfi-relation'+subsection.disclosureTypeCode"
                                        [value]="subsection?.disclosureTypeCode"
                                        [(ngModel)]="isChecked[subsection.disclosureTypeCode]"
                                        (ngModelChange)="setChangesFlag(true)"
                                        title="Click here to select {{subsection?.description?.toLowerCase()}} relation">
                                    <label [for]="'sfi-relation'" class="r-title fs-14 cursor-pointer">
                                        {{subsection.description}}
                                    </label>
                                </div>
                            </div>
                            <div class="row mb-3 mt-2 mx-0 px-2" *ngIf="!commonService.isUnifiedQuestionnaireEnabled">
								<div *ngFor="let subsection of relationLookup | keyvalue;" class="col-lg-3 col-md-6 col-xl-3 col-xxl-3">
									<div tabindex="-1" [attr.aria-label]="subsection?.key">
										<label for="sfi-relation" class="fs-14 fw-500 label-text pb-1 pt-2">{{subsection.key}}</label>
									</div>
									<div class="relation" id="sfi-relation">
										<div *ngFor="let relation of subsection.value;let isFirst = first; let isLast = last;"
											class="form-check d-block mb-2" [attr.aria-label]="relation?.personEntityRelType?.description">
											<input type="checkbox" name="relation"
												class="form-check-input text-secondary border border-secondary cursor-pointer"
												[id]="'sfi-relation'+relation.validPersonEntityRelTypeCode"
												[value]="relation?.validPersonEntityRelTypeCode"
												[(ngModel)]="isChecked[relation.validPersonEntityRelTypeCode]"
                                                (ngModelChange)="setChangesFlag(true);checkIsMandatoryFieldsFilled();"
												title="Click here to select {{relation?.description?.toLowerCase()}} relation">
											<label [for]="'sfi-relation'+relation.validPersonEntityRelTypeCode" class="r-title fs-14 cursor-pointer">
												{{relation?.personEntityRelType?.description}}
											</label>
										</div>
									</div>
								</div>
							</div>
							<app-common-information [elementId]="'sfi-relation'" [subSectionId]="532"></app-common-information></div>
						<div *ngIf="mandatoryList.has('relationRadio')" class="invalid-feedback d-block fs-13 col-12 px-0"
							tabindex="-1" aria-label="Relationship Details Validation" aria-describedby="relation-details-validation">
							<span id="coi-add-sfi-relation-details-validation">{{mandatoryList.get('relationRadio')}}</span>
						</div>
					</div>
				</div>
                <div *ngIf="!mandatoryList?.has('entityAlreadyAdded')" class="d-flex justify-content-center gap-2">
                    <button id="coi-add-sfi-cancel-btn" aria-label="Click here to cancel"
                        class="btn btn-outline-secondary d-flex align-items-center flex-wrap fs-14 gap-2 mt-0" title="Click here to cancel"
                        (click)="clearAndGoBack()">
                        <mat-icon role="img" aria-hidden="true">close</mat-icon>
                        Cancel
                    </button>
                    <button id="coi-add-sfi-proceed-btn" aria-label="Click here to proceed"
                        class="btn btn-lg btn-primary d-flex align-items-center flex-wrap fs-14 gap-2 mt-0" title="Click here to proceed"
                        (click)="submitEntity();">
                        <mat-icon role="img" aria-hidden="true">save</mat-icon>
                        Proceed
                    </button>
                </div>
			</div>
	</div>
</div>

  <!-- Engagement Details Modal -->
  <button tabindex="-1" class="d-none" data-bs-toggle="modal" data-bs-target="#entity-details" id="coi-add-sfi-persondetailsTrigger" aria-hidden="true"></button>
  <div class="modal fade mySkinDialog modal-lg" id="entity-details" tabindex="-1" aria-labelledby="exampleModalLabel"
    data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header headerStyle" tabindex="-1" [attr.aria-label]="'engagement Name' + (addEntityConfirmation?.entityName)">
          <h5 class="modal-title userDetail " id="entityDetails">Entity Details</h5>
          <button type="button" class="btn-close" id="coi-add-sfi-entity-modal-dismiss-btn" data-bs-dismiss="modal" aria-label="Click here to close"
		   title="Click here to close" (click)="clearEntityDetails()" (keyup.enter)="clearEntityDetails()" (keyup.space)="clearEntityDetails()"></button>
        </div>
        <div class="modal-body">
            <app-shared-entity-info-card [entityDetails]="addEntityConfirmation" [isEditMode]="false" [triggeredFrom]="'ENGAGEMENT_FORM'"></app-shared-entity-info-card>
        </div>
        <div class="modal-footer ct-footer-padding">
          <button id="coi-add-sfi-entity-modal-cancel-btn" (click)="clearEntityDetails()" class="btn btn-outline-secondary btn-sm"
            data-bs-dismiss="modal" type="button" aria-label="Click here to cancel" title="Click here to cancel">Cancel
          </button>
          <button id="coi-add-sfi-entity-modal-confirm-btn" (click)="confirmEntityDetails()" data-bs-dismiss="modal" aria-label="Click here to Confirm the Entity Details" title="Click here to Confirm the Entity Details"
		   class="btn btn-primary btn-sm fs-14 height-35px" type="button">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Concurrency Modal -->

  <div class="modal modal-coi fade mySkinDialog" id="coi-add-sfi-concurrency-modal" role="dialog"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-header">
                  Invalid Action
                </h5>
                <button type="button" id="coi-sfi-concurrency-modal-dismiss-btn" class="btn-close fs-12"
                    data-bs-dismiss="modal" aria-label="click to Close popup">
                </button>
            </div>
            <div class="modal-body m-0 p-0">
              <div class="row align-items-center">
                <div class="col-auto">
                    <i class="fa fa-2x fa-exclamation-triangle text-warning"
                        aria-hidden="true"></i>
                </div>
                <div class="col pe-0" aria-label="New engagement creation has been initiated. Please review and verify the financial interests.">
                    <p class="mb-0">
                      New Engagement creation has been initiated. Please review and verify the financial interests.
                    </p>
                </div>
            </div>
           </div>
            <div class="modal-footer">
              <button id="coi-sfi-concurrency-modal-visibility-btn" type="button" title="Click here to view engagement details" (click)="editSfiDetails(concurrencyPersonEntityId)"
			  (keyup.enter)="editSfiDetails(concurrencyPersonEntityId)"  (keyup.space)="editSfiDetails(concurrencyPersonEntityId)"
                class="align-items-center btn btn-outline-primary d-flex fs-14" data-bs-dismiss="modal" aria-label="Click here to view engagement details">
                <mat-icon class="me-1">visibility</mat-icon>
                View
              </button>
            </div>
        </div>
    </div>
</div>
<!-- Migrated Engagement Details Slider -->
 <app-view-eng-relationship-slider *ngIf="isFromEngMigration"></app-view-eng-relationship-slider>

<!-- <div class="modal modal-coi fade mySkinDialog" [id]="COMP_SWITCH_OFF_MODAL_ID" role="dialog"
aria-hidden="true" data-bs-backdrop="static">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-header">
            Confirmation
            </h5>
            <button type="button" class="fs-12 btn-close d-none" data-bs-dismiss="modal" tabindex="-1" aria-hidden="true"></button>
            <button type="button" class="fs-12 btn-close" data-bs-dismiss="modal" title="Click here to close"
                    aria-label="Click here to close" (click)="compModalPostconfrimation('NO')">
            </button>
        </div>
        <div class="modal-body m-0 p-0">
            <p class="mb-0">
                Are you sure you want to mark this engagement as {{compMsg}}?
            </p>
            <div class="d-flex justify-content-between alert alert-primary mt-3 mb-0 py-2 gap-2" *ngIf="compMsg == 'compensated' && isProjectDisclosureAvailable">
                <mat-icon aria-hidden="true" class="flex-shrink-0">info</mat-icon>
                <p class="fs-14 m-0">
                    Note: You currently have pending award disclosures. Once the engagement is marked as compensated, you will be
                    required to either void all pending award disclosures or deactivate the engagement until all pending disclosures
                    are submitted.
                </p>
            </div>
        </div>
    </div>
</div>
</div> -->
