.selected-section {
    background-color: #f6f6f6;
    color: #027dec;
}

.left-padding {
    padding: 0px 25px;
}

.coi-entity-right-panel-items {
    &:hover,
    &:focus {
        background-color: #f6f6f6;
        color: #027dec;
    }
}

.min-height-right-panel {
    height: calc(100vh - 30px - 15px);
    overflow-y: auto;
    overflow-x: hidden;
}

.coi-entity-right-nav-sticky {
    position: sticky;
    top: 50px;
    z-index: 10;
}

.coi-ms-25px {
    margin-left: 25px;
}

@media (max-width: 1199px) {
    .card {
        border-top-left-radius: 0;
    }

    .min-height-right-panel {
        height: calc(100vh - 30px - 20px);
    }

}
