.header-navigation-links {
    list-style-type: none;
    height: 2px;
    position: relative;
}

.header-navigation-links li {
    color: #7c7c7c;
    padding: 16px 16px;
    font-weight: normal;
    border-bottom: 0px solid #f5f5f5;
    position: relative;
}

.header-navigation-links li.active,
.header-navigation-links li:focus {
    color: #007DEC;
    font-weight: bold;
    border-bottom: 3px solid #007DEC;
    padding: 16px 16px;
}

.active-color {
    color: #007DEC;
    position: absolute;
    bottom: -24px;
    right: calc(50% - 12px);
}

.deactivate-text {
    margin-left: 27px !important;
    color: #fff;
}

.navigation-icons {
    .active {
        border-bottom: 2px solid #007DEC;
        color: #007DEC;
    }
}

.switch .slider {
    width: 100% !important;
}

.switch {
    width: 52px !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 63px;
    height: 32px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 1px;
        left: 0;
        right: 0;
        bottom: 6px;
        background-color: #949494 !important;


        -webkit-transition: .4s;
        transition: .4s;
        width: 80%;

        &:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 5px;
            bottom: 4px;
            background-color: #fff;
            -webkit-transition: .4s;
            transition: .4s;
        }

        &.round {
            border-radius: 34px;
        }

        &.round:before {
            border-radius: 50%;
            box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
        }
    }

    .deactivate-text {
        margin-left: 27px !important;
        color: #fff;
    }

    small {
        margin-left: 8px;
        margin-top: 5px;
        display: inline-block;
        font-weight: 700;
        color: #fff !important;

    }
}

input:checked+.slider {
    background-color: #3ba737 !important;
}

input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.position {
    position: relative;
    left: 95px;
}

.border-nav {
    width: 26rem;
    border-radius: 1.5rem 1.5rem 0px 0px;
    position: relative;
    top: 5px;
}

small {
    color: #fff;
}

.add-icon {
    position: relative;
    top: 1px;
    font-size: 1.8rem;
    right: 2px;
}

.coi-admin-dash {
    position: relative;
    left: -0.7rem;
    top: 2rem;
}

.coi-table {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.invalid {
    color: #ff0000;
}

.medium-risk {
    color: #ff8c00;
}

.low-risk {
    color: rgb(26, 172, 62);
}

.status-active-pill {
    background-color: #4cb57d;
    color: #fff;
    padding: 3px 9px;
    font-weight: 500;
    border-radius: 15px;

}

.status-inactive-pill {
    background-color: #5f6462;
    color: #fff;
    padding: 3px 9px;
    font-weight: 500;
    border-radius: 15px;
}

.entity-status-pill {
    background-color: #ffc107;
    color: #080808;
    padding: 3px 9px;
    font-weight: 500;
    border-radius: 15px;
}

.entity-status-active {
    color: #fff;
    width: 70px;
    height: 27px;
    background: #54bf5b;
    position: relative;
    left: -18px;
    top: 0px;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0 50px 50px 0;
    padding: 4px 0px;

    &:before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-bottom: 6px solid #030303;
        border-left: 6px solid transparent;
        top: -6px;
        left: 0;
    }
}

th {
    height: 45px
}

td {
    padding-left: 5px !important;
}

.tb-bg-color {
    background-color: #fff;
}

.w-max {
    width: max-content;
}

.entity-status-inactive {
    color: #fff;
    width: 70px;
    height: 27px;
    background: #949494;
    position: relative;
    left: -12px;
    top: 0px;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 0 50px 50px 0;
    padding: 4px 0px;

    &:before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-bottom: 6px solid #151515;
        border-left: 6px solid transparent;
        top: -6px;
        left: 0;
    }
}

.pill {
    border: 1px solid #ffc107;
    border-radius: 25px;
    padding: 2px 10px 0px 4px;
    font-weight: 500;
    width: max-content;
    height: auto;
}

.cross-wrapper {
    display: inline-grid;
    place-items: center;
    background-color: #ffc107;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 1.3rem;
}

.cross-wrapper>i {
    color: #fff;
}

.text {
    margin-left: 5px;
    color: #c39200;
    font-size: 1.3rem;
}

.advanced-search-row {
    display: flex;
    justify-content: space-between;
}

.arrow {
    font-size: 1.125rem;
    height: 18px;
    width: 16px;
    ;
    margin-left: 5px;
}

.selected-arrow {
    color: #52bf5a;
}

.filter-active {
    border: 2px solid #54BF5B !important;
    background: #F5FEF5 !important;
}

.offscreen {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    /* added line */
    width: 1px;
}

.nav-line-tabs .nav-item .nav-link {
    cursor: pointer;
    border: 0;
    border-bottom: 1px solid transparent;
    transition: color 0.2s ease;
    white-space: nowrap;
    font-weight: 500;
    color: #7c7c7d;
}

.nav-line-tabs .nav-item {
    border-right: 2px solid #ededed;

    &.active {
        border-bottom: 3px solid #007DEC;
    }
}

.nav-line-tabs .nav-item.active .nav-link {
    color: #007DEC !important;
    font-weight: bold;
    white-space: nowrap;
}

.nav-line-tabs.nav-line-tabs-2x .nav-item.active .nav-link {
    border-bottom-width: 2px;
}


.menu-responsive {
    position: relative;
    background-color: #2b3244;
    opacity: .95;
    box-shadow: 0px 2px 5px -1px rgba(15, 15, 15, .5803921569);
    padding: 16px 10px 16px 10px;
    border-radius: 4px;
    max-height: 320px;
    overflow: auto;
}

.menu-responsive li {
    color: #fff !important;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
}

.sort-div {
    background-color: #eeeeee;
    padding: 9px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 10px;
}

@media (max-width: 1201px) {
    .sort-div button {
        padding-top: 3px;
    }
}

.coi-custom-top{
   top: 50px;
}

