.history-username {
    color: black;
}

.history-attachment {
    color: black;
    font-weight: 500;
}

ul {
    list-style-type: none;
}

ul>li:nth-child(even) {
    background: #f4f5f7;
}

.history-date {
    background-color: #cde9ef;
}
