select option {
    background-color: #fff;
}

.border-left-line {
    // border-left: solid 1px #80808054;
    width: 35%;
}

.custom-font-color {
    color: #98989e;
}

.collapse-description {
    display: flex;
    align-items: center;
}

.collapse-description::after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 1px;
    background-color: #cacdd1;
}

.comment-text-box {
    height: 100px;
}

.filter-active {
    border: 2px solid #54BF5B !important;
    background: #F5FEF5 !important;
}

.comment-card {
    background: #d8e6f6;
    border: 1px solid #dbdbdb;
    border-radius: 0px 20px 0px 20px;
    width: max-content;
}

.badge {
    color: #5a5a5a !important;
}

.material-symbols-outlined {
    color: #98989e;
}

.comment-card-position-child {
    padding-left: 47px;
}

.comment-card-position-parent {
    position: relative;
    right: 2px;
}

.view-position {
    position: relative;
    left: 68px;
}

.attachment-icon {
    transform: rotate(45deg);
}

.hand-hover:hover {
    color: #007DEC;
}

.hyper-link {
    text-decoration: underline;
    color: #007DEC;

}

.reply-comment-position {
    position: relative;
    left: 75px;
}

.parent-badge-position {
    position: relative;
    left: 20px;
}

.col-custom {
    flex: 0 0 auto;
    width: 4.7%;
}

.pl-0 {
    padding-left: 0 !important;
}

.vl {
    border-left: 1px solid #c3c3c3;
    height: 100%;
    position: absolute;
    left: 18px;
    top: 0;
}

.cmnt-background {
    border: 2px solid #dedede;
    border-radius: 4px;
}

.person-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #027dec;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #E1E6EB;
}

.reply-comments {
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    background: #F1F1F1;
}

.section-margin {
    margin-bottom: 20px;
}

.sub-label {
    border-radius: 50px;
    color: #027dec;
    background-color: #E1E6EB;
}

.comments-person-info{
    background-color: #d5dce3 !important;
    width: 30px;
    height: 30px;
}

.person-icon{
    color : #007dec;
}

.more-info-icon{
    background-color: #eeeeee;
    width: 28px;
    height: 28px;
}

.more-info-icon:hover{
    background-color: #cccccc;
    
}

.comments-reply-card{
    background-color: #f1f1f1 !important;
}

.view-btn-hover:hover {
    color: #007dec !important;
}

.person-icon-container {
    width: 55px;
}

.comment-section-right-container {
    width: calc(100% - 55px);
}

::ng-deep .no-margin p {
    margin-bottom: 0;
}

.down-line {
    z-index: 1;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        height: 100%;
        border-left: 2px solid #cbcbcb;
        left: 3px;
        bottom: 3px;
        z-index: -1;
    }
}

.left-spacing {
    padding-left: 2.3rem;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 32px;
        top: 80%;
        left: 3px;
        border-top: 2px solid #cbcbcb;
    }
}

.coi-card-highlight {
    background-color: #f5f5a3; /* Highlight background */
    border: 2px solid #ffd700; /* Optional border for emphasis */
    transition: background-color 0.3s ease, border 0.3s ease; /* Smooth effect */
}
