<app-common-modal [modalConfig]="leavePageModalInfo?.modalConfig" (modalAction)="leavePageModalActions($event)">
    <!-- header -->
    <ng-container modal-header>
        <span>{{ leavePageModalInfo?.modalHeader }}</span>
        <app-common-help-text [subSectionId]="leavePageModalInfo?.helpSubSectionId"
            [elementId]="leavePageModalInfo?.helpElementId"></app-common-help-text>
    </ng-container>

    <!-- modal body -->
    <ng-container modal-body>
        <div class="d-flex gap-3 flex-column">
            <p><span [innerHTML]="leavePageModalInfo?.message"></span></p>
        </div>
    </ng-container>
</app-common-modal>
