
.modal-height {
    max-height: 60vh;
    overflow-y: auto !important;
}

.scrollable-table {
    max-height: 52vh;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
}

.scrollable-table thead {
    position: sticky !important;
    top: 0;
    z-index: 1;
}

::-webkit-scrollbar {
    width: .4em;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

