<app-scroll-spy [(scrollSpyConfiguration)]="travelService.scrollSpyConfiguration"
    [elementVisiblePercentageList]="travelService.elementVisiblePercentageList" [(isExpandRightNav)]="isExpandRightNav"
    (contentChanged)="travelService.scrollSpyCounterChanged($event)">
    <ng-container scroll-spy-left>
        <app-travel-review></app-travel-review>
    </ng-container>
    <ng-container scroll-spy-right>
        <app-travel-summary-navigation></app-travel-summary-navigation>
    </ng-container>
</app-scroll-spy>
