.left-container{
    margin-top: 6px;
    width: 75%;
    display: inline-block;
    transition: width 1.2s ease-in-out;
}
.right-container{
    margin-top: 6px;
    display: inline-block;
    width: 25%;
    position: fixed;
    margin-left: 8px;
    padding-right: 2rem !important;
}
