<div class="qst-list-padding row card">
    <div class="card-header px-4">
        <h4 class="card-title align-items-center d-flex">
            <div class="mr-auto">Other Information</div>
            <div *ngIf="isShowAccordion" class="mr-5">
                <button id="customDataExpandBtn" class="updown-arrow btnPositionFullWidget"
                    (click)="updateIsShowAccordion()">
                    <i [ngClass]="!isCustomElementOpen?'fa fa-angle-double-up':'fa fa-angle-double-down'"
                        class="fa-large" aria-hidden="true"></i>
                </button>
            </div>
        </h4>
    </div>
    <div *ngIf="!isCustomElementOpen" class="card-content">
        <div class="card-body py-0">
            <div class="row px-3  " *ngIf="base.length != 0">
                <div class="col-4 px-2" *ngFor='let customElement of base; let indexQuestion = index'>
                    <div class="fw-500 f-14 p-3" [ngClass]="{ 'delete-background': customElement.status == -1,
            'add-background': customElement.status == 1}">
                        <label class="mb-2 label-color">{{customElement.columnName}}</label>
                        <ng-container *ngIf="customElement?.ANSWERS?.length > 0">
                            <div *ngFor="let answer of customElement.ANSWERS">
                                <label class="custom-text" [innerHTML]="answer | customTagRemover: currentMethod"></label>
                            </div>
                        </ng-container>
                        <div *ngIf="customElement?.ANSWERS?.length === 0">
                            <h4 class="noDataExists">Not answered.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="no-data-container" *ngIf="base.length == 0">
                <span class="no-data-icon-outer">
                    <div class="no-data-icon">
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                    </div>
                </span>
                <h4>There is no information in this section.</h4>
            </div>
        </div>
    </div>
</div>